<h4 class="h6">Unordered List</h4>

<%= partial "code_sample", locals: { component: "elements/skeletons/_list_unordered" } %>

<h4 class="h6">Ordered List</h4>

<%= partial "code_sample", locals: { component: "elements/skeletons/_list_ordered" } %>

<h4 class="h6">Unstyled List</h4>

<%= partial "code_sample", locals: { component: "elements/skeletons/_list_unstyled" } %>

<h4 class="h6">Inline List</h4>

<%= partial "code_sample", locals: { component: "elements/skeletons/_list_inline" } %>
