<h3 class="styleguide-subheader">Edit Bar</h3>
<%= partial "code_sample", locals: {
  component: "elements/skeletons/app_bar",
  partial_locals: {
    name: "Purple Penguins on the Moon"
  }
}  %>

<h3 class="styleguide-subheader">Responsive Bar</h3>
<%= partial "code_sample", locals: {
  component: "elements/skeletons/customer_bar",
  partial_locals: {
    customer: "City of Evergreen",
    logo: "images/evergreen.png"
  }
}  %>

<h3 class="styleguide-subheader">Navigation Tabs</h3>
<%= partial "code_sample", locals: {
  component: "elements/skeletons/nav_tabs" }  %>
