<div class="btn-group-vertical" role="group">
  <button class="btn btn-default">Button One</button>
  <button class="btn btn-default">My Other Long Button</button>
  <button class="btn btn-default">Go</button>
</div>

