    <div class="result-card">

      <div class="entry-header">
        <div class="entry-title">
          <h2 class="entry-name"><a href="#result1">Pacific Northwest Pet Escapes</a></h2>
            <span class="tag-category">Animal Control</span>
          </div>
          <div class="entry-view-type"><span class="icon-dataset"></span> Dataset </div>
        </div>

        <div class="entry-content">
          <div class="entry-main">
            <div class="entry-description">
              Seattle has a lot of pets, so that means there are a lot of escapes. These friendly escape artisits cost their owners... <span class="more-link"><a class="more-link" href="#more"> More </a></span>
            </div>

            <div class="entry-meta first">
              <div class="entry-meta topics">
                <span class="meta-title">Topics</span> <span class="topic-list"> No Tags Provided</span>
              </div>

              <div class="entry-meta api">
                <span class="api-link"><a href="#">API Docs</a></span>
              </div>

            </div>

          </div><!-- ./entry-main -->

          <div class="entry-meta second">
            <div class="entry-meta updated">
              <span class="meta-title">Updated</span>
              <span class="date">December 1, 2015</span>
            </div>                  
            <div class="entry-meta views">
              <span class="meta-title">Views</span>
              <span class="view-count">12,343</span>
            </div>
          </div>


        </div><!-- /.entry-content -->
      </div> <!-- /.result-card --> 


    <div class="result-card federated">

      <div class="entry-header">
        <div class="entry-title">
          <h2 class="entry-name">
            <a href="#result2">Realistic Titles (Latest Version) 2016 <span class="icon-external-square"></span></a> 
          </h2>
          <span class="tag-federated">
            <a href="#"><span class="icon-linked"></span> Data Provided by <span class="domain">data.wastate.gov</span></a>
          </span>
            <span class="tag-category">Animal Control</span>
          </div>
          <div class="entry-view-type"><span class="icon-cards"></span> Data Lens</div>
        </div>

        <div class="entry-content">
          <div class="entry-main">
            <div class="entry-description">
              Seattle has a lot of pets, so that means there are a lot of escapes. These friendly escape artisits cost their owners... <span class="more-link"><a class="more-link" href="#"> More </a></span>
            </div>

            <div class="entry-meta first">
              <div class="entry-meta topics">
                <span class="meta-title">Topics</span> <span class="topic-list"><a href="#t1">one</a>, <a href="#t2">two</a>, <a href="#t3">taggytagtag</a>, <a href="#t4">one</a>, <a href="#t5">two</a>, <a href="#t6">taggytagtag</a>, and 12 more</span>
              </div>

              <div class="entry-meta api">
                <span class="api-link"><a href="#">API Docs</a></span>
              </div>

            </div>

          </div><!-- ./entry-main -->

          <div class="entry-meta second">
            <div class="entry-meta updated">
              <span class="meta-title">Updated</span>
              <span class="date">December 1, 2015</span>
            </div>                  
            <div class="entry-meta views">
              <span class="meta-title">Views</span>
              <span class="view-count">12,343</span>
            </div>
          </div>


        </div><!-- /.entry-content -->
      </div> <!-- /.result-card -->

