               <div class="result-card media">

        <div class="entry-header">
          <div class="entry-title">
            <h2 class="entry-name"><a href="#">Affordable Rental Housing  Developments Map</a></h2>
          </div>
          <div class="entry-view-type"><span class="icon-map"></span></div>
          
        </div>

        <div class="entry-meta">
          <div class="first">
            <span class="date">Mar. 12, 2016</span>
          </div>
          <div class="second">
            <span class="tag-category">Animal Control</span>
          </div>
        </div>

        <div class="entry-content">

          <div class="entry-main">

            <img src="http://www.placehold.it/800x250" alt=" " />

            <div class="entry-description">
              Seattle has a lot of pets, so that means there are a lot of escapes. These friendly escape artisits cost their owners... <span class="more-link"><a class="more-link" href="#"> More </a></span>
            </div>  

          </div>

        </div>

      </div><!-- /.result-card --> 