<div id="color-picker"></div>

<script type="text/javascript">
  function handleColorChange(color) {
    console.log('Color changed to ' + color + '!');
  }

  document.addEventListener('DOMContentLoaded', function() {
    var props = { handleColorChange: handleColorChange };

    ReactDOM.render(
      React.createElement(styleguide.components.ColorPicker, props),
      document.getElementById('color-picker')
    );
  });
</script>
