<div id="fullscreen-modal" class="modal modal-full modal-overlay modal-hidden" data-modal-dismiss>
  <div class="modal-container">
    <header class="modal-header">
      <h1 class="h5 modal-header-title">Hello, World!</h1>
      <button class="btn btn-transparent modal-header-dismiss" data-modal-dismiss>
        <span class="icon-close-2"></span>
      </button>
    </header>

    <section class="modal-content">
      <h1>I am full screen.</h1>
    </section>

    <footer class="modal-footer">
      <div class="modal-footer-actions">
        <button class="btn btn-default btn-sm" data-modal-dismiss>Cancel</button>
        <button class="btn btn-primary btn-sm" data-modal-dismiss>OK</button>
      </div>
    </footer>
  </div>
</div>
