<div id="<%= id %>" class="menu menu-offscreen menu-anchor-<%= anchor %>">
  <div class="menu-header">
    <h1 class="menu-header-title"><%= menu_header_title %></h1>
    <button class="btn btn-transparent menu-header-dismiss">
      <span class="icon-close-2" data-menu-dismiss></span>
    </button>
  </div>
</div>
