<div class="tour-overlay overlay-hidden" data-tour-next="Next" data-tour-skip="Skip" data-tour-done="Done"></div>
<div data-tour-step data-step-number="1" data-title="Wombats in Top Hats" data-attach-to-element="#tour-anchor" data-attach-to-position="left">
  Star light, star bright
</div>
<div data-tour-step data-step-number="2" data-title="Skydiving Gerbils" data-attach-to-element="#tour-anchor" data-attach-to-position="top">
  The first star I see tonight
</div>
<div data-tour-step data-step-number="3" data-title="Frolicking Cuttlefish" data-attach-to-element="#tour-anchor" data-attach-to-position="right">
  <p>I wish I may, I wish I might,</p>
</div>
<div data-tour-step data-step-number="4" data-title="Puffin Astronauts" data-attach-to-element="#tour-anchor" data-attach-to-position="bottom">
  <p>Have the wish I wish tonight</p>
</div>
