@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.attachment {
  display: flex;
  margin-bottom: 13px;
}

.remove-button {
  margin-left: 1em;
  color: $error-text;
  line-height: 42px;
}

.filename {
  padding-left: 5px;
  flex-grow: 1;
  margin-bottom: 0px;
}
