.jcarousel-skin-discover .jcarousel-container-horizontal {
    padding: 0 4.6em;
}

.jcarousel-skin-discover .jcarousel-clip-horizontal {
    width:  100%;
}

.jcarousel-skin-discover .jcarousel-item {
    height: 17.3em;
    margin-right: 1em;
}

.jcarousel-skin-discover .carouselItemInner
{
    background: url(/stylesheets/images/common/carousel_item_TL.png) no-repeat;
    padding-left: 7px;
}
.jcarousel-skin-discover .carouselItemTR
{
    background: url(/stylesheets/images/common/carousel_item_TR.png) right top no-repeat;
    padding-top: 7px;
}
.jcarousel-skin-discover .carouselItemBL
{
    background: url(/stylesheets/images/common/carousel_item_BL.png) left bottom no-repeat;
    margin-left: -7px;
    padding-left: 7px;
}
.jcarousel-skin-discover .carouselItemBR
{
    background: url(/stylesheets/images/common/carousel_item_BR.png) right bottom no-repeat;
    padding-bottom: 7px;
}
.jcarousel-skin-discover .carouselItemLeft
{
    background: url(/stylesheets/images/common/carousel_item_left.png) repeat-y;
    margin-left: -7px;
    padding-left: 4px;
}
.jcarousel-skin-discover .carouselItemRight
{
    background: url(/stylesheets/images/common/carousel_item_right.png) right top repeat-y;
    padding-right: 4px;
}

.jcarousel-skin-discover .jcarousel-item .carouselContainer {
    background-color: #e7e7e7;
    padding: 1em 0 1em 1.7em;
}





.jcarousel-skin-discover .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-discover .jcarousel-prev-horizontal {
    background: url(/stylesheets/images/common/carousel_arrow_sprites.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 32px;
    left: 5px;
    line-height: 200px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    width: 32px;
}

.jcarousel-skin-discover .jcarousel-next-horizontal {
    background: url(/stylesheets/images/common/carousel_arrow_sprites.png) 0 -32px no-repeat;
    cursor: pointer;
    display: block;
    height: 32px;
    right: 5px;
    line-height: 200px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    width: 32px;
}
