/* Header */

.responsive-navbar {
  background-color: #22b479;
  line-height: 60px;
  padding: 0 1rem;
  color: white;
  font-size: 18px;

  &.responsive-navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  img {
    height: 28px;
    vertical-align: middle;
  }

  .responsive-navbar-nav {
    float: right;

    .btn {
      display: inline;
    }

    .btn-default {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Display nav bar in section instead of at the top of the page */
.example {
  .edit-bar {
    position: relative;
    max-width: 100%;
  }
}
