$hint-size: 18px;
$tour-step-width: 300px;
$tour-step-background-color: #fff;
$tour-step-box-shadow-color: rgba(#000, 0.34);
$tour-hint-color: #fff;
$tour-text-color: #5c5c5c;
$tour-link-color: #0000c8;
$tour-cancel-link-color: #adadad;
$tour-cancel-link-hover-color: #7a7a7a;
$tour-overlay-background-color: rgba(#000, 0.35);

.shepherd-step {
  z-index: 5001;
  padding: 16px;
  margin-bottom: $hint-size;
  background: $tour-step-background-color;
  box-shadow: 1px 2px 6px $tour-step-box-shadow-color;
  width: $tour-step-width;
  display: none;

  &.wide {
    width: 600px;
  }

  &.shepherd-open {
    display: block;
  }

  h3 {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 16px;
    color: $tour-text-color;
  }

  .shepherd-text {
    font-size: 15px;
    line-height: 24.27px;
    color: $tour-text-color;

    img {
      width: 100%;
      height: auto;
    }

    a {
      color: $tour-link-color;
      text-decoration: underline;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -$hint-size;
    border-width: $hint-size;
    border-color: transparent;
    border-style: solid;
  }

  &.shepherd-element-attached-bottom {
    &::before {
      top: 100%;
      left: 50%;
      border-top-color: $tour-hint-color;
    }
  }

  &.shepherd-element-attached-top {
    &::before {
      top: -$hint-size * 2;
      left: 50%;
      border-bottom-color: $tour-hint-color;
    }
  }

  &.shepherd-element-attached-right {
    &::before {
      left: $tour-step-width + $hint-size;
      top: 40%;
      border-left-color: $tour-hint-color;
    }
  }

  &.shepherd-element-attached-left {
    &::before {
      left: -$hint-size;
      top: 40%;
      border-right-color: $tour-hint-color;
    }
  }

  .shepherd-buttons {
    text-align: right;
    margin-top: 30px;

    .btn-primary {
      color: $btn-primary-color;
      background: $btn-primary-background-color;
      border: 1px $btn-primary-border-color solid;

      &:hover {
        background-color: $btn-primary-hover-background-color;
      }

      &:active {
        background-color: $btn-primary-hover-background-color;
        border: 1px $btn-primary-active-border-color solid;
      }
    }

    .btn-default {
      color: $btn-default-color;
      background-color: $btn-default-background-color;
      border: 1px $btn-default-border-color solid;

      &:hover {
        background-color: $btn-default-hover-background-color;
      }

      &:active {
        background-color: $btn-default-hover-background-color;
        border: 1px $btn-default-active-border-color solid;
      }
    }

    a,
    li {
      display: inline;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .shepherd-button {
      padding: 10px 15px;
      border-radius: 1px;
      font-size: 15px;
      outline: none;
      cursor: pointer;
      text-decoration: none;
    }

    .btn-primary,
    .btn-default {
      transition: background-color 0.2s;

      &:active {
        box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;
      }
    }
  }

  .shepherd-cancel-link {
    transition: color 0.2s;
    position: absolute;
    top: 16px;
    right: 16px;
    color: $tour-cancel-link-color;
    text-decoration: none;

    &:hover {
      color: $tour-cancel-link-hover-color;
    }
  }
}

.tour-overlay {
  background: $tour-overlay-background-color;
  z-index: 5000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.overlay-hidden {
    display: none;
  }
}

[data-tour-step] {
  display: none;
}
