.pager {
  margin-bottom: 1rem;
  font-size: 15px;

  .inline-block {
    display: inline-block;
  }

  .prev-link {
    margin-right: 0.5rem;
  }

  .next-link {
    margin-left: 0.5rem;
  }

  .prev-link, .next-link {
    cursor: pointer;

    &.disabled {
      cursor: default;
      color: $grey;
    }
  }

  .current-page-input {
    input {
      width: 40px;
      font-size: 15px;
    }

    &.error {
      input {
        color: $error-text;
      }
    }
  }
}
