@import 'styleguide-colors';
@import 'common/styleguide/variables/grid';

$dark-grey-1-darkened: darken($dark-grey-1, 3%); // To pass contrast test

.container section.landing-page-section.schema-preview {
  h3.landing-page-section-header {
    font-size: 17px;
    font-weight: 400;
  }

  .section-content {
    display: block;

    &.collapsed {
      .schema-table {
        tbody {
          tr.column-summary:nth-child(2n + 15) {
            display: none;
          }

          tr.column-details:nth-child(2n + 16) {
            display: none !important;
          }
        }
      }

      .table-collapse-toggle.more {
        display: inline-block;
      }

      .table-collapse-toggle.less {
        display: none;
      }
    }
  }

  .table-collapse-toggles {
    text-align: right;
    margin: 11px;
    display: block;

    a {
      text-decoration: underline;

      &.more {
        display: none;
      }

      &.less {
        display: inline-block;
      }
    }
  }

  .table-wrapper {
    overflow: hidden;
  }

  .schema-table {
    margin-top: 15px;
    margin-bottom: 0;
    border-collapse: collapse;

    th {
      padding: 0 15px 10px 15px;
    }

    tbody {
      tr.column-summary:hover,
      tr.column-summary:focus {
        background: $light-grey-7;
        cursor: pointer;
        outline: none;
      }
    }

    tr.column-details {
      display: none;

      td {
        vertical-align: middle;
        padding: 0;

        .contents.schema-detail-groups {
          padding: 0 15px;
          margin: 0;
          overflow: hidden;
          display: flex;

          .schema-detail-group {
            min-width: 140px;
            margin: 0 20px 0 0;

            .schema-detail-group-title {
              margin: 0;
              color: $dark-grey-2;
              font-weight: 600;
            }

            .schema-detail-group-value {
              margin: 0;
            }
          }
        }
      }
    }

    td {
      padding: 10px 15px 15px;

      &.column-name {
        width: auto;
        font-weight: 600;
        color: $primary-text;
        word-break: break-all;
      }

      &.column-description {
        max-width: 7em;
        width: 40%;
        color: $black;

        .contents {
          overflow: hidden;

          &.clamped {
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      &.column-type {
        width: 10em;
        color: $dark-grey-1-darkened;

        .icon {
          float: right;
        }
      }

      &.column-expand {
        width: 8em;
        span {
          float: right;
        }
      }
    }

    // Relative to .schema-table
    @media(max-width: $medium) {
      tr.column-details {
        td {
          .contents.schema-detail-groups {
            display: block;

            .schema-detail-group {
              margin-bottom: 11px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      td.column-name {
        width: 18em;
      }

      td.column-type {
        .type-name {
          display: none;
        }

        .icon {
          float: none;
        }
      }

      td.column-type, td.column-expand {
        width: 1px;
      }
    }

    // Relative to .schema-table
    @media(max-width: $small) {
      td.column-name {
        width: 12em;
      }

      td.column-type, th.column-type {
        display: none;
      }
    }
  }
}
