@import "styleguide-colors";

.skip-links {
  display: inline-block;
  position: absolute;
  top: -495px;
  left: 5px;
  z-index: 10001;

  a.skip-link {
    width: 30em;
    padding: 0.3em;
    padding-left: 0.8em;
    font-size: 1rem;
    color: $white;
    background-color: $primary-dark;
    letter-spacing: 1px;
    border-radius: 1px;
    text-decoration: none;
    box-shadow: 0 0 8px -2px #666;
    display: inline-block;
    position: absolute;

    &:focus, &:active {
      top: 500px;
      z-index: 10001;
    }
  }
}
