$divider_height: 14px;
$searchbox_height: 36px;

$divider_color: $header_fg_color;

$btn_color: $header_fg_color;
$btn_hover_color: $header_bg_color;
$btn_hover_bg_color: $header_fg_color;

$mobile_btn_color: $header_bg_color;
$mobile_btn_bg_color: $header_fg_color;
$mobile_btn_hover_color: $header_fg_color;
$mobile_btn_hover_bg_color: $header_bg_color;

header#site-chrome-header, footer#site-chrome-footer {
  .site-chrome-btn {
    color: $btn_color;
    background: transparent;
    padding: 8px 12px;
    border: 1px solid $btn_color;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    &:hover, &:focus, &:active {
      background: $btn_hover_bg_color;
      color: $btn_hover_color;
    }

    [class*="icon-"] {
      position: relative;
      padding-right: $text_padding;
    }
  }

  .site-chrome-mobile-btn {
    color: $mobile_btn_color;
    background: $mobile_btn_bg_color;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid $mobile_btn_bg_color;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    &:hover, &:focus, &:active {
      color: $mobile_btn_hover_color;
      background: $mobile_btn_hover_bg_color;
    }

    [class*="icon-"] {
      position: relative;
      padding-right: 6px;
    }
  }

  .inverse-btn {
    background: $mobile_btn_hover_bg_color;
    color: $mobile_btn_hover_color;

    &:hover {
      background: $mobile_btn_hover_color;
      color: $mobile_btn_hover_bg_color;
    }
  }

  span.monosocial {
    font-size: 36px;
    text-align: center;
  }

  .user-actions {
    float: right;
    cursor: pointer;
  }

  span.divider {
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding: $divider_height 0;
    border-left: 1px solid $divider_color;
    opacity: 0.3;
  }

  .searchbox {
    float: right;
    min-height: 32px;

    @include mobile-med {
      display: none;
    }

    form {
      line-height: $header_logo_height;
      position: relative;

      span.icon-search {
        position: absolute;
        left: 8px;
        top: 2px;
        font-size: 16px;
        line-height: $searchbox_height - 2;
        pointer-events: none;
        color: $grey_text_color;
        z-index: 4;
      }

      input {
        width: 220px;
        border: solid 1px $searchbox_border_color;
        border-radius: 3px;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
        font-size: 16px;
        padding: 8px 74px 8px 30px;
        z-index: 3;
        vertical-align: top;
        height: $searchbox_height - 18; // 16px padding + 2px border
        box-sizing: content-box;
      }

      button.search-button {
        position: absolute;
        top: 0;
        right: 0;
        color: #5e5e5e;
        background-color: #f1f1f1;
        padding: 0px 12px;
        outline: none;
        letter-spacing: 0;
        border: 1px solid $searchbox_border_color;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin: 0;
        font-size: 13px;
        height: $searchbox_height;
        z-index: 3;
        &:hover, &:focus, &:active {
          background: #e4e4e4;
        }
      }
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
