$content_padding: 20px;
$addendum_content_margin: 80px;

footer#site-chrome-footer {
  display: block;
  color: $footer_fg_color;
  background-color: $footer_bg_color;
  font-family: $font_family, 'Open Sans', Helvetica, Arial, 'sans-serif';

  .footer-content {
    max-width: $max_width;
    margin: 0 auto;
    padding: $content_padding;
    overflow: hidden;

    > div.logo {
      > a {
        text-decoration: none;
        > img {
          height: $footer_logo_height;
          width: $footer_logo_width;
          vertical-align: middle;
        }

        > span.site-name {
          font-weight: 300;
          font-size: 22px;
          color: $footer_fg_color;
          line-height: $footer_logo_height;
          margin-left: $text_padding;
          vertical-align: middle;
        }
      }
    }

    > div.links {
      margin: 20px 0 10px;

      ul.links-col {
        margin: 0;
        padding-left: 0;

        li {
          list-style-type: none;
          display: inline-block;
          margin-right: $text_padding * 3;

          &:last-of-type {
            margin-right: 0;
          }

          a.footer-link {
            color: $footer_fg_color;
            text-decoration: none;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;

            &:hover, &:focus, &:active {
              text-decoration: underline;
            }
          }
        }

        @include mobile-sm {
          text-align: left;
        }
      }
    }

    > div.addendum {
      .powered-by-socrata {
        margin-right: $addendum_content_margin;
        display: inline-block;
        font-weight: 300;
        vertical-align: bottom;
        font-size: 14px;

        .powered-by {
          margin-right: 3px;
        }
        img.logo {
          display: inline-block;
          height: 18px;
          vertical-align: middle;
          margin-top: -5px;
        }
      }

      $social_link_margin: 14px;

      .site-chrome-social-links {
        margin-right: $addendum_content_margin - $social_link_margin;
        display: inline-block;
        vertical-align: middle;

        a.site-chrome-social-link {
          display: block;
          float: left;
          color: $footer_fg_color;
          opacity: 0.7;
          text-decoration: none;
          font-size: 16px;
          font-weight: 300;
          margin-right: $social_link_margin;

          span.monosocial {
            position: relative;
            top: 7px;
          }

          &:hover, &:focus, &:active {
            span.monosocial {
              text-decoration: none;
            }
          }
        }
      }

      .site-chrome-copyright {
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        color: $footer_fg_color;
        opacity: 0.7;
        margin: 0 auto;
        vertical-align: bottom;
      }

      @include mobile-sm {
        .powered-by-socrata, .site-chrome-social-links, .site-chrome-copyright {
          display: block;
          float: left;
          clear: both;
          margin: 6px 0;
        }

        &.title-present {
          text-align: left;
        }
      }
    }
    &.title-present {
      text-align: center;
    }
  }
}
