header#site-chrome-header, footer#site-chrome-footer {
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -120%;
    bottom: 0;
    overflow: auto;
    z-index: 10;
    background-color: #f8f8f8;
    color: #949195;
    width: 90%;
    box-shadow: 0 8px 30px #a9a7aa;
    transition: right 0.4s ease-in-out;

    &.active {
      right: 0;
    }

    .menu-header-title {
      color: $dark_text_color;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      margin: 16px;
      letter-spacing: -0.5px;
    }

    .menu-toggle {
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px;
      color: $dark_text_color;
    }

    .menu-content {
      .site-chrome-nav-links {
        a.site-chrome-nav-link {
          color: $dark_text_color;
          background-color: #fff;
          display: block;
          font-size: 15px;
          line-height: 48px;
          border-top: 1px solid #f4f4f4;
          padding: 0 $text_padding;
          overflow: hidden;
          text-decoration: none;

          &:last-of-type {
            border-bottom: 1px solid #f4f4f4;
          }

          &:hover, &:focus, &:active {
            background-color: #fafafa;
          }
        }
      }
      .mobile-user-actions {
        margin: 16px 0;
        padding: 0 $text_padding;
        a.site-chrome-mobile-btn {
          display: block;
          margin-bottom: 5px;
        }
      }
      .site-chrome-social-links {
        clear: both;
        .site-chrome-social-link {
          text-decoration: none;
          &:hover, &:focus, &:active {
            text-decoration: none;
          }
          .monosocial {
            font-size: 36px;
            float: left;
          }
        }
      }
      .searchbox {
        display: block;
        width: 100%;
        height: initial;
        margin-bottom: -1px;

        @include mobile-med {
          display: block;
        }
        @include mobile-sm {
          display: block;
        }

        form {
          line-height: normal;
          position: relative;
          input {
            width: calc(100% - 53px);
            padding: 15px 40px 15px 11px;
            font-style: 16px;
            box-shadow: none;
            border-color: #f4f4f4;
            box-sizing: content-box;
          }
          button {
            height: 50px;
            position: absolute;
            top: 0;
            right: 0;
            color: $dark_text_color;
            background-color: transparent;
            border: none;

            span.icon-search {
              top: 0;
              left: 0;
              font-size: 20px;
              position: relative;
              color: $dark_text_color;
            }
          }
        }
      }
    }
  }
}
