body.action_datasets_show {
  footer#site-chrome-footer {
    min-height: 0;
    padding: 1rem;

    .content {
      > div.logo {
        max-width: 50%;
        width: auto;
        margin-right: 3.5rem;

        img {
          max-height: 100px;
          vertical-align: middle;
        }

        > span.site-name {
          font-size: 20px;
          line-height: 40px;
          vertical-align: middle;
        }

        > .site-chrome-social-links {
          margin: 0;
          clear: none;
          float: right;
          margin-left: 2rem;

          .site-chrome-social-link {
            margin-right: 1rem;

            span.monosocial {
              font-size: 32px;
            }

            span.social-link-label {
              display: none;
            }
          }
        }
      }

      > div.links {
        width: auto;
        padding-top: 0;

        ul.links-col {
          -webkit-column-count: initial;
          -moz-column-count: initial;
          column-count: initial;
          margin: 0;

          li {
            width: auto;
            line-height: 2rem;
            margin-right: 2rem;

            a.footer-link {
              font-size: 13px;
            }
          }
        }
      }

      @include mobile-med {
        > div.logo {
          max-width: 100%;
          text-align: left;
          margin: 0;
          overflow: hidden;

          img, span.site-name, div.site-chrome-social-links {
            float: left;
          }
        }
        > div.links {
          text-align: center;
          clear: both;
          margin-top: 0.5rem;
        }
      }

      @include mobile-sm {
        > div.links {
          margin-top: 0.5rem;
          .links-col {
            li {
              line-height: 1.2rem;
              margin-right: 1rem;
              margin-top: 0;
              display: inline-block;
            }
          }
        }
      }
    }

    .copyright {
      margin: 4px auto;
    }
  }
}
