$content_padding: 8px;
$link_line_height: 40px;

footer#site-chrome-footer.small {
  min-height: 0;

  .footer-content {
    margin: 0 auto;
    padding: $content_padding;

    > div.logo {
      img {
        max-height: 40px;
      }
      span.site-name {
        line-height: normal;
      }
    }

    > div.links {
      margin: 5px 0 0;

      ul.links-col {
        > li {
          margin-right: 16px;

          > a {
            font-size: 13px;
            line-height: 18px;
          }
        }
      }
    }

    div.addendum {
      .powered-by-socrata {
        font-size: 12px;

        img.logo {
          height: 16px;
        }
      }

      .site-chrome-social-links {
        span.monosocial {
          font-size: 30px;
        }
      }
    }
  }
}
