$site-chrome-admin-header-height: 46px;

.admin-header {
  margin: $site-chrome-admin-header-height 0 0;
  min-height: $site-chrome-admin-header-height;
  padding: 15px 32px 0;
  border-bottom: 1px solid $light-grey-4;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  background: $light-grey-7;
}

.admin-breadcrumb {
  padding: 0 0 5px 10px;

  h1 {
    font-weight: 400;
    font-size: 23px;
    line-height: normal;
    margin-bottom: 0;

    .internal-link {
      display: block;
      float: right;
      margin-top: 8px;
      font-size: 15px;
      font-weight: normal;

      @media (max-width : 600px) {
        .internal-link-text {
          display: none;
        }
      }
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;

        span {
          text-decoration: underline;
        }
      }
    }
  }

  h1, a {
    color: $primary-dark;
  }

  .current-page {
    color: $dark-grey-1;
  }

  .separator {
    color: $light-grey-2;
    font-weight: 200;
    font-size: 18px;
  }
}
