/* LAYOUT */
body {
	background:#f4f6f7 url(/stylesheets/images/domains/data.faa.gov/bodyBg_tile.png) repeat-x;
}
.bodyInterior {
	border:none;
}
.oneColumnContainer
{
	padding-top: 0;
}
.tabContainer
{
	padding-top: 1em;
}
/* HEADER */
#header {
	height:115px;
	padding:0;
	background:none;
}
/* search */
#header form.search {
	top:80px;
	right:40px;
}
/* logo */
#header h1 {
	background:#fcfdfe url(/stylesheets/images/domains/data.faa.gov/logo-bg.png) repeat-x;
	border:#fff solid 10px;
}
#mainLogo {
	right:10px;
	background:#000;
	top:10px;
}
#mainLogo a {
	margin:11px 0 0 14px;
}
/* user nav */
#header .userNav {
	right:20px;
	top:20px;
}
#header .userNav a {
	color:#44516F;
	font-size:1.2em;
}
#header .userNav li {
	border:none;
}
/* main nav */
#mainNav {
	position:relative;
	top:20px;
}
#mainNav a {
	color:#000;
	line-height:30px;
}
#mainNav li {
	height:30px;
}
#mainNav li.discover a span {
	margin-left:14px;
	text-indent:-14px;
}
#mainNav li a span {
	background-position:0px -30px;
}
body.home #mainNav li.home a span {
	margin-right:14px;
	text-indent:14px;
}
#mainNav li.home {
	background-position:100% -60px;
}
#mainNav ul.subNav li {
	background-position: 100% -30px;
	border-top: solid 1px #CCC;
}
#mainNav li.home a span {
	margin-right:14px;
	text-indent:14px;
}
body.discover #mainNav li.discover a span {
	margin-left:14px;
	text-indent:-14px;
}
body.home #mainNav li.home a span, body.discover #mainNav li.discover a span, body.community #mainNav li.community a span {
	background-position:0px -30px;
}
body.home #mainNav li.home, body.home #mainNav li.home a span, body.discover #mainNav li.discover a span, body.community #mainNav li.community a span, body.discover #mainNav li.discover, #mainNav ul.subNav li:hover, #mainNav ul.subNav li:hover a span, body.home #mainNav li.home .subNav li:hover, body.home #mainNav li.home .subNav li:hover a span {
	background-image:url(/stylesheets/images/domains/data.faa.gov/tab.png);
}
#mainNav li, #mainNav li a span {
	background-image:url(/stylesheets/images/domains/data.faa.gov/tab.png);
}
body.home #mainNav li.home .subNav li, body.home #mainNav li.home .subNav li a span, body #mainNav li.home .subNav li, body #mainNav li.home .subNav li a span {
	background-color:#fff;
}
body.home #mainNav li.home .subNav li.last, body #mainNav li.home .subNav li.last {
	background:#fff;
}
body.home #mainNav li.loggedInNav:hover, body #mainNav li.loggedInNav:hover {
	background:#fff;
}
#mainNav li.home .subNav li.last:hover
{
	background: none #FFF;
}
#mainNav .subNav a span {
	padding-left:4px;
}
/* DISCOVERY */
#faaSplashContainer
{
	background: #FFF;	
	margin: 0 0 1.5em;		
	padding: 10px;
}
#faaSplashInnerContainer
{
	background: url(/stylesheets/images/domains/data.faa.gov/splash-bg.jpg) repeat-x bottom;	
	padding: 1.5em 37em 1.5em 1.5em;		
}
.pageBlockIntro p
{
	color: #333;
	margin-bottom: 0.5em;
}
#faaSplashInnerContainer .pageBlockHeaderSide
{
	background: #F2F2F2;
	border: solid 1px #BBB;
	border-top-right-radius: 0.5em;
	-moz-border-radius-topright: 0.5em;
	webkit-border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	webkit-border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	webkit-border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	webkit-border-bottom-right-radius: 0.5em;	
	display: table;	
	margin-left: 2.7em;
	padding-bottom: 0.5em;
	padding-left: 0;
}
#faaSplashInnerContainer .pageBlockHeaderSide h2
{
	background: #ED5800;
	border-top-right-radius: 0.4em;
	-moz-border-radius-topright: 0.4em;
	webkit-border-top-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	webkit-border-top-left-radius: 0.4em;	
	color: #FFF;
	font-weight: bold;
	margin: -1px;
	padding: 0.3em;
}
#faaSplashInnerContainer .activityList
{
	margin: 0.5em;
}
.pageBlockHeaderContent .pageBlockHeaderSide
{
	margin-top: 0em;
}
.pageBlockHeaderSide ul li a
{
	color: #D94800;
}
.myNetworkList a
{
	color: #D94800;
}
/* FOOTER */
.footerContainer {
	background:none;
	color:#036;
}
#footer .copyright {
	font-weight:normal;
}
#footer a {
	color:#036;
}
/* LOGIN DIALOG */
.dialogBox .header {
	background:#fff;
}
.dialogBox .header h1 {
	height:auto;
	padding:10px;
	background-position:8px 10px;
}
