body
{
	background: none #FFF;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
.bodyInterior
{
	border: none;
}
a
{
	color: #103D89;
}
a:hover
{
	color: #FF7800;
}
#outerContainer
{
	max-width: 100%;
}	
/* HEADER */

#header
{
	background: url(/stylesheets/images/domains/data.cms.gov/header_bg.jpg) repeat-x;
	height: 170px;
}
#mainLogo
{
	position: absolute;
	left: 0px;
	top: 49px;
}
#header #hhsLink
{
	background: url(/stylesheets/images/domains/data.cms.gov/headbar_left.gif) no-repeat;
    display: block;
    height: 45px;
    position: absolute;
    text-indent: -9999px;
    left: -1px;
    top: 0px;
    width: 353px;	
}
#header #hhsLinkRight
{
    background: transparent url(/stylesheets/images/domains/data.cms.gov/cms_hhs_link.gif) no-repeat;
    display: block;
    height: 22px;
    position: absolute;
    text-indent: -9999px;
    right: 13px;
    top: 12px;
    width: 115px;	
}
#header form.search 
{
	position: absolute;
	top: 70px;
}
#header .userNav
{
	background: #103D89;
	border-top: solid 2px #999;
	border-bottom: solid 1px #999;	
	padding: 0.7em 0.5em 0.5em;
	position: relative;
	text-transform: none;
	top: 130px;
}
#header .userNav ul
{
	margin: auto;
	width: 60em;
}
#header .userNav li
{
    background: transparent url(/stylesheets/images/domains/data.cms.gov/cms_header_icons.png) no-repeat;
    border-color: #aaa;
    display: inline-block;
	float: left;
    height: 19px;
    line-height: 19px;
    padding-left: 25px;
}
#header .userNav li.accountLink, #header .userNav li.signOutLink, #header .loggedInNav li.signUpLink
{
    display: none;
}
#header .loggedInNav li.accountLink, #header .loggedInNav li.signOutLink
{
    display: inline-block;
}
#header .userNav li.signInLink,
#header .userNav li.home { background-position: 0 -91px; }
#header .userNav li.accountLink { background-position: 0 -37px; }
#header .userNav li.dataLink { background-position: 0 -19px; }
#header .userNav li.signOutLink { background-position: 0 -55px; }
#header .userNav li.signUpLink { background-position: 0 -73px; }
#header .userNav li a
{
    color: #fff;
	padding: 0.2em;
}
#header .userNav li a:hover
{
	background: #191919;
}
#outerContainer #header .userNav .dataLink .userMenu
{
    background: #E5E5E5 none;
    border: 2px solid #C9C9C9;
    display: none;
	height: 8em;
    padding: 0;
    position: absolute;
	top: 25px;
	width: 12em;
}
#outerContainer #header .userNav .dataLink:hover .userMenu
{
    display: block;
}
#outerContainer #header .userNav .dataLink .userMenu li
{
    background: none;
    border: none;
    display: table;
    margin: 0;
    padding: 0;
    width: 12em;
}
#outerContainer #header .userNav .dataLink .userMenu li a
{
	color: #000;
    display: table-cell;
    padding: .3em 0.5em;
}
#outerContainer #header .userNav .dataLink .userMenu li a:hover
{
    background-color: #103D89;
	color: #fff;
    text-decoration: none;
}
#discover .jcarousel-skin-discover .jcarousel-prev-horizontal
{
	background: url(/stylesheets/images/domains/data.cms.gov/carousel_arrow_sprites.png) no-repeat scroll 0 0 transparent;
}
#discover .jcarousel-skin-discover .jcarousel-next-horizontal
{
	background: url(/stylesheets/images/domains/data.cms.gov/carousel_arrow_sprites.png) no-repeat scroll 0 -32px transparent;	
}
.pageBlockHeaderCarousel.carouselWrapper, .pageBlockHeaderCarousel .carouselOuter, .pageBlockHeaderCarousel .carouselInner 
{
	background: none;
}
.pageBlockHeaderCarousel h2, .pageBlockHeaderSide h2
{
	color: #000;
}
.pageBlockHeaderOuter
{
	border: solid 1px #C9C9C9;
	margin: 3em 0em;
}
.pageBlockIntro p
{
	background: #E5E5E5;
	border-bottom: solid 1px #C9C9C9;	
	color: #000;
	font-size:1.6em;
	font-weight:bold;	
	margin-bottom: 1em;
	padding: 0.5em;
}

/* FOOTER */
.footerContainer
{
	background: none #fff;
	text-align: center;
	margin: -10px 0 0;
}
.cmsFooterUpper ul li
{
	display: inline;
	border-right: solid 1px #000;	
}
.cmsFooterUpper ul li a
{
	padding: 0.1em 0.4em;
	line-height: 1.5em;
	text-decoration: underline;	
}
.cmsFooterLower
{
	margin-top: 0.5em;
}
/* CONTENT */

.outerContent
{
	border: solid 1px #C9C9C9;	
}
.tabList a, .tabList .innerWrapper
{
	border: solid 1px #C9C9C9;	
}
.tabList li
{
	background-image: none;	
}
.tabList li.even a, .tabList li.even .innerWrapper, .tabList li .wrapper, .tabList a, .tabList .innerWrapper
{
	background-image: none;	
	background-color: #FFF;		
}
#home .tabList li.home a, #blists .tabList li.blists a, #contacts .tabList li.contacts a, #profile .tabList li.profile a, #approval .tabList li.approval a, #overview .tabList li.overview a, #directories .tabList li.directories a, #solution .tabList li.solution a, #sales .tabList li.sales a, #try-it-free .tabList li.try-it-free a, .tabList li.active a, .tabList li.active .innerWrapper
{
	background-color: #E5E5E5;
}

/* sidebar grey */
.tabContentContainer
{
	border: solid 1px #C9C9C9;	
}
.tabContentOuter
{
	border-right: solid 1px #C9C9C9;	
}
.tabContentNav
{
    background: none #E5E5E5;	
}
.tabContentNavT,
.tabContentNavB
{
    background: none #E5E5E5;		
	border-left: solid 1px #C9C9C9;
}
.tabContentNav h2
{
	font-weight: bold;
}