/* HEADER */
body
{
    background: #cfcab4 url(/stylesheets/images/domains/data.cms.gov/cms_background_slice.gif) repeat-y top center;
}

#outerContainer #header
{
    background: transparent url(/stylesheets/images/domains/data.cms.gov/cms_header_slice.png) repeat-x;
    height: 125px;
    min-width: 98.9em;
}

#mainLogo
{
    left: 0;
    top: 0;
}

#header #hhsLink
{
    background: transparent url(/stylesheets/images/domains/data.cms.gov/cms_hhs_link.gif) no-repeat;
    display: block;
    height: 22px;
    position: absolute;
    text-indent: -9999px;
    right: 1px;
    top: 12px;
    width: 115px;
}

#header form.search
{
    right: 2em;
    top: 5.5em;
    width: auto;
}

#header .userNav
{
    font-size: 1.1em;
    right: 0.5em;
    top: 7.8em;
}
#header .userNav li
{
    border-color: #aaa;
}
#header .userNav li a
{
    color: #0c427b;
}

.bodyInterior
{
    border-top: none;
}

/* FOOTER */
.footerContainer
{
    background: transparent url(/stylesheets/images/domains/data.cms.gov/cms_footer_slice.png) repeat-x;
    height: 86px;
    margin: -86px auto 0;
    max-width: 140em;
}

.footerContainer li:first-child
{
    border-left: none;
}
.footerContainer li
{
    border-left: 1px solid #fff;
    display: inline-block;
    padding: 0 0.6em;
}
.footerContainer li a
{
    color: #fff;
    font-size: 1.2em;
}

.cmsFooterUpper
{
    padding-top: 12px;
    text-align: center;
}
.cmsFooterUpper ul
{
    padding-top: 4px;
}

.cmsFooterLower
{
    color: #fff;
    font-size: 1.1em;
    padding-top: 20px;
    text-align: center;
}

/* WIDGETS */
form.search.large .searchContainer
{
    background: #fff none;
    border: 1px solid #704f2a;
    height: 24px;
    overflow: visible;
    padding-left: 0;
    width: 350px;
}

form.search.large #search
{
    background: transparent;
    border: none;
    height: 24px;
    font-size: 1.4em;
    padding: 0.3em 0 0 0.5em;
    width: 289px;
}

form.search.large .actionsBox
{
    margin-right: -110px;
    width: 110px;
}

form.search.large .actionsBox .clearBox
{
    border: none;
    height: 24px;
}

form.search.large .actionsBox .clearBox .clearSearch
{
    margin-top: 5px;
}

form.search.large .actionsBox input
{
    background: transparent url(/stylesheets/images/domains/data.cms.gov/cms_search_button.png) no-repeat;
    border-left: 2px solid #704f2a;
    height: 24px;
    width: 94px;
}