body
{
    background: #ecedec url(/stylesheets/images/domains/data.seattle.gov/mainlogo_background.png) 0 6px repeat-x;
}

#header
{
    background: url(/stylesheets/images/domains/data.seattle.gov/mainlogo_background.png) repeat-x;
}

#discover .seattleWelcomeHeader
{
    background: #fff url(/stylesheets/images/domains/data.seattle.gov/header_bg.jpg) no-repeat right bottom;
}

#discover .seattleWelcomeHeader .seattleBlockHeaderTL { background: url(/stylesheets/images/content/background_corner_left.png) no-repeat top left; }
#discover .seattleWelcomeHeader .seattleBlockHeaderTR { background: url(/stylesheets/images/content/background_corner_right.png) no-repeat top right; }
#discover .seattleWelcomeHeader .seattleBlockHeaderBL { background: url(/stylesheets/images/content/background_corner_bottom_left.png) no-repeat bottom left; }
#discover .seattleWelcomeHeader .seattleBlockHeaderBR
{
    background: url(/stylesheets/images/content/background_corner_bottom_right.png) no-repeat bottom right;
    min-height: 17em;
    padding: 2em;
}

#discover .seattleWelcomeHeader .pageBlockSearch
{
    margin-right: 0;
}

#discover .seattleWelcomeHeader .seattleTitle
{
    color: #555;
    font-family: "Times New Roman", Times, Serif;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

#discover .seattleWelcomeHeader .seattleLogo
{
    background: transparent url(/stylesheets/images/domains/data.seattle.gov/logo_large.png) no-repeat;
    height: 62px;
    margin: 0.7em 1.3em;
    text-indent: -9999px;
    width: 392px;
}

#discover .seattleWelcomeHeader .seattleText
{
    color: #888;
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 1.5em 1.8em;
    max-width: 60em;
    padding-right: 25em;
}

#discover .seattleWelcomeHeader .seattleText a
{
    color: #555;
}

#discover .seattleWelcomeHeader .seattleMain
{
    color: #555;
    font-size: 1.4em;
    font-weight: bold;
    margin: 1em 1.5em 0.5em;
    max-width: 50em;
}
