body
{
        background: #006;
}

.bodyInterior
{
    border-top: none;
}

#header
{
	background: none;
	display: block;
	height: 80px;	
}
#header .appLogo
{
        padding: 0;
        margin: -2px 0 0 -5px;
}
#header .siteTitle
{
        color: #FFF;
        font: bold 2.4em "Verdana",arial,sans-serif;        
        position: absolute;
        top: 35px;
        left: 185px;
}
#header .userNav
{
        float: left;
        margin: 6px auto 0.5em 170px;
        padding: 0.7em 0.5em 0.5em;
		position: static;
}
#header .userNav li
{
        border-right:1px solid #FFF;
        margin:0;
		padding-right: 0em;
}
#header .userNav li a
{
        color: #FFF;
        font-size:1.2em;        
        padding:0 10px;   
        text-transform:uppercase;             
}
#header form.search
{
        float: left;
        margin: 5px;
		position: static;
		width: auto;
}
#header .userNav li.dataHomeLink
{
	border-right: solid 1px #FFF;
}
#header .userNav li.signUpLink
{
	margin-right: 0px;
}
#header .userNav li.signUpLink a
{
	padding-right: 5px;
}
#header .userNav li.whyLink a
{
	color: #CCC;
	padding: 0;	
	text-transform: none;
}
#discover .kingCountyWelcomeHeader
{
    background: url("http://www.kingcounty.gov/~/media/global/homepage/kcBackgrounds/HomePageBg.ashx") repeat-x scroll left top #ffffff;
	border-top: solid 3px #F09915;
	border-bottom-left-radius: 1em;
	-moz-border-radius-bottomleft: 1em;
	webkit-border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	webkit-border-bottom-right-radius: 1em;
	padding: 1.5em 37em 1.5em 1.5em;
}

.pageBlockHeaderContent
{
	clear: none;
}
.pageBlockHeaderContent img
{
 	float: left;
	margin-right: 1em;
}
.kingCountyWelcomeHeader .kingCountyMain
{
    color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    margin: 1em 1em 0.5em;
}
.pageBlockSearch
{
	margin: 1em -33em 0em 3em;
	padding-left: none;
}
.pageBlockSearch p
{
	color:#666666;
	font-size:1.2em;
	margin-bottom:0.25em;
	margin-left:0.8333em;
}
form.search.large .clearBox
{
    background-color: #ffffff;
}
.pageBlockSearch img
{
	margin: 1em;
}
/* Footer */
.footerContainer
{
    background: none;
}
#footer, #footer a
{
    color: #ffffff;
}
#footer .copyright, #footer ul
{
	padding: 1em 1em 0 1.5em;
}
