/* HOME MARQUEE */
#marqueeContainer
{
	background: url(/stylesheets/images/marketing/marqueeBg.png) repeat-x top;
	border-top-right-radius: 0.4em;
	-moz-border-radius-topright: 0.4em;
	webkit-border-top-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	webkit-border-top-left-radius: 0.4em;	
	color: #FFF;
	font-size: 1.1em;
}

#marqueeContainer a.bannerLink
{
	background: url(/stylesheets/images/marketing/promo.jpg) no-repeat center;		
	display: block;
	height: 305px;		
	margin:auto;	
	text-indent:-9999px;
}
/* If we need to swithch to a text-based marquee, uncomment below*/

#marqueeContainer .marqueeContent
{
	text-indent:-9999px;
	height:0px;
}

/* FEATURETTE */
.featurettesContainer
{
	background: url(/stylesheets/images/marketing/featureBg.png) repeat-x;		
	border-bottom-left-radius: .4em;
	-moz-border-radius-bottomleft: .4em;
	webkit-border-bottom-left-radius: .4em;
	border-bottom-right-radius: .4em;
	-moz-border-radius-bottomright: .4em;
	webkit-border-bottom-right-radius: .4em;	
	height: 83px;		
}

.featurette
{
	color: #999;
	display: inline;	
	float: left;	
	height: 83px;	
	width: 33.33%;	
}

.divider
{
	background: url(/stylesheets/images/marketing/featureBorder.png) no-repeat right;	
}

.featurette a
{
	background: url(/stylesheets/images/marketing/arrowOff.png) no-repeat right center;		
	color: #BBB;
	cursor: pointer;	
	display: block;
	height: 83px;	
	margin-right:10px;
	text-decoration: none;			
	vertical-align: middle;
}

.featurette a:hover
{
	color:#FFF;	
	background-image: url(/stylesheets/images/marketing/arrowOn.png);	
	text-decoration:none;
}
.featurette a span
{
	background: url(/stylesheets/images/marketing/iconSprites.png) no-repeat;	
	float: left;
	height: 45px;	
	margin: 20px 5px 20px 15px;	
	width: 45px;		
}
.survey a span { background-position: 0px 0px; }
.survey:hover a span { background-position: -50px 0px; }
.developer a span { background-position: 0px -50px; }
.developer:hover a span { background-position: -50px -50px; } 
.news a span { background-position: 0px -100px; } 
.news:hover a span { background-position: -50px -100px; }
.experience a span { background-position: 0px -150px; } 
.experience:hover a span { background-position: -50px -150px; }

.experience a p
{
	position: relative;
	top: 5px;
}

.featurette a p
{
	float: left;
	line-height: 1.4em;
	margin: 20px 5px;
	width: 195px;
}

.featurette a p strong
{
	display: block;
	font-size: 1.4em;	
	font-weight: normal;
}
