#mainLogo {
  top: 5px;
}
#mainLogo a {
  display:block;
  width:469px;
  height:60px;
}
#header {
  height: 94px;
  background-color: #fff;
  background-image: none;
  margin-bottom: 5px;
}
body.home #mainNav li.home, body.home #mainNav li.home a span, body.discover #mainNav li.discover a span, body.community #mainNav li.community a span, body.discover #mainNav li.discover, #mainNav ul.subNav li:hover, #mainNav ul.subNav li:hover a span, body.home #mainNav li.home .subNav li:hover, body.home #mainNav li.home .subNav li:hover a span {
	background:none;
}
#mainNav li, #mainNav li a span,
#mainNav li.home .subNav li,
#mainNav li.home .subNav li a span,
body.home #mainNav li.home .subNav li,
body.home #mainNav li.home .subNav li a span {
	background-image:none;
}
#mainNav li {
  background: none;
}
#mainNav li.home {
  width: 15em;
}
#mainNav ul {
  background: no-repeat url(/stylesheets/images/domains/recovery.socrata.com/menu-tab-background.png);
  color: #2B4B83;
	width: 460px;
  height: 33px;
  padding-left: 4.5em;
}
#mainNav ul,
.userNav ul
{
	position:relative;
	top: 60px;
	z-index:1000;
}
#mainNav
{
  margin-left: 30%;
}
.userNav ul
{
  height: 15px;
  padding: 3px 0 0 4px;
  top: 70px;
}
#header .userNav li
{
  border-right: none;
}
#mainNav a {
	color:#2B4B83;
	cursor:pointer;
}
#mainNav li {
  padding-top: 0.4em;
}
#mainNav ul.subNav {
	top:auto;
  background: none;
	margin-left:6px;
	padding-top:2px;
	padding-bottom:4px;
}
