@import "variables/colors.scss";

.filter-controls.calendar-date-filter {
  .range-separator {
    margin: 0 3px;
  }
  .text-input {
    width: 100%;
  }
}

@media (max-width: $small) {
  .date-range-picker {
    // EN-16294: Need to unset flex display, or the end date calendar
    //           renders partially off screen to the right. (only on mobile)
    display: unset;
  }

  .filter-bar-filter {
    .calendar-date-filter {
      .range-separator {
        margin: 0 50px;
        line-height: 2;
      }
    }
  }
}
