@import "variables/colors.scss";

.searchable-picklist {
  // We opted to not wrap this control in a form, because in some usages
  // this control is already in a form context (and you can't have a form
  // inside a form). Since we're really only using the form as a styling
  // element, just include the form mixin to make the search box look right.
  @include form;

  font-size: 12px;

  .searchable-picklist-input-container {
    position: relative;
    margin: 8px;

    form {
      margin: 0;
    }

    .searchable-picklist-input {
      width: 100%;
      height: 31px;
      border: 1px solid $light-grey-3;
      padding: 8px 28px 8px 8px;

      &:focus {
        border-color: $alternate-3-light;
        outline: solid 2px $alternate-3;
      }

      &:disabled {
        color: $light-grey-1;
        background-color: $light-grey-6;
      }
    }

    .spinner-default {
      position: absolute;
      right: 38px;
      top: 8px;
      animation-duration: 0.5s;
      border-width: 1px;
      border-color: $alternate-3;
      border-right-color: $alternate-3-light;
    }

    .btn {
      height: 31px;
      width: 31px;

      &.btn-highlighted {
        background-color: $alternate-2;
        border-color: $alternate-3;
      }
    }

    .socrata-icon-search {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 7px;
      right: 7px;
      color: $light-grey-4;
    }
  }

  .searchable-picklist-options {
    max-height: 350px;
    overflow-y: auto;

    .picklist {
      border: none;

      .picklist-group-header {
        border-left: solid 3px transparent;
      }

      &:focus {
        border: none;
        outline: none;

        .picklist-group-header {
          border-left: solid 3px $alternate-3;
        }
      }
    }
  }

  .searchable-picklist-selected-option {
    display: flex;
    width: 100%;

    > * {
      margin: auto;
    }

    .socrata-icon {
      width: 12px;
      height: 12px;
      color: $light-grey-4;
    }

    .socrata-icon-close-2 {
      color: $light-grey-1;
    }

    .searchable-picklist-selected-option-title {
      flex-grow: 2;
      margin-left: 8px;
      padding-right: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .picklist-option {
    cursor: pointer;
    padding: 8px;
  }

  .alert {
    font-size: 12px;
    border: none;
  }
}
