<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="globalsign-domain-verification" content="<%= CurrentDomain.properties.globalsign_validator if CurrentDomain.properties.globalsign_validator.present? %>" />
  </head>

  <body>
    Hi, GlobalSign bot!
  </body>
</html>
