<a name="delete"></a>
<% content_for :nav_crumb do %>
  <li>Delete API</li>
<% end %>
<div class="managesection">
  <span class="apiicon ico-delete"></span>
</div>
<div id="delete" class="managesection">
  <div id="delete-host"></div>
</div>
