<a name="delete"></a>
<% content_for :morsel_nav do %>
  <li>Delete API</li>
<% end %>
<div class="managesection">
  <span class="apiicon ico-delete"></span>
</div>
<div id="delete" class="managesection">
  <div id="delete-host"></div>
</div>

<%= content_for :translations do %>
  <%= render_translations LocalePart.screens.ds.grid_sidebar.base.buttons %>
  <%= render_translations LocalePart.screens.ds.grid_sidebar.delete %>
<% end %>

