<a name="naming"></a>
<h2 class="title center">Names and Descriptions</h2>

<% content_for :nav_crumb do %>
  <li>Names and Descriptions</li>
<% end %>
<div id="names" class="managesection">
  <ul class="flowlist">
    <% @view.columns.each do |column| %>
      <li>
        <a href="<%= "naming/" + column.fieldName %>">
          <span class="apiicon ico-names-descriptions"> </span>
          <span class="colsummary">
            <p class="colname"><%= column.name %></p>
            <p class="desc"><%= truncate(column.description, :length => 115, :omission => "...") %></p>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
