<a name="naming"></a>
<h2 class="title center">Names and Descriptions</h2>

<% content_for :nav_crumb do %>
  <li>Names and Descriptions</a></li>
<% end %>
<div id="names" class="managesection">
  <ul class="title flowlist">
    <% @view.columns.each do |column| %>
      <li class="ico-names-descriptions">
        <a href="<%= "naming/" + column.fieldName %>">
          <span class="icon"> </span>
          <p><%= column.name %></p>
        </a>
      </li>
    <% end %>
  </ul>
</div>
