<a name="naming"></a>
<h1 class="center">Names and Descriptions</h1>

<% content_for :nav_crumb do %>
  <li>Names and Descriptions</a></li>
<% end %>
<div id="names" class="managesection">
  <ul>
    <% @view.columns.each do |column| %>
      <li><h2><a href="<%= "naming/" + column.fieldName %>"><%= column.name %></a></h2></li>
    <% end %>
  </ul>
</div>
