<a name="permission"></a>
<% content_for :nav_crumb do %>
  <li>Permissions and Sharing</li>
<% end %>
<div class="managesection">
  <span class="apiicon ico-permissions-sharing"></span>
</div>
<div id="permission" class="managesection">
  <div id="sharing" class="managesection">
    <div class="paneTitle">
      <h2>Permissions and Sharing</h2>
    </div>
    <div id="permission-host"></div>
    <div id="sharing-host"></div>
  </div>
</div>

<% content_for :templates do %>
  <%= render(:partial => 'datasets/permissions') %>
  <%= render(:partial => 'datasets/sharing') %>
<% end %>
