
<a name="transfer"></a>
<% content_for :nav_crumb do %>
  <li>Transfer Ownership</li>
<% end %>
<div class="managesection">
  <span class="apiicon ico-transfer-ownership"></span>
</div>
<div id="transfer" class="managesection">
  <div class="paneTitle">
    <h2>Transfer Ownership</h2>
  </div>
  <div id="transfer-host"></div>
</div>

<%= content_for :translations do %>
  <%= render_translations LocalePart.screens.ds.grid_sidebar.ownership %>
<% end %>
