<h1>Outdated Browser Detected</h1>
<h2>Socrata.com is designed to be used with a modern browser.</h2>

<div class="splashActionBoxContainer noIE clearfix">
  
  <p>Socrata.com uses the latest in Web technologies to bring you the most advanced Social Data Discovery experience.  We've noticed that you are using a very old Web browser, Internet Explorer version 6.  Socrata.com will not work properly when viewed using this software.  To experience the next generation of data transparency we recommend you upgrade to a newer version of your Web browser.</p>

  <p>If you would like to learn more about the Socrata Social Data Discovery solution you may browse the, “About Socrata” area of our site.</p>
  
  <div class="splashActionBox">
    <h3>About Socrata</h3>
    <p>Learn about the Socrata Social Data Discovery solution.</p>
    <p class="splashActionButton">
      <%= link_to("About Socrata", "/about") %>
    </p>
  </div>
  
  <div class="splashActionBox">
    <h3>Upgrade</h3>
    <p>Upgrade your browser to a modern version.</p>
    <p class="splashActionButton splashActionDiscover">
      <%= link_to("Upgrade", "http://update.microsoft.com") %>
    </p>
  </div>
  
</div>