<fieldset>
  <p>
    <label for="user_email">*Your Email</label>
    <%= text_field_tag("user[email]") %>
  </p>
  <p>
    <label for="user_firstName">*First Name</label>
    <%= text_field_tag("user[firstName]") %>
  </p>
  <p>
    <label for="user_lastName">*Last Name</label>
    <%= text_field_tag("user[lastName]") %>
  </p>
</fieldset>
