@import '../common.scss';

$background-color: $white;

$container-right-offset: 40px;
$container-right-offset-small: 30px;

$container-top: 65px;
$container-top-small: 47px;

$triangle-size: 13px;
$triangle-position: 340px;

// the actual width of the spinner, since styleguide doesn't have it as a variable...
$spinner-width: 64px;

/*
 * This is how much margin to add to the bottom of the error message/spinner
 * so that the list is *close* to its usual size
 * (note that we don't actually have a set "usual size" since the items in the list vary)
 */
$error-message-margin-bottom: 525px;
$spinner-margin-bottom: 295px;

.container {
  @include base;
  width: 375px;
  background-color: $background-color;

  position: absolute;
  right: $container-right-offset;
  top: $container-top;
  filter: drop-shadow(0 3px 5px #888888);
}

.container * {
  line-height: 1.618 !important;
}

:global(.site-chrome-small) .container {
  top: $container-top-small;
  right: $container-right-offset-small;
}

/* the :before here actually sets up the triangle above the container */
.container::before {
  content: "";
  position: absolute;
  left: $triangle-position;

  /* this ACTUALLY controls how big the triangle is... */
  border: $triangle-size solid $background-color;

  transform-origin: 0 0;
  transform: rotate(135deg);
}

.divider {
  background-color: $alternate-4-light;
  height: 2px;
  width: 100%;
}

.header {
  height: 24px;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.view-older {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $alternate-4-light;
}

.view-older-link {
  @extend .unstyled-link;

  /* lots of !important here because we have a lot of global rules that look like `a { text-decoration: none; }` */
  color: $primary-text !important;
  font-size: 13px !important;
  padding: 0 !important;
  font-weight: normal !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.error-message {
  @extend .alert;
  @extend .error;

  text-align: center;
  font-size: 12px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-bottom: $error-message-margin-bottom;
}

.spinner {
  @extend .spinner-default;
  @extend .spinner-large;

  margin-left: calc(50% - ($spinner-width / 2));
  margin-top: 50%;
  margin-bottom: $spinner-margin-bottom;
}
