@import "breakpoint";
@import "vendor/reset";
//@import "vendor/prism";

// Style Components
@import "bourbon";
@import "neat";

@import "../../../src/scss/socrata-icons";

@font-face {
  font-family: "socrata-icons";
  src: url("/fonts/socrata-icons.eot");
  src: url("/fonts/socrata-icons.eot?#iefix") format("embedded-opentype"),
       url("/fonts/socrata-icons.woff") format("woff"),
       url("/fonts/socrata-icons.ttf") format("truetype"),
       url("/fonts/socrata-icons.svg#socrata-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "socrata-icons";
    src: url("/fonts/socrata-icons.svg#socrata-icons") format("svg");
  }
}

@import "../../../src/scss/components/grid";
@import "../../../src/scss/components/typography";
@import "../../../src/scss/components/colors";
@import "../../../src/scss/components/color-swatches";
@import "../../../src/scss/components/button-group";
@import "../../../src/scss/components/buttons";
@import "../../../src/scss/components/list";
@import "../../../src/scss/components/loader";
@import "../../../src/scss/components/forms";
@import "../../../src/scss/components/modal";
@import "../../../src/scss/components/tags";
@import "../../../src/scss/components/alerts";
@import "../../../src/scss/components/dividers";
@import "../../../src/scss/components/flyout";
@import "../../../src/scss/components/flannel";
@import "../../../src/scss/components/nav-bars";
@import "../../../src/scss/components/tables";
@import "../../../src/scss/components/menu";
@import "../../../src/scss/components/pagination";
@import "../../../src/scss/components/input-groups";

// Media Queries
$lgmobile: 468px 767px;
$tablet: 769px;
$desktop: 992px;


// Catalog Styles

/* Menu for mobile
 * needs to be refactored a bit, for sure
 *
 */ 

.menu {
	width: 100%;
	@include breakpoint($tablet) {
		width: 30%;
	}
	background-color: $light-grey-7;
	color: $black;

	& > *:first-child {
		margin-top: .3em;
	}

	& > *:last-child {
  		margin-bottom: 0;
	}

	.container {
		max-width: 100%;	
	}

	.filter-wrapper {
		overflow-y: scroll;
	}

	.filter-action-container {
		max-width: 94%;
		margin: 0 auto;
		padding-top: ms(0);
	}


	&.menu-offscreen.menu-anchor-left {
		left: -150%;
		box-shadow: none;
		border-right: none;
	}

	.menu-header {
		height: ms(1);
	}

	.menu-header-title {
	  	color: $black;
	  	font-weight: lighter;
	  	text-align: center;
	}

	.menu-header-dismiss {
		color: $primary;
		text-align: left;
		&:hover {
			color: $dark-grey-1;
		}
	}

} //.menu


body {
	background: $light-grey-6;
}

a {
	color: $primary;
	text-decoration: none;	
	&:hover {
		text-decoration: underline;
	}
}

.container {
	@include outer-container();
	max-width: 100%;
	margin: 0px auto 0;
	
	@include breakpoint($lgmobile) {
		max-width: 100%;
	}

	@include breakpoint($tablet) {
		//padding: 0 0.5em;
		margin: 0 auto;
	
	}
}


.wrapper {
	@include breakpoint($tablet) {
	    margin-top: 112px;
   		border-top: 1px solid $light-grey-3;
		padding-top: 21px;
	}
}

.search {
	width: 100%;
	
	.container {
		max-width: 100%;
		
		@include breakpoint($tablet) {
			max-width: 54em !important;
			margin: 0px auto;
			padding: 0;


		}
	}

	form {
		margin-bottom: 0 !important;
	}
	
	.input-group {

		.text-input {
			border-left: none;
		}
		.input-group-btn .btn-default {
			border-right: none;
		}
	}

	@include breakpoint($tablet) {
		@include span-columns(10);
		@include shift(1);
		padding: ms(8) 0;


		.input-group .text-input {
			border-left: 1px solid $light-grey-2;
		}
	}

}

.search-result-meta {
	display: none;

	@include breakpoint($tablet) {
		display: inherit;
		@include outer-container();

		.container {
			@include span-columns(8);
			@include shift(3);
			padding-bottom: ms(2);
		}
	}
}


.facet-bar {
	padding-top: ms(-8);
	height: ms(8);
	background-color: $light-grey-7;
	border-bottom: 1px solid $light-grey-4;
	margin-bottom: ms(2);
	
	@include breakpoint($tablet) {
		@include span-columns(3);
		padding-top: 0;
	}

	
	&.facet-bar-desktop {
		display: none;
		@include breakpoint($tablet) {
			display: inherit;
		}
	}

	&.facet-bar-mobile {
		@include breakpoint($tablet) {
			display: none;
		}
	}

	.active-filter-hint {
		@include span-columns(8);
		font-weight: 600;
		.filter-hint-text {
			font-weight: 400;
		}

	}

	.filter-link {
		@include span-columns(4);
		text-align: right;
		span {
			font-size: ms(-1);
		}
	}

	.filter-list-desktop {
		display: none;

		@include breakpoint($tablet) {
			display: inherit;
			border: 1px solid $light-grey-4;
		}
	}

}

.filter-list {
	background-color: $white;
	font-size: ms(0);
	border-bottom: 1px solid $light-grey-5;
	border-top: 1px solid $light-grey-5;
	
	.current-filters-group,
	.filter-list-group {
		font-size: ms(0);
		font-weight: 300;
		text-transform: uppercase;
		color: $dark-grey-3;
		margin: ms(-6) 0;
		padding-left: ms(-1);

		@include breakpoint($tablet) {
			display: none;
		}
	}

	&.active {
		margin-bottom: ms(8);
		border-top: 1px solid $light-grey-4;
		border-bottom: 1px solid $light-grey-4;

		.current-filters-action-container {
			max-width: 93%;
			margin: 0 auto;
			
			#clear-filters {
				margin: ms(-8) 0;
			}
		}

		.active-filters {
			border-top: 1px solid $light-grey-5;
			li a {
				border-bottom: 1px solid $light-grey-5;
			}
		}

	}

	.facet-group {
		font-size: ms(0);
		font-weight: 600;
		border-left: 5px solid $light-grey-3;
		position: relative;
		&:hover {
			border-left-color: $light-grey-2;
		}
		&.open {
			border-left-color: $primary;
			
			a {
				border-bottom: 1px solid $light-grey-5;
			}
		}

		a {
			border-top: 1px solid $light-grey-5;
			color: $dark-grey-2;
			display: block;
			padding: ms(0) ms(-4);
			&:after {
				font-family: "icomoon";
				content: "\e802";
				position: absolute;
				right: 1.2em;
				line-height: 1.6;
				color: $dark-grey-1;
			}
			&:hover {
				text-decoration: none;
				background-color: $light-grey-6;
				
				&:after {
					color: $dark-grey-3;
				}
			}



		}


	}

	ul {
		padding-left: 0;
		list-style-type: none;
		margin: 0;
		& > li {
			position: relative;
			a {
				border-left: 5px solid $light-grey-3;
				padding: ms(-2) ms(-4) ms(-2) ms(2);
				display: block;
				color: $dark-grey-3;
				&:hover {
					text-decoration: none;
					background-color: $light-grey-6;
					border-left-color: $light-grey-2;
				}
				&.active {
					border-left-color: $secondary;

					&:after {
						font-family: "icomoon";
						content: "\e806";
						font-size: ms(-2);
						position: absolute;
						right: 1.89em;
						top: 30%;
						line-height: 2.2;
						color: $secondary;

						@include breakpoint($tablet) {
							right: 1.85;
						}

					}
				}
			
				@include breakpoint($tablet) {
					padding-right: ms(1);
					font-size: ms(-1);
				}

			}
			&:first-child {
				padding-bottom: 0;
			}
			& ul > li {
				&:last-child {
					border-bottom: none;
				}
			}	
		}
	}
}

.content {

	@include span-columns(12);
	background-color: $white;
	border-bottom: 2px solid $light-grey-4;
	margin-bottom: ms(0);


}


.result-card {
	@include outer-container();
	padding: 0 ms(-2);

	.entry-header {
		@include outer-container();
		padding: ms(-2);
		border-bottom: 1px solid $light-grey-5;
		

		.entry-title {
			@include span-columns(12);
			.entry-name {
				font-weight: 200;
				display: inline-block;
				margin-right: ms(-2);
				font-size: ms(2);
				
			}

			@include breakpoint($tablet) {
				@include span-columns(8);
					.entry-name {
						
						font-size: ms(4);

					}

			}

		
		}

		.entry-view-type {
			@include span-columns(12);
			font-size: ms(-1);
			color: $dark-grey-1;
			font-weight: 300;
			padding-top: ms(-6);

			@include breakpoint($tablet) {
				@include span-columns(4);
				text-align: right;

				
				font-size: ms(0);
			}
			
			
		}
	}
	.entry-content {
		@include outer-container();
		
		
		.entry-main {			
			@include breakpoint($tablet) {
				@include span-columns(8, collapse);
				border-right: 1px solid $light-grey-4;

				
			}
		
			.entry-description {
				padding: ms(-2);
				font-size: ms(0);

				.more-link {
					white-space: nowrap;
					color: $light-grey-1;
					text-decoration: underline;
					&:hover {
						color: $light-grey-0;
					}
					
				}

			}

		}

		.meta-title {
			font-size: ms(-1);
			color: $light-grey-0;
			font-weight: 600;

		}

		.entry-meta {
			font-size: ms(-1);

			
			&.first {
				border-bottom: 1px solid $light-grey-5;	
				overflow: hidden;
				padding: ms(-4) ms(-2);

				@include breakpoint($tablet) {
					border-bottom: none;
					border-top: 1px solid $light-grey-5;	

				}

				
				.topics {
					@include span-columns(12);

					@include breakpoint($tablet) {
						@include span-columns(9);
					}
				}

				.api {
					display: none !important;
					
					@include breakpoint($tablet) {
						@include span-columns(3);
						text-align: right;
					}
					
				}

			}

			&.second {
				@include row();
				padding: ms(-4) ms(-2);
				border-bottom: 1px solid $light-grey-5;	

				@include breakpoint($tablet) {
					@include span-columns(4);
					border-bottom: none;
					.meta-title {
						padding-top: ms(-7);
					}
				}

				.updated {
					@include span-columns(6);
					//margin-top: ms(-12);
					margin-bottom: 0;

					@include breakpoint($tablet) {
						@include span-columns(12);

						.meta-title,
						.date {
							display: block;
						}
					}
					
				}

				.views {
					@include span-columns(6);
					text-align: right;

					@include breakpoint($tablet) {
						@include span-columns(12);
						text-align: left;
						
						.meta-title,
						.views {
							display: block;
						}
					}
				}
			}
		}	



	}

	.show-wrapper {
		
		font-size: ms(-1);
		text-align: center;
		

		a {
			padding: ms(-4) 0;
			display: block;
			background-color: $light-grey-6;
			&:hover {
				text-decoration: none;
				background-color: $light-grey-5;
			}

			[class^="icon-"], [class*="icon-"] {
				font-size: ms(-3);
				line-height: 1;
			}
		}

	}
}



/* .container {
	@include outer-container();
  	margin-top: 80px;
  	&.main {
    	margin-top: ms(8);
  	}

	> .menu {
		@include span-columns(4);
	    margin-top: 60px;
	    z-index: 999;
	 }

  	> .content {
    @include span-columns(12);
  }
}
 */
