<div class="responsive-navbar">
  <img src="<%= logo %>" />
  <span><%= customer %></span>
  <div class="responsive-navbar-nav">
    <button class="btn btn-default btn-inverse">Menu</button>
  </div>
</div>
