<div class="responsive-navbar">
  <img src="../../images/evergreen.png" />
  <span>City of Evergreen</span>
  <div class="responsive-navbar-nav">
    <button class="btn btn-default btn-inverse">Menu</button>
  </div>
</div>