---
title: Socrata Styleguide
layout: prototype-landingpage

---


<% content_for :page_js do %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>

  var viewPortHeight = $(window).height();
  var headerHeight = $(".menu-header").outerHeight(true);
  var filterActionHeight = $(".filter-action-container").outerHeight(true);
  var filterListActveHeight = $(".filter-list.active").outerHeight(true);
  var maxContentHeight = viewPortHeight - headerHeight - filterActionHeight - filterListActveHeight + 63;

  // Set the height of the menu content area to position the button
  $(".filter-wrapper").css("height", maxContentHeight);

  console.log("View Port: " + viewPortHeight);
  console.log("Header: " + headerHeight);
  console.log("Filter Action Button: " + filterActionHeight);
  console.log("Active List: " + filterListActveHeight);
  console.log("Content Max: " + maxContentHeight);

  // Hide the facet list & the hint text
  $(".filter-list ul, .filter-hint-text").hide();


  //Toggle the facet group
  $(".facet-group").each(function() {
    $(this).show(0).on("click", function(e){
      e.preventDefault();
      $(this).toggleClass("open");
      $(this).next("ul").slideToggle("fast");
    })
  })

  $(".facet-item a").each(function() {
    $(this).on("click", function(e) {
      e.preventDefault();
      $(this).parent("li").siblings("li").find("a").removeClass("active");
      $(this).toggleClass("active");
    })
  })

  //Collect and display current filters, remove them, do the filter
  $("#filter").on("click", function(e) {

    $(".active-filters a.active").remove();

    $(".filter-list.active ul, .filter-hint-text").show();

    $(".facet-group.open").next("ul").slideToggle();
    $(".facet-group").removeClass("open");

    var selectedFilters = $(".facet-item a.active:not(.filter-list.active a.active)").get();
    //console.log(selectedFilters);

    $.each(selectedFilters, function(i, obj) {

      var facetGroupName = $(obj).parents("ul").attr("data-facet-name");
     // console.log(facetGroupName);

      $(".active-filters").append("<li class='facet-item'><a class='active' href='#'>" + facetGroupName + " > " + obj.innerHTML + "</a></li>");
    })

    $(".active-filters a.active").on("click", function(e) {
        $(this).remove(); 
    }) 

    $("#clear-filters").on("click", function(e) {
      $(".active-filters a.active").remove();
      $(".facet-item a.active").toggleClass("active");
      $(".facet-group.open").next("ul").slideToggle();
      $(".facet-group").removeClass("open");
      $(".filter-hint-text").hide();
    })

  });

</script>


<% end %> 

<div class="responsive-navbar">
  <img src="../../images/evergreen.png" />
  <span>City of Evergreen</span>
  <div class="responsive-navbar-nav">
    <button class="btn btn-default btn-inverse">Menu</button>
  </div>
</div>


<div class="container main">

  <div class="content">

    <div class="result-card">

      <div class="entry-header">
        <div class="entry-title">
          <h1 class="entry-name">Current Liquor Licenses</h1>
          <span class="tag-official">
            <span class="icon-official"></span> OFFICIAL</span>
            <span class="tag-category">Animal Control</span>
          </div>
          <div class="entry-view-type">
            <button class="btn btn-default btn-sm">Download</button>
            <button class="btn btn-default btn-sm">API</button>
            <button class="btn btn-default btn-sm">More <span class="icon-arrow-down"></span></button>
          </div>
        </div>

        <div class="entry-content">
          <div class="entry-main">
            <div class="entry-description">
              City-wide listing of current liquor licenses, with location information. All renewal records are created with a term start date and term expiration date. <span class="more-link"><a class="more-link" href="#"> More </a></span>
            </div>

            <div class="entry-meta first">
              <div class="entry-meta topics">
                <span class="meta-title">Topics</span> <span class="topic-list"><a href="#">one</a>, <a href="#">two</a>, <a href="#">taggytagtag</a>, <a href="#">one</a>, <a href="#">two</a>, <a href="#">taggytagtag</a></span>
              </div>

              <div class="entry-meta api">
                <span class="api-link"><a href="#">API Docs</a></span>
              </div>

            </div>

          </div><!-- ./entry-main -->

          <div class="entry-meta second">
            <div class="entry-meta updated">
              <span class="meta-title">Updated</span>
              <span class="date">December 1, 2015</span>
            </div>                  
            <div class="entry-meta views">
              <span class="meta-title">Views</span>
              <span class="view-count">12,343</span>
            </div>
          </div>


        </div><!-- /.entry-content -->
      </div> <!-- /.result-card -->        
  </div>

      <div class='lp-section'>
        <h2 class="section-header">What's in this Dataset</h2>

        <div class="card-frame">
        <div class="table-wrapper schema-preview">
          <table class="table-condensed table-borderless">
            <thead>
              <tr>
                <th scope="col">Column Name</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td scope="row">Licensee</td>
                  <td>Legal name of the license holder</td>
                  <td>Name, Text <span class="icon-clear-formatting"></span></td>
                  <td><span class="icon-arrow-down"></span></td>
                </tr>
                <tr>
                  <td scope="row">DBA Name</td>
                  <td>Doing Business As name. The legal name of the business</td>
                  <td>Name, Text <span class="icon-clear-formatting"></span></td>
                  <td><span class="icon-arrow-down"></span></td>
                </tr>
                <tr>
                  <td scope="row">License Number</td>
                  <td>Unique Identifier for the license. Note: if licence gets renewed, multiple entries with the same identifier may appear.</td>
                  <td>ID, Number <span class="icon-list-numbered"></span></td>
                  <td><span class="icon-arrow-down"></span></td>
                </tr>
                <tr>
                  <td scope="row">Expiration Date</td>
                  <td></td></a>
                  <td>End Date, Date<span class="icon-table"></span></td>
                  <td><span class="icon-arrow-down"></span></td>
                </tr>
                <tr>
                  <td scope="row">Value</td>
                  <td>Value of the license</td>
                  <td>Amount, Number<span class="icon-list-numbered"></span></td>
                  <td><span class="icon-arrow-down"></span></td>
                </tr>
                <tr>
                  <td scope="row">Location</td>
                  <td>Mailing Address of the Business</td>
                  <td>Location <span class="icon-clear-formatting"></span></td>
                  <td><span class="icon-arrow-down"></span></td>
                </tr>
            </tbody>
          </table><!-- /.metadata-table -->
          </div>
          <button class="btn btn-default btn-sm btn-block">View All (12)</button>
          <div class="centered">
            <span class="more-link"><a class="more-link" href="#">View All (12)</a></span>
            <!-- <button class="btn btn-default btn-xs">See all metadata</button> -->
          </div>
        </div><!-- /.card-frame -->
      </div><!-- /.lp-section -->


      <div class='lp-section'>
        <h2 class="section-header">Additional Metadata</h2>

        <div class="card-frame">
        <div class="table-wrapper metadata-table">
          <table class="table-condensed table-borderless">
            <tbody>
                <tr>
                  <td scope="row">Data Last Updated</td>
                  <td>Jan 7, 2015</td>
                </tr>
                <tr>
                  <td scope="row">Metadata Last updated</td>
                  <td>Jan 12, 2016</td>
                </tr>
                <tr>
                  <td scope="row">Downloads</td>
                  <td>1,234</td>
                </tr>
                <tr>
                  <td scope="row"> Data Dictionary</td>
                  <td><span class="icon-copy-document"></span><a href="#"> dictionary.pdf</td></a>
                </tr>
            </tbody>
          </table><!-- /.metadata-table -->
          </div>
          <div class="table-wrapper metadata-table">
          <table class="table-condensed table-borderless">
            <tbody>
                <tr>
                  <td scope="row">Data Owner</td>
                  <td>John Smith</td>
                </tr>
                <tr>
                  <td scope="row">Department</td>
                  <td>Department of Economic Development</td>
                </tr>
                <tr>
                  <td scope="row">Licensing</td>
                  <td>Creative Commons</td>
                </tr>
                <tr>
                  <td scope="row">Date Created</td>
                  <td>Jan 1, 2013</td>
                </tr>
            </tbody>
          </table><!-- /.metadata-table -->
          </div>
          <button class="btn btn-default btn-sm btn-block">View All</button>
          <div class="centered">
            <span class="more-link"><a class="more-link" href="#">View All</a></span>
            <!-- <button class="btn btn-default btn-xs">See all metadata</button> -->
          </div>
        </div><!-- /.card-frame -->
      </div><!-- /.lp-section -->

</div> <!-- ./wrapper -->

</div> <!-- ./container.main -->
