// general styles



// control defaults

// layout widgets

.twoColumnLayout
  .leftColumn, .rightColumn
    float: left
    width: 50%

    .wrapper
      padding: 0.5em

// content widgets

.facetList
  li
    display: inline-block
    font-size: 1.4em
    padding: 0.3em
    width: 10em
