a.button
  @include rounded-ends
  @include gradient_buttons_active_background
  @include sprite-button-icons
  border: 1px solid $color_buttons_active_border
  @include box-shadow(0,0,2px,$color_buttons_shadow)
  color: $color_buttons_active_text
  display: inline-block
  font-size: 1.1em
  height: 1.9em
  line-height: 2em
  margin: 0.5em
  padding: 0 1.35em
  text-transform: uppercase
  &:hover
    @include gradient_buttons_hover_background
    border: 1px solid $color_buttons_hover_border
    text-decoration: none
  &:active, &:focus
    @include gradient_buttons_focus_background
    border: 1px solid $color_buttons_focus_border
    text-decoration: none
  &:visited
    color: $color_buttons_active_text
  &.disabled
    @include gradient_buttons_disabled_background
    border: 1px solid $color_buttons_disabled_border
    cursor: default

  .icon
    float: left
    margin:
      left: 0
      right: 0.4em
      top: 0.5em
    .ie6 &
      display: none

  // They have rounded corners but no linear gradient
  .noLinearGradient &
    @include box_gradient_buttons_active_background(23,3,$box_gradient_alias_fix)
    background: transparent repeat-x
  .noLinearGradient &:hover, .noLinearGradient &:active, .noLinearGradient &:focus
    @include box_gradient_buttons_hover_background(23,3,$box_gradient_alias_fix)
  .noLinearGradient &.disabled
    @include box_gradient_buttons_disabled_background(23,3,$box_gradient_alias_fix)

  // IE, or really old browsers
  $noCss3_active_border_style: 'ec=#{$buttons_active_border}&ew=1&r=10'
  .noCss3 &, .noCss3 & .left
    @include box_gradient_buttons_active_background(500,20,$noCss3_active_border_style)
    background: transparent no-repeat
    border: none
  .ie6 &, .ie6 & .left
    @include box_gradient_buttons_active_background(500,20,'#{$noCss3_active_border_style}&bc=fff')

  $noCss3_hover_border_style: 'ec=#{$buttons_hover_border}&ew=1&r=10'
  .noCss3 &:hover, .noCss3 &:hover .left
    @include box_gradient_buttons_hover_background(500,20,$noCss3_hover_border_style)
  .ie6 &:hover, .ie6 &:hover .left
    @include box_gradient_buttons_hover_background(500,20,'#{$noCss3_hover_border_style}&bc=fff')
    border: none /* IE6 takes border-color to mean border */

  $noCss3_focus_border_style: 'ec=#{$buttons_focus_border}&ew=1&r=10'
  .noCss3 &:active, .noCss3 &:active .left,
  .noCss3 &:focus, .noCss3 &:focus .left
    @include box_gradient_buttons_focus_background(500,20,$noCss3_focus_border_style)
  .ie6 &:active, .ie6 &:active .left,
  .ie6 &:focus, .ie6 &:focus .left
    @include box_gradient_buttons_focus_background(500,20,'#{$noCss3_focus_border_style}&bc=fff')
    border: none /* IE6 takes border-color to mean border */

  $noCss3_disabled_border_style: 'ec=#{$buttons_disabled_border}&ew=1&r=10'
  .noCss3 &.disabled
    @include box_gradient_buttons_disabled_background(500,20,$noCss3_disabled_border_style)
  .ie6 &.disabled
    @include box_gradient_buttons_disabled_background(500,20,'#{$noCss3_disabled_border_style}&bc=fff')
    border: none /* IE6 takes border-color to mean border */

  .noCss3 &
    background-position: top right
    height: 20px
    line-height: 20px
    margin: 5px
      left: 10px
    padding: 0 15px
      left: 5px
    position: relative
    .left
      background-position: top left
      height: 20px
      left: -10px
      position: absolute
      top: 0
      width: 10px

div.menu
  @include border-radius(0.4em, 0)
  display: inline-block
  position: relative
  @include transition-duration(0.2s)
  @include transition-property(box-shadow)

  .menuButton
    @include sprite-menu-icons
    background-color: #fff
    @include border-radius(0.4em, 0)
    color: #000
    display: inline-block
    font-size: 1.2em
    height: 1em
    line-height: 1em
    margin-top: -4px
    padding: 0.6em 1em
    position: relative
    @include transition-property(border)
    z-index: 50
    &:hover
      text-decoration: none

    .icon
      margin-left: 0.2em

  .menuDropdown
    background-color: #fff
    border: 1px solid #999999
    @include border-radius(0.4em)
    @include box-shadow(0,0,4px,rgba(0,0,0,0.5))
    display: none
    margin-top: -1px
    overflow: hidden
    position: absolute
    z-index: 49
    &.menuPosition-top.menuPosition-left
      @include border-radius-corner(top, left, 0)
    &.menuPosition-top.menuPosition-right
      @include border-radius-corner(top, right, 0)
    &.menuPosition-bottom.menuPosition-left
      @include border-radius-corner(bottom, left, 0)
    &.menuPosition-bottom.menuPosition-right
      @include border-radius-corner(bottom, right, 0)
    ul.menuColumns
      margin: 1.2em 0
      overflow: hidden
      li.menuColumn
        border-left: 1px solid #dedede
        display: block
        float: left
        margin-bottom: -9999px
        padding-bottom: 9999px
        &:first-child
          border-left: none
        ul.menuEntries
          min-width: 10em
          padding: 0.2em 0
          li.menuEntry
            clear: both
            display: block
            a
              border:
                bottom: 1px solid #ffffff
                top: 1px solid #ffffff
              display: block
              font-size: 1.2em
              padding: 0.3em
                right: 1em
                left: 2.8em
              position: relative
              &:hover
                background-color: #f7f7f7
                border-color: #dedede
                text-decoration: none

              .icon
                left: 1em
                position: absolute
                top: 0.3em

              .subtext
                color: #777
                font-size: 0.85em
                margin: 0.2em 0.1em
  &.open
    @include box-shadow(0,-3px,4px,rgba(0,0,0,0.5))
    .menuButton
      border: 1px solid #999999
        bottom: none
      .icon
        background-position: 0 -13px
    .menuDropdown
      clear: both
      display: block

div.starsControl
  &, & .starsControlInner
    background: transparent url('/stylesheets/images/icons/stars.png') repeat-x
    height: 16px
    margin: 0
    padding: 0
    width: 93px
  &.enabled
    cursor: pointer

  .starsControlInner
    background-position: 0 -16px