$dark-grey: #333;
$facebook-blue: #3b5998;
$light-blue: #5aafe1;
$light-grey: #adadad;
$twitter-blue: #55acee;
$white: #fff;
$whitesmoke: #f5f5f5;
$white-grey: #f8f8f8;

body {
  margin: 0;
  padding: 0;
  background: $white-grey;
}

.info-pane {
  background: $white;
  width: 100%;

  .container {
    margin-top: 0;
    max-width: 68em;
  }

  h2.info-pane-name {
    margin: 0;
    display: inline;
    font-size: 24px;
    margin-right: 11px;
  }

  .entry-header {
    .entry-title {
      width: auto !important;
      margin-right: 20px !important;
    }

    .entry-actions {
      padding-top: 8px;
      text-align: right;

      .btn-default {
        background: $whitesmoke;
      }

      .dropdown:after {
        display: none;
      }

      .dropdown.download {
        .geo-layer-heading {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          text-align: left;
          padding: 8px 15px;
          padding-top: 16px;
          font-weight: 600;
          cursor: default;
        }

        .geo-layer-export a {
          padding-left: 25px;
        }
      }

      .more .icon-waiting {
        padding-left: 0;
      }
    }
  }

  .entry-description-toggle {
    margin-left: 4px;
    text-decoration: underline;
    color: $light-grey;
    cursor: pointer;
  }

  .entry-description-container {

    // Note: these are duplicated in the landing page javascript.
    $description-line-height: 24px;
    $description-padding: 11px;

    overflow: hidden;

    &[data-description-display="truncate"] {
      .entry-description {
        height: $description-line-height * 4 + $description-padding * 2;
      }

      .entry-description-toggle.more {
        display: inherit;
      }

      .entry-description-toggle.less {
        display: none;
      }
    }

    &[data-description-display="show"] {
      .entry-description {
        height: inherit;
      }

      .entry-description-toggle.more {
        display: none;
      }

      .entry-description-toggle.less {
        display: inherit;
      }
    }

    .entry-description {
      display: inline-block;
      line-height: $description-line-height;
    }
  }

  .entry-content {
    .entry-meta.updated .meta-title {
      padding-top: 0;
    }
  }
}

#api-flannel {
  letter-spacing: 0;
  text-align: left;
  width: 420px;

  h4, h6 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  .flannel-header {
    max-width: 95%;
  }

  .flannel-content {
    &.api-description {
      margin-bottom: 1.5rem;
    }
  }
}

#odata-modal {
  .modal-header {
    h5 {
      margin: 0;
    }
  }

  .modal-content {
    &.odata-description {
      margin-bottom: 1.5rem;
    }

    & *:last-child {
      margin-bottom: 0;
    }
  }
}

#api-flannel,
#odata-modal {
  .endpoint {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    .endpoint-title {
      margin-top: 0;
      margin-bottom: 0;
    }

    .layer-name {
      margin-bottom: 0.2rem;
    }

    .endpoint-input {
      color: $light-grey;
      margin-bottom: 0;
    }

    .dropdown {
      padding: 6px 12px;
    }
  }

  @media(max-width: 420px) {
    .documentation-link {
      display: block;
      width: 100%;
      margin-bottom: 6px;
      text-align: center;
    }
  }
}

#share-modal {
  .modal-header {
    h5 {
      margin: 0;
    }

    margin-bottom: 24px;
  }

  a {
    text-decoration: none;
  }

  .alert a {
    color: $light-blue;
  }

  .twitter, .facebook, .email {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }

    [class^="icon"] {
      margin-right: 8px;
    }
  }

  .twitter a {
    color: $twitter-blue;
  }

  .facebook a {
    color: $facebook-blue;
  }

  .email a {
    color: $dark-grey;
  }
}

.btn {
  [class^="icon-"]:last-child {
    padding-right: 0;
  }
}
