form input[type="text"],
form input.textInput,
form textarea,
form input[type="password"],
input[type="text"],
form input[type="file"]
  color: #333
  font-family: Arial, sans-serif
  font-size: 1.2em
  line-height: 1.2em
  padding: 0.2em

form input[type="text"],
form input.textInput,
form textarea,
form input[type="password"],
input[type="text"]
  border: solid 1px #cacaca

label.error
  color: #f00
  font-size: 1em

form input[type="text"].text_wide,
form textarea.text_wide
  width: 30em

.errorMessage
  color: #f00