$form_elem_border_color: #cacaca;

form input[type="text"],
form input.textInput,
form textarea,
form input[type="password"],
form input[type="email"],
input[type="text"],
form input[type="file"] {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 0.2em;
}

form input[type="text"],
form input.textInput,
form textarea,
form input[type="password"],
form input[type="email"],
input[type="text"] {
  border: solid 1px $form_elem_border_color;
}

label.error {
  color: #f00;
  font-size: 1em;
}

form input[type="text"].text_wide,
form textarea.text_wide {
  width: 30em;
}

.errorMessage {
  color: #f00;
}

// common layout for forms
.commonForm {
  label {
    font-size: 1.2em;
    padding-left: 12px;
    &.required {
      @include required-star;
    }
    &.requiredBlank:before {
      content: " ";
    }
  }
  .formSection {
    clear: both;
    margin-bottom: 2em;
    padding-left: 1em;
    .formHeader {
      margin-left: -1em;
    }
  }
  .formHeader {
    clear: both;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  textarea {
    font-size: 1.2em;
  }
  input[type=text],
  input[type=password],
  textarea,
  .ui-slider {
    @include border-radius(0.3em);
    @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.05));
    &:hover {
      @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.15));
    }
    &:focus, &:active {
      @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.4));
    }
  }
  .ui-slider {
    @include vertical-gradient(#ffffff, #f0f0f0);
    border: 1px solid #cccccc;
    font-size: 1.2em;
    margin-top: 3px;
    .ui-slider-handle {
      @include gradient_buttons_active_background;
      @include border-radius(0.3em);
      border: 1px solid $color_buttons_active_border;
      @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.05));
      cursor: pointer;
      &:hover {
        @include vertical-gradient(#ee3c39, #b01e2d);
        @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.7));
        border: 1px solid #b01e2d;
      }
      &:active, &:focus {
        @include vertical-gradient(#ee3c39, #b01e2d);
        border: 1px solid #f1ca7e;
      }
      &.disabled {
        @include vertical-gradient(#e6e6e6, #cccccc);
        border: 1px solid #cccccc;
        cursor: default;
      }
    }
  }
  .colorControl {
    background: transparent url(/images/colorpicker/select_arrow.png) no-repeat right bottom;
    border: 1px solid $form_elem_border_color;
    display: inline-block;
    height: 18px;
    text-indent: -9999px;
    width: 20px;
    .ie7 & {
      display: block;
    }
  }
  div.required, span.required {
    @include required-star;
    padding: 0.1em;
    padding-left: 1em;
  }
  div.line {
    clear: both;
    line-height: 1.8em;
    min-height: 1.8em;
    padding-top: 0.4em;
    > *, .fieldContainer > * {
      display: inline-block;
      float: left;
      margin-right: 0.2em;
      &.span {
        height: 1.8em;
        line-height: 1.8em;
      }
    }
    // IE6 refuses to parse the above rule with >'s, even as a comma statement
    // Additionally, IE6 doesn't have uniform to worry about, so just select everything
    .ie6 & * {
      display: inline-block;
      float: left;
      margin-right: 0.2em;
      &.span {
        height: 1.8em;
        line-height: 1.8em;
      }
    }
    label {
      margin-right: 1em;
    }
    .uniform.selector {
      margin: {
        left: -2px;
        top: -2px;
      };
    }
    label.error {
      clear: both;
      display: block;
      float: none;
      font-size: 1.1em;
    }
    .additionalHelp {
      clear: both;
      color: #666;
      display: block;
      float: none;
      font-size: 1.1em;
    }
    span.error {
      color: #ff0000;
      display: block;
      line-height: 1.7em;
      padding-left: 12px;
    }
  }
  .finishButtons {
    margin-top: 1em;
    li {
      float: left;
    }
  }
}

// Custom combo boxes
.blist-combo-wrapper {
  cursor: default;
  position: relative;
  &.active {
    z-index: 100;
  }
  .blist-combo {
    overflow: hidden;
    position: relative;
    .blist-combo-value {
      float: none;
      overflow: hidden;
    }
  }
}

.blist-combo-dd {
  background: #fff;
  border: 1px solid #ccc;
  @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));
  display: none;
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  z-index: 5000;
  li {
    font-size: 1.2em;
    padding: 4px 5px;
    white-space: nowrap;
    &.selected {
      background-color: #e3ecf7;
    }
  }
}

// uniform jQuery plugin styling
// clint.tseng@socrata.com 13/05/10:
//   modified to nest under uniform, not float

div.uniform.selector,
div.uniform.selector div,
.blist-combo,
.blist-combo-value,
div.uniform.checker span,
div.uniform.radio span,
div.uniform.uploader,
div.uniform.uploader span.action {
  background-image: url(/stylesheets/images/common/uniform_sprite.png);
  background-repeat: no-repeat;
}

div.uniform.checker,
div.uniform.radio {
  margin-right: 1em;
}

div.uniform.selector *,
div.uniform.radio *,
div.uniform.checker *,
div.uniform.uploader * {
  margin: 0;
  padding: 0;
}

div.uniform.selector select:focus,
div.uniform.radio input:focus,
div.uniform.checker input:focus,
div.uniform.uploader input:focus {
  outline: 0;
}

div.uniform.selector,
.blist-combo {
  background-position: (-483px) -130px;
  display: inline-block;
  font-size: 1.2em;
  line-height: 26px;
  height: 26px;
  position: relative;
  vertical-align: bottom;
  div {
    background-position: right 0px;
    cursor: pointer;
    margin-left: 10px;
    padding: 0px 25px 0px 2px;
    span {
      @include clip-text;
      color: #666;
      display: block;
      height: 26px;
      line-height: 26px;
      text-shadow: 0 1px 0 #fff;
    }
  }
  div.container {
    background-image: none;
    margin: 0;
    position: absolute;
    padding: 0;
    width: 100%;
  }
  select {
    border: solid 1px #fff;
    font-size: 1em;
    opacity: 0;
    padding-right: 0.7em;
    position: relative;
    cursor: pointer;
  }
  &:active, &.active {
    background-position: (-483px) -156px;
    .container div {
      background-position: right -26px;
    }
  }
  &.focus, &.hover, &:hover {
    background-position: (-483px) -182px;
    .container div {
      background-position: right -52px;
    }
  }
  &.focus:active, &.focus.active {
    background-position: (-483px) -208px;
    .container div {
      background-position: right -78px;
    }
  }
  &:hover:active, &.active:hover {
    background-position: (-483px) -208px;
    .container div {
      background-position: right -78px;
    }
  }
  &.disabled {
    background-position: (-483px) -234px;
    .container div {
      background-position: right -104px;
      span {
        color: #bbb;
      }
    }
  }
}

.blist-combo div span {
  float: left;
}

.blist-combo-focused {
  background-position: (-483px) -182px;
  div {
    background-position: right -52px;
  }
  &:active, &.active {
    background-position: (-483px) -208px;
    div {
      background-position: right -78px;
    }
  }
}

div.uniform.checker {
  display: inline-block;
  height: 19px;
  position: relative;
  vertical-align: bottom;
  width: 19px;
  @include ie7-inline-block;
  input {
    display: inline-block;
    height: 19px;
    opacity: 0;
    width: 19px;
  }
  span {
    background-position: 0px -260px;
    display: block;
    float: left;
    height: 19px;
    text-align: center;
    width: 19px;
  }
  &:active span, &.active span {
    background-position: (-19px) -260px;
  }
  &.focus span, &:hover span {
    background-position: (-38px) -260px;
  }
  &.focus:active span, &:active:hover span, &.active:hover span, &.focus.active span {
    background-position: (-57px) -260px;
  }
  span.checked {
    background-position: (-76px) -260px;
  }
  &:active span.checked, &.active span.checked {
    background-position: (-95px) -260px;
  }
  &.focus span.checked, &:hover span.checked {
    background-position: (-114px) -260px;
  }
  &.focus:active span.checked, &:hover:active span.checked {
    background-position: (-133px) -260px;
  }
  &.active {
    &:hover span.checked, &.focus span.checked {
      background-position: (-133px) -260px;
    }
  }
  &.disabled {
    span, &:active span, &.active span {
      background-position: (-152px) -260px;
    }
    span.checked, &:active span.checked, &.active span.checked {
      background-position: (-171px) -260px;
    }
  }
}

div.uniform.radio {
  display: inline-block;
  height: 18px;
  position: relative;
  vertical-align: bottom;
  width: 18px;
  input {
    display: inline-block;
    height: 18px;
    opacity: 0;
    text-align: center;
    width: 18px;
  }
  span {
    background-position: 0px -279px;
    display: block;
    float: left;
    height: 18px;
    text-align: center;
    width: 18px;
  }
  &:active span, &.active span {
    background-position: (-18px) -279px;
  }
  &.focus span, &:hover span {
    background-position: (-36px) -279px;
  }
  &.focus:active span, &:active:hover span {
    background-position: (-54px) -279px;
  }
  &.active:hover span, &.active.focus span {
    background-position: (-54px) -279px;
  }
  span.checked {
    background-position: (-72px) -279px;
  }
  &:active span.checked, &.active span.checked {
    background-position: (-90px) -279px;
  }
  &.focus span.checked, &:hover span.checked {
    background-position: (-108px) -279px;
  }
  &.focus:active span.checked, &:hover:active span.checked, &.focus.active span.checked, &.active:hover span.checked {
    background-position: (-126px) -279px;
  }
  &.disabled {
    span, &:active span, &.active span {
      background-position: (-144px) -279px;
    }
    span.checked, &:active span.checked, &.active span.checked {
      background-position: (-162px) -279px;
    }
  }
}

div.uniform.uploader {
  background-position: 0px -297px;
  cursor: pointer;
  height: 28px;
  overflow: hidden;
  position: relative;
  width: 190px;
  span.action {
    background-color: #fff;
    background-position: right -409px;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding: 2px 0px;
    text-align: center;
    text-shadow: #fff 0px 1px 0px;
    width: 85px;
  }
  span.filename {
    @include clip-text;
    border-right: solid 1px #bbb;
    color: #777;
    display: block;
    float: left;
    font-size: 1.1em;
    height: 24px;
    line-height: 24px;
    margin: 2px 0px 2px 2px;
    padding: 0px 10px;
    width: 82px;
  }
  input[type="file"] {
    bottom: 0;
    float: right;
    height: 28px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 190px;
  }
  &.focus, &.hover, &:hover {
    background-position: 0px -353px;
  }
  &.focus span.action, &.hover span.action, &:hover span.action {
    background-position: right -437px;
  }
  &.active span.action, &:active span.action {
    background-position: right -465px;
  }
  &.focus.active span.action, &:focus.active span.action, &.focus:active span.action, &:focus:active span.action {
    background-position: right -493px;
  }
  &.disabled {
    background-position: 0px -325px;
    span.action {
      background-position: right -381px;
      color: #aaa;
    }
    span.filename {
      border-color: #ddd;
      color: #aaa;
    }
  }
}

#signup .password {
  @include sprite-menu-icons;
  .icon {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 3px;
  }
}
