html, body {
  background-color: transparent;
}

body.unscrollable {
 overflow: hidden;
}

.siteInnerWrapper {
  padding: 0;
}

// Styles that only apply to the edit modal in Storyteller.
.goal.embed.edit {
  .titleContainer {
    margin: 0;
    border: 0;
  }

  .goalBox {
    padding: 1rem;
  }
}
