#gridSidebarOverlay
  background-color: #000000
  filter: alpha(opacity = 50)
  opacity: 0.5
  height: 100%
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 50


#gridSidebar
  background-color: #ffffff
  border-left: 1px solid #cecece
  display: none
  float: right
  overflow: hidden
  position: relative
  width: 30em

  .close
    @include sprite-button-icons
    position: absolute
    right: 0.5em
    top: 0.7em

  .paneOverlay
    background-color: #cccccc
    height: 100%
    left: 0
    filter: alpha(opacity = 30)
    opacity: 0.3
    position: absolute
    top: 0
    width: 100%
    z-index: 60

  .outerPane
    .mainTitleBlock
      @include vertical-gradient(#989898, #848484)
      padding: 0.5em 1em

      .title
        color: #ffffff
        font-size: 1.3em
        text-transform: none

    .paneSelect
      background-color: #eeeeee
      border: 1px solid #cccccc
      margin: 0.5em
      padding: 0.25em 0.75em

      li
        float: left

        a
          display: inline-block
          font-size: 1.1em
          font-weight: bold
          padding: 4px 5px

          &.selected
            background-color: #ffffff
            border: 1px solid #cccccc
            color: #333333
            padding: 3px 4px

    &#gridSidebar_outer_filter
      .mainTitleBlock
        @include vertical-gradient(#57b6dd, #4ca9d0)
      .paneSelect
        background-color: #e1f4fd
        border-color: #afe5ff
    // Custom colors go here...

  .sidebarPane

    &.initialLoad .formSection
      filter: alpha(opacity = 30)
      opacity: 0.3

    .subtitleBlock
      padding: 1em

      .subtitle
        color: #999999
        font-size: 1.1em

    .scrollContent
      overflow: auto
      padding: 0.75em
      position: relative

    .formSection
      border-bottom: 1px solid #cccccc
      margin-bottom: 1em
      padding-bottom: 0.5em

      > .uniform.checker, .sectionSelect
        display: none

      &.selectable > .uniform.checker, &.selectable .sectionSelect
        display: inline-block

      .formHeader
        display: inline-block
        font-size: 1.2em
        font-weight: bold
        margin-bottom: 0.3em
        margin-left: -0.5em
        padding-left: 0

      .line
        margin: 0.5em 0

        label
          margin-right: 0.25em
          width: 5.5em

        textarea, select, input, .radioBlock
          width: 13em

        &.radioGroup
          background-color: #ececec
          padding-left: 0.75em

          label
            width: 4.75em

        .radioBlock
          width: 16.5em

        input[type="radio"], .uniform.radio
          margin-right: 0.5em
          width: auto

        span.error
          color: #ff0000
          display: block
          line-height: 1.7em
          margin-left: 6.3em
          padding-left: 15px

        .columnSelector
          @include text-hiding
          background-image: url(/stylesheets/images/controls/column_select_sprite.png)
          height: 20px
          margin-bottom: 3px
          margin-right: 0.5em
          position: relative
          vertical-align: bottom
          width: 20px

          &.inProcess
            background-position: 0 -20px
            z-index: 70

        &.columnSelect select
          font-size: 1em
          width: 11.6em

        .radioBlock
          label
            display: inline-block
            font-size: 1.2em
            font-weight: normal
            margin-right: 0
            padding-left: 0
            vertical-align: bottom
            width: 11.5em

            .uniform.selector
              font-size: 1em

          label
            select, input
              font-size: 1em
              width: 10.75em

          .columnSelect .uniform.radio
            margin-bottom: 3px

          .columnSelect label select
            width: 9.3333em

          label span.error
            font-size: 0.8333em
            margin-left: 0
            padding-left: 0

      &.collapsed
        .formHeader
          color: #999999

        .sectionContent
          display: none

    .finishButtons
      margin-top: 0.75em

      // Once the old app is gone, all these legacy actionButtons styles can go away
      li
        float: left

.paneSelectWizard
  .title
    margin-bottom: 1em
    text-transform: none

  ul li
    font-size: 1.1em
    line-height: 1.1em
    margin-top: 1em
    a
      display: block
      font-weight: bold
