#gridSidebar

  #gridSidebar_feed
    .formSection
      padding: 0 0.2em

  #gridSidebar_embedSdp
    .embedCodeWrapper
      margin-right: 1.2em

      #embed_code
        height: 12em
        font-size: 1em
        overflow: hidden
        padding: 0.5em
        width: 100%

    .left, .right
      clear: both
      padding-top: 1.5em

    .sizes li
      cursor: pointer
      float: left
      margin-right: 1em
      padding: 1em 0
      width: 6em

      p
        text-align: center

      .sizePreview
        background-color: $sidebar_bg_color
        border: 1px solid #777
        &.small
          height: 2.55em
          margin-left: 1.5em
          width: 3em
        &.medium
          height: 3.8em
          margin-left: 0.6em
          width: 4.5em
        &.large
          height: 5.1em
          width: 6em

      &:hover .sizePreview
        background-color: #f4f4f4
        border-color: #000
      &.selected .sizePreview
        background-color: #eef
        border-color: #334

    p.information
      font-style: italic
      padding-bottom: 0.4em

    .dimensions
      label
        width: 4em
      input
        width: 8em

  #gridSidebar_printDataset
    .subtitleBlock
      display: none
    .scrollContent > .formSection
      border: none
      margin: 0
      padding: 0
    .pageSizeHeader + .uniform.selector
      margin-left: 1em
      select
        width: 15em
    .formSection .margins .line input[type=text]
      width: 10em
    .formSection .line .uniform.checker,
    .formSection .line .uniform.radio
      margin-left: 1em
      margin-right: 0
    .optionsBlock label
      font-weight: normal
      margin-left: 0.5em
      width: 18em
    .submitLine
      display: none

  #gridSidebar_savedFilters, #gridSidebar_savedVisualizations
    .subtitleBlock
      display: none

  .itemsListBlock
    .emptyResult
      color: #999999
      display: none
      font-size: 1.2em
      font-style: italic
      text-align: center

    &.loading
      .loadingSpinner
        display: block
      .itemsContent
        display: none

    &.noResults
      .emptyResult
        display: block
      .itemsContent
        display: none

    .itemsContent
      margin-bottom: 1em

    .controlsBar
      position: relative
      .ie7 &
        z-index: 1
      .menu
        float: left
        .menuButton
          border: none
          padding-left: 0
        .icon
          display: inline-block
        .menuDropdown ul li
          ul li
            @include sprite-menu-icons
            a
              @include clip-text

      .viewSearch
        margin:
          left: 3.42em
          top: 0.5em
        width: 12em

      .clearViewSearch
        @include sprite-menu-icons
        display: none
        position: absolute
        left: 24em
        right: auto
        top: 0.9em

    .itemsList
      width: 25.75em

      .viewItem
        border: 1px solid $sidebar_chrome_border_color
        margin: 0.5em 0
        padding: 0.5em
        position: relative
        &.current
          background-color: #f5f5f5

        .viewIcon
          @include sprite-type-icons-30
          float: left
          margin-right: 0.75em
          padding: 0.5em 0

        .name
          @include clip-text
          display: block
          font-size: 1.2em
          font-weight: bold
          margin-bottom: 0.3em

        .authorLine
          @include clip-text
          color: $sidebar_text_color
          display: block
          font-size: 1.1em
          font-style: italic
          margin-bottom: 0.3em

        .description
          display: block
          font-size: 1.1em
          line-height: 1.1em
          overflow: hidden
          &.collapsed
            height: 1.1em

        .expand
          @include sprite-menu-icons
          position: absolute
          right: 0.2em
          top: 0.2em

  #gridSidebar_filterDataset.sidebarPane
    .formSection .line.custom
      .editorWrapper.stars
        margin-left: -11px

      .customWrapper.twoEditors
        .joiner
          float: left
          font-size: 1.2em
          margin-right: 0.2em
          &.stars
            margin-left: -2em

        .editorWrapper
          float: left

          textarea, input[type="text"]
            margin-right: 0.2em
            width: 5.1em

          .blist-combo
            margin:
              left: 0
              right: 0.2em
            width: 5em

          &:first-child .blist-combo
            margin-left: -2px

          &.stars
            float: none

      .blist-table-editor
        border: none
        font-size: 1em
        position: relative

        &.type-phone
          overflow: visible
          input.number
            margin-bottom: 0.3em
            padding: 0.2em

        &.type-url
          .labels
            font-size: 1.1em
            left: 0
            position: absolute
            text-align: right
            width: 5em

            span
              display: block
              margin-top: 0.5em

          input
            display: block
            margin-left: 5em
            margin-top: 0.1em
            width: 7.1em

        &.type-location
          .lat_long
            display: none
          .labels span
            font-size: 1.1em

        .blist-combo-value
          .icon
            margin-top: 3px
          img
            float: left
            margin:
              right: 5px
              top: 4px

  #gridSidebar_about .aboutDataset
    .aboutHeader
      margin-bottom: 1em

      .aboutAuthorImage
        height: 5em
        float: left
        margin-right: 1em
        width: 5em

      .aboutAuthorName
        font-size: 1.2em
        font-weight: bold
        padding-top: 1em

      p
        font-size: 1.1em

    .formSection
      margin-top: 2em

      a.expander
        @include sprite-menu-icons
        .icon
          float: left
          margin-right: 0.5em

    .sectionContent
      padding: 0

      > p
        font-size: 1.2em
        line-height: 1.1em
        padding: 1em

      > dt
        color: $sidebar_text_color
        font-size: 1.1em
        font-weight: bold
        margin: 1em
        position: absolute
        &:first-child + dd
          border-top: none

        &.widenedItem
          text-align: center
          width: 88%

      > dd
        border-top: 1px solid $sidebar_chrome_border_color
        color: $sidebar_text_color
        font-size: 1.1em
        padding: 1em
        text-align: right

        .wrap
          display: inline-block
          max-width: 17em

        .hardWrap
          display: inline-block
          max-width: 17em
          @include white-space-pre-wrap

        .starsControl
          float: right

      > li
        border-top: 1px solid $sidebar_chrome_border_color
        color: $sidebar_text_color
        font-size: 1.1em
        padding: 1em
        &:first-child
          border-top: none

    label
      display: block
      font-size: 1.1em
      font-weight: bold
      padding: 0
        bottom: 0.2em

    .contactOwnerForm
      display: none
      margin: 0 0.5em 1em

      textarea, input
        display: block
        margin-bottom: 1em
        width: 100%

      #uniform-contactPurpose
        margin-bottom: 1em

      #contactSubject
        height: 3em

  #gridSidebar_showHide
    .columnItem
      line-height: 1.5833em
      label
        padding-left: 0
