#gridSidebar

  #gridSidebar_feed
    .formSection
      padding: 0 0.2em

  #gridSidebar_embedSdp
    .embedCodeWrapper
      margin-right: 1.2em

      .htmlCode
        height: 12em
        font-size: 1em
        overflow: hidden
        padding: 0.5em
        width: 100%

    .divider
      font-size: 1.4em
      font-weight: bold
      margin: 1em 0
      text-align: center
      text-transform: uppercase

    .left, .right
      clear: both
      padding-top: 1.5em

    .sizes li
      cursor: pointer
      float: left
      margin-right: 1em
      padding: 1em 0
      width: 6em

      p
        text-align: center

      .sizePreview
        background-color: $color_chrome_sidebar_background
        border: 1px solid #777
        &.small
          height: 2.55em
          margin-left: 1.5em
          width: 3em
        &.medium
          height: 3.8em
          margin-left: 0.6em
          width: 4.5em
        &.large
          height: 5.1em
          width: 6em

      &:hover .sizePreview
        background-color: #f4f4f4
        border-color: #000
      &.selected .sizePreview
        background-color: #eef
        border-color: #334

    p.information
      font-style: italic
      padding-bottom: 0.4em

    .templateSection
      margin-top: 1em

  #gridSidebar_printDataset
    .subtitleBlock
      display: none
    .scrollContent > .formSection
      border: none
      margin: 0
      padding: 0
    .pageSizeHeader + .uniform.selector
      margin-left: 1em
    .formSection .line .uniform.checker,
    .formSection .line .uniform.radio
      margin-left: 1em
      margin-right: 0
    .optionsBlock label
      font-weight: normal
      margin-left: 0.5em
    .submitLine
      display: none

  #gridSidebar_api
    .apiContentWrapper
      p
        font-size: 1.2em
        padding: 0.75em
        margin-bottom: 1em

      .apiEndpointWrapper
        background-color: #ddd
        margin: 1em
        overflow-x: auto
        overflow-y: hidden
        padding: 2em

        pre
          font-size: 1.3em

  #gridSidebar_savedFilters, #gridSidebar_savedVisualizations
    .subtitleBlock
      display: none

  .itemsListBlock
    .emptyResult
      color: #999999
      display: none
      font-size: 1.2em
      font-style: italic
      text-align: center

    &.noResults
      .emptyResult
        display: block
      .itemsContent
        display: none

    &.emptySearch
      .emptyResult
        display: block
      .moreLink
        display: none

    .itemsContent
      margin-bottom: 1em

    .controlsBar
      position: relative
      .ie7 &
        z-index: 1
      .menu
        left: 0
        position: absolute
        top: 0
        .menuButton
          background-color: transparent
          border: none
          padding-left: 0
        .icon
          display: inline-block
        .menuDropdown ul li
          ul li
            @include sprite-menu-icons
            a
              @include clip-text

      .searchWrapper
        margin:
          left: 10em
          right: 0.5em

        .viewSearch
          margin-top: 0.3em
          width: 100%

        .clearViewSearch
          @include sprite-menu-icons
          display: none
          position: absolute
          right: 0.5em
          top: 0.8em

    .itemsList

      .viewItem
        border: 1px solid $color_chrome_box_border
        margin: 0.5em 0
        padding: 0.5em
        position: relative
        &.current
          background: url("/stylesheets/images/interface/owner_background.png") repeat-x

        .viewIcon
          @include sprite-type-icons-30
          float: left
          margin-right: 0.75em
          padding: 0.5em 0

        .name
          @include clip-text
          display: block
          font-size: 1.2em
          font-weight: bold
          line-height: 1.2em
          margin-bottom: 0.3em

        .authorLine
          @include clip-text
          color: $color_chrome_sidebar_text
          display: block
          font-size: 1.1em
          font-style: italic
          margin-bottom: 0.3em

        .description
          display: block
          font-size: 1.1em
          line-height: 1.1em
          overflow: hidden
          &.collapsed
            height: 1.1em

        .deleteViewLink
          @include sprite-repeater-icons
          position: absolute
          right: 1.7em
          top: 0.2em

        .expand
          @include sprite-menu-icons
          position: absolute
          right: 0.2em
          top: 0.2em

  #gridSidebar_filterDataset.sidebarPane
    .formSection .line.custom
      .editorWrapper.stars
        margin-left: -11px

      .customWrapper.twoEditors
        .joiner
          float: left
          font-size: 1.2em
          margin:
            left: 0.5em
            right: 0.2em
          &.stars
            margin-left: -2em

        .editorWrapper
          float: left
          width: 42%

          textarea, input[type="text"]
            margin-right: 0.2em
            width: 5.1em

          .blist-combo
            margin:
              left: 0
              right: 0.2em

          &:first-child .blist-combo
            margin-left: -2px

          &.stars
            float: none

      .blist-table-editor
        border: none
        font-size: 1em
        position: relative

        &.type-phone
          overflow: visible
          input.phoneNumber
            margin-bottom: 0.3em
            padding: 0.2em

        &.type-url
          margin-left: 5.2em
          .labels
            font-size: 1.1em
            left: -5.2em
            position: absolute
            text-align: right
            width: 5em

            span
              display: block
              margin-top: 0.5em

          input
            display: block
            margin-top: 0.1em

        &.type-location
          .lat_long
            display: none
          .labels span
            font-size: 1.1em

        .blist-combo-value
          .icon
            margin-top: 3px
          img
            float: left
            margin:
              right: 5px
              top: 4px

  #gridSidebar_about .aboutDataset
    .aboutHeader
      margin-bottom: 1em

      .aboutAuthorImageLink
        float: left
        margin-right: 1em

        .aboutAuthorImage
          height: 5em
          width: 5em

      .aboutAuthorName
        font-size: 1.2em
        font-weight: bold
        padding-top: 1em

      p
        font-size: 1.1em

    .unsavedView & .editMetadataButton
      display: none

    .formSection
      margin-top: 2em

      a.expander
        @include sprite-menu-icons
        .icon
          float: left
          margin-right: 0.5em

    .sectionContent
      padding: 0

      > p
        font-size: 1.2em
        line-height: 1.1em
        padding: 1em

      > dt
        color: $color_chrome_sidebar_text
        font-size: 1.1em
        font-weight: bold
        height: 2em
        margin-bottom: -4em
        overflow: hidden
        padding: 1em
        &:first-child + dd
          border-top: none

        &.widenedItem
          text-align: center

      > dd
        border-top: 1px solid $color_chrome_box_border
        color: $color_chrome_sidebar_text
        font-size: 1.1em
        overflow: hidden
        padding: 1em
          left: 10em
        text-align: right

        .wrap
          display: inline-block

        .hardWrap
          display: inline-block
          @include white-space-pre-wrap

        .starsControl
          float: right

      > li
        border-top: 1px solid $color_chrome_box_border
        color: $color_chrome_sidebar_text
        font-size: 1.1em
        padding: 1em
        &:first-child
          border-top: none

    label
      display: block
      font-size: 1.1em
      font-weight: bold
      padding-bottom: 0.2em

    div.selector.uniform
      label.error
        font-size: 0.9em
        line-height: 1em

    .contactOwnerForm
      display: none
      margin: 0 0.5em 1em

      textarea, input
        display: block
        margin: 0.5em 0
        overflow: auto
        width: 100%
        .ie7 &
          width: 93%

      #uniform-contactPurpose
        margin-bottom: 1em

      #contactSubject
        height: 3em

  #gridSidebar_showHide
    .columnItem
      line-height: 1.5833em
      label
        @include datatype-icons
        padding-left: 0

        .icon
          display: inline-block
          margin-bottom: -5px

      .checker.uniform
        margin-right: 2px
        .ie7 &
          display: inline

      &.childCol
        margin-left: 2em

  #gridSidebar_shareDataset .sharingForm
    .formHeader
      margin-bottom: 0.8em

    .removeShareLink
      @include sprite-repeater-icons
      float: left
      padding-left: 0.5em

    .shareDatasetButton
      @include sprite-repeater-icons
      margin-bottom: 1em

      .icon
        float: left
        margin-right: 0.4em

    .loadingShares
      font-size: 1.2em
      margin: 1em 0 1em 1em

    .loadingSharesIndicator
      @include throbber-icon
      float: left
      margin-right: 0.5em

    .noShares
      display: none
      font-size: 1.2em
      margin: 1em

    .shareNotifyArea
      display: none
      margin-top: 1em
      .shareNoticeSent
        display: none

    .itemsList
      margin-top: 1.5em

      .line
        margin-top: 1em

        .readOnlyType
          display: none
        &.inherited
          .selector
            display: none
        &.inherited, &.noGrant
          .selector.uniform
            display: none
          .removeShareLink
            visibility: hidden
          .readOnlyType
            display: block
            position: absolute
            right: 0.5em
            top: 0
            width: 8em

        .nameWrapper
          margin-right: 13em
          overflow: hidden
          .name
            @include clip-text
            font-size: 1.2em

        span.type
          font-size: 1.2em

        .profileImage
          background-image: url(/images/small-profile.png)
          display: block
          float: left
          height: 24px
          margin: 0 0.5em
          position: relative
          top: -0.5em
          width: 24px


        .selector.uniform
          position: absolute
          right: 0
          top: -0.5em
          width: auto

        select.type
          width: 10em

  #gridSidebar_guidedFilter
    label em
      font-size: 0.8em
      font-style: normal
      font-weight: bold

    .formSection .line
      .checker
        margin-left: 0.6em

      .checker + label
        font-size: 1.2em
        font-weight: normal
        margin-left: 0
        padding-left: 0
        width: 18em

    .facetRange
      .group label
        display: none

      .inputBlock
        display: inline-block

        input
          width: 8em

  .sidebarPane
    .formSection
      .line.colorValueGroup
        position: relative
        padding-left: 0

        .inputBlock
          label
            white-space: nowrap

          .line
            margin: 0

          .line.colorCollapse
            top: 0
            right: 1.5em

  #gridSidebar_signedDataset .formSection
    p
      font-size: 1.2em
      margin-bottom: 1em
      padding: 0.75em

      &.publisherText
        display: none

    ul.sectionContent li
      border-top: 1px solid $color_chrome_box_border
      padding: 0.6em
      text-align: center

      &:first-child,
      &.onlyChild
        border-top: none

      &.loading
        @include throbber-image
        background-position: 0.5em center

      textarea.datasetSignature
        @include white-space-pre-wrap
        border: none
        font-family: monaco, "courier new", monospace
        height: 8em
        width: 22em

      a.signedDatasetLink
        font-size: 1.2em
        font-weight: bold
        padding-top: 0.4em

  #gridSidebar_subscribe
    .feedList
      padding: 0.75em 1em
      text-align: center

      .feedItem
        display: inline-block
        padding: 0.3em
        .text
          font-size: 1.2em
        .subscribe
          @include sprite-menu-icons
          .icon
            float: left
            padding-right: 0.5em
        &.separated
          padding-top: 1.2em

  #gridSidebar_unifiedFilter
    .advancedLine
      font-size: 1.2em
      margin: 0 0.3em 0.5em

      .advancedLabel
        font-weight: bold

    .advancedOffLink,
    .advanced .advancedOnLink
      color: #000
      cursor: default
      font-weight: bold

    .advanced .advancedOffLink
      color: $color_links_normal
      cursor: pointer
      font-weight: normal

    .filterPane.notAdvanced .advanced
      display: none

    .noFilterConditionsText
      color: #888
      font-size: 1.3em
      font-weight: bold
      margin: 2em 0.2em
      text-align: center
      text-shadow: 1px 1px 0 #fff

    .filterConditions
      margin-bottom: 0.5em

      .filterCondition
        margin-top: 0.5em
        padding: 0.7em
        position: relative

        .filterRemoveButton
          @include sprite-menu-icons
          position: absolute
          right: 0.3em
          top: 0.3em

        .filterLink
          border-bottom: 1px dotted $color_links_normal
          font-size: 1.2em
          margin-right: 0.2em
          &:hover
            border-bottom-style: solid

          &.operator
            text-transform: lowercase

        .line
          line-height: 2.3em
          margin: 0.2em 0
          min-height: 2.3em

        .lineValue
          font-size: 1.3em
          font-weight: normal
          margin-right: 0.3em
          padding-left: 0.2em
          position: static
          width: auto

        .blist-table-editor
          border: none
          font-size: 1em

        textarea, input[type=text]
          width: auto

        .conjunction
          font-size: 1.1em
          padding:
            left: 0.3em
            right: 0.3em

        // editor styling
        .blist-table-editor.type-location
          .labels.street, .labels.city_state_zip
            font-size: 1.2em

        .blist-table-editor.type-phone .blist-combo
          margin: 0 // default styling clips

        // composite editors
        &.phone_number .blist-table-editor.type-phone .blist-combo-wrapper
          display: none
        &.phone_type .blist-table-editor.type-phone input.phoneNumber
          display: none

        &.url, &.description
          .blist-table-editor.type-url .labels
            display: none
        &.url .blist-table-editor.type-url input.description
          display: none
        &.description .blist-table-editor.type-url input.href
          display: none

        &.human_address .blist-table-editor.type-location .lat_long
          display: none
        &.latitude .blist-table-editor.type-location
          .labels.lat_long, .longitude, .street, .city_state_zip
            display: none
        &.longitude .blist-table-editor.type-location
          .labels.lat_long, .latitude, .street, .city_state_zip
            display: none

      .filterOptionsMenu
        bottom: 0.4em
        position: absolute
        right: 0.4em

        .filterOptionsMenuButton
          @include sprite-menu-icons

        .menuDropdown .menuEntry
          @include sprite-menu-icons('.icon', false)
          min-width: 17em

    .addFilterConditionButton
      @include sprite-menu-icons
      .icon
        float: left
        margin-right: 0.2em

    .invalid .blist-table-editor input
      color: $color_text_error
      font-style: normal

.popupColumnSelect
  .iconWrapper
    margin-top: -0.2em
    position: absolute

  .columnName
    padding-left: 2.1em
