// util
@mixin ie6-fix
  .ie6 &
    overflow: hidden

// icons/button_icons.png
@mixin sprite-button-icons($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    @include ie6-fix
    background-image: url(/stylesheets/images/icons/button_icons.png)
    height: 10px
    width: 10px

  #{$subselector},
  &.upArrow #{$subselector}
    background-position: 0 0
  &.go #{$subselector},
  &.submit #{$subselector}
    background-position: 0 -10px
  &.accept #{$subselector}
    background-position: 0 -20px
  &.add #{$subselector}
    background-position: 0 -30px
  &.downArrow #{$subselector}
    background-position: 0 -40px
  &.close #{$subselector},
  &.jqmClose #{$subselector},
  &.cancel #{$subselector},
  &.delete #{$subselector}
    background-position: 0 -50px

// icons/menu_icons.png
@mixin sprite-menu-icons($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    @include ie6-fix
    background-image: url(/stylesheets/images/icons/menu_icons.png)
    height: 13px
    width: 13px
    .ie6 &
      background-image: url(/stylesheets/images/icons/menu_icons.gif)

  &.none #{$subselector}
    background-position: 0 13px
  #{$subselector},
  &.downArrow #{$subselector},
  &.headerSortUp #{$subselector}
    background-position: 0 0
  &.downArrow:hover #{$subselector},
  &.downArrowHighlight #{$subselector},
  &.collapsed #{$subselector}
    background-position: 0 -13px
  &.upArrow #{$subselector},
  &.headerSortDown #{$subselector}
    background-position: 0 -26px
  &.upArrow:hover #{$subselector},
  &.upArrowHighlight #{$subselector},
  &.expanded #{$subselector}
    background-position: 0 -39px
  &.rightArrow #{$subselector}
    background-position: 0 -52px
  &.rightArrow:hover #{$subselector},
  &.rightArrowHighlight #{$subselector}
    background-position: 0 -65px
  &.leftArrow #{$subselector}
    background-position: 0 -78px
  &.leftArrow:hover #{$subselector},
  &.leftArrowHighlight #{$subselector}
    background-position: 0 -91px
  &.add #{$subselector}
    background-position: 0 -104px
  &.search #{$subselector}
    background-position: 0 -117px
  &.about #{$subselector}
    background-position: 0 -130px
  &.fullscreen #{$subselector}
    background-position: 0 -143px
  &.share #{$subselector}
    background-position: 0 -156px
  &.checked #{$subselector}
    background-position: 0 -169px
  &.iconView #{$subselector}
    background-position: 0 -182px
  &.listView #{$subselector}
    background-position: 0 -195px
  &.fatrowView #{$subselector}
    background-position: 0 -208px
  &.gridView #{$subselector}
    background-position: 0 -221px
  &.typeFilter #{$subselector}
    background-position: 0 -234px
  &.typeVisualization #{$subselector}
    background-position: 0 -247px
  &.typeMap #{$subselector}
    background-position: 0 -260px
  &.typeBlist #{$subselector}
    background-position: 0 -273px
  &.feed #{$subselector}
    background-position: 0 -286px
  &.embed #{$subselector}
    background-position: 0 -299px
  &.views #{$subselector}
    background-position: 0 -312px
  &.downloads #{$subselector}
    background-position: 0 -325px
  &.delicious #{$subselector}
    background-position: 0 -338px
  &.digg #{$subselector}
    background-position: 0 -351px
  &.facebook #{$subselector}
    background-position: 0 -364px
  &.twitter #{$subselector}
    background-position: 0 -377px
  &.email #{$subselector}
    background-position: 0 -390px
  &.rateUp #{$subselector}
    background-position: 0 -403px
  &.ratedUp #{$subselector}
    background-position: 0 -416px
  &.rateDown #{$subselector}
    background-position: 0 -429px
  &.ratedDown #{$subselector}
    background-position: 0 -442px
  &.typeForm #{$subselector}
    background-position: 0 -455px
  &.typeCalendar #{$subselector}
    background-position: 0 -468px
  &.typeBlob #{$subselector}
    background-position: 0 -481px
  &.typeGrouped #{$subselector}
    background-position: 0 -494px
  &.close #{$subselector}
    background-position: 0 -507px
  &.alert #{$subselector}
    background-position: 0 -520px

// icons/type_icons_30.png
@mixin sprite-type-icons-30($subselector: '.icon')
  #{$subselector},
  .alertIcon
    @include text-hiding
    @include ie6-fix
    background-image: url(/stylesheets/images/icons/type_icons_30.png)
    height: 30px
    width: 30px

  &.typeFilter #{$subselector}
    background-position: 0 0
  &.typeVisualization #{$subselector}
    background-position: 0 -30px
  &.typeMap #{$subselector}
    background-position: 0 -60px
  &.typeBlist #{$subselector}
    background-position: 0 -90px
  &.comments #{$subselector}
    background-position: 0 -120px
  &.embed #{$subselector}
    background-position: 0 -150px
  &.views #{$subselector}
    background-position: 0 -180px
  &.downloads #{$subselector}
    background-position: 0 -210px
  &.print #{$subselector}
    background-position: 0 -240px
  &.typeForm #{$subselector}
    background-position: 0 -270px
  &.typeCalendar #{$subselector}
    background-position: 0 -300px
  &.typeBlob #{$subselector}
    background-position: 0 -330px
  &.typeGrouped #{$subselector}
    background-position: 0 -360px
  &.api #{$subselector}
    background-position: 0 -390px
  &.alert #{$subselector},
  .alertIcon
    background-position: 0 -420px

// icons/feed_icons.png
@mixin sprite-feed-icons($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    @include ie6-fix
    background-image: url(/stylesheets/images/icons/feed_icons.png)
    height: 13px
    width: 19px

  &.comment #{$subselector}
    background-position: 0 0
  &.view #{$subselector}
    background-position: 0 -13px
  &.embed #{$subselector}
    background-position: 0 -26px
  &.trackback #{$subselector}
    background-position: 0 -39px

// icons/dataset_toolbar_icons.png
@mixin dataset-toolbar-icon-base
  @include text-hiding
  @include ie6-fix
  background-image: url(/stylesheets/images/icons/dataset_toolbar_icons.png)
  height: 13px
  width: 16px
@mixin dataset-toolbar-icon-search
  @include dataset-toolbar-icon-base
@mixin dataset-toolbar-icon-share
  @include dataset-toolbar-icon-base
  background-position: 0 -13px
@mixin dataset-toolbar-icon-maximize
  @include dataset-toolbar-icon-base
  background-position: 0 -26px
@mixin dataset-toolbar-icon-minimize
  @include dataset-toolbar-icon-base
  background-position: 0 -39px

// icons/repeater_icons.png
@mixin sprite-repeater-icons($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    @include ie6-fix
    background-image: url(/stylesheets/images/icons/repeater_icons.png)
    height: 14px
    width: 14px

  &.remove #{$subselector}
    background-position: 0 0
  &.add #{$subselector}
    background-position: 0 -14px

// interface/dataset_tabs.png
@mixin sprite-dataset-tabs($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    background-image: url(/stylesheets/images/interface/dataset_tabs.png)
    height: 29px
    width: 40px

  &.tabFilter #{$subselector}
    background-position: 0 0
  &.tabVisualize #{$subselector}
    background-position: 0 -29px
  &.tabExport #{$subselector}
    background-position: 0 -58px
  &.tabFeed #{$subselector}
    background-position: 0 -87px
  &.tabEmbed #{$subselector}
    background-position: 0 -116px
  &.tabAbout #{$subselector}
    background-position: 0 -145px
  &.tabEdit #{$subselector}
    background-position: 0 -174px

// common/close.png
@mixin close-button
  @include text-hiding
  @include ie6-fix
  background-image: url(/stylesheets/images/common/close.png)
  height: 13px
  width: 13px

// content/table/drilldown.png
@mixin drilldown-icon
  @include text-hiding
  @include ie6-fix
  background-image: url(/stylesheets/images/content/table/drilldown.png)
  height: 16px
  width: 24px

// content/snuffleupasnake.gif
@mixin throbber-icon
  @include text-hiding
  @include ie6-fix
  background-image: url(/stylesheets/images/content/snuffleupasnake.gif)
  height: 16px
  width: 16px
@mixin throbber-image
  background-image: url(/stylesheets/images/content/snuffleupasnake.gif)
  background-repeat: no-repeat

// common/BrandedSpinner.gif
@mixin branded-spinner
  @include text-hiding
  @include ie6-fix
  background-image: url(/stylesheets/images/common/BrandedSpinner.gif)
  height: 48px
  width: 48px

// Format icons
@mixin format-icon($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    background-image: url(/stylesheets/images/content/table_menu/rich_text_format_sprites.png)
    height: 16px
    width: 16px

  &.bold #{$subselector}
    background-position: 4px -3px
  &.underline #{$subselector}
    background-position: 3px -22px
  &.italic #{$subselector}
    background-position: 4px -43px
  &.strike #{$subselector}
    background-position: 4px -62px
    width: 30px
  &.bulletedList #{$subselector}
    background-position: 2px -83px
  &.numberedList #{$subselector}
    background-position: 2px -103px
  &.color #{$subselector}
    background-position: 2px -123px
  &.alignLeft #{$subselector}
    background-position: 4px -143px
    width: 20px
  &.alignCenter #{$subselector}
    background-position: 4px -183px
    width: 20px
  &.alignRight #{$subselector}
    background-position: 4px -163px
    width: 20px

// icons/menu_icons.png
@mixin admin-icons($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    @include ie6-fix
    background-image: url(/stylesheets/images/interface/admin_icons.png?1)
    height: 13px
    width: 13px

  &.home #{$subselector}
    background-position: 0 0
  &.datasets #{$subselector}
    background-position: 0 -13px
  &.comments #{$subselector}
    background-position: 0 -26px
  &.analytics #{$subselector}
    background-position: 0 -39px
  &.appearance #{$subselector}
    background-position: 0 -52px
  &.users #{$subselector}
    background-position: 0 -65px
  &.billing #{$subselector}
    background-position: 0 -78px
  &.internal #{$subselector}
    background-position: 0 -91px

// icons/new_dataset_icons.png
@mixin new-dataset-icons($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    background-image: url(/stylesheets/images/icons/new_dataset_icons.png)
    height: 64px
    width: 64px

  &.create #{$subselector}
    background-position: 0 0
  &.upload #{$subselector}
    background-position: 0 -64px
  &.blobby #{$subselector}
    background-position: 0 -128px

// icons/analytic_icons.png
@mixin analytic-icons($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    @include ie6-fix
    background-image: url(/stylesheets/images/icons/analytic_icons.png?1)
    height: 9px
    width: 9px

  &.plus #{$subselector}
    background-position: 0 0
  &.minus #{$subselector}
    background-position: 0 -9px


// Datatype icons
@mixin datatype-icons($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    @include ie6-fix
    background-image: url(/stylesheets/images/common/datatypes/data_type_sprites.png?1)
    height: 20px
    width: 20px

  &.calendar_date #{$subselector},
  &.date #{$subselector}
    background-position: 0 -340px
  &.checkbox #{$subselector}
    background-position: 0 -120px
  &.document #{$subselector},
  &.document_obsolete #{$subselector}
    background-position: 0 -280px
  &.drop_down_list #{$subselector},
  &.picklist #{$subselector}
    background-position: 0 -400px
  &.email #{$subselector}
    background-position: 0 -260px
  &.flag #{$subselector}
    background-position: 0 -380px
  &.html #{$subselector}
    background-position: 0 -60px
  &.location #{$subselector}
    background-position: 0 -460px
  &.money #{$subselector}
    background-position: 0 -40px
  &.nested_table #{$subselector}
    background-position: 1px -440px
  &.number #{$subselector}
    background-position: 0 -20px
  &.percent #{$subselector}
    background-position: 0 0
  &.phone #{$subselector}
    background-position: 0 -240px
  &.photo #{$subselector},
  &.photo_obsolete #{$subselector}
    background-position: 0 -100px
  &.stars #{$subselector}
    background-position: 0 -140px
  &.tag #{$subselector}
    background-position: 0 -180px
  &.text #{$subselector}
    background-position: 0 -80px
  &.url #{$subselector}
    background-position: 0 -360px

// Login icons
@mixin authentication-icons($subselector: '.icon')
  #{$subselector}
    @include text-hiding
    @include ie6-fix
    background-image: url(/stylesheets/images/interface/authentication_icons.png?1)
    height: 25px
    width: 25px 

  &.socrata #{$subselector}
    background-position: 0 0
  &.facebook #{$subselector}
    background-position: 0 -25px
  &.twitter #{$subselector}
    background-position: 0 -50px
  &.google #{$subselector}
    background-position: 0 -75px
  &.openid #{$subselector}
    background-position: 0 -100px
