// icons/button_icons.png
=sprite-button-icons
  .icon
    +text-hiding
    background-image: url(/stylesheets/images/icons/button_icons.png)
    height: 10px
    width: 10px

  .icon,
  &.upArrow .icon
    background-position: 0 0
  &.go .icon,
  &.submit .icon
    background-position: 0 -10px
  &.accept .icon
    background-position: 0 -20px
  &.add .icon
    background-position: 0 -30px
  &.downArrow .icon
    background-position: 0 -40px
  &.close .icon,
  &.jqmClose .icon,
  &.cancel .icon,
  &.delete .icon
    background-position: 0 -50px

// icons/menu_icons.png
=sprite-menu-icons
  .icon
    +text-hiding
    background-image: url(/stylesheets/images/icons/menu_icons.png)
    height: 13px
    width: 13px

  .icon,
  &.downArrow .icon,
  &.headerSortUp .icon
    background-position: 0 0
  &.downArrow:hover .icon,
  &.downArrowHighlight .icon
    background-position: 0 -13px
  &.upArrow .icon,
  &.headerSortDown .icon
    background-position: 0 -26px
  &.upArrow:hover .icon,
  &.upArrowHighlight .icon
    background-position: 0 -39px
  &.rightArrow .icon
    background-position: 0 -52px
  &.rightArrow:hover .icon,
  &.rightArrowHighlight .icon
    background-position: 0 -65px
  &.leftArrow .icon
    background-position: 0 -78px
  &.leftArrow:hover .icon,
  &.leftArrowHighlight .icon
    background-position: 0 -91px
  &.add .icon
    background-position: 0 -104px
  &.search .icon
    background-position: 0 -117px
  &.about .icon
    background-position: 0 -130px
  &.fullscreen .icon
    background-position: 0 -143px
  &.share .icon
    background-position: 0 -156px
  &.checked .icon
    background-position: 0 -169px
  &.iconView .icon
    background-position: 0 -182px
  &.listView .icon
    background-position: 0 -195px
  &.fatrowView .icon
    background-position: 0 -208px
  &.gridView .icon
    background-position: 0 -221px
  &.typeFilter .icon
    background-position: 0 -234px
  &.typeVisualization .icon
    background-position: 0 -247px
  &.typeMap .icon
    background-position: 0 -260px
  &.typeBlist .icon
    background-position: 0 -273px
  &.feed .icon
    background-position: 0 -286px
  &.embed .icon
    background-position: 0 -299px
  &.views .icon
    background-position: 0 -312px
  &.downloads .icon
    background-position: 0 -325px
  &.delicious .icon
    background-position: 0 -338px
  &.digg .icon
    background-position: 0 -351px
  &.facebook .icon
    background-position: 0 -364px
  &.twitter .icon
    background-position: 0 -377px
  &.email .icon
    background-position: 0 -390px

// icons/type_icons_30.png
=sprite-type-icons-30
  .icon
    +text-hiding
    background-image: url(/stylesheets/images/icons/type_icons_30.png)
    height: 30px
    width: 30px

  &.typeFilter .icon
    background-position: 0 0
  &.typeVisualization .icon
    background-position: 0 -30px
  &.typeMap .icon
    background-position: 0 -60px
  &.typeBlist .icon
    background-position: 0 -90px
  &.comments .icon
    background-position: 0 -120px
  &.embed .icon
    background-position: 0 -150px
  &.views .icon
    background-position: 0 -180px
  &.downloads .icon
    background-position: 0 -210px
  &.print .icon
    background-position: 0 -240px


// common/close.png
=close-button
  +text-hiding
  background-image: url(/stylesheets/images/common/close.png)
  height: 13px
  width: 13px

// content/table/drilldown.png
=drilldown-icon
  +text-hiding
  background-image: url(/stylesheets/images/content/table/drilldown.png)
  height: 16px
  width: 24px
