
// Not sure on the structural details yet, but here are the starts of styling for a lot of
// the commont controls that make up Janus-Socrata/Janus-Govstat.

.datasetIcon
  background-image: url(/stylesheets/images/icons/type_icons_30.png?1)
  height: 30px
  width: 30px

  &.type-filter
    background-position: 0 0
  &.type-chart
    background-position: 0 -30px
  &.type-map
    background-position: 0 -60px
  &.type-blist, &.type-table
    background-position: 0 -90px
  &.comments
    background-position: 0 -120px
  &.type-api, &.embed
    background-position: 0 -150px
  &.views
    background-position: 0 -180px
  &.downloads
    background-position: 0 -210px
  &.print
    background-position: 0 -240px
  &.type-form
    background-position: 0 -270px
  &.type-calendar
    background-position: 0 -300px
  &.type-blob
    background-position: 0 -330px
  &.type-grouped
    background-position: 0 -360px
  &.api
    background-position: 0 -390px
  &.alert, .alertIcon
    background-position: 0 -420px
  &.type-href
    background-position: 0 -450px
  &.type-unpublished
    background-position: 0 -480px
  &.type-snapshotted
    background-position: 0 -510px
  &.type-api-predeploy
    background-position: 0 -540px

.datasetSummary
  .datasetIcon
    display: inline-block
    vertical-align: bottom
  .datasetName
    display: inline-block
    line-height: 30px
    margin-left: 0.6em

.datasetListItem, .datasetSelectListItem
  .datasetIcon
    display: inline-block
    vertical-align: bottom
  .datasetName
    display: inline-block
    font-size: 1.6em
    line-height: 30px
    margin-left: 0.6em
  .byLine
    display: inline-block
    font-size: 1.4em
    margin-left: 0.8em
    @include opacity(0.8)

.datasetSelectListItem
  .actions
    float: right
    margin-top: -0.2em

.datasetPicker .catalogList li
  border-top: 1px solid #ddd
  padding: 1em 0

  &:first-child
    border-top: none

.metricSummary
  .valueColumn, .from, .metricDataset
    display: inline-block
    line-height: 30px
    margin-left: 0.4em

  .function
    text-transform: lowercase

.colorPicker
  border: 1px solid #cacaca
  display: inline-block

  a
    background: transparent url(/images/colorpicker/select_arrow.png) no-repeat right bottom
    display: block
    height: 18px
    width: 20px

.goalQuickEdit
  width: 75em

  ul.actions
    overflow: hidden

    li
      float: right
      margin-left: 0.4em

  .cardTitle
    border-bottom: 1px solid $color_chrome_box_border
    padding: 2em
    padding-top: 0

    .title
      width: 71em

  .prevailingMadLib
    background: #f7f7f7 url(/stylesheets/images/content/noise.png)
    @include prefixer(border-radius, 0 0 0.2em 0.2em)
    font-size: 0.6em
    margin: -0.9em
      top: 0
    padding: 1em
    text-align: center

    .madlib
      line-height: 5em
      padding-bottom: 2.5em

      .custom
        margin-bottom: 0.1em

      .inputWrapper .squishyDateEdit
        height: 3.5em
        margin-top: 1.5em

.awesomebubble
  background-color: #fff
  @include prefixer(border-radius, 0.2em)
  @include prefixer(box-shadow, 0 0 1.2em rgba(0, 0, 0, 0.6))
  padding: 0.8em
  position: absolute
  z-index: 1001

  .awesometip
    position: absolute

  &.top
    .awesometip
      @include triangle(0.7em, #fff, top)
      top: -1.4em
  &.bottom
    .awesometip
      @include triangle(0.7em, #fff, bottom)
      bottom: -1.4em

// probably a sane default?
.ui-draggable-dragging
  z-index: 9999


// TEMPHACK: put govstat edit styles here.
.subnavigation
  position: relative

  ul.actions
    position: absolute
    right: 2em
    top: 1.3em

    li
      float: left
      margin-left: 0.3em

      &.divider
        border-right: 2px dotted #bbb
        height: 3.4em
        margin-left: 1.2em
        margin-right: 0.8em

.gridFlowLayoutNew
  .newSingleItem
    border: 3px dotted #bbb
    display: block
    height: 16.6em
    padding: 3em
    position: absolute
    text-align: center
    @include transition(0.2s, border-color)
    width: 13.8em
    z-index: 1

    .icon, .text
      color: #bbb
      @include transition(0.2s, color)

    .icon
      font-size: 5em
      padding-top: 0.6em

    .text
      font-size: 2em

    &:hover
      border-color: $govstat_color_action

      .icon, .text
        color: $govstat_color_action

.dashboardPage.edit
  padding-top: 3em

  .categoryList > ul > li
    position: relative

    > .editHandle
      background: transparent url(/stylesheets/images/interface/drag_handle.png)
      cursor: move
      float: left
      height: 3.4em
      margin-right: 1.2em
      margin-top: 0.4em
      width: 6px

    > .editRemove
      color: #999
      display: block
      font-size: 2em
      overflow: hidden
      position: absolute
      right: 0.5em
      top: 0.5em
      @include transition(0.2s, color)
      width: 1em

      &:hover
        color: #bbb

    .categoryItem
      .categoryTitle
        h2
          .text
            visibility: hidden

          a
            display: inline-block
            font-size: 0.7em
            margin-left: 0.7em
            overflow: hidden
            width: 1em

        .edit input
          background: transparent
          border: none
          color: inherit
          font-family: "myriad pro"
          font-size: 1.48em
          left: 0.35em
          outline: none
          position: absolute
          top: 0
          width: 20em

        .color
          position: absolute
          right: 2.2em
          top: 0.4em

          a
            height: 20px
            width: 30px

        &.uncategorized
          background-color: #f7f7f7
          position: relative
          z-index: 2

          h2
            .text
              margin-left: -0.6em
              visibility: visible

            a
              display: none

          .color, .edit
            display: none

  .goalList ul
    min-height: 25em

    > .singleItemWrapper:first-child, > .ui-sortable-helper:first-child + .singleItemWrapper
      margin-left: 21.4em

