
// Not sure on the structural details yet, but here are the starts of styling for a lot of
// the commont controls that make up Janus-Socrata/Janus-Govstat.

@mixin rich-text
  h1, h2, h3
    font-weight: normal
    letter-spacing: -1px

  h1
    font-size: 1.8em !important

  p
    line-height: 1.5em
    padding-bottom: 1em

  ul
    list-style-type: circle
  ol
    list-style-type: decimal

  ul, ol
    margin-bottom: 1em

    li
      margin-bottom: 0.4em
      margin-left: 1.5em

  .content
    font-size: 1.45em
    padding: 0.5em 1em

    span
      font-size: 1em !important

@mixin popup-lower
  background: #f7f7f7 url(/stylesheets/images/content/noise.png)
  @include prefixer(border-radius, 0 0 0.2em 0.2em)
  margin: -0.9em
    top: 0
  overflow: hidden

// we use the b tag to semi-performantly templatize i18n.
b
  font-weight: normal

.datasetIcon
  background-image: url(/stylesheets/images/icons/type_icons_30.png?1)
  height: 30px
  width: 30px

  &.type-filter
    background-position: 0 0
  &.type-chart
    background-position: 0 -30px
  &.type-map
    background-position: 0 -60px
  &.type-blist, &.type-table
    background-position: 0 -90px
  &.comments
    background-position: 0 -120px
  &.type-api, &.embed
    background-position: 0 -150px
  &.views
    background-position: 0 -180px
  &.downloads
    background-position: 0 -210px
  &.print
    background-position: 0 -240px
  &.type-form
    background-position: 0 -270px
  &.type-calendar
    background-position: 0 -300px
  &.type-blob
    background-position: 0 -330px
  &.type-grouped
    background-position: 0 -360px
  &.api
    background-position: 0 -390px
  &.alert, .alertIcon
    background-position: 0 -420px
  &.type-href
    background-position: 0 -450px
  &.type-unpublished
    background-position: 0 -480px
  &.type-snapshotted
    background-position: 0 -510px
  &.type-api-predeploy
    background-position: 0 -540px

.datasetSummary
  .datasetIcon
    display: inline-block
    vertical-align: bottom
  .datasetName
    display: inline-block
    line-height: 30px
    margin-left: 0.6em
  .federatedLine
    display: none
    float: right
    font-size: 1.4em
    text-align: right
    text-overflow: ellipsis
    overflow: hidden
    white-space: normal
    margin-right: 0.5em
    @include opacity(0.8)
    .federatedLineText
      display: block
    .federatedSourceDomain

.datasetListItem, .datasetSelectListItem
  text-overflow: ellipsis
  white-space: nowrap

  .datasetIcon
    display: inline-block
    vertical-align: bottom
  .datasetName
    color: #000
    display: inline
    font-size: 1.6em
    line-height: 30px
    margin-left: 0.6em
  .byLine
    display: inline
    font-size: 1.4em
    margin-left: 0.8em
    @include opacity(0.8)

  .federatedLine
    display: none
    font-size: 1.4em
    text-overflow: ellipsis
    top: 0
    max-width: 12em           // SIGH. Tried making a fully fluid layout for HOURS, but failed.
    overflow: hidden
    position: absolute
    right: 7.5em
    white-space: normal
    text-align: right
    @include opacity(0.8)
    .federatedLineText
      white-space: nowrap
      display: block
    .federatedSourceDomain
      white-space: nowrap

    .locale_it &
      right: 12em
    .locale_pt &
      right: 14em
    .locale_ro &
      right: 11.5em

  &.hasFederation .federatedLine
    display: inline


.datasetSelectListItem
  max-height: 3em
  overflow: hidden

  .actions
    float: right
    margin-top: -0.1em

.datasetCatalogItem
  border-top: 1px solid $color_chrome_box_border
  padding: 0.8em 0 0

  &:first-child
    border-top: none

  .previewButton
    float: right
    padding-top: 1em
    position: relative
    z-index: 1

  .datasetPopup
    position: relative

    .head
      padding-right: 48em

      .datasetIcon
        float: left
        margin-right: 1em
        margin-top: 0.8em

      .datasetName
        margin-left: 0

      .byLine, .federatedLine
        margin-left: 3.3em

    .body
      background: none
      border: none
      margin: 0
      padding: 0
      position: absolute
      right: 10em
      top: 0
      .locale_pt &
        right: 15em
      .locale_ro &
        right: 14em
      .locale_it &
        right: 11.5em

      .details
        border-right: 1px solid $color_chrome_box_border
        font-size: 0.7em
        margin-right: 2em
        padding: 0
        width: 42em

      .actions
        display: none

  .preview
    clear: both
    height: 0
    @include opacity(0)
    padding: 0
    @include transition(0.5s, height opacity padding)

    &.active
      height: 35em
      @include opacity(1)
      padding: 1em 0

    .datasetRender
      height: 35em

      .fullHeight
        height: 100%

      .renderTypeNode ~ .renderTypeNode
        display: none

.datasetPicker
  .catalogList li
    border-top: 1px solid #ddd
    padding: 1em 0

    &:first-child
      border-top: none

    .datasetSelectListItem
      padding-right: 11em
      position: relative

      &.hasFederation
        padding-right: 28em

      .actions
        float: none
        position: absolute
        right: 0
        top: 0

.datasetUrlPicker
  padding: 1em 0

  .madlib
    text-align: left

    .inputWrapper
      display: block

      input
        font-size: 1.4em

  .selectDatasetButton
    float: right

.datasetRecentPicker .selectItem .datasetSummary.hasFederation .federatedLine
  display: inline

.metricSummary
  .valueColumn, .from, .metricDataset
    display: inline-block
    line-height: 30px
    margin-left: 0.4em

  .function
    text-transform: lowercase

.valueColumnSummary
  .columnListItem, .columnName
    display: inline-block

  .columnIcon
    display: inline-block
    vertical-align: bottom

.colorPicker
  border: 1px solid #cacaca
  display: inline-block

  a
    background: transparent url(/images/colorpicker/select_arrow.png) no-repeat right bottom
    display: block
    height: 18px
    width: 20px

.listEnum .selectControls
  float: right
  margin-top: -0.1em

  .selectButton.selected
    background-color: #888 // TODO: revisit when i restyle widgets

.catalog
  .catalogFacets
    overflow: hidden
    padding-bottom: 1em
    position: relative

  .facetQuery
    background-color: #999
    @include prefixer(border-radius, 0.2em)
    float: left
    margin-right: 1em
    margin-top: 0.4em
    width: 33em

    &:before
      color: #fff
      font-size: 1.3em
      margin-left: 0.7em
      margin-top: 0.8em
      position: absolute

    input
      background: transparent
      border: none
      color: #fff
      font-family: 'Myriad Pro', Arial, sans-serif
      font-size: 1.5em
      margin: 0
      outline: none
      padding: 0.5em 1em 0.4em 2em
      width: 100%

  .facetTypes
    float: left
    margin-right: 1em

    ul
      overflow: hidden
      width: 40.4em

    .catalogType
      float: left

      .button
        background-color: #999
        display: block
        height: 3em
        padding: 1em
        width: 3em

        .icon
          font-size: 1.7em
          padding: 0.1em 0
          text-align: center

        .text
          font-size: 0.8em
          text-align: center
          white-space: normal
          line-height: 1em

        &:hover, &.selected
          &.type-all
            background-color: #666
          &.type-datasets
            background-color: $displaytype_table_color
          &.type-charts
            background-color: $displaytype_chart_color
          &.type-maps
            background-color: $displaytype_map_color
          &.type-filters
            background-color: $displaytype_filter_color
          &.type-blob
            background-color: $displaytype_blob_color

    .type-calendars, .type-href, .type-forms
      display: none

  .facetCategories
    float: left
    margin-top: 0.4em

    .selectWrapper
      background-color: #999
      @include prefixer(border-radius, 0.2em)
      min-width: 17em
      position: relative

      .selectValue
        color: #fff
        font-size: 1.5em
        height: 2.05em
        line-height: 2em
        padding-left: 1em
        padding-right: 2.4em

      &:after
        @include triangle(0.5em, #fff, top)
        content: ''
        position: absolute
        right: 0.8em
        top: 1.3em

      select
        @include opacity(0)
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 99

  .noResultsMessage
    font-size: 1.4em
    padding: 1em 0

  .pager
    padding-top: 0.5em

    .pagerLabel
      font-size: 1.3em

    .pagerInput
      display: inline

      select
        font-size: 1.1em

.measureChart
  &.hide
    display: block !important // important wars
    height: 0
    visibility: hidden

.progressQuality
  padding: 1.5em

  &.needsAttention-true
    .indicatorStatus
      background-color: $govstat_color_poor
    .indicatorName
      color: $govstat_color_poor

  .indicatorStatus
    @include rounded-ends
    background-color: $govstat_color_good
    color: #fff
    display: block
    float: left
    font-size: 1.6em
    height: 1.5em
    line-height: 1.3em
    text-align: center
    width: 1.5em

    &.ss-alert
      line-height: 1.2em

  .indicatorName
    color: $govstat_color_good
    font-size: 2em
    padding: 0.1em 1.5em

  .indicatorValue
    clear: left
    padding: 1.4em 0

    .value
      font-size: 2.2em
      padding-bottom: 0.15em

    .unit
      color: #777
      font-size: 1.4em

  .indicatorDescription
    font-size: 1.3em
    line-height: 1.2em

  .awesomebubble &
    padding-right: 20em
    position: relative

    .indicatorValue
      position: absolute
      right: 1em
      text-align: right
      top: -0.6em

    .indicatorDescription
      display: none

.goalQuickEdit
  width: 75em

  ul.actions .saveGoalMessage
    color: #888
    font-size: 1.2em
    padding: 0.9em

  .cardTitle
    border-bottom: 1px solid $color_chrome_box_border
    padding: 2em
    padding-top: 0

    .title
      width: 71em

  .cardDetails
    @include popup-lower

    .detailSection
      float: left
      width: 50%

      .wrapper
        padding: 2em

      .detailHeader
        font-size: 1.5em
        padding-bottom: 0.5em

      .iconSelect
        height: 15em
        overflow-y: auto

    .detailSection.icon
      border-right: 1px solid $color_chrome_box_border
      margin-right: -1px

    .detailSection.privacy
      .stateDescription
        padding: 0.7em 0

      .stateToggle
        float: none
        padding: 0.5em 0

        .button
          margin: 0

.iconSelect
  .listEnum
    overflow: hidden
    .iconWrapper
      float: left

      .icon
        cursor: pointer
        font-size: 1.5em
        padding: 0.25em

        &.ss-
          height: 1.2em
          width: 1em

        &.selected, &:hover
          background-color: $govstat_color_none
          color: #fff

.narratives
  .addNarrative
    padding-bottom: 5em
    padding-top: 3em
    text-align: center

    .button.add
      font-size: 3em

      + .arrow
        font-size: 3em

    .button
      @include rounded-ends
      font-size: 2em
      height: 2.2em
      line-height: 1.94em
      margin: 0
      padding: 0
      position: relative
      text-align: center
      width: 2.2em
      z-index: 1

    .arrow
      @include triangle(1em, darken($govstat_color_action, 20%), bottom)
      content: ''
      font-size: 2em
      left: 50%
      margin-left: -1em
      margin-top: -3.58em
      position: absolute
      z-index: 0

    .narrativeTypes
      left: 50%
      position: absolute
      text-align: left

      > div
        left: 0
        margin-left: -2.2em
        @include opacity(0)
        position: absolute
        top: -4em
        @include transition(0.3s, left top opacity)

        .label
          font-size: 1.3em
          margin-left: -2.3em
          margin-top: 0.5em
          text-align: center
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9)
          width: 8em

      .text
        @include prefixer(transition-delay, 0.04s)
      .image
        @include prefixer(transition-delay, 0.08s)
      .viz
        @include prefixer(transition-delay, 0.12s)

      .layout .button
        background-color: desaturate(darken($govstat_color_action, 10%), 40%)

    &.active
      .narrativeTypes
        > div
          @include opacity(1)
          top: 2em

        .twoColumn
          left: -12em
          top: -2em
        .text
          left: -4em
        .image
          left: 4em
        .viz
          left: 12em
          top: -2em

  .narrativeEditWrapper
    margin-bottom: 1em
    position: relative

    .editHandle
      background: transparent url(/stylesheets/images/interface/drag_handle.png)
      bottom: 0
      cursor: move
      left: -1em
      position: absolute
      top: 1.2em
      width: 0.8em

    > .addNarrative
      padding: 0
      position: absolute
      right: 0
      top: 0
      z-index: 999 + 1 // bing + 1

      .addItem
        font-size: 1em
        left: 4em
        top: -1em

      .arrow
        @include triangle(0.4em, darken($govstat_color_action, 20%), right)
        left: 1.35em
        margin: 0
        top: -0.34em

      .narrativeTypes
        > div
          left: 5.1em
          top: -3.1em
          z-index: 0

          .button
            font-size: 1em

          .label
            margin-left: 2.1em
            margin-top: -1.4em
            text-align: left
            width: 5.5em

      &.active
        .narrativeTypes
          z-index: 999 + 2 // bing + 2

        .twoColumn
          left: 3em
          top: -10em
        .text
          left: 1.5em
          top: -6em
        .image
          left: 1.5em
          top: 0
        .viz
          left: 3em
          top: 4em

      &:hover ~ .editItem
        border-top-color: #ccc

    > .editRemove
      @include rounded-ends
      font-size: 1em
      height: 2.2em
      line-height: 1.9em
      padding: 0
      position: absolute
      right: -7.5em
      text-align: center
      top: -1.3em
      width: 2.2em
      z-index: 2

      &:hover ~ .editItem > .narrative
        background: rgba(255, 0, 0, 0.05) url(/images/hatchpattern.png)
        @include opacity(0.8)

        > *
          @include opacity(0.6)

    > .line
      border-top: 1px solid #ccc
      height: 0
      right: -5.5em
      position: absolute
      top: 1px
      width: 2em

    > .editItem
      border-top: 2px dotted transparent
      padding-top: 1em
      @include transition(0.2s, border-color background-color)

  .narrative
    border-color: transparent
    min-height: 8em
    @include transition(0.2s, border-color opacity)

    &.uninitialized
      border: 1px solid #ccc
      @include prefixer(border-radius, 0.2em)

  .narrative.twoCol
    min-height: auto
    padding-top: 2em

    &.edit .narratives.edit:first-child > ul
      padding-left: 1em

    > .list > ul > ul
      float: left
      position: relative
      width: 50%

      &:first-child .narrative
        margin-right: 1.5em

      &:last-child .narrative
        margin-left: 1.5em

    > .list > ul > .narratives
      float: left
      position: relative
      width: 50%

      .noChildrenContent
        border: 1px solid #ccc
        @include prefixer(border-radius, 0.2em)
        height: 3em
        margin: 1.2em
          bottom: 0

      .addNarrative
        padding-bottom: 0

        .narrativeTypes
          .twoColumn
            display: none

      &:first-child
        .editRemove
          left: -7.5em
          right: auto

        .narrativeEditWrapper
          .addNarrative
            left: 0
            right: auto

            .button.addItem
              left: auto
              right: 4em

            .arrow
              @include triangle(0.4em, darken($govstat_color_action, 20%), left)
              left: auto
              right: 1.4em

          .line
            left: -5.5em
            right: auto


        .narrative
          margin-right: 1.5em

      &:last-child
        .editHandle
          left: 0

        .narrative
          margin-left: 1.5em

    .clear
      clear: both

  .narrative.text
    @include rich-text

    b
      font-weight: bold

  .narrative.text.edit
    .textbox .richEdit
      background-color: #e5e5e5
      @include prefixer(border-radius, 0.15em)
      font-size: 1.6em
      min-height: 45px !important // weird hallo thing
      padding: 1em 1.5em

      span
        font-size: 1em !important

  .narrative.image
    overflow: hidden
    text-align: center

  .narrative.image.edit
    .imageEdit
      margin-right: -7em
      margin-top: -1.5em
      position: absolute
      right: 9em
      top: 50%
      @include transition(0.5s, right)

      &:after
        @include triangle(0.7em, $govstat_color_action, right)
        content: ''
        left: -1em
        position: absolute
        top: 1em
        @include transition(0.5s, left)

    &.uninitialized .imageEdit
      right: 50%

      &:after
        left: -0.3em

  .narrative.viz
    position: relative
    @include transition(0.4s, min-height)

    .vizContainer
      height: 35em

      .fullHeight
        height: 100%

      > .renderTypeNode
        display: none

        &:first-child
          display: block

          > .divider
            display: none

    .exploreLink
      padding: 0.4em 0
      text-align: right

      a
        font-size: 1.2em

        &:hover
          text-decoration: underline

        &:before
          margin-right: 0.3em
          position: relative
          top: 0.1em

  .narrative.viz.edit
    .pickerToggle
      margin-right: -8em
      margin-top: -1.5em
      @include opacity(1)
      position: absolute
      right: 10em
      top: 50%
      @include transition(0.2s, opacity right)
      z-index: 999 // fuck you bing!

      &:after
        @include triangle(0.7em, $govstat_color_action, right)
        content: ''
        left: -1em
        position: absolute
        top: 1em
        @include transition(0.5s, left)

      .button
        @include prefixer(box-shadow, 0 0 0.3em rgba(0, 0, 0, 0.8))

    .vizContainer
      @include transition(0.3s, filter)

    &.uninitialized
      .vizContainer
        height: 0

      .pickerToggle
        right: 50%

        &:after
          left: -0.3em

        .button
          @include prefixer(box-shadow, none)

    &.active
      min-height: 68em

      .vizContainer
        @include prefixer(filter, blur(0.4em))

      .pickerToggle
        @include opacity(0)

    .datasetPickerWrapper
      background: rgba(247, 247, 247, 0.85)
      bottom: 0
      left: 0
      padding: 1.5em 3em
      position: absolute
      right: 0
      top: 0
      z-index: 21 // fuck you highcharts!

      .inPickerToggle
        bottom: 1.5em
        position: absolute
        right: 3em

.listEnum .dashboard.listItem
  @include prefixer(border-radius, 0.2em)
  bottom: 0.6em
  height: 4.5em
  margin-top: 0.3em
  position: relative

  a.dashboardLink
    h2.name
      font-size: 1.6em
      margin-right: 1em

  .actions
    display: none

.validation
  display: none

  &.active
    display: block // TODO: someday with the fancy fade?

  &.severity-error
    .validationBubble
      background-color: $govstat_color_poor
    .validationIcon
      color: $govstat_color_poor
      &.ss-alert
        display: none
  &.severity-warning
    .validationBubble
      background-color: $govstat_color_flat
    .validationIcon
      color: $govstat_color_flat
      &.ss-delete
        display: none

    .validationBubble:before
      border-bottom-color: $govstat_color_flat

  .validationMarker
    @include rounded-ends
    display: block
    font-size: 1.2em
    overflow: hidden
    padding: 0.25em

    .validationIcon
      height: 1em
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2)
      width: 1em

    .count
      color: #fff
      margin-top: -1em
      min-height: 1em

  .validationBubble
    @include prefixer(border-radius, 0.2em)
    @include prefixer(box-shadow, 0 0 0.4em rgba(0, 0, 0, 0.2))
    color: #fff
    left: -10em
    @include opacity(0.95)
    padding: 1em
    position: absolute
    top: 2.5em
    width: 20em

    &:before
      @include triangle(0.5em, $govstat_color_poor, bottom)
      content: ''
      left: 50%
      margin-left: -0.6em
      margin-top: -1em
      position: absolute
      top: 0

.issueMessage
  font-size: 1.2em

  .icon .ss-delete
    margin-top: -1em
  &.active.severity-error .icon .ss-delete
    margin-top: 0
  &.active.severity-warning .icon .ss-delete
    margin-top: -2em

  .icon
    height: 1em
    float: left
    margin-right: 0.3em
    overflow: hidden
    width: 1em

    .ss-check
      margin-top: 0em
      @include transition(0.3s, margin)

  .message
    line-height: 1.2em
    margin-left: 1.5em
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3)

.selectedDataset .federatedLine
  position: static
  margin-left: 0.2em
  .federatedLineText
    display: inline

.datasetPopup
  min-width: 45em
  padding: 0.1em

  .datasetListItem
    padding-bottom: 1.4em
    padding-left: 0.5em

    .datasetIcon
      display: block
      float: right

    .datasetName
      font-size: 2.2em

    .byLine, .federatedLine
      font-size: 1.2em

    .federatedLine
      display: none
      text-align: left
      max-width: none

    .federatedLineText
      display: inline
      margin-right: 0.2em

    &.hasFederation .federatedLine
      position: static
      display: block

    div
      display: block
      margin-left: 0

  .body
    @include popup-lower
    border-top: 1px solid $color_chrome_box_border
    padding: 1em
    overflow: visible

    .details
      padding: 1em 0

      .detail
        border-right: 1px solid $color_chrome_box_border
        float: left
        text-align: right
        width: 33.33%

        &:last-child
          border-right: none
          float: none
          overflow: hidden
          width: auto

        .wrapper
          padding: 1em

        .count
          color: #999
          font-size: 3.5em
          letter-spacing: -1px
          white-space: nowrap
          float: right

        .label
          color: #444
          clear: both
          font-size: 1.6em

    .actions
      background-color: rgba(0, 0, 0, 0.04)
      @include prefixer(border-radius, 0 0 0.2em 0.2em)
      margin: -0.9em
        top: 1em
      padding: 0.7em


.awesomebubble .saveAsForm
  width: 65em

  .madlib
    .inputWrapper
      display: block

    input
      font-size: 1.6em

  > h2
    font-size: 1.8em
    font-weight: normal
    margin: 0.5em 0 1em

  .listEnum .dashboard.listItem
    width: 55em

.awesomebubble .createDashboardForm
  width: 60em

  .madlib
    padding: 1em
      top: 0

    .name
      width: 58em

      input
        text-align: left

.awesomebubble .createGoalForm
  width: 50em

  .madlib
    line-height: 5em
    padding: 1em
      top: 0

    .name
      width: 48em

      input
        font-size: 1.6em
        text-align: left

.awesomebubble .confirmDialog
  .message
    font-size: 1.4em
    max-width: 25em
    padding: 0.8em 1em

.awesomebubble
  background-color: #fff
  @include prefixer(border-radius, 0.2em)
  @include prefixer(box-shadow, 0 0 1.2em rgba(0, 0, 0, 0.6))
  padding: 0.8em
  position: absolute
  z-index: 5001

  .awesometip
    position: absolute

  &.top
    .awesometip
      @include triangle(0.7em, #fff, top)
      top: -1.4em
  &.bottom
    .awesometip
      @include triangle(0.7em, #fff, bottom)
      bottom: -1.4em

  ul.actions
    overflow: hidden

    li
      float: right
      margin-left: 0.4em

    li.left
      float: left
      margin-left: 0.6em

      h2
        font-size: 1.3em
        font-weight: normal
        padding: 0.4em 0.85em

@keyframes spin
  from
    @include prefixer(transform, rotateZ(0deg))

  to
    @include prefixer(transform, rotateZ(360deg))

.smallLoader
  margin: 0.8em 0
  text-align: center

  svg
    @include prefixer(animation-duration, 1.3s)
    @include prefixer(animation-iteration-count, infinite)
    @include prefixer(animation-name, spin)
    @include prefixer(animation-timing-function, linear)
    height: 25px
    width: 25px


.janusConsole
  bottom: 0
  position: fixed
  z-index: 9999
  width: 100%

  &.shown
    .scrollback
      bottom: 8em
      @include opacity(1)
      top: auto
    .prompt
      top: -8em

  .scrollback
    background-color: rgba(0, 0, 0, 0.85)
    @include prefixer(border-radius, 0.2em)
    @include prefixer(box-shadow, 0 0 0.7em rgba(0, 0, 0, 0.7))
    color: #fff
    left: 0
    margin: 1em 3em
    @include opacity(0)
    padding: 0.6em 0
    position: absolute
    right: 0
    top: 0
    @include transition(0.8s, opacity)

    &.hide
      @include opacity(0)

    li.commandOutput
      border-top: 1px dotted rgba(255, 255, 255, 0.6)
      margin: 0 1.5em
      overflow: hidden
      padding: 1.5em
      position: relative

      &:first-child
        border-top: none

      .commandNumber, .commandText, .resultNumber
        font-family: Monaco, monospace
        font-size: 1.4em
        text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.4)

      .commandNumber
        float: left
        padding-bottom: 0.7em
        margin-right: 0.7em
        @include opacity(0.7)

      .resultNumber
        clear: left
        float: left
        @include opacity(0.7)

      .resultBody
        margin-left: 4.2em
        margin-top: 1em

        .literal
          font-family: Monaco, monospace
          font-size: 1.4em

  .prompt
    background-color: rgba(255, 255, 255, 0.92)
    @include prefixer(border-radius, 0.2em)
    @include prefixer(box-shadow, 0 0 0.7em rgba(0, 0, 0, 0.7))
    left: 0
    margin: 1em 3em
    padding: 1em 2em
    position: absolute
    right: 0
    top: 0
    @include transition(0.6s, top)

    .caret
      color: #777
      float: left
      font-family: Monaco, monospace
      font-size: 1.8em
      line-height: 1.25em
      margin-right: 0.5em

    .consolePrompt input
      background: none
      border: none
      font-family: Monaco, monospace
      font-size: 1.8em
      margin: 0
        right: -3em
      outline: none
      padding: 0
      width: 100%

// probably a sane default?
.ui-draggable-dragging
  z-index: 9999

#objectCache
  display: none


// TEMPHACK: put govstat edit styles here.

.page.govstatRoot
  .defaultDashboard .dashboard
    .dashboardHeader, .dashboardDescription
      display: none

.siteContentWrapper .subnavigationWrapper
  margin: -2em -4em 2em

  .subnavigation
    margin: 0

.subnavigation
  position: relative

  &.sticky
    background-color: rgba(231, 231, 231, 0.95)
    @include prefixer(box-shadow, 0 0 0.6em rgba(0, 0, 0, 0.4))
    left: 0
    margin: 0
    position: fixed
    top: 0
    right: 0
    z-index: 2000

    &.edited
      background-color: rgba(252, 244, 202, 0.95)

    + *
      margin-top: 4em

  ul.actions
    position: absolute
    right: 2em
    top: 1.3em

    li
      float: left
      margin-left: 0.3em

      &.divider
        border-right: 2px dotted #bbb
        height: 3.4em
        margin-left: 1.2em
        margin-right: 0.8em

.gridFlowLayoutNew
  .newSingleItem
    border: 3px dotted #000
    display: block
    height: 16.6em
    @include opacity(0.3)
    padding: 3em
    position: absolute
    text-align: center
    @include transition(0.2s, border-color opacity)
    width: 13.8em
    z-index: 1

    .icon, .text
      color: #000
      @include transition(0.2s, color)

    .icon
      font-size: 5em
      padding-top: 0.6em

    .text
      font-size: 2em

    &:hover
      border-color: $govstat_color_action
      @include opacity(1)

      .icon, .text
        color: $govstat_color_action

.manageDataPage
  h2.manageDataHeader
    font-size: 4em
    font-weight: normal
    letter-spacing: -0.04em
    padding-bottom: 0.1em

  p.manageDataIntro
    font-size: 1.8em
    line-height: 1.4em
    padding-bottom: 2em
    padding-left: 0.1em

  .listing > ul
    clear: both
    padding-top: 1em

  .catalogTypeEnum
    float: left

    .manageDataType
      float: left

    .selectButton
      background-color: #999
      height: 9.6em
      width: 9em

      &.selected, &:hover
        background-color: #666

      .icon
        font-size: 4em
        padding-top: 0.6em
        text-align: center

      .text
        font-size: 1.5em
        text-align: center
        padding-top: 1.9em
        white-space: normal
        line-height: 1em

  .catalogList
    clear: both
    padding-top: 1em

  .catalog
    .catalogFacets
      padding-left: 0.7em

    .facetTypes ul
      width: 20.2em

.dashboardListPage.page
  .dashboardsHeader
    font-size: 4em
    font-weight: normal
    letter-spacing: -0.04em
    padding-bottom: 0.1em

  .dashboardsIntro
    font-size: 1.8em
    line-height: 1.4em
    padding-bottom: 2em
    padding-left: 0.1em

  .dashboardList
    padding-bottom: 3em

  .dashboard.listItem
    margin-bottom: 2em

.dashboard.listItem
  @include prefixer(border-radius, 0.4em)
  @include prefixer(box-shadow, 0 0 0.5em rgba(0, 0, 0, 0.35))
  height: 12em
  overflow: hidden
  position: relative

  .dashboardImage img
    @include transition(0.2s, opacity)
    width: 100%

  &:hover .dashboardImage img
    @include opacity(0.8)

  a.dashboardLink
    display: block
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

    h2.name
      bottom: 0.6em
      color: #fff
      font-size: 3em
      font-weight: normal
      letter-spacing: -0.02em
      margin: 0
        left: 1em
        right: 15em
      position: absolute
      text-shadow: 0 0 0.25em rgba(0, 0, 0, 1)

  ul.actions
    bottom: 2.2em
    overflow: hidden
    position: absolute
    right: 3em

    li
      float: right
      margin-left: 0.6em

      .button
        @include prefixer(box-shadow, 0 0 0.3em rgba(0, 0, 0, 0.8))

.dashboardPage .dashboard
  .dashboardHeader
    margin: -2em -4em 2em
    position: relative

    .dashboardImage
      height: 25em

      &.full
        border-bottom: 1px solid #fff
        overflow: hidden
        position: absolute
        width: 100%
        z-index: 1

      &.blur
        // sadly, chrome can't handle this performantly and all other browsers
        // ignore it. so for now, just don't use it, and wait for computers to
        // get better.
        // @include prefixer(filter, blur(1.8em) brightness(1.3))
        // @include opacity(0.25)

        @include opacity(0.08)
        position: relative

        .wrapper
          overflow: hidden

        .fade
          @include vertical-gradient(rgba(247, 247, 247, 0), rgba(247, 247, 247, 1))
          bottom: 0
          height: 15em
          margin-top: -15em
          position: relative
          width: 100%

      img
        width: 100%

    .dashboardTitle
      bottom: 2em
      left: 0
      margin: 0 4em
      position: absolute
      z-index: 2

      h2
        color: #fff
        font-size: 4em
        font-weight: normal
        letter-spacing: -0.02em
        text-shadow: 0 0 0.15em rgba(0, 0, 0, 1)
        width: 100%

  .dashboardDescription, .dashboardPermissions, .gridFlowLayoutNew
    position: relative
    z-index: 2

  .dashboardDescription
    @include rich-text
    color: #000
    font-size: 1.6em
    line-height: 1.3em
    padding: 0.5em 0 2em
    @include opacity(0.7)



.subnavigation.dashboardEdit.sticky
  background-color: #e7e7e7 // knock out the alpha for perf reasons
  &.edited
    background-color: #e7e2c4

.dashboardPage.edit
  .dashboardHeader
    //TODO: duplicative w/ govstat-goals edit image button
    .dashboardImageEdit
      bottom: 11em
      position: absolute
      right: 3em
      z-index: 2

      a.button
        @include prefixer(box-shadow, 0 0 0.4em rgba(0, 0, 0, 0.4))

        &:after
          @include triangle(0.7em, $govstat_color_action, right)
          content: ' '
          position: absolute
          left: -1.7em
          top: 0.8em

        &:hover:after
          border-right-color: lighten($govstat_color_action, 6%)

    .dashboardTitle
      right: 0

      h2
        position: absolute

        .text
          visibility: hidden

        .icon
          padding-left: 0.5em

      input
        background: none
        border: none
        color: #fff
        font-family: 'myriad pro'
        font-size: 4em
        letter-spacing: -0.02em
        margin: 0
        outline: none
        padding: 0.28em 0
        position: relative
        text-shadow: 0 0 0.15em rgba(0, 0, 0, 1)
        width: 100%
        z-index: 3

  .dashboardEditHeader
    border-bottom: 1px solid #777
    color: #777
    font-size: 1.6em
    font-weight: normal
    margin-bottom: 0.7em
    padding: 0.3em 0

  .dashboardDescription
    font-size: 1em

    .dashboardEditHeader
      margin-right: -2.5em

    .dashboardEditText
      font-size: 1.4em
      padding-bottom: 2em

    margin: 4em
      bottom: 2em
      left: 0

    .richEdit
      background: none
      background-color: #ccc
      @include border-radius(0.15em)
      font-family: 'myriad pro'
      font-size: 1.6em
      min-height: 45px !important // weird hallo thing
      padding: 1.5em
      width: 100%

      span
        font-size: 1em !important

    label
      display: block
      font-size: 1.2em
      letter-spacing: 0.2em
      @include opacity(0.8)
      padding: 0.2em 0
      text-align: center
      text-transform: uppercase

  .dashboardPermissions
    overflow: hidden
    padding: 0.5em 0 3em

    .stateToggle
      float: right
      padding: 1em 0

    .stateTitle
      color: #000
      font-size: 1.6em
      padding: 0.5em 0

    .stateDescription
      font-size: 1.4em

  .categoryList > ul > li
    position: relative

    > .editHandle
      background: transparent url(/stylesheets/images/interface/drag_handle.png)
      cursor: move
      float: left
      height: 3.4em
      margin-right: 1.2em
      margin-top: 0.4em
      width: 6px

    > .editRemove
      color: #999
      display: block
      font-size: 2em
      overflow: hidden
      position: absolute
      right: 0.5em
      top: 0.5em
      @include transition(0.2s, color)
      width: 1em

      &:hover
        color: #bbb

  .categoryItem.edit
    .categoryTitle
      h2
        .text
          visibility: hidden

        a
          display: inline-block
          font-size: 0.7em
          margin-left: 0.7em
          overflow: hidden
          width: 1em

      .edit input
        background: transparent
        border: none
        color: inherit
        font-family: "myriad pro"
        font-size: 1.48em
        left: 0.35em
        outline: none
        position: absolute
        top: 0
        width: 20em

      .color
        position: absolute
        right: 2.2em
        top: 0.4em

        a
          height: 20px
          width: 30px

      &.uncategorized
        h2
          .text
            visibility: visible

          a
            display: none

        .color, .edit
          display: none

  .goalList ul
    min-height: 25em

    > .singleItemWrapper:first-child, > .ui-sortable-helper:first-child + .singleItemWrapper
      margin-left: 21.4em

.userGoals
  h2.userGoalsHeader
    font-size: 4em
    font-weight: normal
    letter-spacing: -0.04em
    padding-bottom: 0.1em

  p.userGoalsIntro
    font-size: 1.8em
    line-height: 1.4em
    padding-left: 0.1em

  .categoryItem
    min-height: 30em
    padding-top: 2em

  .noPersonalGoals
    color: #777
    font-size: 1.6em
    line-height: 1.3em
    margin-left: 15em
    padding-top: 4.7em
    width: 12em

  .newGoal.active + .goalList.personalGoals ul
    > .singleItemWrapper:first-child, > .ui-sortable-helper:first-child + .singleItemWrapper
      margin-left: 21.4em // there is a chrome browser bug here.


#requestStatus
  bottom: -2em
  position: fixed
  right: -2em
  z-index: 10001

  .networkStatus
    @include opacity(0)
    @include transition(0.4s, opacity)

    &.active
      @include opacity(1)

    .bubble
      background-color: #333
      background-color: rgba(247, 247, 247, 0.9)
      @include prefixer(border-radius, 0.2em)
      bottom: 12em
      color: $govstat_color_needs_more_data
      max-width: 30em
      min-height: 2em
      min-width: 25em
      right: 3em
      @include prefixer(box-shadow, 0 0 0.4em rgba(0, 0, 0, 0.6))
      position: absolute

      &:after
        @include triangle(1em, #f7f7f7, top)
        bottom: -2em
        content: ''
        right: 1em
        position: absolute
        z-index: 10003

      &:before
        @include triangle(1.1em, rgba(0, 0, 0, 0.3), top)
        bottom: -2.2em
        content: ''
        right: 0.9em
        position: absolute
        z-index: 10002

      .token
        font-size: 1.8em
        left: 50%
        margin-left: -0.7em
        @include opacity(0)
        position: absolute
        top: 0
        @include transition(0.1s, opacity)

        &.active
          @include opacity(0.2)

      .status, .additional, .socketStatus
        max-height: 0
        overflow: hidden
        @include transition(0.5s, max-height)

      .active .status, .socketStatus.active, .additional.active
        max-height: 6em

      .requestStatus, .socketStatus
        padding: 0 1.3em
        @include transition(0.3s, color padding border-color)

        &.active
          padding: 1em 1.3em

      .requestStatus
        border-top: 1px solid #f7f7f7
        overflow: hidden

        &:first-child
          border-top: none

        &.active
          border-top-color: #cecece

      .text
        font-size: 1.3em
        padding-top: 0.4em

      .icon
        float: left
        font-size: 2em
        height: 1.1em
        margin-right: 0.4em
        overflow: hidden
        width: 1em

        > *
          height: 1em
          padding-bottom: 0.3em
          width: 1em

        .ss-check, .ss-wifi
          @include transition(0.3s, margin-top)

        .ss-check
          margin-top: -1.3em
        .ss-wifi
          margin-top: 0

      .additional
        .button.dismiss
          float: right
          font-size: 1em
          margin: 0
            left: 0.8em

        .failedRequest
          font-size: 1.1em
          padding: 0.3em 0

          .code
            font-size: 0.8em
            margin-top: 0.4em
            overflow-x: auto
            overflow-y: hidden

      .okay .icon .ss-wifi
        margin-top: -1.3em
      .okay .icon .ss-check
        margin-top: 0
      .notOkay .icon .ss-check
        margin-top: -2.6em

      .socketStatus, .notOkay, .ss-delete, .ss-wifi
        color: $govstat_color_poor

      .ss-loading
        color: $govstat_color_needs_more_data

      .okay, .ss-check, .ss-flash
        color: $govstat_color_good

