@page
  margin: 0.5cm

body
  background-color: white
  color: black
a
  color: #333399
  text-decoration: underline

// not super-helpful on a dead tree
#siteHeader
  .siteUserNav
    display: none

// save some ink
#siteFooter
  display: none

.siteOuterWrapper
  max-width: 100%
  .siteContentWrapper
    padding: 0

// grid page
#datasetBar
  #actionBar, #actionBox
    display: none

// GovStat
.janusConsole
  display: none

.measuresContainer,
.healthContainer,
.narrative
  page-break-inside: avoid

.goalSubtitle .dsLink
  display: none

.calloutContainer
  &.targetValueCallout
    left: inherit !important
    right: 10px !important

.calloutConnectorLine
  &.targetValueCallout
    visibility: hidden

.controller_odysseus
  .titleContainer
    background: #fff
