.richRendererContainer {
  .richColumn {
    float: left;
    vertical-align: top;
  }
  .richLine {
    overflow: hidden;
  }
  .richLabel {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    overflow: hidden;
    vertical-align: top;
  }
  .richItem {
    float: left;
    font-size: 1.2em;
    line-height: 1.2em;
    .invalid {
      color: #888888;
      font-style: italic;
    }
    // Renderer-specific styles
    &.photo, &.photo_obsolete {
      img {
        max-height: 15em;
        max-width: 30em;
        width: 100%;
      }
    }
    &.percent {
      height: 1.2em;
      .blist-percent {
        min-width: 5em;
      }
    }
    &.stars {
      margin-bottom: -0.35em;
      // This is set to -16.5px normally; but when we pull it down, apparently
      // we need to adjust this back to just -16px
      .blist-tstar-off {
        background-position: 0 -16px;
      }
    }
    &.nested_table table {
      th {
        background-color: #d8d8d8;
      }
      td, th {
        border-left: 1px solid #cccccc;
        padding: 0.2em 0.5em;
        &:first-child {
          border-left: none;
        }
      }
      tr {
        &:nth-child(even) {
          background-color: #eeeeee;
        }
        td {
          height: 1.25em;
          &.number,
          &.money,
          &.percent,
          &.calendar_date,
          &.date {
            text-align: right;
          }
          &.align-left {
            text-align: left;
          }
          &.align-center {
            text-align: center;
          }
          &.align-right {
            text-align: right;
          }
          &.noResults {
            font-size: 1.2em;
            position: static;
            text-align: center;
          }
        }
      }
    }
  }
}

.pageRenderType {
  .noResults {
    font-size: 2em;
    left: 50%;
    position: absolute;
    top: 20%;
  }
  .content {
    margin-bottom: 4em;
    overflow: auto;
    padding: 2em 3em 0;
  }
  .richLine {
    margin-top: 1em;
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(odd) {
      .richLabel {
        background-color: #eeeeee;
      }
    }
  }
  .richLabel {
    padding: 0.2em {
      right: 1em;
    };
  }
  .richItem {
    padding: 0.2em;
    // Renderer-specific styles
    &.percent .blist-percent {
      min-width: 10em;
    }
  }
}

.fatRowRenderType {
  .columnHeaders {
    background-color: #e8e8e8;
    border-bottom: 1px solid $color_chrome_box_border;
    height: 3.3em;
    overflow: hidden;
    padding-right: 4.25em;
    .controlsBox {
      height: 3em;
      position: absolute;
      right: 0.5em;
      top: 0;
      z-index: 1;
      .scrollBox {
        height: 100%;
        margin-right: 2em;
        a {
          display: block;
          margin: {
            bottom: 0.5em;
            top: 0.25em;
          };
        }
      }
      .close {
        position: absolute;
        right: 0;
        top: 0.25em;
      }
      .expand {
        background-color: #e8e8e8;
        border: 1px solid $color_chrome_box_border;
        border-top: none;
        @include border-radius(0, 5px);
        display: none;
        padding: 0.75em;
        position: absolute;
        top: 0.3em;
        right: 1em;
      }
    }
    .column {
      border: 1px solid transparent;
      @include border-radius(3px);
      float: left;
      margin: 0.3em 0.25em;
      padding: 0.2em;
      white-space: nowrap;
      &.hasColumnMenu {
        &:hover, &.clicked {
          @include vertical-gradient(#fefefe, #f2f2f2);
          border-color: #9e9e9e;
        }
      }
      .icon {
        float: left;
        margin-top: 2px;
      }
      .info {
        float: left;
        margin-right: 0.5em;
      }
      .dataTypeIcon {
        float: left;
        margin-right: 0.25em;
      }
      .name {
        // Other than font-size/weight, these settings are all magic to make column
        // headers a minimum height in Chrome to prevent unnecessary scrolling
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 0;
        margin: {
          bottom: -0.1em;
          top: 0.9em;
        };
      }
      .sort {
        display: inline-block;
        margin-top: 4px;
      }
      .clearSort {
        display: inline-block;
      }
    }
    // & refers to .columnHeaders  This rule is after the normal styles because
    // IE7 wouldn't respect them otherwise
    &.collapsed {
      height: 0.3em;
      overflow: visible;
      .column {
        display: none;
      }
      .controlsBox {
        .scrollBox {
          display: none;
        }
        .close {
          // IE7 wouldn't hide it with display:none
          visibility: hidden;
        }
      }
      &.hover {
        .controlsBox .expand {
          display: block;
        }
      }
    }
  }
  .rowList {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 4em;
    overflow: auto;
    .noResults {
      font-size: 2em;
      left: 50%;
      position: absolute;
      top: 30%;
    }
  }
  .row:nth-child(even) {
    background-color: $row_zebra_color;
  }
}

.rowSearchRenderType {
  .row:nth-child(odd) {
    background-color: $row_zebra_color;
  }
}

.fatRowRenderType, .rowSearchRenderType {
  .row {
    border-top: 1px solid #cacaca;
    padding: 1em {
      bottom: 0.5em;
    };
    &:first-child {
      border-top: none;
    }
    &.rowHighlight {
      background-color: $row_highlight_color;
    }
  }
  .richLine {
    margin-top: 0.25em;
    &:first-child {
      margin-top: 0;
    }
  }
  .richLabel {
    padding: 0.1em {
      right: 0.5em;
    };
  }
  .richItem {
    padding: 0.1em;
    &.photo, &.photo_obsolete {
      img {
        max-height: 5em;
        max-width: 10em;
      }
    }
  }
  .templateRow {
    display: none;
  }
}

.jitTip {
  background-color: #f0f0f0;
  border: 1px solid $color_chrome_box_border;
  @include prefixer(border-radius, 0.2em);
  @include prefixer(box-shadow, 0 3px 4px rgba(0, 0, 0, 0.6));
  padding: 1em;
}

.flyoutRenderer {
  &.template {
    display: none;
  }
  .richColumn {
    float: none;
  }
  .richLine {
    margin-top: 0.2em;
    &:first-child {
      margin-top: 0;
    }
  }
  .richLabel {
    float: none;
    font-size: 1.1em;
    line-height: 1.1em;
    padding: {
      right: 0.5em;
    };
  }
  .richItem {
    float: none;
    font-size: 1.1em;
    line-height: 1.1em;
    // Renderer-specific styles
    &.percent .blist-percent {
      min-width: 3em;
    }
  }
  .viewRow {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin: {
      // This makes the scrollbar go away in FF...
      bottom: 0.1em;
      top: 0.5em;
    };
    text-align: center;
  }
}

.navRenderType {
  position: relative;
  .navigation {
    bottom: 0;
    height: 3em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    li {
      display: inline-block;
      vertical-align: middle;
      &.edit {
        float: left;
        margin: {
          left: 1em;
          right: -11em;
          top: -0.75em;
        };
        .button {
          padding: 0.5em 1em;
        }
      }
      &.info, &.page, &.remainder {
        font-size: 1.2em;
        line-height: 1.2em;
        margin: 0 0.5em;
      }
      &.active a {
        color: #999999;
        cursor: auto;
      }
      .button {
        padding: 0.3em;
      }
    }
  }
}
