.richRendererContainer
  .richColumn
    float: left

    .richLine
      overflow: hidden

      .richLabel
        display: inline-block
        font-size: 1.2em
        font-weight: bold
        line-height: 1.2em
        overflow: hidden
        vertical-align: top
        .ie7 &
          display: inline

      .richItem
        display: inline-block
        font-size: 1.2em
        line-height: 1.2em
        .invalid
          color: #888888
          font-style: italic
        .ie7 &
          display: inline

        // Renderer-specific styles
        &.photo, &.photo_obsolete
          img
            max-height: 15em
            max-width: 30em
            width: 100%

        &.percent .blist-percent
          min-width: 5em

        &.stars
          margin-bottom: -0.35em
          // This is set to -16.5px normally; but when we pull it down, apparently
          // we need to adjust this back to just -16px
          .blist-tstar-off
            background-position: 0 -16px

        &.nested_table table
          th
            background-color: #d8d8d8

          td, th
            border-left: 1px solid #cccccc
            padding: 0.2em 0.5em
            &:first-child
              border-left: none

          tr
            &:nth-child(even)
              background-color: #eeeeee
            td
              height: 1.25em
              &.number,
              &.money,
              &.percent,
              &.calendar_date,
              &.date
                text-align: right
              &.align-left
                text-align: left
              &.align-center
                text-align: center
              &.align-right
                text-align: right

              &.noResults
                text-align: center


#pageRenderType
  .content
    margin-bottom: 4em
    overflow: auto
    padding: 2em 3em 0
    .ie7 &
      position: relative

    .richColumn

      .richLine
        margin-bottom: 1em

        .richLabel
          padding: 0.2em
            right: 1em

        .richItem
          padding: 0.2em

          // Renderer-specific styles
          &.percent .blist-percent
            min-width: 10em

        &:nth-child(odd)
          .richLabel
            background-color: #eeeeee

#fatRowRenderType

  .columnHeaders
    border-bottom: 1px solid #cacaca
    max-height: 9.5em
    overflow: auto
    padding: 0.25em
    .column
      @include datatype-icons('.dataTypeIcon')
      background-color: #e8e8e8
      float: left
      margin: 0.1em 0.25em
      padding: 0.5em
      .info
        float: left
        margin-right: 0.5em
      .dataTypeIcon
        float: left
        margin-right: 0.25em
      .name
        font-size: 1.2em
        font-weight: bold
        line-height: 20px
      .sort
        @include grid-header-icons
        display: inline-block
        margin-top: 4px
      .clearSort
        @include sprite-menu-icons
        display: inline-block

  .rowList
    border-bottom: 1px solid #cacaca
    margin-bottom: 4em
    overflow: auto
    .ie7 &
      position: relative

  .row
    border-top: 1px solid #cacaca
    padding: 1em
      bottom: 0.5em
    &:first-child
      border-top: none

    .richColumn

      .richLine
        margin-bottom: 0.25em

        .richLabel
          padding: 0.1em
            right: 0.5em

        .richItem
          padding: 0.1em

          &.photo, &.photo_obsolete
            img
              max-height: 5em
              max-width: 10em

    &:nth-child(even)
      background-color: #f6f6f6

  .templateRow
    display: none

.navRenderType
  .navigation
    bottom: 0
    height: 3em
    position: absolute
    text-align: center
    width: 100%
    li
      display: inline-block
      vertical-align: middle
      &.info, &.page, &.remainder
        font-size: 1.2em
        line-height: 1.2em
        margin: 0 0.5em
      &.active a
        color: #999999
        cursor: auto
      .button
        @include sprite-menu-icons
        padding: 0.3em
      .ie7 &
        display: inline
