.richRendererContainer
  .richColumn
    float: left
    vertical-align: top
    .ie7 &
      display: inline

  .richLine
    overflow: hidden

  .richLabel
    float: left
    font-size: 1.2em
    font-weight: bold
    line-height: 1.2em
    overflow: hidden
    vertical-align: top

  .richItem
    float: left
    font-size: 1.2em
    line-height: 1.2em
    .invalid
      color: #888888
      font-style: italic
    .ie7 &
      display: inline

    // Renderer-specific styles
    &.photo, &.photo_obsolete
      img
        max-height: 15em
        max-width: 30em
        width: 100%

    &.percent
      height: 1.2em
      .blist-percent
        min-width: 5em

    &.stars
      margin-bottom: -0.35em
      // This is set to -16.5px normally; but when we pull it down, apparently
      // we need to adjust this back to just -16px
      .blist-tstar-off
        background-position: 0 -16px

    &.nested_table table
      th
        background-color: #d8d8d8

      td, th
        border-left: 1px solid #cccccc
        padding: 0.2em 0.5em
        &:first-child
          border-left: none

      tr
        &:nth-child(even)
          background-color: #eeeeee
        td
          height: 1.25em
          &.number,
          &.money,
          &.percent,
          &.calendar_date,
          &.date
            text-align: right
          &.align-left
            text-align: left
          &.align-center
            text-align: center
          &.align-right
            text-align: right

          &.noResults
            text-align: center


.pageRenderType
  .content
    margin-bottom: 4em
    overflow: auto
    padding: 2em 3em 0
    .ie7 &
      position: relative

  .richLine
    margin-top: 1em
    &:first-child
      margin-top: 0

    &:nth-child(odd)
      .richLabel
        background-color: #eeeeee

  .richLabel
    padding: 0.2em
      right: 1em

  .richItem
    padding: 0.2em

    // Renderer-specific styles
    &.percent .blist-percent
      min-width: 10em


.fatRowRenderType
  .columnHeaders
    border-bottom: 1px solid #cacaca
    max-height: 9.5em
    overflow: auto
    padding: 0.25em
    .column
      background-color: #e8e8e8
      float: left
      margin: 0.1em 0.25em
      padding: 0.5em
      .info
        float: left
        margin-right: 0.5em
      .dataTypeIcon
        float: left
        margin-right: 0.25em
      .name
        font-size: 1.2em
        font-weight: bold
        line-height: 20px
      .sort
        display: inline-block
        margin-top: 4px
      .clearSort
        display: inline-block

  .rowList
    border-bottom: 1px solid #cacaca
    margin-bottom: 4em
    overflow: auto
    .ie7 &
      position: relative

  .row
    border-top: 1px solid #cacaca
    padding: 1em
      bottom: 0.5em
    &:first-child
      border-top: none

    &:nth-child(even)
      background-color: #f6f6f6

  .richLine
    margin-top: 0.25em
    &:first-child
      margin-top: 0

  .richLabel
    padding: 0.1em
      right: 0.5em

  .richItem
    padding: 0.1em

    &.photo, &.photo_obsolete
      img
        max-height: 5em
        max-width: 10em

  .templateRow
    display: none

.flyoutRenderer
  .richLine
    margin-top: 0.2em
    &:first-child
      margin-top: 0

  .richLabel
    font-size: 1.1em
    line-height: 1.1em
    padding:
      right: 0.5em

  .richItem
    float: none
    font-size: 1.1em
    line-height: 1.1em

    // Renderer-specific styles
    &.percent .blist-percent
      min-width: 3em

.navRenderType
  position: relative
  .navigation
    bottom: 0
    height: 3em
    left: 0
    position: absolute
    text-align: center
    width: 100%
    li
      display: inline-block
      vertical-align: middle
      &.edit
        float: left
        margin:
          left: 1em
          right: -11em
          top: -0.75em
        .button
          padding: 0.5em 1em
      &.info, &.page, &.remainder
        font-size: 1.2em
        line-height: 1.2em
        margin: 0 0.5em
      &.active a
        color: #999999
        cursor: auto
      .button
        padding: 0.3em
      .ie7 &
        display: inline
