.controller_static_sitewide_messages
  .siteUserNav
    visibility: hidden

.modalContentBox

  .contentBoxInner
    @include error-icons
    .errorIcon
      margin: 2em auto

  p.subheadline
    font-size: 1.1em
    font-weight: bold
    margin: 0 1em 0.5em
    text-align: center
    img.warning-icon
      vertical-align: middle
      margin-top: -4px
      margin-right: 0.3em

  p.body
    font-size: 1.1em
    margin: 0 1em
    text-align: center

  .goSomewhere, .footer
    margin: 1.5em 0 2em
    text-align: center

    .labelText
      font-size: 1.1em
      padding-right: 0.2em
