$grey: #646565;
$warning-icon-color: #debb1e;

.import-status-label span {
  vertical-align: text-top;
}

.import-status-icon-not-started:before {
  color: $grey;
}

.import-status-icon-in-progress:before {
  color: #646565;
}

.import-status-icon-failure:before {
  color: darkred;
}

.import-status-icon-success:before {
  color: green;
}

.import-status-icon-success-with-data-errors:before {
  color: $warning-icon-color;
}

.import-status-label {
  font-weight: bold;
  vertical-align: top;
}

.showJobScreen {

  .import-job-details {
    .icon-warning {
      color: $warning-icon-color;
    }
  }

  .back-to-jobs-list {
    float: right;
    font-size: 1.2em;
    padding-top: 13px;
  }

  &.mainContent h1 {
    font-size: 2em;
    margin-bottom: .2em;
  }

  .file-name-to {
    color: #888;
  }

  .import-status-icon:before {
    font-size: 1em;
  }

  .import-status-label {
    margin-top: 0;
    text-align: right;
    font-size: 2em;
  }

  .result-time-stamp {
    color: #888888;
    font-size: 1.4em;
    padding-top: 8px;
  }

  .file-name {
    font-size: 1.6em;
  }

  .event-time-stamp {
    color: $grey;
  }

  .import-job-container {
    border-top: 1px solid lightgrey;
    margin-top: 20px;
    padding-bottom: 5px;
  }

  .import-job-events {
    width: calc(100% - 255px);
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;

    p {
      padding-top: 2px;
      font-size: 1.3em;
    }
  }

  .import-job-details {
    display: inline-block;
    width: 225px;
    border-left: 1px solid lightgrey;
    padding-left: 2em;
    padding-bottom: 15px;

    h3 {
      margin-top: 12px;

      color: #888;
      font-size: .8rem;
      display: inline-block;
    }

    p {
      padding-top: 2px;
      font-size: 1rem;
    }
  }

  .import-job-event {
    h2 {
      font-size: 1.2rem;
    }

    .event-description-container {
      padding-top: 12px;
      font-size: 1.3em;

      p {
        padding-bottom: 7px;
      }

    }

    .event-description-json {
      font-size: 1.5em;
      white-space: pre-wrap;
    }
  }

  .error-details-heading {
    font-style: italic;
  }

}

.working-copy-annotation {
  color: #888;
  font-size: .8rem;
  padding-top: .2rem;
}

.jobsScreen {

  .import-status-icon:before {
    padding-right: 3px;
  }

  .job-status {
    font-weight: bold;
  }

  .job-row td {
    font-size: 1rem;
  }

  .started-time-stamp {
    font-size: 1rem;
  }

  .started-time-relative-day {
    color: grey;
    font-size: .8rem;
  }

  .end-message {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
  }

  margin-bottom: 10px;

  .with-problems {
    font-weight: normal;
    padding-left: 25px;
    color: #888;
    font-size: .8rem;
    padding-top: .2rem;
  }

}

.pager {

  margin-left: 19em;
  overflow: hidden;

  .pager-element {

    margin-right: 5px;
    display: block;
    float: left;

    &.page {
      font-size: .8rem;
      background-color: white;
      color: #2f4589;
      padding: 5px 7px 5px 7px;
      border: 1px solid lightgrey;
      text-align: center;

      &.pager-page-selected {
        background-color: #2f4589;
        color: white;
      }
    }

    &.ellipsis {
      padding-top: 5px;
      font-size: .9rem;
    }

  }

}
