#editMetadataForm
  @include common-form(11em, 30em)
  position: relative

  .returnLink
    font-size: 1.2em
    font-weight: bold
    position: absolute
    right: 0.4em
    top: 0.5em

  div.required
    margin: 0.5em 0 1em

  a
    font-size: 1.2em

  .existingAttachments
    .deleteLinks
      label
        margin-right: 0.2em

    a
      margin-left: 1em

    li
      padding-bottom: 0.4em

  .uploadAttachmentThrobber
    @include throbber-icon
    display: none
    margin-left: 1em
