html, body
  height: 100%
  overflow: hidden

.siteInnerWrapper
  max-width: 100%

#datasetBar
  background-color: #fff
  border-top: 1px solid #cecece
  padding: 0.25em
    bottom: 0.3em
  position: relative

  // IE keeps z-indexes in separate position domains
  .ie7 &
    z-index: 99

  #viewsMenu
    height: 2.8em
    left: 0.7em
    position: absolute
    top: 0.8em
    width: 2em
    .ie7 &
      z-index: 1
    a.menuButton
      @include button
      padding: 0
      height: 100%
      width: 100%

      .icon
        @include center(13px)

    .menuDropdown
      .ie7 &
        width: 15em
      ul li
        @include sprite-menu-icons
        a
          @include clip-text

    &.open .menuButton .icon
      background-position: 0 0

  #titleBox
    border: 1px solid #f4f4f4
    margin-right: 55em
    margin-left: 3em
    padding-bottom: 0.4em
    position: relative

    .descriptionExpander
      @include sprite-menu-icons
      position: absolute
      right: 0.2em
      top: 0.2em

    #datasetIcon
      @include sprite-type-icons-30
      left: 0.4em
      top: 0.4em
      position: absolute
      .alertIcon
        display: none
        position: absolute
        top: 0

    #datasetName, .unsavedLine, #description, .basedOn
      margin: 0
        left: 40px
        right: 1em

    #datasetName, .unsavedLine h2
      font-size: 1.6em
      font-weight: normal
      padding: 0

    #description
      color: #999999
      font-size: 1.1em
      line-height: 1.1em
      margin-top: -0.2em
      overflow: hidden
      &.collapsed
        height: 1.1em

    .unsavedLine
      display: none
      h2
        display: inline
        margin-right: 1em
      a.toolbarButton
        @include button
        font-size: 1.2em
        margin-right: 0.5em

    .basedOn
      color: #999999
      display: none
      font-size: 1.2em
      line-height: 1.1em

    &.unsavedView
      background-color: #ffffc8
      .unsavedLine, .basedOn
        display: block
      #datasetIcon .alertIcon
        display: block
      #description
        margin-top: 0.5em
      #datasetName, #description.collapsed
        display: none

  #actionBox
    bottom: -1px
    position: absolute
    right: 2.5em

    #toolbarOptions
      float: left

      > li
        display: block
        float: left
        margin-right: 1em

        #searchButton
          @include button
          position: relative

          .searchIcon
            @include dataset-toolbar-icon-search
            margin-bottom: -13px
            left: 1em
            top: 0.4em

          .searchForm
            display: inline

            .searchField
              background: transparent
              border: none
              bottom: 1px
              display: block
              height: 13px
              margin: 0.1em 0.3em 0 1.6em
              padding: 1px
              position: relative
              width: 2em
              &.prompt
                font-style: normal
              &.expanded
                background-color: #fff

            .clearSearch
              @include sprite-menu-icons
              display: none
              position: absolute
              right: 1em
              top: 0.3em

        #shareMenu
          .ie7 &
            z-index: 10 /* needs to be higher than tabs */

          .unsavedView &
            display: none

          .menuButton
            @include button
            margin-top: 0

            .shareIcon
              @include dataset-toolbar-icon-share
            .shareIcon, .icon
              display: inline-block

              .ie7 &
                display: block
                float: left

          .menuDropdown ul li ul li
            @include sprite-menu-icons
            a
              font-size: 1.2em
              line-height: 1em
              min-width: 6em

    #sidebarOptions
      float: left
      margin-left: 2em

      li
        @include sprite-dataset-tabs('> a')
        border-bottom: 1px solid #cecece
        float: left
        margin-left: -7px
        position: relative
        a
          @include sprite-menu-icons('.alertIcon')
          .alertIcon
            position: absolute
            right: 8px

      li
        z-index: 8
        + li
          z-index: 7
          + li
            z-index: 6
            + li
              z-index: 5
              + li
                z-index: 4
                + li
                  z-index: 3
                  + li
                    z-index: 2
                    + li
                      z-index: 1
      li.active
        z-index: 9
        &.tabEdit
          border-bottom-color: $sidebar_edit_tab_color_top
        &.tabFilter
          border-bottom-color: $sidebar_filter_tab_color_top
        &.tabVisualize
          border-bottom-color: $sidebar_visualize_tab_color_top
        &.tabExport
          border-bottom-color: $sidebar_export_tab_color_top
        &.tabFeed
          border-bottom-color: $sidebar_feed_tab_color_top
        &.tabEmbed
          border-bottom-color: $sidebar_embed_tab_color_top
        &.tabAbout
          border-bottom-color: $sidebar_about_tab_color_top

    a
      @include sprite-menu-icons
      font-size: 1.1em

  .fullscreenButton
    @include button
    padding: 0
    position: absolute
    right: 0.4em
    top: 0.4em

    &.maximize .icon
      @include dataset-toolbar-icon-maximize
    &.minimize .icon
      @include dataset-toolbar-icon-minimize

#editBar
  background-color: #f4f4f4
  border-bottom: 1px solid #cecece
  #editOptions
    float: left
    margin:
      left: 0.5em
      top: 0.15em
    li
      display: inline-block
      .ie7 &
        display: inline
      .button
        margin:
          left: 0.1em
          right: 0.1em
        padding: 0.1em
        .icon
          @include text-hiding
          background-image: url(/stylesheets/images/content/table_menu/menu_bar_sprites.png)
          height: 20px
          width: 20px

        &.undo .icon
          background-position: 0 0
        &.redo .icon
          background-position: 0 -20px

  #formatOptions
    @include disabled-overlay
    float: left
    border-left: 1px solid #cecece
    margin:
      bottom: 0
      left: 0.5em
      top: 0
    padding: 0.3em 0.5em
    li
      display: inline-block
      .ie7 &
        display: inline

      .button
        @include format-icon
        margin:
          left: 0.1em
          right: 0.1em
        padding: 0.1em
        &.link
          height: 16px
          padding: 0.1em 0.2em

      select.fontFamily
        width: 8em
      select.fontSize
        width: 5em

      .uniform
        vertical-align: middle

      .menu
        vertical-align: middle
        .ie7 &
          z-index: 10 /* needs to be higher than tabs */

        &.align
          @include format-icon('.alignIcon')
        &.color
          @include format-icon('.colorIcon')
          .colorIcon
            border-bottom: 3px solid #000000
            height: 12px
            width: 13px
          .menuButton .icon
            margin-bottom: 2px

        .menuButton
          @include button
          margin-top: 0
          padding: 0.3em 0.2em

          .icon
            margin-bottom: 3px
          .alignIcon, .colorIcon, .icon
            display: inline-block

            .ie7 &
              display: block
              float: left

        .menuDropdown ul li ul.menuEntries
          min-width: 2em
          li
            @include format-icon
            a
              min-height: 16px
              padding-right: 0.5em

.outerContainer
  background-color: #fff
  border: 1px solid #cecece
    left: 0
    right: 0
  position: relative
  .innerContainer
    overflow: hidden
    position: relative

    .viewErrorContainer
      display: none
      text-align: center
      .invalidView &
        display: block
      .viewError
        font-size: 1.4em
        font-weight: bold
        padding: 3em 0 1em
      .invalidActions li
        display: inline-block
        .ie7 &
          display: inline

.invalidView
  #mainGrid, #toolbarOptions, #editBar
    display: none

// Dataset page-specific grid styles

.blist-td, .blist-table-editor
  font-size: 1.2em
  line-height: 1.3333em
  padding: 0.3333em

.blist-td
  height: 1.3333em

.blist-td-header
  font-weight: bold

.blist-tr .blist-td-first
  border-left-width: 0
  padding-left: 0.4167em

// Save view dialog
.saveViewDialog
  margin-left: -14em
  width: 28em
  input
    width: 95%

  p
    margin: 0.5em 0

  .info
    font-weight: bold
    margin-bottom: 1.5em

  .leavingSave
    display: none

  &.leavingSaveDialog
    .leavingSave
      display: block
    .normalSave
      display: none

// Email view dialog
.emailDatasetDialog
  width: 35em

  &.ownerDialog
    width: 45em

    #emailMessage
      width: 34em

  .emailSuccess
    display: none

  .emailFormContent
    padding-left: 2em

  .emailLine
    min-height: 3em

  p
    margin-bottom: 1.4em

  input.emailRecipient
    width: 25em

  .textWrapper
    float: left
    position: relative

  div.selector.uniform
    margin-left: 0.8em
    position: relative
    top: -0.3em

    .ie7 &
      display: inline
    .ie &
      top: -0.2em

  select.recipientRole
    width: 9em

  .removeLink
    @include sprite-repeater-icons
    left: 2em
    margin-top: 0.5em
    position: absolute

    &.hiddenLink
      visibility: hidden

  label.error
    position: relative
    top: -0.3em

  .addMoreLine
    clear: both
    margin-top: 1em

    .button
      @include sprite-repeater-icons
      margin-left: 0
      .icon
        float: left
        margin-right: 0.4em

  ul.actions
    margin-top: 1em

  .emailMessageHint
    margin-left: -2em
    padding-top: 1em

  #emailMessage
    height: 4em
    overflow: auto
    width: 25em

// Login modals (someday maybe these will have to move somewhere common)
#login
  form
    @include common-form(8em)

  .accountMaint
    bottom: 2.1em
    left: 18em
    position: absolute

    li
      padding-bottom: 0.3em

      a
        font-size: 1.2em

#signup
  form
    @include common-form(9em, 14em)

    span
      font-size: 1.2em

    div.required
      margin-top: 1em

    .signup_loadingIndicator
      @include throbber-icon
