.subnavigation
  background-color: #e7e7e7
  border-bottom: 2px solid
  margin: -2em -4em 4em
  padding: 2em

  .breadcrumb
    @include clearfix
    margin-bottom: -0.9em

    li
      float: left
      margin-right: 1em

      .ss-icon
        color: #ccc
        font-size: 1.8em
        line-height: 1.6em

      a
        color: #585858
        font-size: 2em

      &.root
        .ss-icon
          color: #b9b9b9
          font-size: 2em
          line-height: 1.3em

.canvas_nav
  font-size: 1em
  padding: 0
  .subnavigation.content-wrapper
    height: auto
    width: auto

.gridFlowLayout.nonDS
  .singleItem
    float: left
    position: relative
    width: 164px
    .singleInner
      position: relative
      .primaryAction .actionDetails
        bottom: -2.1em
        font-size: 1.1em
        &:before
          bottom: 1px
          position: relative

@mixin section_color($selector, $color)
  &.#{$selector}
    .mainIcon, p.header
      color: $color

    div.button
      background-color: $color

    &:hover
      .mainIcon, p.header
        color: lighten($color, 8%)

      div.button
        background-color: lighten($color, 8%)


.subHubSection
  background-color: #e7e7e7
  border-bottom: 2px solid $govstat_color_home
  margin: -2em -4em
  margin-bottom: 2em

  .subHubTitle
    padding: 3em 4em 0
    width: auto

    h2
      color: $govstat_color_home
      font-size: 3.5em
      font-weight: normal
      letter-spacing: -0.05em
      padding: 0

  .subHubIntro
    color: #585858
    font-size: 1.7em
    letter-spacing: -0.05em
    padding: 0 2em 1.5em
    text-rendering: optimizeLegibility
    width: auto

  .subHubNavigation
    max-width: 100em
    margin: 0 auto 3em

    .component-wrapper
      > .component-Button
        border-left: 1px solid #d1d1d1
        padding-bottom: 1em
        padding-top: 2em
        text-align: center

        @include section_color('data', $govstat_color_data)
        @include section_color('reports', $govstat_color_reports)
        @include section_color('configuration', $govstat_color_goals)

        a
          display: block

          &:hover
            p.explanation
              color: #666

        .mainIcon
          font-size: 10em
          @include transition(0.2s, color)

        p.header
          font-size: 3.5em
          letter-spacing: -0.05em
          text-rendering: optimizeLegibility
          @include transition(0.2s, color)

        p.explanation
          color: #949494
          font-size: 1.7em
          min-height: 3.2em
          padding: 1.5em 2.3em
          @include transition(0.2s, color)

        div.button
          @include prefixer(border-radius, 0.2em)
          color: #fff
          display: inline-block
          font-size: 1.6em
          letter-spacing: -0.05em
          padding: 0.6em 1.3em 0.5em
          text-transform: lowercase
          @include transition(0.2s, background-color)

          .ss-icon
            color: #fff

      &:first-child
        > .component-Button
          border: none

  &:after
    border-bottom: 6px solid #dedede
    content: ''
    display: block
    height: 0

.headerLine
  margin-bottom: 2em
  .manageLink
    margin-left: 0
    span
      vertical-align: sub

#manageDataPage
  .filterSection
    @include clearfix
    margin-bottom: 2em
    .component-Title
      float: left
      margin-right: 2.5em
    .component-Repeater
      .filterItem
        float: left
        .value__default a
          background-color: $govstat_color_home
        .current-true a
          background-color: #002635
  .noDataSection
    text-align: center
    .component-Title
      margin-bottom: 2em
      h2
        font-size: 3em
        font-weight: normal
    .noData
      padding: 1em
      .callToAction
        color: #333333
        font-size: 2.5em
        margin-bottom: 1em
        &:before
          color: $govstat_color_action
          display: block
          font-size: 5em
          margin:
            bottom: 0.05em
            right: 0
      input.button
        text-align: center
        width: 5em
  .categoryItem
    .singleItem
      margin:
        bottom: 0
        right: 0
      .tileIcon
        .type-table
          color: #0b5e9b
          &.default-true
            color: #e76e34
        .type-map
          color: #009345
        .type-chart
          color: #fcba63
        .type-api
          color: #e44044
        .type-calendar
          color: #6dc8bf
        .type-blob
          color: #57bc7b
        .type-form
          color: #b72467
  .myDatasets
    .categoryTitle h2
      color: $govstat_color_data
    .addBox
      font-size: 1em
      .addNewItem
        width: auto
    .datasetItem
      background-color: $govstat_color_data
      &.publication-unpublished
        @include opacity(0.7)
  .categoryItem.allDatasets
    .categoryTitle h2
      color: #002635
    .singleItem
      background-color: #002635

#manageReportsPage
  .categoryItem.ownerReports
    .categoryTitle h2
      color: $govstat_color_reports
  .categoryItem.otherReports
    .categoryTitle h2
      color: #002635
    .singleItem
      background-color: #002635
