$is_customizer: false !default;

.contentBox {
  margin: 0 {
    bottom: $chrome_margin_inner;
  };
  h2 {
    margin: 0 {
      bottom: 0.5em;
    };
  }
}

.storiesContainer {
  height: $stories_height;
  overflow: hidden;
  padding: 0;
  position: relative;
  .storyTexts {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    > li {
      display: none;
      margin: $stories_box_margin;
      padding: 1.5em;
      position: absolute;
      @if $stories_orientation == "right" {
        right: 0;
      }
      width: $stories_box_width;
      z-index: 5;
      h2 {
        color: $color_stories_box_headline_color;
        font-family: #{$stories_box_headline_font_family};
        font-size: $stories_box_headline_font_size;
        margin-top: 0.5em;
        @if $stories_box_headline_shadow_alpha > 0 and $stories_box_headline_shadow_radius > 0 {
          text-shadow: 0 0 $stories_box_headline_shadow_radius rgba(0, 0, 0, $stories_box_headline_shadow_alpha);
        }
      }
      .storyBody {
        color: $color_stories_box_body_color;
        font-family: #{$stories_box_body_font_family};
        font-size: $stories_box_body_font_size;
        text-align: justify;
        @if $stories_box_body_shadow_alpha > 0 and $stories_box_body_shadow_radius > 0 {
          text-shadow: 0 0 $stories_box_body_shadow_radius rgba(0, 0, 0, $stories_box_body_shadow_alpha);
        }
      }
    }
  }
  .storyTextbox {
    @if $stories_box_margin == 0 {
      @include border-radius-corner(top, left, 0.2em);
      @include border-radius-corner(bottom, left, 0.2em);
    }
    @else {
      @include border-radius(0.4em);
    }
    background: $color_stories_box_color;
    height: $stories_height - 3em - $stories_box_margin * 2;
    @include opacity($stories_box_alpha);
    padding: 1.5em;
    position: absolute;
    @if $stories_orientation == "right" {
      right: 0;
    }
    margin: $stories_box_margin;
    width: $stories_box_width;
    z-index: 2;
  }
  .storyPager {
    position: absolute;
    text-align: center;
    z-index: 6;
    @if $stories_pager_type == "bullets" or $is_customizer == true {
      @include story-pager-glyphs(a, $stories_pager_disposition);
    }
    @if $stories_pager_position == "box" {
      bottom: 1.3em;
      padding: 0 1.5em;
      @if $stories_orientation == "right" {
        right: 0;
      }
      width: $stories_box_width;
    }
    @else if $stories_pager_position == "center" {
      bottom: 1em;
      height: 0.7em;
      width: 100%;
    }
    a {
      @if $stories_pager_disposition == "light" {
        color: #ddd;
      }
      @else if $stories_pager_disposition == "dark" {
        color: #222;
      }
      display: inline-block;
      font-weight: bold;
      margin-left: 0.3em;
      &.selected {
        @if $stories_pager_disposition == "light" {
          color: #fff;
        }
        @else if $stories_pager_disposition == "dark" {
          color: #000;
        }
      }
    }
  }
  @if $stories_pager_position == "center" or $is_customizer == true {
    .storyPagerBackground {
      @if $stories_pager_disposition == "light" {
        background-color: #000;
      }
      @else if $stories_pager_disposition == "dark" {
        background-color: #fff;
      }
      @include border-radius-corner(bottom, left, 0.2em);
      @include border-radius-corner(bottom, right, 0.2em);
      bottom: 0;
      height: 2.7em;
      @include opacity(0.25);
      position: absolute;
      width: 100%;
      z-index: 3;
    }
  }
  .storyLink {
    display: none;
    height: $stories_height;
    position: absolute;
    width: 100%;
    z-index: 4;
  }
  .storyImages {
    position: absolute;
    width: 100%;
    li {
      @include border-radius(0.2em);
      display: none;
      height: $stories_height;
      position: absolute;
      width: 100%;
      img {
        @include border-radius(0.2em);
        display: inline;
        @if $stories_orientation == "left" {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

.catalog {
  .browseSection {
    padding-top: 0;
    .browseList, .browseFacets {
      border-color: $color_chrome_box_border;
    }
  }
}
