.logo
  text-align: center
.headline
  font-size: 1.8em
  text-align: center

#apiFoundryWizard 
  li
    font-size: 1.2em
    display: none
    float: left
    h2
      margin-bottom: 0.5em
    .paneFormControls
      width: 50%
      float: left
      label 
        width: 14em
        margin-right: 1em
        float: left
      .additionalHelp
        margin-left: 15em
        width: 20em
      label.error
        margin-left: 15em
      input, select, textarea
        width: 20em
    .formControl
      margin-bottom: 1em
    .docPreview
      width: 50%
      float: left
    .docPreviewInside
      border-left: 1px silver solid
      padding-left: 1em
  #published, #apiPublish
    text-align: center
    a h2
      color: darkblue
