html {
  overflow: hidden;
}

body {
  overflow: hidden;
  .siteInnerWrapper {
    padding-bottom: 4.1em;
  }
}

.contentBox {
  padding: 0;
  .header {
    padding: 1em;
    position: relative;
    #renderTypeOptions {
      float: right;
      margin-top: 2em;
      li a {
        @include renderType-toggle-icons;
      }
    }
    h1 {
      float: left;
      margin: 0.3em 0 {
        left: 0.3em;
      };
    }
    .returnLink {
      font-size: 1.2em;
      font-weight: bold;
      position: absolute;
      right: 1em;
      top: 1em;
    }
    .unsavedLine {
      display: none;
      float: left;
      margin-left: 3em;
      .loadingIcon {
        @include throbber-icon;
        display: inline-block;
        margin-left: 1.5em;
      }
    }
    .unsavedView & {
      background: #fff url(/stylesheets/images/interface/dataset_unsaved_fade.png) repeat-y;
      .unsavedLine {
        display: block;
      }
      .clearLayout {
        display: none;
      }
    }
    .clearLayout {
      margin-left: 3em;
    }
  }
  .mainContainer {
    position: relative;
  }
  .renderArea {
    padding: 1em {
      right: 12px;
    };
    overflow: auto;
    position: relative;
    &.directHover, &.directMenuOpen {
      > .controlIndicators {
        display: block;
      }
    }
    .ie7 & > .controlIndicators {
      width: 97%;
    }
    .ie7 &.directMenuOpen > .controlIndicators {
      z-index: 100000;
    }
    &.menuOpen {
      .ie7 & {
        z-index: 100000;
      }
      > .controlIndicators {
        overflow: visible;
      }
    }
    > .dropIndicator {
      top: 0;
      width: 2px;
    }
    .dropFinder {
      float: left;
      left: 0;
      position: relative;
      top: 0;
      vertical-align: top;
    }
  }
  .previewContainer {
    background-color: #ffffff;
    border-top: 1px solid $color_chrome_box_border;
    height: 50%;
    overflow: hidden;
    h2 {
      background-color: #eeeeee;
      border-bottom: 1px solid $color_chrome_box_border;
      font-size: 1.3em;
      font-weight: bold;
      line-height: 1.3em;
      margin: 0 {
        bottom: 0.5em;
      };
      padding: 0.3em 1em;
    }
    .previewArea {
      height: 100%;
      overflow: auto;
      .row {
        padding: 1em 1em 0.5em;
      }
    }
    .ui-resizable-handle {
      height: 26px;
      top: 0;
    }
  }
  #layoutContainer {
    border-top: 1px solid $color_chrome_box_border;
    padding-bottom: 4em;
    z-index: 1;
  }
  .ui-draggable-dragging {
    z-index: 100001;
  }
  .dropIndicator {
    background-color: #666666;
    display: inline-block;
    position: absolute;
  }
  .itemDragging {
    @include opacity(0.5);
  }
  .ui-droppable.inDrag {
    background-color: #ddffcc;
    &.dragOver {
      background-color: #88ff77;
    }
  }
  .controlIndicators {
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    .dragHandle {
      background-image: url(/stylesheets/images/content/table/column_drag_handle.png);
      background-position: top left;
      background-repeat: repeat;
      cursor: move;
      position: absolute;
    }
    .resizeIndicator {
      background-color: #eeeeee;
      border: 1px solid #aaaaaa;
      @include rounded-ends;
      display: block;
      height: 7px;
      position: absolute;
      width: 7px;
      // One below resize handle
      z-index: 99998;
      &.enabled {
        background-color: #bbbbbb;
        border: 1px solid #333333;
      }
    }
    .resizeNW, .resizeW, .resizeSW {
      left: -4px;
    }
    .resizeN, .resizeS {
      margin-left: -4px;
      left: 50%;
    }
    .resizeNE, .resizeE, .resizeSE {
      right: -4px;
    }
    .resizeNW, .resizeN, .resizeNE {
      top: -4px;
    }
    .resizeE, .resizeW {
      margin-top: -4px;
      top: 50%;
    }
    .resizeSW, .resizeS, .resizeSE {
      bottom: -4px;
    }
    .resizeSize {
      background-color: #dddddd;
      color: #000000;
      font-size: 1.1em;
      left: 50%;
      margin: {
        left: -3.725em;
        top: -0.7em;
      };
      @include opacity(0.75);
      padding: 0.25em;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 7.2em;
      z-index: 10;
    }
    .settings {
      background-color: #ffffff;
      border: 1px solid $color_chrome_box_border {
        top: 0;
      };
      @include border-radius(0, 0.3em);
      padding: 0 0.3em;
      position: absolute;
      right: 6px;
      top: 0;
      z-index: 100000;
      .settingsMenuButton {
        @include sprite-menu-icons;
      }
      .menuDropdown .menuEntry {
        @include sprite-menu-icons(".icon", false);
        a {
          white-space: nowrap;
        }
      }
    }
  }
  .ui-resizable-n, .ui-resizable-s {
    height: 9px;
  }
  .ui-resizable-e, .ui-resizable-w {
    width: 9px;
  }
  .ui-draggable.richColumn {
    border: 1px solid transparent;
    @include border-radius(0.3em);
    padding: 0.2em {
      top: 11px;
    };
    position: relative;
    width: 100%;
    &.inDrag {
      border-color: #999999;
    }
    &.hover, &.ui-draggable-dragging {
      border-color: #333333;
      @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.5));
      > .ui-draggable.richLine {
        border-color: #999999;
      }
    }
    &.directHover, &.ui-draggable-dragging {
      > .columnDrag {
        visibility: visible;
      }
    }
    &.directHover, &.ui-resizable-resizing, &.directMenuOpen {
      > .controlIndicators {
        display: block;
      }
    }
    .ie7 &.directMenuOpen > .controlIndicators {
      z-index: 100000;
    }
    &.menuOpen {
      .ie7 & {
        z-index: 100000;
      }
      > .controlIndicators {
        overflow: visible;
      }
    }
    &.ui-resizable-resizing {
      border-color: transparent;
      @include box-shadow-none;
      > .ui-draggable.richLine {
        border-color: transparent;
      }
      > .columnDrag {
        visibility: hidden;
      }
    }
    > .dropIndicator {
      height: 2px;
      left: 0;
    }
    > .dropFinder {
      left: -1px;
      top: -1px;
    }
    > .controlIndicators .dragHandle {
      height: 10px;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  .hover > .richColumn {
    border-color: #999999;
  }
  .ui-draggable.richLine {
    border: 1px dashed transparent;
    @include border-radius(0.3em);
    margin: 0;
    min-height: 1.5em;
    padding: 0.1em {
      left: 11px;
    };
    position: relative;
    &.inDrag {
      border-color: #999999;
    }
    &.directHover, &.ui-draggable-dragging {
      border-color: #333333;
      @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.5));
      > .rowDrag {
        visibility: visible;
      }
    }
    &.directHover, &.directMenuOpen {
      > .controlIndicators {
        display: block;
      }
    }
    .ie7 &.directMenuOpen > .controlIndicators {
      z-index: 100000;
    }
    &.menuOpen {
      overflow: visible;
      .ie7 & {
        z-index: 100000;
      }
      > .controlIndicators {
        overflow: visible;
      }
    }
    > .dropFinder {
      left: -2px;
      top: -1px;
    }
    > .dropIndicator {
      width: 2px;
    }
    > .controlIndicators .dragHandle {
      height: 100%;
      left: 0;
      top: 0;
      width: 10px;
    }
  }
  .inDrag > .ui-draggable {
    &.richColumn, &.richLine {
      border-color: #999999;
    }
  }
  #gridSidebar {
    position: absolute;
    z-index: 0;
    .controlPane .formSection .sectionContent {
      padding: 0.75em;
      .columnItem {
        margin-bottom: 0.25em;
      }
    }
  }
  #gridSidebar, .mainContainer > {
    .fieldItem {
      cursor: pointer;
      @include border-radius(0.3em);
      display: inline-block;
      float: none;
      padding: 0.2em;
      .ie7 & {
        display: inline;
      }
      &.columnLabel {
        font-size: 1.2em;
        font-weight: bold;
      }
      &.columnData {
        font-size: 1.2em;
      }
      &.staticLabel {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
  #gridSidebar .fieldItem {
    background-color: #dddddd;
  }
}

.richResizable {
  border-color: #333333;
  @include border-radius(0.3em);
  border-width: 1px;
  @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.5));
  &.richColumn {
    border-style: solid;
  }
}

.renderArea, .mainContainer > {
  .fieldItem {
    @include border-radius(0.3em);
    border: 1px solid transparent;
    float: left;
    &.hover {
      border-color: #999999;
      cursor: pointer;
    }
  }
}

.fieldItem {
  &.hover, &.ui-resizable-resizing, &.directMenuOpen {
    > .controlIndicators {
      display: block;
    }
  }
  .ie7 &.directMenuOpen > .controlIndicators {
    z-index: 100000;
  }
  &.menuOpen {
    .ie7 & {
      z-index: 100000;
    }
    > .controlIndicators {
      overflow: visible;
    }
  }
  .staticLabel {
    input {
      font-size: 1em;
      padding: {
        bottom: 0;
        top: 0;
      };
    }
  }
}

.navRenderType .navigation {
  border-top: 1px solid $color_chrome_box_border;
  padding-top: 0.5em;
  .removeItem {
    background-color: #ffbbbb;
    @include border-radius(0.3em);
    float: left;
    font-size: 1.2em;
    margin-left: 0.5em;
    padding: 0.5em;
    visibility: hidden;
    &.inDrag {
      visibility: visible;
    }
    &.dragOver {
      background-color: #ff7777;
      font-weight: bold;
    }
  }
}

// Save view dialog
.saveViewDialog {
  margin-left: -14em;
  width: 28em;
  input {
    width: 95%;
  }
  p {
    margin: 0.5em 0;
  }
  .info {
    font-weight: bold;
    margin-bottom: 1.5em;
  }
  .normalSave, form, p.newName {
    display: none;
  }
}
