// Colors for different sections
$color_home: #e0d5a1
$color_data: #f6d139
$color_reports: #318e47
$color_goals: #5161b7

@mixin header_color($page_name, $name, $color)
  .action_govstat_manage#{$page_name}
    #siteHeader
      .manageActions li.#{$name}
        border-color: $color
        a
          color: $color
  #siteHeader .manageActions li.#{$name}:hover
    border-color: $color

@include header_color('', 'home', $color_home)
@include header_color('_data', 'data', $color_data)
@include header_color('_reports', 'reports', $color_reports)
@include header_color('_config', 'goals', $color_goals)

.actionLinks
  border: 2px solid $color_chrome_box_border
  margin-bottom: 2em
  padding: 1em
  > div + div .socrata-component a
    margin: 0 auto
  > div + div + div .socrata-component
    float: right
  a
    @include border-radius(0.3em)
    background-color: #2f91de
    color: #ffffff
    cursor: pointer
    display: block
    height: 9.3em
    text-align: center
    @include transition(0.5s, background-color)
    padding: 2em
    width: 17em

    &:hover
      background-color: #1070b0

    .ss-icon
      display: block
      font-size: 5em
      margin: 0.2em auto

    p
      font-size: 1.4em
      font-weight: bold

.manageLink
  margin:
    bottom: 1em
    left: 0
.headerLine h2
  display: inline-block
  margin:
    right: 1em
    top: 0.5em

.button .ss-icon
  // This should be applied in controls.sass, but it isn't taking
  margin-right: 0.4em

#manageReportsPage
  .reportList
    .name
      font-size: 1.2em
      font-weight: bold
      width: 30em
    .view, .edit
      width: 10em
