.createDatasetBox {
  display: none;
}

.browseSection .browseList .results .gridList {
  th.index, td.index {
    width: 10em;
    white-space: nowrap;
  }
}

.expander {
  display: none;
}

a.chooseDatasetButton {
  @include sprite-menu-icons;
  font-size: 0.8em;
  margin-right: 1em;
}
