#pageRenderType
  .content
    margin-bottom: 3em

  .navigation
    bottom: 0
    height: 3em
    position: absolute
    text-align: center
    width: 100%
    li
      display: inline-block
      vertical-align: middle
      &.info
        font-size: 1.2em
        margin: 0 0.5em
      .button
        @include sprite-menu-icons
        padding: 0.3em
