#viewsContent
  .browseSection
    padding-top: 1em

    .datasetActions
      width: 20em
      .moderateActions
        position: relative
        top: -0.6em
        .textStatus
          display: inline-block
          font-weight: bold
          width: 7em
        > form
          font-size: 0.8em
          display: inline
