.login-site-name, .signup-site-name
  text-align: center
  margin-bottom: 20px

.modalContentBox.narrow
  max-width: 40em

.modalContentBox
  .contentHeader
    .loginHeader, .signupHeader h1
      color: #555
      border-bottom: solid 1px #cecece
      padding: 1em 0
      margin: 0
      font-size: 1.4em

.signupModal
  .loginHeader, .loginForm
    display: none
.loginModal
  .signupHeader, .signupForm
    display: none
  .flash.notice
    margin-top: 0
.loginModal, .signupModal
  border: solid 1px #cecece
  box-shadow: 0 0 3px 6px #efefef

.contentHeader
  .explanation
    font-size: 1.2em
    padding: 0 2em
    p
      margin-top: 1em
      &:first-child
        margin-top: 0

.contentBoxInner
  font-size: 1.2em
  padding: 2em
  &.rpxReturnLogin
    padding-top: 0
  .column
    width: 29em

  .explanation
    margin-bottom: 1em
    font-size: 1.2em

  .submitLine
    padding-top: 1em

  .commonForm
    label
      font-size: 1em

  .line
    input[type='text'], input[type='password'], input[type='email']
      width: 23.5em

    label
      width: 9em
      white-space: nowrap
      &.error
        width: auto

      .passwordHint
        @include sprite-menu-icons
        font-style: italic
        .icon
          display: inline-block
          position: relative
          top: 5px

  #forgotPasswordForm
    .line
      label
        width: 6em

  .loginSignupForm
    float: left

    #a0-lock
      .a0-panel
        -webkit-box-shadow: 0 0 0 rgba(0,0,0,0)
        box-shadow: 0 0 0 rgba(0,0,0,0)

    .loginTips
      margin-top: 0.5em

    .noAccountYet
      color: #666
      padding-left: 0.5em

    .signUpLink, .logInLink
      font-weight: bold

    .line
      margin-top: 1em

    .labelLine
      margin-bottom: 0.5em

    label.main
      font-weight: bold

    label.pushUp
      position: relative
      top: -0.3em

    .passwordLabel
      padding-right: 1em
    .passwordHint
      @include sprite-menu-icons
      font-style: italic
      .icon
        display: inline-block
        position: relative
        top: 5px

    .placeholder
      height: 10em
      .loading
        @include throbber-icon
        margin: 5em auto

    #recaptcha_widget_div, #captchaPlaceholder
      margin-top: 2em

    .loginSignupHint
      display: inline-block
      font-size: 1.1em

    .accountSignupHint
      padding-left: 0.5em

    label.error
      display: block
      margin-top: 0.2em

    div.uniform.checker
      margin-right: 0.5em

    .formActionButtons
      padding-top: 1em

    .signUpHint
      padding-top: 1.5em

    .authProvider .iconContainer
      margin-right: 0.5em
      padding-left: 0

    .forgotBox
      position: relative
      .forgotPassLink
        position: absolute
        right: 0
        top: 0

  .authProvider
    @include authentication-icons

    &.socrata
      p
        text-align: center
        margin-top: 2em
      .login-back:visited
        color: #3B5998

    .iconContainer
      float: left
      padding: 0.7em
      margin-right: 1.5em

    .login-description-container
      text-align: left
      margin-bottom: 2em
    .login-description, .description
      line-height: 2.4em
    .description
      font-size: 1.4em
    .login-description
      font-size: 1.1em
      img
        vertical-align: middle
        height: 18px
      strong
        color: rgb(178, 57, 80)
        cursor: help

  .rpxLoginPane
    float: right
    margin-top: 0.5em

    .thirdPartyLinks

      .button
        font-size: 1em
        font-weight: normal
        margin-top: 1em
        padding: 0
        width: 28em

        .iconContainer
          border-right: 1px solid $color_chrome_box_border

      .simpleLoginButton
        font-size: 1.4em
        font-weight: normal
        height: 2.4em
        padding-left: 3.2em
        text-align: left
        width: 20em

.btn-login
  position: relative
  display: inline-block
  text-align: left
  width: 80%
  padding: 12px
  padding-left: 50px
  background: rgb(175, 175, 175)
  color: white
  border: solid 1px rgb(192, 192, 192)
  border-radius: 2px
  box-shadow: 0 0 1px 1px #838383
  text-transform: uppercase
  text-shadow: 0 0 4px #3d3d3d
  -webkit-transition: box-shadow .15s, background-color .125s, border .125s
  -moz-transition: box-shadow .15s, background-color .125s, border .125s
  transition: box-shadow .15s, background-color .125s, border .125s
  &::before
    content: ""
    display: block
    position: absolute
    top: -1px
    left: -1px
    background-color: rgb(118, 118, 118)
    background-image: url(/stylesheets/images/common/small_logo.png)
    background-repeat: no-repeat
    background-size: 20px
    background-position: center
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px
    width: 39px
    height: 39px
  &:hover, &:active
    background-color: #767676
    border: solid 1px #767676
  &:focus
    box-shadow: 0 0 1px 1px rgb(252, 54, 59)

.btn-montana
  background: rgb(23, 126, 161)
  border: solid 1px rgb(29, 149, 187)
  box-shadow: 0 0 1px 1px rgb(16, 95, 121)
  &::before
    background-color: rgb(17, 93, 119)
  &:hover, &:active
    background: rgb(17, 93, 119)
    border: solid 1px rgb(17, 93, 119)

.btn-socrata::before
  background-image: url(/stylesheets/images/common/small_logo.png)

.auth0login
  text-align: center
  p
    padding: 2em
    padding-bottom: 0
  a
    font-size: 14px
  hr
    width: 25%
    margin-top: 18px
    border: none
    border-top: solid 1px rgb(192, 192, 192)
  .btn-login
    margin-top: 10px
  + .socrata
    display: none

.a0-onestep
  margin: 0 auto
