.siteInnerWrapper
  max-width: 100%

.adminNavBox
  .adminNav
    li
      @include admin-icons

#adminContent
  .userInformation
    .usersFind
      float: right

  .information
    font-size: 1.2em

  .usersFind
    margin: 1em 0

  .adminUsersTable
    tr
      font-size: 1.2em
    td
      padding: 0 1em
      vertical-align: middle
    .odd
      background-color: #eee

    .roleSelect
      width: 9em


  .rolesExplanation
    margin-top: 2em

    li
      font-size: 1.2em
      padding: 0.5em 0
      .roleTitle
        font-weight: bold
