.fc
  position: relative
  overflow-x: hidden

.fc-header .fc-state-default
  background-image: none
  height: auto

  a
    @include button
    cursor: pointer
    font-weight: bold
    text-transform: capitalize

.fc .fc-header-right
  padding-right: 20px
  table td
    padding-top: 0.6em
