.adminHeader {
  .newTemplateButton {
    float: right;
  }
}

.templatesList {
  tbody {
    tr {
      .button {
        opacity: 0.3;
        @include transition-duration(0.2s);
        @include transition-property(opacity);
      }
      &:hover .button {
        opacity: 1;
      }
    }
    .preview {
      .previewOuter {
        background-color: #f2f2f2;
        border-color: #dedede;
        border-width: 1px;
        @include border-radius(0.3em);
        border-style: solid;
        height: 4em;
        overflow: hidden;
        position: relative;
        .loadingOverlay {
          .loadingBackground {
            background-color: #fff;
            left: 0;
            height: 100%;
            @include opacity(0.9);
            position: absolute;
            top: 0;
            width: 100%;
          }
          .loadingMessage {
            left: 50%;
            font-size: 1.1em;
            line-height: 1.3em;
            margin-left: -5em;
            position: absolute;
            top: 1.2em;
            width: 10em;
            .icon {
              @include throbber-icon;
              float: left;
              margin-right: 0.5em;
            }
          }
        }
        .previewLogo {
          background-image: url(/stylesheets/images/logos/socrata_sdp_logo_black.png);
          background-position: 5px center;
          background-repeat: no-repeat;
          height: 35px;
          left: 0.3em;
          position: absolute;
          top: 0.5em;
          width: 100%;
          z-index: 2;
        }
        .previewSubheader {
          background-color: #555;
          height: 100%;
          left: 50%;
          margin-left: -4em;
          position: absolute;
          top: 0;
          width: 8em;
          z-index: 1;
        }
        .previewGrid {
          background-color: #fff;
          height: 100%;
          position: absolute;
          right: 0em;
          top: 0;
          width: 50%;
          .previewGridZebra {
            background-color: #e7ebf2;
            height: 34%;
            position: absolute;
            top: 33%;
            width: 100%;
          }
        }
        .previewNotAvailable {
          background-color: #ccc;
          display: none;
          height: 100%;
          left: 0;
          opacity: 0.9;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 5;
          p {
            font-size: 1.3em;
            font-weight: bold;
            margin: 1em 0;
            text-align: center;
          }
        }
      }
    }
    .actions {
      // state switch
      .defaultText {
        display: none;
        font-size: 1.3em;
        font-weight: bold;
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
      input.button {
        font-size: 1.2em;
      }
      .loading {
        @include throbber-icon;
        display: none;
      }
      &.isWorking {
        .loading {
          display: inline-block;
        }
      }
      &.isDefault {
        .defaultText {
          display: inline-block;
          .ie7 & {
            display: inline;
            position: relative;
            top: -0.7em;
          }
        }
        .makeDefaultButton {
          display: none;
        }
      }
    }
  }
}

.noResultsMessage {
  font-size: 1.3em;
  margin: 5em 0;
  text-align: center;
}

.newTemplateModal {
  label.error {
    margin-left: 11.3em;
  }
  .submitActions {
    margin-top: 1.5em;
    li {
      float: right;
    }
  }
}
