@import "_flexbox";

$whats_new_background_color: #f7f7f7;
$whats_new_border_color: #b4c0dc;
$whats_new_star_color: #d5c03e;

.whats-new {
    margin-bottom: 2em;
    border: 2px solid $whats_new_border_color;
    background-color: $whats_new_background_color;
  
    &--header {
        padding-left: 0.5em;
        padding-right: 0.75em;
        padding-top: 0.3em;
        font-size: 1rem;
        margin-top: 0.43em;
        @include flexbox;
        @include justify-content(space-between);
        
        &--star {
            color: $whats_new_star_color;
            margin-top: -0.05em;
        }
        
        &--text {
            margin-left: 0.3em;
        }
    }
    
    &--post-list {
        font-size: 0.8rem;
        @include flexbox;
        @include flex-direction(column);
        
        &--post {
            padding: 1.0em;
            
            &--title {
                font-weight: bold;
                margin-bottom: 0.5em;
            }
            
            &--body {
                line-height: 1.1;
                margin-top: 0.2em;
            }
            
            &--meta {
                margin-top: 0.5em;
                @include flexbox;
                @include justify-content(space-between);
                
                &--time {
                  font-weight: bold;
                  padding-top: 0.06em;
                }
             }
        }
        
        &--spacer {
           width: 100%;
           height: 1px;
           margin-left: auto;
           margin-right: auto;
           margin-top: 0.25em;
           margin-bottom: 0.2em;
           background-color: #cecece;
        }
        
        &--see-older {
            float: right;
            margin-top: 0.2em;
            margin-bottom: 0.8em;
            margin-right: 0.5em;
        }
    }
}
