.fc {
  position: relative;
  overflow-x: hidden;
}

.fc-header .fc-state-default {
  background-image: none;
  height: auto;
  .fc-button-inner {
    @include button;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.fc .fc-header-right {
  padding-top: 0.7em;
  table {
    .ie7 & {
      margin-right: 20px;
    }
    td {
      padding: {
        bottom: 0.3em;
        top: 0.6em;
      };
    }
  }
}

.fc-event.highlight .fc-event-inner {
  color: #333333;
}
