.profileContent {
  .flash {
    margin: 0 auto;
    text-align: center;
    width: 30em;
  }
  .content {
    background-color: #fff;
    border: 1px solid $color_chrome_box_border;
    @include border-radius(0.2em);
    margin-bottom: $chrome_margin_inner;
    padding: 1.5em;
    > .innerItem {
      border-top: 1px solid $color_chrome_box_border;
      margin-top: 1.5em;
      padding-top: 1.5em;
      &:first-child {
        border-top: 0 none;
        margin-top: 0;
        padding-top: 0;
      }
    }
    .smallButton {
      font-weight: normal;
      padding: 0.3em 0.7em;
      .icon {
        float: left;
        padding-right: 0.3em;
      }
    }
    .secondary {
      color: #666;
      .titleAndOrg {
        padding-right: 4em;
      }
    }
    .editLink {
      float: right;
      a {
        font-size: 1.2em;
        @include profile-icons;
        .icon {
          float: left;
          margin-right: 0.5em;
        }
      }
    }
    .emptyItem {
      color: #999999;
      font-size: 1.2em;
    }
    .textItem {
      font-size: 1.2em;
    }
    h2 {
      font-weight: normal;
      line-height: inherit;
      margin-bottom: 1em;
    }
    h3 {
      font-size: 1.3em;
      line-height: inherit;
      position: absolute;
      width: 15em;
    }
    .iconLink {
      line-height: 1em;
      font-size: 1.2em;
      .icon {
        display: inline-block;
        @include ie7-inline-block;
      }
      .ie7 &.accountSettings {
        .icon {
          position: relative;
          top: -0.2em;
        }
      }
    }
    &.appTokens {
      .fieldName {
        font-size: 1.2em;
      }
      .fieldValue {
        font-size: 1.1em;
      }
    }
    &.datasetsList {
      h2 {
        float: left;
        margin-right: 1em;
      }
      .ownershipLinks {
        float: left;
        padding-top: 0.2em;
        .ie7 & {
          padding-top: 0.6em;
        }
        li {
          border-right: 1px solid #cacaca;
          display: inline-block;
          padding: 0 0.5em;
          .ie7 & {
            display: inline;
          }
          &:last-child {
            border: none;
          }
          a {
            font-size: 1.2em;
            &.active {
              color: #333333;
              font-weight: bold;
            }
          }
        }
      }
      // IE8 wants this, or bad wrapping
      .browseFacets {
        clear: left;
      }
    }
    &.newsFeed {
      min-height: 7em;
      position: relative;
    }
  }
  .headerBar {
    .profileImage {
      float: left;
      margin-right: 1em;
      img {
        height: 5em;
        width: 5em;
      }
    }
    .profileHeaderText {
      display: inline-block;
      h1 {
        display: inline-block;
        line-height: 1.2em;
        margin-bottom: 0;
        padding-right: 0.2em;
        @include ie7-inline-block;
      }
      .editLinkText {
        position: relative;
        top: -0.2em;
      }
      .button {
        vertical-align: top;
      }
      .followButton {
        @include sprite-repeater-icons;
      }
      .editProfileLink {
        @include profile-icons;
        .icon {
          display: inline-block;
        }
      }
      .accountDate {
        padding-right: 1em;
      }
    }
    .summaryStatsContainer {
      float: right;
      .summaryBox {
        border: 1px solid $color_chrome_box_border;
        @include border-radius(0.2em);
        background-color: $light_bg_color;
        float: left;
        margin-left: 1em;
        padding: 0.7em;
        &:first-child {
          margin-left: 0;
        }
        .statHeader {
          font-size: 1.2em;
          padding-bottom: 0.3em;
        }
        .number {
          font-size: 2em;
          font-weight: bold;
        }
      }
    }
  }
  .profileSideBar {
    float: right;
    margin: 0 {
      left: $chrome_margin_inner;
    };
    width: 22em;
    .profileImage {
      clear: both;
      margin: 0 auto 1em;
      width: 220px;
    }
    .hiddenContacts {
      display: none;
      width: 220px;
    }
    .showMoreLinkContainer {
      padding-top: 0.5em;
    }
  }
  .profileMainContent {
    padding-right: #{25.2em + $chrome_margin_inner};
    .textDisplay {
      font-size: 1.2em;
    }
    .basicInfo, .appTokens {
      .innerContent {
        margin-left: 15em;
      }
      .subHeader {
        color: #666;
        display: block;
        float: left;
        width: 12em;
      }
      p {
        padding-top: 0.5em;
        &:first-child {
          padding-top: 0;
        }
      }
    }
    .subscribeLink {
      @include sprite-menu-icons;
      float: right;
      line-height: 1.1em;
      .icon {
        float: left;
        padding-right: 0.3em;
      }
    }
  }
}

.contactUserDialog {
  @include common-form(5em, 20em);
  label {
    line-height: 1.7em;
    vertical-align: top;
  }
}
