.fc
  position: relative
  overflow-x: hidden

.fc-header .fc-state-default
  background-image: none
  height: auto

  a
    @include button
    cursor: pointer
    font-weight: bold
    text-transform: capitalize

.fc .fc-header-right table
  .ie7 &
    margin-right: 20px
  td
    padding:
      bottom: 0.3em
      top: 0.6em
