.adminList
  padding: 1.5em
  li
    @include admin-icons
    margin-bottom: 2em
    &:last-child
      margin-bottom: 0
    a
      font-size: 1.5em
      font-weight: bold
      .icon
        display: inline-block
        margin-right: 0.5em
    .description
      color: #999999
      display: block
      font-size: 1.2em
      margin-top: 0.5em
