.contentBox
  padding: 0

  .header
    padding: 1em
    position: relative

    #renderTypeOptions
      float: right
      margin-top: 2em
      li a
        @include renderType-toggle-icons

    h1
      float: left
      margin: 0.3em 0
        left: 0.3em

    .returnLink
      font-size: 1.2em
      font-weight: bold
      position: absolute
      right: 1em
      top: 1em

    .unsavedLine
      display: none
      float: left
      margin-left: 3em

      .loadingIcon
        @include throbber-icon
        display: inline-block
        margin-left: 1.5em

    .unsavedView &
      background: #fff url(/stylesheets/images/interface/dataset_unsaved_fade.png) repeat-y
      .unsavedLine
        display: block

  .mainContainer
    position: relative

  .renderArea
    height: 100%
    position: relative

    .dropIndicator
      height: 100%
      top: 0
      width: 2px

    .dropFinder
      display: inline-block
      left: 0
      position: relative
      top: 0
      vertical-align: top

  #layoutContainer
    border-top: 1px solid $color_chrome_box_border
    padding: 1em
      bottom: 4em
    z-index: 1

    .addColumn
      @include sprite-repeater-icons
      position: absolute
      right: -7px
      top: 30%
      // One above resize handle for sidebar
      z-index: 100000

  .ui-draggable-dragging
    z-index: 100001

  .dropIndicator
    background-color: #666666
    display: inline-block
    position: absolute

  .itemDragging
    @include opacity(0.5)

  .ui-droppable.inDrag
    background-color: #ddffcc
    &.dragOver
      background-color: #88ff77

  .dragHandle
    background-image: url(/stylesheets/images/content/table/column_drag_handle.png)
    background-position: top left
    background-repeat: repeat
    cursor: move
    position: absolute
    visibility: hidden
    z-index: 1

  .richColumn
    border: 1px solid #999999
    @include border-radius(0.3em)
    padding: 0.2em
    position: relative
    &:hover, &.ui-draggable-dragging
      border-color: #333333
      @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.5))

    &.hover, &.ui-draggable-dragging
      .columnDrag
        visibility: visible

    .addRow
      @include sprite-repeater-icons
      @include opacity(0.6)
      bottom: -7px
      left: 50%
      margin-left: -7px
      position: absolute
      z-index: 2
      &:hover
        @include opacity(1)

    .dropIndicator
      height: 2px
      left: 0
      width: 100%

    .dropFinder
      left: -3px
      position: relative
      top: -1px

    .dragHandle
      bottom: 0
      height: 7px
      left: 0
      width: 100%

  .richLine
    border: 1px dashed #999999
    @include border-radius(0.3em)
    min-height: 1.5em
    padding: 0.1em
    position: relative

    &:hover, &.ui-draggable-dragging
      border-color: #333333
      @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.5))
      .rowDrag
        visibility: visible

    .dropFinder
      left: -2px
      position: relative
      top: -5px

    .dropIndicator
      height: 2em
      width: 2px

    .dragHandle
      height: 100%
      left: 0
      top: 0
      width: 7px

  #gridSidebar
    position: absolute
    z-index: 0

    .fieldPalette .sectionContent
      padding: 0.75em
      .columnFields
        border-bottom: 1px solid $color_chrome_box_border
        margin-bottom: 1em
        padding-bottom: 0.5em
      .columnItem
        margin-bottom: 0.25em
      .columnData
        margin:
          left: 1em
          top: 0.25em

  #gridSidebar, .mainContainer >
    .fieldItem
      background-color: #dddddd
      @include border-radius(0.3em)
      display: inline-block
      padding: 0.2em
      .ie7 &
        display: inline
      &.columnLabel
        font-size: 1.2em
        font-weight: bold
      &.columnData
        font-size: 1.2em
      &.staticLabel
        font-size: 1.2em
        font-weight: bold

.richRendererContainer
  .fieldItem:hover
    background-color: #dddddd
    @include border-radius(0.3em)

.fieldItem
  cursor: pointer

.navRenderType .navigation
  .removeItem
    background-color: #ffbbbb
    @include border-radius(0.3em)
    float: left
    font-size: 1.2em
    padding: 0.5em
    visibility: hidden
    &.inDrag
      visibility: visible
    &.dragOver
      background-color: #ff7777
      font-weight: bold

// Save view dialog
.saveViewDialog
  margin-left: -14em
  width: 28em
  input
    width: 95%

  p
    margin: 0.5em 0

  .info
    font-weight: bold
    margin-bottom: 1.5em

  .normalSave, form, p.newName
    display: none

