$dark-grey: #7a7a7a;

.site-chrome {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  max-width: 68rem;
  margin: 24px auto 0;

  h1, h2, h3, h4, h5 {
    letter-spacing: -0.5px;
    font-weight: 600;
  }

  button {
    color: $dark-grey;
    background-color: #fff;
    border: solid 1px #c2c2c2;
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0;
    margin-right: 0;
    @include transition(0.2s, color);
    @include transition(0.2s, background-color);
    border-radius: 1px;
    &:hover {
      color: $dark-grey;
      background-color: #e6e6e6;
    }
    &.primary {
      color: #fff;
      background-color: #288DC1;
      border-color: #288DC1;
      &:hover {
        background-color: #20719a;
      }
    }
  }

  .admin-header {
    margin-bottom: 46px;
    overflow: hidden;

    .header-title {
      float: left;
      display: block;

      h1 {
        font-size: 27px;
      }
    }

    .header-controls {
      float: right;
      display: block;
      text-align: right;
      button {
        [class*="icon-"] {
          position: relative;
          padding-left: 11px;
        }
      }
    }
  }

  ul.tabs {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
    li {
      display: inline-block;
      padding: 0 11px;
      a {
        text-decoration: none;
        color: $dark-grey;
        padding: 6px 9px;
        font-size: 15px;
        &:hover {
          border-bottom: 4px solid #d6d6d6;
          color: #3d3d3d;
        }
      }
      &.current a {
        border-bottom: 4px solid #288DC1;
        color: #3d3d3d;
      }
    }
  }

  .tab-content {
    display: none;
    padding: 1rem;

    &.current {
      display: block;
    }

    h2.section-title {
      margin-top: 27px;
      font-size: 23px;
    }

    section.settings-group {
      display: block;
      padding-top: 27px;
      overflow: hidden;

      div.settings-form {
        float: left;
        width: 65%;

        &.half {
          width: calc(32.5% - 1rem);
          &:first-of-type {
            margin-right: 2rem;
          }
        }

        label {
          display: block;
          margin-bottom: 0.5em;
          font-size: 15px;
          font-weight: 600;
        }
        input {
          width: calc(100% - 16px);
          border: solid 1px #c2c2c2;
          border-radius: 1px;
          box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
          font-size: 15px;
          padding: 8px;
          margin-bottom: 12px;
        }
      }

      aside {
        display: block;
        float: right;
        width: calc(35% - 1rem);
        padding-left: 1rem;

        p {
          font-size: 14px;
          line-height: 1.4em;
          margin: 22px 0;
        }
      }

      &.list-of-links {

        > h3 {
          font-size: 19px;
          font-weight: 600;
        }

        > p {
          margin: 24px 0;
          font-size: 14px;
        }

        div.link-row {
          overflow: hidden;
          label {
            width: calc(50% - 1rem - 16px);
            float: left;
            font-size: 15px;
            padding: 8px;
            &:first-of-type {
              margin-right: 1rem;
            }
          }
          input {
            width: calc(50% - 1rem - 16px);
            float: left;
            border: solid 1px #c2c2c2;
            border-radius: 1px;
            box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
            font-size: 15px;
            padding: 8px;
            margin-bottom: 12px;
            &:first-of-type {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  .page-controls {
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
    margin-bottom: 20px;

    button:first-of-type {
      margin-right: 9px;
    }
  }

}
