#mapLayers
  background-color: #ffffff
  border: 1px solid #333333
  padding: 0.5em
  position: absolute
  right: 1.5em
  top: 4em
  z-index: 25

  a
    color: #333333
    display: inline-block
    font-size: 1.1em
    text-align: right
    width: 100%

  .sliderControl
    display: inline-block
    margin-right: 0.7em
    vertical-align: bottom
    width: 8.6em

  .ui-slider-handle
    width: 1.2em

  .sliderInput
    background-color: transparent
    border: none
    @include box-shadow-none
    text-align: right
    width: 1.8em
    position: relative
    top: 3px

#mapLayers li
  margin: 0.5em 0
  padding: 0.3em

  label
    font-size: 1.1em
    cursor: pointer

  &:hover
    cursor: pointer
    background-color: #ddeaf0

#mapLegend
  background-color: #ffffff
  border: 1px solid #333333
  padding: 0.5em
  position: absolute
  left: 1.5em
  bottom: 4em
  z-index: 25

#mapLegend .color_swatch
  cursor: default

.mapTitle
  font-size: 1.4em
  font-weight: bold
  margin-bottom: 0.5em
  margin-right: 15px

.infowindow div .window .top .right .user
  .border
    border: none
  .layout
    margin-top: 10px
  .titlebar .hide_infowindow
    margin-top: 0

.mapInfoContainer
  height: 100%
  max-height: 20em
  max-width: 25em
  min-width: 15em
  overflow: auto
  .infowindow &
    font-size: 0.8333em

  .infoPaging
    text-align: center
    margin:
      // This makes the scrollbar go away in FF...
      bottom: 0.2em
      top: 0.75em
    a
      font-size: 1.1em
      &.previous
        margin-right: 7em
      &.disabled
        color: #999999
        cursor: auto

.firstChild
  .VE_Pushpin_Popup_Title
    font-size: 1.3em
  .VE_Pushpin_Popup_Body
    font-size: 1em

.infowindow .window .top .right .user .titlebar .hide_infowindow
  height: 8px
  margin-top: 5px
  overflow: hidden
  position: absolute
  width: 12px

  .sprite
    margin-left: -752px
    margin-top: -900px
    cursor: pointer
    display: block

    &:hover
      margin-top: -908px

.pageRenderType
  #mapLegend, #mapLayers
    display: none

#bing_infoWindow
  z-index: 1000
  position: absolute

  #bing_infoBeak
    background: url('/images/bing-beaks.gif')
    width: 18px
    height: 35px
    margin-top: 3px
    float: left

  #bing_infoContent
    background-color: white
    padding: 10px
    border: solid 1px #888888
    margin-left: 16px

    img
      cursor: pointer
      position: absolute
      right: 4px
      top: 4px

#bing_infoWindow.right

  #bing_infoBeak
    background-position: 0 34px
    position: absolute
    right: 0
    top: 0

  #bing_infoContent
    margin-left: 0
    margin-right: 17px

    img
      right: 22px

.google_cluster_labels
  color: white
  background-color: transparent
  font-family: "Arial", sans-serif
  font-size: 10px
  font-weight: bold
  text-align: center
  width: 40px
  white-space: nowrap

  &.small
    color: black

.bing_cluster_labels
  color: black
  background-color: white
  font-family: "Lucida Grande", "Arial", sans-serif
  font-size: 10px
  font-weight: bold
  text-align: center
  width: 40px
  border: solid 1px black
  position: absolute
  white-space: nowrap
