.fullHeight {
  height: 100%;
}

.outerContainer {
  height: 100%;
  border: none;
}

#renderTypeContainer {
  height: 100%;
}

.missing-columns-warning,
.missing-dataset-error {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  background: white;

  .missing-columns-warning-message,
  .missing-dataset-error-message {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0;
    width: auto;
    background-color: #faf0f0;
    border-color: #ce6565;
    color: #904747;
    border-radius: 0;
    font-size: 15px;
    font-weight: normal;

    height: 58px;
    text-align: center;
    padding: 1rem;
    margin-top: calc((58px + 2rem)/-2);
    overflow: auto;

    p + p {
      margin-top: 1rem;
    }
  }
}

.missing-dataset-error {
  .missing-dataset-error-message {
    height: auto;
  }
}
