#viewsContent {
  .browseSection {
    padding-top: 1em;
    .ie7 & .index {
      width: 4em;
      .expander {
        display: none;
      }
    }
    .nameDesc {
      .description {
        max-width: 20em;
        @include clip-text;
      }
      .ie7 & {
        .expandBlock {
          display: none;
        }
      }
    }
    .datasetActions {
      width: 20em;
      .ie7 & {
        width: 22em;
      }
      .moderateActions {
        position: relative;
        top: -0.6em;
        .textStatus {
          display: inline-block;
          font-weight: bold;
          width: 5em;
          .ie7 & {
            bottom: 1em;
            position: relative;
          }
        }
        form {
          font-size: 0.8em;
          display: inline;
          .ie7 & {
            .button {
              padding: 0.5em;
            }
          }
        }
      }
    }
  }
}
