.metadataScreen

  .noData
    font-size: 1.4em
    margin: 1em 0

  .customFields
    .fieldsetTitle
      margin:
        bottom: 1em
        right: 1em
        top: 2em

    .removeFieldsetButton
      float: right
      position: relative
      top: 1.5em

    .gridListWrapper
      margin-top: 1.5em
    .metadataFieldTable

      td.required
        width: 1em
      tr.required
        td.required
          .requiredField
            background: url(/stylesheets/images/common/required.png) no-repeat left top
            display: block
            height: 10px
            margin-left: 6px
            width: 10px
      tr.private
        color: #888

  .metadataFieldTable, .categoriesTable
    .actions
      width: 42em

      input.button
        font-size: 1em
        opacity: 0.3
        @include transition-duration(0.5s)
        @include transition-property(opacity)

      &:hover .button
        opacity: 1

      .loading
        @include throbber-icon
        display: none
      &.isWorking
        .loading
          display: inline-block

    tbody
      td.name
        font-size: 1.2em
      tr td
        padding: 0.2em 1em
      td.required
        padding-right: 0

      .toggleButton
        width: 10em

  .newFieldsetArea
    padding-top: 1em

    label
      font-weight: bold

    .newFieldsetName, label
      font-size: 1.4em
      margin-right: 1em

    .newFieldsetButton
      font-size: 1.2em

  .categories
    border-top: 1px solid $color_chrome_box_border
    margin-top: 2em

    h2
      margin-bottom: 1em

