.gridFlowLayout.nonDS
  .singleItem
    float: left
    height: 250px
    margin:
      bottom: 1em
      right: 1em
    position: relative
    width: 250px
    .primaryAction .actionDetails
      font-size: 1.1em

.actionLinks
  border: 2px solid $color_chrome_box_border
  margin-bottom: 2em
  padding: 1em
  > div + div .socrata-component a
    margin: 0 auto
  > div + div + div .socrata-component
    float: right
  a
    @include border-radius(0.3em)
    background-color: #2f91de
    color: #ffffff
    cursor: pointer
    display: block
    height: 9.3em
    text-align: center
    @include transition(0.5s, background-color)
    padding: 2em
    width: 17em

    &:hover
      background-color: #1070b0

    .ss-icon
      display: block
      font-size: 5em
      margin: 0.2em auto

    p
      font-size: 1.4em
      font-weight: bold
