#federationContent {
  .searchFields {
    margin: 2em 0;
    form.search {
      display: inline;
      &.domainsSearch {
        margin-right: 4em;
      }
    }
    .submit {
      text-transform: none;
    }
  }
  .availableTargetDomains {
    margin-bottom: 2em;
    .explanation {
      font-size: 1.2em;
      margin-bottom: 1em;
    }
    label {
      display: inline-block;
      font-size: 1.2em;
      margin-right: 0.5em;
      &.domain {
        font-size: 1.4em;
        font-weight: bold;
        width: 12em;
      }
    }
  }
  .noAvailableTargets {
    font-size: 1.4em;
    margin-bottom: 1em;
  }
  .federationList {
    .status, .delete {
      .cellInner {
        display: inline-block;
        font-size: 1.4em;
        font-weight: bold;
        margin-right: 0.5em;
        width: 5em;
        .ie7 & {
          display: inline;
          position: relative;
          top: -0.7em;
        }
      }
      .acceptRejectButtons {
        white-space: nowrap;
        display: inline-block;
      }
      .button {
        opacity: 0.3;
        @include transition-duration(0.5s);
        @include transition-property(opacity);
      }
      &:hover .button {
        opacity: 1;
      }
      .loading {
        @include throbber-icon;
        display: none;
      }
      &.isWorking {
        .loading {
          display: inline-block;
        }
      }
    }
  }
  .noFederations {
    font-size: 1.4em;
  }
}
