$browse_background_color: #ffffff;
$data_lens_icon_color: #80acca;

@import "./media-object";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.browseSection {
  padding: #{$chrome_margin_inner} 0;
  .asset-icon {
    margin-bottom: 5px;
  }
  .media-item {
    .settings-icon {
      opacity: 0;
      position: relative;
      border: 0;
      padding: 0;
      cursor: pointer;
      transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out;
    }
    &:hover {
      .settings-icon {
        opacity: 1;
      }
    }
  }
  .settings.menu {
    display: block;
    position: relative;
    top: 19px;
    left: 10px;
  }
  .action_browse_show & {
    padding-top: 0;
  }
  .highlight {
    background-color: $search_highlight_color;
    padding: {
      left: 0.3em;
      right: 0.3em;
    };
  }
  .searchSection {
    border: 1px solid #cacaca;
    margin-bottom: 1em;
    position: relative;
    padding: {
      left: 2.8em;
      right: 0.6em;
    };
    .icon {
      @include dataset-toolbar-icon-search;
      cursor: pointer;
      left: 0.5em;
      position: absolute;
      top: 0.3em;
    }
    .searchBox {
      border: none;
      -webkit-appearance: none;
      width: 100%;
    }
    .clearSearch {
      @include sprite-menu-icons;
      position: absolute;
      right: 2em;
      top: 0;
    }
  }
  .browseFacets {
    background-color: #ffffff;
    border: 1px solid $color_chrome_box_border;
    @include border-radius(0.3em);
    float: left;
    padding: 1.5em {
      bottom: 0;
    };
    width: 18em;
    .asset-icon {
      margin-right: 0.5em;
    }
    .facetSection {
      border-top: 1px solid #cacaca;
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
      padding: 1em 0;
      [class^="icon-"], [class*=" icon-"] {
        display: inline-block;
        width: 12px;
        margin-right: 0.5em;
        font-size: 13px;
        line-height: 13px;
      }
      .title {
        font-size: 1.3em;
        font-weight: bold;
      }
      .moreOptions.list {
        a {
          display: block;
          padding: 0.25em 0;
        }
      }
      li {
        padding: 0.25em 0;
      }
      li, .moreOptions.list {
        a {
          @include sprite-menu-icons;
          color: $color_links_normal;
          font-size: 1.1em;
          line-height: 13px;
          .icon, .customIcon {
            display: inline-block;
            float: left;
            margin-right: 0.5em;
          }
          .customIcon {
            height: 13px;
            width: 13px;
          }
          &.active {
            color: #333333;
            cursor: auto;
            font-weight: bold;
          }
          &.clearValues .icon {
            background-position: 100px 100px;
          }
          &.help-link {
            background: #fffb98;
            font-size: 0.9em;
            margin-left: 0.2em;
            padding: 0 0.4em 0 0.2em;
          }
        }
        .help-text {
          background: #fffb98;
          font-size: 0.9em;
          margin-left: 0.2em;
          padding: 0 0.4em 0 0.2em;
        }
        .childList {
          margin: {
            bottom: -0.25em;
            left: 1em;
          };
        }
      }
      .moreLink, .cloudLink {
        float: right;
        font-size: 1.1em;
      }
      &.clearAllSection a {
        font-weight: bold;
      }
    }
  }
  .suggestBox {
    margin-top: $chrome_margin_inner;
  }
  .infoBox {
    background-color: #ffffff;
    border: 1px solid $color_chrome_box_border;
    @include border-radius(0.3em);
    margin: {
      bottom: 0.5em;
      left: #{21em + $chrome_margin_inner};
    };
    padding: 1.5em;
    position: relative;
    h3 {
      color: #999999;
      display: inline;
    }
    .buttonContainer {
      position: absolute;
      right: 1em;
      top: 1.5em;
      .button {
        @include sprite-menu-icons;
        margin: 0 {
          top: -0.4em;
        };
        .icon {
          display: inline-block;
          margin-left: 0.3em;
          position: relative;
          top: 0.2em;
        }
      }
    }
  }
  .typeNew_view .icon-cards,
  .typeNewView .icon-cards,
  .typeData_lens .icon-cards,
  .typeDataLens .icon-cards {
    &::before {
      color: $data_lens_icon_color;
    }
  }
  .browseList {
    background-color: $browse_background_color;
    border: 1px solid $color_chrome_box_border;
    @include border-radius(0.3em);
    margin: {
      bottom: 0.5em;
      left: #{21em + $chrome_margin_inner};
    };
    padding: 1.5em;
    position: relative;
    .titleContainer {
      float: left;
      width: 100%;
      h2 {
        @include clip-text;
        font-size: 1.7em;
        margin: {
          right: 4.5em;
          top: 0;
        };
        a {
          @include sprite-menu-icons;
          .icon {
            display: inline-block;
            position: relative;
            left: 0.5em;
            top: 0.1em;
          }
        }
      }
    }
    &.hasSort .titleContainer h2 {
      margin-right: 15em;
    }
    .topControls {
      position: absolute;
      right: 1.5em;
      top: 1.5em;
    }
    .viewTypeOptions {
      display: inline-block;
      margin-right: 1em;
      vertical-align: middle;
      li a {
        @include renderType-toggle-icons;
      }
    }
    .sortOptions {
      display: inline-block;
      vertical-align: middle;
      .sortLabel {
        display: block;
        left: -9999px;
        overflow: hidden;
        position: absolute;
        width: 0;
      }
      .sortType {
        width: 11em;
      }
      .sortPeriod {
        width: 9em;
      }
    }
    .results {
      margin: {
        bottom: 2em;
        top: 3em;
      };
      overflow: hidden;
      .noResults {
        text-align: center;
        .message {
          color: #666666;
          display: block;
          font-size: 1.4em;
          font-weight: bold;
          margin-bottom: 0.5em;
        }
      }
      .gridList {
        th {
          font-weight: bold;
        }
        tbody {
          tr {
            border-top: none;
            &.collapsed {
              border-bottom: 1px solid $color_table_header_inactive;
            }
            td {
              vertical-align: top;
            }
          }
        }
        .index {
          padding-right: 0.1em;
          width: 5.5em;
          .expander {
            @include sprite-menu-icons;
            float: left;
            margin-right: 0.5em;
          }
          .value {
            color: #999999;
            line-height: 1.2em;
          }
        }
        .domainIcon {
          padding: {
            left: 0.1em;
            right: 0.5em;
            top: 0.3em;
          };
          width: 20px;
          img {
            height: 20px;
            width: 20px;
          }
        }
        .item.federated {
          background-color: $federated_background_color;
          .nameDesc a, .nameLink {
            color: scale-color($color_links_normal, $saturation: -25%, $lightness: 10%);
          }
          .rowSearchResults {
            .rowSearchRenderType {
              .row:nth-child(even) {
                background-color: $row_zebra_color;
              }
              .row:nth-child(odd) {
                background-color: $browse_background_color;
              }
            }
            &.overheight {
              .fader {
                @include vertical-gradient(transparentize($federated_background_color, 1), $federated_background_color);
                .noLinearGradient & {
                  //oh, well
                  background: none;
                }
              }
            }
          }
        }
        .nameDesc {
          div.titleLine {
            //white-space: nowrap
            //overflow: hidden
          }
          padding: {
            bottom: 0;
            left: 0.1em;
          };
          .name {
            font-weight: bold;
            margin-bottom: 0.2em;
          }
          .infoItem {
            color: #999999;
            font-size: 0.9167em;
            margin-left: 1em;
            &.tags {
              color: #666666;
            }
            &.federation-source {
              font-size: 1em;
              margin: 0.25em 0;
            }
            &.browse-listing-provenance {
              padding: 0.2rem 0.3rem;
              text-transform: capitalize;
              color: #333;
              background-color: #eee;
              .icon-check {
                @include border-radius(100%);
                font-size: 0.5rem;
                padding: 0.15rem;
                margin-right: 0.5rem;
                color: white;
                background-color: #68b0cc;
              }
            }
          }
          .description {
            line-height: 1.2em;
            margin-bottom: 0.6em;
            min-height: 1.2em;
            overflow: hidden;
            word-break: break-all;
          }
          .rowSearchResults {
            margin-right: -15.2em;
          }
          .extraInfo {
            background-color: #fafafa;
            border: 1px solid $color_table_header_inactive;
            @include border-radius(5px);
            margin-left: -6.7em;
            padding-right: 22.5em;
            position: relative;
            width: 100%;
            .close {
              @include sprite-menu-icons;
              position: absolute;
              right: 5px;
              top: 5px;
            }
            .infoContent {
              min-height: 1em;
              margin-right: -22.5em;
              padding: 0.5em 1em;
              .actions {
                display: inline-block;
                font-size: 0.8333em;
                margin-right: 2em;
                .button, .menuButton {
                  @include button;
                  font-size: 1.1em;
                }
                .button {
                  margin: 0 {
                    right: 0.3em;
                  };
                  vertical-align: top;
                }
              }
              .menu.share {
                @include sprite-menu-icons(".menuButton .shareIcon");
                margin-right: 0.25em;
                .menuButton {
                  .shareIcon, .icon {
                    display: inline-block;
                  }
                  .shareText {
                    bottom: 0.2em;
                    margin: {
                      left: 0.5em;
                      right: 0.2em;
                    };
                    position: relative;
                  }
                }
                .menuDropdown ul li ul li {
                  @include sprite-menu-icons;
                  a {
                    font-size: 1.1em;
                    min-width: 6em;
                  }
                }
              }
              .comments {
                @include admin-icons;
                color: #aaaaaa;
                display: inline-block;
                font-size: 0.9167em;
                margin-right: 1em;
                .icon {
                  display: inline-block;
                  margin-right: 0.4em;
                }
                .value {
                  display: inline-block;
                  margin-top: 0.2em;
                  vertical-align: top;
                }
              }
              .starsControl {
                display: inline-block;
              }
            }
            &.federated {
              margin-left: -8.95em;
              padding-right: 24.75em;
              .infoContent {
                margin-right: -24.75em;
              }
            }
          }
          .expandBlock.collapsed {
            .description {
              height: 1.2em;
            }
            .extraInfo {
              display: none;
            }
          }
        }
        .popularity {
          text-align: right;
          width: 8em;
          .visits {
            color: #aaaaaa;
            font-size: 0.9167em;
          }
        }
        .federation-source {
          color: #aaaaaa;
        }
        td.type {
          @include sprite-menu-icons;
          text-align: right;
          width: 3em;
          .icon {
            float: right;
          }
        }
        .largeImage {
          padding-right: 0;
          text-align: center;
          width: 50px;
          .datasetIcon {
            margin: 0 auto;
            width: 50px;
            [class^="icon-"], [class*=" icon-"] {
              font-size: 50px;
            }
          }
          img.datasetImage {
            max-height: 50px;
            max-width: 50px;
            &.thumbnail {
              padding: 12px 0;
              border: 1px solid $color_chrome_box_border;
            }
          }
          .type {
            @include sprite-type-icons-50;
            font-size: 0.8333em;
          }
        }
        .richSection {
          padding-left: 0.5em;
          .nameLink {
            .name {
              font-size: 1.2em;
              vertical-align: middle;
            }
            .domainIcon {
              height: 20px;
              padding: 0.1em;
              vertical-align: middle;
              width: 20px;
            }
          }
          .expandBlock {
            padding-right: 20px;
            position: relative;
          }
          .description {
            font-size: 0.9167em;
            line-height: 1.1em;
            margin-top: 0.4em;
            &.collapsed {
              max-height: 8.727em;
              overflow: hidden;
            }
          }
          .expander {
            @include sprite-menu-icons;
            bottom: 0;
            position: absolute;
            right: 0;
          }
          .rowSearchResults {
            margin-right: -19.5em;
            > span {
              display: inline-block;
              margin-top: 0.6em;
            }
          }
        }
        .rss {
          text-align: right;
          width: 2em;
          .subscribe {
            @include sprite-menu-icons;
            float: right;
          }
        }
      }
      .rowSearchResults {
        > span {
          font-style: italic;
          font-style: normal;
          font-size: 0.8em;
          color: #999;
        }
        margin-bottom: 0.6em;
        position: relative;
        .rowResultCountDisplay {
          font-weight: bold;
          padding: 0.5em 0;
        }
        .rowList {
          overflow: hidden;
          .row {
            font-size: 0.8em;
            &:last-child {
              padding-bottom: 1em;
            }
          }
        }
        .expandHint, .fader {
          display: none;
        }
        .expandHint {
          .expandText {
            display: none;
          }
          .icon {
            float: left;
            margin: {
              right: 0.5em;
              top: 0.2em;
            };
          }
        }
        &.overheight {
          .expandHint {
            @include sprite-menu-icons;
            display: block;
            height: 1.5em;
            line-height: 1.5em;
            margin: 0 auto;
            width: 100px;
            .collapseText {
              display: inline;
            }
          }
          .fader {
            display: block;
            @include vertical-gradient(transparentize($browse_background_color, 1), $browse_background_color);
            bottom: 1.5em;
            left: 0;
            height: 100px;
            position: absolute;
            width: 100%;
            .noLinearGradient & {
              background: url(/stylesheets/images/content/vertical_fade.png?1) repeat-x;
            }
          }
        }
        &.overheight.collapsed {
          .rowList {
            max-height: 200px;
          }
          .expandHint {
            .expandText {
              display: inline;
            }
            .collapseText {
              display: none;
            }
          }
        }
      }
    }
    .pagination {
      font-size: 1.2em;
      text-align: center;
      .pageLink {
        margin: 0 0.25em;
        &.active {
          color: #999999;
          cursor: auto;
        }
      }
      .button {
        @include sprite-menu-icons;
        font-size: 1em;
        padding: 0.3em;
      }
      .prevLink {
        margin-right: 1em;
      }
      .nextLink {
        margin-left: 1em;
      }
    }
    .resultCount {
      color: #999;
      font-size: 1.2em;
      margin: 0.7em {
        bottom: 0;
      };
      text-align: center;
    }
  }
  &.inContainer {
    padding: 0 {
      top: 3em;
    };
    .infoBox {
      border: none;
      margin-left: 21em;
      padding: 0;
      h3 {
        display: none;
      }
      .buttonContainer {
        top: -3em;
      }
    }
    .browseFacets {
      border: none;
      padding: 0 {
        top: 5.5em;
      };
      &.hasTimePeriod {
        padding-top: 8em;
      }
    }
    .browseList {
      // The border needs to exist but be invisible, otherwise the margin that
      // clears the sort option gets collapsed
      border-color: #ffffff;
      margin-left: 21em;
      padding: 0;
      .topControls {
        border-bottom: 1px solid #cacaca;
        left: -21em;
        padding-bottom: 1em;
        right: auto;
        top: 0;
        .viewTypeOptions {
          margin-right: 0.2em;
        }
        .sortOptions {
          .uniform {
            display: block;
          }
          .sortType, .sortPeriod {
            width: 10.5em;
          }
        }
      }
      .results {
        margin-top: 0;
      }
    }
    &.noSort .browseFacets {
      padding-top: 0;
    }
  }
  &.noFacets .browseList {
    margin-left: 0;
  }
  // Fall 2015 catalog visual style update
  &[data-view-type="listing"] {
    font-family: "Open Sans", sans-serif;
    div.menu .menuDropdown ul.menuColumns li.menuColumn ul.menuEntries li.menuEntry a {
      padding-left: 0.8em;
    }
    .sortOptions .sortType {
      width: 13em;
    }
    .uniform.selector {
      @include border-radius(0.2em);
      background: #eee none;
      > .container > div {
        background-image: none;
        &::before {
          @include icon-font;
          color: #666;
          content: "";
          line-height: inherit;
          position: absolute;
          right: 1em;
        }
      }
    }
    .results {
      margin-top: 5em;
      overflow: visible;
    }
    .asset-icon {
      margin-top: 2px;
    }
    .browse-list-item {
      margin-bottom: 2em;
    }
    .browse-listing-name {
      font-size: 1.6em;
      font-weight: bold;
      margin-right: 0.25em;
    }
    .browse-listing-tags {
      color: #666;
      font-size: 1em;
    }
    .browse-listing-titleinfo {
      margin-bottom: 0.75em;
    }
    .browse-listing-provenance {
      padding: 0.3em;
      text-transform: capitalize;
      color: #444;
      background-color: #eee;
      margin-right: 0.5em;
      .icon-check {
        @include border-radius(100%);
        font-size: 0.5em;
        padding: 0.25em;
        margin-right: 0.5em;
        color: white;
        background-color: #68b0cc;
      }
    }
    .browse-listing-category {
      @include border-radius(0.2em);
      background-color: #eee;
      color: #444;
      font-size: 1em;
      padding: 0.3em;
    }
    .browse-listing-description {
      @include prefixer(transition, max-height 0.5s ease);
      max-height: calc(1.4em * 6);
      overflow: hidden;
      position: relative;
      &.is-expanded {
        max-height: 1000px;
        padding-bottom: 1.2em;
        [data-expand-action="more"] {
          display: none;
        }
        [data-expand-action="less"] {
          display: inherit;
        }
      }
      &:not(.is-expanded) {
        [data-expand-action="more"] {
          display: inherit;
        }
        [data-expand-action="less"] {
          display: none;
        }
      }
      p {
        font-size: 1.2em;
        line-height: 1.2em;
        margin-bottom: 1.2em;
      }
    }
    .browse-listing-description-controls {
      &.hidden {
        display: none;
      }
      button {
        font-family: inherit;
        border: 0;
        background-color: #fff;
        bottom: 0;
        cursor: pointer;
        padding: 0;
        position: absolute;
        right: 0;
        span {
          color: #3B5998;
        }
      }
    }
    .browse-listing-metadata {
      line-height: 1.5em;
    }
    .browse-listing-viewcount {
      color: #999;
      font-size: 1em;
      margin-right: 1em;
    }
    .searchSection {
      border: 0;
      color: #999;
      padding: {
        left: 3.5em;
        right: 1.5em;
      };
      .icon {
        @include prefixer(transform, scale(-1, 1));
        left: 1.5em;
        text-indent: 0;
        background: none;
        &::before {
          @include icon-font;
          color: #666;
          content: "";
          font-size: 1.6em;
          line-height: 1.2em;
        }
      }
      .searchBox {
        color: #999;
        font-family: inherit;
        font-size: 1.6em;
        line-height: 1.6em;
        padding: 0 0.3em;
      }
    }
    &.inContainer {
      .browseList .topControls .sortOptions .sortType {
        width: 13em;
      }
      .searchSection {
        padding: {
          left: 2em;
        };
        .icon {
          left: 0;
        }
      }
    }
    &:not(.inContainer) {
      .browseFacets, .browseList {
        @include border-radius(0.2em);
        @include prefixer(box-shadow, 0 0 0 4px rgba(0, 0, 0, 0.0255));
        border: 1px solid #e4e4e4;
      }
      .browseFacets {
        padding: {
          left: 0;
          right: 0;
        };
        width: 21em;
      }
      .facetSection {
        padding: {
          left: 1.5em;
          right: 1.5em;
        };
      }
      .facetSection {
        border-color: #e4e4e4;
        .title {
          color: #333;
          font-size: 1.3em;
          font-weight: bold;
          letter-spacing: -0.02em;
          padding-bottom: 0.5em;
        }
        li {
          padding: 0.45em 0;
          a {
            font-size: 1.2em;
            letter-spacing: -0.02em;
          }
        }
      }
      .titleContainer > h2 {
        font-size: 1.8em;
        padding-left: 0.3em;
      }
      .browseList .topControls {
        right: 1.8em;
      }
    }
  }
}

// modals
.browseOptionsDialog {
  margin-left: -30em;
  width: 60em;
  .optionsContent {
    max-height: 35em;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    a {
      color: $color_links_normal;
      font-size: 1.2em;
      line-height: 1.2em;
      margin-right: 0.5em;
      .customIcon {
        height: 16px;
        vertical-align: middle;
        width: 16px;
      }
    }
  }
}

.externalDomainNotice {
  .nameDescription {
    padding-top: 1em;
    .dsName {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  .leavingLinkWrapper {
    padding-top: 1em;
    .leavingLink {
      font-size: 1.2em;
    }
  }
}
