.mapTypes
  position: absolute
  right: 1.5em
  top: 1.5em
  z-index: 1000

  a
    display: inline-block
    background-color: #ffffff
    border: 1px solid #333333
    padding: 0.5em
    cursor: pointer
  a.current
    font-weight: bold
    cursor: default
    color: black

.mapLayers
  background-color: #ffffff
  border: 1px solid #333333
  padding: 0.5em
  position: absolute
  right: 1.5em
  top: 4em
  z-index: 1000

  a
    color: #333333
    display: inline-block
    font-size: 1.1em
    text-align: right
    width: 100%

    &.button
      width: auto
      @include sprite-repeater-icons

      .icon
        float: left
        margin-right: 0.4em

  .sliderControl
    display: inline-block
    margin-right: 0.7em
    vertical-align: bottom
    width: 8.6em
    margin-left: 4px

  .ui-slider-handle
    width: 1.2em

  .sliderInput
    background-color: transparent
    border: none
    @include box-shadow-none
    text-align: right
    width: 1.8em
    position: relative
    top: 3px

  .contentBlock
    width: 16.8em

    .prompt
      color: #ccc

.mapLayers li
  margin: 0.5em 0
  padding: 0.3em
  min-width: 11.1em

  label
    font-size: 1.1em
    cursor: pointer

  &:hover
    cursor: pointer
    background-color: #ddeaf0

.mapLayers
  > div
    margin: 0.5em 0
    padding: 0.3em

  div.uniform.selector
    width: 13em

    select
      width: 100%

.mapLegend
  background-color: #ffffff
  border: 1px solid #333333
  padding: 0.5em
  position: absolute
  left: 3.7em
  bottom: 4em
  z-index: 1000

.mapLegend .color_swatch
  cursor: default

$geolocator_margin_top: 6px

.geolocator_button
  width: 30px
  height: 30px
  margin-top: $geolocator_margin_top
  cursor: pointer

.geolocator
  position: absolute
  top: $geolocator_margin_top
  width: 265px
  padding:
    top: 12px
    left: 10px
    bottom: 7px
    right: 7px
  border: solid 1px #aaa
  @include border-radius(0.4em)
  @include box-shadow(2px,2px,1px,rgba(0,0,0,0.4))
  background-color: white

  input
    float: left

  div.uniform.selector
    float: left
    width: 62px
    margin:
      top: -2px
      left: 4px

  a
    float: left
    display: inline-block
    cursor: pointer

    &.button
      text-align: center
      margin-top: 0
      padding:
        top: 3px
        bottom: 3px

    &.my_location
      height: 16px
      width: 16px
      margin-top: 3px

  div.error
    margin-top: 2px
    color: red

.mapTitle
  font-size: 1.4em
  font-weight: bold
  margin-bottom: 0.5em
  margin-right: 15px

.infowindow div .window .top .right .user
  .border
    border: none
  .layout
    margin-top: 10px
  .titlebar .hide_infowindow
    margin-top: 0

.olFramedCloudPopupContent
  .infoPaging
    text-align: center
    margin:
      // This makes the scrollbar go away in FF...
      bottom: 0.2em
      top: 0.75em
    a
      font-size: 1.1em
      &.previous
        margin-right: 7em
      &.disabled
        color: #999999
        cursor: auto

.firstChild
  .VE_Pushpin_Popup_Title
    font-size: 1.3em
  .VE_Pushpin_Popup_Body
    font-size: 1em

.infowindow .window .top .right .user .titlebar .hide_infowindow
  height: 8px
  margin-top: 5px
  overflow: hidden
  position: absolute
  width: 12px

  .sprite
    margin-left: -752px
    margin-top: -900px
    cursor: pointer
    display: block

    &:hover
      margin-top: -908px

.pageRenderType
  .mapLegend, .mapLayers
    display: none

.google_cluster_labels
  color: white
  background-color: transparent
  font-family: "Arial", sans-serif
  font-size: 10px
  font-weight: bold
  text-align: center
  width: 40px
  white-space: nowrap

  &.small
    color: black

.bing_cluster_labels
  color: black
  background-color: white
  font-family: "Lucida Grande", "Arial", sans-serif
  font-size: 10px
  font-weight: bold
  text-align: center
  width: 40px
  border: solid 1px black
  position: absolute
  white-space: nowrap

.infowindow, .mapInfoContainer, .olFramedCloudPopupContent
  .external_link
    display: block
    text-align: center
    margin:
      top: 5px
