.headline
  font-size: 1.8em
  margin-top: 1em
  text-align: center

.subheadline
  color: #444
  font-size: 1.4em
  margin: 1em 0 2em
  text-align: center

// PANE ZERO: choose type
.newKindList
  margin: 2em auto 5em
  width: 71.6em

  li
    display: block
    float: left
    padding-left: 4em
    .ie7 &
      padding-left: 2em
    &:first-child
      padding-left: 0

    a
      @include new-dataset-icons
      @include border-radius(0.3em)
      background-color: #f7f7f7
      border: 1px solid $color_chrome_box_border
      color: #333
      cursor: pointer
      display: block
      height: 9.3em
      text-align: center
      text-shadow: 1px 1px 0 #fff
      @include transition-property(background-color)
      @include transition-duration(0.5s)
      padding: 2em
      width: 17em

      &:hover
        background-color: #eee

      .icon
        display: block
        margin: 0 auto 1em

      p
        font-size: 1.4em
        font-weight: bold

// PANE ONE: upload
.uploadFilePane
  .uploadFileContainer
    margin: 0 auto
    padding-top: 2.8em
    width: 68em

    .uploadFileNameWrapper
      float: left
      padding: 0
        right: 0.5em

      .uploadFileName
        @include border-radius(0.2em)
        display: inline-block
        font-size: 1.4em
        margin: 0
        padding: 0.4em
        width: 40em
        &.error
          color: #b33

    .uploadFileButtonWrapper
      overflow: hidden

      .fileUploader-upload-button
        @include button
        color: #333
        font-size: 1.2em
        font-weight: bold
        padding: 0.5em 1em
        text-align: center
      .fileUploader-upload-list
        display: none

    .uploadThrobber
      display: none
      font-size: 1.1em
      margin-top: 2em
      text-align: center

      .icon
        @include throbber-icon
        display: inline-block
        margin-right: 0.4em
        position: relative
        top: 0.3em
        .ie7 &
          text-indent: 0 // wwwwtttffffff hahahahahahhahaha

    .uploadFileFormats
      color: #666
      font-size: 1.3em
      margin-bottom: 2em
      margin-top: 2.1em
      text-align: center

// PANE TWO: metadata
.metadataPane
  .metadataForm
    @include common-form(14em, 40em)
    margin:
      bottom: 3.5em
      left: 6em
      top: 2em

    div.required
      margin-top: 1.5em

    .creativeCommonsLine
      display: none

    .existingAttachmentsContainer
      display: none
      padding-bottom: 3em

      .deleteAttachmentNow
        font-size: 1.2em
        margin-left: 0.5em

    .newAttachmentsContainer
      margin-top: -3em

    .uploadAttachmentThrobber
      @include throbber-icon
      display: none
      margin: 1em 0 0 1em

    .radioblock
      .uniform.radio
        @include ie7-inline-block
      label
        padding-left: 0

    .customFieldsetWrapper
      a.expander
        color: #444
        @include sprite-menu-icons
        .icon
          float: left
          margin:
            right: 0.5em
            top: 0.2em

// PANE THREE: working on it...
.brandedSpinner
  @include branded-spinner
  margin: 2em auto 3em
