.siteInnerWrapper
  max-width: 100%

.adminNavBox
  .hideButtonBox
    display: none
    float: right
    .hideButton
      @include sprite-menu-icons

  .adminNav
    li
      @include admin-icons

  &.collapsed
    height: 1.3em
    padding: 0.5em
    width: 1.3em
    .adminNav
      display: none

.contentBox
  .adminHeader
    border-bottom: 1px solid $color_chrome_box_border
    @include admin-header-icons
    padding: 1em 1em 0.5em 1em
    margin-bottom: 1em

    .icon
      float: left
      margin-right: 1em

    h1
      line-height: 32px
      &.floating
        float: left

  .gridList
    input.button
      .ie7 &
        padding: 0.5em
    form
      display: inline

#adminContent
  a.button
    font-size: 1em
