.browseSection
  padding: 2em
  .browseFacets
    background-color: #ffffff
    border: 1px solid #e9e9e9
    float: left
    height: 10em
    padding: 1.5em
    width: 15em

  .browseList
    background-color: #ffffff
    border: 1px solid #e9e9e9
    height: 20em
    margin-left: 20em
    padding: 1.5em

    .sortOptions
      float: right
      margin-bottom: 1em
      .sortType
        width: 11em
      .sortPeriod
        width: 9em

    .results
      clear: right
      margin-bottom: 2em

    .pagination
      font-size: 1.2em
      text-align: center

      .pageLink
        border: 1px solid #b4b4b4
        @include border-radius(2px)
        display: inline-block
        margin: 0 0.25em
        padding: 0.25em 0
        @include vertical-gradient(#fefefe, #f4f4f4)
        width: 1.8em
        &.active
          border-color: #666666
          color: #333333

      .prevLink
        margin-right: 1em
      .nextLink
        margin-left: 1em
