#manageReportsPage
  .manageLink
    margin:
      bottom: 1em
      left: 0
  h2
    display: inline-block
    margin:
      right: 1em
      top: 0.5em

  .button .ss-icon
    // This should be applied in controls.sass, but it isn't taking
    margin-right: 0.4em

  .reportList
    .name
      font-size: 1.2em
      font-weight: bold
      width: 30em
    .view, .edit
      width: 10em
