html, body
  height: 100%
  overflow: hidden

#datasetBar
  border: 1px solid #666666
  padding: 0.25em

  #datasetName
    font-size: 1.5em
    font-weight: bold

  .right
    float: right

#mainGrid
  width: 100%

// Dataset page-specific grid styles

.blist-td, .blist-table-editor
  font-size: 1.2em
  line-height: 1.3333em
  padding: 0.3333em

.blist-td
  height: 1.3333em

.blist-td-header
  font-weight: bold

.blist-tr .blist-td-first
  border-left-width: 0
  padding-left: 0.4167em
