#canvasPagesContent {
  .createLink {
    margin: {
      bottom: 1em;
      left: 0;
    };
  }
  .adminTable {
    tr {
      .button {
        opacity: 0.3;
        @include transition-duration(0.2s);
        @include transition-property(opacity);
      }
      &:hover .button {
        opacity: 1;
      }
    }
    tbody {
      td {
        height: 2.5em;
        padding: 0;
        vertical-align: middle;
        &.name {
          font-weight: bold;
          line-height: 2em;
        }
        .ss-icon {
          font-size: 1.4em;
          vertical-align: middle;
        }
      }
      .actions {
        text-align: center;
        width: 15em;
        .loading {
          @include throbber-icon;
          display: none;
        }
        input.button {
          font-size: 0.8em;
        }
        &.isWorking {
          .loading {
            display: inline-block;
            @include ie7-inline-block;
          }
        }
      }
    }
  }
  .noResultsMessage {
    font-size: 1.4em;
    margin: 3em 0;
    text-align: center;
  }
}

#createCanvasPageContent {
  .configuratorSettings {
    display: block;
    margin: 5em auto;
    position: static;
    .modalDialogClose {
      display: none;
    }
    .createAction {
      padding: {
        bottom: 0.4em;
        top: 0.4em;
      };
      width: auto;
    }
  }
}
