.splashContainer
  background: url(/stylesheets/images/splash/splash_pop_background.png) no-repeat
  height: 40.5em
  margin: 7em 0 0 -34.5em
  padding: 6.5em 3em 3em
  position: relative
  width: 69em

  h1
    color: #fff
    font-size: 4.5em
    line-height: 1.1em
    margin: 0

  h2
    color: #fff
    font-size: 2em
    font-weight: normal

  .closeContainer
    position: absolute
    right: 1.5em
    top: 1.3em

    a
      background: url(/stylesheets/images/splash/pop_close.png) no-repeat
      display: block
      height: 14px
      overflow: hidden
      text-indent: -9999px
      width: 14px

  .splashActionBoxContainer
    margin-top: 3em
    position: relative

  .splashActionBox
    cursor: pointer
    float: left
    margin-right: 1.5em
    width: 21.5em

    p
      font-size: 1.4em
      line-height: 1.428em

    ul.splashActionButtonList
      margin-top: 2em
      
      li
        float: left

    li
      color: #fff
      font-size: 1.4em
      line-height: 1.8em

    h3
      color: #fff
      font-size: 3em
      font-weight: normal
      line-height: 1.1em
      text-transform: none

    &.imageActionBox
      width: 240px

    p
      display: block
      margin: 0

    .imageCaption
      text-align: center

      a
        color: #fff

    &.doubleActionBox
      cursor: default
      margin-right: 0
      width: 43em

      &.apiSplash
        width: 42em
