html, body
  background-color: #fff

body
  padding: 0.5em

.siteOuterWrapper
  min-width: 50em

.siteInnerWrapper
  padding-bottom: 0

#siteHeader, #siteFooter
  display: none

.contentBox
  border: none

