html, body
  background-color: #fff
  height: auto

body
  padding: 0.5em

.siteOuterWrapper
  min-height: 0
  min-width: 50em

.siteInnerWrapper
  min-height: 0
  padding-bottom: 0

#siteHeader, #siteFooter
  display: none

.contentBox
  border: none

