.gridList {
  border-collapse: collapse;
  width: 100%;
  thead tr {
    th {
      @include sprite-menu-icons;
      background-color: $color_table_header_inactive;
      font-size: 1.2em;
      font-weight: normal;
      padding: 0.5em 1em;
      text-align: left;
      &:first-child {
        @include border-radius-corner(top, left, 0.4em);
        @include border-radius-corner(bottom, left, 0.4em);
      }
      &:last-child {
        @include border-radius-corner(top, right, 0.4em);
        @include border-radius-corner(bottom, right, 0.4em);
      }
      &.header.sortable:hover {
        background-color: $color_table_header_active;
        cursor: pointer;
      }
      &.headerSortUp, &.headerSortDown {
        background-color: $color_table_header_active;
        .icon {
          visibility: visible;
        }
      }
      div {
        float: left;
      }
      .icon {
        visibility: hidden;
        float: right;
      }
    }
  }
  tbody tr {
    border-top: 1px solid $color_table_header_inactive;
    &:first-child {
      border-top: none;
    }
    td {
      font-size: 1.2em;
      padding: 0.6em 1em;
      vertical-align: middle;
    }
  }
}

// minor overrides in sidebar
#gridSidebar .gridListWrapper {
  border: 1px solid $color_chrome_box_border;
  @include border-radius(0.3em);
  background-color: #fff;
  .gridList {
    thead tr th {
      border-bottom: 1px solid $color_chrome_box_border;
      &:first-child {
        @include border-radius-corner(top, left, 0.2em);
        @include border-radius-corner(bottom, left, 0);
      }
      &:last-child {
        @include border-radius-corner(top, right, 0.2em);
        @include border-radius-corner(bottom, right, 0);
      }
    }
  }
}

// specific tables
.gridList.filterList {
  thead {
    th.type {
      width: 5em;
    }
    th.viewed {
      width: 6em;
    }
    th.picture {
      width: 6em;
    }
  }
  tbody {
    td.viewed {
      text-align: right;
    }
    td.picture {
      text-align: center;
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.gridList.commentModerationList {
  thead {
    th.author {
      width: 13em;
    }
    th.dataset {
      width: 10em;
    }
    th.status {
      width: 19.5em;
      .ie7 & {
        width: 21em;
      }
    }
  }
  tbody {
    td.status {
      font-size: 1em;
    }
  }
}

.gridList.templatesList {
  thead {
    th.name {
      width: 18em;
    }
    .ie7 & {
      th.preview {
        width: 40em;
      }
    }
    th.actions {
      width: 21em;
    }
  }
  tbody {
    td.actions {
      font-size: 1em;
    }
  }
}

.gridList.storiesList {
  thead {
    th.date {
      width: 11em;
      .ie7 & {
        width: 12em;
      }
    }
    th.actions {
      width: 21em;
      .ie7 & {
        width: 23em;
      }
    }
  }
  tbody {
    td.actions {
      font-size: 1em;
    }
  }
}
