$labelwidth: 10em;

body.socrata-page {
  &.instantiating {
    .socrata-cf-top {
      top: -32px;
      .save, .cancel {
        display: none;
      }
    }
    padding-top: 0;
  }
}

.templateCreation {
  height: 80%;
}

ul.wizardButtons {
  margin: {
    top: 2em;
    left: 14em;
  };
  .prev {
    display: none;
  }
  li.next {
    margin-left: 1em;
    float: left;
  }
}

#insertionForm {
  div.line {
    line-height: 2em;
    margin-top: 2em;
    min-height: 2em;
    &:first-child {
      margin-top: 0;
    }
    .tooltip {
      display: none;
    }
    label.left {
      font-weight: bold;
      width: $labelwidth;
    }
    label.error {
      margin-left: $labelwidth + 2.2em;
    }
    .component-Title, .component-Text {
      background-color: white;
      border: 1px dashed $color_chrome_box_border;
      &.socrata-cf-focal {
        @include shadow(0 0 0 #fff);
      }
    }
    .component-Title {
      min-width: 250px;
    }
    .component-Text {
      min-width: 246px;
    }
  }
  .component-Title {
    min-height: 2.5em;
  }
  .component-Text {
    min-height: 5em;
  }
  .component-PartialText {
    padding: 0.5em;
  }
  .socrata-component {
    input[type="text"] {
      @include box-shadow-none;
      border: 0;
      &:focus, &:active, &:hover {
        @include box-shadow-none;
      }
    }
  }
  .advancedSection {
    margin-top: 2em;
    div.line {
      margin-top: 0;
    }
  }
}
