html, body
  height: 100%
  overflow: hidden

.textPrompt.prompt
  color: #999999
  font-style: normal

.widgetWrapper
  background-color= !color_frame_color
  border= !frame_border_width solid !color_frame_border_color

.headerBar
  height: 4em

  .ie7 &
    // ie7 keeps nested relatives in independent z-indexes;
       this was making the menu appear below the grid.
    position: relative
    z-index: 50

  h1.logo
    +text-hiding
    background-image= !logo_image
    float: left
    height= !logo_image_height
    margin: 2px
      left: 10px
    width= !logo_image_width

  .mainMenu
    float: right
    margin: 10px
      bottom: 0

    .mainMenuButton
      +sprite-button-icons
      +gradient_menu_button_background
      border= 1px solid !color_menu_button_border
      -moz-border-radius: 0.3em
      -webkit-border-radius: 0.3em
      -moz-box-shadow: 1px 1px 0 #fff
      -webkit-box-shadow: 1px 1px 0 #fff
      color= !color_menu_button_text
      cursor: pointer
      display: inline-block
      font-size: 1.2em
      height: 1em
      line-height: 1em
      margin-top: -4px
      padding: 0.6em
        right: 1em
        left: 2.3em
      position: relative
      text-transform: uppercase
      .noLinearGradient &
        background= "transparent" "url(/ui/box.png?fc=#{!gradient_menu_button_background}&h=30&w=3&rx=1&rw=1&ry=1)" "repeat-x"

      .icon
        left: 0.6em
        margin-left: 0.2em
        position: absolute
        top: 0.7em

      &:hover
        +gradient_menu_button_background_hover
        text-decoration: none
        .noLinearGradient &
          background= "transparent" "url(/ui/box.png?fc=#{!gradient_menu_button_background_hover}&h=30&w=3&rx=1&rw=1&ry=1)" "repeat-x"

    &.open .menuButton
      -moz-box-shadow: none
      -webkit-box-shadow: none
      .icon
        background-position: 0 0

    .menuDropdown
      margin: 0.4em 0
      min-width: 23em

      > ul
        margin-bottom: 0

        ul
          padding-bottom: 0

          > li
            +sprite-type-icons-30

            a
              color: #222
              font-size: 1.3em
              font-weight: bold
              min-width: 13em
              padding: 0.5em
                left: 4em
                right: 1em
              position: relative

              .icon
                left: 1em
                margin:
                  bottom: 0.3em
                  right: 0.7em
                position: absolute
                top: 0.5em

              .subtext
                font-weight: normal

            &.about
              background-color: #f7f7f7
              border-top: 1px solid #dedede
              -moz-border-radius: 0 0 0.4em 0.4em
              -webkit-border-bottom-left-radius: 0.4em
              -webkit-border-bottom-right-radius: 0.4em
              margin-top: 1em
              padding: 0.3em
              text-align: center

              a
                border: none
                color= !color_links_normal
                font-size: 1.1em
                font-weight: normal
                padding: 1em

                .icon
                  display: none

.subHeaderBar
  background-color= !color_toolbar_color
  margin= 0 !frame_padding
  padding: 0.2em

  > li
    +sprite-menu-icons
    display: block
    float: left
    padding: 0.2em
    &.right
      float: right

    > a
      color: #eee
      &:hover
        text-decoration: none

    .ie &.datasetName
      margin: 0.2em
    .ie7 & .icon
      display: block

    &.share .menu
      height: 13px

      > a
        // menu button
        cursor: pointer

      .icon .icon
        display: none

      .menuDropdown ul li ul li
        +sprite-menu-icons

.toolbar
  background-color= !color_toolbar_color
  display: none
  height: 1.6em
  margin= 0 !frame_padding
  overflow: hidden
  padding: 0.3em

  form
    display: none

  .toolbarMessage
    color: #eee
    display: none
    font-size: 1.2em
    font-weight: bold
    height: 1.4em
    padding: 0.2em

  .toolbarTextboxWrapper
    margin-right: 3em

    .toolbarTextbox
      -moz-border-radius: 0.4em
      -webkit-border-radius: 0.4em
      background-color= !color_toolbar_input_color
      border: none
      padding: 0.1em 0.4em
      width: 100%

  .close
    +sprite-button-icons
    display: inline-block
    float: right

.widgetContent
  clear: both
  margin= !frame_padding
  @if !frame_orientation == "downwards"
    margin-top: 0
  @else if !frame_orientation == "upwards"
    margin-bottom: 0

  > *
    background-color: #fff
    display: none

  .widgetContentClose
    +close-button
    float: right
    margin: 1em

  .widgetContentGrid
    display: block

    #viewHeader
      display: none

  .widgetContent_embed
    .embedForm
      padding: 1em

      #embed_code
        overflow: hidden
        height: 5em
        margin: 1em
          top: 0
        padding: 0.5em
        width: 45em

      .left, .right
        float: left
        padding: 1em
        width: 20em

      .sizes li
        cursor: pointer
        float: left
        width: 6em

        p
          text-align: center

        .sizePreview
          background-color: #f7f7f7
          border: 1px solid #777
          &.small
            height: 2.55em
            margin-left: 1.5em
            width: 3em
          &.medium
            height: 3.8em
            margin-left: 0.6em
            width: 4.5em
          &.large
            height: 5.1em
            width: 6em

        &:hover .sizePreview
          background-color: #f4f4f4
          border-color: #000
        &.selected .sizePreview
          background-color: #eef
          border-color: #334

      p.information
        font-style: italic
        padding-bottom: 0.4em

  .widgetContent_print form
    padding: 1em

    .margin
      margin-left: 1em

    .pageSizeHeader
      margin-bottom: -2em

    .submitLine
      padding-top: 1em

      .submitActions li
        display: block
        float: left


// START: GRID

.blist-table
  height: 100%

  a
    +underline-on-hover

.blist-table-scrolls
  background-color: #fff

.blist-table-header-scrolls
  background-color: #e8e8e2

div.blist-th
  .info-container
    font-size= !grid_font_header_size

  @if !grid_header_icons == false
    .blist-th-icon
      display: none

    .icon-display .name-wrapper
      padding-left: 0

  .blist-th-name
    @if !grid_title_bold == true
      font-weight: bold

.blist-tr-even .blist-td
  background-color= !color_grid_zebra

.blist-td-header
  font-weight: bold

.blist-td
  background-color: #fff
  height: 16px
  padding: 4px /* .3636em */

  p
    margin: 0 0 6px 0
    padding: 0
    &:last-child
      margin-bottom: 0

.blist-td,
.blist-table-editor,
.blist-table .blist-combo-dd li
  font-size= !grid_font_data_size
  line-height: 16px

img.blist-table-option-icon
  padding-right: 4px
  padding-bottom: -1px

.blist-tstars
  margin: -4px 0

.blist-table-row-numbers.blist-tf
  background-color: #fcedc1
  .blist-tf-value:after
    content: ':'
.blist-table-row-handle.blist-tf
  background-color: #fcedc1
.blist-table-footer .blist-tf
  background-color: #fef8dc

@if !grid_wrap_header_text == true
  .blist-th .info-container
    height: 2.45em /* 30px or so */
    white-space: normal

  .blist-th .name-wrapper
    height: 2.45em

  .blist-table-header,
  .blist-th,
  .blist-th .dragHandle
    height: 4.5em

  .indicators-inactive .blist-table-header,
  .indicators-inactive .blist-th,
  .indicators-inactive .blist-th .dragHandle
    height: 3.3em