<div>
  <button class="btn btn-default" id="tour-anchor-1" data-tour-opener="example1">Start Example Tour 1</button>
  <button class="btn btn-default" id="tour-anchor-2" data-tour-opener="example2">Start Example Tour 2</button>
</div>

<p>Note: this example uses <a href="http://github.hubspot.com/shepherd/" target="_blank">Shepherd</a></p>

<%= partial "code_sample", locals: { component: "legacy/skeletons/tour" } %>
