@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

// WRAPPER
.resultCard {
  background-color: $white;
  border: 1px solid $light-grey-4;
  border-bottom: 2px solid $light-grey-4;
  margin-bottom: 15px;
  clear: both;
}

// GENERAL SCHEMA
.tableInfo {
  text-align: center;
  padding: 4em 0em;
  margin: 0px auto;
  max-width: 64em;
  height: 543px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.tableInfo p {
  color: $dark-grey-1;
  margin: 0em 0em 1em 0em;
}

.previewAreaHeader {
  font-style: italic;
  color: $dark-grey-1;
  font-size: 17px;
}

// NO DATA
.sourceButton {
  display: inline-block;
  margin: 0px 4px;
}

.dataLink {
  composes: btn from global;
  composes: btn-primary from global;
  composes: sourceButton;
  min-width: 150px;
}

// OUPUT SCHEMA
.reviewBtn {
  composes: btn from global;
  composes: btn-sm from global;
  composes: btn-alternate-2 from global;
  margin: 0em 0em 1em 0em;
}

// TABLE CONTAINER
.headerWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header {
  // float: left;
  font-weight: 500;
  padding: 11px 0;
}
