@import 'app/styles/scss-common.scss';

.header-bar {
  margin-top: calc(80px + #{$site-appearance-admin-header-small-height});
  padding: 0 1%;
  padding-bottom: 10px;
  border-bottom: solid 1px #f2f2f2;
  display: flex;
  justify-content: space-between;

  h1 {
    font-weight: 400;
  }

  .alert {
    position: absolute;
    width: 50%;
    margin-left: -25%;
    left: 50%;
  }
}
