<div class="filtersTable">
  <div class="gridListWrapper">
    <table class="gridList filterList" cellspacing="0">
      <colgroup>
        <col class="type" />
        <col class="name" />
        <col class="viewed" />
        <col class="picture" />
      </colgroup>
      <thead>
        <tr>
          <th class="type" scope="col"><div>Type</div><span class="icon"></span></th>
          <th class="name" scope="col"><div>Name</div><span class="icon"></span></th>
          <th class="viewed" scope="col"><div>Visits</div><span class="icon"></span></th>
          <th class="picture" scope="col"><div>Owner</div></th>
        </tr>
      </thead>
      <tbody>
        <tr class="item">
          <td class="type"><div class="cellInner icon"></div></td>
          <td class="name" scope="row"><div class="cellInner"><a rel="external"></a></div></td>
          <td class="viewed"><div class="cellInner"></div></td>
          <td class="picture"><a class="cellInner" rel="external"><img/></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
