<div class="headerBar clearfix">
  <a class="logoLink" href="<%= @theme[:logo][:href] %>" rel="external">
    <h1 class="logo"><%= CurrentDomain.strings.company %></h1>
  </a>
  <div class="menu mainMenu"></div>
</div>
