// METADATA
.metadataContainer {
  :global {
    .metadata-table-wrapper {
      padding: 1em 0;
      .landing-page-section {
        padding: 0;
      }
    }
  }
}

// INFO PANE
.infoPaneContainer {
  :global {
    .info-pane .container {
      max-width: none;

      .entry-main {
        border: none;
      }
    }

    .entry-content {
      display: flex;

      .entry-main {
        flex-grow: 5;
      }

      .entry-meta {
        flex-grow: 3;
      }
    }
  }
}
