<% if component.present? && component['value'].present? -%>
  <div
    class="hero<%= ' hero-no-image' if component['value']['url'].blank? %><%= ' hero-default-height' if component['value']['layout'].blank? %>"
    style="background-image: url('<%= component['value']['url'] %>');">
    <div class="typeset squire-formatted remove-top-margin">
      <%= component['value']['html'].to_s.html_safe %>
    </div>
  </div>
<% else -%>
  <div class="hero"></div>
<% end -%>
