<%
# Component format:
# {
#  type: "socrata.visualization.featureMap",
#  value: {
#    layout: {
#      height: 300
#    },
#    vif: <vif object>
#  }
# }
%>
<div data-component-data="<%= component.to_json %>" ></div>
