<% if component.present? && component['value'].present? -%>
  <div
    class="hero<%= ' hero-height-override' if component['value']['layout'].blank? %>"
    style="background-image: url('<%= component['value']['url'] %>');">

    <div class="typeset squire-formatted">
      <% #= component['value']['html'].html_safe %>
    </div>
  </div>
<% else -%>
  <div class="hero hero-height-override"></div>
<% end -%>
