frontend/karma
frontend/public/javascripts/plugins
frontend/public/javascripts/tiny_mce
frontend/public/javascripts/mobile/app-bundle.js
frontend/public/javascripts/jquery*
frontend/public/javascripts/dist
frontend/public/javascripts/build
frontend/public/packages
frontend/public/webfonts
frontend/public/javascripts/util/extMouseWheel.js
frontend/public/javascripts/util/interpolator.js
frontend/public/javascripts/util/pluralize.js
frontend/public/javascripts/util/polyfills.js
frontend/public/javascripts/util/typed-arrays.js
frontend/socrata-components
