<div>
  <button onclick="$('.item.search-item:visible').find('input').trigger('click'); return false;">
     Click to Toggle the Selections Visible Below</strong>
  </button>
</div>

<div class="catalog-federator-list">
  <%- @datasets.sort_by { |dataset| dataset['name'] }.each_with_index do |dataset, index| -%>
    <div class="item search-item">
      <div class="edit-item">
        <%= check_box_tag(
          'server[assets][]',
          index,
          dataset['selected'],
          :class => ['is-disabled', dataset['importable'] ? 'importable' : 'unimportable'],
          :disabled => 'disabled'
        ) %>
        <span class="asset-name">
          <label for="<%= index %>" title="<%= dataset['externalId'] %>">
            <%= truncate(dataset['name'], length: 120) %>
          </label>
        </span>
      </div>
    </div>
  <%- end -%>
</div>
