$flyout-background-color-dark: #2f2f2f;

// Max allowed width of flyout.
$flyout-max-width: 35em;

// The flyout contains a 2-column table. Extra padding is afforded to the 2nd
// column of this table - this variable controls how much.
$flyout-2nd-column-side-padding: 1.5em;

#socrata-flyout {
  position: fixed;
  max-width: $flyout-max-width;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.618;
  color: #8a8686;
  word-wrap: break-word;
  white-space: normal;
  visibility: hidden;
  background-image: none;
  background-color: #f1eeee;
  border: 1px solid #ccc;
  pointer-events: none;
  z-index: 9999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// N.B.: For the moment, styleguide is NOT loaded for embeds.
// This will ultimately be fixed, but for now we duplicate the parts
// of styleguide we need here. As you can see, these duplicate parts
// are not too numerous.
// See also similar workarounds in embed.scss.

#socrata-flyout.built-in-text-style {
  line-height: 1.25;
  font-family: "Open Sans", "Helvetica", sans-serif; // TODO how to load Open Sans? Do we care?
}

#socrata-flyout.visible {
  visibility: visible;
}

#socrata-flyout .socrata-flyout-content {
  padding: 0.25em 0.5em;
}

#socrata-flyout .socrata-flyout-content .socrata-flyout-title {
  font-weight: bold;
}

#socrata-flyout .socrata-flyout-content .socrata-flyout-table {
  width: 100%;
}

#socrata-flyout .socrata-flyout-content .socrata-flyout-table .socrata-flyout-row .socrata-flyout-cell:nth-child(2) {
  padding-left: $flyout-2nd-column-side-padding;
  text-align: right;

  // Next 4 rules allow text inside the cell to overflow with an ellipsis.
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $flyout-max-width - 2 * $flyout-2nd-column-side-padding;
  overflow: hidden;
}

#socrata-flyout .socrata-flyout-hint {
  position: absolute;
  height: 10px;
  width: 10px;
  border: 0;
  background-color: transparent;
}

#socrata-flyout .socrata-flyout-hint:after, #socrata-flyout .socrata-flyout-hint:before {
  position: absolute;
  width: 0;
  height: 0;
  content: ' ';
  border: solid transparent;
}

#socrata-flyout.southwest .socrata-flyout-hint {
  left: 0;
  bottom: -8px;
}

#socrata-flyout.southwest .socrata-flyout-hint:after {
  border-width: 10px 10px 0 0;
  border-color: #f1eeee transparent transparent transparent;
}

#socrata-flyout.southwest .socrata-flyout-hint:before {
  left: -1px;
  top: 1px;
  border-width: 11px 11px 0 0;
  border-color: #ccc transparent transparent transparent;
}

#socrata-flyout.southeast .socrata-flyout-hint {
  bottom: -8px;
}

#socrata-flyout.southeast .socrata-flyout-hint:after {
  border-width: 0 10px 10px 0;
  border-color: transparent #f1eeee transparent transparent;
}

#socrata-flyout.southeast .socrata-flyout-hint:before {
  top: 1px;
  border-width: 0 11px 11px 0;
  border-color: transparent #ccc transparent transparent;
}

#socrata-flyout.northwest .socrata-flyout-hint {
  left: 0;
  top: -11px;
}

#socrata-flyout.northwest .socrata-flyout-hint:after {
  right: 0;
  top: 2px;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #f1eeee;
}

#socrata-flyout.northwest .socrata-flyout-hint:before {
  left: -1px;
  border-width: 10px 0 0 12px;
  border-color: transparent transparent transparent #ccc;
}

#socrata-flyout.northeast .socrata-flyout-hint {
  top: -11px;
}

#socrata-flyout.northeast .socrata-flyout-hint:after {
  top: 2px;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #f1eeee transparent;
}

#socrata-flyout.northeast .socrata-flyout-hint:before {
  right: -1px;
  border-width: 0 0 11px 11px;
  border-color: transparent transparent #ccc transparent;
}

#socrata-flyout.dark {
  font-size: 12px;
  font-weight: 200;
  color: #fff;
  background-color: $flyout-background-color-dark;
  border: none;
  border-radius: 1px;
  box-shadow: 0px 0px 4px 1px rgba(44,44,44,0.10);

  .socrata-flyout-content .socrata-flyout-title {
    font-size: 15px;
    font-weight: 200;
  }

  &.southwest .socrata-flyout-hint {
    left: 5px;
  }

  &.southwest .socrata-flyout-hint:after {
    border-color: transparent;
  }

  &.southwest .socrata-flyout-hint:before {
    border-color: $flyout-background-color-dark transparent transparent transparent;
  }

  &.southeast .socrata-flyout-hint:after {
    border-color: transparent $flyout-background-color-dark transparent transparent;
  }

  &.southeast .socrata-flyout-hint:before {
    border-color: transparent;
  }

  &.northwest .socrata-flyout-hint {
    left: 5px;
  }

  &.northwest .socrata-flyout-hint:after {
    border-color: transparent transparent transparent $flyout-background-color-dark;
  }

  &.northwest .socrata-flyout-hint:before {
    border-color: transparent;
  }

  &.northeast .socrata-flyout-hint:after {
    border-color: transparent transparent $flyout-background-color-dark transparent;
  }

  &.northeast .socrata-flyout-hint:before {
    border-color: transparent;
  }
}
