@import 'mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder';

.unified-map-instance {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.legend-container {
  bottom: 50px;
  position: absolute;
  right: 10px;

  .bucket-end-value {
    font-size: 12px;
    padding: 0px 5px;
    position: relative;
    text-align: right;
    top: 15px;
    width: 3rem;
  }

  .map-bucket {
    .bucket-color {
      display: inline-block;
      height: 100%;
      width: 15px;
    }

    .categorical-bucket-value {
      display: inline-block;
      font-size: 12px;
      min-height: 100%;
      overflow: hidden;
      padding-right: 7px;
      text-align: right;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: pre;
      width: 3.5rem;
    }

    .interval-bucket-value {
      display: inline-block;
      font-size: 12px;
      padding-right: 7px;
      text-align: right;
      width: 3rem;
    }
  }
}
