.socrata-visualization-container {

  .timeline-chart {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .highlight {
      opacity: 1;
    }

    .overlay {
      pointer-events: all;
    }

    path {
      pointer-events: none;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
