@import 'animations';

$title-height: 44px;
$description-height: 26px;
$legend-bar-height: 35px;
$filter-bar-height: 66px;
$title-description-padding: 6px;
$info-height: 24px;
$busy-indicator-width-height: 24px;
$busy-indicator-container-color: rgba(0, 0, 0, 0.5);
$busy-indicator-primary-color: #ebebeb;
$busy-indicator-secondary-color: #999;
$visualization-border-color: #e4e4e4;
$visualization-container-border-color: #f6f6f6;
$axis-font-size: 14px;
$axis-offset: 21px;
$axis-padding: 42px;

// N.B.: These styles can be used both within and outside the Socrata platform
// (and, for the time being, with or without styleguide due to overagressive resets).
// Be mindful of the possibility that external styles will accidentally override
// or otherwise affect the visualizations.
.socrata-visualization {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.618;
  color: #5e5e5e;
  border: 1px solid $visualization-border-color;
  box-sizing: border-box;
  cursor: default;
  z-index: 0;

  /**
   * Title and description
   */

  .socrata-visualization-title-container,
  .socrata-visualization-description-container {
    position: relative;
    display: none;
    padding: 0 14px;
    background-color: #fff;
    box-sizing: border-box;

    .socrata-visualization-title,
    .socrata-visualization-description {
      position: relative;
      display: inline-block;
      width: auto;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 2px;
    }
  }

  .socrata-visualization-title-container {
    height: $title-height;
    padding-top: 7px;

    .socrata-visualization-title {
      font-size: 20px;
      letter-spacing: -0.8px;
    }
  }

  .socrata-visualization-description-container {
    height: $description-height;

    .socrata-visualization-description {
      font-size: 13px;
      line-height: 17.3px;
      letter-spacing: -0.3px;
    }
  }

  .socrata-visualization-filter-bar-container {
    position: relative;
    z-index: 5;
  }

  .socrata-visualization-legend-bar-container {
    position: relative;
    text-align: right;

    .socrata-visualization-legend-bar-inner-container {
      display: inline-block;
      margin: 0 0 0 auto;
      text-align: left;

      .socrata-legend-button {
        background-color: #fff;
        border-bottom: 0;
        border-left: 1px solid $visualization-border-color;
        border-right: 0;
        border-top: 1px solid $visualization-border-color;
        box-sizing: border-box;
        color: #5e5e5e;
        cursor: pointer;
        font-size: 13px;
        height: $legend-bar-height;
        letter-spacing: -0.5px;
        outline: none;
        padding: 0 8px;
        z-index: 10000;

        .socrata-icon-arrow-up {
          margin-left: 8px;
        }

        .socrata-icon-close-2 {
          display: inline;
          margin-left: 8px;
        }

        .legend-button-display-none {
          display: none;
        }

        label {
          cursor: pointer;
        }
      }

      .socrata-legend-menu {
        background-color: #fff;
        border: 1px solid $visualization-border-color;
        bottom: $legend-bar-height - 1;
        display: none;
        list-style-type: none;
        margin: 0;
        min-width: 120px;
        overflow-y: auto;
        padding: 8px 0;
        position: absolute;
        right: -1px;
        z-index: 9999;

        li {
          box-sizing: border-box;
          font-size: 13px;
          letter-spacing: -0.5px;
          padding: 8px 16px 8px 48px;
          position: relative;

          span {
            display: inline-block;
            position: absolute;
            height: 16px;
            left: 16px;
            top: 9px;
            width: 16px;

            &.dashed {
              border-top-width: 2px;
              border-top-style: dashed;
              top: 17px;
            }
          }

        }
      }
    }
  }

  .socrata-visualization-info {
    position: absolute;
    display: none;
    width: 100%;
    height: $info-height;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid $visualization-border-color;
    box-sizing: border-box;

    .socrata-visualization-view-source-data,
    .socrata-visualization-panning-notice {
      display: none;
      margin: auto;
    }

    .socrata-visualization-view-source-data {
      font-weight: 200;
      font-size: 12px;
      margin-left: 6px;

      a {
        display: inline-flex;
      }

      .socrata-visualization-view-source-data-icon {
        display: inline-flex;
        margin: auto;
        margin-left: 6px;

        .socrata-icon {
          margin: auto;
        }
      }
    }

    .socrata-visualization-panning-notice {
      margin-right: 6px;
      color: #ccc;
      font-size: 12px;
      font-style: oblique;
      font-weight: 200;
      line-height: $info-height;
      text-align: right;
    }
  }

  .socrata-visualization-error-container {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 4;

    .socrata-visualization-error-message {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      cursor: text;

      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .socrata-visualization-busy-indicator-container {
    position: absolute;
    display: none;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    padding: 21px 20px 19px 20px;
    background-color: $busy-indicator-container-color;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    z-index: 5;

    .socrata-visualization-busy-indicator {
      display: inline-block;
      width: $busy-indicator-width-height;
      height: $busy-indicator-width-height;
      border: 3px solid $busy-indicator-primary-color;
      border-right-color: $busy-indicator-secondary-color;
      border-radius: 50%;
      box-sizing: border-box;
      @include spin;
    }
  }

  &.socrata-visualization-title {

    .socrata-visualization-title-container {
      display: block;
      padding-bottom: $title-description-padding;
      border-bottom: 1px solid $visualization-border-color;
    }

    .socrata-visualization-container {
      height: calc(100% - #{$title-height});
    }
  }

  &.socrata-visualization-description {

    .socrata-visualization-title-container {
      padding-bottom: 0;
    }

    .socrata-visualization-description-container {
      display: block;
      padding-top: $title-description-padding;
      padding-bottom: $title-description-padding;
      border-bottom: 1px solid $visualization-border-color;
    }

    .socrata-visualization-container {
      height: calc(100% - #{$description-height});
    }
  }

  &.socrata-visualization-title.socrata-visualization-description {

    .socrata-visualization-title-container {
      border-bottom: none;
    }

    .socrata-visualization-description-container {
      padding-top: 0;
      border-bottom: 1px solid $visualization-border-color;
    }

    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height});
    }
  }

  &.socrata-visualization-filter-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$filter-bar-height});
    }
  }

  &.socrata-visualization-title.socrata-visualization-filter-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$filter-bar-height});
    }
  }

  &.socrata-visualization-description.socrata-visualization-filter-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$description-height} - #{$filter-bar-height});
    }
  }

  &.socrata-visualization-title.socrata-visualization-description.socrata-visualization-filter-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height} - #{$filter-bar-height});
    }
  }

  &.socrata-visualization-info {

    .socrata-visualization-container {
      height: calc(100% - #{$info-height});
    }

    .socrata-visualization-info {
      display: flex;
    }

    &.socrata-visualization-panning-notice .socrata-visualization-panning-notice {
      display: block;
    }

    &.socrata-visualization-view-source-data .socrata-visualization-view-source-data {
      display: block;
    }
  }

  &.socrata-visualization-title.socrata-visualization-info {

    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$info-height});
    }
  }

  &.socrata-visualization-description.socrata-visualization-info {

    .socrata-visualization-container {
      height: calc(100% - #{$description-height} - #{$info-height});
    }
  }

  &.socrata-visualization-filter-bar.socrata-visualization-info {
    .socrata-visualization-container {
      height: calc(100% - #{$filter-bar-height} - #{$info-height});
    }
  }

  &.socrata-visualization-filter-bar.socrata-visualization-description.socrata-visualization-info {
    .socrata-visualization-container {
      height: calc(100% - #{$description-height} - #{$filter-bar-height} - #{$info-height});
    }
  }

  &.socrata-visualization-filter-bar.socrata-visualization-title.socrata-visualization-info {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$filter-bar-height} - #{$info-height});
    }
  }

  &.socrata-visualization-title.socrata-visualization-description.socrata-visualization-info {

    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height} - #{$info-height});
    }
  }

  &.socrata-visualization-filter-bar.socrata-visualization-title.socrata-visualization-description.socrata-visualization-info {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height} - #{$filter-bar-height} - #{$info-height});
    }
  }

  // Container heights with legend bar
  //
  &.socrata-visualization-legend-bar {

    .socrata-visualization-container {
      height: calc(100% - #{$legend-bar-height});
    }
  }

  // Individually with legend-bar
  //
  &.socrata-visualization-title.socrata-visualization-legend-bar {

    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-description.socrata-visualization-legend-bar {

    .socrata-visualization-container {
      height: calc(100% - #{$description-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-filter-bar.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$filter-bar-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-info.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$info-height} - #{$legend-bar-height});
    }
  }

  // Pairs with legend-bar
  //
  &.socrata-visualization-title.socrata-visualization-description.socrata-visualization-legend-bar {

    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-title.socrata-visualization-filter-bar.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$filter-bar-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-title.socrata-visualization-info.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$info-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-description.socrata-visualization-filter-bar.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$description-height} - #{$filter-bar-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-description.socrata-visualization-info.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$description-height} - #{$info-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-filter-bar.socrata-visualization-info.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$filter-bar-height} - #{$info-height} - #{$legend-bar-height});
    }
  }

  // Triplets with legend-bar
  //
  &.socrata-visualization-title.socrata-visualization-description.socrata-visualization-filter-bar.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height} - #{$filter-bar-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-title.socrata-visualization-description.socrata-visualization-info.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height} - #{$info-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-title.socrata-visualization-filter-bar.socrata-visualization-info.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$filter-bar-height} - #{$info-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-description.socrata-visualization-filter-bar.socrata-visualization-info.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$description-height} - #{$filter-bar-height} - #{$info-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-title.socrata-visualization-description.socrata-visualization-filter-bar.socrata-visualization-info.socrata-visualization-legend-bar {
    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height} - #{$filter-bar-height} - #{$info-height} - #{$legend-bar-height});
    }
  }

  &.socrata-visualization-error {

    .socrata-visualization-error-container {
      display: block;

      ul {
        text-align: left;
      }
    }
  }

  &.socrata-visualization-busy {

    pointer-events: none;

    .socrata-visualization-busy-indicator-container {
      display: block;
    }
  }

  /**
   * The container for the actual visualization
   */

  .socrata-visualization-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    z-index: 1;
  }

  &.socrata-visualization-top-axis-title {

    .socrata-visualization-container {
      padding-top: $axis-padding;

      .socrata-visualization-top-axis-title {
        visibility: visible;
      }
    }
  }

  &.socrata-visualization-right-axis-title {

    .socrata-visualization-container {
      padding-right: $axis-padding;

      .socrata-visualization-right-axis-title {
        visibility: visible;
      }
    }
  }

  &.socrata-visualization-bottom-axis-title {

    .socrata-visualization-container {
      padding-bottom: $axis-padding;

      .socrata-visualization-bottom-axis-title {
        visibility: visible;
      }
    }
  }

  &.socrata-visualization-left-axis-title {

    .socrata-visualization-container {
      padding-left: $axis-padding;

      .socrata-visualization-left-axis-title {
        visibility: visible;
      }
    }
  }
}
