@font-face {
  font-family: "<%= fontName %>";
  src: url(socrata-icons-path("<%= fontName %>-<%= buildTimestamp %>.eot"));
  src: url(socrata-icons-path("<%= fontName %>-<%= buildTimestamp %>.eot?#iefix")) format("eot"),
    url(socrata-icons-path("<%= fontName %>-<%= buildTimestamp %>.woff2")) format("woff2"),
    url(socrata-icons-path("<%= fontName %>-<%= buildTimestamp %>.woff")) format("woff"),
    url(socrata-icons-path("<%= fontName %>-<%= buildTimestamp %>.ttf")) format("truetype"),
    url(socrata-icons-path("<%= fontName %>-<%= buildTimestamp %>.svg#<%= fontName %>")) format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "<%= fontName %>";
    src: url(socrata-icons-path("<%= fontName %>-<%= buildTimestamp %>.svg#<%= fontName %>")) format("svg");
  }
}

