<button class="btn btn-default" data-flannel="generic-flannel" data-toggle><span>Open Flannel</span></button>
<%= partial 'code_sample', locals: {
  component: 'legacy/skeletons/flannel',
  partial_locals: {
    flannel_id: 'generic-flannel'
  }
} %>
