.*.swp
.bundle
.byebug_history
.DS_Store
.npmrc
.sass-cache
.idea/
.vimrc
app/styles/vendor
dev-server/*.pid
dev-server/logs
frontend.iml
frontend.tgz
karma/**/mockTranslations.js
log/
manifest*.txt
nbproject
node_modules
npm-debug.log
public/cache
public/geodata
public/javascripts/dist
public/packages
public/stylesheets/socrata-styleguide
public/stylesheets/socrata-visualizations
REVISION
socrata-node/DEPEND
socrata-node/node_modules
vendor/bundle
vendor/bundler_gems
coverage
