.dragged g.segment {
  cursor: grabbing;
  cursor: -webkit-grabbing !important;
}

.timeline-chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.timeline-chart {
  position: relative;
  width: 100%;
  height: 100%;
}

.timeline-chart.selecting {
  cursor: col-resize;
}

.timeline-chart-highlight-target {
  background: #fff;
  display: block;
  filter: alpha(opacity=1);
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}

svg:not(:root).timeline-chart-highlight-container {
  position: absolute;
  top: 0;
  overflow: visible;
  z-index: 4;
}

.selecting .timeline-chart-highlight-container {
  display: none;
}

.timeline-chart-selection {
  position: absolute;
  top: 0;
  z-index: 3;
}

.timeline-chart-selection .selection-trace {
  fill: transparent;
  stroke-width: 2px;
}

.timeline-chart-left-selection-marker,
.timeline-chart-right-selection-marker {
  display: none;
  position: absolute;
  top: 0;
  width: 24px;
  cursor: col-resize;
  z-index: 8;
}

.timeline-chart-left-selection-marker svg,
.timeline-chart-right-selection-marker svg {
  height: 100%;
  width: 24px;
  position: absolute;
}

.timeline-chart-left-selection-marker svg line,
.timeline-chart-right-selection-marker svg line {
  stroke-width: 2px;
  stroke-dasharray: 7, 3;
}
.timeline-chart-left-selection-marker svg rect,
.timeline-chart-right-selection-marker svg rect {
  fill: transparent;
}
.timeline-chart-left-selection-marker svg path,
.timeline-chart-right-selection-marker svg path {
  stroke-linejoin: round;
}

.selecting .timeline-chart-left-selection-marker,
.selecting .timeline-chart-right-selection-marker,
.selected .timeline-chart-left-selection-marker,
.selected .timeline-chart-right-selection-marker {
  display: block;
}

.timeline-chart-clear-selection-label {
  display: none;
  position: absolute;
  margin-top: 1px;
  height: 100%;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  z-index: 5;
}

.datum-label {
  display: none;
  position: absolute;
  height: 30px;
  bottom: 0;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}

.filterable .datum-label {
  cursor: pointer;
}

.selected .timeline-chart-clear-selection-label {
  z-index: 9;
}

.selecting .timeline-chart-clear-selection-label,
.selected .timeline-chart-clear-selection-label {
  display: block;
}

.timeline-chart-unfiltered-mask,
.timeline-chart-filtered-mask {
  position: absolute;
  top: 0;
  z-index: 2;
}

.timeline-chart-filtered-mask {
  z-index: 3;
}

.timeline-chart-unfiltered-visualization,
.timeline-chart-filtered-visualization {
  position: absolute;
  top: 0;
}
.timeline-chart-unfiltered-visualization .context-trace,
.timeline-chart-filtered-visualization .context-trace {
  fill: transparent;
  stroke-width: 2px;
}
.timeline-chart-unfiltered-visualization .shaded,
.timeline-chart-filtered-visualization .shaded {
  display: block;
}
.timeline-chart-unfiltered-visualization .shaded-trace,
.timeline-chart-filtered-visualization .shaded-trace {
  fill: transparent;
  stroke-width: 2px;
}

.x-ticks {
  position: absolute;
  bottom: 0;
  z-index: 6;
}
.x-ticks .x-tick {
  position: absolute;
  top: -3px;
  width: 3px;
  height: 4px;
}
.x-ticks .x-tick-label {
  position: absolute;
  height: 100%;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
}
.x-ticks .x-tick-label.emphasis {
  font-weight: bold;
}
.filterable .x-ticks .x-tick-label {
  cursor: pointer;
}

.dimmed .x-tick-label,
.selecting .x-tick-label,
.selected .x-tick-label {
  opacity: 0.25;
}

.y-ticks {
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
.y-ticks .y-tick {
  position: absolute;
  width: 100%;
  height: 1rem;
  margin-top: -1rem;
  text-align: right;
  font-size: 0.75rem;
}
.y-ticks .zero {
  font-weight: bold;
}

/* rgba version used for manipulating font color while card description is expanded */
.timeline-chart-highlight-container .timeline-chart-highlight {
  fill: rgba(255, 255, 255, 0.75);
  stroke: transparent;
}

.timeline-chart-selection .selection {
  fill: #debb1e;
}
.timeline-chart-selection .selection-trace {
  stroke: #969605;
}

.timeline-chart-left-selection-marker svg line,
.timeline-chart-right-selection-marker svg line {
  stroke: #8a8686;
}
.timeline-chart-left-selection-marker svg path,
.timeline-chart-right-selection-marker svg path {
  stroke: #8a8686;
  fill: #c0bbbb;
}

.timeline-chart-clear-selection-label {
  background-color: rgba(255, 255, 255, 0.75);
}

.datum-label {
  color: #d6d4d5;
}

.timeline-chart-unfiltered-visualization .context,
.timeline-chart-filtered-visualization .context {
  fill: rgba(214, 212, 213, 0.5);
}
.timeline-chart-unfiltered-visualization .context-trace,
.timeline-chart-filtered-visualization .context-trace {
  stroke: #d6d4d5;
}
.timeline-chart-unfiltered-visualization .shaded,
.timeline-chart-filtered-visualization .shaded {
  fill: rgba(106, 176, 204, 0.5);
}
.timeline-chart-unfiltered-visualization .shaded-trace,
.timeline-chart-filtered-visualization .shaded-trace {
  stroke: #68b0cc;
}

.x-ticks .x-tick {
  background-color: #bbb;
}
.x-ticks .x-tick-label {
  color: #bbb;
}

.y-ticks .y-tick {
  color: #bbb;
  border-bottom: 1px solid #bbb;
}
.y-ticks .zero {
  font-weight: bold;
  color: #888;
}
