@import '../qfb-variables.scss';
@import '../qfb-utils.scss';

#qfb-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #F0EFEF;
  padding:15px;
  padding-bottom: 5px;
  font-family: $qfb-font-family;
}
#qfb-dropdown .dropdown-toggle {
  margin-right: 10px;
  margin-bottom: 10px;
  height:52px;
  border-radius: 1px;
}
.qfb-dropdown.dropdown {
  padding: 0;
}
.qfb-dropdown .dropdown-menu > li {
  display: block;
  cursor: pointer;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
  &:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
  &.disabled {
    cursor: not-allowed;
    color: #AFAFAF;
    &:hover {
      background-color: transparent;
    }
  }
}

.qfb-row-filters {
  display: flex;
  justify-content: space-between;
}

#qfb-filters {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#filter-summary {
  text-decoration: none;
}

#qfb-filters-btndelete {
  align-self: flex-end;
  margin-bottom: 9px;
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-color: none;
  border-color: none;
}

@media all and (max-width: $mobile-point) {
  #qfb-container {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0px;
  }
    .qfb-row-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px;
    }

    .qfb-row-filters {
      width: 100%;
      flex-direction: column;
      background-color: white;
    }

    #qfb-dropdown {
      //width: 100%;
    }
      #qfb-dropdown .dropdown-toggle {
        width: 130px;
        border-radius: 1px;
        margin-bottom: 0;
        height: 45px;
      }

    #qfb-filters {
      flex-flow: column wrap;
      width: 100%;
    }
    #qfb-filters-btndelete {
      flex: 2 0;
      margin-bottom: 0;
    }
}