.powered-by-socrata {
  font-weight: 300;

  img {
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    margin-top: -5px;
  }

  &.mini {
    font-size: ms(-1);

    img {
      height: 15px;
    }
  }
}
