.dropdown-container {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &.dropdown-opened {
    overflow: visible;
  }
}

.dropdown-hidden {
  display: none;
}

.dropdown-invisible {
  visibility: hidden;
}

.dropdown-placeholder {
  position: relative;
  font-size: 15px;
  min-height: 15px;
  background: white;
  border: solid 1px #aaa;
  cursor: default;
  user-select: none;
  transition: border-color 0.15s ease-in-out;

  padding: 10px;
  padding-right: 40px;
  color: #aaa;
  z-index: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  z-index: 50;

  &:focus {
    outline: none;
  }

  &.dropdown-selected {
    color: #000;
  }

  .dropdown-focused & {
    border-color: #1c81bb;
  }
}

.dropdown-caret {
  display: inline-flex;
  position: absolute;
  width: 22px;
  font-size: 18px;
  right: 10px;
  top: 0;
  bottom: 0;
  z-index: 10;
  color: #aaa;
  transition: color 0.15s ease-in-out;

  .dropdown-focused & {
    color: #1c81bb;
  }

  &::after {
    @extend .icon-arrow-down::before;
    margin: auto;
  }
}

.dropdown-options-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: white;
  border: solid 1px #aaa;
  border-top-width: 2px;
  z-index: 50;
  overflow-y: auto;

  &.dropdown-options-true-width {
    right: auto;
  }
}

.dropdown-options-separator {
  height: 1px;
  background: #dcdcdc;
  border-left: none;
  border-right: none;
}

.dropdown-option {
  padding: 10px;
  user-select: none;
  cursor: default;
  transition: background-color 0.09s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &.dropdown-option-highlighted {
    background-color: #efefef;
  }

  &:active {
    background-color: #dfdfdf;
  }
}
