@import "_grid";

.input-group {
  position: relative;
  display: table;
  .text-input {
    display: table-cell;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }
  .input-group-btn {
    display: table-cell;
    position: relative;
    width: 1%;
    .btn {
      border-left: none;
      margin-left: 0px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .dropdown {
      margin-right: -0.1px;
      padding: 6px 12px;

      .icon-arrow-down {
        padding-left: ms(-2);
        padding-right: 0;
      }
    }
  }
}

@media(max-width: $small) {
  .input-group-btn {
    .dropdown {
      margin-right: 0;
    }
  }
}
