ul, ol {
  ul, ol {
    margin: 0;
  }
}

ol {
  > li ol {
    list-style-type: lower-alpha;
    > li ol {
      list-style-type: lower-roman;
    }
  }
}

.list-unstyled {
	list-style: none;
	padding-left: 0;
	& > ul {
		padding-left: inherit;
	}
}

.list-inline {
	list-style: none;
	padding-left: 0;
	margin-left: -(ms(-2));
	& li {
		display: inline-block;
		padding-left: ms(-2);
		padding-right: ms(-2);
	}
}