.table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: ms(2) 0;
  min-width: 100%;

  thead {
    tr {
      background-color: $light-grey-6;
    }

    th {
      text-align: left;
      font-weight: 600;
      color: $dark-grey-0;
    }
  }

  th,
  td {
    vertical-align: baseline;
    border: 1px solid $light-grey-3;
    padding: 1.5rem;
  }

  &.table-condensed {
    th,
    td {
      padding: ms(-5);
      font-size: ms(-2);
    }

    @include media($medium) {
      th,
      td {
        padding: ms(-3);
        font-size: ms(-1);
      }
    }
  }
}

.table-borderless {
  thead {
    tr {
      background-color: transparent;

      th {
        border-top: 0;
        font-weight: 600;
      }
    }
  }

  th,
  td {
    border-left: 0;
    border-right: 0;
  }
}

.table-discrete {
  thead {
    tr th {
      color: $dark-grey-0;
      font-weight: 200;
    }
  }

  th,
  td {
    border-color: $light-grey-4;
  }
}

/*
 * Striped Table
 * Zebra-striping
 *
 * Default zebra-stripe styles (alternating grey and transparent backgrounds)
 */

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $light-grey-6;
  }
}

.table-striped.table-discrete {
  > tbody > tr:nth-of-type(odd) {
    background-color: $light-grey-6;
  }
}

.table-responsive {
  min-height: 0.1%;
  overflow-x: auto;

  width: 100%;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid $light-grey-4;

  @include media($small) {
    border: none;
  }
}
