<div class="cards-view">
  <div class="hideableMetadata">
    <h1>{{pageTitle}}</h1>
    <p>{{pageDescription}}</p>
    <b>Official Views</b>
    <ol>
      <li ng-repeat="page in datasetPages.publisher">
        {{page.id}}
      </li>
    </ol>
    <b>Community-created Views</b>
    <ol>
      <li ng-repeat="page in datasetPages.user">
        {{page.id}}
      </li>
    </ol>
    <p>Last updated: {{datasetDaysUnmodified}} days ago</p>
  </div>
  <div sticky-header class="quickFilterBar" ng-class="{stuck: headerIsStuck}">
    <div class="content">
      This bar serves quick fajitas!
    </div>
  </div>
  <div ng-if="!useExpandedLayout" class="collapsedLayout">
    <div class="cardSizeGroup cardSize{{cardSize}}" ng-repeat="cardSize in cardSizeNamesInDisplayOrder">
      <div class="row" ng-repeat="cardLine in cardLinesBySizeGroup[cardSize]">
        <div class="cardTile span{{12/cardLine.length}}" ng-repeat="card in cardLine">
          <card model="card.model"></card>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="useExpandedLayout" class="expandedLayout">
    <div class="expandedCards" style="top: {{availableContentHeight}}px">
      <card model="expandedCards[0]"></card>
    </div>
    <div class="collapsedCards">
      <div ng-repeat="cardModel in collapsedCards">
        <card model="cardModel"></card>
      </div>
    </div>
  </div>
</div>
