###############################################################################
# NOTES ON THE USE OF THIS FILE
#
# Defining a new config value
# --------------------------------------------------
# New config values must be declared in frontend/lib/app_config.rb
# If they're going to be supplied as environment variables in a Docker container,
# also add them to frontend/docker/config.yml.j2
#
# Apps deployed by chef
# --------------------------------------------------
# As of the time of this writing, the only environments in which the frontend
# is deployed by chef is Sea1 (prod) and Azure (RC). In those environments:
#
# RC: RC is dockerized, so set these configurations in `webapp.docker.env_vars`
#     in metachef/environments/azure-rc.json, which looks like this:
#
#      "webapp": {
#      "docker": {
#        "tag": "release.2016.06.28.0948_1955_b3a30811",
#        "env_vars": {
#          "AIRBRAKE_ENVIRONNMENT_NAME": "azure-rc",
#
# Prod Sea1: If the release will be of the dockerized variety, set these configurations
#     in the same place as RC in metachef/environments/production.json.
#     Otherwise, set them directly under `webapp`.
#
# The way this file works in a cheffed environment is thus:
# 1. metachef will run chef on all nodes every 20 minutes
# 2. chef will write its version of this file to /etc/config.yml
# 3. UPON DEPLOY, frontend will copy /etc/config.yml into config/config.yml
# 4. frontend starts up, reading its config/config.yml
#
# Apps deployed via marathon
# --------------------------------------------------
# As with any other application, set these in apps-marathon/params/<env>/frontend.toml
# and make sure the necessary logic to set them exists in docker/config.yml.j2
#
# General Notes
# --------------------------------------------------
# Attributes that you wish to add to the "default" section below should be
# added under the "default_attributes" hash key in the appropriate JSON file
# mentioned above.
#
###############################################################################

default: &default
  # service hosts/ports/names et simil
  catalog_federator_url: http://localhost:5710
  cetera_internal_uri: http://localhost:5704
  coreservice_uri: http://localhost:8080
  feature_flag_signaller_uri: http://localhost:14567
  polaroid_hostname: polaroid.app.marathon.aws-us-west-2-prod.socrata.net
  polaroid_port: 13379
  secondary_group_identifier: spandex
  sitemap_s3_url: https://localhost.amazonaws.com/bucket_dne/sitemaps
  statsd_enabled: false
  zk_hosts: localhost:2181
  storyteller_uri: http://localhost:3010

  # internal app tokens
  app_token: U29jcmF0YS0td2VraWNrYXNz0
  data_cards_app_token: zvQamMSTi4GNuZWWDwjLdLPhW

  # third-party app tokens
  opendata_ga_tracking_code: UA-52982454-21
  standard_ga_tracking_code: UA-51039907-4

  # Sessions
  default_session_time_minutes: 15

  qualtrics:
    admin:
      survey_id: SI_0pQUgPVvv4upART
    profile:
      survey_id: SI_0PAYWZDLfzLgNTf

  # data lens behaviors
  enable_png_download_ui: true
  enable_search_suggestions: true
  feature_map_disable_pan_zoom: false
  feature_map_features_per_tile: 50000
  feature_map_zoom_debounce: 500
  shape_file_region_query_limit: 5000

  # other behaviors
  canary: false

  # config to get articles from zendesk
  zendesk_notifications:
    article_count: 4
    zendesk_link: https://support.socrata.com/hc/en-us/sections/203977877-Check-out-the-Latest
    zendesk_section: 203977877

  # number of days that can pass until a deleted dataset can't be restored
  restore_dataset_days: 5

  # other behaviors
  metrics_dir: tmp/metriclogs
  atomic_metrics_flush: true
  metrics_batch_size: 1

  # Pendo Tracker App Token
  pendo_token: 58b54a43-79c9-4bef-561d-bf2d671e81c5

  # Mapbox App token
  # Access token starting with 'sk' are secret keys with elevated previleges
  # and they should not be used here.
  mapbox_access_token: pk.eyJ1Ijoic29jcmF0YSIsImEiOiJjaW45aHg1NnMwNDJudHpseWljOTBvMzl3In0.ZvwhmPuu21nkn5HL4r2A-Q

# Local development
development: &development
  <<: *default
  # service hosts/ports/names et simil
  cetera_internal_uri: http://localhost:5704
  curated_region_job_queue_hostname: localhost
  curated_region_job_queue_port: 2030
  http_port: 9292
  import_status_service_hostname: localhost
  import_status_service_port: 8082
  dataset_management_api_hostname: localhost
  dataset_management_api_port: 4000
  polaroid_hostname: localhost
  polaroid_port: 1337
  sitemap_s3_url: https://localhost.amazonaws.com/bucket_dne/sitemaps
  ssl_port: 443

  # third-party app tokens
  mixpanel_token: 59b0b54697603105463834afdf20accf
  recaptcha_2_site_key: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
  recaptcha_2_secret_token: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
  google_maps_site_key: AIzaSyBGFHOk32Yq_Rk9g14EIsAkVFkTARtsuC4

  # auth alternatives
  esri_crawler_hostname: localhost
  esri_crawler_port: 8888
  auth0_id: w59XZV0YDqx7us3GFHnHncXrAzFWkCnG
  auth0_secret: rbmrUAUiWZqp3aADhu1aWGy6tp15jKefajxO6qYndAZ6djmF80V2kD_m-ajpS3uI
  auth0_uri: socrata.auth0.com
  auth0_database_connection: Username-Password-Staging

  roles_admin_faq_url: https://google.com

# Running unit tests; NOT test-socrata.com
test:
  <<: *default
  # service hosts/ports/names et simil
  cetera_internal_uri: http://localhost:5704
  coreservice_uri: http://localhost:8080
  sitemap_s3_url: https://test.amazonaws.com/bucket_dne/sitemaps
  feature_flag_signaller_uri:

  # auth alternatives
  auth0_uri: exists
  auth0_id: exists
  auth0_secret: exists

# test-socrata.com
staging:
  <<: *default
  # service hosts/ports/names et simil
  sitemap_s3_url: https://s3-us-west-2.amazonaws.com/sa-socrata-sitemaps-us-west-2-staging/sitemaps
  # third-party app tokens
  mixpanel_token: ce548d5c95f7671fadd0174cc067dc69

# rc-socrata.com
rc:
  <<: *default
  # service hosts/ports/names et simil
  cetera_internal_uri: http://cetera.app.marathon.aws-us-west-2-rc.socrata.net
  coreservice_uri: http://lb-vip.aws-us-west-2-rc.socrata.net:8081
  sitemap_s3_url: https://s3-us-west-2.amazonaws.com/sa-socrata-sitemaps-us-west-2-rc/sitemaps
  zk_hosts: '10.112.35.120:2181,10.112.36.163:2181,10.112.41.205:2181'
  # third-party app tokens
  mixpanel_token: ce548d5c95f7671fadd0174cc067dc69

# fedramp-test.socrata.com
fedramp-prod:
  <<: *default
  # service hosts/ports/names et simil
  sitemap_s3_url: https://s3-us-west-1.amazonaws.com/sa-socrata-sitemaps-us-west-1-prod/sitemaps
  # third-party app tokens
  mixpanel_token: ce548d5c95f7671fadd0174cc067dc69

# eu-west-test.socrata.com
eu-prod:
  <<: *default
  cetera_internal_uri: http://cetera.app.marathon.aws-eu-west-1-prod.socrata.net
  # service hosts/ports/names et simil
  sitemap_s3_url: https://s3-eu-west-1.amazonaws.com/sa-socrata-sitemaps-eu-west-1-prod/sitemaps
  # third-party app tokens
  mixpanel_token: ce548d5c95f7671fadd0174cc067dc69

# www.socrata.com
production:
  <<: *default
  # service hosts/ports/names et simil
  cetera_internal_uri: http://cetera.app.aws-us-east-1-fedramp-prod.socrata.net
  coreservice_uri: http://lb-vip.sea1.socrata.com:8081
  sitemap_s3_url: https://s3-us-west-2.amazonaws.com/sa-socrata-sitemaps-us-west-2-prod/sitemaps

  # third-party app tokens
  mixpanel_token: 1d804068e1d3694468823f3c7f74567d
