<h4 class="h6 styleguide-subheader">Catalog Result Card</h4>
<%= partial "components/code_sample", locals: { component: "components/card_catalog" } %>

<h4 class="h6 styleguide-subheader">Rich Media/Viz Card</h4>
<%= partial "components/card_viz" %>
