<h4 class="h6 styleguide-subheader">Dropdowns and Flannels in Button Groups</h4>

<p class="usage">
  Opening a flannel or dropdown closes other openable elements, so that multiple
  overlapping elements can't be opened (e.g. within a button group).
</p>

<div class="btn-group complex-btn-group">
  <button class="btn btn-default" data-flannel="generic-flannel-a" data-toggle>Open Flannel A</button>
  <button class="btn btn-default" data-flannel="generic-flannel-b" data-toggle>Open Flannel B</button>
  <div class="dropdown btn btn-default" data-dropdown data-orientation="bottom" data-selectable>
    <span>Dropdown</span><span class="icon-arrow-down"></span>
    <ul class="dropdown-options">
      <% ['Option 1', 'Option 2'].each do |option| %>
        <li><a href="#"><%= option %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<%= partial 'components/flannel', locals: {
  flannel_id: 'generic-flannel-a'
} %>
<%= partial 'components/flannel', locals: {
  flannel_id: 'generic-flannel-b'
} %>
