<h4 class="h6">Rule</h4>


<%= partial "components/code_sample", locals: { component: "components/_divider_rule" } %>


<h4 class="h6">Vertical Divider</h4>


<div class="container">

  <div class="third"><p class="quiet">Here's some sample content</p></div>

  <div class="one">
    
    <%= partial "components/_divider_vertical" %>

  </div>

  <div class="third"><p class="quiet">Here's some other sample content</p></div>
</div>

<%= partial "components/code_only_sample", locals: { component: "components/_divider_vertical" } %>