<p class="alert info">This component requires <a href="https://facebook.github.io/react">React</a> and ReactDOM to render.</p>
<%= partial "components/code_sample", locals: { component: "components/dropdown_react" } %>
