<h2 class="h6"><span class="icon-eye"></span> Con Font</h2>

<ul class="blockgrid">

  
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-add" class="icon-add"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-add" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-add-collaborator" class="icon-add-collaborator"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-add-collaborator" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-arrow-down" class="icon-arrow-down"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-arrow-down" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-arrow-left" class="icon-arrow-left"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-arrow-left" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-arrow-next" class="icon-arrow-next"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-arrow-next" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-arrow-prev" class="icon-arrow-prev"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-arrow-prev" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-arrow-right" class="icon-arrow-right"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-arrow-right" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-arrow-up" class="icon-arrow-up"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-arrow-up" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-bar-chart" class="icon-bar-chart"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-bar-chart" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-bold2" class="icon-bold2"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-bold2" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-cards" class="icon-cards"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-cards" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-chart" class="icon-chart"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-chart" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-check" class="icon-check"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-check" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-check-2" class="icon-check-2"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-check-2" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-checkmark3" class="icon-checkmark3"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-checkmark3" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-chevron-down" class="icon-chevron-down"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-chevron-down" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-chevron-up" class="icon-chevron-up"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-chevron-up" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-clear-formatting" class="icon-clear-formatting"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-clear-formatting" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-close" class="icon-close"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-close" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-close-2" class="icon-close-2"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-close-2" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-close-circle" class="icon-close-circle"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-close-circle" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-collapse" class="icon-collapse"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-collapse" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-copy-document" class="icon-copy-document"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-copy-document" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-cross2" class="icon-cross2"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-cross2" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-data" class="icon-data"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-data" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-dataset" class="icon-dataset"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-dataset" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-distribution" class="icon-distribution"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-distribution" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-droplet" class="icon-droplet"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-droplet" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-edit" class="icon-edit"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-edit" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-expand" class="icon-expand"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-expand" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-external" class="icon-external"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-external" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-external-square" class="icon-external-square"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-external-square" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-eye" class="icon-eye"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-eye" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-eye-blocked" class="icon-eye-blocked"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-eye-blocked" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-failed" class="icon-failed"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-failed" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-filter" class="icon-filter"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-filter" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-geo" class="icon-geo"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-geo" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-info" class="icon-info"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-info" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-info-inverse" class="icon-info-inverse"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-info-inverse" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-italic2" class="icon-italic2"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-italic2" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-line-chart" class="icon-line-chart"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-line-chart" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-link" class="icon-link"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-link" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-link2" class="icon-link2"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-link2" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-linked" class="icon-linked"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-linked" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-list-numbered" class="icon-list-numbered"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-list-numbered" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-list2" class="icon-list2"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-list2" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-map" class="icon-map"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-map" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-move" class="icon-move"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-move" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-number" class="icon-number"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-number" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-official" class="icon-official"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-official" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-paragraph-center3" class="icon-paragraph-center3"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-paragraph-center3" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-paragraph-left3" class="icon-paragraph-left3"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-paragraph-left3" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-paragraph-right3" class="icon-paragraph-right3"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-paragraph-right3" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-pause" class="icon-pause"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-pause" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-play" class="icon-play"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-play" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-plus2" class="icon-plus2"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-plus2" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-plus3" class="icon-plus3"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-plus3" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-presentation" class="icon-presentation"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-presentation" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-preview" class="icon-preview"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-preview" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-processing" class="icon-processing"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-processing" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-pulse" class="icon-pulse"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-pulse" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-puzzle" class="icon-puzzle"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-puzzle" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-question" class="icon-question"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-question" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-question-inverse" class="icon-question-inverse"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-question-inverse" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-quotes-left" class="icon-quotes-left"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-quotes-left" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-redo" class="icon-redo"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-redo" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-region" class="icon-region"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-region" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-search" class="icon-search"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-search" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-settings" class="icon-settings"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-settings" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-share" class="icon-share"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-share" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-stories-icon" class="icon-stories-icon"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-stories-icon" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-stories-menu" class="icon-stories-menu"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-stories-menu" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-story" class="icon-story"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-story" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-table" class="icon-table"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-table" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-tag" class="icon-tag"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-tag" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-undo" class="icon-undo"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-undo" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-user" class="icon-user"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-user" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-waiting" class="icon-waiting"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-waiting" />
      </div>
    </li>
    
    <li class="icon-sample">
      <div class="preview-glyphs">
        <i id="icon-warning" class="icon-warning"></i>
      </div>
      <div class="usage">
        <input class="class" type="text" readonly="readonly" onClick="this.select();" value=".icon-warning" />
      </div>
    </li>
    


  </ul>