<ul class="list-unstyled">
  <li>This is not a list</li>
  <li>But it's still absolutely fantastic</li>
  <li>This is a nested list within an unstyled list
    <ul>
      <li>I'm nested!</li>
      <li>I'm also nested.</li>
    </ul>
  </li>
  <li>We're still going.</li>
</ul>
