<h4 class="h6">Unordered List</h4>

<%= partial "components/code_sample", locals: { component: "examples/_list_unordered" } %>

<h4 class="h6">Ordered List</h4>

<%= partial "components/code_sample", locals: { component: "examples/_list_ordered" } %>
