<table class="table-condensed">
  <thead>
    <tr>
      <th scope="col">Dataset title</th>
      <th scope="col">Description</th>
      <th scope="col">Posted</th>
    </tr>
  </thead>
  <tbody>

          <tr>
        <td scope="row">34</td>
        <td>Cookies</td>
        <td>January 1, 2015</td>
      </tr>
      <tr>
        <td scope="row">345</td>
        <td>Cake</td>
        <td>February 12, 2015</td>
      </tr>
      <tr>
        <td scope="row">876X</td>
        <td>Cream Puffs</td>
        <td>July 1, 2015</td>
      </tr>
      <tr>
        <td scope="row">6677</td>
        <td>Pie</td>
        <td>Today</td>
      </tr>
    
  </tbody>
</table>