  <table>
    <thead>
      <tr>
        <th scope="col">Dataset title</th>
        <th scope="col">Description</th>
        <th scope="col">Posted</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Chicago Pet Escapes</td>
        <td>Describes documented pet escapes around the city</td>
        <td>January 1, 2015</td>
      </tr>
      <tr>
        <td scope="row">Seattle Coffee Houses with Hand Press Espresso</td>
        <td>Dataset includes all coffee houses that serve hand pressed espresso by by hipsters with beards and leather aprons.</td>
        <td>February 12, 2015</td>
      </tr>
      <tr>
        <td scope="row">SF Mission Burrito Menus and Locations</td>
        <td>Find the best burritos in the city when you really need one.</td>
        <td>July 1, 2015</td>
      </tr>
      <tr>
        <td scope="row">Hollywood Fire Dept. Realtime Feed</td>
        <td>Checkout where the fire engines go in real time.</td>
        <td>Today</td>
      </tr>
    </tbody>
  </table>