<div class="button-wrapper">
  <button class="btn btn-default" id="tour-anchor" data-tour>Start Tour</button>
</div>

<p>Note: this example uses <a href="http://github.hubspot.com/shepherd/" target="_blank">Shepherd</a></p>

<%= partial "components/code_sample", locals: { component: "components/tour" } %>
