<div class="<%= component_container_classes(layout_columns[index]) %>">
  <div class="<%= component_classes(component['type']) %>" data-component-data="<%= component_json(component) %>">
    <%=
      render(
        partial: component_partial_name(component['type']),
        locals: { component: component }
      )
    %>
  </div>
</div>
