<button class="btn-linear-mode icon-stories-icon" title="<%= t('preview_mode.linear_mode.title') %>" disabled></button>
<button class="btn-presentation-mode icon-presentation" title="<%= t('preview_mode.presentation_mode.title') %>"></button>
<div class="presentation-navigation hidden">
  <button class="btn-presentation-previous icon-arrow-prev" title="<%= t('preview_mode.presentation_mode.previous') %>"></button>
  <button class="btn-presentation-next icon-arrow-next" title="<%= t('preview_mode.presentation_mode.next') %>"></button>
</div>
