.choropleth-upper-container {
  height: 60vh;

  &.expanded {
    height: calc(60vh + 60px);
  }

  .choropleth-upper-wrapper {
    height: calc(100% - 57px);

    .choropleth-container {
      &.with-flyout-open {
        height: calc(100% - 60px);
      }
    }

    &.filterable {
      .choropleth-map-container path.leaflet-clickable {
        cursor: pointer;
      }
    }

    path.leaflet-clickable {
      cursor: default;
    }

    .card.dragged .choropleth-container .choropleth-map-container path {
      cursor: grabbing !important;
      cursor: -webkit-grabbing !important;
    }
  }

  div.mobile-flyout {
    margin-top: -60px;
    height: 60px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.6);
    bottom: 0;
    z-index: 11;
    position: absolute;
    padding: 3px 10px 3px 10px;
    width: 100%;
  }
}
