@import 'lib/variables';

.component-asset-selector {
  background-image: asset-url('media-block-icon.png');
  background-size: 25%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  box-sizing: border-box;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ddd;
    transition: color $transition-duration, background-color $transition-duration;
  }

  .asset-selector-insert-btn {
    position: relative;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.component-youtube-video {
  background-color: $youtube-bg-color;

  iframe {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.component-image {
  img {
    width: 100%;
  }
}

.col3 {
  .component-asset-selector, .component-youtube-video {
    $small-height: $col3-block-edit-content-width-small * (3/4);
    $medium-height: $col3-block-edit-content-width-medium * (3/4);
    $large-height: $col3-block-edit-content-width-large * (3/4);
    $extra-large-height: $col3-block-edit-content-width-extra-large * (3/4);

    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );

    .asset-selector-insert-btn {
      @include media-query-property(
        'margin-top',
        $small-height - ($btn-height * 2.5),
        $medium-height - ($btn-height * 2.5),
        $large-height - ($btn-height * 2.5),
        $extra-large-height  - ($btn-height * 2.5)
      );
    }
  }
}

.col4 {
  .component-asset-selector, .component-youtube-video {
    $small-height: $col4-block-edit-content-width-small * (3/4);
    $medium-height: $col4-block-edit-content-width-medium * (3/4);
    $large-height: $col4-block-edit-content-width-large * (3/4);
    $extra-large-height: $col4-block-edit-content-width-extra-large * (3/4);

    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );

    .asset-selector-insert-btn {
      @include media-query-property(
        'margin-top',
        $small-height - ($btn-height * 2.5),
        $medium-height - ($btn-height * 2.5),
        $large-height - ($btn-height * 2.5),
        $extra-large-height  - ($btn-height * 2.5)
      );
    }
  }
}

.col6 {
  .component-asset-selector, .component-youtube-video {
    $small-height: $col6-block-edit-content-width-small * (3/4);
    $medium-height: $col6-block-edit-content-width-medium * (3/4);
    $large-height: $col6-block-edit-content-width-large * (3/4);
    $extra-large-height: $col6-block-edit-content-width-extra-large * (3/4);

    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );

    .asset-selector-insert-btn {
      @include media-query-property(
        'margin-top',
        $small-height - ($btn-height * 2.5),
        $medium-height - ($btn-height * 2.5),
        $large-height - ($btn-height * 2.5),
        $extra-large-height  - ($btn-height * 2.5)
      );
    }
  }
}

.col8 {
  .component-asset-selector, .component-youtube-video {
    $small-height: $col8-block-edit-content-width-small * (3/4);
    $medium-height: $col8-block-edit-content-width-medium * (3/4);
    $large-height: $col8-block-edit-content-width-large * (3/4);
    $extra-large-height: $col8-block-edit-content-width-extra-large * (3/4);

    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );

    .asset-selector-insert-btn {
      @include media-query-property(
        'margin-top',
        $small-height - ($btn-height * 2.5),
        $medium-height - ($btn-height * 2.5),
        $large-height - ($btn-height * 2.5),
        $extra-large-height  - ($btn-height * 2.5)
      );
    }
  }
}

.col12 {
  .component-asset-selector, .component-youtube-video {
    $small-height: $col12-block-edit-content-width-small * (3/4);
    $medium-height: $col12-block-edit-content-width-medium * (3/4);
    $large-height: $col12-block-edit-content-width-large * (3/4);
    $extra-large-height: $col12-block-edit-content-width-extra-large * (3/4);

    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );

    .asset-selector-insert-btn {
      @include media-query-property(
        'margin-top',
        $small-height - ($btn-height * 2.5),
        $medium-height - ($btn-height * 2.5),
        $large-height - ($btn-height * 2.5),
        $extra-large-height  - ($btn-height * 2.5)
      );
    }
  }
}
