@import 'lib/variables';

.component-asset-selector {
  position: relative;
  border: 1px solid transparent;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
    transition: color $transition-duration, background-color $transition-duration;
  }

  &:before {
    background-image: asset-url('media-block-icon.png');
    background-size: 30%;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;

    .small & {
      background-size: 24%;
    }
  }

  .asset-selector-insert-btn {
    position: relative;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 70%;
    font-weight: 600;

    .small & {
      top: 70%;
    }
  }
}

.component-asset-selector,
.component-youtube-video,
.component-image,
.component-socrata-visualization-column-chart,
.component-socrata-visualization-timeline-chart,
.component-socrata-visualization-feature-map,
.component-socrata-visualization-classic,
.component-embedded-html {
  @include media-query-property(
    'margin-top',
    $media-component-small-margin-top,
    $media-component-medium-margin-top,
    $media-component-large-margin-top,
    $media-component-extra-large-margin-top
  );

  .component-edit-controls {
    display: none;
  }
  &.editing .component-edit-controls {
    display: initial;
  }
}

.component-youtube-video,
.component-socrata-visualization-classic {
  iframe {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.component-youtube-video {
  background-color: $youtube-bg-color;
}

.component-image {
  img {
    width: 100%;
  }
}

.col3 {
  .component-asset-selector,
  .component-youtube-video,
  .component-socrata-visualization-column-chart,
  .component-socrata-visualization-timeline-chart,
  .component-socrata-visualization-feature-map,
  .component-socrata-visualization-classic,
  .component-embedded-html {
    $small-height: $col3-block-edit-content-width-small * (4/5);
    $medium-height: $col3-block-edit-content-width-medium * (3/4);
    $large-height: $col3-block-edit-content-width-large * (3/4);
    $extra-large-height: $col3-block-edit-content-width-extra-large * (3/4);

    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );
  }
}

.col4 {
  .component-asset-selector,
  .component-youtube-video,
  .component-socrata-visualization-column-chart,
  .component-socrata-visualization-timeline-chart,
  .component-socrata-visualization-feature-map,
  .component-socrata-visualization-classic,
  .component-embedded-html {
    $small-height: $col4-block-edit-content-width-small * (4/5);
    $medium-height: $col4-block-edit-content-width-medium * (3/4);
    $large-height: $col4-block-edit-content-width-large * (3/4);
    $extra-large-height: $col4-block-edit-content-width-extra-large * (3/4);

    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );
  }
}

.col6 {
  $small-height: $col6-block-edit-content-width-small * (4/5);
  $medium-height: $col6-block-edit-content-width-medium * (3/5);
  $large-height: $col6-block-edit-content-width-large * (3/5);
  $extra-large-height: $col6-block-edit-content-width-extra-large * (3/5);

  .component-asset-selector,
  .component-youtube-video,
  .component-socrata-visualization-column-chart,
  .component-socrata-visualization-timeline-chart,
  .component-socrata-visualization-classic,
  .component-socrata-visualization-feature-map {
    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );
  }

  .component-embedded-html {
     @include media-query-property(
      'height',
      $col8-block-edit-content-width-small * 1.8,
      $col6-block-edit-content-width-medium * 1.5,
      $col6-block-edit-content-width-large * 1,
      $col6-block-edit-content-width-extra-large * (4/5)
    );
  }
}

.col8 {
  $small-height: $col8-block-edit-content-width-small * (4/5);
  $medium-height: $col8-block-edit-content-width-medium * (3/5);
  $large-height: $col8-block-edit-content-width-large * (3/5);
  $extra-large-height: $col8-block-edit-content-width-extra-large * (3/5);

  .component-asset-selector,
  .component-youtube-video,
  .component-socrata-visualization-column-chart,
  .component-socrata-visualization-timeline-chart,
  .component-socrata-visualization-classic,
  .component-socrata-visualization-feature-map {
    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );
  }

  /* Embedded HTML optimized for budget embed */
  .component-embedded-html {
    @include media-query-property(
      'height',
      $col8-block-edit-content-width-small * 1.2,
      $col8-block-edit-content-width-medium,
      $large-height,
      $col8-block-edit-content-width-extra-large * (3/5)
    );
  }

}

.col12 {
  $small-height: $col12-block-edit-content-width-small * (4/5);
  $medium-height: $col12-block-edit-content-width-medium * (3/5);
  $large-height: $col12-block-edit-content-width-large * (3/5);
  $extra-large-height: $col12-block-edit-content-width-extra-large * (3/5);

  .component-asset-selector,
  .component-youtube-video,
  .component-socrata-visualization-column-chart,
  .component-socrata-visualization-timeline-chart,
  .component-socrata-visualization-classic,
  .component-socrata-visualization-feature-map {
    @include media-query-property(
      'height',
      $small-height,
      $medium-height,
      $large-height,
      $extra-large-height
    );
  }
  .component-embedded-html {
    @include media-query-property(
      'height',
      $col8-block-edit-content-width-small * 1.2,
      $col12-block-edit-content-width-medium * 0.7,
      $col12-block-edit-content-width-large * 0.5,
      $col12-block-edit-content-width-extra-large * (2/5)
    );
  }
}

.small .component-embedded-html {
  height: $main-content-width-small * 1.2;
}
