@import 'lib/variables';

.component-story-widget {
  width: 100%;
  height: 42rem;

  .story-widget-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    cursor: pointer;
    outline: none;

    .story-widget {
      width: 100%;
      height: 100%;

      .story-widget-title,
      .story-widget-image,
      .story-widget-description {
        opacity: 0;
        transition: opacity $transition-duration;
      }

      .story-widget-title {
        @include selectable();

        margin: 0;
        padding: 0.75rem 1rem;
        width: 100%;
        height: 9.5rem;
        font-size: 2.5rem;
        line-height: 4rem;
      }

      .story-widget-image {
        margin: 0;
        width: 100%;
        height: 20rem;
        background-color: #ccc;
        background-size: cover, cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        box-shadow: inset 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
      }

      .story-widget-description {
        @include selectable();

        margin: 0;
        padding: 0.75rem 1rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      .story-widget-view-story {
        position: absolute;
        display: block;
        margin: 0;
        width: 100%;
        height: 3.5rem;
        left: 0;
        bottom: 0;
        font-size: 1.5rem;
        line-height: 3.5rem;
        text-align: center;
        border-top: 1px solid #eee;
      }
    }

    &.rendered {

      .story-widget {

        .story-widget-title,
        .story-widget-image,
        .story-widget-description {
          opacity: 1;
        }
      }
    }

    &:hover {

      .story-widget-view-story {
        color: $btn-primary-color;
        background-color: $btn-primary-background-color;
      }
    }
  }
}
