@import "styleguide-colors";
@import "common/metadata-table";
@import "common/schema-preview";
@import "common/row-details";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-grow: 1;
  flex-basis: fill;
  flex-direction: column;
}

#app.no-chrome-header {
  margin-top: 32px;
}

// Overrides from DSLP
#info-pane-container {
  // Needed to override some stuff from _cards.scss
  .info-pane .container {
    max-width: none; // this is inconsistent from styleguide's InfoPane, but the mockups want it
    .entry-main {
      border: none;
    }
  }
  .info-pane.result-card {
    border-right: none;
  }
  .entry-content {
    display: flex;

    .entry-main {
      flex-grow: 5;
    }

    .entry-meta {
      flex-grow: 3;
    }
  }
}

// This is copied from DSLP - styleguidify...somehow?
.container .landing-page-section .section-content {
  background: $white;
  border: 1px $light-grey-4 solid;
  border-bottom-width: 2px;
  display: flex;
  align-items: flex-start;
}

// TODO: Move below into styleguide!
.modal-footer {
  min-height: 67px;
}

.modal-content {
  .modal-full & {
    max-height: 100vh;
    height: calc(100vh - 119px);
    margin: 0;
  }
}
// TODO: Move above into styleguide!

.dataset-management-ui {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .modal {
    z-index: 10000; // Site-chrome uses 9999 for its header.
  }

  .edit-bar {
    position: static;
    width: 100%;
    z-index: auto;
    span.page-name {
      width: 100%;
    }

    div.primer-preview {
      width: 100%;
      text-align: right;
      margin-right: 3em;
      a {
        color: white;
        text-decoration: none;
      }
      span.socrata-icon-preview {
        margin-left: 0.5em;
      }
    }
  }

  .modal-header-title {
    .socrata-icon-arrow-right {
      color: $dark-grey-1;
      margin: 0 0.4em;
    }

    ol {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
    }

    li.active {
      color: $dark-grey-1;

      a, a:visited, a:hover, a:active {
        color: $dark-grey-1;
      }
    }

    li {
      display: inline-block;
      color: $light-grey-2;
      font-weight: 600;
      font-size: 13pt;

      a, a:visited, a:hover, a:active {
        color: $light-grey-2;
        font-weight: 600;
      }

      a, a:visited {
        text-decoration: none;
      }

      a:hover, a:active {
        text-decoration: underline;
      }

    }
  }

  .management-ui-section {
    padding-top: 1em;

    .manage-section-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .header-btn-wrapper {
    float: right;
    margin-top: 7px;
  }

  .schema-preview {
    h2 {
      float: left;
    }

    .section-content {
      clear: both;
    }
  }

  .table-preview {
    h2 {
      float: left;
    }

    .result-card {
      clear: both;
    }

    #file {
      display: none;
    }

    .table-contents {
      // this is a nice round number...
      // because the table height needs to be divisible by
      // the number of rows...plus...some
      height: 543px;

      clear: both;
      border: none;
      background: transparent;

      .socrata-visualization {
        border: none;
      }

      table {
        background-color: $white; // why do i have to do this?
      }

      .socrata-table {
        border: 1px solid $light-grey-4;
        width: calc(100% - 2px); // Compensate for table border.
      }

      .socrata-pager {
        border: 1px solid $light-grey-4;
      }
    }

    .entry-header {
      height: 3em;
      background-color: $light-grey-5;
    }

    .table-info {
      text-align: center;
      padding: 4em 0em;
      margin: 0px auto;
      max-width: 64em;
      height: 543px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .entry-main.data-table {
        max-width: 270px;
        display: flex;
        justify-content: center;
      }

      p {
        color: $dark-grey-1;
      }

      h3 {
        font-style: italic;
        color: $dark-grey-1;
      }

      &.no-data-yet {
        .supported-file-types {
          padding-top: 15px;
        }
      }

      button.email-interest-btn {
        width: 250px;
        height: 50px;

        span.email-success-check {
          margin-right: 0.5em;
        }

        span.email-interest-spinner {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    p, button.no-data-yet-btn {
      margin: 0em 0em 1em 0em;
    }
  }

  #home-pane {
    h2 {
      font-weight: 500;
      padding: 11px 0;
    }

    flex-grow: 1;

    margin: 0;
    display: flex;
    background-color: $light-grey-7;

    .home-content {
      overflow: auto;
      flex: 1;

      #metadata-section {
        .metadata-table-wrapper {
          // TODO: do we want to refactor the shared
          // MetadataTable
          .landing-page-section {
            padding: 0;
          }
        }
      }
    }

    #home-pane-sidebar {
      width: 24em;
      border-left: 1px solid $light-grey-4;
      text-align: center;

      #home-pane-sidebar-data {
        h3 {
          font-size: 17px;
        }

        p.sidebar-blurb {
          font-style: italic;
          font-size: 14px;
          color: $grey;
          margin-top: 0;
          margin-bottom: 1.5em;
        }

        div {
          background: $white;
          border: 1px solid $light-grey-3;
          margin: 0 2rem 2rem;
          padding-top: 1rem;
          padding-bottom: 2rem;

          .icon {
            font-size: 200%;
            color: $primary-dark;
          }

          .finished {
            // TODO: figure out how to signal "doneness" most effectively to the user.
            display: none;
          }

          button {
            min-width: 150px;
          }
        }

        p {
          margin: 10px 13px 13px;
          color: $dark-grey-1;
        }
      }

      .sidebar-chooser {
        margin: 1em 0em 1em 0em;
        border-bottom: 1px solid $light-grey-4;
        .chooser-btn {
          background-color: $light-grey-7;
          text-transform: uppercase;
          padding: 0.25em 0em;
          margin: 0em 2em;
        }
        .chooser-btn.enabled {
          border-bottom: 3px solid $alternate-2-base;

        }
        .chooser-btn.disabled {

        }
      }

      .activity-feed {

        .activity:not(:last-child) {
          div.timeline:after {
            display: block;
            border-right: 2px solid $light-grey-3;
            content: '';
            height: calc(100% - 10px);
            position: relative;
            left: -16px;
          }
        }

        .activity {
          text-align: left;
          padding: 0.5em 1em;
          display: flex;

          div.timeline {
            width: 1.5em;
          }

          div.timeline:last:after {
            display: none;
          }

          i {
            margin-right: 0.25em;
            font-size: 85%;
          }
          p {
            margin: 0em;
            font-weight: 600;
          }

          .created-by {
            font-weight: bold;
            color: $primary-base;
          }
        }
      }
    }
  }

  .management-ui-section, .metadata-table-wrapper, section {
    padding: 1em;
  }
  .management-ui-section {
    .manage-section-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }


  .err-info {
    color: $white;
    border-radius: 1.1em;
    padding: 0 0.5em 1px;
    margin-right: 0.5em;
  }

  .modal-footer {
    button {
      min-width: 120px;
      margin-left: 12px;
    }
  }

  #manage-metadata {
    .fieldset {
      border: 0;
      padding-top: 0;
      margin-bottom: 1em;
      max-width: 700px;
    }

    .socrata-icon-private {
      margin-left: 0.2em;
    }

    section.modal-content {
      margin: 0;
      padding: 0;
    }

    textarea {
      display: block;
      resize: vertical;
    }

    .half-size {
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }

    #tab-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 23px;
      margin-top: 0.5em;
    }

    #tab-subtitle {
      display: block;
      font-size: 13px;
      color: $grey;
      padding-bottom: 1em;
    }

    #required-note {
      float: right;
      text-transform: uppercase;
      font-size: 10px;
      color: $dark-grey-1;
      position: relative;

      @media (max-width: 750px) {
        position: static;
      }

      &::before {
        content: "*";
        color: $alternate-1-base;
        padding: 0.25em;
        font-size: 14px;
      }
    }

    .required {
      &::after {
        content: "*";
        color: $alternate-1-base;
        padding: 0.25em;
        font-size: 14px;
      }
    }

    .modal-content {
      overflow-y: scroll;

      div {
        height: 100%;
      }
    }

    #metadata-sidebar {
      display: block;
      float: left;
      padding-left: 0;
      margin: 4px 0 0;
      position: fixed;

      @media (max-width: 750px) {
        position: static;
        width: 100%;
      }

      li {
        list-style: none;
        display: block;

        height: 48px;
        width: 250px;

        @media (max-width: 750px) {
          width: 100%;
        }

        padding: 13px 0 0 13px;
        font-size: 13px;
        background: $white;

        border-left: 7px solid $white;
        border-bottom: 1px solid $light-grey-4;
      }

      li.selected {
        padding-left: 12px;
        font-weight: 600;
        border-left-color: $primary-base;
        background: $light-grey-5;
      }

      a, a:visited, a:hover {
        text-decoration: none;
        color: $black;
      }
    }

    #metadata-content {
      padding: 1.3em 1.3em 3.5em;
      float: right;
      width: calc(100% - 250px);
      min-width: 250px;

      min-height: 100%;
      height: auto;
      border-left: 1px solid $light-grey-4;

      @media (max-width: 750px) {
        border-left-style: none;
        width: 100%;
      }

      #dataset-metadata-editor {
        input {
          width: 100%;
          min-width: 250px;
          max-width: 700px;

          @media (max-width: 1000px) {
            width: 100%;
          }
        }

        .select {
          -webkit-appearance: none;
          appearance: none;
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDI0IiBoZWlnaHQ9IjEwMjQiIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiPjx0aXRsZT4gIGFycm93LWRvd248L3RpdGxlPjxkZXNjPiAgQ3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+PGcgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2Utd2lkdGg6MTtzdHJva2U6bm9uZSI+PGcgZmlsbD0iIzVlNWU1ZSI+PHBvbHlnb24gcG9pbnRzPSI5NzIgMzEwLjUgOTE0LjUgMjUzIDUxMiA2NTUuNSAxMDkuNSAyNTMgNTIgMzEwLjUgNTEyIDc3MC41Ii8+PC9nPjwvZz48L3N2Zz4=);
          background-size: 15px 15px;
          background-repeat: no-repeat;
          background-position: 96% 60%;
          line-height: 1.25;
          padding: 11px 15px;
          width: 90%;
          border-radius: 0;
          border: 1px solid #c8c8c8;
          padding-right: 2.3em;
        }


        select:-ms-expand {
            display: none; /* remove default arrow in IE 10 and 11 */
        }

        .text-area {
          width: 100%;
          min-width: 250px;
          max-width: 700px;

          min-height: 6em;
          height: auto;
          resize: vertical;

          p {
            margin-bottom: 0;
          }
        }

        .tag-input-container {
          display: flex;
          width: 100%;

          input[type=text] {
            flex: 1;
            margin: 0;
            padding-left: 1em;
            border: 1px solid #c8c8c8;
            border-right-width: 0px;
          }

          button {
            min-width: 90px;
          }
        }

        .cf:before,
        .cf:after {
            content: " ";
            display: table;
        }

        .cf:after {
            clear: both;
        }

        .tag {
          background-color: $light-grey-4;
          color: $dark-grey-3;
          font-size: 12px;
          display: inline-block;
          margin-right: 0.5em;
          padding: 0.2em 1em;
          min-width: 80px;
          text-align: center;
          cursor: pointer;
          border-radius: 2px;

          .socrata-icon-close-2 {
            float: right;
            margin-left: 0.3em;

            &:before {
              font-size: 10px;
            }
          }
        }

        .tag-list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          margin-top: 0.5em;
        }
      }

      #column-metadata-editor {
        #metadata-header {
          @media (max-width: 1100px) {
            display: none;
          }
        }

        .column-name, .column-field-name {
          width: 250px;
          float: left;

          label {
            display: none;
          }

          @media (max-width: 750px) {
            width: 100%;
            max-width: none;
          }
        }

        .column-description {
          margin: 0 1em;
          width: calc(100% - 500px - 2em);
          min-width: 250px;
          max-width: 700px;
          float: left;

          label {
            display: none;
          }
        }

        @media (max-width: 1100px) {
          .column-name, .column-field-name, .column-description {
            width: 100%;
            max-width: 500px;
            float: left;
            clear: left;
            margin: 0;

            label {
              display: inline;
            }
          }
        }

        .metadata-row {
          clear: both;

          margin-bottom: 27px;

          &::after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
          }
        }

        input, .text-area {
          width: 100%;
          font-size: 12px;
          line-height: 20px;
          padding: 5px 10px;
          margin-bottom: 0px;
          min-height: 32px;
        }

        textarea {
          overflow-x: hidden;
        }
      }
    }
  }

  #show-output-schema {
    .modal-footer-actions {
      display: flex;
      justify-content: space-between;
      .output-schema-actions {
        button {
          margin: 0px 0px 0px 1em;
        }
      }
      .ready-to-import {
        p {
          display: inline-block;
          padding-right: 2em;
          margin: 0.5em 0px;

          span.importable-rows {
            color: $primary-text;
            font-weight: 600;
          }
          span.error-rows {
            color: $error-text;
            font-weight: 600;
          }

        }

        .errors-help {
          padding-left: 7px;
          color: $light-grey-1;
          font-size: 17px;
        }
      }
    }

    section.modal-content {
      padding: 0;
    }

    .spinner-default {
      border-width: 2px;
      height: 13px;
      width: 13px;
      font-size: 9px;
      margin: 0 10px -2px 2px;
      border-right-color: $light-grey-3;
    }

    .column-progress-bar {
      height: 2px;
      width: 100%;
      background-color: $light-grey-3;

      .progress-bar {
        background-color: $primary-base;
      }

      &.column-progress-bar-done {
        .progress-bar {
          background-color: $light-grey-3;
          transition: background-color 1s;
        }
      }
    }

    .column-progress-bar-spacer {
      height: 2px;
    }

    .data-preview {
      height: 44px;
      padding: 0.5em 0.7em 0 0.7em;
      display: flex;
      justify-content: space-between;

      .dataset-attribute {
        display: inline-block;
        text-align: right;
        margin: 0px 0px 0px 1em;
        p {
          margin: 0px 0px;
          line-height: 120%;
        }
        p.attribute {
          color: $primary-dark;
          font-weight: 600;
        }
      }
    }

  }

  #show-upload {
    section.modal-content {
      height: 100%;

      .centered-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .table-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: calc(100vh - 163px);

    table.table {
      overflow: visible;
      display: inline-block;
      table-layout: fixed;
      min-width: auto;
      white-space: nowrap;
      height: 100%;
      border-left: 1px solid $light-grey-4;
      margin: 0;

      tr {
        display: block;
        position: relative;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: $light-grey-4;
      }

      thead {
        display: block;
        border-top: 1px solid $light-grey-4;
        border-bottom: 2px solid $light-grey-4;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 100;

        tr {
          border-top-width: 0;
          border-bottom-width: 0;

          th.column-header {
            a {
              text-decoration: none;
            }

            .socrata-icon-edit {
              padding-left: 5px;
              display: none;
            }
          }

          th.column-header:hover {
            .socrata-icon-edit {
              display: inline;
            }
          }

          &.column-statuses {
            th {
              padding: 0;
              background-color: $white;

              a {
                display: inline-block;
                width: 90%;
              }

              div.column-status-text {
                padding: 5px 5px;

                z-index: 100;
              }
            }
          }

          &.row-errors-count {
            border-top: 2px solid $light-grey-4;

            .malformed-rows-status-text {
              max-width: 300px;
            }

            th {
              font-size: 10px;
              background-color: $white;
              font-weight: normal;
              display: block;
              width: 100%;

              a {
                color: $grey;
                text-decoration: none;
                display: block;
              }

              &.row-errors-count-selected {
                box-shadow: inset 0 0 10px -2px $black;
              }
            }
          }
        }

        .col-name {
          margin: 0 0 -17px;
          color: $dark-grey-3;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          width: auto;
        }

        select {
          width: 92%;
          margin-left: 5px;
          font-size: 12px;
          height: 23px;
          font-weight: normal;
          color: $dark-grey-2;
        }

        .col-processed {
          font-weight: normal;
          font-size: 7pt;
        }

        .col-errors {
          font-weight: normal;
          font-size: 10px;
          color: $grey;

          &.col-errors-selected {
            box-shadow: inset 0 0 10px -2px $black;
          }

          a {
            color: $grey;
            text-decoration: none;
          }
        }

        .transform-status-flyout, .malformed-rows-flyout {
          font-size: 13px;
          line-height: 20px;
          white-space: normal;
          color: $dark-grey-2;
          max-width: 190px;
          z-index: 10; // lol idk

          .flyout-content {
            padding: 0.9rem;
          }

          .click-to-view {
            font-size: 10px;
            color: $grey;
          }

          .type-icon {
            padding-left: 4px;
            font-size: 15px;
            vertical-align: text-top;
          }
        }
      }

      tbody {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 88px);
        border-bottom: 1px solid $light-grey-4;

        tr {
          height: 29px;
          overflow: visible;

          &.preview-row-transition-leave {
            &.preview-row-transition-leave-active {
              height: 0;
              border: 0;
              transition: height 250ms, border 250ms;

              td {
                border: 0;

                div {
                  border: 0;
                }
              }
            }
          }

          &.preview-row-transition-enter {
            height: 0px;
            &.preview-row-transition-enter-active {
              height: 29px;
              transition: height 1s;
            }
          }
        }

        tr.malformed-row {
          td {
            display: block;
            width: 100%;
            background-color: $error-light;
            color: $error-text;
            padding: 5px 7px 4px;

            .malformed-row-tag {
              color: $white;
              border-radius: 0.7em;
              padding: 0 0.7em 0;
              font-size: 7px;
              vertical-align: middle;
            }

            .malformed-row-location {
              padding-left: 5px;
            }

            .malformed-row-error {
              padding-left: 20px;
            }

            .malformed-row-contents {
              color: darken(#767676, 10%);
              padding-left: 20px;
              font-size: 10px;
            }

            .row-error-number {
              font-weight: bold;
            }

            .row-content-label {
              font-weight: bold;
            }
          }
        }

        tr {
          &:first-child {
            border-top-width: 1px;
            margin-top: -1px;
          }

          &:last-child {
            td, div {
              border-bottom-width: 0;
            }
          }
        }
      }

      th:not(.row-errors-count), td {
        min-height: 29px;
        display: inline-block;
        width: 250px;
        border-style: solid;
        border-color: $light-grey-4;
        white-space: nowrap;
      }

      th {
        padding: 5px;
        border-width: 0 1px 0 0;
      }

      td {
        font-size: 12px;
        vertical-align: top;
        overflow: visible;
        padding: 0;
        border-width: 0 1px 1px 0;

        &:last-child {
          div {
            &:hover {
              width: auto;
            }
          }
        }

        &.error {
          div {
            background-color: $error-light;
            color: $error-text;
          }
        }

        &.not-yet-loaded {
          background-color: lightgrey;
        }

        div {
          width: 250px;
          min-height: 29px;
          padding: 5px 7px 4px;
          display: block;
          position: relative;

          overflow: hidden;
          text-overflow: ellipsis;

          background-color: $white;
          border-style: solid;
          border-color: $light-grey-4;
          border-width: 0 1px 1px 0;

          &:hover {
            min-width: 250px;
            max-width: 350px;
            /* This uses max-content which is in working draft,
               if this doesn't get approved the cells will only
               expand vertically which isn't the end of the world. */
            width: auto; // For IE.
            width: -moz-max-content; // For Firefox.
            width: -webkit-max-content; // For Safari.
            width: max-content; // For Chrome.

            height: auto;
            white-space: normal;

            z-index: 99;
          }
        }
      }
    }
  }
}

.type-icon-date {
  color: #B26B00;
}
.type-icon-text {
  color: #204490;
}
.type-icon-number {
  color: #0098C8;
}
.type-icon-boolean {
  color: #894BAA;
}
.type-icon-fixed_timestamp {
  color: #B26B00;
}
.type-icon-floating_timestamp {
  color: #B26B00;
}
.type-icon-location {
  color: #006A01;
}
.type-icon-point {
  color: #006A01;
}

#no-match {
  text-align: center;
}

.metadata-validation-error {
  color: $error-text;
  padding-left: 10px;
}

#initial-spinner-container {
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em;
}

// TODO: move to styleguide (EN-13158)
.progress-container {
  height: 100%;
  width: 100%;
}

.progress-bar {
  height: 100%;
  transition: width 1s;
}

#dsmui-notifications-list {
  position: fixed;
  top: 10px;
  right: 35px;
  z-index: 10001; // site header is 9999, modal is now 10000

  .dsmui-notification {
    padding: 6px 10px 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    background-color: white;
    font-size: 13px;
    border-top: 2px solid;
    color: $dark-grey-3;
    min-width: 330px;

    &.in-progress {
      border-top-color: $primary-base;

      .progress-bar {
        animation: slide 10s infinite linear forwards;
        $semi-transparent-white: rgba(255,255,255,.15);
        background: $primary-base linear-gradient(
          -45deg,
          $semi-transparent-white 25%,
          transparent 25%,
          transparent 50%,
          $semi-transparent-white 50%,
          $semi-transparent-white 75%,
          transparent 75%,
          transparent
        );
        background-size: 20px 20px;
      }

      @keyframes slide {
        0% { background-position: 0% 0; }
        100% { background-position: 100% 0; }
      }
    }

    &.successful {
      border-top-color: $success-base;

      .progress-bar {
        background-color: $success-base;
      }
    }

    &.error {
      border-top-color: $error-base;

      .progress-bar {
        background-color: $error-base;
      }

      .btn-container {
        display: flex;
        margin-top: 10px;

        .btn-primary {
          background-color: $primary-base;
        }
      }

      .btn-container > * {
        flex: 1 1 50%;
        text-align: center;
        padding: 5px 15px;
      }

      .btn-container button {
        margin-right: 10px;
      }

      .msg-container {
        margin-top: 1rem;
        max-width: 310px;
        text-align: center;
        color: $dark-grey-1;

        h6 {
          color: $dark-grey-2;
        }
      }

      .details-toggle {
        vertical-align: top;
        font-size: 11px;
      }

      .icon {
        color: $error-base;
        line-height: 1;
        font-size: 150%;
        margin-left: 10px;
        vertical-align: top;
      }

      .error-details {
        float: right;
      }
    }

    .message {
      font-weight: 600;
      padding-right: .5em;
      color: $dark-grey-2;
    }

    .sub-message {
      font-style: italic;
      max-width: 200px;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: top;
    }

    .percent-completed {
      float: right;
      color: $primary-dark;
      font-weight: bold;
    }

    .success-message {
      float: right;
      color: $success-text;
      font-weight: bold;
      padding-left: 5px;
    }

    .rows-complete-count {
      padding-top: 7px;
      font-size: 12px;
    }

    .upload-progress-bar {
      height: 8px;
      width: 100%;
      margin-top: 5px;

      .progress-container {
        background-color: $light-grey-4;
      }
    }
  }

  .dsmui-notification-transition-enter {
    transform: translate(400px);

    &.dsmui-notification-transition-enter-active {
      transform: translate(0);
      transition: transform 500ms;
    }
  }

  .dsmui-notification-transition-leave {
    transform: translate(0);

    &.dsmui-notification-transition-leave-active {
      transform: translate(400px);
      transition: transform 500ms;
    }
  }

  .dsmui-error-notification-transition-enter {
    max-height: 0;
    overflow: hidden;

    &.dsmui-error-notification-transition-enter-active {
      max-height: 350px;
      transition: max-height 500ms ease-in;
    }
  }

  .dsmui-error-notification-transition-leave {
    max-height: 350px;
    overflow: hidden;

    &.dsmui-error-notification-transition-leave-active {
      max-height: 0;
      transition: max-height 500ms ease-out;
    }
  }

}


// this is in new version of styleguide but we don't want to pull that in before the summit
// see https://github.com/socrata/frontend/pull/4156
.btn-default {
  &.btn-disabled-light {
    background-color: $light-grey-6;
    color: $light-grey-3;
    border-color: $light-grey-4;
  }
}
