@import "styleguide-colors";

.dataset-management-ui {
  .edit-bar {
    position: static;
  }

  .management-ui-section {
    padding-top: 1em;

    .manage-section-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .err-info {
    color: $white;
    border-radius: 1.1em;
    padding: 0 0.5em 1px;
    margin-right: 0.20em;
  }

  #show-output-schema {
    section.modal-content {
      padding: 0;
    }
  }

  #show-upsert-job {
    .modal-content {
      div {
        width: calc(100% - 40px);
        max-width: 700px;
        height: calc(100vh - 300px);
        max-height: 500px;

        padding: 2em;
        margin: 5em auto 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        background: $light-grey-5;
        border: 1px solid $light-grey-2;

        * {
          text-align: center;
          width: 100%;
        }

        p {
          margin: 0 0 5em;
        }
      }
    }

    .modal-footer {
      button#done {
        width: 8em;
      }
    }
  }

  table.table {
    overflow: visible;
    display: inline-block;
    table-layout: fixed;
    min-width: auto;
    white-space: nowrap;
    height: calc(100vh - 180px);
    margin: 20px;             // TODO: Remove once sidebar is added.

    tr {
      display: block;
      position: relative;
      border-width: 1px 0 0 1px;
      border-style: solid;
      border-color: $light-grey-4;
    }

    thead {
      height: 110px;
      display: block;
      border-top: 1px solid $light-grey-4;

      tr {
        border-top-width: 0;
        border-bottom-width: 0;

        select {
          width: 100%;
        }

        &:last-child {
          th {
            padding: 0;

            div {
              padding: 5px 5px;
              border-top: 1px solid $light-grey-3;
              border-bottom: 2px solid $light-grey-3;

              display: relative;
              z-index: 100;
            }
          }
        }
      }

      .col-name {
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        padding: 1px 0 3px 2px;
      }

      .col-type {
        font-weight: normal;
        font-style: italic;
      }

      .col-processed {
        font-weight: normal;
        font-size: 7pt;
      }

      .col-errors {
        font-weight: normal;
        font-size: 10px;
        color: $grey;
      }
    }

    tbody {
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      height: calc(100% - 110px);
      border-bottom: 1px solid $light-grey-4;

      tr {
        height: 29px;
        overflow: visible;
      }

      tr {
        &:first-child {
          border-top-width: 1px;
          margin-top: -1px;
        }

        &:last-child {
          td, div {
            border-bottom-width: 0;
          }
        }
      }
    }

    th, td {
      min-height: 29px;
      display: inline-block;
      width: 250px;
      border-style: solid;
      border-color: $light-grey-4;
      white-space: nowrap;
    }

    th {
      padding: 5px;
      border-width: 0 1px 0 0;
    }

    td {
      font-size: 12px;
      vertical-align: top;
      overflow: visible;
      padding: 0;
      border-width: 0 1px 1px 0;

      &:last-child {
        div {
          &:hover {
            width: auto;
          }
        }
      }

      div {
        width: 250px;
        min-height: 29px;
        padding: 5px 7px;
        display: block;
        position: relative;

        overflow: hidden;
        text-overflow: ellipsis;

        background-color: $white;
        border-style: solid;
        border-color: $light-grey-4;
        border-width: 0 1px 1px 0;

        &:hover {
          min-width: 250px;
          max-width: 350px;
          /* This uses max-content which is in working draft,
             if this doesn't get approved the cells will only
             expand vertically which isn't the end of the world. */
          width: auto; // For IE.
          width: -moz-max-content; // For Firefox.
          width: -webkit-max-content; // For Safari.
          width: max-content; // For Chrome.

          height: auto;
          white-space: normal;

          z-index: 99;
        }
      }
    }
  }


  .show-upsert-job {
    // TODO: text-align center (when we're no longer just dumping the <pre>)
    padding-left: 200px;
  }
}

#home-pane {
  max-width: 68em;
  margin: 0 auto;
  padding: 10px 20px 30px;
}

#no-match {
  text-align: center;
}

.metadata-validation-error {
  color: $error-text;
  padding-left: 10px;
}

#initial-spinner-container {
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em;
}
