<header class="header-main">
  <button data-panel-toggle="settings-panel" class="icon-stories-menu settings-panel-btn"></button>
  <button class="story-title" role="button" data-panel-toggle="settings-panel"><%= title %></button>
  <div class="menu-divider"></div>
  <div id="story-publication-status" class="status-indicator"><%= publication_status  %></div>
  <div id="story-saving-indicator" class="status-indicator"><%= save_status %></div>
  <div class="header-right">
    <ul class="menu">
      <li>
        <button class="btn-transparent undo-btn" disabled="disabled" title="undo">
          <span class="icon-undo"></span>
        </button>
      </li>
      <li>
        <button class="btn-transparent redo-btn" disabled="disabled" title="redo">
          <span class="icon-redo"></span>
        </button>
      </li>
      <li class="menu-divider"></li>
      <li>
        <button class="btn-transparent preview-btn">Preview <span class="icon-preview"></span></button>
      </li>
      <li>
        <button class="btn-transparent panel-btn content-panel-btn"><span class="icon-plus3"></span> Add Content</button>
      </li>
      <li>
        <button class="btn-transparent panel-btn style-panel-btn">Style &amp; Presentation</button>
      </li>
  </div>
</header>
