<div>
  <div id="dd" class="wrapper-dropdown">
    <span><%= title %></span>
    <ul class="dropdown">
      <% options.each do |option| %>
        <li><a href="#"><%= option %></a></li>
      <% end %>
    </ul>
  </div>
</div>
