<div id="generic-flannel" class="flannel flannel-hidden">
  <header class="flannel-header">
    <h1 class="flannel-header-title">Flannel Header</h1>
    <button class="btn btn-transparent flannel-header-dismiss" data-flannel-dismiss>
      <span class="icon-cross2"></span>
    </button>
  </header>
  <section class="flannel-content">
    <p>Cow alcatra beef ribs short loin, sausage landjaeger jerky sirloin rump turducken.</p>
  </section>
  <footer class="flannel-actions">
    <div class="btn-group">
      <button class="btn btn-default" data-flannel-dismiss>Cancel</button>
      <button class="btn btn-primary" data-flannel-dismiss>OK</button>
    </div>
  </footer>
</div>
