<section class="styleguide-section">
	<div class="meta">
		<h2 class="styleguide-header">Form Controls</h2>
		<p class="small">dropdowns and text fields and stuff</p>
	</div>
	<div class="example">
		
		<h3>Dropdowns</h3>
		<div>
			<div id="dd" class="wrapper-dropdown">
				<span>Gender</span>
			    <ul class="dropdown">
			        <li><a href="#">An option!</a></li>
			        <li><a href="#">Another option!!</a></li>
			        <li><a href="#">A really really really long option!!!</a></li>
			    </ul>
			</div>
		</div>

		<h3>Form Fields </h3>
		<form>
			<input class="text-input" type="text" placeholder="Example Text"/>
			<div>
				<textarea class="text-input area" type="text" placeholder="Example Paragraph"></textarea>
			</div>
		</form>
	</div><!-- /.example -->
	
</section>