<form>
<span class="input-group">
	<input class="text-input" type="text" placeholder="<%= placeholder_text %>"/>

	<span class="input-group-btn">
		<button class="btn btn-default"><span class="icon-search"></span></button>
	</span>

</span>
</form>