<div id="generic-modal" class="modal modal-overlay modal-hidden" data-modal-dismiss>
  <div class="modal-container">
    <header class="modal-header">
      <h1 class="modal-header-title">Hello, World!</h1>
      <button class="btn btn-transparent modal-header-dismiss" data-modal-dismiss>
        <span class="icon-cross2"></span>
      </button>
    </header>

    <section class="modal-content">
      <p>Bacon ipsum dolor amet filet mignon tenderloin capicola flank, tri-tip leberkas ball tip andouille chuck. Jowl shankle flank, pork strip steak pig turducken porchetta jerky pork loin hamburger rump. Capicola bacon short ribs tongue pastrami leberkas, prosciutto biltong beef pig cow. Chicken frankfurter jowl, ham hock fatback picanha flank chuck spare ribs ham drumstick.</p>
    </section>

    <footer class="modal-actions">
      <button class="btn btn-default" data-modal-dismiss>Cancel</button>
      <button class="btn btn-primary" data-modal-dismiss>OK</button>
    </footer>
  </div>
</div>
