<button class="btn-primary btn-block" data-modal="generic-modal">Open Modal</button>
<button class="btn-secondary btn-block" data-modal="generic-modal-2">Open Modal 2</button>

<div id="generic-modal" class="modal modal-overlay modal-hidden" data-modal-dismiss>
  <div class="modal-container">
    <header class="modal-header">
      <h1 class="modal-header-title">Hello, World!</h1>
      <button class="btn-transparent modal-header-dismiss" data-modal-dismiss>x</button>
    </header>

    <section class="modal-content">
      <p>Bacon ipsum dolor amet filet mignon tenderloin capicola flank, tri-tip leberkas ball tip andouille chuck. Jowl shankle flank, pork strip steak pig turducken porchetta jerky pork loin hamburger rump. Capicola bacon short ribs tongue pastrami leberkas, prosciutto biltong beef pig cow. Chicken frankfurter jowl, ham hock fatback picanha flank chuck spare ribs ham drumstick.</p>
    </section>

    <footer class="modal-actions">
      <button class="btn-default" data-modal-dismiss>Cancel</button>
      <button class="btn-primary" data-modal-dismiss>OK</button>
    </footer>
  </div>
</div>

<div id="generic-modal-2" class="modal modal-overlay modal-hidden" data-modal-dismiss>
  <div class="modal-container">
    <header class="modal-header">
      <h1 class="modal-header-title">Hello, World!</h1>
      <button class="btn-transparent modal-header-dismiss" data-modal-dismiss>x</button>

    </header>

    <section class="modal-content">
      <p>Tail tongue swine alcatra meatloaf meatball. Pork swine fatback cupim andouille shoulder sirloin turkey. Turducken cow prosciutto strip steak leberkas pastrami kevin salami biltong shankle ham alcatra doner. Picanha pork loin shankle pork belly corned beef meatloaf venison tongue. Ribeye pork cupim cow boudin bresaola pork loin. Spare ribs short ribs pork chop ham hock leberkas sirloin, bacon sausage beef corned beef jerky alcatra landjaeger ground round.</p>
    </section>

    <footer class="modal-actions">
      <button class="btn-error" data-modal-dismiss>Cancel</button>
      <button class="btn-success" data-modal-dismiss>Save</button>
    </footer>
  </div>
</div>
