<h6> <%= label %> </h6>
<div class="swatch-container">
  <div class="<%= color %> box"></div>
  <div class="subcontainer">
      <div class="<%= color %> small-box light"></div>
      <div class="<%= color %> small-box dark"></div>
  </div>
</div>