@import 'common/schema-preview';
@import 'common/row-details';
@import 'common/styleguide/partials/pager';
@import 'common/visualizations/views/styles/socrata-visualizations';

html {
  font-size: 16px;
}

#app {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: column;

  .modal-header {
    z-index: 1;
  }
}

#initial-spinner-container {
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em;
}

#app .dataset-management-ui {
  @import 'frontend/public/javascripts/datasetManagementUI/styles/style.global.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/Notification/Notification';
  @import 'frontend/public/javascripts/datasetManagementUI/components/UploadNotification/UploadNotification';
  @import 'frontend/public/javascripts/datasetManagementUI/components/TablePreview/_TablePreview';
  @import 'frontend/public/javascripts/datasetManagementUI/components/HomePaneSidebar/HomePaneSidebar';
  @import 'frontend/public/javascripts/datasetManagementUI/components/SourceSidebar/SourceSidebar';
  @import 'frontend/public/javascripts/datasetManagementUI/components/ManageMetadataSidebar/ManageMetadataSidebar';
  @import 'frontend/public/javascripts/datasetManagementUI/components/URLSource/URLSource';
  @import 'frontend/public/javascripts/datasetManagementUI/components/ColumnHeader/ColumnHeader';
  @import 'frontend/public/javascripts/datasetManagementUI/pages/ShowOutputSchema/_ShowOutputSchema';
  @import 'frontend/public/javascripts/datasetManagementUI/pages/ShowRevision/ShowRevision';
  @import 'frontend/public/javascripts/datasetManagementUI/pages/ShowSource/ShowSource.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/AddColForm/AddColForm.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/ApiCallButton/ApiCallButton.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/AppBar/AppBar.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/Attachment/Attachment.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/AttachmentsInput/AttachmentsInput.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/DatasetFieldset/DatasetFieldset.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/ErrorFlyout/ErrorFlyout.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/MapFlyout/MapFlyout.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/ColumnForm/ColumnForm.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/Fieldset/Fieldset.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/WithFlash/WithFlash.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/ManageMetadataModal/ManageMetadataModal.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/ManageMetadata/ManageMetadata.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/StatusIndicator/StatusIndicator.scss';
  @import 'frontend/public/javascripts/datasetManagementUI/components/TableBodyPlaceholder/TableBodyPlaceholder.scss';
  @import 'frontend/app/styles/leaflet.scss';
}
