@import "common/schema-preview";
@import "common/row-details";
@import "common/pager";

@import "common/visualizations/views/styles/socrata-visualizations";

// this is in the erb, so can't move to within react app
#initial-spinner-container {
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em;
}
