.authoring-controls {
  display: flex;
  flex-direction: row;
  height: 100%;

  > div {
    width: 38%;
  }

  .visualization-tab-panes {
    padding-right: 2%;

    h4 {
      margin-top: 1rem;
    }

    h5 {
      font-size: 14px;
      text-transform: uppercase;
      border-bottom: solid 1px #ebebeb;
      padding-bottom: 5px;
    }

    .block-label {
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }

    .text-input,
    textarea,
    input[type="range"] {
      width: 100%;
      max-width: 100%;
    }

    textarea {
      height: 150px;
    }

    .metadata-loading {
      display: inline-flex;

      .metadata-loading-spinner {
        margin: auto;
        margin-right: 10px;
      }
    }

    .dropdown-container {
      width: 100%;
    }

    .dataset-column-dropdown-option [class^="icon"] {
      margin-right: 5px;
    }

    .region-general-info {
      line-height: 1.2;
      z-index: 9999999;

      section {
        padding: 10px;
      }
    }

    .region-dropdown-container {
      .alert {
        *:last-child {
          margin-bottom: 0;
        }
      }
    }

    .region-processing-info {
      margin-bottom: 10px;
    }

    .region-dropdown-container {
      .icon-question {
        margin-left: 2px;
        cursor: pointer;
      }
    }

    .measure-dropdown-container {
      display: flex;

      &.measure-dropdown-container-count-rows {
        .dropdown-container {
          width: 100%;
        }
      }

      .dropdown-container {
        width: 75%;
      }

      .dropdown-container + .dropdown-container {
        width: 25%;

        .dropdown-placeholder {
          border-left: none;
        }

        .dropdown-options-list {
          left: -1px;
        }
      }
    }
  }

  .authoring-preview-container {
    width: 60%;
    padding-left: 2%;
    border-left: solid 1px #f2f2f2;
  }

  .visualization-preview-container {
    position: relative;

    .visualization-toggler {
      margin-bottom: 0.25rem;
    }

    .visualization-preview {
      background-color: #f2f2f2;
      width: 100%;
      height: 490px;
    }

    .visualization-preview-map-saving,
    .visualization-preview-map-message {
      display: inline-flex;
      position: absolute;
      line-height: normal;
      opacity: 0.9;
      z-index: 100;

      .visualization-preview-map-text,
      .visualization-preview-map-icon,
      .visualization-preview-map-saving-text,
      .visualization-preview-map-saving-icon {
        margin: auto;
      }

      .visualization-preview-map-icon,
      .visualization-preview-map-saving-icon {
        margin: auto;
        margin-top: 0;
        margin-right: 5px;
      }
    }

    .visualization-preview-map-saving {
      bottom: 52px;
      right: 5px;
      margin-left: 5px;
    }

    .visualization-preview-map-message {
      bottom: 5px;
      right: 5px;
      margin-left: 5px;
    }
  }

  .x-axis-scaling-mode-container {
    margin-top: 1rem;
  }

  .customization-tab-pane_hidden {
    display: none;
  }
}
