.authoring-modal {
  .modal-header {
    z-index: 60;
  }

  .modal-footer-actions {
    display: flex;
  }

  .authoring-modal-content {
    margin-bottom: 44px;
    padding: 20px 0;

    .nav-tabs {
      margin-bottom: 0;
      padding-left: 2%;
    }
  }

  .authoring-modal-footer {
    padding: 5px;
  }
}

.authoring-back-button {
  margin: auto;
  margin-left: 0;

  background: transparent;
  border: solid 1px transparent;
  color: #2279a6;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.15s, border 0.15s, color 0.15s;

  &:hover {
    background: transparent;
    border: solid 1px #d4d4d4;
    border-radius: 2px;
  }

  &:active {
    background: #ddd;
    outline: 0;
  }

  &:disabled {
    color: #777;
    cursor: not-allowed;
    border: solid 1px transparent;
  }

  [class*="icon"] {
    font-size: 12px;
    vertical-align: top;
    margin-right: 8px;
  }
}

.authoring-controls {
  display: flex;
  flex-direction: row;
  height: 100%;

  > div {
    width: 38%;
  }

  .visualization-tab-panes {
    padding: 16px 2%;

    h4 {
      margin-top: 1rem;
    }

    h5 {
      font-size: 14px;
      text-transform: uppercase;
      border-bottom: solid 1px #ebebeb;
      padding-bottom: 5px;
    }

    form {
      > div {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .block-label {
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 600;
    }

    .text-input,
    textarea,
    input[type="range"] {
      width: 100%;
      max-width: 100%;
    }

    textarea {
      height: 150px;
    }

    .authoring-field-group {
      margin: 30px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .authoring-empty-pane {
      .icon-info {
        margin-right: 8px;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }

    .authoring-field {
      margin: 12px 0;
    }

    .authoring-field-description {
      margin: 0;
      margin-top: 10px;
      line-height: 1.2;
      font-style: italic;
    }

    .metadata-loading {
      display: inline-flex;

      .metadata-loading-spinner {
        margin: auto;
        margin-right: 10px;
      }
    }

    .color-picker {
      width: 263px;
      z-index: auto;

      .color-45 {
        width: 220px;

        .color-bucket:nth-child(9n) {
          margin-right: 0;
        }
      }
    }

    .dropdown-container {
      width: 100%;
    }

    .dataset-column-dropdown-option [class^="icon"] {
      margin-right: 5px;
    }

    .region-general-info {
      line-height: 1.2;
      z-index: 9999999;

      section {
        padding: 10px;
      }
    }

    .visualization-type-container {
      .btn {
        position: relative;
        z-index: 51;

        &.btn-disabled {
          border-color: transparent;
        }

        &.active {
          border-color: #1da751;
          z-index: 52;
        }

        &.recommended:after {
          content: "";
          position: absolute;
          top: 3px;
          right: 3px;
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #1da751;
        }
      }
    }

    .region-dropdown-container {
      .alert {
        *:last-child {
          margin-bottom: 0;
        }
      }
    }

    .region-processing-info {
      margin-bottom: 10px;
    }

    .region-processing-info-last-checked {
      display: flex;

      > span {
        margin: auto 0;
      }

      > span:last-child {
        margin-left: 8px;
      }
    }

    .region-dropdown-container {
      .icon-question {
        margin-left: 2px;
        cursor: pointer;
      }
    }

    .measure-dropdown-container {
      display: flex;

      &.measure-dropdown-container-count-rows {
        .dropdown-container {
          width: 100%;
        }
      }

      .dropdown-container {
        width: 75%;
      }

      .dropdown-container + .dropdown-container {
        width: 25%;

        .dropdown-placeholder {
          border-left: none;
        }

        .dropdown-options-list {
          left: -1px;
        }
      }
    }
  }

  .measure-empty-flyout {
    z-index: 51;
  }

  .authoring-preview-container {
    width: 62%;
    padding: 16px 2%;
    border-left: solid 1px #f2f2f2;
  }

  .visualization-preview-container {
    position: relative;

    .visualization-preview {
      background-color: #f2f2f2;
      width: 100%;
      height: 490px;

      &.visualization-preview-rendered {
        background-color: transparent;
      }
    }

    .visualization-preview-map-info-container {
      position: absolute;
      bottom: 5px;
      right: 0;
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      z-index: 100;
    }

    .visualization-preview-map-saving,
    .visualization-preview-map-message {
      display: inline-flex;
      line-height: normal;
      opacity: 0.9;

      .visualization-preview-map-text,
      .visualization-preview-map-icon,
      .visualization-preview-map-saving-text,
      .visualization-preview-map-saving-icon {
        margin: auto;
      }

      .visualization-preview-map-icon,
      .visualization-preview-map-saving-icon {
        margin: auto;
        margin-top: 0;
        margin-right: 5px;
      }
    }

    .visualization-preview-map-saving {
      width: 250px;
      margin: auto;
      margin-right: 5px;
    }

    .visualization-preview-map-message {
      margin: auto;
      margin-top: 5px;
      margin-right: 5px;
    }
  }

  .x-axis-scaling-mode-container {
    margin-top: 1rem;
  }

  .customization-tab-pane_hidden {
    display: none;
  }
}

.authoring-based-on {
  text-align: right;
  margin-top: 8px;
}

.authoring-table-view-container {
  padding: 0 2%;
  border-top: 1px solid #f2f2f2;

  h6.authoring-table-view-title {
    padding: 12px 0;
    font-size: 18px;
    font-weight: 400;
  }

  .authoring-table-view {
    width: 100%;
    height: 640px;
  }
}

.visualization-type-flyout {
  &.recommended {
    width: 234px;
    max-width: none;
  }

  .flyout-header {
    display: flex;
    font-size: 14px;
    margin: 0;

    > div {
      margin: auto;
    }

    .visualization-type-title {
      margin-left: 0;
    }

    .visualization-type-recommended-label {
      margin-right: 0;
      font-size: 10px;
      display: inline-flex;
      text-transform: uppercase;
      font-weight: 400;
      color: #999;

      > * {
        margin: auto;
      }
    }

    .visualization-type-recommended-indicator {
      margin-right: 4px;
      width: 8px;
      height: 8px;
      display: inline-block;
      background: #1da751;
      border-radius: 50%;
    }
  }

  .visualization-type-info {
    text-align: left;
    font-size: 13px;
    margin-top: 8px;
  }
}
