#socrata-flyout {
  position: fixed;
  max-width: 25em;
  color: #8a8686;
  font-size: 14px;
  word-wrap: break-word;
  white-space: normal;
  visibility: hidden;
  background-color: #f1eeee;
  border: 1px solid #ccc;
  pointer-events: none;
  z-index: 9999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#socrata-flyout.visible {
  visibility: visible;
}

#socrata-flyout .socrata-flyout-content {
  padding: 0.25em 0.5em;
}

#socrata-flyout .socrata-flyout-content .socrata-flyout-title {
  font-weight: bold;
}

#socrata-flyout .socrata-flyout-content .socrata-flyout-table {
  width: 100%;
}

#socrata-flyout .socrata-flyout-content .socrata-flyout-table .socrata-flyout-row .socrata-flyout-cell:nth-child(2) {
  padding-left: 1.5em;
  text-align: right;
  white-space: nowrap;
}

#socrata-flyout .socrata-flyout-hint {
  position: absolute;
  height: 10px;
  width: 10px;
  border: 0;
  background-color: transparent;
}

#socrata-flyout .socrata-flyout-hint:after, #socrata-flyout .socrata-flyout-hint:before {
  position: absolute;
  width: 0;
  height: 0;
  content: ' ';
  border: solid transparent;
}

#socrata-flyout.southwest .socrata-flyout-hint {
  left: 0;
  bottom: -9px;
}

#socrata-flyout.southwest .socrata-flyout-hint:after {
  border-width: 10px 10px 0 0;
  border-color: #f1eeee transparent transparent transparent;
}

#socrata-flyout.southwest .socrata-flyout-hint:before {
  left: -1px;
  top: 1px;
  border-width: 11px 11px 0 0;
  border-color: #ccc transparent transparent transparent;
}

#socrata-flyout.southeast .socrata-flyout-hint {
  bottom: -9px;
}

#socrata-flyout.southeast .socrata-flyout-hint:after {
  border-width: 0 10px 10px 0;
  border-color: transparent #f1eeee transparent transparent;
}

#socrata-flyout.southeast .socrata-flyout-hint:before {
  top: 1px;
  border-width: 0 11px 11px 0;
  border-color: transparent #ccc transparent transparent;
}

#socrata-flyout.northwest .socrata-flyout-hint {
  left: 0;
  top: -11px;
}

#socrata-flyout.northwest .socrata-flyout-hint:after {
  right: 0;
  top: 2px;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #f1eeee;
}

#socrata-flyout.northwest .socrata-flyout-hint:before {
  left: -1px;
  border-width: 10px 0 0 12px;
  border-color: transparent transparent transparent #ccc;
}

#socrata-flyout.northeast .socrata-flyout-hint {
  top: -11px;
}

#socrata-flyout.northeast .socrata-flyout-hint:after {
  top: 2px;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #f1eeee transparent;
}

#socrata-flyout.northeast .socrata-flyout-hint:before {
  right: -1px;
  border-width: 0 0 11px 11px;
  border-color: transparent transparent #ccc transparent;
}
