$title-height: 44px;
$description-height: 26px;
$title-description-padding: 6px;
$info-height: 24px;
$busy-indicator-width-height: 24px;
$busy-indicator-container-color: rgba(0, 0, 0, 0.5);
$busy-indicator-primary-color: #ebebeb;
$busy-indicator-secondary-color: #999;
$visualization-border-color: #e4e4e4;
$visualization-container-border-color: #f6f6f6;
$axis-font-size: 14px;
$axis-offset: 21px;
$axis-padding: 42px;

.socrata-visualization {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.618;
  color: #5e5e5e;
  border: 1px solid $visualization-border-color;
  box-sizing: border-box;
  cursor: default;

  /**
   * Title and description
   */

  .socrata-visualization-title-container,
  .socrata-visualization-description-container {
    position: relative;
    display: none;
    padding: 0 14px;
    background-color: #fff;
    box-sizing: border-box;

    .socrata-visualization-title,
    .socrata-visualization-description {
      position: relative;
      display: inline-block;
      width: auto;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .socrata-visualization-title-container {
    height: $title-height;
    padding-top: 7px;

    .socrata-visualization-title {
      font-size: 20px;
      letter-spacing: -0.8px;
    }
  }

  .socrata-visualization-description-container {
    height: $description-height;

    .socrata-visualization-description {
      font-size: 13px;
      line-height: 17.3px;
      letter-spacing: -0.3px;
    }
  }

  .socrata-visualization-info {
    position: absolute;
    display: none;
    width: 100%;
    height: $info-height;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid $visualization-border-color;
    box-sizing: border-box;

    .socrata-visualization-view-source-data,
    .socrata-visualization-panning-notice {
      display: none;
      margin: auto;
    }

    .socrata-visualization-view-source-data {
      margin-left: 6px;

      .socrata-visualization-icon-external {
        margin-left: 6px;
      }
    }

    .socrata-visualization-panning-notice {
      margin-right: 6px;
      color: #ccc;
      font-size: 14px;
      font-style: oblique;
      font-weight: 200;
      line-height: $info-height;
      text-align: right;
    }
  }

  .socrata-visualization-error-container {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 4;

    .socrata-visualization-error-message {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      cursor: text;

      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .socrata-visualization-busy-indicator-container {
    position: absolute;
    display: none;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    padding: 21px 20px 19px 20px;
    background-color: $busy-indicator-container-color;
    transform: translate(-50%, -50%);
    z-index: 5;

    .socrata-visualization-busy-indicator {
      @keyframes(spin) {
        100% {
          transform: rotate(360deg);
        }
      }

      display: inline-block;
      width: $busy-indicator-width-height;
      height: $busy-indicator-width-height;
      border: 3px solid $busy-indicator-primary-color;
      border-right-color: $busy-indicator-secondary-color;
      border-radius: 50%;
      animation: spin 0.9s linear infinite;
    }
  }

  &.socrata-visualization-title {

    .socrata-visualization-title-container {
      display: block;
      padding-bottom: $title-description-padding;
      border-bottom: 1px solid $visualization-border-color;
    }

    .socrata-visualization-container {
      height: calc(100% - #{$title-height});
      border-top: 1px solid $visualization-container-border-color;
    }
  }

  &.socrata-visualization-description {

    .socrata-visualization-title-container {
      padding-bottom: 0;
    }

    .socrata-visualization-description-container {
      display: block;
      padding-top: $title-description-padding;
      padding-bottom: $title-description-padding;
      border-bottom: 1px solid $visualization-border-color;
    }

    .socrata-visualization-container {
      height: calc(100% - #{$description-height});
      border-top: 1px solid $visualization-container-border-color;
    }
  }

  &.socrata-visualization-title.description {

    .socrata-visualization-title-container {
      border-bottom: none;
    }

    .socrata-visualization-description-container {
      padding-top: 0;
      border-bottom: 1px solid $visualization-border-color;
    }

    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height});
      border-top: 1px solid $visualization-container-border-color;
    }
  }

  &.socrata-visualization-info {

    .socrata-visualization-container {
      height: calc(100% - #{$info-height});
    }

    .socrata-visualization-info {
      display: flex;
    }

    &.socrata-visualization-panning-notice .socrata-visualization-panning-notice {
      display: block;
    }

    &.socrata-visualization-view-source-data .socrata-visualization-view-source-data {
      display: block;
    }
  }

  &.socrata-visualization-title.socrata-visualization-info {

    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$info-height});
      border-top: 1px solid $visualization-container-border-color;
    }
  }

  &.socrata-visualization-description.socrata-visualization-info {

    .socrata-visualization-container {
      height: calc(100% - #{$description-height} - #{$info-height});
      border-top: 1px solid $visualization-container-border-color;
    }
  }

  &.socrata-visualization-title.socrata-visualization-description.socrata-visualization-info {

    .socrata-visualization-container {
      height: calc(100% - #{$title-height} - #{$description-height} - #{$info-height});
      border-top: 1px solid $visualization-container-border-color;
    }
  }

  &.socrata-visualization-error {

    .socrata-visualization-error-container {
      display: block;

      ul {
        text-align: left;
      }
    }
  }

  &.socrata-visualization-busy {

    .socrata-visualization-busy-indicator-container {
      display: block;
    }
  }

  &.socrata-visualization-title,
  &.socrata-visualization-description {

    .socrata-visualization-container {
      border-top: 1px solid $visualization-container-border-color;
    }
  }

  /**
   * The container for the actual visualization
   */

  .socrata-visualization-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;

    /**
     * Axis titles
     */

    .socrata-visualization-top-axis-title,
    .socrata-visualization-right-axis-title,
    .socrata-visualization-bottom-axis-title,
    .socrata-visualization-left-axis-title {
      position: absolute;
      font-size: $axis-font-size;
      color: #767676;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      visibility: hidden;
    }

    .socrata-visualization-top-axis-title {
      left: 50%;
      top: $axis-font-size;
      transform-origin: left top 0;
      transform: translate(-50%, 0);
    }

    .socrata-visualization-right-axis-title {
      right: 2 * $axis-font-size;
      top: 50%;
      transform-origin: right top 0;
      transform: rotate(-90deg) translate(50%, 0);
    }

    .socrata-visualization-bottom-axis-title {
      left: 50%;
      bottom: $axis-font-size;
      transform-origin: left top 0;
      transform: translate(-50%, 0);
    }

    .socrata-visualization-left-axis-title {
      left: $axis-font-size;
      top: 50%;
      transform-origin: left top 0;
      transform: rotate(-90deg) translate(-50%, 0);
    }
  }

  &.socrata-visualization-top-axis-title {

    .socrata-visualization-container {
      padding-top: $axis-padding;

      .socrata-visualization-top-axis-title {
        visibility: visible;
      }
    }
  }

  &.socrata-visualization-right-axis-title {

    .socrata-visualization-container {
      padding-right: $axis-padding;

      .socrata-visualization-right-axis-title {
        visibility: visible;
      }
    }
  }

  &.socrata-visualization-bottom-axis-title {

    .socrata-visualization-container {
      padding-bottom: $axis-padding;

      .socrata-visualization-bottom-axis-title {
        visibility: visible;
      }
    }
  }

  &.socrata-visualization-left-axis-title {

    .socrata-visualization-container {
      padding-left: $axis-padding;

      .socrata-visualization-left-axis-title {
        visibility: visible;
      }
    }
  }
}
