.bundle/
log/*.log
.npm-debug.log
pkg/
public/socrata_site_chrome/stylesheets/styleguide
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
