<div class="adminNavBox">
  <ul class="adminNav">
    <li><a href='/internal'>Internal Panel Home</a></li>
    <li><a href='/internal/orgs'>Organizations</a></li>
    <li><a href='/internal/tiers'>Account Tiers</a></li>
    <li><a href='/internal/modules'>Account Modules</a></li>
  </ul>
</div>
