@import "../common.module";

.results-container {
  @include default-font;

  background-color: white;
  border: 2px solid tint($primary, 50%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

  position: absolute;
  z-index: 1000;

  width: 100%;

  display: flex;
  flex-direction: column;

  // add a margin for our "mobile layout"
  @media screen and (max-width: $break-large) {
    margin-left: 10px;
    width: calc(100% - 20px);
  }
}

.results-container-collapsible {
  @extend .results-container;

  box-sizing: content-box;
  width: 294px;
  left: -275px;
  top: 52px;
}

.result {
  @include default-font;

  background-color: white;
  color: $default-text-color;
  float: left;
  text-align: left;

  font-size: 15px;
  font-weight: 600;

  overflow: hidden;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;

  cursor: pointer;

  &:hover {
    background-color: $primary-light;
    color: $primary-text;
  }

  /*
   * Make this one ":global" since it comes in with the search result and we don't want
   * to auto-generate a CSS-modules name for it
   */
  & :global(.highlight) {
    font-weight: 400;
  }
}

.result-focused {
  @extend .result;

  background-color: $primary-light;
  color: $primary-text;
}
