@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

#add-col-form {
  width: 50%;
  display: inline-block;
  vertical-align: top;

  .dsmp-form fieldset > select {
    width: 100%;
  }

  .dsmp-form label {
    display: block;
  }

  .dsmp-error-message {
    color: $error-text;
    font-size: 0.8em;
    margin-bottom: 0.33em;
  }

  .dsmp-error-list {
    list-style-type: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 0;
    margin-bottom: 0.8em;
  }
}
