@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.form {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.form fieldset > select {
  width: 100%;
}

.form label {
  display: block;
}

.errorMessage {
  color: $error-text;
  font-size: 0.8em;
  margin-bottom: 0.33em;
}

.errorList {
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  margin-bottom: 0.8em;
}
