<% content_for :head do %>
  <title><%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag 'error-pages' %>
<% end %>

<div class="modalContentBox siteContent">
  <div class="contentHeader">
    <h1>Thank you for registering for an account</h1>
  </div>
  <div class="contentBoxInner clearfix unauthorized">
    <div class="icon errorIcon"></div>

    <p class="subheadline">You do not yet have access to the GovStat management portal.</p>
    <p class="body">Please contact your account manager to request that your
      account be elevated.</p>
    <p class="body">&nbsp;</p>
  </div>
</div>

