<% content_for :head do %>
  <%= rendered_stylesheet_tag 'screen-govstat-goals' %>
  <title>Edit Goals | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div class="configControl">
  <ul class="chooser">
    <li class="active">Draft Goals</li>
    <li>Active Goals</li>
  </ul>
  <a class="button saveAll" href="#save">Save</a>
</div>
<div class="config">
  <div class="configWrapper">
    <div class="draft">
      <a href="#newGoal" class="newGoal">Create a New Goal</a>
    </div>
    <div class="final">
      <a href="#newCategory" class="newCategory">Create a New Category</a>
    </div>
  </div>
</div>

<% content_for :js_footer do %>
  <%= include_javascripts 'screen-govstat-goals' %>
<% end %>

<%- content_for :new_modals do -%>
  <div class="socrataDialog" id="selectDataset">
    <h2>Choose a Dataset</h2>
    <a href="#close" class="jqmClose">Close</a>
    <p>We've by default filtered to datasets that might be relevant to this goal. To see all datasets, please feel free to clear the Goal facet on the left.</p>
    <iframe src="<%= url_for :controller => :browse, :action => :select_dataset %>?nofederate=true&amp;suppressed_facets[]=domain" frameBorder="0"></iframe>
  </div>
<%- end -%>
