@import 'app/styles/scss-common.scss';

.preview-bar {
  position: fixed;
  top: $site-appearance-admin-header-height;
  right: 0;
  left: 0;
  background: white;
  z-index: 4;
}

.preview-bar-header {
  color: #2279A6;
  padding: 15px 30px;
  border-bottom: 1px solid #176289;
  letter-spacing: -0.3px;
  background-color: #EAF4F9;

  .back-link {
    color: #2279a6;
    float: left;

    a {
      margin-left: 5px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .header {
    text-align: center;

    span {
      font-weight: 600;
    }

    .external-link {
      margin-left: 10px;
      margin-right: 18px;
      font-size: 11px;
    }
  }
}
