.component-container {
  overflow: hidden;
  border: 10px solid #A1A1A1;

  h5 {
    margin: 10px 0 0 10px;
  }

  .intro-text {
    &.shadow {
      -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
      margin-bottom: 24px;
    }
  }
}

.feature-map-locate-user-btn {
  top: 1em;
  left: 1em;
  right: initial;
  bottom: initial;
  border-radius: 2px;
  padding: 0;

  .feature-map-locate-user-icon,
  .feature-map-locate-user-error-icon {
    width: 25px;
    margin: 0 auto;
  }

  &[data-locate-user-status="success"] {
    .feature-map-locate-user-icon {
      display: block;
      fill: #037AFF;
    }
  }
}


#feature-map {
  display: block;
  position: relative;
  margin: 0 auto 10px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
