$font-family: "Open Sans";

h1.padding {
  margin-top: 50px;
  font-size: 2rem;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.btn-meta {
  cursor: pointer;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 0;
}
.intro .intro-short::after {
  content: "...";
}
.text-link-block {
  display: block;
  margin-left: 0;
}
.source-pill {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 0px;
  background-color: #D6D6D6;
  color: #636363;
  font-size: 11px;
  margin-left: 10px;
  margin-top: 5px;
  i {
    font-family: 'icomoon';
    background-color: #11A0CE;
    color: white;
    border-radius:50%;
    margin-right: 5px;
    padding: 3px;
    font-size: 0.8em;
  }
}

.meta-container {
  width: 100%;
  background-color: #727272;
  font-family: $font-family, sans-serif;
  color: white;
  p {
    color: white;
  }
}

.meta-title {
  font-size: 12px;
  font-weight: 600;
  font-family: $font-family, sans-serif;
  margin-top: 0;
  &.alpha {
    text-transform: uppercase;
    float: left;
  }
  &.beta {
    text-decoration: underline;
    float: right;
  }
}

.title-section {
  height: 35px;
  border-bottom: 1px solid #8C8C8C;
}

.meta-go-link {
  cursor: pointer;
  text-decoration: underline;
}

.meta-desc {
  padding-left: 30px;
}

.meta-desc::before {
  position: absolute;
  left: 10px;
  content: "i";
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
  color: #727272;
}
