//Styleguide Styles
@import "bourbon";
@import "components/grid";
@import "components/typography";
@import "components/colors";
@import "components/color-swatches";
@import "components/button-group";
@import "components/buttons";
@import "components/list";
@import "components/loader";
@import "components/forms";
@import "components/modal";
@import "components/tags";
@import "components/alerts";
@import "components/dividers";
@import "components/flyout";
@import "components/flannel";
@import "components/nav-bars";
@import "components/tables";
@import "components/menu";
@import "components/pagination";

// Icon Font
@import "fonts";

.container {
	@include outer-container();
  margin-top: 80px;

  > .menu {
    @include span-columns(4);
    margin-top: 60px;
    z-index: 999;
  }

  > .content {
    @include span-columns(12);
  }
}


// Guidehome 
.jumbotron {
  min-height: 400px;
  background-color: $primary-light;

  .container {
    margin-top: 30px;

    
    body.index & {
      padding: 80px 0;
    } 

    .page-header {
      font-size: ms(12);
    }

    p.intro {
      font-weight: 200;
      font-size: ms(4);
      color: $dark-grey-2;
    }

    .stu {
      margin-top: ms(22);
    }

  }

}

body > .responsive-navbar {
  @include transition(all 0.15s);

  background-color: $primary;

  &.responsive-navbar-collapsed {
    height: 40px;
    line-height: 36px;

    img {
      margin-top: 0;
    }

    span {
      opacity: 0;
    }
  }

  img {
    margin-top: -4px;
  }

  span {
    opacity: 1;
  }

  .btn {
    @include transition(width 0.15s);
  }
}

.responsive-navbar .home {
  text-decoration: none;
  color: $white;
}

.page-header {
  font-weight: 200;
}

section.styleguide-section {
	@include row();
	border-top: 1px solid lighten($quiet-text-color, 20%);
	padding-top: ms(2);
	margin-bottom: ms(2);
}

.meta {
	@include span-columns(3);
}

.example {
	@include span-columns(8);
	@include shift(1);

	.usage.language-markup {
		margin-bottom: ms(12);
	}
}


.dark-context {
	background-color: #4A4A4A;
	padding: ms(-3);
}
.medium-dark-context {
	background-color: $light-grey-bg;
	padding-top: ms(-3);
	padding-bottom: 200px;
	padding-left: ms(-3);
	padding-right: ms(-3)
}

.styleguide-title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
	font-weight: 300;

  img {
    width: 100px;
    vertical-align: sub;
    margin-right: 0.5rem;
  }
}

.styleguide-header {
	font-weight: 300;
	color: $quiet-text-color;
}

.styleguide-subheader {
  margin-top: 2rem;
  margin-bottom: 1rem;

  &:first-child {
    margin-top: 0;
  }
}

.modal-section {
  .button-wrapper {
    max-width: 250px;
  }

  .btn-secondary {
    margin-top: 1rem;
  }
}

.specimen,
.speciment-meta {
  display: block;
} 

.specimen {
  font-size: ms(3);

  &.italic {
      font-style: italic;
  }

  &.light {
    font-weight: 200;

  }

  &.semibold {
    font-weight: 600;
  }

  &.bold {
    font-weight: 700;
  }



}

.specimen-meta {
  font-size: ms(-1);
  margin-bottom: ms(2);
}

.usage {
	background-color: $almost-white-bg;
	border: 1px solid $light-grey-5;
	font-size: ms(-1);
	padding: ms(-2);
	border-radius: 1px;
	color: $grey;

}

// Sample Grids for Styleguide
.inline-container {
	@include outer-container();
}

.one {
	@include span-columns(1);
}

.third {
	@include span-columns(4);
}

.half {
	@include span-columns(6);
}

.two-thirds {
  @include span-columns(8);
}


.blockgrid {
  @include outer-container;
  padding: 0;

  li {
    @include span-columns(1);
    @include omega(8n);
    margin-bottom: ms(5);
    padding-left: 0;

    &.icon-sample {
      height: 40px;
      width: 40px;
      background-color: #eee;
      font-size: ms(3);
      text-align: center;
      padding-top: ms(-3);
    }
  }
}


