.alert {
  margin: 30px;

  &.hidden {
    display: none;
  }
}

.modal .alert {
  margin: 5px 0 10px;
}

.sc-check-indicator {
  display: inline;
  margin-left: 10px;

  .sc-check-indicator-revert { display: none; }

  .btn {
    border-color: #00BF9B;
    background-color: #E5F9F5;
    color: #00987c;

    padding: 4px 6px;
  }

  &:hover {
    .sc-check-indicator-check { display: none; }
    .sc-check-indicator-revert { display: inline; }

    .btn {
      border-color: #E48424;
      background-color: #FCF3EB;
      color: #9e5c23;
    }
  }
}

.modal-container {
  .externalLink {
    text-decoration: none;

    .icon-external {
      margin-left: 5px;
      display: none;
    }

    &:hover {
      text-decoration: underline;

      .icon-external {
        display: initial;
      }
    }
  }

  .modal-content {
    margin-left: auto;
    margin-right: auto;

    .Select-menu-outer {
      left: 0;
    }

    .visibility-select {
      width: 100px;
      display: inline-flex;
    }

    .goal-quick-edit-form {
      float: left;
      width: 600px;

      .form-line {
        margin-bottom: 15px;
      }

      label {
        display: inline-block;
        width: 175px;
        text-align: right;
        padding-right: 20px;
      }

      .text-input {
        width: 300px;
      }
    }

    .goal-quick-edit-details {
      float: left;
      width: 400px;
      margin-left: 50px;

      div {
        margin-bottom: 20px;
      }
    }
  }

  .modal-footer {
    position: relative;
    margin: -16px;
    margin-top: 30px;
    width: auto;

    .link-container {
      float: left;
      margin-top: 12px;
    }
  }
}

.modal-full {
  .modal-footer {
    position: fixed;
    width: 100%;
    margin: 0;
  }
}
