<h2>Add a card</h2>
<div class="row">
  <div class="span8">
    <div class="add-card-select-column">
      <soc-select class="column-selector" ng-model="addCardSelectedColumnFieldName">
        <soc-option
          value="null"
          disabled="disabled"
          ng-selected="addCardSelectedColumnFieldName === null">{{'addCardDialog.chooseColumn' | I18n}}</soc-option>

        <soc-option value="null" disabled="disabled" ng-if="datasetColumns.available.length > 0"></soc-option>

        <soc-option
          value="{{fieldName}}"
          title="{{'addCardDialog.addThisCard' | I18n}}"
          ng-repeat="fieldName in datasetColumns.available">{{columnHumanNameFn(fieldName)}}</soc-option>

        <soc-option value="null" disabled="disabled" ng-if="datasetColumns.alreadyOnPage.length > 0"></soc-option>

        <soc-option
          value="null"
          disabled="disabled"
          ng-if="datasetColumns.alreadyOnPage.length > 0"><b>{{'addCardDialog.cardOnPage' | I18n}}</b></soc-option>

        <soc-option
          value="{{fieldName}}"
          title="{{'addCardDialog.cardOnPageLong' | I18n}}"
          disabled="disabled"
          ng-repeat="fieldName in datasetColumns.alreadyOnPage">-{{columnHumanNameFn(fieldName)}}</soc-option>

        <soc-option value="null" disabled="disabled" ng-if="datasetColumns.visualizationUnsupported.length > 0"></soc-option>

        <soc-option
          value="null"
          disabled="disabled"
          ng-if="datasetColumns.visualizationUnsupported.length > 0">{{'addCardDialog.notSupported' | I18n}}</soc-option>

        <soc-option
          value="{{fieldName}}"
          title="{{'addCardDialog.notSupportedLong' | I18n}}"
          disabled="disabled"
          ng-repeat="fieldName in datasetColumns.visualizationUnsupported">-{{columnHumanNameFn(fieldName)}}</soc-option>

      </soc-select>
    </div>
    <div class="add-card-preview customize-card-preview">
      <span ng-if="addCardModel === null">{{'addCardDialog.prompt' | I18n}}</span>
      <div class="card-spot" ng-if="addCardModel !== null">
        <card model="addCardModel"
          interactive="false"
          card-draggable="false"
          class="card preview">
        </card>
        <div class="add-card-controls">
          <div class="card-control add-card-settings icon-settings"
            title="{{'addCardDialog.customizePrompt' | I18n}}"
            ng-if="isCustomizableMap"
            ng-click="onCustomizeCard(addCardModel)">
            {{'addCardDialog.settings' | I18n}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span4 customize-card-options">
    <visualization-type-selector card-model="addCardModel" ng-show="availableCardTypes.length > 1"></visualization-type-selector>
  </div>
</div>

<div class="add-card-buttons">
  <button type="button"
    class="action-btn dark r-to-l"
    ng-click="dialogState.show = false">{{'common.cancel' | I18n}}</button>
  <button type="button"
    class="action-btn dark r-to-l"
    ng-class="{disabled: addCardModel === null}"
    ng-click="addCard()">{{'addCardDialog.addCard' | I18n}}</button>
</div>
