<h2><span>+</span> Add a card</h2>

  <!-- Inner column selection and preview split into its own template for use elsewhere -->
  <column-and-visualization-selector
    on-customize-card="customizeCard"
    card-size="dialogState.cardSize"
    page="page">
  </column-and-visualization-selector>

<div class="controls">
  <button type="button"
    class="action-btn dark r-to-l"
    ng-class="{disabled: addCardModel === null}"
    ng-click="addCard()">{{::'addCardDialog.addCard' | I18n}}</button>
  <button type="button"
    class="action-btn dark r-to-l"
    ng-click="dialogState.show = false">{{::'common.cancel' | I18n}}</button>
</div>
