<div class="tool-panel" ng-hide="unitLabel.name == ''">
  <span class="information">{{'aggregationChooser.information' | I18n}} </span>
  <span
    class="aggregation-chooser-static-label"
    ng-hide="canAggregate">{{'aggregationChooser.numberOf' | I18n}} {{unitLabel.pluralCapitalized}}
  </span>
  <a
    class="aggregation-chooser-trigger"
    ng-show="canAggregate"
    ng-click="panelActive = !panelActive">{{('aggregationChooser.' + aggregationFunction.name + 'Of') | I18n}} {{activeAggregation.pluralCapitalized}}
  </a>
  <div ng-class="{ active: panelActive }" class="tool-panel-main">
    <div class="tool-panel-inner-container">
      <div class="tool-panel-hint"></div>
      <h3>{{'aggregationChooser.title' | I18n}}</h3>
      <p>{{'aggregationChooser.description' | I18n}}</p>

      <div class="row">
        <div class="span6 aggregation-functions" ng-class="{ active: aggregationFunction.type == 'count' }">
          <a
            tabindex="0"
            class="aggregation-option"
            data-aggregation-type="count"
            ng-class="{ active: (aggregationFunction.type == 'count') || countFunctionHover }"
            ng-click="setAggregationFunction($event, 'count')">
              <span class="label">{{'aggregationChooser.numberOf' | I18n}}</span>
              <span class="sublabel">{{'aggregationChooser.countLabel' | I18n:rowDisplayUnitLabel.plural}}</span>
          </a>
          <a
            tabindex="0"
            class="aggregation-option disconnected"
            data-aggregation-type="sum"
            ng-class="{ active: aggregationFunction.type == 'sum' || aggregateFunctionHover }"
            ng-click="setAggregationFunction($event, 'sum', aggregationFunction.type, aggregationColumns[0].id)">
              <span class="label">{{'aggregationChooser.theSumOf' | I18n}}</span>
              <span class="sublabel">{{'aggregationChooser.sumLabel' | I18n:unitLabel.name}}</span>
          </a>
        </div>
        <div class="span6 aggregation-columns" ng-class="aggregationFunction.type == 'count' ? 'count' : 'no-count'">
          <a
            tabindex="-1"
            class="aggregation-option count"
            data-aggregation-type="count"
            ng-class="{ disabled: aggregationFunction.type != 'count', active: (activeAggregation.name == rowDisplayUnitLabel.name) || countFunctionHover }"
            ng-click="setAggregationFunction($event, 'count')">{{rowDisplayUnitLabel.pluralCapitalized}}</a>
          <a
            tabindex="0"
            ng-repeat="column in aggregationColumns"
            data-column-id="{{column.id}}"
            class="aggregation-option no-count"
            ng-class="{ disabled: !column.enabled, active: (activeAggregation.id == column.id) || ($first && highlightFirstColumn) }"
            ng-click="setAggregationColumn($event, column.id, column.enabled)" title="{{column.pluralCapitalized}}">{{column.pluralCapitalized}}</a>
        </div>
      </div>

    </div>
  </div>
</div>
