<div>
  <div class="card-text">
    <div class="title-one-line"><div class="wrap">{{title}}</div></div>
    <div class="title-expanded">
      <div class="wrap">
        {{title}}
      </div>
    </div>
    <div class="description" ng-class="{ clamped: descriptionClamped, collapsed: descriptionCollapsed, 'with-animation': animationsOn }">
      <div class="description-truncated-content">
        <!-- set in JS -->
      </div>
      <div class="description-expanded-wrapper">
        <div class="description-expanded-content">
          {{description}}
        </div>
        <div class="description-expand-button"><span ng-click="descriptionCollapsed = !descriptionCollapsed"></span></div>
      </div>
    </div>
  </div>
  <div class="card-visualization" ng-switch="cardType">
    <card-visualization-column-chart ng-switch-when="column" model="model" where-clause="whereClause"></card-visualization-column-chart>
    <card-visualization-timeline-chart ng-switch-when="timeline" model="model" where-clause="whereClause"></card-visualization-timeline-chart>
    <card-visualization-choropleth ng-switch-when="choropleth" model="model" where-clause="whereClause"></card-visualization-choropleth>
    <card-visualization-table ng-switch-when="table" model="model" where-clause="whereClause"></card-visualization-table>
    <!--<div ng-switch-default class="mock-visualization" ng-if="cardType" >
      <div style="background: url(/stubs/mock-visualizations/{{cardType}}.png) no-repeat; background-size: 100%"></div>
    </div>-->
  </div>
  <div class="expand-button">
    <span ng-if="expanded && interactive" class="expand-button-target" title="Collapse Card" ng-click="toggleExpanded()"></span>
    <span ng-if="!expanded && interactive" class="expand-button-target" title="Expand Card" ng-click="toggleExpanded()"></span>
  </div>
  <div class="flypaper" ng-if="!interactive"></div>
</div>
