<div
  class="card-spot"
  animate-to="cardState.style"
  animate-to-index="{{ cardState.index }}"
  ng-repeat="cardState in cardStates track by cardState.model.uniqueId">
  <card
    model="cardState.model"
    class="card"
    where-clause="globalWhereClauseFragment"
    edit-mode="editMode"
    interactive="true"
    is-choosing-for-export="chooserMode.show"
    is-grabbed="isGrabbedCard(cardState.model)"
    ng-class="{
      expanded: cardState.model.getCurrentValue('expanded'),
      dragged: cardState.model === grabbedCard.model
    }"></card>
  <div
    class="card-drop-placeholder"
    ng-if="cardState.model === grabbedCard.model && cardState.model.fieldName !== '*'"></div>
</div>

<div
  ng-repeat="placeholder in placeholderDropTargets"
  ng-style="placeholder.style"
  class="card-group-drop-placeholder"
  data-group-id="{{ placeholder.cardSize}}"></div>
<button
  ng-repeat="button in addCardButtons"
  ng-style="button.style"
  type="button"
  class="add-card-button action-btn dark l-to-r"
  ng-class="{ disabled: !allowAddCard }"
  ng-show="editMode"
  ng-click="addCardWithSize(button.cardSize)">Add card here</button>
