<div class="card cardSize{{cardSize}}" ng-class="{ expanded: expanded }">
  <div class="title-one-line"><div class="wrap">{{title}}</div></div>
  <div class="title-expanded">
    <div class="wrap">
      {{title}}
    </div>
  </div>
  <div class="description" ng-class="{ clamped: descriptionClamped, collapsed: descriptionCollapsed, 'with-animation': animationsOn }">
    <div class="description-truncated-content">
      <!-- set in JS -->
    </div>
    <div class="description-expanded-wrapper">
      <div class="description-expanded-content">
        {{description}}
      </div>
      <div class="description-expand-button"><span ng-click="descriptionCollapsed = !descriptionCollapsed"></span></div>
    </div>
  </div>
  <div ng-switch="cardType">
    <card-visualization-column-chart ng-switch-when="column" model="model"></card-visualization-column-chart>
    <card-visualization-choropleth ng-switch-when="choropleth" model="model"></card-visualization-choropleth>
    <div ng-switch-default>I dunno how to display {{cardType}} :(</div>
  </div>
  <div class="expandButton"><a title="Expand Card" ng-click="toggleExpanded()"></a></div>
</div>
