<style id="card-layout"></style>
<style id="dragged-card-layout"></style>
<!-- Ordering by uniqueId keeps ng-repeat DOM manipulations at a minimum.
     since we position cards on screen by absolute offsets, the DOM ordering
     doesn't matter too much. When we deal with keyboard accessibility, we'll
     definitely need to at least impose a tab ordering. Note that ordering by
     index in cardModels isn't good enough - it's in pseudo-arbitary order. -->
<!-- Additionally, jquery-detect-element-resize breaks if the target node is
     moved in the dom. The orderBy prevents such movement (only adds/removes
     remain, which are fine). -->
<div id="card-tile-{{cardModel.uniqueId}}"
     class="card-spot"
     ng-repeat="cardModel in cardModels | orderBy: 'uniqueId'">
  <card model="cardModel"
        class="card"
        where-clause="globalWhereClauseFragment"
        interactive="true"
        ng-class="{ expanded: cardModel.getCurrentValue('expanded'), dragged: cardModel === grabbedCard }"></card>
  <div class="card-drop-placeholder" ng-if="cardModel === grabbedCard"></div>
  <div class="card-drag-overlay" data-card-id="{{cardModel.uniqueId}}" ng-if="editMode && cardModel !== grabbedCard">
    <div class="delete-button">
      <span class="delete-button-target" title="Remove this Card" ng-click="deleteCard(cardModel)"></span>
    </div>
  </div>
</div>
<div ng-repeat="n in [1, 2, 3]"
     id="card-group-{{n}}-drop-placeholder"
     class="card-group-drop-placeholder"
     data-group-id="{{n}}"></div>
<button
  ng-repeat="n in [1, 2, 3]"
  type="button"
  id="add-card-button-group-{{n}}"
  class="add-card-button action-btn dark l-to-r"
  ng-class="{disabled: !allowAddCard}"
  ng-show="editMode"
  ng-click="addCard(n)">Add card here</button>
