<div class="row">
  <div class="span7">
    <div class="add-card-select-column">
      <soc-select class="column-selector" ng-model="addCardSelectedColumnFieldName">
        <soc-option
          value="null"
          disabled="disabled"
          ng-selected="addCardSelectedColumnFieldName === null">{{::'addCardDialog.chooseColumn' | I18n}}</soc-option>
        <soc-option value="null" disabled="disabled" ng-if="availableColumns.length > 0"></soc-option>
        <soc-option
          value="{{fieldName}}"
          title="{{::'addCardDialog.addThisCard' | I18n}}"
          ng-repeat="fieldName in availableColumns">{{columnHumanNameFn(fieldName)}}</soc-option>
        <soc-option value="null" disabled="disabled" ng-if="unsupportedColumns.length > 0"></soc-option>
        <soc-option
          value="null"
          disabled="disabled"
          ng-if="unsupportedColumns.length > 0">{{::'addCardDialog.notSupported' | I18n}}</soc-option>
        <soc-option
          value="{{fieldName}}"
          title="{{::'addCardDialog.notSupportedLong' | I18n}}"
          disabled="disabled"
          ng-repeat="fieldName in unsupportedColumns">-{{columnHumanNameFn(fieldName)}}</soc-option>
      </soc-select>
    </div>
    <div class="add-card-preview customize-card-preview">
      <div ng-if="selectedCardModel === null" class="add-card-preview-placeholder">
        <div class="placeholder-inner-text">
          <span>{{addVisualizationPrompt | I18n}}</span>
        </div>
      </div>
      <div class="card-spot" ng-if="selectedCardModel !== null">
        <card model="selectedCardModel"
          interactive="false"
          card-draggable="false"
          class="card preview">
        </card>
        <div class="add-card-controls">
          <div class="card-control add-card-settings"
            title="{{::'addCardDialog.customizePrompt' | I18n}}"
            ng-if="isCustomizableMap"
            ng-click="onCustomizeCard(selectedCardModel)">
            <span class="icon-settings"></span>
            {{::'addCardDialog.settings' | I18n}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span5 customize-card-options">
    <visualization-type-selector
      card-model="selectedCardModel"
      supported-card-types="supportedCardTypes"
      ng-show="availableCardTypes.length > 1">
      </visualization-type-selector>
  </div>
</div>
