<div
  class="customize-bar"
  ng-class="{ 'has-changes': hasChanges, 'is-customizing': editMode, 'disco-mode': discoLens.discoMode }">
  <div class="customize-button-wrapper">
    <button
      type="button"
      class="action-btn customize-bar-action-btn r-to-l customize-button"
      ng-click="toggleCustomizeMode()"
      ng-class="{ 'disabled': !canCustomize, 'cards-edit-disabled': !!expandedCard }">
      {{editMode | ifElse:'customizeBar.customizing':'customizeBar.customize' | I18n}}
    </button>
  </div>
  <revert-button
    ng-click="revertPage()"
    page-has-changes="hasChanges"
    revert-initiated="revertInitiated"
    ng-show="!isEphemeral">
  </revert-button>
  <save-button
    class="save-this-page r-to-l"
    button-class="customize-bar-action-btn"
    ng-click="savePage()"
    enabled="hasChanges"
    ng-hide="isEphemeral"
    save-status="saveStatus">
  </save-button>
  <save-as
    show-provenance-section="showProvenanceSection"
    has-changes="hasChanges"
    is-ephemeral="isEphemeral"
    page="page"
    ng-show="showSaveAsButton || isEphemeral"
    save-page-as="savePageAs"></save-as>
  <span
    class="unsaved-warning unsaved-dirty"
    ng-show="hasChanges">
    <span class="icon-warning"></span> {{::'customizeBar.changesWarning' | I18n}}
  </span>
  <span
    class="unsaved-warning unsaved-clean"
    ng-show="!hasChanges && isEphemeral">
    <span class="icon-warning"></span> {{::'customizeBar.unsavedWarning' | I18n}}
  </span>
  <div class="controls-right">
    <remove-all-cards
      ng-show="editMode"
      enabled="editMode && hasCards">
    </remove-all-cards>
  </div>
  <div class="disco-button-wrapper" ng-controller="DiscoController">
    <button
      type="button"
      class="action-btn customize-bar-action-btn l-to-r disco-button"
      ng-show="discoLens.discoMode"
      ng-click="songChange()">
        {{::'discoLens.reFunk' | I18n}}
    </button>
    <button
      type="button"
      class="action-btn customize-bar-action-btn l-to-r disco-button"
      ng-show="discoLens.showDiscoLens"
      ng-click="toggleDisco()">
      {{!discoLens.discoMode | ifElse:'discoLens.discoLens' : 'discoLens.turnDown' | I18n}}
    </button>
    <audio ng-if="discoLens.showDiscoLens" id="discoTunes" />
  </div>
</div>
