<div
  class="customize-bar"
  ng-class="{ 'has-changes': hasChanges, 'is-customizing': editMode }">
  <div class="customize-button-wrapper">
    <button
      type="button"
      class="action-btn r-to-l customize-button"
      ng-click="toggleCustomizeMode()"
      ng-class="{ 'disabled': !canCustomize, 'cards-edit-disabled': !!expandedCard }">
      {{editMode | ifElse:'customizeBar.customizing':'customizeBar.customize' | I18n}}
    </button>
  </div>
  <revert-button
    ng-click="revertPage()"
    page-has-changes="hasChanges"
    revert-initiated="revertInitiated">
  </revert-button>
  <save-button
    class="save-this-page"
    ng-click="savePage()"
    enabled="hasChanges"
    save-status="saveStatus">
  </save-button>
  <save-as
    has-changes="hasChanges"
    save-page-as="savePageAs"
    ng-show="showSaveAsButton"></save-as>
  <span
    class="changes-warning"
    ng-show="hasChanges">
    <span class="icon-warning"></span> {{'customizeBar.changesWarning' | I18n}}
  </span>
</div>
