<h2><span class="icon-settings"></span> Settings</h2>
<card ng-if="customizedCard"
      model="customizedCard"
      interactive="false"
      draggable="false"
      class="card preview"></card>

<div class="configurable">
  <div>
    <h3>{{'customizeCardDialog.mapLayer.title' | I18n}}</h3>
    <div>
      <soc-select ng-model="baseLayerOption">
        <soc-option value="standard">{{'customizeCardDialog.mapLayer.standard' | I18n}}</soc-option>
        <soc-option value="esri">Esri</soc-option>
        <soc-option value="custom">{{'customizeCardDialog.mapLayer.custom' | I18n}}</soc-option>
      </soc-select>
      <input name="customLayerUrl"
             type="url"
             class="dark"
             placeholder="http://domain.com/.../{x}/{y}/{z}.png"
             ng-model="customLayerUrl"
             ng-pattern="TILEURL_REGEX"
             ng-show="baseLayerOption === 'custom'"
             ng-min-length="5"
             ng-max-length="5165"
      />
    </div>
  </div>
</div>

<div class="controls">
  <button class="action-btn dark" ng-click="updateCard()">{{'common.done' | I18n}}</button>
  <button class="action-btn dark" ng-click="dialogState.show = false">{{'common.cancel' | I18n}}</button>
</div>
