<h2>Manage Lens</h2>
<label>Permissions<soc-select></soc-select></label>
<div class="right">
  <soc-select ng-model="pageVisibility" ng-disabled="!datasetIsPublic">
    <soc-option value="public">Public</soc-option>
    <soc-option value="private">Private</soc-option>
  </soc-select>
  <div class="flavor-text">
    <div ng-if="datasetIsPublic && pageVisibility === 'public'">
      This lens and its source dataset are both Public, so anyone will be able to
      view this lens, and it will appear in the public catalog.
    </div>
    <div ng-if="datasetIsPublic && pageVisibility === 'private'">
      This lens is set to Private, so only those with privileged access will be
      able to see it. It will not appear in the public catalog.
    </div>
    <div ng-if="!datasetIsPublic && pageVisibility === 'private'">
      Because this lens’s source dataset is set to Private, this lens cannot be
      made Public. Only those with privileged access will be able to see it, and
      it will not appear in the public catalog.
    </div>
  </div>
</div>

<div class="controls">
  <save-button
    class="dark"
    ng-click="save()"
    enabled="true"
    save-status="saveStatus"></save-button>
  <button class="action-btn dark" ng-click="dialogState.show = false">Cancel</button>
</div>
