<h3>Existing Visualizations</h3>
<ul>
  <li
    class="row"
    ng-repeat="visualization in relatedVisualizations"
    ng-class="{ dim: shouldDim(visualization) }"
    ng-click="onVisualizationSelected(visualization)">
    <span class="related-visualization-icon" ng-class="iconClass( visualization )"></span>
    <div class="related-visualization-info">
      <a href title="{{visualization.sourceVif.title}}">
        <h4>{{visualization.sourceVif.title}}</h4>
        <p class="related-visualization-description" title="{{visualization.sourceVif.description}}">{{visualization.sourceVif.description}}</p>
        <span class="related-visualization-metadata" ng-class="{ highlight: shouldHighlightSourceColumn(visualization) }">
          {{ 'relatedVisualizationSelector.basedOnColumn' | I18n:columnNameToReadableNameFn(visualization.sourceVif.columnName) }}
        </span>
      </a>
    </div>
  </li>
</ul>
