<div class="related-views tool-panel">

  <a type="button"
    ng-class="{ touched: panelActive }"
    class="tool-panel-toggle-btn action-btn"
    ng-click="togglePanel()"
    ng-show="enablePublisherPages">
    <span class="icon-chart"></span>
    {{'relatedViews.button' | I18n}} ({{datasetPublisherPages.length}})
  </a>

  <span
    class="tool-panel-toggle-btn action-btn disabled"
    ng-hide="enablePublisherPages">
    <span class="icon-chart"></span> {{'relatedViews.button' | I18n}} (0)
  </span>

  <div ng-class="{ active: panelActive }" class="tool-panel-main">
    <div class="tool-panel-inner-container">
      <div class="tool-panel-hint"></div>

      <ul class="related-views-list">
        <li class="related-views-list-heading">
        <h2>{{'relatedViews.official' | I18n}}</h2>
        </li>
        <li ng-repeat="page in datasetPublisherPages"
            class="related-views-list-item">
          <a ng-href="/view/{{page.pageId}}">
            <p class="related-view-name">{{page.name}}</p>

            <p class="related-view-description">{{page.description}}</p>
          </a>
        </li>

      </ul>

    </div>
  </div>

</div>
