<div class="table-inner">
  <div class="table-head">
    <div
      ng-repeat="header in headers"
      class="th"
      data-index="{{ header.index }}"
      data-column-id="{{header.columnId}}"
      ng-click="sortOnColumn($event, header.columnId)"
      ng-class="{active: header.active, sortable: header.sortable}"
      ng-style="{width: header.width+'px'}">
      <div class="content">
        <span
          class="caret"
          ng-class="{sortUp: header.sortUp}"
          ng-if="header.sortable"></span>
        <span>{{header.name}}</span>
      </div>
      <span class="resize"></span>
    </div>
  </div>
  <div class="table-body">
    <div class="table-expander"></div>
  </div>
  <div ng-show="showCount" class="table-label">Loading...</div>
  <div class="table-has-no-rows-message">No rows to display</div>
</div>
