<div class="apiFoundryPaneWrapper">
  <p><strong>Socrata API Foundry</strong> allows you to create and
  configure one or more open, standards-based
  Application Programming Interfaces (API) for this dataset.</p>
  <a href="/api_foundry/forge/<%= @view.id %>"
    class="createapi toolbarButton button"
    title="Create an Application Programming Interface (API)
    to grant programmatic access to this data.">Create an API</a>
</div>
