<div class="appendReplace">
  <a href="<%= @view.href %>/edit" class="button appendReplaceButton rightArrow">
    <span class="icon"></span>
    Launch the <%= 'Append and ' if @view.is_tabular? %>Replace wizard
  </a>
</div>
