<div class="browse2-facets-mobile-active-filter"
  data-facet-option-type="<%= facet_param.to_s %>"
  data-facet-option-value="<%= facet_option[:value] %>">
  <%= title %> > <%= facet_option[:text] %>
  <span class="browse2-active-filter-clear-icon icon-close-2"></span>
</div>
