<%- if v.respond_to?(:is_official?) && v.show_official_badge_in_catalog? -%>
  <span class="browse-listing-provenance infoItem"><span class='icon-check'></span><%= t('angular.dataCards.lens_type.official') %></span>
<%- end -%>
