<div class="browse2-results-title-and-categories">
  <h2 class="browse2-results-title" title="<%= opts[:title] %>"><%= opts[:title] %></h2>

  <%- if clear_all_url.present? -%>
    <a class="browse2-results-clear-all-control" href="<%= clear_all_url %>">
      <%= t('controls.browse.browse2.facets.clear_all.label') %>
      <span class="browse2-clear-all-icon icon-close"></span>
    </a>
  <%- end -%>
</div>
