<div class="browse2-suggest-dataset">
  <h3 class="browse2-suggest-dataset-prompt">
    <%= t('controls.browse.actions.suggest_dataset') %>
  </h3>
  <a class="browse2-suggest-dataset-button" href="<%= nominate_index_path %>">
    <%= t('controls.browse.actions.suggest_dataset_verb') %>
    <span class="browse2-suggest-dataset-icon icon-arrow-right"></span>
  </a>
</div>
