<div class="browse2-no-results">
  <span class="browse2-no-results-message">
    <%= opts[:timeout_text] %>
  </span>

  <%-
    if (
      CurrentDomain.module_enabled?(:dataset_nomination) &&
      !opts[:suppress_dataset_creation]
    )
  -%>

    <%=
      render(
        :partial => 'datasets/browse2_suggest_dataset',
        :locals => {
          :opts => opts
        }
      )
    %>

  <%-
    end
  -%>
</div>
