<%- unless opts[:disable][:search] -%>
  <form class="searchSection">
    <span class="icon"></span>
    <input type="text" name="browseSearch" title="<%= I18n.t('controls.browse.search') %>"
      class="textPrompt searchBox" value="<%= opts[:q] %>" />
    <%- if opts[:q].present? -%>
    <%- cp = opts[:user_params].reject{ |k| k == :q } -%>
    <a href="<%= opts[:base_url] + '?' + cp.to_param %>"
      class="clearSearch close"><span class="icon"></span></a>
    <%- end -%>
  </form>
<%- end -%>
