<div class="columnOrderBlock">
  <ul class="sectionContent columnsList">
    <li class="columnItem">
      <span class="grabHandle"></span>
      <span class="icon"></span>
      <span class="name"></span>
    </li>
  </ul>
  <p>Drag the columns into the order you would like, and then press
     <strong>done</strong> to apply the new order.</p>
</div>
