<div class="dataLensPaneContentWrapper">
  <div class="subtitleBlock">
    <p class="subtitle"><%= t('screens.ds.grid_sidebar.data_lens.subtitle').html_safe %></p>
  </div>
  <ul class="finishButtons actionButtons clearfix">
    <li><%= link_to(t('screens.ds.grid_sidebar.data_lens.button'), '#', :class => 'button disabled') %></li>
  </ul>
</div>
