<div class="downloadsSectionContent">
  <%- if @view.should_expose_geo_export_links? -%>
  <label class="formHeader"><%= t('screens.ds.grid_sidebar.download.geo_header') %></label>
  <%- end -%>
  <div class="downloadsTable">
    <div class="gridListWrapper">
      <%= render :partial => 'datasets/downloads_table_inner' %>
    </div>
  </div>
  <%- if @view.has_multiple_layers? -%>
  <div class="layerTableDownloads">
    <label class="formHeader"><%= t('screens.ds.grid_sidebar.download.layers_header') %></label>
    <select id="layerChooserForTabular" class="layerChooser"></select>
    <div class="layerDownloadsContent gridListWrapper">
      <%= render :partial => 'datasets/downloads_table_inner' %>
    </div>
  </div>
  <%- end -%>
</div>
