<div class="embedForm commonForm">
  <label for="embed_code" class="formHeader">Embed this Dataset</label>
  <div class="embedCodeWrapper">
    <textarea id="embed_code" name="embed_code"><%=
      get_publish_embed_code_for_view(view, {:dimensions => { :width => "#width#",  :height => "#height#" }},
                                      (customization_id || CurrentDomain.default_widget_customization_id), cur)
    %></textarea>
  </div>

  <div class="clearfix">
    <div class="left">
      <label class="formHeader">Size</label>
      <ul class="sectionContent sizes clearfix">
        <li data-width="500" data-height="425" class="selected">
          <p>500x425</p>
          <div class="sizePreview small"></div>
        </li>
        <li data-width="760" data-height="646">
          <p>760x646</p>
          <div class="sizePreview medium"></div>
        </li>
        <li data-width="950" data-height="808">
          <p>950x808</p>
          <div class="sizePreview large"></div>
        </li>
      </ul>
    </div>
    <div class="right">
      <label class="formHeader">Custom Size</label>
      <p class="information sizeInformation">500x425 is the minimum size</p>
      <div class="sectionContent dimensions">
        <div class="line clearfix">
          <label for="embed_width">Width</label>
          <input type="text" id="embed_width" name="embed_width" value="500"/>
        </div>
        <div class="line clearfix">
          <label for="embed_height">Height</label>
          <input type="text" id="embed_height" name="embed_height" value="425"/>
        </div>
      </div>
    </div>
  </div>
</div>