<div class='fatRowColumn'>
  <div class='column'>
    <div class='info'>
      <span class='dataTypeIcon'></span>
      <span class='name'></span>
    </div>
    <a href='#Sort' class='sort'><span class='icon'></span></a>
    <a href='#Clear-Sort' title='Clear sort' class='clearSort close'>
      <span class='icon'></span>
    </a>
  </div>
</div>
