<div class='fatRowColumn'>
  <div class='column downArrowNoHover'>
    <div class='info'>
      <span class='dataTypeIcon'></span>
      <span class='name'></span>
    </div>
    <span class='icon'></span>
  </div>
</div>
