<div class="cellFeedTitle">
  <h3>Comments for row <span class="rowName"></span>, column <span class="columnName"></span></h3>
</div>

<div class="feedList">
  <div class="feed">
    <div class="feedFilterLine">
      <span class="text">Show</span>
      <select class="feedFilter"></select>
    </div>
    <%- if allow_comments -%>
      <a href="#post" class="button feedNewCommentButton">Add Comment</a>
    <%- end -%>
    <div class="moderationNotice">Your comment has been submitted and is pending moderation</div>
    <ul class="feedList"></ul>
    <a href="#showMore" class="feedMoreItemsLink fullButton"></a>
    <span class="noResults hide">There are no items to display</span>
  </div>
</div>
<ul class="feedItem">
  <li class="feedItem">
    <div class="feedCommon">
      <span class="icon"></span>
      <a href="#" class="feedActor"></a>
      <span class="feedBody"></span>
    </div>
    <div class="feedCustom"></div>
    <p class="feedTimestamp"></p>
    <ul class="feedChildren"></ul>
    <a href="#allReplies" class="replyViewAllLink">View all replies</a>
  </li>
</ul>
<div class="feedItem_comment">
  <ul class="commentActions clearfix">
    <li class="actionReply"><a class="commentReplyLink" href="#reply">Reply</a></li>
    <li class="actionInappropriate"><a class="commentInappropriateLink" href="#inappropriate">Inappropriate</a></li>
    <li class="rateDown"><a class="icon commentRateDownLink" href="#rateDown" title="Rate this comment down"></a></li>
    <li class="rateUp"><a class="icon commentRateUpLink" href="#rateUp" title="Rate this comment up"></a></li>
    <li class="downRatings"></li>
    <li class="upRatings"></li>
  </ul>
</div>
<div class="feedItem_reply">
  <ul class="commentActions clearfix">
    <li class="actionInappropriate"><a class="commentInappropriateLink" href="#inappropriate">Inappropriate</a></li>
    <li class="rateDown"><a class="icon commentRateDownLink" href="#rateDown" title="Rate this comment down"></a></li>
    <li class="rateUp"><a class="icon commentRateUpLink" href="#rateUp" title="Rate this comment up"></a></li>
    <li class="downRatings"></li>
    <li class="upRatings"></li>
  </ul>
</div>
<div class="feedItem_view">
  <div class="viewDetails">
    <span class="icon"></span>
    <a class="viewName" href="#"></a>
    <div class="viewDescription"></div>
  </div>
</div>
<div class="feedItem_newComment">
  <div class="newCommentForm">
    <label for="newCommentBody">New Comment:</label>
    <textarea name="newCommentBody" id="newCommentBody"></textarea>
    <div class="error"></div>
    <a class="button postNewCommentButton" href="#post">Post</a>
    <a class="button cancelNewCommentButton" href="#cancel">Cancel</a>
  </div>
</div>
