<div class="feedList">
  <div class="feed">
    <ul class="feedList"></ul>
  </div>
</div>
<ul class="feedItem">
  <li>
    <div class="feedCommon">
      <span class="icon"></span>
      <a href="#" class="feedActor"></a>
      <span class="feedBody"></span>
    </div>
    <div class="feedCustom"></div>
    <p class="feedTimestamp"></p>
    <ul class="feedChildren"></ul>
    <a href="#allReplies" class="replyViewAllLink">View all replies</a>
  </li>
</ul>
<div class="feedItem_comment">
  <ul class="commentActions clearfix">
    <li class="actionReply"><a class="commentReplyLink" href="#reply">Reply</a></li>
    <li class="actionInappropriate"><a class="commentInappropriateLink" href="#inappropriate">Inappropriate</a></li>
    <li class="rateDown"><a class="icon commentRateDownLink" href="#rateDown" title="Rate this comment down"></a></li>
    <li class="rateUp"><a class="icon commentRateUpLink" href="#rateUp" title="Rate this comment up"></a></li>
    <li class="negativeRatings"></li>
    <li class="positiveRatings"></li>
  </ul>
</div>
<div class="feedItem_reply">
  <ul class="commentActions clearfix">
    <li class="actionInappropriate"><a class="commentInappropriateLink" href="#inappropriate">Inappropriate</a></li>
    <li class="rateDown"><a class="icon commentRateDownLink" href="#rateDown" title="Rate this comment down"></a></li>
    <li class="rateUp"><a class="icon commentRateUpLink" href="#rateUp" title="Rate this comment up"></a></li>
    <li class="negativeRatings"></li>
    <li class="positiveRatings"></li>
  </ul>
</div>
<div class="feedItem_view">
  <div class="viewDetails">
    <span class="icon"></span>
    <a class="viewName" href="#"></a>
    <div class="viewDescription"></div>
  </div>
</div>