<ul class="layersListLine">
  <li class="importLayer">
    <div class="mainLine line">
      <div class="layerHandleCell importHandleCell"></div>
      <div class="layerNameCell">
        <input type="text" class="layerName textPrompt required" title="Name this column"/>
      </div>
      <div class="layerCrsAutoDetectCell">
        <input type="checkbox" class="layerCrsAutoDetect" title="Auto-detect reference system"/>
        <label>
          Auto-detect
        </label>
      </div>
      <div class="layerReferenceSystemCell">
        <label>
          or
        </label>
        <input type="text" class="layerReferenceSystem" title="Enter a coordinate reference system"/>
      </div>
      <div class="layerReplacingCell">
        <select class="layerReplaceDropdown">
          <option class="special" value="">(New Layer)</option>
        </select>
      </div>
    </div>
  </li>
</ul>
<ul class="sourceColumnsListLine">
  <li class="clearfix">
    <a class="remove removeSourceColumnLineButton" href="#remove"><span class="icon">remove</span></a>
    <div class="compositeColumnSourcePlaceholder" data-class="compositeColumnSourceSelect"></div>
    <input type="text" class="staticSourceText"/>
  </li>
</ul>
<ul class="columnTransformsListLine">
  <li class="clearfix">
    <a class="remove removeTransformLineButton" href="#remove"><span class="icon">remove</span></a>
    <span class="thenText">then</span>
    <select class="columnTransformOperation">
      <option value="title">Make Title Case</option>
      <option value="upper">Make UPPERCASE</option>
      <option value="lower">Make lowercase</option>
      <option value="toStateCode">Convert states to 2-letter codes</option>
      <option value="findReplace">Find and Replace value...</option>
      <option value="customExpression">Custom Javascript Expression...</option>
    </select>
    <div class="additionalTransformOptions">
      <div class="findReplaceSection">
        <label class="findTextLabel">find</label>
        <input type="text" class="findText"/>
        <label class="replaceTextLabel">and replace it with</label>
        <input type="text" class="replaceText"/>
        <input type="checkbox" class="caseSensitive"/>
        <label class="caseSensitiveLabel">case sensitive</label>
        <input type="checkbox" class="regex"/>
        <label class="regexLabel">regex</label>
      </div>
      <div class="customExpressionSection">
        <label class="customExpressionLabel"></label>
        <input type="text" class="customExpression"/>
        <a rel="external" href="http://dev.socrata.com/">How do I create a custom Javascript expression?</a>
      </div>
    </div>
  </li>
</ul>
<div class="compositeDetails">
  <h3>Combine Multiple Columns</h3>
  <h4>Create one column out of many source columns:</h4>
  <ul class="sourceColumnsList"></ul>
  <a href="#newSourceColumn" class="button add newSourceColumnButton">
    <span class="icon"></span>Add new source column
  </a>
</div>
<div class="locationDetailsOriginal">
  <h3>Location Source Columns</h3>
  <h4>Addresses will be geocoded after import is complete.</h4>
  <div class="toggleSection">
    <input type="radio" name="locationTypeToggle" class="locationTypeToggle multipleColumns"/>
    <label class="locationTypeToggleLabel">Import from <strong>multiple columns</strong></label>
  </div>
  <div class="clearfix">
    <fieldset class="left">
      <legend>Existing Address Columns</legend>
      <div class="line locationAddressLine clearfix">
        <label class="locationAddressLabel" for="locationAddressColumn">Street</label>
        <div class="columnSourcePlaceholder" data-class="locationAddressColumn"></div>
      </div>
      <div class="line locationCityLine clearfix">
        <label class="locationCityLabel" for="locationCityColumn">City</label>
        <div class="optionGroup">
          <input type="radio" name="locationCityToggle" class="locationSourceToggle" checked="checked"/>
          <div class="columnSourcePlaceholder" data-class="locationCityColumn"></div>
          <input type="radio" name="locationCityToggle" class="locationSourceToggle"/>
          <input type="text" class="locationCityStatic textPrompt" title="Enter a custom value"/>
        </div>
      </div>
      <div class="line locationStateLine clearfix">
        <label class="locationStateLabel" for="locationStateColumn">State</label>
        <div class="optionGroup">
          <input type="radio" name="locationStateToggle" class="locationSourceToggle" checked="checked"/>
          <div class="columnSourcePlaceholder" data-class="locationStateColumn"></div>
          <input type="radio" name="locationStateToggle" class="locationSourceToggle"/>
          <input type="text" class="locationStateStatic textPrompt" title="Enter a custom value"/>
        </div>
      </div>
      <div class="line locationZipLine clearfix">
        <label class="locationZipLabel" for="locationZipColumn">Zip</label>
        <div class="optionGroup">
          <input type="radio" name="locationZipToggle" class="locationSourceToggle" checked="checked"/>
          <div class="columnSourcePlaceholder" data-class="locationZipColumn"></div>
          <input type="radio" name="locationZipToggle" class="locationSourceToggle"/>
          <input type="text" class="locationZipStatic textPrompt" title="Enter a custom value"/>
        </div>
      </div>
    </fieldset>
    <fieldset class="right">
      <legend>Existing Latitude and Longitude Columns</legend>
      <div class="line locationLatitudeLine clearfix">
        <label class="locationLatitudeLabel">Latitude</label>
        <div class="columnSourcePlaceholder" data-class="locationLatitudeColumn"></div>
      </div>
      <div class="line locationLongitudeLine clearfix">
        <label class="locationLongitudeLabel">Longitude</label>
        <div class="columnSourcePlaceholder" data-class="locationLongitudeColumn"></div>
      </div>
    </fieldset>
  </div>
  <div class="toggleSection">
    <input type="radio" name="locationTypeToggle" class="locationTypeToggle singleColumn"/>
    <label class="locationTypeToggleLabel">Import from a <strong>single column</strong></label>
  </div>
  <div class="importSingleColumnSection">
    <label class="locationSingleColumnLabel">Column</label>
    <div class="columnSourcePlaceholder" data-class="locationSingleColumn"></div>
    <p>Column must be <a href="http://dev.socrata.com/publisher/import-data-types" rel="external">properly formatted</a> prior to import.</p>
  </div>
</div>
<div class="generalDetails">
  <h3>Options</h3>
  <h4>Perform the following transformation upon import:</h4>
  <ul class="columnTransformsList">
  </ul>
  <a href="#newTransform" class="button add newColumnTransformButton">
    <span class="icon"></span>Add new transform
  </a>
</div>
