<div class="odataContentWrapper">
  <div class="odataIntroWrapper sectionContent">
    <p><%= t('screens.ds.grid_sidebar.odata.intro_html1') %></p>
    <p><%= raw t('screens.ds.grid_sidebar.odata.intro_html2', :doc_link => 'http://dev.socrata.com/odata/') %></p>
  </div>
  <h3><%= t('screens.ds.grid_sidebar.odata.endpoint_action') %></h3>
  <div class="odataEndpointWrapper">
    <pre><%= "http://#{CurrentDomain.cname}#{CurrentDomain.domain.port}/OData.svc/#{@view.id}" %></pre>
  </div>
</div>
