<%= modal :class => 'saveViewDialog' do %>
  <h2 class="normalSave">Save view</h2>
  <h2 class="leavingSave">Do you want to save your view?</h2>
  <p class="leavingSave info">You have unsaved data that will be lost if
    you leave this page. Please choose whether or not you wish to save this view
    before you leave; or choose Cancel to return to the page.</p>
  <p class="reloadSave info">This change requires a reload. You may Save
    your changes to view them, or Cancel to stay on this page.</p>
  <p class="reloadUpdate info">This change requires a reload. You may Update
    this view or Save a new view to see your changes, or Cancel to stay
    on this page.</p>
  <p class="newName">Enter a name for your new view:</p>
  <form class="commonForm" action="#save">
    <input type="text" class="viewName" />
  </form>
  <div class="mainError"></div>
  <ul class="actions clearfix">
    <li>
      <a class="jqmClose button cancel" href="#cancel">Cancel</a>
    </li>
    <li>
      <a class="button dontSave jqmClose leavingSave"
        href="#dontSave">Don't Save</a>
    </li>
    <li>
      <a class="button save submit" href="#save">Save</a>
    </li>
    <li>
      <a class="button update submit reloadUpdate"
        href="#update">Update</a>
    </li>
  </ul>
<%- end -%>
