<%- grantable = @view.has_rights?('grant') -%>
<div class="sharingForm commonForm">
  <div class="formSection">
    <%- if grantable -%>
      <p>
        <a class="button shareDatasetButton add" href="#share">
          <span class="icon"></span>
          Share this <span class="datasetTypeNameUpcase">Dataset</span>
        </a>
      </p>
    <%- end -%>
    <p class="formHeader">This <span class="datasetTypeName">dataset</span> is
      <span class='publicOrPrivate'><%= @view.is_public? ? 'Public' : 'Private' %></span>
      <span class='andSharedHint<%= ' hide' unless @view.is_shared? -%>'>
        and shared with the following <span class='friendsHint'></span>
      </span>
    </p>
    <div class="sectionContent">
      <ul class="itemsList">
        <li class="loadingShares">Loading Shares...
          <span class="loadingSharesIndicator"></span>
        </li>
      </ul>
      <div class="noShares">
        <p>You are not currently sharing this <span class="datasetTypeName">dataset</span> with anyone</p>
      </div>
    </div>
    <%- if @view.can_email? -%>
      <p class="shareNotifyArea">
        <a class="button shareNotifyLink" href="#notify">
          Notify All of Changes
        </a>
        <span class="flash notice shareNoticeSent">
          Notification sent
        </span>
      </p>
    <%- end -%>
  </div>
  <div class="flash sharingFlash"></div>
</div>

<ul class="sharesList">
  <li class="line clearfix<%= ' noGrant' unless grantable %>">
    <a href="#removeShare" class="removeShareLink remove" title="Remove">
      <span class="icon"></span>
    </a>
    <span class="profileImage"></span>
    <div class='nameWrapper'><span class="name"></span></div>
    <%- if grantable -%>
      <%= select_tag 'type', options_for_select(Share.types), :class => 'type' %>
    <%- end -%>
    <span class="type readOnlyType"></span>
  </li>
</ul>
