<div class="sharingForm commonForm">
  <div class="formSection">
    <p>
      <a class="button shareDatasetButton add" href="#share">
        <span class="icon"></span>
        Share this <span class="datasetTypeNameUpcase">Dataset</span>
      </a>
    </p>
    <p class="formHeader">This <span class="datasetTypeName">dataset</span> is
      <%= link_to 'Public', '#togglePermissions',
      :class => 'toggleDatasetPermissions', 'data-public-perm' => "public.#{@view.display.public_perm_type}" %>
      <span class='andSharedHint<%= ' hide' unless @view.is_shared? -%>'>
        and shared with the following <span class='friendsHint'></span>
      </span>
    </p>
    <div class="sectionContent">
      <ul class="itemsList">
        <li class="loadingShares">Loading Shares...
          <span class="loadingSharesIndicator"></span>
        </li>
      </ul>
      <div class="noShares">
        <p>You are not currently sharing this <span class="datasetTypeName">dataset</span> with anyone</p>
      </div>
    </div>
    <p class="shareNotifyArea">
      <a class="button shareNotifyLink" href="#notify">
        Notify All of Changes
      </a>
      <span class="flash notice shareNoticeSent">
        Notification sent
      </span>
    </p>
  </div>
  <div class="flash sharingFlash"></div>
</div>

<ul class="sharesList">
  <li class="line clearfix">
    <a href="#removeShare" class="removeShareLink remove" title="Remove">
      <span class="icon"></span>
    </a>
    <span class="profileImage"></span>
    <span class="name"></span>
    <%= select_tag 'type', options_for_select(Share.types), :class => 'type' %>
  </li>
</ul>
