<div class="subscribeContent">
  <div class="formSection">
    <label class="formHeader">Choose your reader below</label>
    <ul class="feedList sectionContent">
      <li class="feedItem">
        <a href="#subscribe" rel="external">
          <img class="badge" />
          <span class="text"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
