<div id="app" class="dataset-landing-page">
  <div class="main-spinner">
    <div class="spinner-default spinner-large"></div>
  </div>
</div>

<div id="dynamic-content" class="dataset-landing-page"></div>
