<div class="dataset-landing-page">
  <div id="app">
    <div class="main-spinner">
      <div class="spinner-default spinner-large"></div>
    </div>
  </div>

  <div id="dynamic-content"></div>
</div>
