<% content_for :head do %>
  <title>Thank You | <%= CurrentDomain.strings.site_title %></title>
<% end %>
<p>Thank you for your submission!</p>

<%- parent_dataset = !@view.nil? ? @view.parent_dataset : nil -%>
<%- if !parent_dataset.nil? && parent_dataset.can_read? -%>
<a target="_blank" href="<%= parent_dataset.href %>">View all the data submitted so far</a>
<%- end -%>
