<% content_for :head do %>
  <title>Error | <%= CurrentDomain.strings.site_title %></title>
<% end %>
<p>There was an error with your submission: <%= @error_message %></p>

<p>Please <a onclick="history.back(1); return false;"
  href="<%= view_path(@view.route_params) %>">go back to the form</a> to correct your error and
try again.</p>
