header#chrome-header, footer#chrome-footer {
  .chrome-btn {
    color: $fg_color;
    background: transparent;
    padding: 8px 12px;
    border: 1px solid $fg_color;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    &:hover, &:focus, &:active {
      background: #fff;
      color: #999;
    }

    [class*="icon-"] {
      position: relative;
      padding-right: $text_padding;
    }
  }

  .chrome-mobile-btn {
    color: $fg_color;
    background: $mobile_btn_color;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid $mobile_btn_color;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    &:hover, &:focus, &:active {
      background: $mobile_btn_hover_color;
    }

    [class*="icon-"] {
      position: relative;
      padding-right: 6px;
    }
  }
}
