<h3 class="h6 styleguide-subheader">Buttons with Icons</h3>
<%= partial "code_sample", locals: { component: "elements/skeletons/buttons/button_icon" } %>
<%= partial "code_sample", locals: { component: "elements/skeletons/buttons/button_icon_text" } %>
