<h4 class="h6 styleguide-subheader">Input Groups</h4>
<%= partial "code_sample", locals: {
  component: "elements/skeletons/input-group",
  partial_locals: {
    placeholder_text: "Search"
  }
} %>

<%= partial "code_sample", locals: {
  component: "elements/skeletons/input-group-dropdown",
  partial_locals: {
    placeholder_text: "Search",
    title: "Gender",
    options: ["An option!", "Another option!!", "A really, really, really long option!!!"]
  }
} %>
