@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.message {
  font-weight: 600;
  color: $dark-grey-2;
}

.subMessage {
  font-style: italic;
  font-weight: 400;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
  max-width: 310px;
}

.msgContainer {
  margin-top: 0.7rem;
  max-width: 310px;
  color: $dark-grey-1;

  &::before {
    display: block;
    background: $light-grey-4;
    color: $light-grey-4;
    height: 1px;
    width: calc(100% + 20px);
    margin: 0 -10px 0.3rem;
    content: ".";
    overflow: hidden;
  }

  h6 {
    color: $dark-grey-2;
    font-size: 13px;
  }

  p:first-child {
    margin: 0;
  }

  p {
    margin: 0.5em 0 0;
    font-size: 12px;
  }

  .filename {
    font-style: italic;
  }
}
