.errorPointer {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  z-index: 100; // 1 greater than the hovered cells.
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

  background: white;
  padding: 5px;
  font-size: 12px;
}

.errorPointerLeft {
  composes: errorPointer;
  left: 8px;
}

.errorPointerRight {
  composes: errorPointer;
  right: 10px;
  // this is actually supposed to be different than error-left
  // to line up with stuff on respective sides of the page (which are different for now)
}

.messageBody {
  padding-left: 2px;
  padding-right: 2px;
}
