@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.container {
  display: block;
  width: 100%;
  background-color: $error-light;
  color: $error-text;
  padding: 5px 7px 4px;
}

.malformedRowTag {
  color: $white;
  border-radius: 0.7em;
  padding: 0 0.7em 0;
  font-size: 7px;
  vertical-align: middle;
  composes: error from global;
}

.malformedRowLocation {
  padding-left: 5px;
}

.malformedRowError {
  padding-left: 20px;
}

.malformedRowContents {
  color: darken(#767676, 10%);
  padding-left: 20px;
  font-size: 10px;
}

.rowErrorNumber {
  font-weight: bold;
}

.rowContentLabel {
  font-weight: bold;
}
