@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.error {
  div {
    background-color: $error-light !important;
    color: $error-text;
  }
}

.notYetLoaded {
  background-color: lightgrey;
}

.empty {
  composes: empty from global;
}
