.blob-preview {
  overflow: hidden;

  img {
    max-height: 500px;
    max-width: 100%;
    width: auto;
  }

  iframe {
    border: 1px $light-grey-4 solid;
    border-bottom-width: 2px;
    width: 100%;
    height: 500px;
  }
}
