@import "styleguide-colors";

.collocate {
  font-family: "Open Sans", sans-serif;
  padding: 15px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .socrata-icon-external {
      color: #aaa;
      padding: 2px;
    }
    .socrata-icon-close-2 {
      color: $light-grey-1;
      padding: 2px;
    }
    div {
      display: flex;
      flex-direction: row;
    }
    h2 {
      font-size: 17px;
      font-weight: 600;
      letter-spacing: -0.3px;
      text-overflow: ellipsis;
      color: $dark-grey-1;
    }
  }

  overflow: hidden;

  .selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .picklist {
      max-height: 300px; // Hack to onepage, need to make this proper flexy
    }
    .row-select {
      flex-grow: 1;
      max-width: 25%;
    }
    .spinner-default {
      min-height: 50px;
      min-width: 50px;
    }

    .row-select.target {
      span{
        cursor: pointer; 
      }
    }
    .details {
      flex-grow: 2;
      padding: 30px;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      .right-justified {
        text-align: right;
      }
      .detail-view {
        min-height: 60px;
        display: flex;
        flex-direction: column;
        span {
          text-decoration: underline;
          white-space: pre;
        }
      }
    }
  }

  .join-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $light-grey-7;
    .btn {
      margin: 7px;
    }
  }
  
  .join-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}