<div id="generic-flyout" class="flyout flyout-hidden">
  <section class="flyout-content">
    <p>Cow alcatra beef ribs short loin, sausage landjaeger jerky sirloin rump turducken.</p>
  </section>
  <footer class="flyout-footer"></footer>
</div>
