<div class="checkbox">
    <input id="<%= id %>" type="checkbox" <%= checked %>/>
    <label for="<%= id %>">
    	<span class="fake-checkbox"><span class="icon-checkmark3"></span></span>
    	<%= label %>
    </label>
</div>