<div class="adminNavBox">
  <ul class="adminNav">
    <li class="analytics">
      <%= link_to_unless_current \
          raw('<span class="icon"></span>Analytics'),
          {:action => 'analytics'} %>
    </li>
  </ul>
</div>
