<div class="adminNavBox">
  <ul class="adminNav">
    <%- if module_available? :advanced_metrics -%>
      <li class="analytics">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Analytics'),
            {:action => 'analytics'} %>
      </li>
    <%- end -%>
    <li class="users">
      <%= link_to_unless_current \
          raw('<span class="icon"></span>Users'),
          {:action => 'users'} %>
    </li>
  </ul>
</div>
