<div class="adminNavBox">
  <ul class="adminNav">
    <%- if module_available? :advanced_metrics -%>
      <li class="analytics">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Analytics'),
            {:action => 'analytics'} %>
      </li>
    <%- end -%>
    <li class="users">
      <%= link_to_unless_current \
          raw('<span class="icon"></span>Users'),
          {:action => 'users'} %>
    </li>
    <%- if current_user && current_user.is_admin? -%>
      <li class="internal">
        <%= link_to_unless_current \
            raw('<span class="icon"></span>Internal'),
            {:controller => 'internal', :action => 'index'} %>
      </li>
    <%- end -%>
  </ul>
</div>
