<% content_for :head do %>
<%= stylesheet_link_merged 'admin-shared' %>
<title>Administration Panel | <%= CurrentDomain.strings.site_title %></title>
<% end %>

<div id="publishContent" class="oneColumnContainer tabContainer">
  <%= render :partial => 'tabs', :locals => {:active => 'theme'} %>
  <div class="fullPageContentContainer fullPageWithTabs">
    <div class="fullPageOuterContent">
      <div class="fullPageContent">
        <div class='outerContent'>
          <div class='contentTR'><div class='contentTL'></div></div>
          <div class='content' id='adminContent'>
            <h3>Site Theme</h3>

            <div class='explanation'>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
