@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.fieldset {
  border: 0;
  padding-top: 0;
  margin-bottom: 1em;
}

.tabTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 0.5em;
}

.tabSubtitle {
  display: block;
  font-size: 13px;
  color: $dark-grey-2;
  padding-bottom: 1em;
}
