<div class="admin-breadcrumb">
  <h1>
    <%= admin_nav_link_to('screens.admin.index.page_title', :controller => '/administration') %>
    <%- if content_for?(:breadcrumb) %>
      <span class="socrata-icon-arrow-right separator"></span>
      <%= yield :breadcrumb %>
    <%- end %>
    <%- if current_user.try(:is_superadmin?) -%>
      <a class="internal-link" href="<%= url_for :controller => '/internal', :action => 'index' %>">
        <i class="socrata-icon-logo"></i> <span class="internal-link-text"><%= t('screens.admin.index.internal') %></span>
      </a>
    <%- end %>
  </h1>
</div>
