@import "variables/colors";

$data-lens-blue: #288dc1;
$map-green: #218649;
$external-blue: #1c6387;;

.asset-type-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  line-height: 1;

  &::before {
    display: none;
  }

  & svg {
    width: inherit;
    height: inherit;
    vertical-align: top;

    path,
    polygon {
      fill: currentColor;
    }
  }

  &.socrata-icon-story {
    path, polygon {
      fill: $alternate-2;
    }
  }

  &.socrata-icon-date {
    path, polygon {
      fill: $alternate-3;
    }
  }

  &.socrata-icon-list-2 {
    path, polygon {
      fill: $alternate-4;
    }
  }

  &.socrata-icon-map {
    path, polygon {
      fill: $map-green;
    }
  }

  &.socrata-icon-cards {
    path, polygon {
      fill: $data-lens-blue;
    }
  }

  &.socrata-icon-bar-chart {
    path, polygon {
      fill: $alternate-1;
    }
  }

  &.socrata-icon-external-square {
    path, polygon {
      fill: $external-blue;
    }
  }
}
