@import "common/components/CreateAlertModal/index.module.scss";

.radius-slider {
  border: 1px solid $light-grey-1;
  display: inline-block;
  padding: 7px 0px 5px 5px;
  margin-bottom: 15px;

  :global {
    @import "./slider-overrides.module";
  }

  .icon-section {
    cursor: pointer;
  }

  .section {
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
    position: relative;

    span {
      display: block;
      line-height: 15px;
    }

    &.radius-section {
      width: 100px;
      height: 15px;
    }
  }
}
