<%- if show_provenance_badge_in_old_catalog?(v) -%>
  <span class="browse-listing-provenance infoItem <%= v.provenance %>">
    <%- if v.is_official? && show_official_badge_in_catalog?(v) -%>
      <span class='icon-official2'></span><%= t('angular.dataCards.lens_type.official') %>
    <%- elsif v.is_community? && show_community_badge_in_catalog?(v) -%>
      <span class='icon-community'></span><%= t('angular.dataCards.lens_type.community') %>
    <%- end -%>
  </span>
<%- end -%>
