<div class="columnOrderBlock">
  <ul class="sectionContent columnsList">
    <li class="columnItem">
      <span class="grabHandle"></span>
      <span class="icon"></span>
      <span class="name"></span>
    </li>
  </ul>
  <p><%= t('screens.ds.grid_sidebar.column_order.prompt_html') %></p>
</div>
