<table class="gridList downloadsList" cellspacing="0">
  <colgroup>
    <col class="type" />
  </colgroup>
  <thead>
    <tr>
      <th class="type" scope="col"><div><%= t('screens.ds.grid_sidebar.download.download_as') %></div><span class="icon"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr class="item">
      <td class="type" scope="row"><div class="cellInner"><a rel="external" class="noInterstitial"></a></div></td>
    </tr>
  </tbody>
</table>
