@import 'common/styleguide/variables/colors';

// Greys
$white: #fff;
$light-grey-8: #767676;
$light-grey-7: #fafafa;
$light-grey-6: #f8f8f8;
$light-grey-5: #f5f5f5;
$light-grey-4: #ebebeb;
$light-grey-3: #d6d6d6;
$light-grey-2: #c2c2c2;
$light-grey-1: #adadad;
$grey: #999;
$dark-grey-0: #aaa;
$dark-grey-1: #7a7a7a;
$dark-grey-2: #5c5c5c;
$dark-grey-3: #3d3d3d;
$black: #2c2c2c;

// Blue
$primary-base: #288dc1;
$primary-light: #eaf4f9;
$primary-text: #2279a6;
$primary-dark: #176289;

// Orange
$alternate-1-base: #e48424;
$alternate-1-light: #fcf3eb;
$alternate-1-text: #9e5c23;
$alternate-1-dark: #9e5c23;

// Teal
$alternate-2-base: #00a1af;
$alternate-2-light: #e6f6f7;
$alternate-2-text: #008a97;
$alternate-2-dark: #00717c;

// Mint
$alternate-3-base: #00bf9b;
$alternate-3-light: #e5f9f5;
$alternate-3-text: #00987c;
$alternate-3-dark: #00856d;

// Slate
$alternate-4-base: #8e98a1;
$alternate-4-light: #f4f5f6;
$alternate-4-text: #555b61;
$alternate-4-dark: #636a71;

// Yellow
$warning-base: #e7b000;
$warning-light: #fdf9ec;
$warning-text: #8b6a00;
$warning-dark: #a27c00;

// Red
$error-base: #d06463;
$error-light: #faf0f0;
$error-text: #b35655;
$error-dark: #914646;

// Green
$success-base: #20b05c;
$success-light: #eaf7ef;
$success-text: #1c974f;
$success-dark: #177b41;
