$feed_ui_color: #b3b3b3;

.feed {
  .feedFilterLine {
    float: left;
    line-height: 2.5em;
    .text {
      font-size: 1.2em;
    }
  }
  .feedNewCommentButton {
    float: right;
    margin-top: -0.1em;
    margin-bottom: 1em;
  }
  .moderationNotice {
    clear: both;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
  }
  ul.feedList {
    clear: both;
    margin-top: 1.5em;
    > li {
      border-top: 1px solid $feed_ui_color;
      padding: 1em 0.2em;
      position: relative;
      &:first-child {
        border-top: none;
      }
      .feedCommon {
        @include sprite-feed-icons;
        margin-bottom: 0.3em;
        .icon {
          float: left;
          margin-right: 0.2em;
        }
        .feedActor {
          font-size: 1.2em;
          font-weight: bold;
          margin-right: 0.2em;
        }
        .feedBody {
          color: #333;
          font-size: 1.2em;
          line-height: 1.3em;
        }
      }
      .feedTimestamp {
        color: $feed_ui_color;
        font-size: 1.1em;
      }
      .feedCustom, .feedChildren {
        border-left: 2px solid $feed_ui_color;
        margin: 0.3em 0;
        padding: 0.2em 0.5em;
      }
      .feedChildren {
        margin: 0.3em 0;
        > li {
          margin-top: 1em;
          &:first-child {
            margin-top: 0;
          }
          .feedCommon .icon {
            display: none;
          }
        }
        .feedChildren, .replyViewAllLink {
          display: none;
        }
      }
      // type specific styles
      &.comment {
        .feedCustom {
          border-left: none;
          padding: 0.2em 0;
          .commentActions {
            li a {
              color: #888;
            }
            .actionReply, .actionInappropriate, .actionDelete {
              float: left;
              margin-right: 1em;
            }
            .actionDelete {
              display: none;
            }
            .rateDown, .rateUp, .downRatings, .upRatings {
              float: right;
              margin-left: 0.5em;
            }
            .rateUp, .rateDown {
              @include sprite-menu-icons;
            }
            &.ownItem {
              .actionInappropriate, .rateDown, .rateUp {
                display: none;
              }
              .actionDelete {
                display: block;
              }
            }
            &.isModerator {
              .actionDelete {
                display: block;
              }
            }
          }
        }
      }
      &.view {
        .feedCustom {
          min-height: 3em;
        }
        .feedChildren, .replyViewAllLink {
          display: none;
        }
        .viewDetails {
          @include sprite-type-icons-30;
          position: relative;
          .icon {
            left: 0;
            position: absolute;
          }
          .viewName {
            display: block;
            font-size: 1.2em;
            font-weight: bold;
            margin-left: 3em;
          }
          .viewDescription {
            color: #666;
            font-size: 1.2em;
            line-height: 1.3em;
            max-height: 2.6em;
            margin-left: 3em;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .specialFeedItem {
      background: url("/stylesheets/images/interface/owner_background.png") repeat-x;
    }
    .itemDeleted {
      @include opacity(0.3);
    }
  }
  .newCommentForm {
    clear: both;
    margin: 2em 0.5em 1em;
    label {
      display: block;
      font-size: 1.1em;
      font-weight: bold;
      padding: 0 {
        bottom: 0.2em;
      };
    }
    textarea {
      display: block;
      margin-bottom: 1em;
      width: 100%;
    }
    .error {
      color: red;
      display: none;
      font-size: 1.1em;
      margin: 0.2em 0;
    }
  }
  .noResults {
    color: #999999;
    display: block;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
  }
}
