@mixin header-color($c, $dark: false, $bold: false) {
  @if $bold == true {
    background-color: scale-color($c, $saturation: -40%);
    border-color: scale-color($c, $saturation: -20%);
    color: #ffffff;
  }
  @else if $dark == true {
    background-color: scale-color($c, $saturation: +90%, $lightness: +90%);
    border-color: scale-color($c, $saturation: +60%, $lightness: +70%);
  }
  @else {
    background-color: scale-color($c, $lightness: +70%);
    border-color: scale-color($c, $lightness: +20%);
  }
  &.selected {
    background-color: $c;
  }
}

@mixin sidebar-colors($c, $dark: false) {
  .mainTitleBlock {
    background-color: $c;
  }
  .headerLink {
    @include header-color($c, $dark);
  }
}

.hideValidation {
  display: none !important;
}

/**
 * EN-18335 - Update and refactor grid view CSS
 *
 * The addition of the 'new' grid view led to a lot of CSS rule collisions and
 * confusing, unintended inheritance. After a while Giacomo Ferrari suggested
 * that we just add a class to the body that would contain either the entirety
 * of the old styles or the entirety of the new ones, and use it as a toggle.
 *
 * This was a very, very good idea.
 *
 * The 'classic' styles are now all under the '.grid-view-classic' class on the
 * body, and the updated ones are under the '.grid-view-2017-refresh' class.
 */
body.grid-view-classic {

  #gridSidebar {
    background-color: $color_chrome_sidebar_background;
    border: 0 solid $color_chrome_box_border;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 30em;
    &.position-left {
      border-right-width: 1px;
    }
    &.position-right {
      border-left-width: 1px;
    }
    .close {
      @include sprite-button-icons;
      position: absolute;
      right: 0.5em;
      top: 0.7em;
      z-index: 1;
    }
    .ui-resizable-w {
      left: 0;
      width: 4px;
    }
    .paneOverlay {
      background-color: #cccccc;
      height: 100%;
      left: 0;
      filter: alpha(opacity = 30);
      opacity: 0.3;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 60;
    }
    .loadingSpinnerContainer {
      top: 33%;
    }
    .outerPane {
      @include sidebar-colors($sidebar_default_tab_color_top);
      .mainTitleBlock {
        padding: 0.5em 1em;
        .title {
          color: #ffffff;
          font-size: 1.3em;
          text-transform: none;
        }
      }
      .headerLink {
        @include sprite-accordion-icons;
        border: 1px solid {
          left: 0;
          right: 0;
        };
        color: #333333;
        display: block;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0.25em;
        padding: 0.5em 0.75em;
        &.selected {
          border: none;
          color: #ffffff;
          cursor: default;
          margin-bottom: 0;
        }
        &.disabled {
          color: #999999;
          cursor: default;
          .icon {
            visibility: hidden;
          }
        }
        .icon {
          float: right;
        }
      }
      &#gridSidebar_outer_edit {
        @include sidebar-colors($sidebar_edit_tab_color_top);
      }
      &#gridSidebar_outer_moreViews {
        @include sidebar-colors($sidebar_more_views_tab_color_top);
      }
      &#gridSidebar_outer_filter {
        @include sidebar-colors($sidebar_filter_tab_color_top, true);
      }
      &#gridSidebar_outer_visualize {
        @include sidebar-colors($sidebar_visualize_tab_color_top, true);
      }
      &#gridSidebar_outer_export {
        @include sidebar-colors($sidebar_export_tab_color_top);
      }
      &#gridSidebar_outer_feed {
        @include sidebar-colors($sidebar_feed_tab_color_top);
      }
      &#gridSidebar_outer_embed {
        @include sidebar-colors($sidebar_embed_tab_color_top);
      }
      &#gridSidebar_outer_about {
        @include sidebar-colors($sidebar_about_tab_color_top);
      }
      &#gridSidebar_outer_manage {
        @include sidebar-colors($sidebar_manage_tab_color_top);
      }
      // publisher tabs
      &#gridSidebar_outer_metadata {
        @include sidebar-colors($sidebar_metadata_tab_color_top);
      }
      &#gridSidebar_outer_appearance {
        @include sidebar-colors($sidebar_appearance_tab_color_top);
      }
      &#gridSidebar_outer_behavior {
        @include sidebar-colors($sidebar_behavior_tab_color_top);
      }
      &#gridSidebar_outer_advanced {
        @include sidebar-colors($sidebar_advanced_tab_color_top);
      }
      // story customizer tabs
      &#gridSidebar_outer_textbox {
        @include sidebar-colors($sidebar_textbox_tab_color_top);
      }
      &#gridSidebar_outer_pager {
        @include sidebar-colors($sidebar_pager_tab_color_top);
      }
      &#gridSidebar_outer_other {
        @include sidebar-colors($sidebar_other_tab_color_top);
      }
      // Canvas Designer
      &#gridSidebar_outer_components {
        @include sidebar-colors($sidebar_designer_components_tab_color_tab);
        .headerLink.componentPaletteInput {
          @include header-color($designer_components_input_color, false, true);
        }
        .headerLink.componentPaletteActions {
          @include header-color($designer_components_actions_color, false, true);
        }
        .headerLink.componentPaletteData {
          @include header-color($designer_components_data_color, false, true);
        }
        .headerLink.componentPaletteContent {
          @include header-color($designer_components_content_color, false, true);
        }
      }
      &#gridSidebar_outer_configuration {
        @include sidebar-colors($sidebar_designer_configuration_tab_color_tab);
      }
      .panes {
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
      }
    }
  }

  // sidebar button styles
  #sidebarOptions, #moreActionBarButtons {
    background-image: url(/stylesheets/images/interface/dataset_sidebar_fade.png);
    background-image: -moz-linear-gradient(0 0 270deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), -moz-linear-gradient(0 0 0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0.7))), -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background-repeat: no-repeat;
    float: right;
    padding: 0.2em 0.6em 0.4em 10em;
    li {
      float: left;
      margin-left: 0.6em;
      position: relative;
      a {
        @include dataset-sidebar-icons;
        @include border-radius(0.35em);
        color: #fff;
        display: block;
        font-size: 0.9em;
        height: 13px;
        line-height: 13px;
        padding: 0.4em 0.7em 0.5em;
        .icon {
          display: inline-block;
          margin-right: 0.4em;
          vertical-align: bottom;
        }
      }
      &.active {
        margin: -2px {
          left: 0.4em;
        };
        a {
          border: 2px solid #fff;
          // Chrome can't handle the larger border
          border-radius: 0.1em;
        }
      }
    }
  }

  .position-left {
    #sidebarOptions, #moreActionBarButtons {
      background-image: url(/stylesheets/images/interface/dataset_sidebar_fade_left.png?1);
      background-image: -moz-linear-gradient(0 0 270deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), -moz-linear-gradient(right 0 180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0.7))), -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
      background-position: right top;
      float: left;
      padding: {
        left: 0.6em;
        right: 10em;
      };
      li {
        margin: {
          left: 0;
          right: 0.6em;
        };
      }
    }
  }
}

/**
 * EN-18335 - Update and refactor grid view CSS
 *
 * The addition of the 'new' grid view led to a lot of CSS rule collisions and
 * confusing, unintended inheritance. After a while Giacomo Ferrari suggested
 * that we just add a class to the body that would contain either the entirety
 * of the old styles or the entirety of the new ones, and use it as a toggle.
 *
 * This was a very, very good idea.
 *
 * The 'classic' styles are now all under the '.grid-view-classic' class on the
 * body, and the updated ones are under the '.grid-view-2017-refresh' class.
 */
body.grid-view-2017-refresh {

  #gridSidebar {
    position: absolute;
    top: 0;
    width: 26em;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 15px !important;
    background-color: #f8f8f8;
    border: 0 solid #ccc;
    box-shadow: 8px 0 -30px #5e5e5e;

    .outerPane {
      border-left: 1px solid #cecece;
    }

    .close {
      position: absolute;
      right: 0.5em;
      top: 0.7em;
      z-index: 1;

      .icon {
        display: block;
        width: 10px;
        height: 10px;
        text-align: left;
        text-indent: -9999px;
        background-color: transparent;
        background-image: url(/stylesheets/images/icons/button_icons.png?1);
        background-position: 0 -50px;
        background-repeat: no-repeat;
      }
    }

    .paneOverlay {
      background-color: #cccccc;
      height: 100%;
      left: 0;
      filter: alpha(opacity = 30);
      opacity: 0.3;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 60;
    }

    .loadingSpinnerContainer {
      top: 33%;
    }

    /**
     * General layout
     */
    .outerPane {

      .mainTitleBlock {
        padding: 0.5em 1em;

        .title {
          color: #fff;
          font-size: 15px;
          font-weight: 200;
          letter-spacing: -0.3px;
          text-transform: none;
        }
      }

      /**
       * Headings
       */
      h3 {
        font-size: 15px !important;
        font-weight: 400 !important;
      }

      h4.formHeader {
        font-size: 18px !important;
      }

      div.formHeader {
        font-size: 15px !important;
        font-weight: 400 !important;
      }

      /**
       * Buttons
       */
      .button {
        display: inline-block;
        margin: 0;
        padding: 11px 15px;
        width: 100%;
        height: auto;
        color: #5e5e5e !important;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.25em;
        text-align: center;
        letter-spacing: 0;
        text-decoration: none !important;
        text-shadow: none;
        background: #f1f1f1;
        border: 1px solid #c8c8c8;
        border-radius: 1px;
        box-sizing: border-box;
        transition: color 0.2s, background-color 0.2s;

        &.submit,
        &.saveEditedFilter {
          color: #fff !important;
          background: #2279a6;

          &:hover,
          &:focus,
          &:active {
            background: #176289;
            box-shadow: none;
          }
        }

        &.saveEditedFilter,
        &.discardEditedFilter,
        .postNewCommentButton,
        .cancelNewCommentButton {
          width: 40%;
        }

        &.disabled {
          color: #c8c8c8 !important;
          background-color: #f6f6f6 !important;
          border-color: #e4e4e4 !important;
          cursor: not-allowed;
        }

        &:hover,
        &:focus,
        &:active {
          color: #5e5e5e;
          background: #e4e4e4;
          box-shadow: none;
        }
      }

      .actionButtons {

        li {
          margin-right: 1em;

          &:last-child {
            margin-right: 0;
          }
        }

        &.finishButtons {

          li {
            float: right !important;
            margin-left: 12px;
            margin-right: 0;
          }
        }
      }

      .fullButton {
        width: 50%;
        font-size: 16px;
      }

      .columnSelector {
        display: none;
      }

      /**
       * Sorting menus (e.g. the on the 'More Views' pane that allows users to sort snapshots and views)
       */
      .menu {

        .menuDropdown {
          border: 1px solid #c8c8c8;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;

          .menuColumns {
            margin: 0;

            .menuEntries {
              padding: 0;

              .menuEntry {

                a {
                  color: #5e5e5e;
                  font-size: 13px;
                  line-height: 18.5px;
                  border: none !important;

                  &:hover,
                  &:focus,
                  &:active,
                  &:visited {
                    color: #5e5e5e;
                  }

                  &:hover {
                    border-color: none !important;
                  }
                }

                &.divider {
                  margin-top: 0;
                  padding-top: 0;
                  border-top: 1px solid #c8c8c8;
                }
              }
            }
          }
        }
      }

      /**
       * Form controls
       */
      .uniform.selector {
        height: 36px;
        font-size: 15px;
        line-height: 1.2em;
        background: none !important;

        .container {
          background: none;
          opacity: 0;
        }

        select {
          display: block;
          height: 36px !important;
          color: #5e5e5e !important;
          font-family: 'Open Sans', sans-serif !important;
          font-size: 13px !important;
          font-weight: 400 !important;
          background-color: #fff !important;
          border: 1px solid #ccc !important;
          border-radius: 5px !important;
          box-sizing: border-box !important;
          opacity: 1 !important;
        }

        &.disabled {

          select {
            color: #c8c8c8 !important;
            background-color: #f6f6f6 !important;
            border-color: #e4e4e4 !important;
            cursor: not-allowed;
          }
        }
      }

      .uniform.checker,
      .uniform.radio {
        position: relative !important;
        float: left !important;
        margin: 0 8px 0 0 !important;
        padding: 0 !important;

        span {
          background: none !important;

          input {
            margin: 0;
            width: auto;
            height: auto;
            line-height: 1.25em;
            opacity: 1 !important;
          }
        }

        &.disabled {

          span {

            input[type="radio"] {
              opacity: 0 !important;
            }
          }
        }
      }

      .required {
        margin: 0 0 15px 0;
        padding: 0;
        font-size: 15px;
        font-weight: 200;
        line-height: 18.5px;

        &:before {
          font-size: 12px;
        }
      }

      .ui-slider {

        .ui-slider-handle {
          background: #f1f1f1 !important;
          border: 1px solid #c8c8c8 !important;

          &:hover,
          &:focus,
          &:active {
            background: #e4e4e4 !important;
            box-shadow: none !important;
          }
        }
      }

      /**
       * Form layout
       */
      .formSection {

        label {
          margin: 4px 0 4px 4px;
          max-width: 90%;
          font-size: 15px !important;
          line-height: 15px !important;
          font-weight: 400 !important;
          color: #767676 !important;
          overflow: visible !important;

          &.formHeader {
            color: #474747 !important;
          }
        }

        .sectionContent {
          padding: 8px 15px;
          background: #f7f7f7 !important;
          border: 1px solid #cecece;
          border-radius: 1px !important;

          p {
            color: #767676 !important;
            font-size: 15px;
            line-height: 1.25em;

            a {
              color: #767676 !important;
              font-size: 15px !important;
              text-decoration: underline;

              &.button {
                display: inline-block;
                margin: 0;
                padding: 11px 15px;
                width: 100%;
                height: auto;
                color: #5e5e5e !important;
                font-size: 15px;
                font-weight: normal;
                line-height: 1.25em;
                text-align: center;
                letter-spacing: 0;
                text-decoration: none !important;
                text-shadow: none;
                background: #f1f1f1;
                border: 1px solid #c8c8c8;
                border-radius: 1px;
                box-sizing: border-box;
                transition: color 0.2s, background-color 0.2s;

                &:hover,
                &:focus,
                &:active {
                  color: #5e5e5e;
                  background: #e4e4e4;
                  box-shadow: none;
                }
              }
            }
          }

          dl {
            background-color: #fff !important;
            border-radius: 1px;

            dt, dd {
              font-size: 12px;
            }

            dt {
              padding: 1em 1em 1em 0;
              width: 38%;
              font-weight: 600;
              line-height: 15px;
              text-overflow: ellipsis;

              &.widenedItem {
                text-align: left;
              }

              &:first-child {
                padding-top: 0;
              }
            }

            dd {
              padding: 1em 0 1em 40%;
              width: 60%;
              min-height: 15px;
              font-weight: 400;
              line-height: 15px;
              word-break: break-all;
              overflow: visible;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }

          .textWrapper {
            margin: 0;
            padding: 0;

            input {
              width: 100%;
              left: 0;
              top: 0;
              font-size: 15px;
              line-height: 18.5px;
              background: none !important;

              &[type="text"] {
                background: #fff !important;
              }
            }
          }

          .line {
            margin: 0;
            padding: 4px 0;
            min-height: auto !important;
            line-height: normal !important;

            label {
              position: relative !important;
              display: inline-block !important;
              margin: 0 0 0.5em 0 !important;
              padding: 0 !important;
              width: auto !important;
              top: 0 !important;
              right: 0 !important;
              bottom: 0 !important;
              left: 0 !important;
              line-height: normal !important;
              background: none !important;

              &.required {
                margin-left: 12px !important;

                &:before {
                  position: absolute;
                  left: -10px;
                  top: 2px;
                  font-size: 12px;
                }
              }
            }

            .error {
              margin: 0;
              padding: 0;
              font-size: 15px;
              font-weight: 200;
              line-height: 1.25em;
            }

            .line {

              &.columnSelect {

                .removeLink {
                  position: relative;
                  display: inline-block;
                  margin: 0 8px 0 4px;
                  padding: 4px;
                  left: 0;
                  top: 0;
                  font-size: 15px;
                  line-height: 18.5px;
                }
              }

              &.group {

                .removeLink {
                  left: 0;
                  top: 13px;
                }

                label {
                  padding: 6px 0 0px 26px !important;
                }

                .line.radioGroup {

                  .radioLine {
                    margin-bottom: 1em;

                    label {
                      margin: -1px 0 0 -1px !important;
                      padding: 0 !important;
                    }
                  }
                }
              }
            }

            .inputWrapper,
            .filterValueEditor {

              input {
                margin: 0 0 4px 0;
                padding: 0.5em;
                color: #5e5e5e;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                font-weight: 400 !important;
                border-radius: 1px;
                box-shadow: none;
                box-sizing: border-box;

                &.sliderInput {
                  margin: -2px 0 4px 0 !important;
                  padding: 0 !important;
                }

                &:hover,
                &:focus,
                &:active {
                  box-shadow: none !important;
                }

                &.prompt {
                  color: #c4c4c4;
                }
              }
            }

            .button.addValue.add {
              margin: 8px 0 0 8px;
              max-width: fit-content;
            }

            &.inputFirst {

              label {
                line-height: 16px;
              }
            }

            &.static {

              .inputWrapper {

                span {
                  color: #5e5e5e;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 15px;
                  font-weight: 400 !important;
                  border-radius: 1px;
                }
              }
            }

            &.columnSelect {

              .inputWrapper {
                padding-left: 10.2em;
              }
            }

            &.note {

              .inputWrapper {
                margin: 0 0 12px 0 !important;
                padding-left: 0 !important;

                span {
                  margin: 0 0 12px 0 !important;
                  padding: 0 !important;
                  color: #5e5e5e !important;
                  font-size: 15px !important;
                  font-weight: 600 !important;
                }
              }
            }
          }
        }
      }

      /**
       * Pane content
       */
      &#gridSidebar_outer_edit,
      &#gridSidebar_outer_manage,
      &#gridSidebar_outer_moreViews,
      &#gridSidebar_outer_filter,
      &#gridSidebar_outer_visualize,
      &#gridSidebar_outer_export,
      &#gridSidebar_outer_feed,
      &#gridSidebar_outer_embed,
      &#gridSidebar_outer_about {

        .panes {
          position: relative;
          overflow-x: hidden;
          overflow-y: scroll;

          .headerLink {
            @include sprite-accordion-icons;

            display: block;
            margin: 0;
            padding: 15px;
            color: #474747;
            font-size: 15px;
            font-weight: normal;
            line-height: 18.5px;
            background-color: #f1f1f1;
            border: none;
            border-bottom: solid 1px #ccc;

            &.selected {
              color: #474747;
              background-color: #ccc;

              & + .controlPane {
                background-color: #eee;
                border-bottom: solid 1px #c8c8c8;
              }
            }

            &.disabled {
              color: #999999;
              cursor: default;

              .icon {
                visibility: hidden;
              }
            }

            .icon {
              float: right;
            }

            &:hover {
              color: #474747;
              background-color: #e4e4e4;
            }

            &:focus,
            &:active {
              text-decoration: none !important;
            }
          }

          .controlPane {
            padding-bottom: 16px !important;
            min-height: 0 !important;
            font-size: 1em !important;

            p {
              color: #474747 !important;
              font-size: 15px !important;
              font-weight: 200 !important;
              line-height: 1.25em !important;
              text-shadow: none !important;

              a {
                color: #474747 !important;
                font-size: 15px !important;
                text-decoration: underline;
              }
            }

            .subtitleBlock {
              padding: 8px 15px;

              .subtitle {
                font-weight: 200 !important;

                strong {
                  color: #474747 !important;
                  font-family: 'Open Sans', sans-serif !important;
                  font-weight: 400 !important;
                }
              }
            }
          }
        }
      }


      /**
       * Edit pane overrides
       */
      &#gridSidebar_outer_edit {

        .mainTitleBlock {
          background-color: #ffcd1a !important;
        }
      }

      /**
       * Manage pane overrides
       */
      &#gridSidebar_outer_manage {

        .mainTitleBlock {
          background-color: #b8864b !important;
        }

        .columnOrder {

          .custom {

            label {
              display: none;
            }

            .columnOrderBlock {

              .columnsList {
                background: #fff !important;

                .columnItem {
                  font-size: 10px;
                  line-height: 18.5px;
                }
              }

              p {
                margin-top: 1em;

                strong {
                  font-weight: 400;

                }
              }
            }
          }
        }
      }

      /**
       * More views pane overrides
       */
      &#gridSidebar_outer_moreViews {

        .mainTitleBlock {
          background-color: #ed77e6 !important;
        }

        .sortMenu,
        .showMenu {

          .menuButton {
            font-size: 15px !important;
            font-weight: 400 !important;
            line-height: 1.25em !important;
          }

          .menuDropdown {

            .menuColumns {

              .menuColumn {

                .menuEntries {

                  .menuEntry {

                    .contents {
                      font-size: 15px !important;
                    }

                    .subtext {
                      font-size: 12px !important;
                    }
                  }
                }
              }
            }
          }
        }

        .searchWrapper {

          input {
            margin: 0 0 4px 0;
            padding: 8px;
            color: #5e5e5e;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 400 !important;
            border-radius: 1px;
            box-shadow: none;
            box-sizing: border-box;

            &:hover,
            &:focus,
            &:active {
              box-shadow: none !important;
            }

            &.prompt {
              color: #c4c4c4;
            }
          }
        }

        .emptyResult {
          font-size: 15px !important;
          font-weight: 400 !important;
          font-style: normal !important;
        }

        .itemsList {

          .viewItem {

            .nameLink {
              display: inline-block;
              width: 80%;

              .pubDate {
                margin-bottom: 8px;
                font-size: 15px;
                font-weight: 400;
              }

              .name {
                margin: 0;
                padding: 0;
                font-size: 15px;
                font-weight: 400;
              }
            }

            .authorLine {
              display: inline-block;
              width: 80%;
              font-size: 12px;
              line-height: 15px;
            }
            .description {
              width: 95%;
              font-size: 12px;
              font-weight: 400;
              line-height: 14px;
            }

            .deleteViewLink {
              top: 8px;
              right: 8px;
              bottom: auto;
              left: auto;
            }

            .expand {
              top: 50px;
              right: 8px;
              bottom: auto;
              left: auto;
            }

            &.ownerItem {
              background: rgba(255,255,0,0.075);
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      /**
       * Filter pane overrides
       */
      &#gridSidebar_outer_filter {

        .mainTitleBlock {
          background-color: #3e91ce !important;
        }

        .conditionalFormatting {

          .conditionGroup {
            margin: 0;
            padding-bottom: 0.5em;

            .radioBlock {
              margin: 11px 0 0 0 !important;
            }

            .textWrapper {

              input {
                margin: 0.5em 0 0 1.7em;
                width: 88%;
                color: #5e5e5e;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px !important;
                font-weight: 200 !important;
                line-height: 1.25em !important;
                border-radius: 1px;
              }
            }
          }
        }

        .unifiedFilter {

          .mainFilterOptionsMenu {

            .filterOptionsMenuButton {
              position: absolute;
              right: 26px;
              top: 26px;
            }
          }

          .advancedStateLine {
            color: #767676 !important;
            font-size: 15px;
            line-height: 1.25em;
          }

          .initialFilterMode,
          .normalFilterMode,
          .tutorialSection,
          .editFilterBlock {
            padding: 0;

            .filterConditions {
              margin-top: 1.5em;

              .filterCondition {
                padding: 8px 15px 24px 15px;

                .filterHeadline {
                  margin: 0 0 1em 0;
                  padding: 0;

                  .filterLink {
                    font-size: 15px !important;
                    font-weight: 400 !important;
                    line-height: 1.25em !important;
                  }
                }

                .filterValues {

                  .line {
                    margin: 0;
                    padding: 0 0 0 2em;
                    min-height: auto;

                    .conjunction {
                      margin-top: 7px;
                      font-size: 15px !important;
                      font-weight: 200 !important;
                      line-height: 1.25em !important;
                    }
                  }
                }

                .filterOptionsLabel {
                  font-size: 12px;
                  right: 24px;
                  bottom: 7px;
                }

                &:hover {
                  background-color: #fafafa !important;
                }
              }
            }
          }

          .tutorialSection {

            p {
              margin: 1em 0;
            }
          }

          .editFilterBlock {

            .editModeMessage {
              margin: 0;
              padding: 1em;
            }
          }
        }
      }

      /**
       * Visualize pane overrides
       */
      &#gridSidebar_outer_visualize {

        .mainTitleBlock {
          background-color: #36a572 !important;
        }

        div.controlPane {

          .columnSelector {
            display: none !important;
          }

          &.mapCreate {

            .removeLink + .inputBlock {

              .customWrapper {
                color: #5e5e5e !important;
                font-weight: 200 !important;

                span.edit {
                  color: #2c97de !important;

                  &:hover,
                  &:focus,
                  &:active,
                  &:visited {
                    color: #2c97de !important;
                  }
                }
              }
            }

            [id*=alias] {
              float: right;
              margin: 0 5px 0 15px;
              width: 159px;
            }
          }

          &.chart_create {
            margin-top: 0 !important;

            .formSection {

              .formHeader {
                margin: 0 !important;
                width: 327px !important;
                max-width: none !important;
                background-color: #c2c2c2 !important;
              }

              label {
                display: block !important;
              }

              .option-icons {
                display: inline-block;

                .radioLine {
                  position: relative !important;
                  display: block !important;
                  float: left !important;
                  margin: 0 !important;
                  padding: 0 !important;
                }

                & {
                  display: block;
                }

                &:after {
                  clear: both;
                  content: ".";
                  display: block;
                  height: 0;
                  visibility: hidden;
                }
              }

              &.sectionSubheading {
                margin: 0 !important;
                background-color: #c2c2c2 !important;

                .formHeader {
                  color: #fff !important;
                  border: 1px solid #cecece !important;
                  opacity: 1 !important;

                  .formHeaderIcon {
                    margin: 7px 10px 0 -3px !important;
                  }

                  .currentSelection {
                    margin-right: -4px !important;

                    .selectionName {
                      font-size: 14px !important;
                      line-height: 17px !important;
                      color: #f8f8f8 !important;
                    }

                    .selectionIcon {
                      padding-bottom: 2px !important;
                    }
                  }
                }

                .sectionContent {
                  margin-top: 0 !important;

                  .subsection {
                    margin: 0 !important;
                    padding: 0 !important;

                    .dataSeriesGrouping,
                    .errorBar {

                      label {
                        margin-right: 15px !important;
                        width: auto !important;
                      }

                      .columnSelect {

                        .inputWrapper {
                          padding-left: 0 !important;
                        }
                      }
                    }

                    &.errorBars {
                      padding-top: 15px !important;

                      .inputWrapper {
                        margin: 0 !important;
                        padding: 0 !important;
                      }
                    }

                    & > .line.note {
                      margin: 0 !important;
                      padding: 0 !important;
                      color: #767676 !important;
                      font-family: 'Open Sans', sans-serif !important;
                      font-size: 15px !important;
                      font-weight: 400 !important;
                      line-height: 18.5px !important;
                    }

                    &.dsg {

                      .columnSelect.repeaterAdded {
                        width: 100% !important;
                      }
                    }
                  }

                  .colorCollapse {
                    z-index: 2;
                  }

                  .colorArray {

                    label {
                      float: none !important;
                    }

                    .color {

                      .removeLink {
                        top: 5px !important;
                        right: 24px !important;
                        bottom: auto !important;
                        left: auto !important;
                      }
                    }

                    .colorCollapse {

                      .inputWrapper {
                        padding: 0 !important;
                      }
                    }

                    .addValue {
                      position: absolute !important;
                      top: 1px !important;
                      right: 0 !important;
                      bottom: auto !important;
                      left: auto !important;
                      padding: 0 !important;
                      background-color: transparent !important;
                      border: none !important;
                    }
                  }

                  .line {

                    .inputWrapper {
                      padding: 0 !important;
                    }

                    .inputFirst {

                      label {
                        left: 24px !important;
                      }
                    }

                    label {

                      &:empty {
                        margin: 0 !important;
                      }
                    }

                    &.group {
                      padding: 0 !important;
                    }

                    &.hasIcon {

                      .line.repeaterAdded {

                        label {
                          display: inline-block !important;
                          width: auto !important;
                        }

                        .inputWrapper {
                          padding-left: 36px !important;
                        }
                      }

                      .inputWrapper {
                        padding: 0 !important;
                      }
                    }

                    &.advLegendCheck {

                      label {
                        padding-left: 0
                      }
                    }

                    &.flyout {

                      .columnSelect {

                        label {
                          padding: 6px 0 0 0 !important;
                        }
                      }

                      .repeaterAdded {

                        .columnSelect {

                          label {
                            padding: 6px 0 0 36px !important;
                          }
                        }
                      }

                      & + .lineIcon {
                        margin-top: 20px !important;
                      }
                    }

                    &.radioGroup {

                      .radioBlock {
                        padding: 0 0 0 120px !important;

                        .radioLine {

                          [for*=yAxis] {

                            .inputWrapper {
                              display: inline-block !important;
                              padding: 0 !important;
                              width: 150px !important;
                            }
                          }
                        }

                        &.option-icons {
                          padding: 0 !important;
                        }
                      }
                    }

                    &.checkbox {

                      .checker {
                        padding-left: 36px !important;
                      }

                      &.inputFirst {

                        .checker {
                          padding-left: 0 !important;
                        }
                      }
                    }

                    & > * {
                      margin-right: 0 !important;
                    }
                  }

                  .lineIcon {
                    background-color: #288dc1 !important;
                    border: 1px solid #c2c2c2 !important;
                  }

                  .labelInBar,
                  .valueInBar {
                    position: relative !important;
                    display: inline-block !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    width: 75% !important;

                    .inputWrapper {
                      display: inline-block !important;
                      padding: 0 !important;

                      .uniform.checker {
                        position: relative !important;
                      }
                    }

                    & + .lineIcon {
                      position: relative !important;
                      display: inline-block !important;
                      margin: 0 !important;
                      padding: 0 !important;
                    }
                  }

                  .labelInBar + .lineIcon {
                    margin-bottom: 15px !important;
                  }

                  .line.note.flash,
                  .line.note.warning {

                    .inputWrapper {
                      margin: 0 !important;
                      padding: 8px !important;

                      .inputItem {
                        font-weight: 400 !important;
                      }
                    }
                  }

                  .autoSortButton {

                    .inputWrapper {
                      padding: 0 !important;
                    }
                  }
                }

                &.collapsed {

                  .formHeaderIcon {
                    margin: 4px 7px 0 0 !important;
                  }
                }

                & > .checker {
                  position: absolute !important;
                }
              }

              &.chartTypeSelection {

                .radioGroup {

                  & > label {
                    display: none !important;
                  }

                  .option-icons {

                    .radioLine {
                      margin: 0 15px 60px 15px !important;

                      .checked {
                        width: 50px !important;
                        height: 50px !important;
                        border: 2px solid #288dc1 !important;
                        border-radius: 9px !important;
                      }

                      label {
                        float: none !important;
                        margin: 0 !important;
                        width: 48px !important;
                        max-width: 48px !important;
                        background-color: #c2c2c2 !important;
                        background-image: url(/stylesheets/images/component/cf-icons.png?2) !important;
                        background-repeat: no-repeat !important;
                        border: 1px solid #999 !important;
                        opacity: 1 !important;

                        .inputWrapper > span {
                          margin: 48px 0 0 -18px !important;
                          padding: 0 !important;
                          width: 80px !important;
                          color: #5e5e5e !important;
                          font-size: 12px !important;
                          line-height: 15px !important;
                          text-align: center !important;
                        }

                        &:hover,
                        &:focus,
                        &:active {
                          background-color: #adadad !important;
                          opacity: 1 !important;
                        }
                      }

                      &.column > label {
                        background-position: 0 -352px !important;
                      }

                      &.stackedcolumn > label {
                        background-position: 0 -1760px !important;
                      }

                      &.bar > label {
                        background-position: 0 -1672px !important;
                      }

                      &.stackedbar > label {
                        background-position: 0 -1716px !important;
                      }

                      &.pie > label {
                        background-position: 0 -484px !important;
                      }

                      &.donut > label {
                        background-position: 0 -1628px !important;
                      }

                      &.line > label {
                        background-position: 0 -396px !important;
                      }

                      &.area > label {
                        background-position: 0 -1804px !important;
                      }

                      &.timeline > label {
                        background-position: 0 -1848px !important;
                      }

                      &.bubble > label {
                        background-position: 0 -572px !important;
                      }

                      &.treemap > label {
                        background-position: 0 -1892px !important;
                      }
                    }
                  }
                }
              }

              &.sectionHeading {
                background-color: transparent !important;

                .formHeader {
                  background-color: transparent !important;
                }
              }
            }
          }
        }
      }

      /**
       * Export pane overrides
       */
      &#gridSidebar_outer_export {

        .mainTitleBlock {
          background-color: #8ae8ff !important;
        }

        .sectionContent {
          border-radius: 1px;
        }

        .apiContentWrapper,
        .odataContentWrapper {
          background: #f7f7f7 !important;

          .apiEndpointWrapper,
          .odataEndpointWrapper {
            margin: 8px 0 12px 0;
            padding: 8px;
            font-size: 12px;

            input {
              width: 97.5%;
              color: #5e5e5e;
              font-family: 'Open Sans', sans-serif;
              font-weight: 300;
              border-radius: 1px;
              box-shadow: none;
              cursor: text;
            }
          }
        }

        .downloadsSectionContent {
          margin: 0;
          padding: 0;

          .downloadsTable {

            .gridListWrapper {
              font-family: 'Open Sans', sans-serif;
              font-size: 12px !important;
              font-weight: 400 !important;
              border-radius: 0;

              table {

                thead {

                  tr {

                    th {
                      background: #c8c8c8;
                      border-radius: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      /**
       * Discuss pane overrides
       */
      &#gridSidebar_outer_feed {

        .mainTitleBlock {
          background-color: #ffa733 !important;
        }

        .feedFilterLine {
          position: relative;
          display: block;
          float: none;
          margin: 0 0 0.5em 0;
          font-size: 15px;
          line-height: 2em;

          .text {
            margin-right: 0.5em;
            color: #474747 !important;
            font-size: 15px !important;
            line-height: 15px !important;
            font-weight: 400 !important;
          }

          .selector.uniform {
            top: 4px;
          }
        }

        .feedNewCommentButton {
          float: none;
          margin: 0.5em 0;
        }

        .newCommentForm {
          position: relative;
          display: block;
          float: none;
          margin: 0.5em 0;

          label {
            margin: 0;
            padding: 8px 0;
            font-size: 15px !important;
            line-height: 30px !important;
          }

          textarea {
            margin: 0 0 4px 0;
            padding: 0.5em;
            color: #5e5e5e;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 400 !important;
            border-radius: 1px;
            box-shadow: none;
            box-sizing: border-box;
            resize: vertical;

            &:hover,
            &:focus,
            &:active {
              box-shadow: none !important;
            }
          }

          .button {
            width: 40%;
          }
        }

        .feedList {
          margin: 1em 0 0.5em 0;

          .feedItem {
            margin: 0.5em 0;
            padding: 1em;
            background: #f7f7f7;
            border: 1px solid #c7c7c7;

            .feedCommon {

              .icon {
                margin: 3px 3px 0 0;
              }

              .feedActor {
                display: inline-block;
                margin: 0 0 0.5em 0;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.25em;
              }

              .feedBody {
                position: relative;
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                font-weight: 200;
              }
            }

            .feedCustom {

              .viewDetails {

                .viewName {
                  margin: 0 0 8px 45px;
                  font-size: 15px;
                  font-weight: 400;
                }

                .viewDescription {
                  margin: 0 0 0 45px;
                  font-size: 12px;
                }
              }

              .commentActions {

                li {

                  a {
                    text-decoration: underline;
                  }
                }
              }
            }

            .feedChildren {
              margin: 1em 0 0 0;
            }

            &.specialFeedItem {
              background-color: rgba(255, 255, 0, 0.075);
            }

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .feedMoreItemsLink {

        }

        .noResults {
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: 200;
          font-style: normal;
          line-height: 30px;
        }
      }

      /**
       * Embed pane overrides
       */
      &#gridSidebar_outer_embed {

        .mainTitleBlock {
          background-color: #ff7377 !important;
        }

        .embedSdp {

          .embedForm {

            textarea {
              color: #5e5e5e;
              font-size: 12px;
              overflow-y: scroll;
              resize: none;
            }

            .sizes,
            .dimensions,
            .template {
              background: #f7f7f7 !important;
            }

            .sizes {
              padding-left: 0;
              padding-right: 0;

              li {
                width: 90px;

                .sizePreview {
                  margin: 0 auto;
                  background: #fff !important;

                  &.small {
                    width: 38px;
                    height: 32.5px;
                  }

                  &.medium {
                    width: 56px;
                    height: 47.5px;
                  }

                  &.large {
                    width: 74px;
                    height: 63px;
                  }
                }
              }
            }
          }
        }
      }

      /** 
       * About pane overrides
       */
      &#gridSidebar_outer_about {

        .mainTitleBlock {
          background-color: #d36674 !important;
        }

        .dslpLink {
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: 200;
          line-height: 1.25em;
          background: #f7f7f7 !important;
          border: 1px solid #ccc;
        }

        /**
         * We actually don't want to show a lot of these things,
         * but the styles were already written when we decided that
         * so they're being kept intact here in case we change our
         * minds. The elements that are to be hidden are hidden in
         * bulk below using :nth-child(n) because a lot of the
         * elements we want to hide have no distinguishable
         * targeting characteristics (argh!).
         */
        .aboutHeader {
          font-size: 15px;

          .aboutAuthorName {
            display: inline-block;
            padding: 8px 0 5px 0;
            font-size: 18.5px;
            font-weight: 600;
          }

          p {

            em {
              margin-right: 18.5px;
              font-weight: 400;
              font-style: normal;
            }
          }
        }

        .editMetadataButton,
        .viewFullLink {
          display: inline-block;
          margin: 0 1em 0 0;
          padding: 11px 15px;
          width: 45%;
          height: auto;
          color: #5e5e5e !important;
          font-size: 15px;
          font-weight: normal;
          line-height: 18.5px;
          text-align: center;
          letter-spacing: 0;
          text-decoration: none !important;
          text-shadow: none;
          background: #f1f1f1;
          border: 1px solid #c8c8c8;
          border-radius: 1px;
          box-sizing: border-box;
          transition: color 0.2s, background-color 0.2s;

          &.disabled {
            color: #c8c8c8 !important;
            background-color: #f6f6f6 !important;
            border-color: #e4e4e4 !important;
            cursor: not-allowed;
          }

          &:hover,
          &:focus,
          &:active {
            color: #5e5e5e;
            background: #e4e4e4;
            box-shadow: none;
          }
        }
      }
    }
  }

  /**
   * Unfortunately, Data Slate also uses the sidebar code/classes, so we need
   * apply some additional styles to the Data Slate elements to make them look
   * like they did before. These mostly override styles applied by the
   * grid-view-2017-refresh class.
   */
  #gridSidebar.socrata-cf-side {
    position: absolute;
    margin-bottom: 0.75em;
    margin-right: 0.75em;
    width: 30em;
    top: 0;
    bottom: 0;
    font-family: Arial, sans-serif !important;
    font-size: 10px !important;
    line-height: 1;
    color: #333;
    background-color: #f7f7f7;
    border: 0 solid #cecece;
    border-left-width: 1px;
    box-shadow: inset 0 0 3px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: inset 0 0 3px rgba(100, 100, 100, 0.5);
    -webkit-box-shadow: inset 0 0 3px rgba(100, 100, 100, 0.5);
    overflow: hidden;
    z-index: 1000;

    .ui-resizable-w {
      position: absolute;
      width: 4px;
      top: 0;
      left: 0;
      font-size: 0.1px;
      cursor: w-resize;
      z-index: 99999;
    }

    .outerPane {

      .paneOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #ccc;
        filter: alpha(opacity=30);
        opacity: 0.3;
        z-index: 60;
      }

      .mainTitleBlock {
        padding: 0.5em 1em;
        background-color: #989898;

        .title {
          color: #fff;
          font-size: 1.3em !important;
          font-weight: bold !important;
          text-transform: none;
          letter-spacing: 0;
        }
      }

      .panes {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;

        .headerLink {
          display: block;
          margin-bottom: 0.25em;
          padding: 0.5em 0.75em;
          font-size: 1.1em;
          font-weight: bold;
          background-color: #9fd2f8;
          border-color: #1085db;
          border: 1px solid;
          border-left: 0;
          border-right: 0;

          .icon {
            display:  block;
            float: right;
            width: 13px;
            height: 13px;
            text-align: left;
            text-indent: -9999px;
            background-color: transparent;
            background-image: url(/stylesheets/images/icons/accordion_icons.png?2);
            background-repeat: no-repeat;
            background-position: 0 -13px;
          }

          &.selected {

            .icon {
            background-position: 0 0;
            }
          }

          &.componentPaletteInput {
            color: #fff;
            background-color: #195c3d;
            border-color: #0e673e;
          }

          &.componentPaletteActions {
            color: #fff;
            background-color: #c36163;
            border-color: #d45054;
          }

          &.componentPaletteData {
            color: #fff;
            background-color: #b99a2e;
            border-color: #d0a617;
          }

          &.componentPaletteContent {
            color: #fff;
            background-color: #285a7e;
            border-color: #195c8d;
          }

          .propertiesEditor {

            &.selected {
              background-color: #0b5e9b;
            }
          }

          .propertiesPalette {

            &.selected {
              background-color: #0b5e9b;
            }
          }
        }

        .sectionContent {
          margin: 0;
          padding: 0;
          border: none;
        }
      }

      &#gridSidebar_outer_components {

        .mainTitleBlock {
          background-color: #791dad;
        }
      }
    }
  }
}
