.admin-header {
  min-height: unset;
}

.admin-breadcrumb {
  h1 {
    margin-bottom: 0;
  }
}

.siteContentWrapper {
  padding: 0;
}

.admin-breadcrumb h1 .internal-link {
  margin-top: 0;
}

.spinner-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
