@import 'styleguide-colors';
@import 'common/styleguide/partials/admin/breadcrumbs';

.siteOuterWrapper {
  background: $white;
}

.admin-goals-page {
  .header-bar {
    margin-top: 0;
  }

  .preview-bar {
    display: none;
  }
}
