.contentBox ul li a {
  font-size: 1.3em;
}

h1.floating {
  float: left;
}

.leftNavBox {
  z-index: 51;

  a.highlight {
    background: #fffdbb;
  }
}

.internalMetrics {
  #analyticsTimeControl {
    padding: 0;
  }
  .plotMore {
    float: right;
    position: relative;
    top: -0.5em;
    label {
      font-size: 1.4em;
    }
  }
}

form {
  label {
    display: inline-block;
    font-size: 1.3em;
    margin-top: 0.5em;
    width: 9em;
  }
  input[type=text] {
    @include box-shadow(0, 0, 0.3em, rgba(0, 0, 0, 0.1), true);
    width: 30em;
  }
  input[type=submit], input[type=button] {
    @include button;
    font-size: 1.1em;
    height: 2.5em;
    margin-top: 1em;
    padding-top: 0.1em;
  }
}

.isDefault {
  font-weight: bold;
}

form.oneButtonForm {
  display: inline-block
}

.exportLink, .importLink {
  bottom: 2.5em;
  display: inline-block;
  font-size: 1.2em;
  float: right;
  margin-left: 1em;
  position: relative;
}

.importExportBox, .doImportLink {
  display: none;
}

form.wide {
  .line {
    background-color: #fff;
    padding: 0.3em;
    &:hover {
      background-color: #f7f7f7;
      @include transition-duration(0.1s);
      @include transition-property(background-color);
      label {
        color: #800;
        text-shadow: 1px 1px 0 #fff;
      }
    }
    > * {
      vertical-align: top;
    }
    textarea {
      width: 40em;
      &[readonly=true], &[readonly=readonly] {
        background-color: #eee;
      }
    }
    .deleteLink {
      display: inline-block;
      font-size: 1.1em;
      margin-right: 0.5em;
      padding-top: 0.4em;
    }
    .editLink {
      display: inline-block;
      font-size: 1.1em;
      padding-top: 0.4em;
    }
  }
  label {
    width: 15em;
  }
}

#ace-editor {
  height: 50em;
  position: relative;
}

.domainCompletion {
  font-size: 1em;
  .domainAwesomeComplete {
    margin-bottom: 8px;
    width: 95%;
  }
  &.loading {
    > div {
      position: relative;
    }
    .spinner {
      @include spinner-mini;
      position: absolute;
      top: calc(50% - 11px);
      right: 5%;
    }
    &:after {
      content: 'Please wait for a moment before typing..';
      color: red;
    }
  }
}

.featureFlags {
  .feature-flag-filter {
    position: relative;
    width: 75%;
    margin: 2em auto;
    background-color: #fff;
    border: 1px solid #ccc;

    .icon-search {
      position: absolute;
      left: 0.5em;
      top: 0.7em;
      font-size: 1.7em;
      color: #aaa;

      display: block;
      right: 0.5em;

      &:hover {
        color: #888;
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }

    .feature-flag-filter-input {
      position: relative;
      display: block;
      width: 100%;
      padding: 0.2em 0.2em 0.2em 2.5em;
      font-size: 1.75em;
      font-weight: 300;
      line-height: 2em;
      background-color: transparent;
      box-shadow: inset 0 0 0.33em #eee;
      box-sizing: border-box;
      border: none;
      outline: none;
      -webkit-transition: box-shadow 0.2s;
      -moz-transition: box-shadow 0.2s;
      -ms-transition: box-shadow 0.2s;
      transition: box-shadow 0.2s;
      -webkit-appearance: none;
      z-index: 1;

      &:hover {
        box-shadow: inset 0 0 0.33em #ccc;
      }

      &:focus {
        box-shadow: inset 0 0 0.33em #ffc04d;
      }
    }
  }
  form {
    > div {
      border-top: solid 1px #444;
      margin: 0;
      padding: 1.75em 1.5em;
      font-size: 1.3em;
    }
    &:nth-child(even) {
      background-color: #F9F9F9;
    }
    &:last-of-type > div {
      border-bottom: solid 1px #444;
    }
    &.hidden {
      display: none;
    }
    div.flagBox {
      float: left;
      max-width: 50em;
      div {
        font-size: 1.1em;
        color: #444444;
        font-weight: bold;
      }
      p {
        margin-top: 0.5em;
      }
    }
    div.valueBox {
      float: right;
      text-align: left;
      label {
        margin-top: 0;
        width: auto;
        display: inline;
        font-size: inherit;
      }
      input {
        width: auto;
      }
      input[type=submit] {
        float: right;
        font-size: 1em;
        height: 2.2em;
        cursor: pointer;
        margin: 1em 0 0 1em;
      }
    }
  }
}

.featureFlagsAcrossDomains {
  overflow: scroll;

  .flag_groups {
    margin-bottom: 0.5em;

    ul {
      display: none;
    }
  }

  table {
    font-size: 1.3em;
    border: solid 1px black;
    padding-right: 0.5em;

    tr:nth-child(even) {
      background-color: #eee;
    }

    tr:nth-child(odd) {
      background-color: #aaa;
    }

    th {
      white-space: nowrap;
    }

    td, th {
      padding: 1em;

      &.domain_cname {
        position: absolute;
        background-color: inherit;
      }
    }
  }

  .add_parameter {
    margin-top: 1em;

    div {
      display: inline-block;
    }
  }
}
dl.internalPanel {
  @include dl-section-content;
}
ul.autocomplete {
  li.active p {
    white-space: normal;
  }
  li .matchRow a {
    font-size: inherit;
  }
}

.config_type_description {
  margin-top: 2em;

  dt {
    color: #666;
    font-size: 1.1em;
    font-weight: bold;
    height: 2em;
    margin-bottom: -4em;
    overflow: hidden;
    padding: 1em;
    white-space: nowrap;
    max-width: 40%;
  }

  dd {
    border-top: 1px solid #cecece;
    color: #666;
    font-size: 1.1em;
    overflow: hidden;
    padding: 1em;
    padding-left: 50%;
    text-align: right;
  }
}

.internalPanelRedesign {
  .expandable {
    h2.headerLink {
      @include sprite-accordion-icons;
      width: 100%;
      border-bottom: solid 1px black;
      cursor: pointer;
      .icon {
        margin-top: 5px;
        float: left;
      }
    }

    div.collapsed {
      display: none;
    }
  }

  .actions button, .serialization button {
    @include button;
    font-size: 1.1em;
    height: 2.5em;
    margin-top: 1em;
    padding-top: 0.1em;
    display: inline-block;
  }

  .property.line {
    .propertyActions {
      display: inline-block;

      a {
        cursor: pointer;
      }

      .propertyAction {
        display: none;
      }
    }
  }

  form.wide.configProperties {
    .deleteLink, .exportLabel {
      display: inline-block;
      font-size: 1.1em;
      margin-right: 0.5em;
      padding-top: 0;
    }
  }

  .line.property {
    margin-bottom: 1.25em;

    > label {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
      display: block;
      width: auto;
    }

    .propertyActions {
      display: block;
      div {
        white-space: nowrap;

        a {
          padding-top: 0.4em;
          display: inline-block;
        }
      }
    }
  }

  .editMode .property.line .propertyActions .editAction {
    display: block;
  }
  .deleteMode .property.line .propertyActions .deleteAction {
    display: block;
  }
  .exportMode .property.line .propertyActions .exportAction {
    display: block;
  }

  .config_type_description {
    margin-top: 0;

    dt { width: 12.75rem; }
    dd {
      padding-left: 12.75rem;
      width: calc(100% - 12.75rem);
      text-align: left;

      &:first-of-type {
        border-top: 0;
      }
      &.unknownConfigType, &.discouragedConfigType, &.inheritedConfig {
        color: red;
      }

      input[type=text] {
        width: 15em;
      }
    }
  }

  .serialization {
    display: none;

    .exportBox, .importBox, .doImportLink {
      display: block;
    }

    .importBox, .exportBox {
      width: 100%;
    }

    .importSection, .exportSection {
      display: none;
    }

    .copiedToClipboard {
      display: none;
    }
  }

  .importMode .importSection, .exportMode .exportSection {
    display: block;
  }

  .warning {
    margin-top: 0.5em;
    color: red;
  }

  .modeDescriptions {
    div {
      display: none;
    }

    .editMode {
      display: block;
    }
  }

  .featureList .line {
    label {
      display: inline-block;
      font-size: 1.3em;
      margin-top: 0.5em;
      width: 16em;
    }

    button {
      width: 6em;
    }

    &.featureDisabled {
      color: #ccc;
    }
  }

  .prebuiltActions dt {
    .warning {
      width: 100%;
      white-space: normal;
    }
    input[type=submit] {
      margin-top: 0;
    }
  }

  .autocomplete {
    max-height: 200px;
    overflow-y: scroll;
  }

  .deleteConfig {
    display: none;
  }

  .deleteMode .deleteConfig {
    display: block;
  }

  .addConfigForm .warning {
    .poorly_understood, .not_intended_for_direct_manipulation, .deprecation, .already_exists {
      display: none;
    }
    .not_intended_for_direct_manipulation span.instead {
      display: none;
    }

    &.poorly_understood .poorly_understood {
      display: block;
    }
    &.not_intended_for_direct_manipulation .not_intended_for_direct_manipulation {
      display: block;
    }
    &.deprecation .deprecation {
      display: block;
    }
    &.already_exists .already_exists {
      display: block;
    }
  }

  .newProperty {
    .warning div { display: none; }
    .warning.duplicateProperty .duplicateProperty { display: block; }

    input[type=text] {
      width: 15.7em;
      display: block;
    }
  }

  .updateAliases {
    label {
      display: inline-block;
      font-size: 1.3em;
      margin-top: 0.5em;
      width: 9em;
    }

    span {
      font-size: 1.3em;

      &.alias {
        display: inline-block;
        width: 16em;
        white-space: nowrap;
      }
    }

    .line:hover {
      .alias {
        font-weight: bold;
      }

      .oneButtonForm {
        opacity: 0.2;
        transition: opacity 0.3s ease-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.invalidCname, .emptyOrganization a {
  color: #cccccc;
  font-size: 1.3em;
}

.guidelink {
  margin-top: 2em;
}

.featureFlagReport {
  p {
    font-size: 1.3em;
  }

  input[type=text] {
    width: auto;
  }

  .signallerEnvironment {
    float: right;

    label {
      font-size: 1.1em;
    }

    span {
      font-size: 1.4em;
      font-weight: bold;
    }
  }

  .domainFeatureFlags > div {
    margin-top: 0.5em;

    .label {
      display: inline-block;
      font-size: 1.3em;
      min-width: 16em;
      margin-right: 2em;
    }

    .value {
      display: inline-block;
      font-size: 1.3em;
      width: auto;
    }

    &:hover {
      background-color: #f1f1f1;
    }
  }

  .domain_selection {
    width: 100%;

    a.remove {
      cursor: pointer;
      display: inline-block;
      margin-right: 0.5em;
      color: red;
    }
  }
}

.config_type_description.audit_list {
  .action {
    font-family: monospace;
    font-size: 125%;
  }

  dt { width: 21rem; }
  dd {
    padding-left: 21rem;
    width: calc(100% - 21rem);
  }
}
