@import "_flexbox";

@import "_flexbox";
@import "styleguide-colors";

// EN-15850: (adding SIAM to /profile page). When SIAM is enabled, it uses the "styleguide" layout. When it
// is disabled, it uses the old "main" layout. This is mainly because the old asset list was impossible to
// get working on the styleguide layout.
// When SIAM is enabled (styleguide layout), we have to do some additional styling to make some of the other
// sections of the page look good.
.profileContent.styleguide {
  padding: 20px;
  line-height: 1;
  font-size: 62.5%;

  .content {
    > .innerItem  p {
      margin: 0;
    }

    .textItem {
      margin: 0;
    }

    .fieldName { font-size: 12px; }
    .fieldValue { font-size: 11px; }
    .statHeader {
      font-size: 12px;
      margin: 0 0 0.5em 0;
    }
    .number {
      margin: 0;
    }

    .profile-header--user-name {
      font-weight: 600;
      margin-bottom: 0.4rem !important;
    }
    .profile-header--secondary-user-info h4 {
      font-size: 12px;
      font-weight: normal;
    }

    h2 { font-size: 15px; }
    h3 { font-size: 13px; }
  }
}

.clear-filters-wrapper {
  font-size: 15px;
  line-height: 1.618;
}

body {
  margin: 0;
  padding: 0 !important;
}

.profileContent {
  .flash {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
    width: 30em;
  }
  .content {
    background-color: #fff;
    border: 1px solid $color_chrome_box_border;
    @include border-radius(0.2em);
    margin-bottom: $chrome_margin_inner;
    padding: 1.5em;
    .innerItem {
      border-top: 1px solid $color_chrome_box_border;
      margin-top: 1.5em;
      padding-top: 1.5em;
      &:first-child {
        border-top: 0 none;
        margin-top: 0;
        padding-top: 0;
      }
    }
    .smallButton {
      font-weight: normal;
      padding: 0.3em 0.7em;
      .icon {
        float: left;
        padding-right: 0.3em;
      }
    }
    .secondary {
      color: #666;
      .titleAndOrg {
        padding-right: 4em;
      }
    }
    .editLink {
      float: right;
      a {
        font-size: 1.2em;
        @include profile-icons;
        .icon {
          float: left;
          margin-right: 0.5em;
        }
      }
    }
    .emptyItem {
      color: #999999;
      font-size: 1.2em;
    }
    .textItem {
      font-size: 1.2em;
    }
    h2 {
      font-weight: normal;
      line-height: inherit;
      margin-bottom: 1em;
    }
    h3 {
      font-size: 1.3em;
      line-height: inherit;
      position: absolute;
    }
    .iconLink {
      line-height: 1em;
      font-size: 1.2em;
      .icon {
        display: inline-block;
      }
    }
    &.appTokens {
      .fieldName {
        font-size: 1.2em;
      }
      .fieldValue {
        font-size: 1.1em;
      }
    }
    &.datasetsList {
      h2 {
        float: left;
        margin-right: 1em;
      }
      .ownershipLinks {
        float: left;
        padding-top: 0.2em;
        li {
          border-right: 1px solid #cacaca;
          display: inline-block;
          padding: 0 0.5em;
          &:last-child {
            border: none;
          }
          a {
            font-size: 1.2em;
            &.active {
              color: #333333;
              font-weight: bold;
            }
          }
        }
      }
      // IE8 wants this, or bad wrapping
      .browseFacets {
        clear: left;
      }
    }
    &.newsFeed {
      min-height: 7em;
      position: relative;
    }
    .gettingStartedPanel {
      .gettingStartedRow {
        padding-bottom: 10px;
        &.gettingStartedTitle {
          font-size: 1.4em;
        }
        &.gettingStartedDescription {
          font-size: 1.2em;
        }
      }
    }
  }
  .summaryStatsContainer {
    .summaryBox {
      border: 1px solid $color_chrome_box_border;
      @include border-radius(0.2em);
      background-color: $light_bg_color;
      float: left;
      margin-left: 1em;
      padding: 0.7em;
      &:first-child {
        margin-left: 0;
      }
      .statHeader {
        font-size: 1.2em;
        padding-bottom: 0.3em;
      }
      .number {
        font-size: 2em;
        font-weight: bold;
      }
    }
  }
  .headerBar {
    .profileImage {
      float: left;
      margin-right: 1em;
      img {
        height: 5em;
        width: 5em;
      }
    }
    .profileHeaderText {
      display: inline-block;
      h1 {
        display: inline-block;
        line-height: 1.2em;
        margin-bottom: 0;
        padding-right: 0.2em;
      }
      .editLinkText {
        position: relative;
        top: -0.2em;
      }
      .button {
        vertical-align: top;
      }
      .followButton {
        @include sprite-repeater-icons;
      }
      .editProfileLink {
        @include profile-icons;
        .icon {
          display: inline-block;
        }
      }
      .accountDate {
        padding-right: 1em;
      }
    }
  }
  .profileSideBar {
    float: right;
    margin: 0 {
      left: $chrome_margin_inner;
    };
    width: 22em;
    .profileImage {
      clear: both;
      margin: 0 auto 1em;
      width: 220px;
    }
    .hiddenContacts {
      display: none;
      width: 220px;
    }
    .showMoreLinkContainer {
      padding-top: 0.5em;
    }
  }
  .profileMainContent {
    padding-right: #{25.2em + $chrome_margin_inner};
    .textDisplay {
      font-size: 1.2em;
    }
    .basicInfo, .appTokens {
      .innerContent {
        margin-left: 15em;
      }
      .subHeader {
        color: #666;
        display: block;
        float: left;
        width: 12em;
      }
      p {
        padding-top: 0.5em;
        &:first-child {
          padding-top: 0;
        }
      }
    }
    .subscribeLink {
      @include sprite-menu-icons;
      float: right;
      line-height: 1.1em;
      .icon {
        float: left;
        padding-right: 0.3em;
      }
    }
  }
}

.contactUserDialog {
  @include common-form(5em, 20em);
  label {
    line-height: 1.7em;
    vertical-align: top;
  }
}

.profile-sidebar {
  float: right;
  margin: 0 {
    left: $chrome_margin_inner;
  };
  width: 25.2em;
}

.profile-header {
  @include flexbox;

  &--image {
    position: relative;
    margin-right: 1.5em;
    img {
      max-height: 150px;
    }
    &-edit-link {
      position: absolute;
      bottom: 1em;
      right: 1em;
      display: inline-block;
      background-color: rgba($light_bg_color, 0.7);
      padding: 0.25em;
    }
  }

  &--content {
      @include flex(1);
      margin-top: 0.5em;
  }

  &--primary-user-info {
      @include flexbox;
      @include justify-content(space-between);
  }

  &--secondary-user-info {
      margin-bottom: 1em;
      width: 50%;
      max-width: 50em;
      min-width: 20em;
      @include flexbox;
      @include justify-content(space-between);
  }

  &--user-name {
      margin-bottom: 0;
  }

  &--user-actions {
      margin-top: -0.9em;
  }
}

/* Style hack for the browse section... "Create New Dataset" button was infuriatingly misaligned */
.buttonContainer {
    margin-top: -0.4em !important;
    margin-right: -0.7em !important;
}

/* AssetBrowser overrides */
.asset-browser {
  .header {
    min-height: auto;
    margin: 0;
  }
  $profile-asset-browser-min-width: 650px;
  .result-list-table {
    min-width: 0;
  }
  .topbar {
    margin: 0.5rem 0;
    div[class*=autocomplete_container] {
      max-width: 300px;
    }
  }
  .catalog-results {
    overflow: hidden;
    > * {
      min-width: $profile-asset-browser-min-width;
    }
  }
  .catalog-filters .filter-content {
    width: 100%;
  }
  .header.mobile {
    min-height: unset;
  }
  .table-wrapper {
    overflow: auto;
    clear: both;
  }
}
