@import 'styleguide-colors';

.siteInnerWrapper {
  max-width: 100%;
}

.adminNavBox {
  .hideButtonBox {
    display: none;
    float: right;
    .hideButton {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 0;
      @include sprite-menu-icons;
    }
  }
  .adminNav {
    li {
      @include admin-icons;
    }
  }
  &.collapsed {
    height: 1.3em;
    padding: 0.5em;
    width: 1.3em;
    .adminNav {
      display: none;
    }
  }
}

.siteContentWrapper {
  padding: 2em 4em;
}

.contentBox {
  .adminHeader {
    border-bottom: 1px solid $color_chrome_box_border;
    @include admin-header-icons;
    padding: 1em 1em 0.9em 1em;
    margin-bottom: 1em;
    margin-right: -0.4em;
    &.floating {
      border-bottom: 0;
      margin-bottom: 0;
    }
    .icon {
      float: left;
      margin-right: 1em;
    }
    h1 {
      display: inline-block;
      line-height: 32px;
      &.floating {
        float: left;
      }
    }
    .asset_inventory_link_wrapper {
      cursor: pointer;
      position: relative;
      display: inline-block;
      float: right;

      .asset_inventory_link_hover_window {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
  .gridList {
    form {
      display: inline;
    }
  }
}

.internal-asset-manager-preview {
  background: #eaf4f9;
  border: 1px solid #288dc1;
  color: #1c6387;
  font-size: 15px;
  padding: 12px;
  margin: 1rem 0;
  border-radius: 1px;

  .header {
    font-weight: bold;
    margin-right: 0.25rem;
  }

  a {
    text-decoration: underline;
  }
}

#adminContent {
  a.button {
    font-size: 1em;
  }
}

.layoutConfig {
  border-top: 1px solid $color_chrome_box_border;
  margin: {
    bottom: 1em;
    top: 2em;
  };
  .commonForm {
    margin-top: 1em;
    .line {
      position: relative;
      .mainLabel {
        font-size: 1.3em;
        font-weight: bold;
        left: 0;
        position: absolute;
        top: 0.2em;
      }
      .valueBox {
        display: block;
        float: none;
        margin-left: 18em;
        label {
          padding-left: 0;
        }
      }
      .statusTextWrapper {
        position: absolute;
        top: 0.5rem;
        left: 20rem;
        display: none;
        font: {
          size: 1.1em;
          weight: bold;
        };

        .saved {
          color: #999999;
        }
        .saving, .saved {
          display: none;
        }
        .saving .icon {
          @include throbber-icon;
          margin-right: 0.5rem;
          display: inline-block;
          float: left;
        }
      }
    }
    input[type='submit'] {
      margin: {
        left: 16.7em;
        top: 0.5em;
      };
    }
  }
}

.button:focus, input:focus.submit {
  outline: 1px double;
}

.datasetsList {
  .createDatasetBox {
    height: 1.2em;
    .buttonContainer {
      margin-top: 0.8em;
    }
  }
}

a:hover {
  text-decoration: underline;
}

// Styleguide compatibility
// This mirrors common/styleguide/partials/admin/_breadcrumbs.scss, and should
// be kept in sync with that file (and vice versa)
$site-chrome-admin-header-height: 46px;
.admin-header {
  margin: $site-chrome-admin-header-height 0 0;
  min-height: $site-chrome-admin-header-height;
  padding: 15px 32px 0;
  border-bottom: 1px solid $light-grey-4;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  background: $light-grey-6;
}

.admin-breadcrumb {
  padding: 0 0 5px 10px;

  h1 {
    font-weight: 400;
    font-size: 23px;
    line-height: normal;
    margin-bottom: 0;

    .internal-link {
      display: block;
      float: right;
      margin-top: 8px;
      font-size: 15px;
      font-weight: normal;

      @media (max-width : 600px) {
        .internal-link-text {
          display: none;
        }
      }

      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }
  }

  h1, a {
    color: $primary-dark;
  }

  .current-page {
    color: $dark-grey-1;
  }

  .separator {
    color: $light-grey-2;
    font-weight: 200;
    font-size: 18px;
  }
}
