#datasetBar {
  #infoBox {
    margin-right: 20em;
    #description {
      .descriptionExpander {
        display: none;
      }
    }
  }
  .backToDatasetButton {
    @include sprite-menu-icons;
    float: right;
    .icon {
      float: left;
      padding-right: 0.5em;
    }
  }
}

#aboutSection {
  background-color: $color_chrome_background;
  .innerContainer {
    overflow: auto;
  }
  .aboutDataset {
    padding-top: 1em;
  }
}
