html, body {
  height: 100%;
  overflow: hidden;
}

.siteInnerWrapper {
  max-width: 100%;
  padding-bottom: 0;
  .flash.notice, .flash.warning, .flash.error {
    margin: 1em;
  }
}

  #grid-view-2017-refresh-preview-banner {
    display: block;
    padding: 7px;
    color: #2279a6;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    background-color: #eaf4f9;
    border-top: 1px solid #288dc1;
    border-bottom: 1px solid #288dc1;
    z-index: 1;

    a,
    a:hover,
    a:focus,
    a:active,
    a:visited {
      margin: 0 7px;
      color: #176289;
      text-decoration: underline;
    }

    button.close {
      display: inline;
      color: #2279a6;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

/**
 * EN-18335 - Update and refactor grid view CSS
 *
 * The addition of the 'new' grid view led to a lot of CSS rule collisions and
 * confusing, unintended inheritance. After a while Giacomo Ferrari suggested
 * that we just add a class to the body that would contain either the entirety
 * of the old styles or the entirety of the new ones, and use it as a toggle.
 *
 * This was a very, very good idea.
 *
 * The 'classic' styles are now all under the '.grid-view-classic' class on the
 * body, and the updated ones are under the '.grid-view-2017-refresh' class.
 */
body.grid-view-classic {

  #datasetBar {
    background-color: white;
    border-top: 1px solid $color_chrome_box_border;
    min-height: 5.7em;
    position: relative;
    .outOfDate {
      font-style: italic;
      color: #aaa;
    }
    &.isEditable, &.sidebar-left {
      padding-bottom: 2.5em;
    }
    #infoBox {
      margin-right: 63em;
      min-height: 3em;
      padding: 0.25em {
        bottom: 0.4em;
        left: 45px;
      };
      position: relative;
      z-index: 1;
      #datasetIcon {
        @include sprite-type-icons-30;
        left: 0.4em;
        top: 0.4em;
        position: absolute;
        .alertIcon {
          display: none;
          position: absolute;
          top: 0;
        }
        &.typeData_lens .icon.icon-cards {
          font-size: 0;
          &::before {
            font-size: 30px;
          }
        }
      }
      #datasetName, .unsavedLine, #description, .basedOnTemp, .basedOnParent, .unpublished, #publishedLink {
        margin: 0 {
          right: 0.5em;
        };
      }
      .unpublished {
        display: inline;
        vertical-align: baseline;
        white-space: nowrap;
      }
      .snapshotted {
        display: inline;
        vertical-align: baseline;
      }
      #datasetName, .unsavedLine h2 {
        font-size: 1.6em;
        font-weight: normal;
        padding: 0;

        .tag-provenance {
          font-size: 16px;
          margin-left: 10px;
          text-transform: uppercase;
          white-space: nowrap;

          svg {
            width: 23px;
            height: 23px;
            position: relative;
            top: 5px;
            left: -3px;
          }
        }
        .tag-community {
          color: #176289;

          svg {
            path {
              fill: #288dc1;
            }
          }
        }
        .tag-official2 {
          color: #935c23;

          svg {
            path {
              fill: #e48424;
            }
          }
        }
      }
      #description {
        margin-top: -0.2em;
        position: relative;
        div.descriptionContent {
          color: #999999;
          font-size: 1.1em;
          line-height: 1.1em;
          margin-right: 1.6em;
          overflow: hidden;
          text-align: justify;
          &.collapsed {
            height: 1.1em;
          }
        }
        .descriptionExpander {
          @include sprite-menu-icons;
          position: absolute;
          right: 0.3em;
          top: -0.1em;
        }
      }
      a.toolbarButton {
        @include button;
        font-size: 1.2em;
        margin-right: 0.5em;
        white-space: nowrap;
        &.publish {
          line-height: 20px;
        }
      }
      .unsavedLine {
        display: none;
        h2 {
          display: inline;
          margin-right: 1em;
        }
        .revertMessage {
          color: #999999;
          font-size: 1.1em;
        }
      }
      .basedOnParent, .basedOnTemp {
        color: #999999;
        display: none;
        font-size: 1.2em;
        line-height: 1.1em;
        margin-bottom: 0.2em;
      }

      .basedOnParent.hasParent {
        display: block;
      }
      #publishedLink {
        display: block;
        font-size: 1.2em;
        line-height: 1.1em;
        margin: {
          bottom: 0.2em;
          top: 0.3em;
        };
      }
    }
    &.unsavedView {
      background: white url(/stylesheets/images/interface/dataset_unsaved_fade.png) repeat-y;
      #infoBox {
        .unsavedLine, .basedOnTemp {
          display: block;
        }
        #datasetIcon .alertIcon {
          display: block;
        }
        #datasetName, .unpublished, .snapshotted, .publish, #description.collapsed, .basedOnParent, #publishedLink {
          display: none;
        }
      }
      &.dataset .save {
        display: none;
      }
      &.dataset.minorChange .save {
        display: inline;
      }
      &.dataset .unpublishedRevert {
        display: inline;
        margin: {
          left: 1em;
          top: 0.3em;
        };
        position: absolute;
      }
      &.dataset.minorChange .unpublishedRevert {
        display: none;
      }
    }
    #actionBox {
      height: 100%;
      // IE7 doesn't make this box tall enough initially
      min-height: 5.7em;
      position: absolute;
      right: 0;
      top: 0;
      #toolbarOptions {
        float: right;
        margin: 0.6em 1.9em 0.3em {
          left: 0;
        };
        > li {
          display: block;
          float: left;
          margin-right: 1em;
          #searchForm {
            background-color: white;
            border: 1px solid $color_buttons_active_border;
            @include border-radius(0.2em);
            @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.05));
            display: inline-block;
            padding: 0.4em 2em 0.3em 2.8em;
            position: relative;
            &:hover {
              @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.15));
            }
            .icon {
              @include dataset-toolbar-icon-search;
              left: 0.5em;
              position: absolute;
              top: 0.3em;
            }
            .searchField {
              border: none;
              display: block;
              height: 13px;
              padding: 0;
              -webkit-appearance: none;
              width: 13em;
              &.prompt {
                font-style: normal;
              }
            }
            .clearSearch {
              @include sprite-menu-icons;
              display: none;
              position: absolute;
              right: 2em;
              top: 0;
            }
          }
          #renderTypeOptions {
            li a {
              @include renderType-toggle-icons;
            }
          }
          #shareOptions {
            padding-right: 0.5em;
            padding-top: 0.3em;
            .unsavedView & {
              display: none;
            }
            .minorChange & {
              display: block;
            }
            li {
              display: inline-block;
              margin-right: 0.5em;
              &.subscribe {
                margin-right: 1em;
              }
              a {
                @include sprite-social-media-icons;
              }
            }
          }
        }
      }
    }
    .sidebarOptionsContainer {
      bottom: 0;
      position: absolute;
      right: 0;
    }
    #sidebarOptions, #moreActionBarButtons {
      clear: right;
      li a {
        background-color: #989898;
        &.edit {
          background-color: $sidebar_edit_tab_color_top;
        }
        &.moreViews {
          background-color: $sidebar_more_views_tab_color_top;
        }
        &.filter {
          background-color: $sidebar_filter_tab_color_top;
        }
        &.visualize {
          background-color: $sidebar_visualize_tab_color_top;
        }
        &.export {
          background-color: $sidebar_export_tab_color_top;
        }
        &.feed {
          background-color: $sidebar_feed_tab_color_top;
        }
        &.embed {
          background-color: $sidebar_embed_tab_color_top;
        }
        &.about {
          background-color: $sidebar_about_tab_color_top;
        }
        &.manage {
          background-color: $sidebar_manage_tab_color_top;
        }
        .alertIcon {
          display: none;
          position: absolute;
          left: 8px;
          top: 4px;
        }
      }
    }
    .fullscreenButton {
      @include button;
      padding: 0;
      position: absolute;
      right: 0.6em;
      top: 0.6em;
      z-index: 2;
      &.maximize .icon {
        @include dataset-toolbar-icon-maximize;
      }
      &.minimize .icon {
        @include dataset-toolbar-icon-minimize;
      }
    }
  }

  #actionBar {
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    &.position-left {
      #editBar {
        bottom: 0;
        position: absolute;
        right: 0;
      }
      .sidebarOptionsContainer {
        position: static;
      }
    }
    #editBar {
      position: relative;
      z-index: 10;
    }
  }
}

/**
 * EN-18335 - Update and refactor grid view CSS
 *
 * The addition of the 'new' grid view led to a lot of CSS rule collisions and
 * confusing, unintended inheritance. After a while Giacomo Ferrari suggested
 * that we just add a class to the body that would contain either the entirety
 * of the old styles or the entirety of the new ones, and use it as a toggle.
 *
 * This was a very, very good idea.
 *
 * The 'classic' styles are now all under the '.grid-view-classic' class on the
 * body, and the updated ones are under the '.grid-view-2017-refresh' class.
 */
body.grid-view-2017-refresh {
  font-family: 'Open Sans', sans-serif;

  .bt-content {
    & ul, & ol {
      list-style: none;
      padding-left: 0;
    }
  }
  
  .emailDatasetDialog .textWrapper {
    box-sizing: border-box;
  }

  #datasetBar {
    position: relative;
    display: block;
    background: #fff;
    padding-bottom: 0;

    #infoBox {
      position: relative;
      display: block;
      margin: 0 680px 0 0;
      padding: 8px;
      font-size: 15px;
      font-weight: 400;
      z-index: 1;

      .toolbarButton {
        display: inline-block;
        margin: 0 0 -2px 0;
        padding: 5px 8px;
        width: auto;
        height: auto;
        color: #5e5e5e;
        font-size: 12px;
        font-weight: normal;
        line-height: 18.5px;
        text-align: center;
        letter-spacing: 0;
        text-decoration: none;
        text-shadow: none;
        background: #f1f1f1;
        border: solid 1px #c8c8c8;
        border-radius: 1px;
        box-sizing: border-box;
        vertical-align: text-bottom;
        transition: color 0.2s, background-color 0.2s;
        white-space: nowrap;

        &.save,
        &.saveAs,
        &.publish {
          color: #fff;
          background: #2279a6;
          border: solid 1px #2279a6;

          &:hover,
          &:focus,
          &:active {
            background: #176289;
            border: solid 1px #176289;
          }
        }

        &:hover,
        &:focus,
        &:active {
          background: #e4e4e4;
          box-shadow: none;
        }
      }

      #datasetIcon {
        display: none;
      }

      .unsavedLine {
        display: none;
        font-family: 'Open Sans', sans-serif;
        margin: 0 0 8px 0;
        padding: 8px 8px 4px 8px;
        background-color: rgba(255, 255, 0, 0.075);
        border: 1px solid #cecece;
        box-sizing: border-box;

        h2 {
          display: inline-block;
          margin: 0 8px 8px 0;
          padding: 0;
          color: #d06463;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: -0.5px;

          &:before {
            content: "[";
          }

          &:after {
            content: "]";
          }
        }

        .toolbarButton.save {
          display: none;
        }
      }

      .unpublished {
        display: inline-block;
        margin: 5px 0 0 0;
        color: #d06463;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.5px;
      }

      #datasetName {
        display: block;
        margin: 0 8px 0 0;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.5px;
      }

      #datasetName,
      .unsavedLine {

        .tag-provenance {
          font-size: 16px;
          margin-left: 10px;
          text-transform: uppercase;
          white-space: nowrap;

          svg {
            width: 23px;
            height: 23px;
            position: relative;
            top: 5px;
            left: -3px;
          }
        }

        .tag-community {
          color: #176289;

          svg {
            path {
              fill: #288dc1;
            }
          }
        }

        .tag-official2 {
          color: #935c23;

          svg {
            path {
              fill: #e48424;
            }
          }
        }
      }

      .snapshotted {
        font-size: 13px;
        font-weight: 400;
      }

      .outOfDate {
        display: none;
      }

      .publish {
        float: left;
        margin: 0 12px 0 0;
      }

      .unpublishedRevert.revertMessage,
      .basedOnParent,
      .basedOnTemp {
        margin: 8px 0;
        color: #5e5e5e;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;

        a {
          color: #2279a6;
          text-decoration: underline;

          &:hover,
          &:focus,
          &:active,
          &:visited {
            color: #2279a6;
            text-decoration: underline;
          }
        }
      }

      .basedOnParent,
      .basedOnTemp {
        display: none;
        margin: 0 8px 5px 0;
      }

      .basedOnParent.hasParent {
        display: block;
      }

      .unpublishedRevert.revertMessage {
        position: relative;
        display: block;
        margin-top: 0;
      }

      #publishedLink {
        display: block;
        margin: 0 0 15px 0;
        color: #2279a6;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        text-decoration: underline;
        vertical-align: middle;

        &:hover,
        &:focus,
        &:active,
        &:visited {
          color: #2279a6;
          text-decoration: underline;
        }
      }

      #description {
        position: relative;
        margin: 0;
        padding: 0 20px 0 0;

        div.descriptionContent {
          margin: 0;
          padding: 0 0 8px 0;
          font-size: 14px;
          line-height: 20px;
          text-align: justify;
          overflow: hidden;

          p {
            margin: 0;
            padding: 0 0 8px 0;
            color: #5e5e5e;
            font-size: 14px;
            line-height: 20px;
          }

          &.collapsed {
            padding-bottom: 0;
            height: 20px;
          }
        }

        a.descriptionExpander {
          position: absolute;
          right: 0;
          top: 4px;

          .icon {
            display: block;
            width: 13px;
            height: 13px;
            text-align: left;
            text-indent: -9999px;
            background-color: transparent;
            background-image: url(/stylesheets/images/icons/menu_icons.png?3);
            background-repeat: no-repeat;
          }

          &.rightArrow {

            .icon {
              background-position: 0 -52px;
            }
          }

          &.upArrow {

            .icon {
              background-position: 0 -39px;
            }
          }
        }
      }

      &.minorChange {

        .unsavedLine {

          .toolbarButton.save {
            display: inline;
          }
        }
      }
    }

    #actionBox {
      position: absolute;
      padding: 8px;
      right: 0;
      top: 0;
      height: auto;
      min-height: auto;

      #toolbarOptions {
        float: right;
        margin: 0;

        & > li {
          display: block;
          float: left;
          margin: 0;

          #shareOptions {
            margin-right: 15px;
            padding: 5px 12px;

            li {
              display: inline-block;
              margin: 0 5px;
              cursor: pointer;

              a {
                display: block;
                width: 16px;
                height: 16px;
                text-align: left;
                text-indent: -9999px;
                background-color: transparent;
                background-image: url(/stylesheets/images/icons/social_media_icons.png);
                background-repeat: no-repeat;

                &.subscribe {
                  background-position: 0 -48px;
                }

                &.facebook {
                  background-position: 0 0;
                }

                &.twitter {
                  background-position: 0 -16px;
                }

                &.email {
                  background-position: 0 -32px;
                }
              }
            }
          }

          #renderTypeOptions {
            margin-right: 15px;
            border: solid 1px #c8c8c8;
            border-radius: 2px;
            overflow: hidden;
            padding-left: 0;

            li {
              display: block;
              float: left;
              border-left: solid 1px #c8c8c8;

              a {
                display: block;
                margin: 0;
                padding: 6px 8px;
                color: #5e5e5e;
                background: #fff;
                border: none;
                box-shadow: none;

                .icon {
                  display: block;
                  width: 13px;
                  height: 13px;
                  text-align: left;
                  text-indent: -9999px;
                  background-color: transparent;
                  background-image: url(/stylesheets/images/icons/renderType_toggle_icons.png?1);
                  background-repeat: no-repeat;
                }

                &.template {

                  .icon {
                    background-position: 0 0;
                  }
                }

                &.table {

                  .icon {
                    background-position: 0 0;
                  }
                }

                &.chart {

                  .icon {
                    background-position: 0 -13px;
                  }
                }

                &.calendar {

                  .icon {
                    background-position: 0 -26px;
                  }
                }

                &.page {

                  .icon {
                    background-position: 0 -52px;
                  }
                }

                &.fatrow {

                  .icon {
                    background-position: 0 -65px;
                  }
                }

                &.active {
                  background: #e4e4e4;
                }
              }

              &:first-child {
                border-left: none;
                border-radius: 2px 0 0 2px;

                a {
                  border: none;
                }
              }

              &:last-child {
                border-radius: 0 2px 2px 0;
              }
            }

            &:hover,
            &:focus,
            &:active {
              box-shadow: none;
            }
          }

          #searchForm {
            position: relative;
            display: inline-block;
            margin: 0;
            padding: 0;
            border: solid 1px #c8c8c8;

            .icon {
              position: absolute;
              display: block;
              left: 5px;
              top: 6px;
              width: 16px;
              height: 13px;
              text-align: left;
              text-indent: -9999px;
              background-color: transparent;
              background-image: url(/stylesheets/images/icons/dataset_toolbar_icons.png);
              background-position: 0 0;
              background-repeat: no-repeat;
              opacity: 0.5;
            }

            input {
              display: block;
              margin: 0;
              padding: 4px 15px 3px 30px;
              width: 250px;
              height: auto;
              color: #5e5e5e;
              font-family: 'Open Sans', sans-serif;
              font-size: 15px;
              font-weight: 400;
              border: none;
              box-shadow: none;
              box-sizing: border-box;

              &:hover,
              &:focus,
              &:active {
                box-shadow: none;
              }

              &.prompt {
                color: #c4c4c4;
                font-style: normal;
              }
            }

            .clearSearch {
              position: absolute;
              display: none;
              top: 0;
              right: 30px;
            }
          }
        }
      }
    }

    #actionBar {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: 5px;
      width: 100%;
      height: 26px;
      padding: 0;

      .sidebarOptionsContainer {
        position: absolute;
        right: 0;
        bottom: 0;

        #sidebarOptions {
          float: right;
          margin: 0;
          padding: 0 8px 0 0;
          background: transparent;
          clear: right;

          li {
            position: relative;
            display: block;
            float: left;
            margin: 0;
            border: solid 1px #c8c8c8;
            border-left: none;
            border-right: none;

            a {
              display: block;
              padding: 8px;
              height: 14px;
              color: #5e5e5e;
              font-size: 14px;
              font-weight: 400;
              line-height: 14px;
              text-decoration: none;
              background: #fff;
              border-right: none;
              border-radius: 0;

              .icon {
                display: none;
              }

              &.edit {
                border-left: solid 4px #ffcd1a;
              }

              &.manage {
                border-left: solid 4px #b8864b;
              }

              &.moreViews {
                border-left: solid 4px #ed77e6;
              }

              &.filter {
                border-left: solid 4px #3e91ce;
              }

              &.visualize {
                border-left: solid 4px #36a572;
              }

              &.export {
                border-left: solid 4px #8ae8ff;
              }

              &.feed {
                border-left: solid 4px #ffa733;

                .contentIndicator {
                  margin: 0;
                  padding: 0;
                  width: 18px;
                  height: 18px;
                  left: auto !important;
                  right: -9px;
                  top: -7px;
                  color: #fff;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 12px;
                  font-weight: 600;
                  line-height: 19px;
                  text-align: center;
                  box-sizing: border-box;
                  z-index: 1;
                }
              }

              &.embed {
                border-left: solid 4px #ff7377;
              }

              &.about {
                border-left: solid 4px #d36674;
              }

              &:hover, &:focus, &:active {
                color: #5e5e5e;
                background: #e4e4e4;
              }
            }

            &.active {

              a {
                color: #fff;
                border-top: none;
                border-bottom: none;

                &.edit {
                  background: #ffcd1a;

                  &:hover, &:focus, &:active {
                    color: #fff;
                    background: #ffcd1a;
                  }
                }

                &.manage {
                  background: #b8864b;

                  &:hover, &:focus, &:active {
                    color: #fff;
                    background: #b8864b;
                  }
                }

                &.moreViews {
                  background: #ed77e6;

                  &:hover, &:focus, &:active {
                    color: #fff;
                    background: #ed77e6;
                  }
                }

                &.filter {
                  background: #3e91ce;

                  &:hover, &:focus, &:active {
                    color: #fff;
                    background: #3e91ce;
                  }
                }

                &.visualize {
                  background: #36a572;

                  &:hover, &:focus, &:active {
                    color: #fff;
                    background: #36a572;
                  }
                }

                &.export {
                  background: #8ae8ff;

                  &:hover, &:focus, &:active {
                    color: #fff;
                    background: #8ae8ff;
                  }
                }

                &.feed {
                  background: #ffa733;

                  &:hover, &:focus, &:active {
                    color: #fff;
                    background: #ffa733;
                  }
                }

                &.embed {
                  background: #ff7377;

                  &:hover, &:focus, &:active {
                    color: #fff;
                    background: #ff7377;
                  }
                }

                &.about {
                  background: #d36674;

                  &:hover, &:focus, &:active {
                    color: #fff;
                    background: #d36674;
                  }
                }
              }
            }

            &:first-child {
              border-left: solid 1px #c8c8c8;
              border-radius: 2px 0 0 2px;

              a {
                border-radius: 2px 0 0 2px;
              }
            }

            &:last-child {
              border-right: solid 1px #c8c8c8;
              border-radius: 0 2px 2px 0;

              a {
                border-right: none;
                border-radius: 0 2px 2px 0;
              }
            }
          }
        }
      }
    }

    &.isEditable,
    &.unsavedView {

      #infoBox {

        .unpublished {
          float: left;
          margin: 0px 15px 6px 0;
        }

        #datasetName {
          display: inline-block;
          font-size: 20px;
        }

        .basedOnTemp {
          margin-top: 0;
        }
      }
    }

    &.isEditable {

      #unsavedTitle,
      .save.toolbarButton,
      .revert.toolbarButton {
        display: none !important;
      }
    }

    &.unsavedView {

      #infoBox {

        .unsavedLine {
          display: block;
        }

        .basedOnParent {
          display: none;
        }

        .basedOnTemp {
          display: block;
        }
      }
    }
  }

  .renderTypeNode {

    .divider {
      background: #c8c8c8 !important;
    }

    .row,
    .content {
      color: #5e5e5e !important;
      font-size: 10px !important;
      font-weight: 400 !important;

      .richColumn {

        .richLine {
          margin-bottom: 8px !important;

          .richLabel,
          .richItem {
            padding: 0 5px !important;
            font-size: 12px !important;
            line-height: 20px !important;
          }

          .richLabel {
            color: #6a6a6a !important;
            font-weight: 600 !important;
          }
        }
      }
    }

    &.fatRowRenderType {

      .row {

        &.rowHighlight {
          background-color: #fff !important;
        }

        &:nth-child(odd) {
          background-color: #fff !important;
        }

        &:nth-child(even) {
          background-color: #f7f7f7 !important;
        }
      }
    }

    .navigation {
      height: 40px !important;
      background: #f8f8f8 !important;
      border-top: solid 1px #e4e4e4 !important;

      li {

        a {
          display: inline-block !important;
          margin: 2px !important;
          padding: 0 !important;
          width: 33px !important;
          height: 33px !important;
          color: #2279a6 !important;
          font-size: 14px !important;
          line-height: 33px !important;
          background: transparent !important;
          border: solid 1px transparent !important;
          border-radius: 2px !important;
          box-shadow: none !important;
          cursor: pointer;
          transition: background 0.15s, border 0.15s, color 0.15s;

          .icon {
            position: relative !important;
            top: 10px !important;
            left: 10px !important;
          }

          &.disabled {
            cursor: not-allowed !important;

            .icon {
              opacity: 0.25 !important;
            }
          }

          &:hover,
          &:focus,
          &:active {
            text-decoration: none !important;
          }

          &:hover {
            border: solid 1px #d4d4d4 !important;

            &.disabled {
              border: solid 1px transparent !important;
            }
          }
        }

        &.edit {
          position: absolute !important;
          float: none !important;
          margin: 0 !important;
          left: 0 !important;
          top: 0 !important;

          a {
            padding: 0 8px !important;
            width: auto !important;
            font-weight: 400 !important;
            text-shadow: none !important;
          }
        }

        &.page {
          margin: 0 !important;
        }

        &.info {
          color: #5e5e5e !important;
          font-size: 12px !important;
          line-height: 15px !important;
        }
      }
    }
  }

  .outerContainer {

    .innerContainer {

      .socrata-visualization {
        font-family: "Open Sans", sans-serif;
        background-color: #fff;
      }
    }
  }
}

#editBar {
  display: none;
  float: left;
  margin-top: -0.5em;
  padding: 0.25em;
  .table-renderType & {
    display: block;
  }
  #editOptions {
    float: left;
    li {
      display: inline-block;
      margin: 0 -0.1em;
      .button {
        @include dataset-edit-icons;
        margin: 0.1em {
          top: 0.2em;
        };
        padding: 0.1em;
        &.disabled .icon {
          opacity: 0.3;
        }
      }
    }
  }
  #formatOptions {
    float: left;
    margin: {
      bottom: -0.2em;
      left: 0.5em;
      top: 0;
    };
    &.disabled {
      display: none;
    }
    li {
      display: inline-block;
      margin: 0 -0.1em;
      .button {
        @include format-icon;
        margin: 0.1em;
        padding: 0.1em;
        &.link {
          height: 16px;
          padding: 0.1em 0.2em;
        }
      }
      select.fontFamily {
        width: 8em;
      }
      select.fontSize {
        width: 5em;
      }
      .uniform {
        vertical-align: middle;
      }
      .menu {
        vertical-align: middle;
        &.align {
          @include format-icon(".alignIcon");
        }
        &.color {
          @include format-icon(".colorIcon");
          .colorIcon {
            border-bottom: 3px solid #000000;
            height: 12px;
            width: 13px;
          }
          .menuButton .icon {
            margin-bottom: 2px;
          }
        }
        .menuButton {
          @include button;
          margin-top: 0;
          padding: 0.3em 0.2em;
          .icon {
            margin-bottom: 3px;
          }
          .alignIcon, .colorIcon, .icon {
            display: inline-block;
          }
        }
        .menuDropdown ul li ul.menuEntries {
          min-width: 2em;
          li {
            @include format-icon;
            a {
              min-height: 16px;
              padding-right: 0.5em;
            }
          }
        }
      }
    }
  }
}

.aboutLoad {
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 99999px;
  img {
    display: none;
  }
  dl, dt, dd, ul, li, p, div {
    display: inline;
    white-space: nowrap;
  }
  .starsControl {
    background: none;
    display: inline;
  }
  .aboutDataset {
    display: block;
    padding-top: 11em;
  }
}

.outerContainer {
  background-color: white;
  border: 1px solid $color_chrome_box_border {
    left: 0;
    right: 0;
  };
  position: relative;
  .innerContainer {
    overflow: hidden;
    position: relative;
    .viewErrorContainer {
      display: none;
      text-align: center;
      .invalidView & {
        display: block;
      }
      .viewError {
        font-size: 1.4em;
        font-weight: bold;
        padding: 3em 0 1em;
      }
      .invalidActions li {
        display: inline-block;
      }
    }
  }
}

.invalidView {
  #toolbarOptions, #editBar {
    display: none;
  }
}

.editAlert, .unpublishedAlert {
  p {
    font-size: 1.2em;
    line-height: 1.1em;
  }
  .doneCopyingMessage {
    font-weight: bold;
  }
  .button.close {
    margin: {
      left: 5em;
      top: 0.5em;
    };
  }
}

// Other modals

.newTemplateForm .submitActions {
  margin-top: 1em;
  li {
    float: left;
    margin-left: 0.5em;
  }
}

// working copy message
.editPublishedMessage {
  .throbber {
    @include throbber-icon;
  }
}

#selectDataset {
  margin-left: -41em;
  width: 80em;
  top: 4em;
  iframe {
    border: none;
    height: 55em;
    width: 80em;
  }
}

#moreActionBarButtons {
  background: white;
  position: absolute;
  right: 0.3em;
  z-index: 10;
  padding: {
    top: 0.4em;
    left: 0.6em;
  };
  border: solid 1px #333;
  border-top: none;
  li {
    float: none;
    margin: {
      left: 0;
      bottom: 0.6em;
    };
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.visualization-canvas-bootstrap {
  background: #ffffff;
  padding: 8px;

  .visualization-canvas-button {
    font-size: 1.3em;
    font-weight: normal;
    width: 100%;
    padding: 1em;
    background-color: #1d678d;
    color: #fff;
    text-align: center;
    display: block;
    box-sizing: border-box;
  }

  .visualization-canvas-ignore-link {
    color: #3d3d3d;
    font-size: 13px;
    line-height: 1.3em;
    margin: .5em auto;
    display: block;
    text-align: center;
  }
}

body.grid-view-2017-refresh {
  $fontStack: 'Open Sans', sans-serif;
  $defaultTextColor: #5e5e5e;
  $modalWidth: 960px;
  $modalHeight: 600px;
  $headerVerticalPadding: 12px;
  $controlsHeight: 40px;
  $controlsVerticalPadding: 8px;
  $controlsTotalHeight: $controlsHeight + ($controlsVerticalPadding * 2);
  $lightGrey: #c8c8c8;
  $lightestGrey: #f8f8f8;

  font-size: 62.5%;
  box-sizing: content-box;

  #grid-view-column-editor,
  #grid-view-row-editor {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: $fontStack;
    z-index: 9997;

    input {
      box-sizing: content-box !important;
    }

    .overlay {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.33);
      z-index: 1;
    }

    .modal {
      display: block;
      position: fixed;
      left: calc((100% - #{$modalWidth}) / 2);
      top: calc((100% - #{$modalHeight}) / 2);
      width: $modalWidth;
      height: $modalHeight;
      font-size: 15px;
      color: $defaultTextColor;
      background: #fff;
      box-shadow: 0 0 10px -4px #555;
      z-index: 2;
      overflow-y: hidden;

      .header {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 3;

        span.socrata-icon-settings {
          display: inline-block;
          padding-top: 0.25em;
          width: 1em;
          height: 1em;
          font-size: 1.25em;
          color: #aaa;
        }

        h2 {
          display: inline-block;
          margin-left: 0.5em;
          width: 85%;
          font-size: 1.1333em;
          font-weight: 600;
          letter-spacing: -.3px;
          text-overflow: ellipsis;
        }

        .cancel {
          position: absolute;
          top: 1em;
          right: 1em;
          color: #919191;
          background-color: transparent;
          border:none;
          cursor: pointer;

          span.socrata-icon-close-2 {
            font-size: 1.182em;
          }
        }
      }

      .controls {
        position: relative;
        padding: $controlsVerticalPadding 0.5em;
        height: $controlsHeight;
        text-align: right;
        background-color: $lightestGrey;
        z-index: 4;

        button {
          display: inline-block;
          padding: 0.6667em 2em;
          font-size: 1em;
          text-decoration: none;
          letter-spacing: 0;
          cursor: pointer;
          transition: color .2s,background-color .2s;

          &.save {
            margin-left: 0.6em;
            color: #fff;
            background-color: #2279a6;
            border: 1px solid #288dc1;

            &:hover, :focus {
              color: #fff;
              background-color: #1d678d;
            }
          }

          &.prev,
          &.next,
          &.cancel {
            color: #767676;
            background-color: #fff;
            border: 1px solid $lightGrey;

            &:hover, :focus {
              color: #6a6a6a;
              background-color: #f1f1f1;
            }
          }

          &.prev,
          &.next {
            position: relative;
            float: left;
            text-align: right;

            .socrata-icon-arrow-left,
            .socrata-icon-arrow-right {
              position: absolute;
              display: block;
              width: 1em;
              height: 1.25em;
              left: 0.75em;
              top: 0.8em;
              color: #6a6a6a;
              font-size: 0.9em;
            }
          }

          &.next {
            margin-left: 0.6em;
            text-align: left;

            .socrata-icon-arrow-right {
              left: auto;
              right: 0.75em;
            }
          }

          &:active {
            box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.2);
          }

          &:disabled,
          &:disabled:hover,
          &:disabled:focus,
          &:disabled:active {
            color: $lightGrey;
            background-color: #f6f6f6;
            border-color: #e4e4e4;
            box-shadow: none;
            cursor: not-allowed;

            .socrata-icon-arrow-left,
            .socrata-icon-arrow-right {
              color: $lightGrey !important;
            }
          }
        }
      }

      .loadingSpinnerContainer {
        position: absolute;
        display: block;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 4;

        .loadingSpinner {
          position: absolute;
          left: calc(50% - 24px);
          top: calc(50% - 24px);
        }

        &.hidden {
          display: none;
        }
      }
    }
  }

  #grid-view-column-editor {
    $headerHeight: 52px;
    $headerTotalHeight: $headerHeight + $headerVerticalPadding;
    $navTabsHeight: 31px;

    .modal {

      .header {
        padding-top: $headerVerticalPadding;
        padding-left: 1em;
        padding-right: 1em;
        height: $headerHeight;
      }

      .columns-container {
        position: relative;
        height: $modalHeight - $headerTotalHeight - $controlsTotalHeight;
        z-index: 2;

        .columns {
          position: relative;
          height: 100%;
          z-index: 1;

          .column {

            ul.nav-tabs {
              padding: 0 0 0 2em;
              height: $navTabsHeight;
              border-bottom: 1px solid $lightGrey;

              li.tab-link {
                display: inline-block;
                margin-right: 12px;
                padding: 0 12px 12px 12px;
                cursor: pointer;
                user-select: none;

                &:hover {
                  border-bottom: 4px solid $lightGrey;
                }

                &.current,
                &.current:hover {
                  border-bottom: 4px solid #288dc1;
                }
              }
            }

            .tab-content {
              position: relative;
              display: block;
              padding: 0 1em 1.5em 1em;
              height: $modalHeight - $headerTotalHeight - $controlsTotalHeight - $navTabsHeight;
              font-size: 1em;
              background-color: #fff;
              box-sizing: border-box;
              overflow-y: scroll;

              .field-group {
                display: block;
                width: 65%;

                h3, h4 {
                  margin-left: 0.75em;
                }

                h4 {
                  margin-top: 1em;
                }

                .field {
                  padding: 1em 1em 0 1em;

                  label {
                    color: #767676;

                    &.top {
                      display: inline-block;
                      margin: 0.75em 0 0.25em 0;
                    }
                  }

                  input {
                    font-size: 1em;
                    color: $defaultTextColor;
                    box-sizing: border-box;

                    &[type="text"],
                    &[type="range"] {
                      width: 100%;
                      padding: 0.5em;
                    }

                    &[type="range"] {
                      width: 49.5%;
                      padding: 0.5em;
                    }

                    &[type="checkbox"] {
                      display: inline-block;
                      margin: 0 0.75em 0 0;
                      padding: 0;

                      & + label {
                        display: inline-block;
                        color: $defaultTextColor;
                        cursor: pointer;
                      }
                    }

                    &[disabled] {
                      color: #777;
                      background-color: $lightestGrey;
                    }
                  }

                  textarea {
                    width: 100%;
                    padding: 0.5em;
                    font-size: 1em;
                    color: $defaultTextColor;
                    border: 1px solid #ccc;
                    resize: vertical;
                    box-sizing: border-box;
                  }

                  select {
                    display: block;
                    width: 50%;
                    height: 2.5em;
                    font-size: 0.9em;
                    color: $defaultTextColor;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                  }

                  .column-number-formatting-override-precision-control,
                  .column-number-formatting-override-thousands-separator-control,
                  .column-number-formatting-override-decimal-separator-control {
                    display: block;
                    margin-top: 1em;

                    &.hidden {
                      display: none;
                    }
                  }

                  &.column-field-name,
                  &.column-data-type {
                    display: block;
                  }

                  &.column-field-name {
                    width: 50%;
                  }

                  &.column-data-type {

                    .convert-column-type-container {
                      position: relative;

                      input.column-data-type {
                        width: calc(50% - 1em);
                      }

                      select.column-data-type {
                        display: inline-block;
                        margin-right: 2em;
                      }

                      button.convert-column-data-type {
                        display: inline-block;
                        padding: 0.6667em 1em;
                        color: #fff;
                        font-size: 13px;
                        text-decoration: none;
                        letter-spacing: 0;
                        background-color: #2279a6;
                        border: 1px solid #288dc1;
                        cursor: pointer;
                        transition: color .2s,background-color .2s;

                        &:disabled,
                        &:disabled:hover,
                        &:disabled:focus,
                        &:disabled:active {
                          color: $lightGrey;
                          background-color: #f6f6f6;
                          border-color: #e4e4e4;
                          box-shadow: none;
                          cursor: not-allowed;
                        }

                        &:hover, :focus {
                          color: #fff;
                          background-color: #1d678d;
                        }

                        &:active {
                          box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.2);
                        }
                      }

                      .convert-column-data-type-status {
                        position: absolute;
                        display: none;
                        top: 0;
                        right: 0;
                        background-color: white;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        line-height: 30px;
                      }
                    }
                  }

                  &.optional {
                    display: block;
                  }

                  &.optional.hidden {
                    display: none;
                  }

                  &:first-child {
                    padding-top: 2em;
                  }
                }
              }

              .preview {
                position: absolute;
                width: 30%;
                top: 0;
                right: 2em;

                input[type="text"] {
                  width: 67%;
                  font-size: 1em;
                }

                .column-number-formatting-preview-note {
                  display: block;
                  margin-top: 0.5em;
                  color: #767676;
                  line-height: 1.5em;
                }
              }

              button.delete {
                margin-top: 1em;
                padding: 0.6667em 2em;
                color: #fff;
                font-size: 1em;
                text-decoration: none;
                letter-spacing: 0;
                background-color: #d06463;
                border: 1px solid #914646;
                cursor: pointer;
                transition: color .2s,background-color .2s;

                &:disabled,
                &:disabled:hover,
                &:disabled:focus,
                &:disabled:active {
                  color: $lightGrey;
                  background-color: #f6f6f6;
                  border-color: #e4e4e4;
                  box-shadow: none;
                  cursor: not-allowed;
                }

                &:hover, :focus {
                  color: #fff;
                  background-color: #b35655;
                  border: 1px solid #914646;
                }

                &:active {
                  box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.2);
                }
              }

              &.hidden {
                display: none;
              }
            }

            &.hidden {
              display: none;
            }

            &:last-child .content {
              border-right: none;
            }
          }
        }
      }
    }
  }

  #grid-view-row-editor {
    $headerHeight: 27px;
    $rowHeaderHeight: 32px;
    $headerTotalHeight: $headerHeight + ($headerVerticalPadding * 2) + $rowHeaderHeight;

    ::placeholder {
      color: $lightGrey;
      opacity: 1;
    }

    .modal {

      .header {
        padding: $headerVerticalPadding 1em;
        height: $headerHeight;
        border-bottom: 1px solid #ccc;
      }

      .row-header {
        position: relative;
        display: block;
        padding: 0;
        height: $rowHeaderHeight;
        background-color: $lightestGrey;
        border-bottom: 1px solid #ccc;

        .column-name,
        .column-value,
        .column-is-null {
          display: inline-block;
          height: $rowHeaderHeight;
          line-height: $rowHeaderHeight;
        }

        .column-name {
          padding-left: 5%;
          width: 27%;
        }

        .column-value {
          width: 42%;
        }

        .column-is-null {
          padding-left: 2%;
        }
      }

      .row-container {
        position: relative;
        display: block;
        padding: 1em 0 1.5em 0;
        height: $modalHeight - $headerTotalHeight - $controlsTotalHeight;
        font-size: 1em;
        background-color: #fff;
        box-sizing: border-box;
        overflow-y: scroll;
        z-index: 2;

        .input-line {
          position: relative;
          margin: 0;
          padding: 8px 16px;
          border-bottom: 1px solid #e8e8e8;

          .icon {
            display: inline-block;
            margin-right: 2%;
            vertical-align: top;
          }

          label,
          input {
            position: relative;
            display: inline-block;
            color: #555 !important;
            font-size: 15px !important;
            line-height: 18.5px !important;
            vertical-align: top;
          }

          label {
            word-break: break-all;

            &.value {
              margin: 0 1% 0 0;
              width: 27.25%;
            }
          }

          input {
            vertical-align: top;

            &.value {
              width: 40%;

              &:disabled {
                color: $lightestGrey !important;
                background-color: $lightestGrey !important;
                user-select: none;
              }
            }

            &.is-null {
              margin: 4px 15px 0 50px;
            }
          }

          .value-set {
            position: relative;
            display: inline-block;
            width: 41.5%;

            .value-row {
              padding-bottom: 8px;

              label.value {
                width: 35%;

                &.checkbox-label {
                  margin: 8px 0;
                  width: 75%;

                  & + input[type="checkbox"] {
                    margin: 13px 0 0 0;
                  }
                }
              }

              input.value {
                width: 60%;

                &[type="checkbox"] {
                  width: 20%;
                }
              }
            }

            & + input.is-null {
              margin-left: 44px;
            }
          }

          .value {

            &.file-input-filename,
            &.file-input-upload-button {
              display: inline-block;
            }

            &.file-input-filename {
              width: 26%;
              height: 20px;
              line-height: 18.5px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;

              &.hint {
                color: $lightGrey;
              }

              &.hidden {
                visibility: hidden;
              }
            }

            &.file-input-upload-button {
              margin-left: 3.8%;
              width: 11%;
              padding: 0.6667em 0;
              color: #767676 !important;
              font-size: 13px !important;
              line-height: 13px !important;
              background-color: #fff;
              border: 1px solid $lightGrey;
              cursor: pointer;
              transition: color .2s,background-color .2s;

              &:hover {
                color: #6a6a6a;
                background-color: #f1f1f1;
              }

              &:active {
                box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.2);
              }

              &:disabled {
                color: $lightGrey !important;
                cursor: default;
              }
            }
          }

          .validation-error {
            display: none;
            padding: 8px 8px 8px 32%;
            color: #b35655;
          }

          &[data-column-data-type-name="date"],
          &[data-column-data-type-name="calendar_date"] {

            label {

              &.value {

                &.utc-offset {
                  margin-left: 5.1%;
                  margin-right: 1%;
                  width: 9%;
                }
              }
            }

            input {

              &.value {
                width: 18%;

                &.utc-offset {
                  width: 6%;
                }
              }
            }
          }

          &[data-column-data-type-name="calendar_date"] {

            input.value {
              margin-right: 22%;
            }
          }

          &[data-column-data-type-name="url"] {

            .url-description,
            .url {
              display: inline-block;
              width: 26%;
            }
          }

          &[data-column-data-type-name="photo"],
          &[data-column-data-type-name="blob"],
          &[data-column-data-type-name="document"] {

            .has-file {
              color: #d06463 !important;
              background-color: #faf0f0 !important;
              border: 1px solid #d06463 !important;

              &:hover,
              &:active {
                box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.2);
              }

              &:disabled {
                border: 1px solid $lightGrey !important;
              }
            }
          }

          &[data-column-data-type-name="photo"],
          &[data-column-data-type-name="blob"] {

            .file-input-filename {
              color: $lightGrey;
            }
          }

          &[data-column-data-type-name="document"] {

            input.file-input-upload-button {
              margin-left: 3%;
            }
          }

          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }

          &.invalid {
            background-color: #faf0f0;

            .validation-error {
              display: block;
            }
          }
        }
      }

      .controls {
        border-top: 1px solid #ccc;

        .delete {
          float: left;
          color: #fff;
          background-color: #d06463;
          border: 1px solid #914646;

          &:hover, :focus {
            color: #fff;
            background-color: #b35655;
            border: 1px solid #914646;
          }

          &:active {
            box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

  .datepicker {
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 9999;
  }

  #jqmUpload {
    padding: 1em !important;
    color: $defaultTextColor !important;
    font-family: $fontStack !important;
    font-size: 13px !important;
    background: #fff !important;
    box-shadow: 0 0 10px -4px #555 !important;
    border-radius: 0 !important;

    .title {
      color: $defaultTextColor !important;
      font-size: 17px !important;
      font-weight: 600 !important;
      line-height: 25.5px !important;
      letter-spacing: -.3px !important;
    }

    .modalDialogClose.jqmClose {
      display: inline-block;
      color: transparent;
      font-family: 'socrata-icons';
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-indent: 0;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-smoothing: antialiased;
      background: none !important;

      &::before {
        content: "\EA1B";
        color: #919191;
      }
    }

    input {
      border-radius: 1px !important;

      &[name="file_upload"] {
        height: 25.5px;
        vertical-align: top;
        box-shadow: none;
      }
    }

    a.button {
      display: inline-block !important;
      padding: 0.6667em 2em !important;
      color: #767676 !important;
      font-size: 1em !important;
      font-weight: 400 !important;
      text-decoration: none !important;
      text-shadow: none !important;
      letter-spacing: 0 !important;
      background: #fff !important;
      border: 1px solid $lightGrey !important;
      border-radius: 1px !important;
      cursor: pointer !important;
      transition: color .2s,background-color .2s !important;

      &.submitAction {
        margin-left: 0.6em !important;
        color: #fff !important;
        background: #2279a6 !important;
        border: 1px solid #288dc1 !important;

        &:hover, :focus {
          color: #fff !important;
          background-color: #1d678d !important;
        }
      }

      &.fileBrowseButton {
        margin-top: 0;
      }

      &:hover, :focus {
        color: #6a6a6a !important;
        background-color: #f1f1f1 !important;
      }

      &:active {
        box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
}
