h2, h3 {
  padding-top: 1em;
}

body {
  a:focus {
    outline: 1px solid #aaa;
  }
  input:focus {
    outline: 1px solid #aaa;
  }
  select:focus {
    outline: 1px solid #aaa;
  }
}

#datasetMenu li {
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.2em 0.8em;
  text-transform: uppercase;
  a {
    color: #333;
    text-decoration: underline;
    &:focus {
      border: dotted 1px #333;
    }
  }
}

a.interactiveBackButton {
  background: #ddd;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.8em;
}

.contentBoxTable {
  @include contentBoxParent;
  display: table;
}

.dataGridWrapper {
  margin-top: 1em;
  padding: 1em;
  .noDataMessage {
    font-size: 1.3em;
    font-weight: bold;
  }
}

#dataGrid {
  thead, tfoot {
    background-color: #ddd;
  }
  tbody {
    tr.odd {
      background-color: #eee;
    }
    tr.even {
      background-color: #fff;
    }
  }
  th {
    border-left: 1px solid #aaa;
    font-size: 1.3em;
    max-width: 15em;
    overflow: hidden;
    padding: 1em 2em;
    white-space: nowrap;
    width: auto;
    &:first-child {
      border-left: none;
    }
    &.nested_table {
      border-bottom: 1px solid #aaa;
    }
  }
  td {
    border-left: 1px solid #aaa;
    font-size: 1.3em;
    padding: 0.6em;
    &.type_nested_table {
      padding: 0;
      vertical-align: top;
    }
    table {
      width: 100%;
      td {
        font-size: 1em;
      }
      th {
        font-size: 1.0909em;
      }
    }
  }
}

#pagination {
  margin: 2em;
  a {
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.5em;
  }
}

#queryForm {
  > label, ul li label {
    font-size: 1.3em;
  }
}

.altMeta {
  p, li, label, dt, dd {
    font-size: 1.3em;
  }
  #publishCodeTemplate {
    font-size: 1.2em;
    height: 10em;
    margin-top: 1em;
    width: 35em;
  }
  .aboutDataset {
    .expander {
      display: none;
    }
    .formSection {
      border-bottom: 1px solid #999999;
      margin: 0.5em 0;
      padding: 0.5em 0;
    }
  }
}

ul.metaDataList {
  list-style: circle inside;
}

#previewWidgetLink {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.4em;
}
