.metadataScreen {
  h2 {
    margin-top: 0;
  }
  .noData {
    font-size: 1.4em;
    margin: 1em 0;
  }
  .metadataExplanation {
    margin-top: 1em;
    p {
      font-size: 1.2em;
      margin-top: 0.5em;
      &:first-child {
        margin-top: 0;
      }
      .code {
        font-family: monaco, menlo, "courier new", monospace;
      }
    }
  }
  .customFields {
    .fieldsetTitle {
      margin: {
        bottom: 1em;
        right: 1em;
        top: 1em;
      };
    }
    .removeFieldsetButton {
      float: right;
      position: relative;
      top: 0.5em;
    }
    .gridListWrapper {
      margin-top: 1.5em;
    }
    .metadataFieldTable {
      td.required {
        width: 1em;
      }
      tr.required {
        th.required, td.required {
          .requiredField {
            background: url(/stylesheets/images/common/required.png) no-repeat left top;
            display: block;
            height: 10px;
            margin-left: 6px;
            width: 10px;
          }
        }
      }
      tr.private {
        color: #888;
      }
    }
  }
  .metadataFieldTable, .categoriesTable {
    td {
      vertical-align: top;
    }
    .locales {
      .line {
        margin-bottom: 0.2em;
        label {
          display: inline-block;
          width: 3em;
        }
      }
    }
    .actions, .deleteAction {
      text-align: right;
      input.button {
        font-size: 0.8em;
        opacity: 1;
        @include transition-duration(0.5s);
        @include transition-property(opacity);
      }
      .loading {
        @include throbber-icon;
        display: none;
      }
      &.isWorking {
        .loading {
          display: inline-block;
        }
      }
    }
    tbody {
      td.name {
        font-size: 1.2em;
      }
      tr td {
        padding: 0.2em 1em;
      }
      td.required {
        padding-right: 0;
      }
      .toggleButton {
        width: 10em;
      }
    }
  }
  .metadataFieldTable {
    tbody tr td {
      vertical-align: baseline;
    }
    .options {
      width: 20em;
    }
    tbody tr td.options {
      @include border-radius(0.5em);
      @include transition-duration(0.5s);
      @include transition-property(background-color);
      padding: 0.6em;
      .fixedOptions {
        li {
          height: 24px;
          margin-bottom: 12px;
          .fadeIcon {
            @include transition-duration(0.3s);
            @include transition-property(opacity);
            opacity: 0.3;
            float: left;
            position: relative;
          }
          &:hover .fadeIcon {
            opacity: 1;
          }
          .grabHandle {
            @include drag-handle;
            float: left;
            height: 24px;
            width: 8px;
            margin-right: 5px;
          }
          .optionAction {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            padding: 0;
            margin-top: 5px; 
            margin-right: 5px;
            @include sprite-menu-icons;
            .icon {
              float: left;
              position: relative;
            }
          }
          .value {
            @include transition-duration(0.3s);
            @include transition-property(border-color);
            border: 1px solid white;
            font-size: 1em;
            width: 17em;
          }
          &:hover .value {
            border: 1px solid $color_chrome_box_border;
          }
          &.newItemLine {
            .value {
              margin-left: 1em;
            }
          }
          &.templateLine {
            display: none;
          }
        }
      }
      .actions {
        display: none;
        @include transition-duration(0.5s);
        @include transition-property(opacity);
        .saveButton {
          float: right;
          font-size: 0.9em;
        }
      }
      .errorText {
        display: none;
      }
      &.modified {
        background-color: #ff9;
      }
      &.error {
        background-color: #f44;
        .errorText {}
      }
      &.modified, &.error {
        .actions {
          display: block;
        }
      }
    }
  }
  .newFieldsetArea {
    padding-top: 3em;
    .newFieldsetForm {
      margin-left: 4em;
    }
    label {
      font-weight: bold;
    }
    .newFieldsetName, label {
      font-size: 1.4em;
      margin-right: 1em;
    }
    .newFieldsetButton {
      font-size: 1.2em;
    }
  }
  .categories {
    h2 {
      margin-bottom: 1em;
    }
  }
}
