.container {
  display: flex;
  cursor: pointer;
}

.radio-button {
  margin-right: 10px;
}

.label {
  width: 75%;
  transition: background-color 0.3s;
  border-radius: 5px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
