<%= partial "code_sample", locals: { component: "components/skeletons/picklist" } %>
<h3>With a disabled state</h3>
<p>Simply set with a boolean value through props with "disabled" as the key.</p>
<%= partial "code_sample", locals: { component: "components/skeletons/picklist_disabled" } %>
<h3>With a scrolling window</h3>
<p>While no direct property configuration exists to make the picklist conform to a desired height, the effect can be achieved through a container element and a few styling adjustments.</p>
<%= partial "code_sample", locals: { component: "components/skeletons/picklist_with_window" } %>
