@import 'variables/colors';

.authoring-modal {
  .modal-header {
    z-index: 60;
  }

  .modal-footer-actions {
    align-items: center;
    display: flex;
  }

  .authoring-modal-content {
    margin-bottom: 49px;
    overflow-y: hidden;
    padding: 0;

    .filter-bar-container {
      left: 0;
      position: absolute;
      right: 0;
      z-index: 53;

      .column-container {
        z-index: 100;
      }

      .collapsed-filters-container {
        z-index: 52;
      }
    }

    .nav-tabs {
      border: 0;
      border-right: 1px solid $light-grey-4;
      border-top: 1px solid $light-grey-4;
      float: left;
      min-width: 70px;
      margin: 0;
      padding: 0;
      width: 70px;

      li {
        display: block;
        height: 57px;
        padding: 0;
        position: relative;

        &.current a {
          &::after {
            background-color: $primary;
            display: block;
          }

          span {
            color: #307395;
          }
        }

        a {
          border: 0;
          border-bottom: 1px solid #E9EAEA;
          color: $alternate-4-dark;
          display: block;
          font-size: 22px;
          line-height: 58px;
          padding: 0;
          text-align: center;

          &::after {
            bottom: -1px;
            content: "";
            left: 0;
            position: absolute;
            top: -1px;
            width: 6px;
          }

          &:hover,
          &:focus {
            background: $light-grey-6;
            outline: none;

            &::after {
              background-color: $alternate-4;
              display: block;
            }

            & + .pane-tooltip {
              display: inline-block;
            }
          }

          span {
            pointer-events: none;
          }
        }

        .pane-tooltip {
          background: #fff;
          box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
          display: none;
          font-size: 12px;
          left: 60px;
          padding: 8px;
          pointer-events: none;
          position: relative;
          top: -45px;
          white-space: nowrap;
          z-index: 1000;

          &:after,
          &:before {
            border: solid transparent;
            content: " ";
            height: 0;
            position: absolute;
            pointer-events: none;
            right: 100%;
            top: 50%;
            width: 0;
          }

          &:after {
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #ffffff;
            border-width: 5px;
            margin-top: -5px;
          }

          &:before {
            border-color: rgba(186, 186, 186, 0);
            border-right-color: #ccc;
            border-width: 6px;
            margin-top: -6px;
          }
        }
      }
    }
  }

  .authoring-modal-footer {
    padding: 5px;
  }
}

.authoring-footer-buttons {
  margin: auto;
  margin-left: 0;

  .authoring-back-button,
  .authoring-reset-button {
    background: transparent;
    border: solid 1px transparent;
    color: $primary-text;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.15s, border 0.15s, color 0.15s;

    &:hover {
      background: transparent;
      border: solid 1px #d4d4d4;
      border-radius: 2px;
    }

    &:active {
      background: #ddd;
      outline: 0;
    }

    &:disabled {
      border: solid 1px transparent;
      color: #777;
      cursor: not-allowed;
    }

    [class*="icon"] {
      font-size: 12px;
      margin-right: 8px;
      vertical-align: top;
    }
  }
}

.authoring-actions .btn {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.authoring-controls {
  bottom: 49px;
  display: flex;
  flex-direction: row;
  left: 0;
  position: absolute;
  right: 0;
  top: 118px;

  > div {
    width: 38%;
  }

  .authoring-editor {
    display: flex;
    flex-direction: row;
  }

  .visualization-tab-panes {
    border: 1px solid #E7E8E8;
    border-bottom-width: 0;
    border-left-width: 0;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;

    h4 {
      margin-top: 1rem;
    }

    h5 {
      border-bottom: solid 1px #ebebeb;
      font-size: 14px;
      padding-bottom: 5px;
      text-transform: uppercase;
    }

    form {
      margin-bottom: 0;
    }

    .block-label {
      margin-bottom: 5px;

      .icon-question {
        margin-left: 6px;
      }
    }

    .inline-label {
      display: inline-block;
      margin: 5px 0;
    }

    .text-input,
    textarea,
    input[type="range"] {
      max-width: 100%;
      width: 100%;
    }

    textarea {
      height: 150px;
      resize: vertical;
    }

    .translation-within-label {
      display: inline-block;
    }

    .authoring-field-group {
      margin: 30px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .double-column-input-group {
        div {
          display: inline-block;
          width: 48%;
        }

        div + div {
          margin-left: 4%;
        }
      }
    }

    .alert {
      border-width: 0;
    }

    .authoring-empty-pane {

      .icon-info {
        margin-right: 8px;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }

    .has-color-palette-preview {
      position: relative;

      .color-palette-preview-container {
        box-shadow: 0 0 0 2px $dark-grey-1;
        height: 26px;
        list-style: none;
        margin: 0;
        max-width: 130px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        pointer-events: none;
        right: 40px;
        top: 10px;
        width: calc(100% - 150px);
        z-index: 52;

        li {
          float: left;
          height: 26px;
          max-width: 26px;
          width: 26px;
        }
      }
    }

    .debounced-slider-with-preview {
      display: flex;
      flex-wrap: wrap;
      margin: 5px 0 10px;

      .slider-container {
        max-width: calc(100% - 50px);
        width: 80%;

        .input-range-slider {
          margin-bottom: 20px;
          margin-top: 20px;
        }
      }

      .point-size-preview-container,
      .line-weight-preview-container {
        margin-left: 10px;
        max-width: 75px;
        min-width: 40px;
        position: relative;
        width: calc(20% - 10px);

        &:after {
          border: 2px solid $light-grey-4;
          bottom: 5px;
          content: '';
          left: 5px;
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }

      .point-size-preview-container .point-preview-indicator,
      .line-weight-preview-container .line-preview-indicator {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate3d(-50%, -50%, 0);
      }

      .point-size-preview-container .point-preview-indicator {
        fill: $dark-grey-1;
      }

      .line-weight-preview-container .line-preview-indicator {
        background-color: $dark-grey-1;
        height: 65%;
      }
    }

    .authoring-field {
      margin: 12px 0;

      &.disabled {
        color: $light-grey-2;
        cursor: not-allowed;

        &.base-map-opacity-container {
          opacity: 0.75;

          .InputRange,
          .input-range-slider .InputRange-slider {
            cursor: not-allowed;
          }
        }
      }

      .input-range-slider {
        margin-top: 25px;
      }

      .data-classes-dropdown-container .dropdown-container {
        width: auto;
        min-width: 80px;
      }
    }

    .authoring-field-description {
      font-style: italic;
      line-height: 1.2;
      margin: 0;
      margin-top: 10px;
    }

    .metadata-loading {
      display: inline-flex;

      .metadata-loading-spinner {
        margin: auto;
        margin-right: 10px;
      }
    }

    .units-description,
    .search-boundary-description {
      margin: 0 0 24px
    }

    .units-container {
      margin-bottom: 24px;

      p {
        margin: 0;
      }

      .unit-container {
        display: flex;
        margin: 5px 0;

        .block-label {
          line-height: 40px;
          margin: 0 5px 0 0;
          width: 25%;
        }

        .text-input {
          margin: 0;
          width: 75%;
        }
      }
    }

    .color-picker {
      width: 263px;
      z-index: auto;

      .color-45 {
        width: 220px;

        .color-bucket:nth-child(9n) {
          margin-right: 0;
        }
      }
    }

    .dropdown-container {
      width: 100%;
    }

    .region-general-info {
      line-height: 1.2;
      z-index: 9999999;

      section {
        padding: 10px;
      }
    }

    .region-selector-container {
      .alert {
        *:last-child {
          margin-bottom: 0;
        }
      }
    }

    .region-processing-info {
      margin-bottom: 10px;
    }

    .region-processing-info-last-checked {
      display: flex;

      > span {
        margin: auto 0;
      }

      > span:last-child {
        margin-left: 8px;
      }
    }

    .region-selector-container {
      .icon-question {
        cursor: pointer;
        margin-left: 2px;
      }
    }

    #dimension-flyout .flyout-content {
      max-height: none;
    }

    .selected-dimension-indicator {
      background-color: $alternate-4-light;
      border: 1px dashed $light-grey-3;
      padding: 4px;
      position: relative;

      &.empty {
        color: #999;
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
        padding: 16px;
      }

      .btn-clear-dimension {
        color: #262525;
        display: none;
        line-height: 0;
        margin: auto;
        margin-right: 0;
        padding: 0;

        .socrata-icon {
          height: 13px;
          width: 13px;
        }
      }

      &:not(.empty):hover {
        .btn-clear-dimension {
          display: inline-block;
        }

        .recommended-indicator {
          display: none;
        }
      }

      .dimension {
        background-color: rgba(229,249,245,0.5);
        border: 1px solid $light-grey-3;
        display: inline-flex;
        padding: 8px;
        width: 100%;

        .recommended-indicator {
          right: 14px;
        }
      }
    }

    .dimension {
      position: relative;

      [class^=icon] {
        background: white;
        border-radius: 50%;
        color: $alternate-3;
        display: inline-block;
        margin-right: 5px;
        text-align: center;
        width: 24px;
      }

      .recommended-indicator {
        background-color: #1da751;
        border-radius: 50%;
        display: block;
        float: right;
        height: 8px;
        margin-top: -3px;
        position: absolute;
        right: 8px;
        top: 50%;
        width: 8px;
      }
    }

    .dimension-selector-container {
      .picklist {
        height: 250px;
      }
    }

    .tabs-list {
      border-bottom: 1px solid $light-grey-3;
      display: flex;
      list-style: none;
      margin: 0 0 10px;
      padding: 0;

      li {
        margin: 0 5px 0 0;

        a {
          border-bottom: 4px solid transparent;
          color: $alternate-4-dark;
          cursor: pointer;
          display: block;
          padding: 5px 10px;

          span {
            margin-right: 5px;
          }

          &.selected {
            border-bottom-color: $primary;

            span {
              color: #307395;
            }
          }

          &:hover,
          &:focus {
            background: $light-grey-6;
            border-bottom-color: $alternate-4;
          }
        }
      }
    }

    .dual-axis-container {

      .secondary-axis-container {

        &.disabled{
          color: $light-grey-2;
          cursor: not-allowed;
        }
      }
    }

    .measure-axis-bounds-label {
      display: block;
      margin: 10px 0;
    }

    .region-and-measure-list-container {
      padding-left: 30px;

      .region-selector-container,
      .measure-list-container {
        margin: 12px 0;
      }
    }

    .measure-list-container {
      .block-label {
        margin: 20px 0 10px;
      }
    }

    .dropdowns-list {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      .list-item {
        display: flex;
        margin: 0;
        padding: 0;

        .dropdown-focused {
          .dropdown-placeholder {
            border-color: $alternate-3;
            outline: none;
          }
        }

        .primary-dropdown-container {
          flex: 1 1 100%;
          overflow: hidden;
        }

        .secondary-dropdown-container {
          flex: 0 0 80px;
          margin-left: -1px;
        }

        .delete-link-container {
          display: table;
          flex: 0 0 25px;
          margin: 0 0 0 10px;

          .delete-link {
            color: $dark-grey-1;
            cursor: pointer;
            display: table-cell;
            font-size: 25px;
            height: 46px;
            vertical-align: middle;
          }
        }
      }
    }

    .add-link-container {
      margin: 5px 0;

      a {
        cursor: pointer;
        text-decoration: none;

        .socrata-icon-add {
          margin: 0 5px;
        }

        &.disabled {
          color: $light-grey-2;
          cursor: not-allowed;
        }
      }
    }

    .reference-lines-reference-line-container {
      margin: 10px 0 20px;

      .reference-lines-controls-container {
        display: flex;

        .text-input {
          height: 40px;
          margin-bottom: 0;
        }

        .text-input-button-button {
          border-left: none;
          border-right: none;
        }

        .color-picker {
          align-self: auto;
          min-width: 65px;
          width: 66px;

          .color-buckets-container {
            left: auto;
            right: 0;
          }
        }

        .socrata-icon-close {
          color: $dark-grey-1;
          cursor: pointer;
          font-size: 25px;
          margin-left: 5px;
        }
      }
    }

    .reference-lines-add-reference-line-link-container {
      a {
        cursor: pointer;
        text-decoration: none;

        &.disabled {
          color: $light-grey-2;
          cursor: not-allowed;
        }

        .socrata-icon-add {
          margin: 0 5px;
        }
      }
    }

    .reference-lines-remove-reference-line-link-container {
      text-align: right;

      a {
        cursor: pointer;
        text-decoration: none;

        .socrata-icon-close-2 {
          margin: 0 5px;
        }
      }
    }

    .text-input-button-container {
      position: relative;

      .text-input-button-overlay {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
      }

      .text-input-button-popup {
        height: 40px;
        position: absolute;
        right: -1px;
        top: 39px;
        width: 160px;
        z-index: 999;
      }

      .text-input-button-button {
        height: 40px;
        min-width: 40px;
        padding: 0;
        width: 40px;

        .socrata-icon-flyout-options {
          color: $dark-grey-1;
          font-size: 24px;
        }
      }

      .hidden {
        visibility: hidden;
      }
    }

    .grouped-stacked-selector-container {
      margin: 0 0 30px;
    }

    #grouping-display-grouped-container,
    #grouping-display-stacked-container,
    #grouping-display-100-percent-stacked-container {

      &.disabled {
        color: $light-grey-2;
        cursor: not-allowed;
      }
    }

    .custom-palette-container {
      border: 1px solid $light-grey-3;
      background-color: white;
      padding: 0 10px;
      margin: 20px 0;

      .custom-color-container {
        margin: 10px 0px;
        height: 30px;

        .color-picker {
          display: inline-block;
          width: 52px;

          .color-frame {
            height: 30px;

            .selected-color-frame {
              width: calc(100% - 16px);
            }
          }
        }

        .color-value {
          display: inline-block;
          overflow: hidden;
          padding: 3px 8px;
          text-overflow: ellipsis;
          vertical-align: top;
          width: calc(100% - 52px);
          white-space: nowrap;
        }
      }
    }

    #limit-subtitle {
      display: block;
      margin-top: 9px;
    }

    #limit-none-container {

      &.disabled {
        color: $light-grey-2;
        cursor: not-allowed;
      }
    }

    #limit-count-container {
      margin-top: 0;

      input[type=radio] {
        height: 0;
      }
    }

    #limit-count-value-container {
      display: inline-block;
      margin: 0;

      &.disabled {
        color: $light-grey-2;
        cursor: not-allowed;
      }
    }

    #limit-count-value,
    #show-other-category-container {
      display: inline-block;
    }

    #limit-count-value {
      margin-left: 9px;
      padding: 5px;
      width: 64px;
    }

    #show-other-category-container {
      margin-left: 27px;
    }

    #x-axis-scaling-mode-container {
      &.disabled {
        color: $light-grey-2;
        cursor: not-allowed;
      }
    }
  }

  .authoring-preview-container {
    border-bottom: 0;
    margin: 0;
    overflow-y: auto;
    width: 62%;

    .visualization-type-container {
      display: flex;
      z-index: 1;

      .visualization-type-gutter {
        border: solid 1px #E7E8E8;
        border-left: none;
        border-right: none;
        flex-grow: 1;

        &:first-child {
          flex-grow: 0;
          width: 20px;
        }
      }

      .btn {
        border-color: #E7E8E8;
        font-size: 19px;
        position: relative;
        z-index: 51;

        &.btn-disabled {
          border-color: transparent;
        }

        &.active {
          border-color: #1da751;
          border-left-color: #1da751;
          z-index: 52;
        }

        &.recommended:after {
          background-color: #1da751;
          border-radius: 50%;
          content: "";
          display: block;
          height: 8px;
          position: absolute;
          right: 3px;
          top: 3px;
          width: 8px;
        }
      }
    }

    .empty-region-selection-alert {
      display: flex;
      margin: 20px;

      > div:first-child {
        margin-right: 8px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .visualization-preview-container {
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid $light-grey-4;
    display: flex;
    height: 490px;
    justify-content: center;
    margin: 20px;
    position: relative;
    z-index: 0;

    .get-started-container {
      margin-top: 0;
      max-width: 558px;
      padding: 0 20px;

      .get-started-title {
        font-size: 26px;
      }
    }

    .visualization-preview {
      display: none;
      height: 100%;
      width: 100%;

      .socrata-visualization {
        border-width: 0;
      }

      &.visualization-preview-rendered {
        background-color: #fff;
        display: block;
      }
    }

    .visualization-preview-map-info-container {
      bottom: 5px;
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      position: absolute;
      right: 0;
      z-index: 100;
    }

    .visualization-preview-map-message {
      display: inline-flex;
      line-height: normal;
      margin: auto;
      margin-right: 5px;
      margin-top: 5px;
      opacity: 0.9;
      padding: 0;

      .visualization-preview-map-text {
        margin: auto;
        margin-left: 11px;
      }

      .visualization-preview-map-text-dismiss {
        margin: auto;
        color: $primary-dark;

        &:hover {
          color: darken($primary-dark, 30%);
        }

        .socrata-icon-close-2 {
          height: 13px;
          width: 13px;
        }
      }
    }
  }

  .x-axis-scaling-mode-container {
    margin-top: 1rem;
  }

  .customization-tab-pane_hidden {
    display: none;
  }
}

.authoring-based-on {
  margin-top: 8px;
  text-align: right;
}

.authoring-table-view-container {
  margin: 20px;

  h6.authoring-table-view-title {
    font-size: 15px;
    font-weight: 400;
    padding: 12px 0;
  }

  .authoring-table-view {
    height: 640px;
    width: 100%;
  }
}

.flyout-block-label {
  z-index: 10000;
}

.visualization-type-flyout {
  &.recommended {
    max-width: none;
    width: 234px;

    .flyout-header .visualization-type-recommended-label {
      display: inline-flex;
    }

    .visualization-type-info {
      display: block;
    }
  }

  .flyout-header {
    display: flex;
    font-size: 14px;
    margin: 0;

    > div {
      margin: auto;
    }

    .visualization-type-title {
      margin-left: 0;
    }

    .visualization-type-recommended-label {
      display: none;
      color: #999;
      font-size: 10px;
      font-weight: 400;
      margin-right: 0;
      text-transform: uppercase;

      > * {
        margin: auto;
      }
    }

    .visualization-type-recommended-indicator {
      background: #1da751;
      border-radius: 50%;
      display: inline-block;
      height: 8px;
      margin-right: 4px;
      width: 8px;
    }
  }

  .visualization-type-info {
    display: none;
    font-size: 13px;
    margin-top: 8px;
    text-align: left;
  }
}

.socrata-accordion-pane-content {
  background: $light-grey-7;
  border-bottom: 1px solid #eee;
  border-left: 6px solid $light-grey-4;
  display: none;
  padding: 10px;
}

.socrata-accordion-pane.open .socrata-accordion-pane-content {
  display: block;
}

.socrata-accordion-pane-title {
  border-bottom: 1px solid $light-grey-4;;
  color: #383C40;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding-left: calc(10px + 6px);
  position: relative;
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out, border-left-color 0.15s ease-in-out;
  user-select: none;

  .dropdown-caret {
    transition: transform 0.15s ease-in-out;
  }

  &:hover,
  &:focus {
    background: $light-grey-6;
    border-left-color: $alternate-4;
    color: $dark-grey-3;
    outline: none;

    .dropdown-caret {
      color: $dark-grey-3;
    }

    &::after {
      background-color: $alternate-4;
    }
  }

  &::after {
    background-color: #e0e0e0;
    bottom: -1px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: -1px;
    width: 6px;
  }

  span {
    display: block;
  }
}

.socrata-accordion-pane.open .socrata-accordion-pane-title {
  background: #FFF;
  color: #307395;

  &:focus {
    background: $light-grey-6;
    border-left-color: $alternate-4;
    color: $dark-grey-3;
    outline: none;

    .dropdown-caret {
      color: $dark-grey-3;
    }

    &::after {
      background-color: $alternate-4;
    }
  }

  &::after {
    background-color: $primary;
  }

  .dropdown-caret {
    color: #307395;
    transform: rotate(180deg);
  }
}
