@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.metadataContent {
  padding: 1.3em 1.3em 3.5em;
  float: right;
  width: calc(100% - 250px);
  min-width: 250px;
  min-height: 100%;
  height: auto;
  border-left: 1px solid $light-grey-4;

  @media (max-width: 750px) {
    border-left-style: none;
    width: 100%;
  }
}

.halfSize {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.requiredNote {
  float: right;
  text-transform: uppercase;
  font-size: 10px;
  color: $dark-grey-1;
  position: relative;
  top: 0;

  @media (max-width: 750px) {
    position: static;
  }

  &::before {
    content: "*";
    color: $alternate-1-base;
    padding: 0.25em;
    font-size: 14px;
  }
}
