<li class="accountLink hide"><a href="<%= profile_index_path %>"
    title="<%= t('screens.header.links.account_tooltip') %>"><span class="text"><%= t('screens.header.links.account_html') %></span></a></li>
