<li class="adminLink hide">
  <a href="<%= module_enabled?(:govStat) ? manage_site_config_path : '/admin' %>">
    <span class="text"><%= t('screens.header.links.administration') %></span>
  </a>
</li>
