@import 'common/components/AccessManager/common.module.scss';

.header {
  & h2 {
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.3px;
  }

  padding-bottom: 5px;
  margin-bottom: 1rem;
  border-bottom: 2px solid $light-grey-3;
}
