<%= form_tag("/api/views/#{view.id}") %>
  <dl class="summaryList">
    <dt>
      Attachments
    </dt>
    <dd>
      <div class="itemContent">
        <div class="textContent">
          <ul class="attachmentsList">
            <%- if view.metadata && view.metadata.attachments -%>
              <%- view.metadata.attachments.each do |attachment| -%>
                <li class="attachmentItem">
                    &nbsp;
                  <a href="#delete_attachment" class="deleteAttachmentLink" title="Delete Attachment">Delete</a>  
                  <%= text_field_tag('name', attachment['name'] || attachment['filename'], :id => nil) %>
                  <%= hidden_field_tag('filename', attachment['filename'], :id => nil) %>
                  <%= hidden_field_tag('blobId', attachment['blobId'], :id => nil) %>
                  <%#= hidden_field_tag('filetype', attachment['filetype'], :id => nil) %>
                </li>
              <%- end -%>
            <%- end -%>
          </ul>
          <ul class="attachmentsSpecialList">
            <li class="attachmentErrorItem hide"><span class="attachmentErrorMessage"></span></li>
            <li class="uploadNewAttachment">
              <a href="#new_attachment" class="uploadNewAttachmentLink">Upload New Attachment</a>
              <span class="uploadingIndicator hide"></span>
            </li>
          </ul>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="summaryList submitActionRow">
    <dt>&nbsp;</dt>
    <dd>
      <div class="itemContent">
        <ul class="submitActions textContent">
          <li>
            <ul class="actionButtons">
              <li><a id="attachmentsEditSubmitButton" class="arrowButton" href="#submit">Save</a></li>
            </ul>
          </li>
          <li><a class="closeAttachmentsLink" href="#close">Close</a></li>
        </ul>
      </div>
    </dd>
  </dl>
</form>
