<table id='blistList' class='gridList selectableList' cellspacing="0">
  <colgroup>
    <col class='handle' />
    <col class='favorite' />
    <col class='type' />
    <col class='name' />
    <col class='description' />
    <col class='owner' />
    <col class='lastUpdated' />
  </colgroup>
  <thead>
    <tr>
      <th class='handle first'><div></div></th>
      <th class='favorite' title='Favorite?'><div>Favorite?</div></th>
      <th class='type' title='Type'><div>Type</div></th>
      <th class='name'><div>Name</div></th>
      <th class='description'><div>Description</div></th>
      <th class='owner'><div>Owner</div></th>
      <th class='lastUpdated last'><div>Last&nbsp;Updated</div></th>
    </tr>
  </thead>
  <tbody>
    <%- @group_heading = nil -%>
    <% for parent_object in @blists %>
      <%= render(:partial => "blists_row", :collection => parent_object[1][:views]) %>
    <% end %>
  </tbody>
</table>
