<div class="comments">
  <dl class="commentList">
    <dt class="commentAuthor"><img/></dt>
    <dd class="commentContainer">
      <span class="commentBubbleTip"></span>
      <p class="commentBody">
        <a class="commentAuthorName"></a>
        <span class="commentTitle"></span>
      </p>
      <ul class="commentActions clearfix">
        <li class="timestamp"></li>
        <li class="actionReply"><a class="commentReplyLink" href="#reply">Reply</a></li>
        <li class="actionInappropriate"><a class="commentInappropriateLink" href="#inappropriate">Inappropriate</a></li>
        <li class="rateDown right"><a class="icon commentRateUpLink" href="#rateDown"></a></li>
        <li class="rateUp right"><a class="icon commentRateUpLink" href="#rateUp"></a></li>
        <li class="negativeRatings right"></li>
        <li class="positiveRatings right"></li>
      </ul>

      <div class="replyWrapper">
        <dl class="replyList">
          <dt class="replyAuthor"><img/></dt>
          <dd class="replyContainer">
            <p class="replyBody">
              <a class="replyAuthorName"></a>
              <span class="replyTitle"></span>
            </p>
            <ul class="replyActions clearfix">
              <li class="timestamp"></li>
              <li class="actionInappropriate"><a class="commentInappropriateLink" href="#inappropriate">Inappropriate</a></li>
              <li class="rateDown right"><a class="icon commentRateUpLink" href="#rateDown"></a></li>
              <li class="rateUp right"><a class="icon commentRateUpLink" href="#rateUp"></a></li>
              <li class="negativeRatings right"></li>
              <li class="positiveRatings right"></li>
            </ul>
          </dd>
        </dl>
        <a href="#viewAll" class="replyViewAllLink"></a>
      </div>
    </dd>
  </dl>
</div>