<div class='sidebarPane'>
  <h3 class='title'></h3>
  <p class='subtitle'></p>
  <form>
    <div class='section'>
      <h5 class='title'></h5>
      <div class='line'>
        <label></label>
      </div>
    </div>
  </form>

  <div class='mainError'></div>

  <div class="required">Required Field</div>
  <ul class='finishButtons actionButtons'>
    <li><a href='#'></a></li>
  </ul>
</div>
