<div class='sidebarPane'>
  <form>
    <div class='titleBlock'>
      <h3 class='title'></h3>
      <p class='subtitle'></p>
    </div>

    <div class='section'>
      <input type='checkbox' class='sectionSelect' />
      <label class='title'></label>
      <div class='content'>
        <div class='line'>
          <label></label>
        </div>
      </div>
    </div>

    <div class='mainError'></div>

    <div class="required">Required Field</div>
    <ul class='finishButtons actionButtons clearfix'>
      <li><a href='#'></a></li>
    </ul>
  </form>
</div>
