<div class='sidebarPane'>
  <h3 class='title'></h3>
  <p class='subtitle'></p>
  <form>
    <div class='section'>
      <input type='checkbox' class='sectionSelect' />
      <label class='title'></label>
      <div class='content'>
        <div class='line'>
          <label></label>
        </div>
      </div>
    </div>
  </form>

  <div class='mainError'></div>

  <div class="required">Required Field</div>
  <ul class='finishButtons actionButtons'>
    <li><a href='#'></a></li>
  </ul>
</div>
