<h2 class="panelHeader">
  <%= pluralize(view.filters.length, "Filtered View") %>
</h2>
<%- if current_user && page_single && !in_widget && !view.is_alt_view? -%>
<ul class="headerActions actionButtons">
  <li><%= link_to("Create", '#createMenu',
    :class => "createViewLink arrowButton") %></li>
</ul>
<%= menu_tag({'id' => 'createViewMenu', 'items' => [
  {'text' => 'Filtered View', 'class' => 'filter', 'href' => '#createFilter'},
  {'text' => 'Calendar', 'href' => "#{view.href}/calendar",
  'class' => 'calendar' + (view.can_add_calendar? ? '' : ' disabled'),
  'title' => (view.can_add_calendar? ? '' :
    'This dataset does not have both a date column and text column')},
  {'text' => 'Visualization', 'href' => "#{view.href}/visualization",
  'class' => 'viz' + (view.can_add_visualization? ? '' : ' disabled'),
  'title' => (view.can_add_visualization? ? '' :
    'This dataset does not have the appropriate columns for visualizations')}
]}) %>
<%- end -%>
