<%# locals: lens  %>

<div class="header">
  <ul class="summaryTabs clearfix">
    <li class="summary active">
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#summary">Summary</a>
      </div>
    </li>
    <li>
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#filtered_views">Filtered Views</a>
      </div>
    </li>
    <li>
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#comments_ratings">Comments &amp; Ratings</a>
      </div>
    </li>
    <li>
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#sharing_permissions">Sharing &amp; Permissions</a>
      </div>
    </li>
    <li>
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#publishing">Publishing</a>
      </div>
    </li>
    <li class="last">
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#activity">Activity</a>
      </div>
    </li>
  </ul>
</div>

<div class="infoContentOuter singleInfoSummary listContainer">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader"><%= lens.name %></h2>
    <ul class="headerActions actionButtons">
      <li><a href="#open" class="arrowButton">Open</a></li>
      <li><a href="#duplicate">Delete All</a></li>
      <li><a href="#share">Share</a></li>
    </ul>
  </div>
    <div class="infoContentInner">
      <div class="infoContent">
      
        <dl class="summaryList">
          <dt>
            Description
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <span>Favorite wines from 2 trips</span>
            </div>
            <div class="itemActions">
              <a href="#unselect" class="action"><span>Edit</span></a>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Tags
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <span>Wine, French Laundry, Napa, California, Travel</span>
            </div>
            <div class="itemActions">
              <a href="#unselect" class="action"><span>Edit</span></a>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Category
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd class="itemBlist">
            <div class="itemContent">
              <span>Personal</span>
            </div>
            <div class="itemActions">
              <a href="#unselect" class="action"><span>Edit</span></a>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Owner
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <span>Kevin Merritt</span>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Created On
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <span>10/15/2008</span>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Last Update
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <span>Jason Friedl: 4:52 pm on 10/15/2008</span>
            </div>
            <div class="itemActions">
              <a href="#unselect" class="action"><span>View Activity</span></a>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Filtered Views
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <span>5 views</span>
            </div>
            <div class="itemActions">
              <a href="#details" class="action"><span>Details</span></a>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Community Activity
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <ul>
                <li>75 views</li>
                <li>11 copies</li>
                <li>45 comments</li>
              </ul>
            </div>
            <div class="itemActions">
              <a href="#unselect" class="action"><span>View Activity</span></a>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Rating
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <span>4.5 stars</span>
            </div>
            <div class="itemActions">
              <a href="#unselect" class="action"><span>View Comments</span></a>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Link
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <span>http://app.blist.com/?variant=debug#/blist/kmerritt/Wines-of-Napa</span>
            </div>
            <div class="itemActions">
              <a href="#unselect" class="action"><span>Publish</span></a>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Permissions
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <span>Public</span>
            </div>
            <div class="itemActions">
              <a href="#unselect" class="action"><span>Edit</span></a>
            </div>
          </dd>
        </dl>
      
        <dl class="summaryList">
          <dt>
            Sharing
            <a href="#help" class="help"><span>help</span></a>
          </dt>
          <dd>
            <div class="itemContent">
              <ul>
                <li>0 Contributors</li>
                <li>2 Viewers</li>
                <li>3 Requests</li>
              </ul>
            </div>
            <ul class="itemActions">
              <li><a href="#share" class="action"><span>Share</span></a></li>
              <li><a href="#view_requests" class="action"><span>View Requests</span></a></li>
            </ul>
          </dd>
        </dl>
      
      </div>
    </div>
  </div>
</div>