<%# locals: lens  %>

<div class="header">
  <ul class="summaryTabs clearfix">
    <li class="summary active">
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#summary">Summary</a>
      </div>
    </li>
    <li>
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#filtered_views">Filtered Views</a>
      </div>
    </li>
    <li>
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#comments_ratings">Comments &amp; Ratings</a>
      </div>
    </li>
    <li>
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#sharing_permissions">Sharing &amp; Permissions</a>
      </div>
    </li>
    <li>
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#publishing">Publishing</a>
      </div>
    </li>
    <li class="last">
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <a href="#activity">Activity</a>
      </div>
    </li>
  </ul>
</div>

<div id="infoContentOuter">
  <div id="infoContentInner" class="clearfix">
    <div id="infoHeader">
      <h2><%= lens.name %></h2>
    </div>
    <div id="infoContent clearfix">
    </div>
  </div>
</div>