<%# locals: item_count %>

<div class="header">
  <ul class="summaryTabs clearfix">
    <li class="summary active last">
      <div class="tabInner">
        <span>Summary</span>
      </div>
    </li>
  </ul>
</div>

<div id="infoContentOuter" class="listPane">
  <div id="infoContentInner">
    <div id="infoContentHeader" class="clearfix">
      <h2 class="panelHeader"><%= item_count %> items total</h2>
      <span class="selectPrompt">Select a specific item or items above for more information</span>
    </div>
    <div id="infoContent"></div>
  </div>
</div>