<h2 class="panelHeader">Activity</h2>
<%- if (!in_widget) -%>
<ul class="headerActions actionButtons">
  <li>
    <%- if(current_user && current_user.can_access_premium_on?(view)) -%>
      <a href="<%= "#{view.href}/stats" %>" class="arrowButton">
        View Statistics
      </a>
    <%- else -%>
      <a href="/stats_popup" class="arrowButton" rel="modal">
        View Statistics
      </a>
    <%- end -%>
  </li>
</ul>
<%- end -%>