<h2 class="panelHeader">Activity</h2>
<%# Allow access to dataset owners and those with admin permissions %>
<%- if @view.owned_by?(current_user) || CurrentDomain.user_can?(current_user, :edit_others_datasets) -%>
  <ul class="headerActions actionButtons">
    <li>
    <a href="<%= "#{view.href}/stats" %>" class="arrowButton">View Statistics</a>
    </li>
  </ul>
<%- end -%>

