<%# locals: lenses %>

<div class="header">
  <ul class="summaryTabs clearfix">
    <li class="summary active last">
      <div class="tabInner">
        <a href="#expand" class="expander">expand</a>
        <span>Summary</span>
      </div>
    </li>
  </ul>
</div>

<div class="infoContentOuter multiInfoSummary listContainer">
  
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader"><%= lenses.length %> items selected</h2>
    <ul class="headerActions actionButtons">
      <li><a href="#share" class="arrowButton">Share All</a></li>
      <li><a href="#delete_all">Delete All</a></li>
    </ul>
  </div>
  
  <div class="infoContentInner">
    <div class="infoContent">
      
      <dl class="summaryList">
        <dt>
          Items
          <a href="#help" class="help"><span>help</span></a>
        </dt>
        <dd class="itemBlist">
          <div class="itemContent">
            <a href="#TODO">Blist</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
        <dd class="itemSharedOutBlist">
          <div class="itemContent">
            <a href="#TODO">Shared Out Blist</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
        <dd class="itemSharedInBlist">
          <div class="itemContent">
            <a href="#TODO">Shared In Blist</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
        <dd class="itemPrivateBlist">
          <div class="itemContent">
            <a href="#TODO">Private Blist</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
        <dd class="itemPrivateSchemaBlist">
          <div class="itemContent">
            <a href="#TODO">Private Schema Blist</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
        <dd class="itemFilter">
          <div class="itemContent">
            <a href="#TODO">Filter</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
        <dd class="itemSharedOutFilter">
          <div class="itemContent">
            <a href="#TODO">Shared Out Filter</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
        <dd class="itemSharedInFilter">
          <div class="itemContent">
            <a href="#TODO">Shared In Filter</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
        <dd class="itemPrivateFilter">
          <div class="itemContent">
            <a href="#TODO">Locked Filter</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
        <dd class="itemPrivateSchemaFilter">
          <div class="itemContent">
            <a href="#TODO">Unlocked Filter</a>
          </div>
          <div class="itemActions">
            <a href="#unselect" class="action"><span>unselect</span></a>
          </div>
        </dd>
      </dl>
      
    </div>
  </div>

</div>