<%# locals: item_count %>

<div class="header">
  <ul class="summaryTabs clearfix">
    <li class="summary active">
      <%= summary_tab 'Summary' %>
    </li>
  </ul>
</div>

<div class="infoContentOuter listPane active">
  <div class="infoContentHeader clearfix">
    <h2 class="panelHeader"><%= pluralize(item_count, "item") %> total</h2>
    <span class="selectPrompt">Select a specific item or items above for more information</span>
  </div>
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContent"></div>
  </div></div>
  <div class="infoContentBR"><div class="infoContentBL"></div></div>
</div>