<h2 class="panelHeader">Activity</h2>
<%- if (!in_widget) -%>
  <%- if (current_user.is_domain_publisher? && module_available?(:advanced_metrics)) -%>
    <ul class="headerActions actionButtons">
      <li>
        <a href="<%= "#{view.href}/stats" %>" class="arrowButton">View Statistics</a>
      </li>
    </ul>
  <%- elsif upsell? -%>
    <ul class="headerActions actionButtons">
      <li>
        <a href="/popup/stats" class="arrowButton" rel="modal">View Statistics</a>
      </li>
    </ul>
  <%- end -%>
<%- end -%>

