<%# locals: item_count %>

<div class="header">
  <ul class="summaryTabs clearfix">
    <li class="summary active last">
      <div class="tabOuter"><div class="tabInner">
        <span>Summary</span>
      </div></div>
    </li>
  </ul>
</div>

<div class="infoContentOuter listPane active">
  <div class="infoContentInner"><div class="infoContentWrapper">
    <div class="infoContentHeader clearfix">
      <h2 class="panelHeader"><%= pluralize(item_count, "item") %> total</h2>
      <span class="selectPrompt">Select a specific item or items above for more information</span>
    </div>
    <div class="infoContent"></div>
  </div></div>
</div>