<h2 class="panelHeader">Activity</h2>
<ul class="headerActions actionButtons">
  <li>
    <a href="<%= "#{view.href}/stats" %>" class="arrowButton" <%= "rel='external'" if in_widget %>>
      View Statistics
    </a>
  </li>
</ul>