<h2 class="panelHeader">
  <%= pluralize(view.filters.length, "Filtered View") %>
</h2>
<%- if current_user && page_single && !in_widget && !view.is_alt_view? -%>
<ul class="headerActions actionButtons">
  <li><%= link_to("Create", '#createMenu',
    :class => "createViewLink arrowButton") %></li>
</ul>
<%= menu_tag({'id' => 'createViewMenu',
  'items' => view_create_menu_options(view) }) %>
<%- end -%>
