<% form_tag("/views/#{view.id}/rows.pdf", :method => :get, :target => "_blank") do %>
  <input type="hidden" id="print" name="print" value="true" />
  <div class="columnLeft">
    <label for="size" class="formHeader">Paper Size:</label>
    <select id="size" name="size">
      <option value="letter">Letter (8.5 x 11 inches)</option>
      <option value="legal">Legal (8.5 x 14 inches)</option>
      <option value="tabloid">Tabloid (11 x 17 inches)</option>
      <option value="a4">A4 (210 x 297mm)</option>
      <option value="a3">A3 (297 x 420mm)</option>
      <option value="a2">A2 (420 x 594mm)</option>
      <option value="a1">A1 (594 x 841mm)</option>
      <option value="a0">A0 (841 x 1189mm)</option>
    </select>

    <label class="formHeader">Margins (inches):</label>
    <div class="margins">
      <label for="margin_top">Top:</label>
      <input type="text" id="margin_top" name="margin_top" value="1.0" />
      <label for="margin_left">Left:</label>
      <input type="text" id="margin_left" name="margin_left" value="1.0" />
      <label for="margin_bottom">Bottom:</label>
      <input type="text" id="margin_bottom" name="margin_bottom" value="1.0" />
      <label for="margin_right">Right:</label>
      <input type="text" id="margin_right" name="margin_right" value="1.0" />
    </div>
  </div>
  <div class="columnRight">
    <div class="formSection">
      <label class="formHeader">Orientation:</label>
      <fieldset>
        <input type="radio" id="landscape" name="portrait" value="false" checked="checked" />
        <label for="landscape">Landscape</label>
        <input type="radio" id="portrait" name="portrait" value="true" />
        <label for="portrait">Portrait</label>
      </fieldset>
    </div>

    <div class="formSection">
      <label class="formHeader">Options:</label>
      <input type="checkbox" id="fit" name="fit" value="true" checked="checked" />
      <label for="fit">Shrink to fit <%= t(:blist_name).downcase %> on one page</label>
      <input type="checkbox" id="headers_on_every_page" name="headers_on_every_page" value="true" checked="checked" />
      <label for="headers_on_every_page">Print column titles on each page</label>
      <input type="checkbox" id="header_icons" name="header_icons" value="true" />
      <label for="header_icons">Display icons in column header</label>
    </div>
  </div>
  <div class="submitLine clearfix">
    <ul class="submitActions">
      <li><input type="image" name="submit" src="<%= image_path("button_finish.png") %>" alt="print" /></li>
      <li class="cancelButton"><a href="#close_print" class="jqmClose"><span>Cancel</span></a></li>
    </ul>
  </div>
<% end %>