<%- content_for :headline do -%>
<h1>About the Socrata Social Data Player</h1>
<%- end -%>

<div class="modalContentWrapper aboutSDPWrapper">
  <div class="mainContent">
    <div class='logo'></div>
    <p>You are viewing this dataset through Socrata’s free Social Data Player,
    which allows any publisher to share their data socially, visually and
    interactively.</p>

    <p>Why not <a href="/try-it-free" rel='external'>try the Social Data
      Player</a> for your own data?</p>
  </div>

  <div class="submitLine clearfix">
    <ul class="actionButtons">
      <li class=""><a href="#close" class="jqmClose arrowButton">
        <span>Close</span>
      </a></li>
    </ul>
  </div>
</div>
