<% content_for :head do %>
  <title>Error | <%= CurrentDomain.strings.site_title %></title>
<% end %>
<p>There was an error your submission: <%= @error_message %></p>

<p>Please go back to correct your error and try again.</p>
