<% content_for :head do %>
  <%= stylesheet_link_tag "blists-screen",
    :cache => "cache/all" %>
  <title>blist | share your weblists</title>
<% end %>



<div id="mainContainer">
  <div id="mainContent" class="column">
    <div id='blists'>
      <%= render(:partial => "shared/tabs") %>

      <div class='outerContent'>
        <div class='content'>
          <div class='headerBar'>
            <h3>All blists</h3>
            <a href='#' class='menu'>Menu</a>
            <a href='#'>Add New</a>
            <a href='#'>Import</a>

            <form action='#'>
              <p>
              <input type='text' />
              </p>
            </form>
          </div>

          <div class='selectableListContainer'>
            <%
            # This div will hold a copy of the table that displays the header
            %>
            <div class='headerContainer'></div>
            <div class='selectableListInner scrollContent'>
              <table id='blistList' class='selectableList' cellspacing="0">
                <thead>
                  <tr>
                    <th></th>
                    <th>(F)</th>
                    <th>(T)</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Owner</th>
                    <th>Last Updated</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class='item' blist_id='ABC'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='DEF'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='GHI'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='JKL'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='MNO'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='PQR'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='STU'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='VWX'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='YZa'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='bcd'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                  <tr class='item' blist_id='efg'>
                    <td></td>
                    <td></td>
                    <td>blist</td>
                    <td>A blist</td>
                    <td>Some blist description</td>
                    <td>Jeff</td>
                    <td>1/20/09</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div id='infoPane'>
        <div id='multiSelectInfo'>
          <div class='header'>
            <a href='#' class='active'>Summary</a>
            <div class='background'></div>
          </div>
          <div class='infoContent'>
            <h2><span class='itemCount'></span>
              <span class='itemSelectedText'></span></h2>
            <span class='selectPrompt'>Select a specific item or items above for
              more information</span>
          </div>
        </div>
        <div id='singleSelectInfo'>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column"></div>
  <div class='clearBoth'></div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "screens/blists-screen", :cache => "cache/all" %>
<% end %>
