<% content_for :head do %>
  <%= stylesheet_link_tag "blists-screen",
    :cache => "cache/all" %>
  <title>blist | share your weblists</title>
<% end %>



<div id="mainContainer">
  <div id="mainContent" class="column">
    <div id='blists'>
      <%= render(:partial => "shared/tabs") %>

      <div class='content'>
        <div class='headerBar'>
          <h3>All blists</h3>
          <a href='#' class='menu'>Menu</a>
          <a href='#'>Add New</a>
          <a href='#'>Import</a>

          <form>
            <input type='text'></input>
          </form>
        </div>

        <div class='selectableListContainer'>
          <table id='blistList' class='selectableList' cellspacing="0">
            <thead>
              <tr>
                <th></th>
                <th>(Favorite)</th>
                <th>(Type)</th>
                <th>Name</th>
                <th>Description</th>
                <th>Owner</th>
                <th class="last">Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
              <tr class='item'>
                <td></td>
                <td></td>
                <td>blist</td>
                <td>A blist</td>
                <td>Some blist description</td>
                <td>Jeff</td>
                <td>1/20/09</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id='infoPane'>
        <div class='header'>
          <a href='#' class='active'>Summary</a>
          <div class='background'></div>
        </div>
        <div class='infoContent'>
          <h2><span class='itemCount'></span>
            <span class='itemSelectedText'></span></h2>
          <span class='selectPrompt'>Select a specific item or items above for
            more information</span>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column"></div>
  <div class='clearBoth'></div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <%= javascript_include_tag "screens/blists-screen",
    :cache => "cache/all" %>
<% end %>
