<div>
  <%= render(:partial => "info_comments_header", :locals => {:view => @view}) %>
  <%= get_user_rating_html(current_user.id, @view) %>
  <%- if @comment -%>
  <%= render(:partial => "comment", :collection => [@comment],
    :locals => {:view => @view}) %>
  <%- end -%>
</div>
