<div>
  <%= render(:partial => "info_comments_header", :locals => {:view => @view}) %>
  <%- if @comment -%>
  <%- if @is_child -%>
  <%= render(:partial => "child_comment",
    :locals => {:view => @view, :comment => @comment}) %>
  <%- else -%>
  <%= render(:partial => "comment", :collection => [@comment],
    :locals => {:view => @view}) %>
  <%- end -%>
  <%- end -%>
</div>
