<div>
  <div class="infoContentHeader clearfix">
    <%= render(:partial => "info_comments_header",
                :locals => {:view => @view, :allow_commenting => true}) %>
  </div>
  <%- if @comment -%>
  <%- if @is_child -%>
  <%= render(:partial => "child_comment",
  :locals => {:view => @view, :comment => @comment, :allow_commenting => true}) %>
  <%- else -%>
  <%= render(:partial => "comment", :collection => [@comment],
  :locals => {:view => @view, :allow_commenting => true}) %>
  <%- end -%>
  <%- end -%>
</div>
