<%- content_for :headline do -%>
<h1 class='printDialogIcon'>Print <%= t(:blist_name).capitalize %></h1>
<%- end -%>

<div class="modalContentWrapper printDatasetWrapper">
  <%= render :partial => 'print_form', :locals => { :view => @view } %>
</div>

<script type="text/javascript" charset="utf-8">
  blist.common.modalReady = function()
  {
    $('.printDatasetWrapper form').submit(function(event)
    {
      blist.common.formInliner(event);
      $('#modal').jqmHide();
    });
  };
</script>
