@import "components/publication_action/index";
@import "components/publication_state/index";

.asset-action-bar {
  background-color: $header-bg-color;
  display: flex;
  justify-content: space-between;

  button {
    font: 400 15px 'Open Sans';
  }

  font-size: 15px;
  // Depends on html { font-size: 10px; }
  height: 60px;
  line-height: 1;

  .socrata-icon {
    margin-right: 0.2em;
  }

  .left-side {
    display: flex;
    justify-content: flex-start;
  }

  .right-side {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;

    button {
      font-size: 13px;
    }
  }

  .asset-name {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #dbdbdb;
    margin: 0 1em;
  }

  .divider {
    height: 32px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 14px;
    vertical-align: middle;
    border-left: 1px solid #6B6B6B;
  }

  .manage-access-wrapper {
    margin: 9px;
  }
}

.asset-action-bar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;

  .action_datasets_show & {
    z-index: 1;
  }
}
