#noticeContainer .styleguide-alert {
  margin-top: 3rem;
}

.approvals_settings {

  section {
    background-color: $white;
    border-top: 1px solid $alternate-4;
    padding: 1rem 35%;
    font-size: 80%;
  }

  p {
    margin: 0 0 1rem 0;
  }

  .introduction {
    margin-top: 1.5em;

    .section-title {
      font-size: 120%;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    padding-top: 1rem;

    button {
      width: 6rem;
      margin-left: 0.8rem;

      .spinner-default.hidden {
        display: none;
      }
      .spinner-btn-secondary {
        border: 2px solid $btn-primary-border-color;
        border-right-color: $alternate-3-light;
      }
      &.btn-busy {
        padding: 8px 13px !important;
        height: 38px !important;
        position: relative;
        top: 2px; // TODO: Unshit busy button stupidity
        .spinner-default.hidden {
          display: inline-block;
        }
        .btn-title {
          display: none;
        }
      }
    }
  }

  .settings_group {
    margin: 0rem 0 2rem 0;

    .socrata-icon-official2,
    .socrata-icon-community {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 0.3em;
      float: right;
      font-size: 200%;
      top: 0;
    }

    .socrata-icon-official2 {
      color: $alternate-1;
    }
    .socrata-icon-community {
      color: $primary-base;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      display: flex;
      margin-top: 0.25rem;
      background-color: #eee;
      padding: 0.33rem;
      border: 1px solid #ddd;
      border-radius: 3px;

      &.selected {
        background-color: $alternate-2-light;
        border: 1px solid $alternate-2;
      }

      input {
        position: relative;
        top: 3px;

        &.embiggen {
          font-size: 200%;
          top: 12px;
        }
      }

      label.radio_label {
        display: inline-block;
        margin-left: 0.5em;

        div {
          font-size: 80%;
        }
      }
    }

    .subtext {
      color: #aaa;
      margin-bottom: 1rem;
    }

    .learn_more {
      margin-top: 1rem;
    }

    .email_address {
      color: #aaa;
    }
  }

  .checkbox_label {
    margin-left: 0.5em;
  }

}
