.asset-browser .topbar {
  margin: 0.5rem $horizontal_margin;

  .manage-assets-button {
    float: right;

    button > span {
      margin-left: 0.3rem;
    }
  }

  div[class*=autocomplete_container] {
    float: left;
    width: 40rem;
    padding-bottom: 8px;
  }

  &.mobile {
    margin: 0.5rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    div[class*=autocomplete_container] {
      padding-bottom: 0;
      display: inline-block;
    }

    .mobile-filter-toggle {
      cursor: pointer;
      white-space: nowrap;
      user-select: none;
      text-decoration: none;
      display: inline-block;
      padding: 0.5rem;

      .socrata-icon {
        margin-left: 0.5rem;
      }

      .active-filter-count {
        margin-left: 0.3rem;
      }
    }
  }

  &.cards-container-topbar {
    margin: 0 0 20px 0;

    div[class*=autocomplete_container] {
      float: right;
      margin-right: 0;
      width: 250px;
    }

    > button {
      margin-right: 0.5rem;
    }
  }
}
