@import "variables/colors";

.dropdown-container {
  display: inline-block;
  box-sizing: border-box;
  position: relative;

  &.dropdown-size-large {
    .dropdown-placeholder {
      font-size: 15px;
      min-height: 15px;
    }
  }

  &.dropdown-size-medium {
    .dropdown-placeholder {
      font-size: 13px;
      min-height: 13px;
    }
  }
}

.dropdown-invisible {
  visibility: hidden;
}

.dropdown-placeholder {
  position: relative;
  background: white;
  border: solid 1px $light-grey-3;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.15s ease-in-out;
  padding: 10px;
  padding-right: 40px;
  color: $light-grey-1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 50;

  &:focus {
    outline: none;
  }

  &.dropdown-selected {
    color: $black;

    > .socrata-icon {
      margin-right: 0.25rem;
      height: 20px;
      width: 20px;
      position: relative;
      top: -3px;
    }

    .dropdown-caret.socrata-icon-arrow-down {
      position: absolute;
      width: 18px;
      height: 18px;
      right: 10px;
      top: 13px;
      z-index: 10;
      color: $light-grey-1;
      transition: color 0.15s ease-in-out;
      pointer-events: none;

      .dropdown-focused & {
        color: $alternate-3;
      }
    }
  }

  .dropdown-focused & {
    border-color: $alternate-3-light;
    outline: solid 2px $alternate-3;
  }

  .dropdown-disabled & {
    background: $light-grey-3;
    border-color: $light-grey-2;
    color: $light-grey-1;
    pointer-events: none;
  }
}

.dropdown-options-list {
  position: fixed;
  z-index: 999;
  border: solid 1px $light-grey-3;
  overflow-y: auto;

  .picklist {
    border: none;
  }
}
