#adminContent .newTemplateHeader
{
    float: right;
}


#adminContent .widgetTable
{
    clear: both;
    padding-top: 1em;
}

#adminContent .widgetTable .widgetTable-headerRow
{
    background: #e8e8e8 url(/stylesheets/images/content/table/header_right_top.png) no-repeat scroll right top;
    height: 38px;
}

#adminContent .widgetTable .widgetTable-headerRow .widgetTable-cell
{
    border-left: 1px solid #cacaca;
    font-weight: bold;
}

#adminContent .widgetTable .widgetTable-headerRow .widgetTable-cell:first-child
{
    background: #e8e8e8 url(/stylesheets/images/content/table/header_left_top.png) no-repeat scroll left top;
    border-left: none;
}

#adminContent .widgetTable .widgetTable-body .emptyListMessage
{
    display: none;
    font-size: 1.3em;
    min-height: 10em;
    padding-top: 2em;
    text-align: center;
}

#adminContent .widgetTable .widgetTable-cell.widgetTable-actionColumn
{
    padding: 0.5em 1em 0;
}

#adminContent .widgetTable .widgetTable-row
{
    clear: both;
    min-height: 3em;
}

#adminContent .widgetTable .widgetTable-opened-row
{
    height: 320px;
}

#adminContent .widgetTable .widgetTable-row:hover
{
    background-color: #E3ECF7;
}

#adminContent .widgetTable .widgetTable-cell
{
    float: left;
    font-size: 1.2em;
    padding: 1em;
}

#adminContent .widgetTable .widgetTable-titleColumn
{
    left: 1em;
}

#adminContent .widgetTable .widgetTable-domainColumn
{
    width: 15em;
}

#adminContent .widgetTable .widgetTable-lensColumn
{
    width: 13em;
}

#adminContent .widgetTable .widgetTable-acceptedByColumn
{
    width: 10em;
}

#adminContent .widgetTable .widgetTable-acceptRejectColumn
{
    width: 8em;
}

#adminContent .widgetTable .widgetTable-datasetColumn *
{
    text-overflow: ellipsis;
}

#adminContent .widgetTable .widgetTable-deleteColumn
{
    float: right;
    right: 2.5em;
    width: 5em;
}

#adminContent .widgetTable .widgetTable-deleteColumn .deleteLink
{
    background: url(/stylesheets/images/common/delete.png) center center no-repeat;
    display: block;
    height: 20px;
    position: relative;
    top: -3px;
    width: 20px;
}

/*** START: New Federation Template ***/
.dialogWrapper.modalDialog.newFederation
{
    margin-top: 10em;
    margin-left: -25em; /* negative half of dialog width to center dialog */
    width: 50em;
}

.newFederationWrapper label
{
    display: block;
    font-size: 1.3em;
    height: 2.5em;
    margin: 0.5em 0 -2.7em;
    padding-right: 1em;
    text-align: right;
    width: 10em;
}

.newFederationWrapper label.error
{
    font-size: 1.1em;
    height: 1.5em;
    margin-left: 13em;
    text-align: left;
    width: 30em;
}

.newFederationWrapper input,
.newFederationWrapper textarea
{
    margin-left: 13em;
    padding: 0.2em;
    width: 20em;
}

.newFederationWrapper .requiredText
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    padding-left: 1.5em;
    position: absolute;
}

.newFederationWrapper .actionButtons
{
    margin-top: 0;
}

.newFederationWrapper .submitLine .submitActions
{
    width: 100px;
}
/*** END: New Federation Template ***/
