.content p,
.content li a,
.content li.infoLine,
.content label,
.content .line a
{ font-size: 1.2em; }
.tabContainer .fullPageWithTabs
{
    margin-top: 0;
}
#adminContent form.search
{
    margin-top: 5px;
    float: right;
    width: 25em;
}
#adminContent form.search .searchContainer
{
    background-image: url(/stylesheets/images/common/find_input_cap.png);
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 60px;
}
#adminContent form.search .actionBox
{
    float:left;
    margin-right:-60px;
    width:60px;
}
#adminContent form.search .clearBox
{
    border-color: #cacaca;
    border-style: solid;
    border-width: 1px 0;
    float: left;
    height: 21px;
    width: 18px;
}
#adminContent form.search .clearSearch
{
    background: url(/stylesheets/images/content/section_close_button.png) no-repeat center left;
    display: block;
    height: 21px;
    line-height: 100px;
    overflow: hidden;
    width: 16px;
}
#adminContent .explanation p,
#adminContent .information
{
    line-height: 1.4em;
    padding-bottom: 0.4em;
}

#adminContent .explanation p,
#adminContent .information,
#adminContent p
{
    font-size: 1.5em;
}
#adminContent .flashNotice
{
    font-size: 2em;
    padding: 0 0 0.7em 0;
}
#adminContent .administrators
{
    margin-top: 2em;
}
#adminContent .adminUsersTable .userRow
{
    padding: 0.25em 0 0.25em 3em;
    width: 50%;
}   
#adminContent .adminUsersTable .userRow,
#adminContent .configureRow,
#adminContent .colorRow
{
    font-size: 1.4em;
    display: block;
}
#adminContent .odd
{
    background-color: #eee;
}
#adminContent .adminUsersTable .userRolesCell
{
    position: absolute;
    left: 35%;
}
#adminContent .adminUsersTable .userRolesCell .noRoles
{
    font-style: italic;
}
#adminContent .adminUsersTable .userRolesCell a
{
    text-decoration: none;
}
#adminContent .adminUsersTable .userRolesCell .errorMessage
{
    color: red;
    padding-left: 1em;
}
#adminContent .adminUsersTable .userRolesCell .userSelectForm
{
    position: relative;
    top: -0.3em;
}
#adminContent .adminUsersTable .userRolesCell .statusMessage
{
    padding-left: 1em;
}
#adminContent .rolesExplanation
{
    margin-top: 2em;
}
#adminContent .rolesExplanation li 
{
    font-size: 1.4em;
    padding: 0.2em 0 0.2em 3em;
}
#adminContent .rolesExplanation .roleTitle 
{
    font-weight: bold;
}
/*
 Configuration/theme shared
*/ 
#adminContent .configurationContent h2,
#adminContent .themeContent h2
{
    margin-top: 1em;
}
#adminContent .configureRow
{
    padding: 0.5em 0 0.5em 3em;
}
#adminContent .configurationContent input[type='text'],
#adminContent .configurationContent select
{
    font-size: 1em;
    position: relative;
    top: -0.4em;
}
#adminContent .configurationContent input[type='text']
{
    width: 15em;
}    
#adminContent .settingsCell
{
    position: absolute;
    left: 18em;
}
#adminContent .descriptionCell
{
    position: absolute;
    right: 3em;
}
#adminContent .saveButton
{
    margin-top: 2em;
}
#adminContent .refreshThemeLink
{
    float: right;
    font-size: 1.5em;
    margin: 0.4em 0.4em 0 0;
}