h2, h3
{
    padding-top: 1em;
}

.altShowContainer #datasetMenu li
{
    display: inline-block;
    padding: 0.3em 1em;
    text-transform: uppercase;
}

.altShowContainer #datasetMenu li a
{
    color: #666;
    font-size: 1.2em;
}

.altShowContainer .dataGridWrapper
{
    overflow-x: scroll;
    margin-top: 1em;
    padding: 1em;
}

.altShowContainer #dataGrid thead,
.altShowContainer #dataGrid tfoot
{
    background-color: #ddd;
}
.altShowContainer #dataGrid th
{
    border-left: 1px solid #aaa;
    font-size: 1.2em;
    font-weight: normal;
    max-width: 15em;
    overflow: hidden;
    padding: 1em 2em;
    white-space: nowrap;
    width: auto;
}
.altShowContainer #dataGrid th.nested_table { border-bottom: 1px solid #aaa; }
.altShowContainer #dataGrid td table th
{
    font-size: 1.0909em;
}
.altShowContainer #dataGrid th:first-child { border-left: none; }
.altShowContainer #dataGrid tbody tr.odd { background-color: #eee; }
.altShowContainer #dataGrid tbody tr.even { background-color: #fff; }
.altShowContainer #dataGrid td
{
    border-left: 1px solid #aaa;
    font-size: 1.1em;
    padding: 0.6em;
}
.altShowContainer #dataGrid td.type_nested_table
{
    padding: 0;
    vertical-align: top;
}
.altShowContainer #dataGrid td table { width: 100%; }
.altShowContainer #dataGrid td table td { font-size: 1em; }

.altMeta p, .altMeta li, .altMeta label
{
    font-size: 1.2em;
}

ul.metaDataList
{
    list-style: circle inside;
}
