/* 
    Document   : blist-grid-screen
    Created on : Feb 9, 2009, 11:00:00 AM
    Author     : jeff.scherpelz@blist.com
    Description:
      Styles for the blist-specific grid screen
*/

#overlay
{
    background-color: #000000;
    bottom: 0;
    display: none;
    filter: alpha(opacity=60);
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

#lensContainer
{
    margin-right: 1em;
}

/* Header bar & Button styles */

#lensContainer .headerBar
{
    line-height: 24px;
    margin-bottom: 1em;
    min-height: 0;
    overflow: hidden;
}

#lensContainer .headerBar > ul > li
{
    float: left;
    padding: 0 0.5em;
}

#lensContainer .headerBar > ul > li > a
{
    display: block;
    color: #333333;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}

#lensContainer .headerBar form.search
{
    float: right;
    width: 20em;
}

#lensContainer .headerBar form.search p
{
    background-image: url(images/content/table_menu/field_find.png);
}

#lensContainer .headerBar form.search input[type="text"]
{
    height: 15px;
    padding: 1px 0 0;
}

#lensContainer .headerBar form.search input.submit
{
    height: 18px;
}

#lensContainer .headerBar .separator
{
    border-left: 2px solid #e8e8e8;
}

#lensBody .headerBar .linkIcon
{
    background-image: url(images/content/table_menu/menu_bar_sprites.png);
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    padding-left: 25px;
}

#lensBody .addColumnsLink
{
    background-position: 0 -40px;
}

#lensBody #undoLink, #lensBody #redoLink
{
    line-height: 100px;
    padding: 0;
    width: 20px;
}

#lensBody #undoLink
{
    background-position: 0 0;
}

#lensBody #redoLink
{
    background-position: 0 -20px;
}

#lensBody #filterLink span.linkIcon
{
    background-position: 0 -62px;
}

#lensBody .headerBar ul.menu
{
    min-width: 15em;
}

#lensBody .headerBar #filterViewMenu li a
{
    background-image: url(images/content/table_menu/menu_icon_sprites.png);
    background-repeat: no-repeat;
}

#lensBody .headerBar #filterViewMenu .filter a
{
    background-position: 0 -717px;
}

#lensBody .headerBar #filterViewMenu .sort a
{
    background-position: 0 -740px;
}

#lensBody .headerBar #filterViewMenu .showHide a
{
    background-position: 0 -372px;
}

#lensBody .headerBar #newPageLink
{
    background-position: 0 -102px;
}

#lensBody .headerBar #defaultLayoutLink
{
    background-position: 0 -122px;
}

#lensBody .headerBar #displayMenu li a
{
    background-image: url(images/content/table_menu/menu_icon_sprites.png);
    background-position: left -855px;
    background-repeat: no-repeat;
}

#lensBody .headerBar #displayMenu li.checked a
{
    background-position: left -510px;
}

#lensBody .headerBar #displayMenu .table a
{
    background-position: left -855px;
}

#lensBody .headerBar #displayMenu .page a
{
    background-position: left -878px;
}

/* Icons & styling for main menu */

#mainMenu
{
    height: 30em;
}

/* Scrollable menus */

#mainMenu.menu li a.disabled
{
    color: #8d8d8d;
    text-decoration: none;
}

#mainMenu.menu li.scrollable.hidden
{
    display: none;
}

#mainMenu.menu li.button
{
    padding: 0;
    margin: 0 1em;
}

#mainMenu.menu li.button.prev
{
    border-bottom: solid 1px #e0d1b8;
}

#mainMenu.menu li.button.next
{
    border-top: solid 1px #e0d1b8;
}

#mainMenu.menu li.button a
{
    background-image: none;
    background-position: left center;
    background-repeat: no-repeat;
    margin: 0 -10px;
    padding-left: 5px;
    text-indent: -9999px;
}

#mainMenu.menu li.button .outerWrapper
{
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 5px;
}

#mainMenu.menu li.button .midWrapper
{
    background-position: left center;
    background-repeat: repeat-x;
}

#mainMenu.menu li.button .innerWrapper
{
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
}

#mainMenu.menu li.button.prev .innerWrapper
{
    background-image: url(images/widgets/dropdown_button/arrow_up.png);
}

#mainMenu.menu li.button.next .innerWrapper
{
    background-image: url(images/widgets/dropdown_button/arrow_down.png);
}

#mainMenu.menu li.button.prev.disabled .innerWrapper
{
    background-image: url(images/widgets/dropdown_button/arrow_up_disabled.png);
}

#mainMenu.menu li.button.next.disabled .innerWrapper
{
    background-image: url(images/widgets/dropdown_button/arrow_down_disabled.png);
}

/*
#mainMenu.menu li.button a:hover
{
    background-image: url(images/widgets/dropdown_button/click_left.png);
}

#mainMenu.menu li.button a:hover .outerWrapper
{
    background-image: url(images/widgets/dropdown_button/click_right.png);
}

#mainMenu.menu li.button a:hover .midWrapper
{
    background-image: url(images/widgets/dropdown_button/click_gradSlice.png);
}
*/

#mainMenu.menu li.button.disabled a:hover
{
    background-image: none;
    cursor: default;
}

#mainMenu.menu li.button.disabled a:hover .outerWrapper
{
    background-image: none;
}

#mainMenu.menu li.button.disabled a:hover .midWrapper
{
    background-image: none;
}


/* Datatype icons */

#mainMenu dl > dd > ul > li > a,
#mainMenu dl > dd > ul > li > ul > li > a
{
    background-image: url(images/content/table_menu/menu_icon_sprites.png);
    background-position: 0 23px; /* default to show no icon */
    background-repeat: no-repeat;
}

#mainMenu li.blist .print > a
{
    background-position: 0 -4px;
}

#mainMenu li.blist .export > a
{
    background-position: 0 -27px;
}

#mainMenu li.blist .email > a
{
    background-position: 0 -50px;
}

#mainMenu li.blist .copy > a
{
    background-position: 0 -73px;
}

#mainMenu li.blist .create > a
{
    background-position: 0 -96px;
}

#mainMenu li.blist .create .table > a { background-position: 0 -855px; }
#mainMenu li.blist .create .page > a { background-position: 0 -878px; }
#mainMenu li.blist .create .calendar > a { background-position: 0 -763px; }
#mainMenu li.blist .create .form > a { background-position: 0 -832px; }

#mainMenu li.blist .import > a
{
    background-position: 0 -119px;
}

#mainMenu li.blist .findTemplate > a
{
    background-position: 0 -142px;
}

#mainMenu li.blist .recent > a
{
    background-position: 0 -165px;
}

#mainMenu li.blist .editPermissions > a
{
    background-position: 0 -188px;
}

#mainMenu li.edit .undo > a
{
    background-position: 0 -211px;
}

#mainMenu li.edit .redo > a
{
    background-position: 0 -234px;
}

#mainMenu li.edit .cut > a
{
    background-position: 0 -257px;
}

#mainMenu li.edit .copy > a
{
    background-position: 0 -280px;
}

#mainMenu li.edit .paste > a
{
    background-position: 0 -303px;
}

#mainMenu li.edit .delete > a
{
    background-position: 0 -326px;
}

#mainMenu li.edit .columnOptions > a
{
    background-position: 0 -349px;
}

#mainMenu li.edit .rowOptions > a
{
    background-position: 0 -349px;
}

#mainMenu li.data .insertColumn > a
{
    background-position: 0 -372px;
}

#mainMenu li.data .insertRow > a
{
    background-position: 0 -395px;
}

#mainMenu li.data .picklists > a
{
    background-position: 0 -418px;
}

#mainMenu li.data .rowTags > a
{
    background-position: 0 -441px;
}

#mainMenu li.data .rowIDs > a
{
    background-position: 0 -464px;
}

#mainMenu li.data .columnTotals > a
{
    background-position: 0 -487px;
}
#mainMenu li.data .columnTotals .showTotals > a { background-position: 0 -901px; }
#mainMenu li.data .columnTotals .showTotals.checked > a { background-position: 0 -510px; }

#mainMenu li.data .columnTotals .optionMenu li > a
{
    background-image: url(images/content/table_menu/menu_icon_sprites.png);
    background-position: 0 -924px;
    background-repeat: no-repeat;
}
#mainMenu li.data .columnTotals .optionMenu li.checked > a
{
    background-position: 0 -947px;
}

#mainMenu li.info .summary > a
{
    background-position: 0 -510px;
}

#mainMenu li.info .views > a
{
    background-position: 0 -533px;
}

#mainMenu li.info .comments > a
{
    background-position: 0 -556px;
}

#mainMenu li.info .publishing > a
{
    background-position: 0 -579px;
}

#mainMenu li.info .shares > a
{
    background-position: 0 -602px;
}

#mainMenu li.info .activity > a
{
    background-position: 0 -625px;
}

#mainMenu li.publish .grid > a
{
    background-position: 0 -648px;
}

#mainMenu li.publish .gridPage > a
{
    background-position: 0 -671px;
}

#mainMenu li.publish .page > a
{
    background-position: 0 -694px;
}

#mainMenu li.publish .form > a
{
    background-position: 0 -717px;
}

#mainMenu li.publish .search > a
{
    background-position: 0 -740px;
}


/* Table view & page view changes */

#lensContainer.tableView #pageViewHeader,
#lensContainer.tableView #pageViewFooter,
#lensContainer.tableView .pageOption,
#lensContainer.pageView .tableOption
{
    display: none;
}


/* Add Columns menu */

#addColumnsMenu .innerWrapper
{
    padding: 1em;
}

#addColumnsMenu .column
{
    border-right: solid 1px #e0d1b8;
    float: left;
    height: 11em;
    width: 16.5%;
}

#addColumnsMenu .column.last
{
    border: none;
}

#addColumnsMenu li ul
{
    padding: 0 1em;
}

#addColumnsMenu li ul li
{
    padding: 0.25em 0;
}

#addColumnsMenu .column a
{
    background-image: url(images/common/datatypes/data_type_sprites.png);
    background-repeat: no-repeat;
    color: #333333;
    display: block;
    font-size: 1.2em;
    height: 20px;
    line-height: 20px;
    padding-left: 24px;
    text-decoration: none;
}

/* Datatypes */

#mainMenu .columnsMenu > li > a
{
    background-image: url(images/common/datatypes/data_type_sprites.png);
    background-position: 0 20px;
    background-repeat: no-repeat;
}

#addColumn_plainText,
#mainMenu .columnsMenu .plainText a
{
    background-position: 0 -82px;
}

#addColumn_formattedText,
#mainMenu .columnsMenu .formattedText a
{
    background-position: 0 -62px;
}

#addColumn_number,
#mainMenu .columnsMenu .number a
{
    background-position: 0 -22px;
}

#addColumn_money,
#mainMenu .columnsMenu .money a
{
    background-position: 0 -42px;
}

#addColumn_percent,
#mainMenu .columnsMenu .percent a
{
    background-position: 0 -2px;
}

#addColumn_dateTime,
#mainMenu .columnsMenu .dateTime a
{
    background-position: 0 -342px;
}

#addColumn_phone,
#mainMenu .columnsMenu .phone a
{
    background-position: 0 -242px;
}

#addColumn_email,
#mainMenu .columnsMenu .email a
{
    background-position: 0 -262px;
}

#addColumn_url,
#mainMenu .columnsMenu .url a
{
    background-position: 0 -362px;
}

#addColumn_checkbox,
#mainMenu .columnsMenu .checkbox a
{
    background-position: 0 -122px;
}

#addColumn_stars,
#mainMenu .columnsMenu .stars a
{
    background-position: 0 -142px;
}

#addColumn_flag,
#mainMenu .columnsMenu .flag a
{
    background-position: 0 -382px;
}

#addColumn_document,
#mainMenu .columnsMenu .document a
{
    background-position: 0 -282px;
}

#addColumn_photo,
#mainMenu .columnsMenu .photo a
{
    background-position: 0 -102px;
}

#addColumn_picklist,
#mainMenu .columnsMenu .picklist a
{
    background-position: 0 -402px;
}

#addColumn_bnb,
#mainMenu .columnsMenu .bnb a
{
    background-position: 0 -442px;
}

#mainMenu .columnsMenu .tag a
{
    background-position: 0 -182px;
}


/* Main content */

#lensContainer .content
{
    padding-bottom: 1em;
}

#lensContainer #outerSwfWrapper
{
    /* Override position:relative for .scrollContent to allow this content
     * to expand beyond its borders */
    position: static;
}

#lensContainer #swfWrapper
{
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

/* Styling for message when missing JS or Flash */
#lensContainer #swfContent
{
    background-color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
}


/* Page view */

#pageViewHeader
{
    background-color: #e8e8e8;
    background-image: url(images/content/table_menu/light_corner_left_top.png);
    background-position: center left;
    background-repeat: no-repeat;
    height: 9px;
}

#pageViewHeader .innerWrapper
{
    background-image: url(images/content/table_menu/light_corner_right_top.png);
    background-position: center right;
    background-repeat: no-repeat;
    height: 9px;
}

#pageViewFooter
{
    background-color: #e3ecf7;
    height: 20px;
    line-height: 20px;
    padding: 1em 0;
    text-align: center;
}

#pageViewFooter a
{
    background-image: url(images/content/table_menu/menu_bar_sprites.png);
    background-repeat: no-repeat;
    /* This is for support in FF2 */
    display: -moz-inline-stack;
    display: inline-block;
    height: 20px;
    line-height: 100px;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: middle;
    width: 20px;
}

#pageViewFooter #pageInfo
{
    color: #8d8d8d;
    /* This is for support in FF2 */
    display: -moz-inline-stack;
    display: inline-block;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 0 2em;
    text-align: center;
    vertical-align: middle;
    width: 7em;
}

#pageViewFooter a#firstPageLink
{
    background-position: 0 -180px;
}

#pageViewFooter a#prevPageLink
{
    background-position: 0 -140px;
}

#pageViewFooter a#nextPageLink
{
    background-position: 0 -160px;
}

#pageViewFooter a#lastPageLink
{
    background-position: 0 -200px;
}

/* Modify sidebar to lie below grid */

#lensBody #sidebar
{
    margin-top: 0.5em;
}

#lensBody #sidebar .box
{
    background-image: none;
}

#lensBody #sidebar .box .outerWrapper
{
    background-image: none;
}

