#publishContent .fullPageContent
{
    margin-top: 2em; /* make room for search box error message */
    padding: 0em;
    padding-bottom: 3em;
}

#publishContent .publishHeader
{
    border-bottom: 1px solid #ccc;
}

#publishContent .publishHeader h1
{
    padding: 0.5em;
    padding-bottom: 0;
}

#publishContent .publishHeader h3
{
    padding: 1em;
}

#publishContent .publishHeader p
{
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

#publishContent .publishHeader .publishCodeWrapper
{
    color: #fff;
    float: right;
    margin-bottom: -1px;
}

#publishContent .publishHeader .publishCode
{
    background: url(/stylesheets/images/content/background_corner_right_invert.png) no-repeat right top;
    padding: 0.5em 1em;
}

#publishContent .publishHeader .publishCode p
{
    margin: 0.5em 0;
}

#publishContent .publishHeader .publishCode textarea
{
    font-size: 1em;
    height: 6.5em;
    overflow-x: hidden;
    width: 30em;
}

#publishContent .publishHeader .backToDatasetLink
{
    background: url(/stylesheets/images/common/back_arrow_icon_community.png) no-repeat left center;
    color: #333;
    display: block;
    float: right;
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    margin: 1em;
    padding-left: 20px;
    text-transform: uppercase;
}

#publishContent .livePreviewText
{
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em 2em 0;
}

#publishContent .previewPane
{
    margin: 3em auto 0;
    overflow: hidden;
    position: relative;
}

#publishContent .unsavedChangesBar
{
    background: #fff8c7 url(/stylesheets/images/common/info_small.png) no-repeat 1em center;
    border-bottom: 1px solid #cac49e;
    display: none;
    left: 0;
    padding: 1em;
    padding-left: 3.5em;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 25;
}
#publishContent .unsavedChangesBar p
{
    font-size: 1.3em;
    font-weight: bold;
}
#publishContent .unsavedChangesBar .actionButtons
{
    float: right;
    margin: -0.3em 0;
}
#publishContent .unsavedChangesBar .actionButtons li { background-position: 0 -378px; }
#publishContent .unsavedChangesBar .actionButtons li a { background-position: right -399px; }
#publishContent .unsavedChangesBar .actionButtons li a.arrowButton { background-position: right -420px; }


#publishContent .previewPane .loadingIndicator
{
    background: #fff url(/stylesheets/images/common/BrandedSpinner.gif) no-repeat center 10em;
    bottom: 0;
    left: 0;
    padding-top: 15em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

#publishContent .errorMessage
{
    background: transparent url(/stylesheets/images/content/flag_modal_icon.png) no-repeat 0 1em;
    margin: 5em auto;
    padding-left: 5em;
    width: 30em;
}

#publishContent .errorMessage p
{
    font-size: 1.2em;
    margin-bottom: 1em;
}

#publishContent .versionMessage
{
    display: none;
}

h3 .infoText
{
    color: #444;
    margin-left: 0.5em;
    text-transform: none;
}

#publishOptionsPane
{
    margin-right: 1em;
    min-width: 86.5em;
    padding-bottom: 7em;
}

#publishOptionsPane .infoContentHeader .panelHeader
{
    background-position: 0 -820px;
}

#publishOptionsPane .infoContentHeader .changesWarning
{
    background: url(/stylesheets/images/common/info_small.png) no-repeat left center;
    clear: both;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 18px;
    height: 18px;
    margin: 0.5em;
    margin-left: 2.3em;
    padding-left: 25px;
}

#publishOptionsPane .infoContentHeader .changeTemplateLink
{
    color: #666;
    font-weight: bold;
    margin-left: 2em;
    position: relative;
    text-transform: uppercase;
    top: 1.6em;
}

#publishOptionsPane .infoContentHeader .changesWarning .newTemplateLink
{
    color: #666;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 2em;
    text-transform: uppercase;
}

#publishOptionsPane .summaryTabs li
{
    width: 170px;
}

#publishOptionsPane .summaryTabs li .tabInner
{
    width: 171px;
}

#publishOptionsPane .active .infoContent
{
    display: block;
}

#publishOptionsPane .infoContentOuter.listContainer .infoContent
{
    background-position: -10px 0;
    background-repeat: repeat-y;
}

#publishOptionsPane .singleInfoTab .infoContent
{
    border-top: 1px solid #fff;
    padding-top: 1em;
}

#publishOptionsPane .singleInfoTab p
{
    font-size: 1.2em;
}

#publishOptionsPane .infoContent
{
    position: relative;
}

#publishOptionsPane .infoContentLeft
{
    float: left;
    width: 50%;
}

#publishOptionsPane .infoContentRight
{
    float: right;
    width: 50%;
}

#publishOptionsPane .infoContentRightBg
{
    bottom: -8px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 20em;
}

#publishOptionsPane .actionButtons .noButton
{
    background: none;
    font-size: 1.3em;
    padding: 0.3em;
}

#publishOptionsPane .singleInfoVisual input[type="text"]
{
    width: 2em;
}

#publishOptionsPane select
{
    position: relative;
    top: 1px;
}

#publishOptionsPane .logoPreview
{
    margin-left: 1em;
}

#publishOptionsPane .infoContent dd
{
    padding-top: 2px;
}

#publishOptionsPane .singleInfoVisual label
{
    display: inline-block;
    width: 6em;
}

#publishOptionsPane .singleInfoVisual label.wideLabel
{
    width: 8em;
}

#publishOptionsPane .singleInfoAdvanced .clearGACodeLink
{
    background: url(/stylesheets/images/content/section_close_button.png) no-repeat;
    display: inline-block;
    height: 13px;
    margin: 4px;
    text-indent: -9999px;
    width: 13px;
}

#publishOptionsPane h3
{
    border-bottom: 1px solid #fff;
    font-size: 1em;
    font-weight: normal;
}

#publishOptionsPane .textContent p
{
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

#publishOptionsPane .textContent .subform
{
    margin: 0.5em;
    margin-left: 2.2em;
    width: 30em;
}

#publishOptionsPane .textContent .subform label
{
    display: block;
    height: 1.5em;
    margin: 1em 0 -1.8em;
    width: 3em;
}

#publishOptionsPane .textContent .subform input,
#publishOptionsPane .textContent .subform select
{
    margin-left: 4em;
    top: -2px;
    width: 21em;
}

#publishOptionsPane .textContent .subform img
{
    position: relative;
    top: -5px;
}

#publishOptionsPane .colorPickerLabel
{
    display: inline-block;
    padding-left: 0.5em;
}

#publishOptionsPane .colorPickerTrigger
{
    background: url(/images/colorpicker/select_arrow.png) no-repeat bottom right;
    border: 2px solid #999;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    width: 25px;
}

#publishOptionsPane .colorPickerContainer
{
    display: none;
	margin-top: -176px;
    position: absolute;
}