.printContent .columnLeft label
{
    display: block;
    font-size: 1.2em;
    height: 2.5em;
    line-height: 2.5em;
    margin-bottom: -2.5em;
}

.printContent .margins
{
    margin-left: 1em;
    margin-top: 2em;
}

.printContent input[type="text"],
.printContent select
{
    margin-bottom: 0.4em;
    margin-left: 14em;
}

.printContent .columnRight .formSection
{
    padding-bottom: 0.5em;
}

.printContent .columnRight label
{
    font-size: 1.2em;
}

.printContent .columnRight label.formHeader
{
    display: block;
    margin-top: 0.4em;
    position: static;
}

.printContent .columnRight input
{
    display: block;
    margin-bottom: 0.4em;
    margin-left: 0.5em;
}

.printContent .columnRight label
{
    left: 3em;
    margin-top: -1.4em;
    position: absolute;
}

.submitActions li
{
    display: inline-block;
}

.submitActions .cancelButton a
{
    color: #666;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 1em;
    text-transform: uppercase;
}