/* 
    Document   : blists-screen
    Created on : Jan 13, 2009, 3:04:23 PM
    Author     : jeff.scherpelz@blist.com
    Description:
      Styles for the 'blists' screen
*/

#blists .headerBar
{
  margin-bottom: 1em;
  text-align: right;
}

#blists .headerBar h3
{
  float: left;
}

#blists .headerBar a
{
  color: #333333;
  font-size: 1.2em;
  margin-right: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

#blists .headerBar .menu
{
  border-right: solid 2px #ededed;
  font-size: 1.4em;
  font-weight: bold;
  padding-right: 0.5em;
}

#blists .headerBar form,
#blists .headerBar form p
{
  display: inline;
}

#blists .selectableListContainer
{
    margin: 0;
}

#blists #infoPane .infoContent
{
  text-align: right;
}

#blists #infoPane .infoContent h2
{
  float: left;
}

#blists table.selectableList
{
    table-layout: fixed;
}

#blists table.selectableList th.favorite,
#blists table.selectableList th.type
{
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

#blists table.selectableList th.favorite
{
    background-image: url(/stylesheets/images/content/table/icon_sorting_star.png);
}

#blists table.selectableList th.type
{
    background-image: url(/stylesheets/images/content/table/icon_sorting_type.png);
}

#blists table.selectableList .handle
{
    padding: 0;
    width: 33px;
}

#blists table.selectableList .favorite
{
    padding: 0;
    width: 25px;
}

#blists table.selectableList .type
{
    padding: 0;
    width: 38px;
}

#blists table.selectableList .name
{
    width: 25%;
}

#blists table.selectableList .description
{
    width: 33%;
}

#blists table.selectableList .owner
{
    width: 20%;
}

#blists table.selectableList .lastUpdated
{
    width: 15%;
}

#blists table.selectableList td.handle,
#blists table.selectableList td.favorite,
#blists table.selectableList td.type
{
    background-position: center -3px;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

#blists table.selectableList td.handle > *,
#blists table.selectableList td.favorite > *,
#blists table.selectableList td.type > *
{
    padding: 5px;
    width: 17px;
}

/* All the custom icons for list cells */
#blists table.selectableList td.type
{
    background-image: url(/stylesheets/images/content/table/icon_blist.png);
}

#blists table.selectableList td.type.filter
{
    background-image: url(/stylesheets/images/content/table/icon_filter.png);
}

#blists table.selectableList tr.hover td.handle
{
    background-image: url(/stylesheets/images/content/table/icon_double_arrow.png);
}

#blists table.selectableList tr.hover td.favorite
{
    background-image: url(/stylesheets/images/content/table/icon_star_empty.png);
}

#blists table.selectableList tr.hover td.type
{
    background-image: url(/stylesheets/images/content/table/icon_box.png);
}

#blists table.selectableList tr.selected td.type,
#blists table.selectableList tr.hover.selected td.type
{
    background-image: url(/stylesheets/images/content/table/icon_box_checked.png);
}
