/* 
    Document   : blists-screen
    Created on : Jan 13, 2009, 3:04:23 PM
    Author     : jeff.scherpelz@blist.com, pete.stuart@blist.com
    Description:
      Styles for the 'blists' screen
*/

#blists .content
{
    padding-bottom: 15px;
}

#blists .headerBar
{
  margin-bottom: 1em;
  text-align: right;
}

#blists .headerBar h3
{
  float: left;
}

#blists .headerBar a
{
  color: #333333;
  font-size: 1.2em;
  margin-right: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

#blists .headerBar .menuLink
{
  border-right: solid 2px #ededed;
  font-size: 1.4em;
  font-weight: bold;
  padding-right: 0.5em;
}

#blists .headerBar form,
#blists .headerBar form p
{
  display: inline;
}

#blists .selectableListContainer
{
    margin: 0;
}

#blists table.selectableList
{
    table-layout: fixed;
}

#blists table.selectableList th.favorite,
#blists table.selectableList th.type
{
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

#blists table.selectableList th.favorite
{
    background-image: url(/stylesheets/images/content/table/icon_sorting_star.png);
}

#blists table.selectableList th.type
{
    background-image: url(/stylesheets/images/content/table/icon_sorting_type.png);
}

#blists table.selectableList .handle
{
    padding: 0;
    width: 33px;
}

#blists table.selectableList .favorite
{
    padding: 0;
    width: 32px;
}

#blists table.selectableList .type
{
    padding: 0;
    width: 45px;
}
#blists table.selectableList td.type > *
{
    margin: 0;
}

#blists table.selectableList .name
{
    width: 25%;
}

#blists table.selectableList .description
{
    width: 33%;
}

#blists table.selectableList .owner
{
    width: 20%;
}

#blists table.selectableList .lastUpdated
{
    width: 15%;
}
#blists table.selectableList .viewed
{
    width: 15%;
}
#blists table.selectableList .actionContainer {
    font-size: 1em;
    width: 45px;
}

#blists table.selectableList td.handle,
#blists table.selectableList td.favorite
{
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

#blists table.selectableList td.type > div
{
    text-indent: -9999px;
    width: 100%;
}

#blists table.selectableList td.handle > div,
#blists table.selectableList td.favorite > div,
#blists table.selectableList td.type > div
{
    width: 17px;
}

/* Styling for expand/collapse arrow */
#blists table.selectableList .expander
{
    background-image: url(/stylesheets/images/content/table/expand_closed.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    margin-right: -5px;
    width: 10px;
}

#blists table.selectableList tr.expanded .expander
{
    background-image: url(/stylesheets/images/content/table/expand_opened.png);
}


/* All the custom icons for list cells */
#blists table.selectableList td.favorite.true
{
    background-image: url(/stylesheets/images/content/table/icon_star_fill.png);
}

#blists table.selectableList tr.hover td.handle
{
    background-image: url(/stylesheets/images/content/table/icon_double_arrow.png);
}

#blists table.selectableList tr.hover td.favorite
{
    background-image: url(/stylesheets/images/content/table/icon_star_empty.png);
}

#blists table.selectableList tr.hover td.favorite.true
{
    background-image: url(/stylesheets/images/content/table/icon_star_fill.png);
}

#blists .outerContent table.selectableList tr.hover td.type > div
{
    background-image: url(/stylesheets/images/content/table/icon_type_sprites.png);
    background-position: left -341px;
}

#blists .outerContent table.selectableList tr.selected td.type > div,
#blists .outerContent table.selectableList tr.hover.selected td.type > div
{
    background-image: url(/stylesheets/images/content/table/icon_type_sprites.png);
    background-position: left -310px;
}


/* Styling for child rows */
#blists table.selectableList tr.child td > *
{
    margin-bottom: 0;
}

#blists table.selectableList tr.child td.type > div
{
    margin-left: 45px;
}

#blists table.selectableList tr.child td.name > *
{
    margin-left: 35px;
}

#blists table.selectableList tr.child td.owner > *,
#blists table.selectableList tr.child td.lastUpdated > *
{
    display: none;
}

#blists table.selectableList tr.child td.type
{
    border-right: solid 4px #e0d1b8;
}

#blists table.selectableList tr.child td.owner
{
    border-left: solid 4px #e0d1b8;
}

#blists table.selectableList tr.child.hover td.description > *,
#blists table.selectableList tr.child.selected td.description > *,
#blists table.selectableList tr.child.hover.selected td.description > *
{
    background-image: url(/stylesheets/images/content/table/highlight_end.png);
    background-position: right;
    background-repeat: no-repeat;
}

/* Sort grouping headers */
#blists table.selectableList tr.sortGroup td > *
{
    color: #e8a134;
    font-size: 1.3em;
    text-indent: 0;
    text-transform: uppercase;
}

#blists .noticePanel
{
    width: 689px;
}
#blists .featureBoxes
{
    margin: 1.5em 0 0 1.5em;
}
