.newBlistContent
{
    margin: 0 0 1em;
}

.newBlistContent h1
{
    background: url(/stylesheets/images/common/new_blist.png) no-repeat;
    color: #000;
    height: 40px;
    padding-left: 50px;
}

.newBlistContent h3
{
    border-bottom: 1px dotted #666;
    margin-bottom: 15px;
    margin-top: 10px;
}

.newBlistContent hr
{
    border: none;
    border-bottom: 1px dotted #666;
    height: 0;
}

.newBlistContent label
{
    display: block;
    font-size: 1.2em;
    height: 20px;
    margin: 10px;
    margin-bottom: -25px;
    text-align: right;
    width: 200px;
}

.newBlistContent label.uploadInfoMessage
{
    font-size: 1em;
    padding: 0;
    margin: 2px 0 2px 230px;
    text-align: left;
    width: 350px;
}

.newBlistContent label.error, label.uploadErrorMessage
{
    color: red;
    font-size: 1em;
    padding: 0;
    margin: 2px 0 2px 230px;
    text-align: left;
    width: 350px;
}

.newBlistContent label.hide
{
    display: none;
}

.newBlistContent label.required
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    background-position: right top;
    padding-right: 15px;
}

.newBlistContent input[type=text], input[type=file], textarea, select, #privacyDisplayText
{
    display: inline-block;
    margin-left: 230px;
    width: 330px;
}

.newBlistContent .prompt
{
    color: #666;
    font-style: italic;
}

.newBlistContent textarea
{
    border: 1px solid #CACACA;
    color: #333;
    font-size: 1.3em;
    height: 60px;
    padding: 2px;
}

.newBlistContent select
{
    border: 1px solid #CACACA;
    color: #333;
    height: 20px;
    width: 336px;
}

.newBlistContent #licensingCreativeCommons hr
{
    margin-left: 230px;
    text-align: left; /* IE is awesome. */
    width: 375px;
}
.newBlistContent .submitPending
{
    background: url(/images/throbber.gif) no-repeat;
    background-color: #ffc;
    background-position: 6px center;
    border: 1px solid #aa7;
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px;
    padding: 7px;
    padding-left: 30px;
}

.newBlistContent .validationError
{
    font-size: 1.4em;
}

.newBlistContent span.helpie
{
    background: url(/stylesheets/images/info_pane/icon_help_highlight.png) no-repeat;
    display: block;
    height: 16px;
    left: 595px;
    margin-top: -17px;
    position: absolute;
    text-indent: -9999px;
    width: 16px;
  vertical-align: middle;
}

.newBlistContent span.helpie.fileUploadHelpie
{
    left: 710px;
}

.newBlistContent span.additionalHelp
{
    display: block;
    margin-left: 230px;
}

.newBlistContent .actionButtons
{
    display: inline-block;
    margin-bottom: -0.65em;
}

.newBlistContent .fileBrowseButtonListContainer
{
    display: inline-block;
}

.newBlistContent .fileBrowseButtonListContainer
{
    display: inline;
}

.newBlistContent #fileBrowseButtonList
{
    border-right: 1px solid transparent; /* IE8 is awesome */
}

.newBlistContent #fileClearButton.hide
{
    display: none;
}

.newBlistContent .submitActions
{
    margin: 15px;
    margin-left: 230px;
}

.newBlistContent .submitActions li
{
    display: inline-block;
}

.newBlistContent .submitActions li.cancelButton
{
    margin-left: 20px;
    margin-top: 5px;
}

.newBlistContent .submitActions li.cancelButton a
{
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.newBlistContent .licensing
{
    margin-top: -6px;
    padding: 5px 0 10px;
}

.newBlistContent .licensing.active
{
    background-color: #cacaca;
}

.newBlistContent .licensing.active .actionButtons li
{
    background-position: 0 0;
}

.newBlistContent .licensing.active .actionButtons a
{
    background-position: right -21px;
}

.newBlistContent .requiredEntryText
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    padding-left: 15px;
    float: left;
}

/* Privacy */

.newBlistContent #privacyDisplayText
{
    font-size: 1.2em;
    font-style: italic;
    padding: 5px 0;
}

.newBlistContent .privacyButtons p
{
    line-height: 1.4em;
}

.newBlistContent .privacyButtons p input
{
    margin-left: 230px;
}

.newBlistContent .privacyButtons p label
{
    display: inline;
}

.newBlistContent .privacyExpander
{
    background: url(/stylesheets/images/common/expander_arrows.png) no-repeat;
    background-position: 0 0.12em;
    color: #333;
    display: block;
    font-weight: bold;
    margin: 10px 0 10px 230px;
    padding-left: 13px;
    text-transform: uppercase;
}
