/* 
    Document   : blist-grid-screen
    Created on : Feb 9, 2009, 11:00:00 AM
    Author     : jeff.scherpelz@blist.com
    Description:
      Styles for the blist-specific grid screen
*/
body#lensBody
{
    max-width: 100%;
}

#lensContainer, #lensMetaContainer
{
    margin-right: 1em;
    min-width: 99.9em;
}
#lensMetaContainer { padding-bottom: 6em; }

#lensContainer .tabList
{
    margin-left: 10em;
}

#lensContainer .tabList .backLink
{
    background-image: none;
    margin-right: 0;
}

#lensContainer .tabList .backLink a,
#lensContainer .tabList .newViewLink a
{
    background-repeat: no-repeat;
    line-height: 10em;
    max-width: 23px;
    overflow: hidden;
    padding: 0;
}

#lensContainer .tabList .backLink a
{
    background-color: transparent;
    background-image: url(/stylesheets/images/content/table/icon_back_to_blists.png);
    background-position: 0 0;
    height: 15px;
    margin-top: 7px;
}

#lensContainer .tabList .newViewLink
{
    background-image: none;
    margin-left: 0;
    margin-right: 10px;
}

#lensContainer .tabList .newViewLink a
{
    background-color: transparent;
    background-image: url(/stylesheets/images/content/table/icon_add_lens.png);
    background-position: 0 0;
    height: 16px;
    margin-top: 3px;
}

#lensContainer .tabList .newViewLink a:hover
{
    background-position: 0 -16px;
}

#lensContainer .tabList li.main
{
    background-image: url(/stylesheets/images/content/tabs/tab_large_sprites.png);
    background-position: 0 -26px;
    z-index: 10;
}

#lensContainer .tabList li.main .wrapper
{
    background-image: url(/stylesheets/images/content/tabs/tab_large_sprites.png);
    background-position: right -78px;
    padding: 0 18px;
}

#lensContainer .tabList li.main a
{
    height: 20px;
    min-width: 6em;
    max-width: 20em;
    overflow: hidden;
    padding: 6px 0 0;
    text-align: center;
}

#lensContainer .tabList li.main.active
{
    background-position: 0 0;
}

#lensContainer .tabList li.main.active .wrapper
{
    background-position: right -52px;
}

#lensContainer .tabList li.prevTabLink,
#lensContainer .tabList li.nextTabLink
{
    background-image: none;
    margin-left: 4px;
    margin-right: 4px;
    width: 12px;
}

#lensContainer .tabList li.prevTabLink a,
#lensContainer .tabList li.nextTabLink a
{
    background-color: transparent;
    background-image: url(/stylesheets/images/content/table/tab_arrow_sprites.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 10em;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    width: 12px;
}

#lensContainer .tabList li.nextTabLink a
{
    background-position: 0 -16px;
}

#lensContainer .tabList li.disabled a
{
    display: none;
}

#lensContainer .tabList li.hidden
{
    display: none;
}

#lensContainer .tabList li.filter.active
{
    background-image: url(/stylesheets/images/content/tabs/tab_small_sprites.png);
    background-position: left 0;
}

#lensContainer .tabList li.filter.active .wrapper
{
    background-image: url(/stylesheets/images/content/tabs/tab_small_sprites.png);
    background-position: right -78px;
    padding: 3px 14px 0;
}

#lensContainer .tabList li.filter.active a
{
  height: 18px;
  padding: 5px 1em 0 20px;
}

#lensContainer .tabList li.filter a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png);
    background-position: 0 -531px;
    background-repeat: no-repeat;
    min-width: 5em;
    max-width: 15em;
    padding-left: 20px;
    overflow: hidden;
    text-align: left;
}

/* Header bar & Button styles */

#lensContainer .headerBar
{
    line-height: 24px;
    margin-bottom: 1em;
    min-height: 0;
    overflow: hidden;
}

#lensContainer .headerBar > ul > li
{
    float: left;
    padding: 0 0.5em;
}

#lensContainer .headerBar > ul > li > a
{
    display: block;
    color: #333333;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}

#lensContainer .headerBar form.search
{
    float: right;
    width: 20em;
}

#lensContainer .headerBar form.search .searchContainer
{
    background-image: url(/stylesheets/images/content/table_menu/field_find.png);
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 49px;
}

#lensContainer .headerBar form.search input[type="text"]
{
    height: 15px;
    padding: 1px 0 0;
}

#lensContainer .headerBar form.search input.submit
{
    height: 18px;
    margin-right: 0;
}

#lensContainer .headerBar form.search .actionBox
{
    float: left;
    margin-right: -49px;
    width: 49px;
}

#lensContainer .headerBar form.search .clearBox
{
    border-color: #cacaca;
    border-style: solid;
    border-width: 1px 0;
    float: left;
    height: 16px;
    width: 18px;
}

#lensContainer .headerBar form.search .clearSearch
{
    background: url(/stylesheets/images/content/section_close_button.png) no-repeat top left;
    display: block;
    height: 16px;
    line-height: 100px;
    overflow: hidden;
    width: 16px;
}


#lensContainer .headerBar .separator
{
    border-left: 2px solid #e8e8e8;
}

#lensBody .headerBar .linkIcon
{
    background-image: url(/stylesheets/images/content/table_menu/menu_bar_sprites.png);
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    padding-left: 25px;
}

#lensBody .addColumnsLink
{
    background-position: 0 -40px;
}

#lensBody #editLink
{
    font-weight: bold;
}

#lensBody #undoLink, #lensBody #redoLink
{
    line-height: 100px;
    padding: 0;
    width: 20px;
}

#lensBody #undoLink
{
    background-position: 0 0;
}

#lensBody #redoLink
{
    background-position: 0 -20px;
}

#lensBody #filterLink span.linkIcon
{
    background-position: 0 -62px;
}

#lensBody .headerBar ul.menu
{
    min-width: 15em;
}

#lensBody .headerBar #filterViewMenu li a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png);
    background-repeat: no-repeat;
}

#lensBody .headerBar #filterViewMenu .filter a
{
    background-position: 5px -715px;
}

#lensBody .headerBar #filterViewMenu .sort a
{
    background-position: 5px -738px;
}

#lensBody .headerBar #filterViewMenu .showHide a
{
    background-position: 5px -370px;
}

#lensBody .headerBar #newPageLink
{
    background-position: 0 -102px;
}

#lensBody .headerBar #defaultLayoutLink
{
    background-position: 0 -122px;
}

#lensBody .headerBar #displayMenu li a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png);
    background-position: 5px -853px;
    background-repeat: no-repeat;
}

#lensBody .headerBar #displayMenu li.checked a
{
    background-position: 5px -508px;
}

#lensBody .headerBar #displayMenu .table a
{
    background-position: 5px -853px;
}

#lensBody .headerBar #displayMenu .page a
{
    background-position: 5px -876px;
}

#lensBody .headerBar #apiLink
{
    background-position: 0 -220px;
}

#lensBody .headerBar #rssLink
{
    background-position: 0 -240px;
}

#lensBody .headerBar .socialActions li
{
    float: left;
    margin-left: 1em;
}
#lensBody .headerBar .socialActions li a
{
    display: block;
    height: 20px;
}

/* Icons & styling for main menu */

#mainMenu
{
    height: 30em;
}

#mainMenu dl > dd > ul > li > a,
#mainMenu dl > dd > ul > li > ul > li > a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png);
    background-position: 5px 23px; /* default to show no icon */
    background-repeat: no-repeat;
}

#mainMenu li.blist .print > a
{
    background-position: 5px -2px;
}

#mainMenu li.blist .export > a
{
    background-position: 5px -117px;
}

#mainMenu li.blist .email > a
{
    background-position: 5px -48px;
}

#mainMenu li.blist .copy > a
{
    background-position: 5px -71px;
}

#mainMenu li.blist .create > a
{
    background-position: 5px -94px;
}

#mainMenu li.blist .create .table > a { background-position: 5px -853px; }
#mainMenu li.blist .create .page > a { background-position: 5px -876px; }
#mainMenu li.blist .create .calendar > a { background-position: 5px -761px; }
#mainMenu li.blist .create .form > a { background-position: 5px -830px; }

#mainMenu li.blist .import > a
{
    background-position: 5px -25px;
}

#mainMenu li.blist .findTemplate > a
{
    background-position: 5px -140px;
}

#mainMenu li.blist .recent > a
{
    background-position: 5px -163px;
}

#mainMenu li.blist .recent .blist > a { background-position: 5px -94px; }
#mainMenu li.blist .recent .filter > a { background-position: 5px -531px; }

#mainMenu li.blist .editPermissions > a
{
    background-position: 5px -186px;
}

#mainMenu li.edit .undo > a
{
    background-position: 5px -209px;
}

#mainMenu li.edit .redo > a
{
    background-position: 5px -232px;
}

#mainMenu li.edit .cut > a
{
    background-position: 5px -255px;
}

#mainMenu li.edit .copy > a
{
    background-position: 5px -278px;
}

#mainMenu li.edit .paste > a
{
    background-position: 5px -301px;
}

#mainMenu li.edit .delete > a
{
    background-position: 5px -324px;
}

#mainMenu li.edit .columnOptions > a
{
    background-position: 5px -347px;
}

#mainMenu li.edit .rowOptions > a
{
    background-position: 5px -347px;
}

#mainMenu li.data .insertColumn > a
{
    background-position: 5px -370px;
}

#mainMenu li.data .insertRow > a
{
    background-position: 5px -393px;
}

#mainMenu li.data .picklists > a
{
    background-position: 5px -416px;
}

#mainMenu li.data .rowTags > a
{
    background-position: 5px -439px;
}

#mainMenu li.data .rowIDs > a
{
    background-position: 5px -462px;
}

#mainMenu li.data .columnTotals > a
{
    background-position: 5px -485px;
}
#mainMenu li.data .columnTotals .showTotals > a { background-position: 5px -899px; }
#mainMenu li.data .columnTotals .showTotals.checked > a { background-position: 5px -508px; }

#mainMenu li.data .columnTotals .optionMenu li > a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png);
    background-position: 5px -922px;
    background-repeat: no-repeat;
}
#mainMenu li.data .columnTotals .optionMenu li.checked > a
{
    background-position: 5px -945px;
}

#mainMenu li.info .summary > a
{
    background-position: 5px -94px;
}

#mainMenu li.info .views > a
{
    background-position: 5px -531px;
}

#mainMenu li.info .comments > a
{
    background-position: 5px -554px;
}

#mainMenu li.info .publishing > a
{
    background-position: 5px -577px;
}

#mainMenu li.info .shares > a
{
    background-position: 5px -600px;
}

#mainMenu li.info .activity > a
{
    background-position: 5px -623px;
}

#mainMenu li.info li.activePane > a
{
    background-position: 5px -508px;
}

#mainMenu li.publish .grid > a
{
    background-position: 5px -646px;
}

#mainMenu li.publish .gridPage > a
{
    background-position: 5px -669px;
}

#mainMenu li.publish .page > a
{
    background-position: 5px -692px;
}

#mainMenu li.publish .form > a
{
    background-position: 5px -715px;
}

#mainMenu li.publish .search > a
{
    background-position: 5px -738px;
}


/* Table view & page view changes */

#lensContainer.tableView #pageViewHeader,
#lensContainer.tableView #pageViewFooter,
#lensContainer.tableView .pageOption,
#lensContainer.pageView .tableOption
{
    display: none;
}


/* Add Columns menu */

#addColumnsMenu .innerWrapper
{
    padding: 1em;
}

#addColumnsMenu .column
{
    border-right: solid 1px #e0d1b8;
    float: left;
    height: 11em;
    width: 14.5%;
}

#addColumnsMenu .column.narrow
{
    width: 12%;
}

#addColumnsMenu .column.wide
{
    width: 17%;
}

#addColumnsMenu .column.last
{
    border: none;
}

#addColumnsMenu li ul
{
    padding: 0 1em;
}

#addColumnsMenu li ul li
{
    padding: 0.25em 0;
}

#addColumnsMenu .column a
{
    background-image: url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-repeat: no-repeat;
    color: #333333;
    display: block;
    font-size: 1.2em;
    height: 20px;
    line-height: 20px;
    margin-left: -5px;
    padding-left: 30px;
    text-decoration: none;
}

/* Datatypes */

#mainMenu .columnsMenu > li > a
{
    background-image: url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-position: 5px 20px;
    background-repeat: no-repeat;
}

#addColumn_plainText,
#mainMenu .columnsMenu .plainText a,
.blist-table .blist-th.text .blist-th-icon
{
    background-position: 5px -80px;
}

#addColumn_formattedText,
#mainMenu .columnsMenu .formattedText a,
.blist-table .blist-th.richtext .blist-th-icon
{
    background-position: 5px -60px;
}

#addColumn_number,
#mainMenu .columnsMenu .number a,
.blist-table .blist-th.number .blist-th-icon
{
    background-position: 5px -20px;
}

#addColumn_money,
#mainMenu .columnsMenu .money a,
.blist-table .blist-th.money .blist-th-icon
{
    background-position: 5px -40px;
}

#addColumn_percent,
#mainMenu .columnsMenu .percent a,
.blist-table .blist-th.percent .blist-th-icon
{
    background-position: 5px 0;
}

#addColumn_dateTime,
#mainMenu .columnsMenu .dateTime a,
.blist-table .blist-th.date .blist-th-icon
{
    background-position: 5px -340px;
}

#addColumn_phone,
#mainMenu .columnsMenu .phone a,
.blist-table .blist-th.phone .blist-th-icon
{
    background-position: 5px -240px;
}

#addColumn_email,
#mainMenu .columnsMenu .email a,
.blist-table .blist-th.email .blist-th-icon
{
    background-position: 5px -260px;
}

#addColumn_url,
#mainMenu .columnsMenu .url a,
.blist-table .blist-th.url .blist-th-icon
{
    background-position: 5px -360px;
}

#addColumn_checkbox,
#mainMenu .columnsMenu .checkbox a,
.blist-table .blist-th.checkbox .blist-th-icon
{
    background-position: 5px -120px;
}

#addColumn_stars,
#mainMenu .columnsMenu .stars a,
.blist-table .blist-th.stars .blist-th-icon
{
    background-position: 5px -140px;
}

#addColumn_flag,
#mainMenu .columnsMenu .flag a,
.blist-table .blist-th.flag .blist-th-icon
{
    background-position: 5px -380px;
}

#addColumn_document,
#mainMenu .columnsMenu .document a,
.blist-table .blist-th.document .blist-th-icon
{
    background-position: 5px -280px;
}

#addColumn_photo,
#mainMenu .columnsMenu .photo a,
.blist-table .blist-th.photo .blist-th-icon
{
    background-position: 5px -100px;
}

#addColumn_picklist,
#mainMenu .columnsMenu .picklist a,
.blist-table .blist-th.picklist .blist-th-icon
{
    background-position: 5px -400px;
}

#addColumn_bnb,
#mainMenu .columnsMenu .bnb a,
.blist-table .blist-th.blist_in_blist .blist-th-icon
{
    background-position: 5px -440px;
}

#addColumn_rowTag,
#mainMenu .columnsMenu .tag a,
.blist-table .blist-th.tag .blist-th-icon
{
    background-position: 5px -180px;
}


/* Main content */

#lensContainer .outerContent
{
    /* Override overflow: auto so that Firefox on Windows doesn't get screwed
     * up in regards to cursor positioning in Flash */
    overflow: visible;
}

#lensContainer .content
{
    padding-bottom: 1em;
}

#lensContainer #outerSwfWrapper
{
    /* Override overflow: auto for .scrollContent so that Firefox on Windows
     * doesn't get screwed up in regards to cursor positioning in Flash */
    overflow: visible;
    /* Override position:relative for .scrollContent to allow this content
     * to expand beyond its borders */
    position: static;
}

#lensContainer #swfWrapper
{
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

/* Position container so it will fit the wrapper */
#lensContainer #swfContent
{
    position: absolute;
    bottom: 0;
    top: 0;
}

/* Styling for message when missing JS or Flash */
#lensContainer #swfContent
{
    background-color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
}

#lensContainer #swfWrapper p
{
    font-size: 1.4em;
    margin-top: 2em;
    text-align: center;
}


/* Page view */

#pageViewHeader
{
    background-color: #e8e8e8;
    background-image: url(/stylesheets/images/content/table_menu/light_corner_left_top.png);
    background-position: center left;
    background-repeat: no-repeat;
    height: 9px;
}

#pageViewHeader .innerWrapper
{
    background-image: url(/stylesheets/images/content/table_menu/light_corner_right_top.png);
    background-position: center right;
    background-repeat: no-repeat;
    height: 9px;
}

#pageViewFooter
{
    background-color: #e3ecf7;
    height: 20px;
    line-height: 20px;
    padding: 1em 0;
    text-align: center;
}

#pageViewFooter a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_bar_sprites.png);
    background-repeat: no-repeat;
    /* This is for support in FF2 */
    display: -moz-inline-stack;
    display: inline-block;
    height: 20px;
    line-height: 100px;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: middle;
    width: 20px;
}

#pageViewFooter #pageInfo
{
    color: #8d8d8d;
    /* This is for support in FF2 */
    display: -moz-inline-stack;
    display: inline-block;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 0 2em;
    text-align: center;
    vertical-align: middle;
    width: 7em;
}

#pageViewFooter a#firstPageLink
{
    background-position: 0 -180px;
}

#pageViewFooter a#prevPageLink
{
    background-position: 0 -140px;
}

#pageViewFooter a#nextPageLink
{
    background-position: 0 -160px;
}

#pageViewFooter a#lastPageLink
{
    background-position: 0 -200px;
}

/* Modify sidebar to lie below grid */

#lensBody #sidebar
{
    margin-top: 0.5em;
}

#lensBody #sidebar .box
{
    background-image: none;
}

#lensBody #sidebar .box .outerWrapper
{
    background-image: none;
}


/* SWF/Non-SWF */
#lensBody.readMode .swfItem
{
    display: none;
}

#lensBody.editMode .readItem
{
    display: none;
}

#lensBody.readMode #infoPane .sharingSummary a
{
    cursor: auto;
    font-style: normal;
    text-decoration: none;
}

/* Grid styling */
#lensBody #readGrid
{
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
}
