#publishContent .fullPageContent
{
    padding: 0em;
    padding-bottom: 3em;
}

#publishContent .publishHeader
{
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
}

#publishContent .publishHeader h1
{
    padding: 0.5em;
    padding-bottom: 0;
}

#publishContent .publishHeader p
{
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

#publishContent .publishHeader .publishCodeWrapper
{
    background: url(/stylesheets/images/content/publish_code_background.png) repeat-y right;
    background-color: #124B82;
    color: #fff;
    float: right;
    margin-bottom: -1px;
}

#publishContent .publishHeader .publishCode
{
    background: url(/stylesheets/images/content/background_corner_right_invert.png) no-repeat right top;
    padding: 0.5em 1em;
}

#publishContent .publishHeader .publishCode p
{
    margin: 0.5em 0;
}

#publishContent .publishHeader .publishCode textarea
{
    font-size: 1em;
    height: 6.5em;
    overflow-x: hidden;
    width: 30em;
}

#publishContent .previewPane
{
    margin: 3em auto 0;
}

h3 .infoText
{
    color: #444;
    margin-left: 0.5em;
    text-transform: none;
}

#publishOptionsPane
{
    margin-right: 1em;
    min-width: 86.5em;
    padding-bottom: 7em;
}

#publishOptionsPane .panelHeader
{
    background-position: 0 -820px;
}

#publishOptionsPane .summaryTabs li
{
    width: 170px;
}

#publishOptionsPane .summaryTabs li .tabInner
{
    width: 171px;
}

#publishOptionsPane .active .infoContent
{
    display: block;
}

#publishOptionsPane .headerActions .cancelCustomizationLink
{
    background: url(/stylesheets/images/content/section_close_button.png) no-repeat;
    color: #333;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 2px;
    text-transform: uppercase;
}

#publishOptionsPane .singleInfoTab .infoContent
{
    border-top: 1px solid #fff;
    padding-top: 1em;
}

#publishOptionsPane .singleInfoTab p
{
    font-size: 1.2em;
}

#publishOptionsPane .infoContent
{
    position: relative;
}

#publishOptionsPane .infoContentLeft
{
    float: left;
    width: 50%;
}

#publishOptionsPane .infoContentRight
{
    float: right;
    width: 50%;
}

#publishOptionsPane .infoContentRightBg
{
    background: url(/stylesheets/images/info_pane/background_expanded_list.png) -10px 0 repeat-y;
    bottom: 0;
    left: 50%;
    position: absolute;
    top: 0;
    width: 20em;
}

#publishOptionsPane .actionButtons .noButton
{
    background: none;
    font-size: 1.3em;
    padding: 0.3em;
}

#publishOptionsPane .singleInfoVisual input[type="text"]
{
    width: 2em;
}

#publishOptionsPane .infoContent dd
{
    padding-top: 2px;
}

#publishOptionsPane .singleInfoVisual label
{
    display: inline-block;
    width: 8em;
}

#publishOptionsPane h3
{
    border-bottom: 1px solid #fff;
    font-size: 1em;
    font-weight: normal;
}

#publishOptionsPane .textContent p
{
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

#publishOptionsPane .textContent .subform
{
    margin: 0.5em;
    margin-left: 2.2em;
    width: 25em;
}

#publishOptionsPane .textContent .subform label
{
    display: block;
    height: 1.5em;
    margin: 1em 0 -1.8em;
    width: 3em;
}

#publishOptionsPane .textContent .subform input
{
    margin-left: 4em;
    width: 21em;
}

#publishOptionsPane .colorPickerTrigger
{
    background: url(/images/colorpicker/select_arrow.png) no-repeat bottom right;
    border: 2px solid #999;
    cursor: pointer;
    height: 18px;
    width: 25px;
}

#publishOptionsPane .colorPickerContainer
{
    display: none;
	margin-top: -176px;
    position: absolute;
}