/* 
    Document   : blist-grid-screen
    Created on : Feb 9, 2009, 11:00:00 AM
    Author     : jeff.scherpelz@blist.com
    Description:
      Styles for the blist-specific grid screen
*/

#overlay
{
    background-color: #000000;
    bottom: 0;
    display: none;
    filter: alpha(opacity=60);
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

#lensContainer
{
    margin-right: 1em;
}

/* Header bar & Button styles */

#lensContainer .headerBar
{
    line-height: 24px;
    margin-bottom: 1em;
    min-height: 0;
    overflow: hidden;
}

#lensContainer .headerBar > ul > li
{
    float: left;
    padding: 0 0.5em;
}

#lensContainer .headerBar > ul > li > a
{
    display: block;
    color: #333333;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}

#lensContainer .headerBar form.search
{
    float: right;
}

#lensContainer .headerBar form.search p
{
    background-image: url(images/content/table_menu/field_find.png);
}

#lensContainer .headerBar form.search input[type="text"]
{
    height: 15px;
    padding: 1px 0 0;
}

#lensContainer .headerBar form.search input.submit
{
    height: 18px;
}

#lensContainer .headerBar .separator
{
    border-left: 2px solid #e8e8e8;
}

#lensBody #addColumnsLink
{
    background-image: url(images/content/table_menu/menu_bar_sprites.png);
    background-position: 0 -40px;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    padding-left: 20px;
}

#lensBody #undoLink, #lensBody #redoLink
{
    background-image: url(images/content/table_menu/menu_bar_sprites.png);
    background-repeat: no-repeat;
    height: 20px;
    line-height: 100px;
    padding: 0;
    width: 20px;
}

#lensBody #undoLink
{
    background-position: 0 0;
}

#lensBody #redoLink
{
    background-position: 0 -20px;
}

#lensBody #filterLink span.linkIcon
{
    background-image: url(images/content/table_menu/menu_bar_sprites.png);
    background-position: 0 -62px;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    padding-left: 20px;
}

#lensBody .headerBar #filterViewMenu li a
{
    background-image: url(images/content/table_menu/menu_icon_sprites.png);
    background-repeat: no-repeat;
}

#lensBody .headerBar #filterViewMenu .filter
{
    background-position: 0 -713px;
}

#lensBody .headerBar #filterViewMenu .sort
{
    background-position: 0 -736px;
}

#lensBody .headerBar #filterViewMenu .showHide
{
    background-position: 0 -368px;
}

#lensBody .headerBar #displayMenu li a
{
    background-position: left center;
    background-repeat: no-repeat;
}

#lensBody .headerBar #displayMenu li a.selected
{
    background-image: url(images/content/table_menu/icon_view_selected.png);
}

#lensBody .headerBar #displayMenu .table
{
    background-image: url(images/content/table_menu/icon_view_grid.png);
}

#lensBody .headerBar #displayMenu .page
{
    background-image: url(images/content/table_menu/icon_view_page.png);
}

/* Add Columns menu */

#addColumnsMenu .innerWrapper
{
    padding: 1em;
}

#addColumnsMenu .column
{
    border-right: solid 1px #e0d1b8;
    float: left;
    height: 11em;
    width: 16.5%;
}

#addColumnsMenu .column.last
{
    border: none;
}

#addColumnsMenu li ul
{
    padding: 0 1em;
}

#addColumnsMenu li ul li
{
    padding: 0.25em 0;
}

#addColumnsMenu .column a
{
    background-image: url(images/common/datatypes/data_type_sprites.png);
    background-repeat: no-repeat;
    color: #333333;
    display: block;
    font-size: 1.2em;
    height: 20px;
    line-height: 20px;
    padding-left: 24px;
    text-decoration: none;
}

#addColumn_plainText
{
    background-position: 0 -82px;
}

#addColumn_formattedText
{
    background-position: 0 -62px;
}

#addColumn_number
{
    background-position: 0 -22px;
}

#addColumn_money
{
    background-position: 0 -42px;
}

#addColumn_percent
{
    background-position: 0 -2px;
}

#addColumn_dateTime
{
    background-position: 0 -342px;
}

#addColumn_phone
{
    background-position: 0 -242px;
}

#addColumn_email
{
    background-position: 0 -262px;
}

#addColumn_url
{
    background-position: 0 -362px;
}

#addColumn_checkbox
{
    background-position: 0 -122px;
}

#addColumn_stars
{
    background-position: 0 -142px;
}

#addColumn_flag
{
    background-position: 0 -382px;
}

#addColumn_document
{
    background-position: 0 -282px;
}

#addColumn_photo
{
    background-position: 0 -102px;
}

#addColumn_picklist
{
    background-position: 0 -402px;
}

#addColumn_bnb
{
    background-position: 0 -442px;
}


/* Main content */

#lensContainer .content
{
    padding-bottom: 1em;
}

#lensContainer #outerSwfWrapper
{
    /* Override position:relative for .scrollContent to allow this content
     * to expand beyond its borders */
    position: static;
}

#lensContainer #swfWrapper
{
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

/* Styling for message when missing JS or Flash */
#lensContainer #swfContent
{
    background-color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
}

/* Modify sidebar to lie below grid */

#lensBody #sidebar
{
    margin-top: 0.5em;
}

#lensBody #sidebar .box
{
    background-image: none;
}

#lensBody #sidebar .box .outerWrapper
{
    background-image: none;
}

