.aboutEditContent
{
    margin: 0 0 1em;
}

.aboutEditContent h1
{
    background: url(/stylesheets/images/common/new_blist.png) no-repeat;
    color: #000;
    height: 40px;
    padding-left: 50px;
}

.aboutEditContent h3
{
    border-bottom: 1px dotted #666;
    margin-bottom: 15px;
    margin-top: 10px;
}

.aboutEditContent hr
{
    border: none;
    border-bottom: 1px dotted #666;
    height: 0;
}

.aboutEditContent label
{
    display: block;
    font-size: 1.2em;
    height: 20px;
    margin: 10px;
    margin-bottom: -25px;
    text-align: right;
    width: 200px;
}

.aboutEditContent label.error, label.uploadErrorMessage
{
    color: red;
    font-size: 1em;
    padding: 0;
    margin: 2px 0 2px 230px;
    text-align: left;
    width: 350px;
}

.aboutEditContent label.uploadErrorMessage.hide
{
    display: none;
}

.aboutEditContent label.required
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    background-position: right top;
    padding-right: 15px;
}

.aboutEditContent input[type=text], input[type=file], textarea, select, #privacyDisplayText
{
    display: inline-block;
    margin-left: 230px;
    width: 330px;
}

.aboutEditContent .prompt
{
    color: #666;
    font-style: italic;
}

.aboutEditContent textarea
{
    border: 1px solid #CACACA;
    color: #333;
    font-size: 1.3em;
    height: 60px;
    padding: 2px;
}

.aboutEditContent select
{
    border: 1px solid #CACACA;
    color: #333;
    height: 20px;
    width: 336px;
}

.aboutEditContent #licensingCreativeCommons hr
{
    margin-left: 230px;
    text-align: left; /* IE is awesome. */
    width: 375px;
}
.aboutEditContent .submitPending
{
    background: url(/images/throbber.gif) no-repeat;
    background-color: #ffc;
    background-position: 6px center;
    border: 1px solid #aa7;
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px;
    padding: 7px;
    padding-left: 30px;
}

.aboutEditContent .validationError
{
    font-size: 1.4em;
}

.aboutEditContent span.helpie
{
    background: url(/stylesheets/images/info_pane/icon_help_highlight.png) no-repeat;
    display: block;
    height: 16px;
    left: 595px;
    margin-top: -17px;
    position: absolute;
    text-indent: -9999px;
    width: 16px;
  vertical-align: middle;
}

.aboutEditContent span.helpie.fileUploadHelpie
{
    left: 710px;
}

.aboutEditContent span.additionalHelp
{
    display: block;
    margin-left: 230px;
}

.aboutEditContent .actionButtons
{
    display: inline-block;
    margin-bottom: -0.65em;
}

.aboutEditContent .fileBrowseButtonListContainer
{
    display: inline-block;
}

.aboutEditContent .fileBrowseButtonListContainer
{
    display: inline;
}

.aboutEditContent #fileBrowseButtonList
{
    border-right: 1px solid transparent; /* IE8 is awesome */
}

.aboutEditContent #fileClearButton.hide
{
    display: none;
}

.aboutEditContent .submitActions
{
    margin: 15px;
    margin-left: 230px;
}

.aboutEditContent .submitActions .cancelButton
{
    color: #333;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
    text-transform: uppercase;
}

.aboutEditContent .licensing
{
    margin-top: -6px;
    padding: 5px 0 10px;
}

.aboutEditContent .requiredEntryText
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    padding-left: 15px;
    float: left;
}
