.blist-combo-wrapper
{
    cursor: default;
    position: relative;
}
.blist-combo-wrapper.active
{
    z-index: 100;
}
.blist-combo
{
    border: solid 1px #ccc;
    background-image: url(/stylesheets/images/content/select_arrow.png);
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 2em;
    overflow: hidden;
    position: relative;
}
.blist-combo-focused .blist-combo-value
{
    border: 1px dotted #ccc;
    padding: 3px 4px;
}
.blist-combo-value
{
    bottom: 0;
    font-size: 1.2em;
    left: 0;
    overflow: hidden;
    padding: 4px 5px;
    position: absolute;
    right: 20px;
    top: 0;
}

.blist-combo-dd {
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    z-index: 100;
}

.blist-combo-dd li
{
    font-size: 1.2em;
    padding: 4px 5px;
    white-space: nowrap;
}

.blist-combo-dd li.selected { background-color: #e3ecf7; }

/*** Left/Right Justified Combo List ***/

.blist-combo-wrapper.lr_justified .blist-combo-value,
.blist-combo-wrapper.lr_justified li
{
    clear: both;
    overflow: hidden;
}

.blist-combo-wrapper.lr_justified .value {
    display: block;
    float: left;
}
.blist-combo-wrapper.lr_justified .value_info {
    display: block;
    float: right;
}


/*** Format Combo Lists ***/
.blist-combo-wrapper.format_date_view { width: 38em; }
.blist-combo-wrapper.format_percent_view { width: 220px; }

.format_percent_view .value
{
    background-color: #6c6;
    text-align: right;
    width: 100px;
}
.format_percent_view .percent_text .value { background-color: transparent; }


/*** Icon Combo List ***/
.type_combo_list li, .type_combo_list .blist-combo-value
{
    background: url(/stylesheets/images/common/datatypes/data_type_sprites.png) no-repeat;
    padding-left: 23px;
}
.type_combo_list .photo { background-position: 0 -100px; }
.type_combo_list .money { background-position: 0 -40px; }
.type_combo_list .picklist, .type_combo_list .drop_down_list
{ background-position: 0 -400px; }
.type_combo_list .number { background-position: 0 -20px; }
.type_combo_list .richtext { background-position: 0 -60px; }
.type_combo_list .text { background-position: 0 -80px; }
.type_combo_list .date { background-position: 0 -340px; }
.type_combo_list .tag { background-position: 0 -180px; }
.type_combo_list .url { background-position: 0 -360px; }
.type_combo_list .document { background-position: 0 -280px; }
.type_combo_list .flag { background-position: 0 -380px; }
.type_combo_list .stars { background-position: 0 -140px; }
.type_combo_list .nested_table { background-position: 0 -440px; }
.type_combo_list .checkbox { background-position: 0 -120px; }
.type_combo_list .phone { background-position: 0 -240px; }
.type_combo_list .percent { background-position: 0 0; }
.type_combo_list .email { background-position: 0 -260px; }

