/* 
    Document   : common
    Created on : Jan 13, 2009, 3:04:23 PM
    Author     : jeff.scherpelz@blist.com
    Description:
      Common styles for classes and common elements that are used throughout the app
*/

.content
{
  background-color: #ffffff;
  margin-left: 1em;
  overflow: auto;
  padding: 1em;
  padding-bottom: 0;
}

.clearBoth
{
  clear: both;
}

/* Table styling for fixed headers from
 * http://home.tampabay.rr.com/bmerkey/examples/nonscroll-table-header.html */
.selectableListContainer
{
  /* height must be set greater than tbody/table for IE */
  margin: 0 auto;
  overflow: auto;
  width: 100%;    /* table width will be 99% of this */
}

table.selectableList
{
  width: 99%;     /* 100% of container produces horiz. scroll in Moz */
}

table.selectableList tbody
{
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

table.selectableList thead
{
  background-color: #e8e8e8;
}

table.selectableList td:last-child
{
  padding-right: 20px;    /* prevent Moz scrollbar from hiding cell content */
}

table.selectableList th
{
  border-right: solid 1px #d4d4d4;
  color: #333333;
  font-size: 1.3em;
  font-weight: normal;
  padding: 1em 0.5em;
  text-align: left;
}

table.selectableList th.last
{
  border: none;
}

table.selectableList td
{
  font-size: 1.2em;
  padding: 0.5em;
}

/* More specific than selected */
table.selectableList tr td.hover
{
  background-color: #ffedb2;
}

table.selectableList td.selected
{
  background-color: #cfbd92;
}

#infoPane
{
  margin-left: 1em;
  margin-top: 0.5em;
}

#infoPane .header
{
  background-color: #e0d1b8;
  border-bottom: solid 1px #8d8d8d;
  padding: 0.5em 0;
}

#infoPane .header .active
{
  background-color: #ffedcc;
  border-right: solid 2px #8d8d8d;
  color: #333333;
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  text-decoration: none;
}

#infoPane .infoContent
{
  background-color: #ffedcc;
  height: 100%;
  overflow: auto;
  padding: 1em;
}

