/* 
    Document   : common
    Created on : Jan 13, 2009, 3:04:23 PM
    Author     : jeff.scherpelz@blist.com, pete.stuart@blist.com
    Description:
        Common styles for classes and common elements that are used
        throughout the app
 */

/****************************
 * Generic, resuable styles *
 ****************************/

.clearBoth
{
    clear: both;
}
.clearfix:after 
{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/*** START: IE hack.
/    For IE to do the right thing with clearfix, you must first set the display
/    to inline-block, then back to block.
/    The * html hack is to trigger the hasLayout property in IE6.
***/
.clearfix 
{ 
  display: inline-block; 
}
.clearfix 
{ 
  display: block; 
}
* html .clearfix 
{ 
  height: 1%; 
}
/*** END: IE hack. ***/

.scrollContent
{
    overflow: auto;
    position: relative; /** Must add this style for IE7 to properly hide the overflowing content. **/
}

form input[type="text"]
{
    font-size: 1.2em;
    line-height: 1.2em;
}

form input.textPrompt.prompt
{
    color: #666666;
    font-style: italic;
}

/**************
 * Search box *
 **************/

form.search p
{
    background-image: url(/stylesheets/images/header/search_field.png);
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 30px;
}

form.search input
{
    float: left;
}

form.search input[type="text"]
{
    border: solid 1px #cacaca;
    border-left: none;
    border-right: none;
    height: 18px;
    padding: 3px 0 0;
    width: 100%;
}

form.search input.submit
{
    height: 23px;
    margin-right: -30px;
    width: 30px;
}

/********************
 * Main content box *
 ********************/

.mainContent .outerContent
{
    background-color: #ffffff;
    background-image: url(/stylesheets/images/content/background_corner_left.png);
    background-position: top left;
    background-repeat: no-repeat;
    margin-left: 1em;
    overflow: auto;
}

.mainContent .content
{
    background-image: url(/stylesheets/images/content/background_corner_right.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding: 1em;
    padding-bottom: 0;
}


/**********************
 * Tabs above content *
 **********************/

.tabList
{
    margin-left: 120px;
    overflow: hidden;
}

.tabList li
{
    background-image: url(/stylesheets/images/content/tabs/tab_gray2_left.png);
    background-position: top left;
    background-repeat: no-repeat;
    float: left;
    margin: 2px -7px 0;
    position: relative;
    z-index: 5;
}

.tabList li:first-child
{
    margin-left: 0;
}

.tabList li + li
{
    z-index: 4;
}

.tabList li + li + li
{
    z-index: 3;
}

.tabList li + li + li + li
{
    z-index: 2;
}

.tabList li + li + li + li + li
{
    z-index: 1;
}

.tabList li.even
{
    background-image: url(/stylesheets/images/content/tabs/tab_gray1_left.png);
}

.tabList li .wrapper
{
    background-image: url(/stylesheets/images/content/tabs/tab_gray2_right.png);
    background-position: top right;
    background-repeat: no-repeat;
    height: 19px;
    padding: 0 19px;
}

.tabList li.even .wrapper
{
    background-image: url(/stylesheets/images/content/tabs/tab_gray1_right.png);
}

.tabList a
{
  background-color: #bdbdbd;
  color: #333;
  display: block;
  font-size: 1.2em;
  height: 16px;
  line-height: 1.2em;
  padding: 3px 1em 0;
  text-decoration: none;
}

.tabList li.even a
{
    background-color: #cacaca;
}

/* Selected tab */
#home .tabList li.home,
#blists .tabList li.blists,
.tabList li.active
{
    background-image: url(/stylesheets/images/content/tabs/tab_white_left.png);
    margin-top: 0;
    z-index: 10;
}

#home .tabList li.home .wrapper,
#blists .tabList li.blists .wrapper,
.tabList li.active .wrapper
{
    background-image: url(/stylesheets/images/content/tabs/tab_white_right.png);
    height: 21px;
    padding: 0 21px;
}

#home .tabList li.home a,
#blists .tabList li.blists a,
.tabList li.active a
{
    background-color: #ffffff;
    font-weight: bold;
    height: 18px;
    padding-left: 2em;
    padding-right: 2em;
}

#home .tabList li.home a:hover,
#blists .tabList li.blists a:hover,
.tabList li.active a:hover
{
    cursor: default;
    text-decoration: none;
}


/*** START: item type icons ***/

/*
typeBlist
typeFilter

sharedOut
sharedIn
privateSchema
private
*/

.itemType 
{
    background-image: url(images/content/table/icon_type_sprites.png);
    background-position: center 0;
    background-repeat: no-repeat;
    height: 31px;
    overflow: hidden;
}

.itemType.typeBlist { background-position: center 0; }
.itemType.typeBlist.sharedOut { background-position: center -31px; }
.itemType.typeBlist.sharedIn { background-position: center -62px; }
.itemType.typeBlist.private { background-position: center -93px; }
.itemType.typeBlist.privateShared { background-position: center -279px; }
.itemType.typeFilter { background-position: center -124px; }
.itemType.typeFilter.sharedOut { background-position: center -155px; }
.itemType.typeFilter.sharedIn { background-position: center -186px; }
.itemType.typeFilter.private { background-position: center -217px; }
.itemType.typeFilter.privateShared { background-position: center -248px; }

/*** END: item type icons ***/

/*** START: Activity lists (home page) ***/

.activityListContainer
{
    margin-bottom: .5em;
}
.activityListContainer h2
{
    border-bottom: 1px solid #ccc;
    color: #e8a134;
    font-size: 1.2em;
    margin-bottom: .8em;
    text-transform: uppercase;
}

.activityListContainer li
{
    margin-bottom: 1.5em;
}
.activityListContainer li p
{
    color: #666;
    font-size: 1.8em;
    margin-bottom: 2px;
}
.activityListContainer li p.preview
{
    font-size: 1.4em;
    text-indent: 10px;
}
.activityListContainer p.listAction
{
    margin-top: .5em;
    text-align: right;
}
.activityListContainer p.listAction a 
{
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
}

.activityListContainer ul.favoriteList li
{
    background: url(/stylesheets/images/content/table/icon_star_fill.png) -15px -4px no-repeat;
    padding-left: 20px;
}
.activityListContainer ul.contactList li p.contact a
{
    display: inline-block;
    height: 24px;
    margin-right: 2px;
    vertical-align: middle;
}
.activityListContainer ul.contactList li p.preview
{
    text-indent: 42px;
}

/*** END: Activity lists (home page) ***/

