#mainLogo a
{
    background-image: url(/stylesheets/images/header/socrata_logo.gif);
}
#mainLogo.aboutLogo a { background-image: url(/stylesheets/images/header/socrata_logo_about.gif); }


#mainNav li.discover
{ background-image: url(/stylesheets/images/header/MainButton_gradLeft.gif); }
#mainNav li.home
{ background-image: url(/stylesheets/images/header/MainButton_gradRight.gif); }
body.discover #mainNav li.discover
{ background-image: url(/stylesheets/images/header/MainButton_gradLeft_active.gif); }
body.home #mainNav li.home
{ background-image: url(/stylesheets/images/header/MainButton_gradRight_active.gif); }


.tabList li,
.tabList li .wrapper
{
    background-image: url(/stylesheets/images/content/tabs/tab_small_sprites.gif);
}

form.search p
{
    background-image: url(/stylesheets/images/common/find_input_cap.gif);
}

form.search input.submit
{
    background: transparent url(/stylesheets/images/common/find_button.gif) no-repeat top left;
}

#home .tabList li.home,
#blists .tabList li.blists,
#contacts .tabList li.contacts,
#profile .tabList li.profile,
#overview .tabList li.overview,
#directories .tabList li.directories,
#solution .tabList li.solution,
#contact .tabList li.contact,
.tabList li.active,
#home .tabList li.home .wrapper,
#blists .tabList li.blists .wrapper,
#contacts .tabList li.contacts .wrapper,
#profile .tabList li.profile .wrapper,
#overview .tabList li.overview .wrapper,
#directories .tabList li.directories .wrapper,
#solution .tabList li.solution .wrapper,
#contact .tabList li.contact .wrapper,
.tabList li.active .wrapper
{
    background-image: url(/stylesheets/images/content/tabs/tab_large_sprites.gif);
}

.breadcrumbItem { background-image: url(/stylesheets/images/common/breadcrumb_arrow.gif); }


/*** START: meta data tab styles ***/
.metadataPane .summaryTabs li { margin-bottom: -1px; }
.singleInfoSummary .headerActions.actionButtons li { width: 80px; }
.singleInfoSummary .headerActions.actionButtons li a { width: 60px; }
/*** END: meta data tab styles ***/


.blist-table-header .hover .dragHandle
{ background-image: url(/stylesheets/images/content/table/column_drag_handle.gif); }

.blist-table .blist-th .th-inner-container
{
    padding-right: 0;
    width: 100%;
}
