#mainLogo a
{
    background-image: url(/stylesheets/images/header/socrata_logo.gif);
}
#mainLogo.aboutLogo a { background-image: url(/stylesheets/images/header/socrata_logo_about.gif); }


#mainNav li.discover
{ background-image: url(/stylesheets/images/header/MainButton_gradLeft.gif); }
#mainNav li.home
{ background-image: url(/stylesheets/images/header/MainButton_gradRight.gif); }
body.discover #mainNav li.discover
{ background-image: url(/stylesheets/images/header/MainButton_gradLeft_active.gif); }
body.home #mainNav li.home
{ background-image: url(/stylesheets/images/header/MainButton_gradRight_active.gif); }


.tabList li,
.tabList li .wrapper
{
    background-image: url(/stylesheets/images/content/tabs/tab_small_sprites.gif);
}

form.search p
{
    background-image: url(/stylesheets/images/common/find_input_cap.gif);
}

form.search input.submit
{
    background: transparent url(/stylesheets/images/common/find_button.gif) no-repeat top left;
}

#home .tabList li.home,
#blists .tabList li.blists,
#contacts .tabList li.contacts,
#profile .tabList li.profile,
#overview .tabList li.overview,
#directories .tabList li.directories,
#solution .tabList li.solution,
#contact .tabList li.contact,
.tabList li.active,
#home .tabList li.home .wrapper,
#blists .tabList li.blists .wrapper,
#contacts .tabList li.contacts .wrapper,
#profile .tabList li.profile .wrapper,
#overview .tabList li.overview .wrapper,
#directories .tabList li.directories .wrapper,
#solution .tabList li.solution .wrapper,
#contact .tabList li.contact .wrapper,
.tabList li.active .wrapper
{
    background-image: url(/stylesheets/images/content/tabs/tab_large_sprites.gif);
}

.blist-th .sort,
.blist-th .filter
{
    background-image: url(/stylesheets/images/content/table/sort_arrow_sprites.gif);
}

.breadcrumbItem { background-image: url(/stylesheets/images/common/breadcrumb_arrow.gif); }

/*** START: meta data tab styles ***/
.metadataPane .summaryTabs li { margin-bottom: -1px; }
.metadataPane .summaryTabs li.prev a
{
    background-image: url(/stylesheets/images/info_pane/meta_tab_scroller_left.gif);
}
.metadataPane .summaryTabs li.next a
{
    background-image: url(/stylesheets/images/info_pane/meta_tab_scroller_right.gif);
}

.singleInfoSummary .actionButtons li { width: 80px; }
.singleInfoSummary .actionButtons li a { width: 60px; }
.singleInfoComments .actionButtons li { width: 100px; }
.singleInfoComments .actionButtons li a { padding-right: 0; width: 90px; }
.singleInfoPublishing .actionButtons li { width: 120px; }
.singleInfoActivity .actionButtons li { width: 120px; }

.singleInfoComments li.comment .commentBlock .commentArrow { left: -16px; }

/*** END: meta data tab styles ***/


.blist-table-header .hover .dragHandle
{ background-image: url(/stylesheets/images/content/table/column_drag_handle.gif); }

.blist-table .blist-th .th-inner-container
{
    padding-right: 0;
    width: 100%;
}

.blist-table .blist-th .info-container,
div.sorted .th-inner-container .info-container,
div.filtered .th-inner-container .info-container
{
    position: relative;
    left: auto;
    right: auto;
    top: -50%;
}

/* Styling this in IE6 with everything else is too hard to get right */
.blist-th .blist-opener { display: none; }

/* IE6 doesn't like overflow: visible; so switch to overflow: hidden, then
 * pull the content out of normal layout so we display as much as possible
 * without making the container too large */
div.blist-table-locked-footer .blist-table-row-numbers { overflow: hidden }
.blist-table-row-numbers .blist-tf-value { position: absolute; }

.blist-th .menuLink,
.blist-table-locked-header .blist-table-row-handle .blist-th-icon,
.blist-tr .blist-table-row-handle .menuLink
{
    background-image: url(/stylesheets/images/content/table/column_menu_arrow_sprite.gif);
}



.itemType { background-image: url(/stylesheets/images/content/table/icon_type_sprites_on_white.gif); }
.infoContentOuter .itemType 
{
    background-image: url(/stylesheets/images/content/table/icon_type_sprites_on_gray.gif);
}

div.blist-type-default,
div.blist-type-filter,
div.blist-type-defaultSharedTo,
div.blist-type-defaultSharedBy,
div.blist-type-filterSharedTo,
div.blist-type-filterSharedBy
{
    background-image: url(/stylesheets/images/content/table/icon_type_sprites_on_white.gif);
}
