/* IE7 version of marketing.css*/
#marqueeContainer .marqueeContent div
{
	position: relative;
	top: 50px;
}
.featurettesContainer .featuredItem a
{
	display: block;
	width: 300px;
}
.featuredItem a span, .featuredItem a p
{
	position: relative;
	top:15px;	
}