.blist-table-locked-scrolls { background-color: #ffffff; }

.blist-table-header,
.blist-th,
.blist-th .dragHandle
{ height: 3.5em; }

.sorted div.info-container,
.filtered div.info-container
{
    margin-top: 0;
    top: 15px;
}

.blist-th
{
    border-left: solid 1px #e2e2e2;
    overflow: hidden;
    padding: 0 0.4em;
}

div.blist-th-first
{
    border-left: none;
    padding-left: 0.5em;
}

.blist-table-header .hover,
.blist-table-header .blist-select-col
{ background-color: #ddeaf0; }

.blist-th .info-container
{
    font-size: 1.2em;
    height: 1.6667em; /* 20px or so */
    left: 12px;
    line-height: 1;
    margin-top: -0.8333em;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 50%;
}
.blist-th.narrow .info-container { left: 10px; }
.blist-th.narrower .info-container { left: 1px; }

.blist-th .name-wrapper
{
    display: table-cell;
    height: 1.6667em;
    vertical-align: middle;
}
.blist-th .icon-display .name-wrapper { padding-left: 25px; }
.blist-th.narrow .icon-display .name-wrapper { padding-left: 0; }

.blist-th .blist-th-name
{
    font-size: 1.0833em;  /* 1.0833 * 1.2 = 1.3 */
    font-weight: bold;
}
.blist-th.narrower .blist-th-name { font-weight: normal; }

.blist-th-icon
{
    background-image: url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-position: 0 20px;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 20px;
}

.blist-th .blist-th-icon
{
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}
.blist-th.narrow .blist-th-icon { display: none; }

.blist-th .dragHandle
{
    cursor: move;
    left: 0;
    position: absolute;
    width: 10px;
    z-index: 10;
}
.blist-th.hover .dragHandle
{
    background-image: url(/stylesheets/images/content/table/column_drag_handle.png);
    background-position: top left;
    background-repeat: repeat-y;
}
.blist-th-drag
{
    background-color: #ddeaf0;
    height: 100%;
    top: 0;
    z-index: 100;
}

.blist-th .sort,
.blist-th .filter
{
    background-image: url(/stylesheets/images/content/table/sort_arrow_sprites.png?1);
    background-position: 0 0;
    height: 12px;
    top: 2px;
    width: 12px;
}
.blist-th .sort { left: 50%; }
.blist-th .filter { right: 50%; }

.blist-th .sort-asc { background-position: 0 -24px; }
.blist-th.hover .sort-asc { background-position: 0 -12px; }
.blist-th.hover .sort-desc { background-position: 0 -36px; }

.blist-th .filter { background-position: 0 -48px; }
.blist-th .filter.active { display: block; }

.blist-tdh { position: relative; }

.blist-th .menuLink,
.blist-tdh .menuLink
{
    background-image: url(/stylesheets/images/content/table/column_menu_arrow_sprite.png?2);
    background-position: 0 -14px;
    background-repeat: no-repeat;
    display: none;
    height: 14px;
    margin-top: -7px;
    position: absolute;
    right: 1px;
    top: 50%;
    width: 14px;
}

.blist-th.hover .menuLink,
.blist-hot-row .blist-tdh .menuLink,
.blist-th .menuLink.clicked,
.blist-tdh .menuLink.clicked
{ display: block; }

.blist-table-locked-header .blist-th { background-color: #e8e8e8; }

.blist-table-locked-header .blist-th
{
    border: none;
    padding: 0 4px;
}

.blist-th .blist-opener
{
    border-right: 1px solid #e2e2e2;
    float: left;
    height: 100%;
    margin-left: -4px;
    padding: 0 4px;
}

div.blist-table-ghost div.blist-column-adder
{
    margin-top: 1em;
    float: right;
    cursor: pointer;
    background-image: url('/stylesheets/images/content/table/add_column_icons.gif');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-color: #e8e8e8;
    width: 15px;
    height: 15px;
}
div.blist-table-ghost div.blist-column-adder:hover
{
    background-position: center -15px;
}

div.blist-tr-open div.blist-column-adder,
div.blist-tr.blist-hot-row div.blist-column-adder
{
    background-color: #e8e8e8;
    cursor: pointer;
}

div.blist-column-adder,
div.blist-tr-sub.blist-hot-row div.blist-column-adder
{
    background: none;
    width: 15px;
    cursor: auto;
}

div.blist-tr-sub.blist-hot-row div.blist-column-adder.blist-tdfill
{
    background-color: #f8f8f8;
}
div.blist-tr .blist-column-adder-icon
{
    background: none;
    width: 15px;
    height: 15px;
}

div.blist-tr-open .blist-column-adder-icon,
div.blist-tr.blist-hot-row .blist-column-adder-icon
{
    background-image: url('/stylesheets/images/content/table/add_column_icons.gif');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-color: #e8e8e8;
    width: 15px;
    height: 15px;
}

div.blist-tr.blist-hot-row div.blist-column-adder:hover .blist-column-adder-icon
{
    background-position: center -15px;
}

.dropIndicator
{
    background-color: #333333;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 4px;
    z-index: 99;
}

.col-select-holder
{
    border-left: solid 1px #ddeaf0;
    background-color: #ddeaf0;
    height: 100%;
    padding: 0 0.4em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.blist-table-footer-scrolls,
.blist-table-locked-footer
{
    background-color: #ffffff;
    border-top: solid 1px #d0d0d0;
    height: 2.6em;
}

.blist-table-footer
{
    background-color: #ececec;
    bottom: 0.2em;
    height: 2em;
}

.blist-tf
{
    border-color: #ffffff;
    border-style: solid;
    border-width: 0 1px;
    font-size: 1.2em;
    height: 1.6667em; /* 20px */
    overflow: hidden;
    padding: 0 0.25em 0 0.3333em; /* 3px right, 4px left */
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blist-table-footer-scrolls .blist-tf-value
{
    bottom: 0.25em; /* 3px */
    position: absolute;
    right: 0.4167em; /* 5px */
}

.blist-tf.blist-tf-first
{
    border-left-width: 0;
    padding-left: 0.4167em; /* 5px */
}

.blist-table-locked-footer .blist-tf
{
    background-color: #ececec;
    border: none;
    float: left;
    font-size: 1em;
    font-weight: bold;
    height: 1.5em; /* 15px */
    margin-top: 0.4em;
    overflow: visible;
    padding: 0.5em 0.4em 0; /* 5px top, 4px l/r */
}
.blist-table-locked-footer .blist-tf.blist-table-row-numbers { z-index: 1; }


.blist-table .blist-tr .blist-table-row-numbers
{
    border-left-width: 0;
    color: #a9cef2;
    font-size: 1.1em;
    height: 1.4545em; /* 16px */
    line-height: 1.4545em;
    padding: 0.3636em; /* 4px */
    text-align: right;
}
.blist-tr .blist-table-row-handle { border-left-width: 0; }
.blist-table-inside .blist-tr .blist-table-row-handle { border-left-width: 1px; }
.blist-tr .blist-table-row-handle .menuLink
{
    background-image: url(/stylesheets/images/content/table/column_menu_arrow_sprite.png?2);
    background-position: 0 -14px;
    background-repeat: no-repeat;
    display: none;
    height: 14px;
    width: 14px;
}

.blist-tr.blist-hot-row .blist-table-row-handle .menuLink,
.blist-tr .blist-table-row-handle .menuLink.clicked
{ display: block; }

.blist-table-locked .blist-hot-row.blist-tr-sub .blist-table-row-handle .menuLink
{ display: none; }

.blist-td
{
    border-bottom: solid 1px #d0d0d0;
    border-left: solid 1px #e2e2e2;
}

div.blist-table-expander,
div.blist-table-edit-container.mode-expand
{
    background-color: #ffffff;
    border-top: solid 1px #d0d0d0;
    border-bottom: solid 1px #d0d0d0;
    border-left: solid 1px #e2e2e2;
    border-right: solid 1px #e2e2e2;
}

.blist-td.invalid,
.invalid .blist-table-editor input
{
    color: #ff3333;
    font-style: italic;
}

div.blist-tdh { color: #999999; }

.blist-tdh .blist-th-icon
{
    display: none;
    float: left;
    margin-top: -2px;
}
div.blist-tdh.blist-table-row-handle .blist-th-icon
{
    display: none;
    margin-top: 1px;
}

.blist-tdh .blist-th-name { margin-left: 4px; }

.blist-tr-open .blist-tdh
{
    background-color: #e8e8e8;
    color: #333333;
    cursor: inherit;
}

.blist-tr-open .blist-tdh .blist-th-icon,
.blist-tr-open div.blist-tdh.blist-table-row-handle .blist-th-icon
{ display: block; }

.blist-tr-open .blist-td { border-bottom-color: #f8f8f8; }

.blist-tr .blist-td-colfill,
.blist-tr .initial-tdfill
{
    border-left-width: 0;
    padding-left: 5px;
}

.blist-table .blist-td.saving { background-color: #ffffcc; }
.blist-table .blist-td.error { background-color: #ffb6c1; }

div.blist-table-active-container,
div.blist-table-edit-container.mode-select
{
    background-color: #ffffff;
    border: solid 2px #91abcc;
    overflow: hidden;
}

.blist-table .blist-td.blist-tdfill,
.blist-table-locked .blist-tr-sub .blist-td
{
    background-color: #f8f8f8;
    border-bottom-color: #f8f8f8;
    text-align: left;
    text-indent: -9999px;
}

.blist-table-inside .blist-tr .blist-tdfill.blist-table-row-handle,
.blist-table-inside .blist-tr .blist-tdfill.blist-column-adder-space
{ border-left-color: #f8f8f8; }

.blist-table .last .blist-td.blist-tdfill,
.blist-table-locked .blist-tr-sub.last .blist-td
{
    border-bottom-color: #dddddd;
}

div.blist-table .blist-tr-open .blist-td.blist-tdh.blist-cell-selected,
.blist-table div.blist-cell-selected,
.blist-table .blist-select-row .blist-td.blist-table-row-handle,
.blist-table .blist-select-row .blist-td.blist-table-ghost
{ background-color: #ddeaf0; }

div.blist-table-active-container .blist-td
{
    border-bottom: none;

    /* Compensate for extra border on container */
    padding: 3px;
}

div.blist-table-active-container .blist-td.blist-first
{
    border-left: none;
    padding-left: 3px;
}

div.blist-table-active-container .blist-td.blist-last
{ padding-right: 3px; }
div.blist-table-active-container .blist-td.blist-opener
{ background-position: -2px 0; }

div.blist-table-edit-container
{
    background-color: #ffffff;
    border: solid 2px #06386a;
    overflow: hidden;
}

div.blist-table-edit-container
{
    /* Layout is same as normal blist-td but with extra border so 1px less padding */
    padding: 3px 2px;
}

div.blist-table-edit-container.combo-container {
    overflow: visible;
}

div.blist-table-editor
{
    padding: 0;
}

.blist-table-edit-container div.blist-table-editor.type-date { margin: -5px 0; }
.blist-table-edit-container div.blist-table-editor.type-date input
{ padding: 5px 0; }

div.blist-table-edit-container.combo-container .blist-combo
{
    min-height: 1.667em;
}

body.blist-richtext-document
{
    font-size: 10px;
    padding: 2px 3px 3px 3px;
}
div.blist-richtext { font-size: 0.8333em; }
div.blist-richtext p,
body.blist-richtext-document p,
div.blist-richtext ul,
body.blist-richtext-document ul,
div.blist-richtext ol,
body.blist-richtext-document ol
{
    line-height: 1.4em;
    margin: 0.3em 0;
}
div.blist-richtext p,
body.blist-richtext-document p
{ font-size: 1em; }

div.blist-richtext ul,
body.blist-richtext-document ul
{
    list-style-position: inside;
    list-style-type: disc;
}

div.blist-richtext ol,
body.blist-richtext-document ol
{
    list-style-position: inside;
    list-style-type: decimal;
}

div.blist-richtext a,
body.blist-richtext-document a
{ color: inherit; }

div.blist-richtext span,
body.blist-richtext-document span,
div.blist-richtext p,
body.blist-richtext-document p,
div.blist-richtext li,
body.blist-richtext-document li,
div.blist-richtext a,
body.blist-richtext-document a,
div.blist-richtext strong,
body.blist-richtext-document strong,
div.blist-richtext b,
body.blist-richtext-document b,
div.blist-richtext em,
body.blist-richtext-document em,
div.blist-richtext i,
body.blist-richtext-document i,
div.blist-richtext u,
body.blist-richtext-document u,
div.blist-richtext strike,
body.blist-richtext-document strike
{ font-family: inherit; }

div.blist-table-editor.type-richtext
{
    /* Eliminate 4px on the right for richtext controls so the iframe expands fully */
    padding: 0;
}

div.blist-table-edit-container.full-size { padding: 0; }

div.blist-table-edit-container input[type="text"],
div.blist-table-edit-container input.textInput
{
    border: none;
    font-size: 1em;
    width: 4.167em;
    padding: 0;
    /*background-image: url(/stylesheets/images/content/table/bg_text.gif);*/
    background-repeat: repeat-x;
}

div.blist-table-edit-container .labels
{
    border-bottom: 1px solid #06386a;
    color: #999999;
    font-size: 0.9167em; /* 1.1em */
    height: 1.2727em; /* 14px */
}

div.blist-table-edit-container .labels span
{
    padding-left: 0.5em;
    position: absolute;
}

div.blist-table-edit-container .blist-table-editor.type-url input[type="text"]
{
    height: auto;
    padding: 3px;
    top: 1.25em; /* 15px */
    width: 47%;
}
div.blist-table-edit-container .blist-table-editor.type-url input[type="text"].description
{
    border-left: 1px solid #06386a;
    color: #333333;
    font-style: normal;
}

div.blist-table-edit-container .blist-table-editor.type-url .description
{ left: 50%; }

.blist-table-editor.type-phone
{
    overflow: visible;
    padding-right: 0;
}
.blist-table .blist-table-edit-container input[type="text"].number
{
    float: left;
    height: auto;
    width: 50%;
}
.blist-table .blist-table-edit-container .type-phone .blist-combo-wrapper
{
    float: right;
    width: 44%;
    border-left: 2px solid #06386A;
    padding-top: 1px;
    padding-bottom: 1px;
}

.blist-table-editor.type-phone input.number
{
    padding: 4px;
}

.blist-table .blist-table-editor-container .blist-td
{
    -moz-user-select: text;
}

div.blist-percent,
div.blist-percent .blist-percent-bar-pos
{
    height: 100%;
}

img.blist-table-option-icon
{
    margin-bottom: -4px;
    padding-right: 0.4em;
}

.blist-table-edit-container .type-document a.docLink
{
    line-height: 1.66667em;
    margin-left: 0.5em;
}

.blist-table-edit-container .buttons
{
    background-color: white;
    padding: 0 2px 2px 0;
    position: absolute;
}

.blist-table-edit-container .type-document a.button,
.blist-table-edit-container .type-photo a.button
{
    background-image: url(/stylesheets/images/content/table/blob_editor_sprites.png);
    background-position: 0 16px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin-left: 0.25em;
    margin-top: 2px;
    text-indent: -9999px;
    width: 16px;
}
.blist-table-edit-container .type-document a.button.add
{ background-position: -2px 0; }
.blist-table-edit-container .type-document a.button.replace,
.blist-table-edit-container .type-photo a.button.replace
{ background-position: -2px -48px; }
.blist-table-edit-container .type-document a.button.remove,
.blist-table-edit-container .type-photo a.button.remove
{ background-position: -2px -64px; }
.blist-table-edit-container .type-photo a.button.add
{ background-position: -2px -16px; }
.blist-table-edit-container .type-photo a.button.view
{
    background-position: 0 -32px;
    width: 20px;
}

.blist-table-expander .blist-td-photo img,
.blist-table-active-container .blist-td-photo img,
.blist-table-edit-container .type-photo img
{
    vertical-align: middle;
}

.columnHeaderMenu { width: 17em; }

ul.menu.columnHeaderMenu li,
ul.menu.rowMenu li
{
    padding: 2px 0 0;
}

.columnHeaderMenu .sortAsc a,
.columnHeaderMenu .sortDesc a
{
    background-image: url(/stylesheets/images/content/table/sort_arrow_sprites.png?1);
    background-position: 7px -20px;
    background-repeat: no-repeat;
}

.columnHeaderMenu .sortDesc a { background-position: 7px 4px; }

.columnHeaderMenu .sortClear a,
.columnHeaderMenu .autofilter a,
.columnHeaderMenu .properties a,
.columnHeaderMenu .hide a,
.columnHeaderMenu .delete a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png?3);
    background-repeat: no-repeat;
}

.columnHeaderMenu .sortClear a { background-position: 5px -324px; }
.columnHeaderMenu .autofilter a { background-position: 5px -531px; }
.columnHeaderMenu .properties a { background-position: 5px -347px; }
.columnHeaderMenu .hide a { background-position: 5px -1106px; }
.columnHeaderMenu .delete a { background-position: 5px -324px; }

.columnHeaderMenu .autofilter ul.menu
{
    width: 15em;
}

.columnHeaderMenu .autofilter li.clearFilter,
.columnHeaderMenu .autofilter li.clearFilter a
{
    margin-left: 0;
}

.columnHeaderMenu .autofilter li.clearFilter
{
    border-bottom: solid 1px #cacaca;
}

.columnHeaderMenu .autofilter li.clearFilter a
{
    background-position: 5px -324px;
}

.columnHeaderMenu .autofilter li.filterItem a
{
    background-position: 5px 30px; /*-899px;*/
}

.columnHeaderMenu .autofilter li.filterItem.active a
{
    background-position: 5px 30px; /*-508px;*/
}

.columnHeaderMenu .blist-checkbox,
.columnHeaderMenu .blist-picklist-wrapper,
.columnHeaderMenu .blist-flag,
.columnHeaderMenu .blist-tstars-wrapper
{
    float: left;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.columnHeaderMenu .blist-checkbox { width: 14px; }
.columnHeaderMenu .blist-flag { width: 25px; }

.columnHeaderMenu .blist-tstars-wrapper,
.columnHeaderMenu .blist-tstars-render-wrapper,
.columnHeaderMenu .blist-tstars
{
    display: block;
    height: 16px;
}
.columnHeaderMenu .blist-tstars-render-wrapper { padding: 0; }
.columnHeaderMenu .blist-star-0 { display: none; }

/* This is only used for initial positioning; the menu is pulled out, so real
 * styling needs to go directly on the menu */
.blist-th .columnHeaderMenu
{
    font-size: 0.8333em;
}


/* Row Menu styling */
.rowMenu { width: 10em; }
.rowMenu li a
{
    background-image: url(/stylesheets/images/content/table/blists_item_menu_sprites.png);
    background-position: 5px 17px;
    background-repeat: no-repeat;
}

.rowMenu li.delete a { background-position: 5px -57px; }

.blist-table .blist-hot-row .blist-td.blist-table-row-numbers,
.blist-table .blist-select-row .blist-td.blist-table-row-numbers
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png);
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
}

.blist-table .blist-hot-row .blist-td.blist-table-row-numbers
{ background-position: right -897px; }
.blist-table .blist-hot-row.blist-tr-sub .blist-td.blist-table-row-numbers
{ background-image: none; }
.blist-table .blist-select-row .blist-td.blist-table-row-numbers
{ background-position: right -506px; }

.blist-table .blist-hot-row.blist-tr-blank .blist-td.blist-table-row-numbers,
.blist-table .blist-select-row.blist-tr-blank .blist-td.blist-table-row-numbers
{
    background-image: none;
    text-align: right;
    text-indent: 0;
}

.blist-table-edit-container.mode-edit .blist-table-editor.type-stars,
.blist-table-edit-container.mode-select .blist-table-editor.type-stars
{
    padding: 0 1px;
}
