.headerMenu li a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png?7);
    background-position: 5px 23px; /* default to show no icon */
    background-repeat: no-repeat;
}

/* Basic menu */
.headerMenu .print a { background-position: 5px -2px; }
.headerMenu .create a { background-position: 5px -94px; }
.headerMenu .import a { background-position: 5px -25px; }
.headerMenu .recent a { background-position: 5px -163px; }
.headerMenu .recent .blist a { background-position: 5px -94px; }
.headerMenu .recent .filter a { background-position: 5px -531px; }
.headerMenu .recent .calendar a { background-position: 5px -761px; }
.headerMenu .recent .visualization a { background-position: 5px -784px; }
.headerMenu .recent .grouped a { background-position: 5px -1267px; }
.headerMenu .recent .form a { background-position: 5px -1313px; }
.headerMenu .recent .blob a { background-position: 5px -1290px; }
.headerMenu .flag a { background-position: 5px -1129px; }

/* Filter, Visualize, Views menu */
.headerMenu li.button a { background-image: none; }
.headerMenu .rowTags a { background-position: 5px -439px; }
.headerMenu .columnTotals a
{ background-position: 5px -485px; }
.headerMenu .columnTotals .columnsMenu li.scrollable a
{ background-image: url(/stylesheets/images/common/datatypes/data_type_sprites.png); }
.headerMenu .columnTotals .columnsMenu .optionMenu li a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png?7);
    background-position: 5px -922px;
}
.headerMenu .columnTotals .columnsMenu .optionMenu li.checked a
{ background-position: 5px -945px; }
.headerMenu .filter  a { background-position: 5px -529px; }
.headerMenu .sort a { background-position: 5px -1242px; }
.headerMenu .showHide a { background-position: 5px -370px; }
.headerMenu .showHide .advancedShowHide a
{ background-position: 5px 23px; }
.headerMenu .showHide .columnsMenu { width: 20em; }
.headerMenu .showHide .columnsMenu li.scrollable a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png?7);
    background-position: 5px -899px;
}
.headerMenu .grouping a { background-position: 5px -1267px; }
.headerMenu .showHide .columnsMenu li.checked a
{ background-position: 5px -508px; }
.headerMenu .calendar a { background-position: 5px -761px; }
.headerMenu .visualization a { background-position: 5px -784px; }
.headerMenu .form a { background-position: 5px -1313px; }
.headerMenu .map a { background-position: 5px -577px; }
.headerMenu .moreViews a { background-position: 5px -531px; }
.headerMenu .moreViews .filter a { background-position: 5px -531px; }
.headerMenu .moreViews .calendar a { background-position: 5px -761px; }
.headerMenu .moreViews .grouping a { background-position: 5px -1267px; }
.headerMenu .moreViews .visualization a
{ background-position: 5px -784px; }
.headerMenu .moreViews .form a { background-position: 5px -1313px; }
.headerMenu .moreViews .map a { background-position: 5px -577px; }

/* Publish, Share, Socialize menu */
.headerMenu .publish a { background-position: 5px -577px; }
.headerMenu .email a { background-position: 5px -48px; }
.headerMenu .share a { background-position: 5px -600px; }
.headerMenu .socialize a { background-position: 5px -969px; }
.headerMenu .socialize li a,
.menu.socializeMenu a { background-position: 5px 0; }
.menu.socializeMenu .delicious a
{ background-image: url(/images/icons/social_icon_delicious_small.png); }
.menu.socializeMenu .digg a
{ background-image: url(/images/icons/social_icon_digg_small.png); }
.menu.socializeMenu .twitter a
{ background-image: url(/images/icons/social_icon_twitter_small.png); }
.menu.socializeMenu .facebook a
{ background-image: url(/images/icons/social_icon_facebook_small.png); }


/* Download, API, RSS menu */
.headerMenu .export a { background-position: 5px -117px; }
.headerMenu .export li a { background-position: 5px 23px; }
.headerMenu .api a { background-position: 5px -1083px; }
.headerMenu .subscribe a { background-position: 5px -1060px; }
.headerMenu .subscribe li a { background-position: 5px 23px; }

/* Modify menu */
.headerMenu .editPermissions a { background-position: 5px -186px; }
.headerMenu .editPermissions ul.menu { min-width: 23em; }
.headerMenu .radioOption a { background-position: 5px -923px; }
.headerMenu .radioOption a:hover { background-position: 5px -946px; }
.headerMenu .radioOptionSelected a { background-position: 5px -946px; }
.headerMenu .insertColumn a { background-position: 5px -370px; }
.headerMenu .columnOptions a { background-position: 5px -347px; }
.headerMenu .columnDelete a { background-position: 5px -324px; }
.headerMenu .uploadRows a { background-position: 5px -25px; }
.headerMenu .uploadRows .append a { background-position: 5px -1175px; }
.headerMenu .uploadRows .replace a { background-position: 5px -1198px; }
.headerMenu .cut a { background-position: 5px -255px; }
.headerMenu .copy a { background-position: 5px -278px; }
.headerMenu .paste a { background-position: 5px -301px; }
.headerMenu .undo a { background-position: 5px -209px; }
.headerMenu .redo a { background-position: 5px -232px; }

/* Info menu */
.headerMenu .about a { background-position: 5px -1035px; }
.headerMenu .statistics a { background-position: 5px -1012px; }
.headerMenu .tabJump a { background-position: 5px -163px; }
.headerMenu .comments a { background-position: 5px -554px; }
.headerMenu .views a { background-position: 5px -531px; }
.headerMenu .publishing a { background-position: 5px -577px; }
.headerMenu .shares a { background-position: 5px -600px; }
.headerMenu .activity a { background-position: 5px -623px; }
.headerMenu .summary a { background-position: 5px -94px; }
.headerMenu li.activePane a { background-position: 5px -508px; }

/* SDP menu */
.headerMenu .fullscreen a { background-position: 5px -992px; }
.headerMenu .aboutSDP a { background-position: 5px -577px; }
