.blist-th .sort,
.blist-th .filter
{
    background-color: #e8e8e8;
    background-image: url(/stylesheets/images/content/table/sort_arrow_sprites.png);
    background-position: 0 0;
    height: 12px;
    margin-top: -6px;
    right: 0;
    top: 50%;
    width: 12px;
}
.blist-th .sort { cursor: pointer; }
.blist-th .sort-asc { background-position: 0 -24px; }
.blist-th.hover .sort { display: none; }
.blist-th.hover .sort-asc { background-position: 0 -12px; }
.blist-th.hover .sort-desc { background-position: 0 -36px; }

.blist-th .filter { background-position: 0 -48px; }
.blist-th .filter.active { display: block; }
.blist-th.sorted .filter { right: 12px; }
.blist-th.hover .filter.active { display: none; }

.blist-th .menuLink
{
    background-image: url(/stylesheets/images/content/table/column_menu_arrow_sprite.png?1);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: none;
    height: 14px;
    margin-top: -7px;
    position: absolute;
    right: 2px;
    top: 50%;
    width: 14px;
}

.blist-th.hover .menuLink,
.blist-th .menuLink.clicked
{
    display: block;
}

.blist-th .menuLink.clicked
{
    background-position: 0 -14px;
}

div.blist-table-active-container
{
    background-color: #ffffff;
    border: solid 2px #91abcc;
    overflow: hidden;
}

div.blist-table-active-container .blist-td
{
    border-bottom: none;
    padding-bottom: 0.25em; /* 3px */
    padding-top: 0.1667em; /* 2px */
}

div.blist-table-active-container .blist-td.blist-first
{
    border-left: none;
    padding-left: 0.25em; /* 3px */
}

div.blist-table-active-container .blist-td.blist-last
{ padding-right: 0.1667em; /* 2px */ }
div.blist-table-active-container .blist-td.blist-td.blist-opener
{ background-position: 2px center; }

div.blist-table-edit-container
{
    background-color: #ffffff;
    border: solid 2px #ff3333;
    overflow: hidden;
}

.blist-table-editor.blist-td
{
    border: none;
    padding: 0;
}

div.blist-table-edit-container input[type="text"],
div.blist-table-edit-container input.textInput
{
    border: none;
    font-size: 1em;
    height: 100%;
    padding: 0.2em;
    width: 8.333em; /* 100px */
}

div.blist-table-edit-container.shown input[type="text"],
div.blist-table-edit-container.shown input.textInput
{
    /* For some reason, interacting normally with this text field in FF
     * wasn't working properly until I pulled it just above the container
     * it is in */
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 21;
}

div.blist-percent,
div.blist-percent .blist-percent-bar-pos
{
    height: 100%;
}

.columnHeaderMenu
{
    width: 15em;
}

ul.menu.columnHeaderMenu li
{
    padding: 2px 0 0;
}

.columnHeaderMenu .sortAsc a,
.columnHeaderMenu .sortDesc a
{
    background-image: url(/stylesheets/images/content/table/sort_arrow_sprites.png);
    background-position: 7px -20px;
    background-repeat: no-repeat;
}

.columnHeaderMenu .sortDesc a
{
    background-position: 7px 4px;
}

.columnHeaderMenu .autofilter a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png?2);
    background-position: 5px -531px;
    background-repeat: no-repeat;
}

.columnHeaderMenu .autofilter ul.menu
{
    width: 15em;
}

.columnHeaderMenu .autofilter li.clearFilter,
.columnHeaderMenu .autofilter li.clearFilter a
{
    margin-left: 0;
}

.columnHeaderMenu .autofilter li.clearFilter
{
    border-bottom: solid 1px #cacaca;
}

.columnHeaderMenu .autofilter li.clearFilter a
{
    background-position: 5px -324px;
}

.columnHeaderMenu .autofilter li.filterItem a
{
    background-position: 5px 30px; /*-899px;*/
}

.columnHeaderMenu .autofilter li.filterItem.active a
{
    background-position: 5px 30px; /*-508px;*/
}

.columnHeaderMenu .blist-checkbox,
.columnHeaderMenu .blist-picklist-wrapper,
.columnHeaderMenu .blist-flag,
.columnHeaderMenu .blist-tstars-wrapper
{
    float: left;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.columnHeaderMenu .blist-checkbox { width: 14px; }
.columnHeaderMenu .blist-flag { width: 25px; }

.columnHeaderMenu .blist-tstars-wrapper,
.columnHeaderMenu .blist-tstars { height: 10px; }
.columnHeaderMenu .blist-tstars-wrapper
{
    margin-top: 0.2em;
    width: 50px;
}

/* This is only used for initial positioning; the menu is pulled out, so real
 * styling needs to go directly on the menu */
.blist-th .columnHeaderMenu
{
    font-size: 0.8333em;
}

/*
.blist-table .blist-hot-row .blist-td.blist-table-row-numbers,
.blist-table .blist-select-row .blist-td.blist-table-row-numbers
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png);
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
}

.blist-table .blist-hot-row .blist-td.blist-table-row-numbers
{ background-position: right -897px; }
.blist-table .blist-select-row .blist-td.blist-table-row-numbers
{ background-position: right -506px; }
*/
