#discover
{
    margin: 0 1em 0;
    min-width: 98.9em;
    padding-bottom: 6em;
}

.carouselItem .itemTitle h3
{
    float: left;
    font-size: 1.8em;
    font-weight: normal;
    padding-right: 3.888em; /* 70px; */
    text-transform: none;
}
.carouselItem .itemTitle img
{
    display: block;
    float: right;
    margin-left: -70px;
    margin-right: 1.5em;
    width: 5.5em;
}

.carouselItem .itemMetaData { margin-top: 1em; }
.carouselItem .metaList { overflow: hidden; }
.carouselItem .metaList li
{
    color: #666;
    float: none;
    font-size: 1.6em;
    height: auto;
    margin-bottom: .312em; /* 5px */
    width: 148.125em; /* 237px; */
}
.carouselItem .metaList li.ratingContainer .rating
{
    background-image: url(/stylesheets/images/content/comment_stars_white_sprites.png);
}

.carouselItem .metaList li.ratingContainer { 
    background: url(/stylesheets/images/common/rating_capsule_button.png) no-repeat;
    height: 18px;
    margin-bottom: 5px;
    padding: 2px 10px;
}


ul.myNetworkList li
{
    color: #333;
    margin-bottom: .5em;
}
ul.myNetworkList li a
{
    float: left;
    font-size: 1.4em;
    line-height: 1.285em; /* 18px; */
    overflow: hidden;
    margin-right: .5em;
    max-width: 100%;
}
ul.myNetworkList li span
{
    float: left;
    line-height: 1.4em; /* 14px */
    padding-top: 3px;
    white-space: nowrap;
}


.pageBlockHeaderSide.discoverBugContainer
{
    background: url(/stylesheets/images/content/community_bug_background.png) 12px 0 no-repeat;
    height: 203px;
    margin-top: 2.9em;
    margin-right: -330px;
    padding-left: 12px;
    position: relative;
    width: 318px;
}
.pageBlockHeaderSide.discoverBugContainer h2,
.pageBlockHeaderSide.discoverBugContainer h3,
.pageBlockHeaderSide.discoverBugContainer p
{
    color: #fff;
    text-align: center;
    text-transform: none;
}
.pageBlockHeaderSide.discoverBugContainer h2
{
    border: none;
    font-size: 2.2em;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 25px;
    padding-bottom: 0;
}
.pageBlockHeaderSide.discoverBugContainer h3
{
    font-size: 1.6em;
    font-weight: normal;
}

.pageBlockHeaderSide.discoverBugContainer p.bugActionButton
{
    margin-top: 2em;
    padding-left: 58px;
}
.pageBlockHeaderSide.discoverBugContainer p.bugActionButton a
{
    background: url(/stylesheets/images/splash/pop_action_button.png) no-repeat;
    color: #fff;
    display:block;
    font-size: 1.2em;
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
    text-align: left;
    width: 201px;
}

.pageBlockHeaderSide.discoverBugContainer p.footnote
{
    bottom: 0;
    font-size: 1.3em;
    margin-bottom: 2em;
    left: 12px;
    padding: 0 2em;
    position: absolute;
}
.pageBlockHeaderSide.discoverBugContainer p.footnote a { color: #fff; }


.discoverContentList
{
    border-top: 1px solid #ccc;
    clear: both;
}
.discoverContentList li.viewListItem
{
    border-bottom: 1px solid #ccc;
}


.viewListItem .itemHeader 
{
     padding: .5em 40em 0 0;
}
.viewListItem .itemTitle
{
    float: left;
    width: 100%;
}

.viewListItem .itemTitleInner
{
    padding-right: 8.5em;
}
.viewListItem .itemTitleWrapper
{
    float: left;
    max-width: 100%;
}

.discoverContentList li.viewListItem .itemHeader p.dateLine
{
    color: #333;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: -7.727em; /* -85px */
    padding-top: 5px;
}


.discoverContentList li.viewListItem .itemHeader h3
{
    color: #0071bc;
    font-size: 1.8em;
    font-weight: normal;
    height: 41px;
    line-height: 41px;
    overflow: hidden;
    text-transform: none;
}
.discoverContentList li.viewListItem .itemHeader h3.typeBlists { background-position: left top; }
.discoverContentList li.viewListItem .itemHeader h3.typeFilters { background-position: left -41px; }
.discoverContentList li.viewListItem .itemHeader h3.typeBlist { background-position: left -82px; }
.discoverContentList li.viewListItem .itemHeader h3.typeBlist.private { background-position: left -123px; }
.discoverContentList li.viewListItem .itemHeader h3.typeBlist.privateShared { background-position: left -164px; }
.discoverContentList li.viewListItem .itemHeader h3.typeComments { background-position: left -205px; }
.discoverContentList li.viewListItem .itemHeader h3.typeSharing { background-position: left -246px; }
.discoverContentList li.viewListItem .itemHeader h3.typePublish { background-position: left -328px; }
.discoverContentList li.viewListItem .itemHeader h3.typeViews { background-position: left -369px; }
.discoverContentList li.viewListItem .itemHeader h3.typeActivity { background-position: left -410px; }
.discoverContentList li.viewListItem .itemHeader h3.typeFilter { background-position: left -451px; }
.discoverContentList li.viewListItem .itemHeader h3.typeFilter.private { background-position: left -492px; }
.discoverContentList li.viewListItem .itemHeader h3.typeFilter.privateShared { background-position: left -533px; }
.discoverContentList li.viewListItem .itemHeader h3.typeSharedIn { background-position: left -738px; }
.discoverContentList li.viewListItem .itemHeader h3.typeSharedOut { background-position: left -779px; }


.viewListItem .itemMeta
{
    float: right;
    width: 40em;
    margin-right: -40em;
}

.discoverContentList li.viewListItem .itemMeta li
{
    color: #666;
    float: left;
    font-size: 1.1em;
    height: 35px;
    line-height: 35px;
    margin-left: .909em; /* 10px; */
    padding-top: 6px;
    width: 7.909em; /* 87px; */
}
.discoverContentList li.viewListItem .itemMeta li strong { color: #333; }

.discoverContentList li.viewListItem .itemMeta li.ratingContainer
{
    width: 17.727em; /* 195px; */
}
.discoverContentList li.viewListItem .itemMeta li.ratingContainer .rating 
{ 
    background-image: url(/stylesheets/images/content/comment_stars_gray_sprites.png);
    float: left; 
    margin-right: 1em;
    margin-top: 8px;
}



.discoverContentList li.viewListItem .itemBody { padding-right: 10.2em; }
.discoverContentList li.viewListItem .itemContent
{
    float: left;
    width: 100%;
}
.discoverContentList li.viewListItem .itemActionContainer
{
    float: right;
    margin-right: -10.2em;
    width: 10.2em;
}


.discoverContentList li.viewListItem .itemContent p
{
    color: #666;
    font-size: 1.2em;
    margin-bottom: 12px;
    margin-left: .833em; /* 10px; */
}

.discoverContentList li.viewListItem .itemContent p.viewCategory
{ 
    clear: both;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}
.discoverContentList li.viewListItem .itemContent p.viewDescription
{
    clear: both;
    height: 15px;
    margin-right: 1.25em; /* 15px */
    margin-top: .416em; /* 5px */
    overflow: hidden;
}
.discoverContentList li.viewListItem .itemContent p.viewTags span
{
    color: #333;
    font-size: .916em; /* 11px */
    font-weight: bold;
}

.itemActionContainer ul li
{
    float: left;
    width: 7.909em; /* 87px; */
}
.itemActionContainer ul li.last { margin-right: 0; }

.itemActionContainer .itemActions.actionButtons li { background-position: 0 -63px; }
.itemActionContainer .itemActions.actionButtons li a { background-position: right -84px; }
.itemActionContainer .itemActions.actionButtons li a.arrowButton { background-position: right -105px; }

.viewPager { margin-top: 1em; }