#staticRenderType .renderContent { overflow: auto; }

.formView { padding: 0.5em; }

.formView .line
{
    min-height: 2.3em;
    margin: 0 0 0.75em;
}

.formView label
{
    float: left;
    font-size: 1.2em;
    line-height: 1.2em;
    padding-top: 0.3em;
    text-align: right;
    width: 10em;
}

.formView .fieldInput
{
    float: left;
    width: 20em;
}

.formView select.fieldInput { font-size: 1.2em; }

.formView .fieldContainer
{
    float: left;
    width: 28em;
}

.formView .dateInput .yearInput
{
    margin-right: 0.75em;
    width: 2.9em;
}
.formView .dateInput .monthInput { width: 5em; }
.formView .dateInput .dayInput,
.formView .dateInput .hourInput,
.formView .dateInput .minuteInput
{ width: 1.5em; }
.formView .dateInput .ampmInput { width: 4.7em; }

.formView .phoneInput input { width: 12.7em; }
.formView .phoneInput select { width: 7em; }

.formView .line.html { height: 7em; }

.formView .line.url { height: 4.2em; }
.formView .urlInput label
{
    padding-right: 0.5em;
    text-align: left;
    width: 5em;
}
.formView .urlInput input { width: 13.9em; }

.formView .line.location { height: 12.7em; }
.formView .locationInput label
{
    padding-right: 0.5em;
    text-align: left;
    width: 5em;
}
.formView .locationInput input { width: 13.9em; }
