.gridOuter 
{
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 0 1px;
}
#data-grid
{
    background-color: #fff;
    border-color: #06386a;
    border-style: solid;
    border-width: 0 5px;
}

.blist-table
{
    color: #212121;
}

#header
{
    padding-left: 8px;
    background: transparent url(/stylesheets/images/content/table/title_tl.png?1) no-repeat scroll left top;
}

#header .wrapperTR
{
    padding-right: 8px;
    background: transparent url(/stylesheets/images/content/table/title_tr.png?1) no-repeat top right;
}

#header .wrapperT
{
    background: transparent url(/stylesheets/images/content/table/title_t.png?1) repeat-x top;
    height: 28px;
    padding-right: 7px;
}

#header .menuLink
{
    background-image: url(/stylesheets/images/content/table/expand_opened_white.png);
    background-position: right 10px;
    background-repeat: no-repeat;
    color: #fff;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 12px 5px 7px;
    text-transform: uppercase;
}

#header .headerMenu { width: 17em; }
#header .headerMenu .submenu .menu { width: 10em; }

#header .headerMenu .submenu.export .menu { width: 19em; }

#header .headerMenu a
{
    background-image: url(/stylesheets/images/content/table_menu/menu_icon_sprites.png?2);
    background-repeat: no-repeat;
}

#header .headerMenu .share a { background-position: 5px -968px; }
#header .headerMenu .email a { background-position: 5px -48px; }
#header .headerMenu .export a { background-position: 5px -117px; }
#header .headerMenu .export .menu a { background-position: 5px 23px; }
#header .headerMenu .publish a { background-position: 5px -577px; }
#header .headerMenu .fullscreen a { background-position: 5px -992px; }
#header .headerMenu .print a { background-position: 5px -2px; }
#header .headerMenu .newDataset a { background-position: 5px -94px; }

#header .headerMenu li.share .menu a
{
    background-repeat: no-repeat;
    background-position: 5px center;
}
#header .headerMenu .share .delicious a
{
    background-image: url(/images/icons/social_icon_delicious_small.png);
}

#header .headerMenu .share .digg a
{
	background-image: url(/images/icons/social_icon_digg_small.png);
}

#header .headerMenu .share .twitter a
{
	background-image: url(/images/icons/social_icon_twitter_small.png);
}

#header .headerMenu .share .facebook a
{
	background-image: url(/images/icons/social_icon_facebook_small.png);
}


#header .fullScreenButton
{
    display: inline;
    float: right;
    margin: 5px 0 0 5px;
}
#header .fullScreenButton a
{
    background: url(/stylesheets/images/widgets/button_fullscreen_player.png) no-repeat;
    display: block;
    height: 18px;
    overflow: hidden;
    text-indent: -9999px;
    width: 22px;
}

#header form.search
{
    float: right;
    margin-top: 5px;
    width: 13em;
}

#header form.search .searchContainer
{
    background-image: url(/stylesheets/images/content/table_menu/find_field_blue.png);
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 49px;
}

#header form.search input.textInput
{
    height: 15px;
    padding: 1px 0 0;
}

#header form.search input.submit
{
    background-image: none;
    height: 18px;
    margin-right: 0;
}

#header form.search .actionBox
{
    float: left;
    margin-right: -49px;
    width: 49px;
}

#header form.search .clearBox
{
    background-color: #ffffff;
    border-color: #cacaca;
    border-style: solid;
    border-width: 1px 0;
    float: left;
    height: 16px;
    width: 18px;
}

#header form.search .clearSearch
{
    background: url(/stylesheets/images/content/section_close_button.png) no-repeat top left;
    display: block;
    height: 16px;
    line-height: 100px;
    overflow: hidden;
    width: 16px;
}


.blist-table-header-scrolls
{
    background-color: #e8e8e2;
    border: solid 1px #cacaca;
    border-bottom: none;
}

.blist-table-scrolls
{
    background-color: #fff;
    border: solid 1px #646464;
}

.blist-tr-even .blist-td
{
    background-color: #e7ebf2;
}

.blist-table .blist-th
{
    color: #676767;
    border-left: solid 1px #dddddd;
    font-size: 1.2em;
    font-weight: bold;
    height: 2.1667em; /* 26px */
    line-height: 2.1667em;
    padding: 0 0.3333em; /* 4px */
    text-overflow: ellipsis;
}

.blist-table-footer-scrolls
{
    background-color: #ffffff;
    border-top: solid 1px #d0d0d0;
    height: 4.2em;
    left: 1px;
}

.blist-table-footer
{
    background-color: #e3ecf7;
    height: 3.5em;
}

.blist-tf
{
    border-color: #ffffff;
    border-style: solid;
    border-width: 0 1px;
    font-size: 1.2em;
    height: 2.9167em; /* 35px */
    overflow: hidden;
    padding: 0 0.25em 0 0.3333em; /* 3px right, 4px left */
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blist-tf .blist-tf-value
{
    bottom: 0.4167em; /* 5px */
    position: absolute;
    right: 0.4167em; /* 5px */
}

.blist-tf.blist-tf-first
{
    border-left-width: 0;
    padding-left: 0.4167em; /* 5px */
}

.blist-td
{
    border-right: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    font-size: 1.1em;
    height: 1.4545em; /* 16px */
    line-height: 1.4545em;
    padding: 0.3636em; /* 4px */
}

.blist-td-header
{
    font-weight: bold;
}

div.blist-table-expander
{
    border-left: solid 1px #cacaca;
    border-top: solid 1px #cacaca;
    background-color: #fffad9;
}

div.blist-td p
{
    margin: 0 0 6px 0;
    padding: 0;
}

div.blist-td p:last-child
{
    margin-bottom: 0;
}

img.blist-table-option-icon
{
    padding-right: 4px;
    padding-bottom: -1px;
}

.blist-table .blist-hot
{
}

.blist-table a
{
    text-decoration: none;
}

.blist-table a:hover
{
    text-decoration: underline;
}

.widgetFooterWrapper
{
    background: url(/stylesheets/images/content/table/title_b.png) repeat-x bottom;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.widgetFooterInner
{
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: .5em 1.5em;
}

.widgetLogoWrapper
{
    float: left;
}

.widgetLogo
{
    background-image: url(/stylesheets/images/widgets/socrata_logo_player.gif);
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    height: 35px;
    overflow: hidden;
    text-indent: -9999px;
    width: 92px;
}


.getPlayerAction
{
    float: right;
    height: 35px;
    line-height: 35px;
}
.getPlayerAction a
{
    color: #fff;
    text-transform: uppercase;
}

.interstitial
{
    background-color: #ffffff;
    border: solid 1px #333333;
    display: none;
    padding: 4em 2em 2em 2em;
    position: absolute;
    text-align: center;
    z-index: 30;
}

.interstitial a.closeLink
{
    background-color: #cccccc;
    color: #ffffff;
    font-size: 1.2em;
    height: 1em;
    padding: 0.5em;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 4.5em;
}

.interstitial .closeKeyText
{
    position: absolute;
    right: 4px;
    text-transform: uppercase;
    top: 2.75em;
}

.interstitial h4
{
    color: #000000;
    font-weight: bold;
    margin: 0.5em;
}

.interstitial p
{
    font-size: 1.2em;
    margin: 0.5em;
}

.interstitial .exitBox
{
    background-color: #cccccc;
    margin: 1em 0;
    padding: 1em;
	overflow: auto;
}

.interstitial .exitBox a
{
    font-size: 1.2em;
	width: 100%;
	word-wrap: break-word;
}

.dialogWrapper
{
    display: none;
    left: 50%;
    margin-left: -15em;
    margin-top: 0;
    position: absolute;
    top: 5em;
    width: 30em;
}

.dialogWrapper .header h1
{
    background: none;
    text-indent: 0;
}

.dialogWrapper .error
{
    color: #ff0000;
    margin-top: 0.2em;
    text-align: center;
}

#emailDialog label
{
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#emailDialog input
{
    width: 22.5em;
}

#publishDialog p
{
    font-size: 1.2em;
    margin-bottom: 1em;
}

#publishDialog textarea
{
    font-size: 1.2em;
    width: 23em;
}
