#widgetMeta
{
    height: 63px;
    margin: 0;
    min-width: 30em;
    overflow: hidden;
    width: 100%;
}
#widgetMeta.expanded
{
    position: absolute;
    overflow: auto;
    width: 100%;
    z-index: 30;
}

#widgetMeta .header
{
    height: 21px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.metadataPane .actionButtons li,
.metadataPane .actionButtons li a,
.metadataPane .actionButtons li a.arrowButton
{
    background-image: url(/stylesheets/images/info_pane/background_buttons_summary_sprites.png);
}

/*** START: tabs styling ***/
.metadataPane .summaryTabs
{
    background-color: #fff;
    width: 3000px;
}

.metadataPane .summaryTabs li.scrollArrow
{
    border-width: 0;
    display: none;
    position: absolute;
    top: 0;
    width: 26px;
}
.metadataPane .summaryTabs li.prev
{
    border-right: 1px solid #fff;
    right: 25px;
}
.metadataPane .summaryTabs li.next
{
    right: -1px;
}

.metadataPane .summaryTabs li.scrollArrow a
{
    background-color: #06386a;
    background-position: 6px 0;
    background-repeat: no-repeat;
    border: 1px solid #06386a;
    display: block;
    height: 19px;
    overflow: hidden;
    text-indent: -9999px;
    width: 24px;
}

.metadataPane .summaryTabs li.prev a
{
    background-image: url(/stylesheets/images/info_pane/meta_tab_scroller_left.png);
}
.metadataPane .summaryTabs li.next a
{
    background-image: url(/stylesheets/images/info_pane/meta_tab_scroller_right.png);
}

.metadataPane .summaryTabs li.scrollArrow a:hover
{
    background-color: #fcd9d4;
    background-position: 6px -38px;
}
.metadataPane .summaryTabs li.scrollArrow.disabled a,
.metadataPane .summaryTabs li.scrollArrow.disabled a:hover
{
    background-color: #06386a;
    background-position: 6px -19px;
    cursor: default;
}

/*** END: tabs styling ***/

#widgetMeta .infoContentHeader h2.panelHeader 
{
    font-size: 1.2em;
    height: 40px;
    margin-left: 0;
    padding-left: 41px;
    width: auto;
}

.infoContentOuter .infoContentInner
{
    background-image: url(/stylesheets/images/info_pane/background_expanded_list.png);
    background-position: -10px 0;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
}

.infoContentOuter .infoContentWrapper 
{
    background-color: #cacaca;
    background-image: none;
    margin: 0;
    padding-bottom: 0;
}
.infoContentOuter.listContainer .infoContentWrapper { background-color: transparent; }
.infoContentOuter.listContainer .infoContent { background-image: none; }

.infoContentHeader
{
    height: 41px;
    padding: 0 1em 0 0;
}

/*** START: Gridlist styles - override for widget ***/
.infoContentOuter table.gridList td > *
{
    height: auto;
    line-height: 1.1em;
}
.infoContentOuter table.gridList .name { width: 40%; }
.infoContentOuter table.gridList .description { width: 60%; }
.infoContentOuter table.gridList .who { width: 25%; }
.infoContentOuter table.gridList .what { width: 60%; }
.infoContentOuter table.gridList .type,
.infoContentOuter table.gridList .picture { width: 35px; }
.infoContentOuter table.gridList td a,
.infoContentOuter table.gridList td div a
{
    color: #0071bc;
    text-decoration: none;
}


/*** END: Gridlist styles ***/

.singleInfoComments li.comment .actions
{
    border-top: 1px solid #ccc;
    margin: 0.5em 0 1.5em;
    padding-top: 0.5em;
    position: static;
}
.singleInfoComments li.comment .actions a { margin-left: 0; }

.singleInfoPublishing .publishContent .copyCode textarea
{
    height: 13em;
    width: 33em;
}