label.required
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    background-position: right top;
}

div.required,
span.required
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    background-position: left top;
    padding: 0.1em;
    padding-left: 1em;
}

label
{
    /* Pad everything so that if there's any "required" fields they are
     * vertically aligned */
    padding-right: 15px;
}

select { color: #333; }
select.prompt option
{
    color: #333333;
    font-style: normal;
}
select.prompt,
select option.prompt,
select.prompt option.prompt
{
    color: #999999;
    font-style: italic;
}

.ui-spinner 
{
  height: 2.3em;
  overflow: visible;
}

.ui-icon
{
  text-decoration: none;
  width:16px;
  height:16px;
}

.ui-icon-triangle-1-n
{
  background-image: url(/stylesheets/images/widgets/dropdown_button/arrow_up.png);
  background-position: 0 -2px;
}

.ui-icon-triangle-1-s
{
  background-image: url(/stylesheets/images/widgets/dropdown_button/arrow_down.png);
  background-position: 0 0;
}
.ui-spinner-button 
{
  font-size: 0;
} 
#list-style
{
    margin-right: 0.5em;
}

.rdfTerms
{
    width: 30em;
}

.summaryList .combo_button_edit:not(.hide)
{
    display:inline;
    float:left;
}
.summaryList .comboToggle
{
    display:inline;
}

.summaryList .comboToggle li
{
    margin-right:5px;
}
