/* 
    Document   : home-screen
    Created on : Jan 13, 2009, 3:04:23 PM
    Author     : jeff.scherpelz@blist.com, pete.stuart@blist.com
    Description:
      Styles for the 'Home' screen
*/

#home .contentHighlight
{
    background-image: url(/stylesheets/images/content/background_corner_left.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#home h1 { color: #333; }

#home .content .actionButtons
{
    margin-bottom: 4em;
}
#home .content .actionButtons li
{
    margin: 0 40px 0 0;
}
#home .content .actionButtons li.last
{
    margin-right: 0;
}
#home .content .actionButtons li a
{
    width: 115px;
}
#home .content .actionButtons li a.arrowButton
{
    width: 100px;
}


#home .featureBoxes
{
    margin: 0 0 35px 15px;
}
