.dialogBox .header h1
{
    background-image:url(/stylesheets/images/common/upload_icon.png);
    background-repeat:no-repeat;
    text-indent: 35px;
    font-size: 2.25em;
}
.import form .fileInputContainer
{
    display: block;
    margin-bottom: 10px;
}

.import form fileInput
{
    cursor: pointer;
    float: left;
    position: relative;
}

.import form fileName
{
    width: 190px;
}

.import form fileInput .fakeFile
{
    left: 0;
    position: absolute;
    top: 0;
    z-index 1;
}

.import form .fileInput .fakeFile input
{
    float: left;
    width: 170px;
}

.import form .fileInput .fakeFile img
{
    display: block;
    float: left;
    padding-left: 5px;
}

.import form label
{
    display: block;
    float: left;
    font-size: 1.2em;
    line-height: 22px;
    padding-right: 10px;
    text-align: right;
    width: 90px;
}

.import form .errorMessage
{
    font-size: 1.2em;
    line-height:2.5em;
}

.import form .submitButton
{
    background-color:#656565;
    background-image:url(/stylesheets/images/widgets/background_buttons_summary_sprites.png);
    background-repeat:no-repeat;
    float:left;
    height:21px;
    overflow:hidden;
    margin-right: 16px;
}

.import form .arrowButton
{
    width: 100px;
    background-position:right -168px;
    background-image:url(/stylesheets/images/widgets/background_buttons_summary_sprites.png);
    background-repeat:no-repeat;
    color:#FFFFFF;
    display:block;
    font-size:1.2em;
    height:21px;
    line-height:21px;
    padding-left:10px;
    text-decoration:none;    
}
