/* 
    Document   : info-pane.css
    Created on : Jan 13, 2009, 3:25:51 PM
    Author     : jeff.scherpelz@blist.com, pete.stuart@blist.com
    Description:
      Styles for the info pane
*/

#infoPane
{
    margin-left: 1em;
    margin-top: 0.5em;
    min-width: 70em; /* Tabs will wrap below this width. */
}

#infoPane .header
{
    padding: 0.5em 0 0;
}

/*** START: tabs styling ***/
#infoPane .summaryTabs 
{
    background-color: #e0d1b8;
    background-image: url(/stylesheets/images/info_pane/background_info_tab_top_right_sprites.png);
    background-position: right -3px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #8d8d8d;
    height: 20px;
}
#infoPane .summaryTabs li 
{
    background-color: #e0d1b8;
    background-image: url(/stylesheets/images/info_pane/background_info_tab_top_left_sprites.png);
    background-position: 0 -3px;
    background-repeat: no-repeat;
    border-right: 1px solid #8d8d8d;
    float: left;
    font-size: 1.1em;
    height: 20px;
    position: relative;
    width: 120px;
}
#infoPane .summaryTabs li .tabInner 
{
    background-image: url(/stylesheets/images/info_pane/background_info_tab_top_right_sprites.png);
    background-position: 114px -3px;
    background-repeat: no-repeat;
    min-height: 0;
}
#infoPane .summaryTabs li.active 
{
    background-color: #ffedcc;
    background-position: -3px 0;
    font-size: 1.2em;
    font-weight: bold;
    height: 21px;
}
#infoPane .summaryTabs li.active .tabInner 
{
    background-position: 117px 0;
}

#infoPane .summaryTabs li.last .tabInner
{
    background-image: url(/stylesheets/images/info_pane/background_info_tab_last_sprites.png);
    background-position: right top;
    width: 123px;
}
#infoPane .summaryTabs li.active.last .tabInner
{
    background-position: right -30px;
}

#infoPane .summaryTabs li a, #infoPane .summaryTabs li span
{
    color: #333;
    display: block;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}

/* The summary tab is special */
#infoPane .summaryTabs li.summary 
{
    border-right-width: 3px;
    width: 85px;
}
#infoPane .summaryTabs li.summary.active.last
{
    border-right: 0;
    width: 91px;
}
#infoPane .summaryTabs li.summary.active .tabInner 
{
    background-image: none;
}
#infoPane .summaryTabs li.summary.active.last .tabInner
{
    background-image: url(/stylesheets/images/info_pane/background_info_tab_summary_last.png);
    background-position: right top;
    border-right: none;
    width: 97px;
}

/* expander */
#infoPane a.expander
{
    background: url(/stylesheets/images/info_pane/icon_expand_summary_sprites.png) no-repeat 0 0;
    display: block;
    height: 9px;
    line-height: 100px;
    overflow: hidden;
    width: 9px;
}
#infoPane a.expander.expanded
{
    background-position: left -9px;
}

#infoPane .summaryTabs li a.expander
{
    display: none;
    left: 0;
    line-height: 100px;
    margin: 4px 3px;
    position: absolute;
    top: 0;
}
#infoPane .summaryTabs li.active a.expander
{
    display: block;
}


/*** END: tabs styling ***/


/*** START: content ***/
.infoContentOuter
{
  background-color: #ffedcc;
  background-image: url(/stylesheets/images/common/summary_bottom_right.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  display: none;
  height: 100%;
}
.infoContentOuter.active {
    display: block;
}

.infoContentHeader
{
    padding: .4em 1em 0.4em 0;
}
.infoContentHeader h2.panelHeader
{
    background: url(/stylesheets/images/info_pane/icon_summary_blists_header_sprites.png) left top no-repeat;
    float: left;
    font-size: 1.4em;
    font-weight: normal;
    height: 41px;
    line-height: 41px;
    margin-left: .5em;
    overflow: hidden;
    padding-left: 46px;
}
.infoContentHeader h2.panelHeader.noHeaderIcon
{
    background: none;
    padding-left: 0;
}

.infoContentHeader h2.panelHeader.typeBlists { background-position: left top; }
.infoContentHeader h2.panelHeader.typeFilters { background-position: left -41px; }
.infoContentHeader h2.panelHeader.typeBlist { background-position: left -82px; }
.infoContentHeader h2.panelHeader.typeBlist.private { background-position: left -123px; }
.infoContentHeader h2.panelHeader.typeBlist.privateShared { background-position: left -164px; }
.infoContentHeader h2.panelHeader.typeComments { background-position: left -205px; }
.infoContentHeader h2.panelHeader.typeSharing { background-position: left -246px; }
.infoContentHeader h2.panelHeader.typePublish { background-position: left -328px; }
.infoContentHeader h2.panelHeader.typeViews { background-position: left -369px; }
.infoContentHeader h2.panelHeader.typeActivity { background-position: left -410px; }
.infoContentHeader h2.panelHeader.typeFilter { background-position: left -451px; }
.infoContentHeader h2.panelHeader.typeFilter.private { background-position: left -492px; }
.infoContentHeader h2.panelHeader.typeFilter.privateShared { background-position: left -533px; }
.infoContentHeader h2.panelHeader.typeSharedIn { background-position: left -738px; }
.infoContentHeader h2.panelHeader.typeSharedOut { background-position: left -779px; }
.infoContentHeader h2.panelHeader.typeNotify { background-position: left -410px; }

.infoContentHeader h2.panelHeader a { color: #333; }

.infoContentHeader h2.panelHeader img { vertical-align: middle; }

.infoContentHeader .selectPrompt 
{
    float: right;
    font-size: 1.1em;
    line-height: 41px; /* Match the line-height of the header (in pixels). */
}

.infoContentHeader .socialActions
{
    float: right;
    padding-top: .5em;
}
.infoContentHeader .socialActions li
{
    float: left;
    margin-left: 1em;
}

.infoContentHeader .headerActions
{
    float: right;
    padding-top: 1em;
}

.infoContentHeader .favoriteAction li a
{
    background: url(/stylesheets/images/content/favorite_large_sprites.png) no-repeat;
    display: block;
    height: 19px;
    overflow: hidden;
    text-indent: -9999px;
    width: 19px;
}

.infoContentHeader .favoriteAction li a:hover,
.infoContentHeader .favoriteAction li.true a { background-position: 0 -19px; }


.infoContentOuter .infoContentInner
{
    background-image: url(/stylesheets/images/common/summary_bottom_left.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    min-height: 0; /* Trigger hasLayout for IE7 */
    padding-bottom: 1em;
}
.infoContent
{
    display: none;
    padding: 0 1em 1em;
}

/* Expanded info for multi */
.infoContentOuter.listContainer.expanded .infoContentInner
{
    background-image: url(/stylesheets/images/info_pane/background_expanded_list.png);
    background-position: -10px 0;
    background-repeat: repeat-y;
    padding-bottom: 0;
}
.infoContentOuter.listContainer .infoContent
{
    background-image: url(/stylesheets/images/info_pane/background_info_content_bottom_left_dark.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    border-top: 1px solid #e0d1b8;
    padding-left: 0;
}

.infoContentOuter.listContainer .infoContent dl
{
    padding-left: 140px;
    position: relative;
}
.infoContentOuter.listContainer .infoContent dt
{
    color: #666;
    font-size: 1.1em;
    left: 5px;
    line-height: 19px;
    padding-right: 10px;
    position: absolute;
    text-align: right;
    top: 5px;
    width: 125px;
}
.infoContentOuter.listContainer .infoContent dt.hover
{
    background-color: #ffedb2;
    background-image: url(/stylesheets/images/info_pane/background_summary_list_title.png);
    background-repeat: no-repeat;
}
.infoContentOuter.listContainer .infoContent dt a.help
{
    background-image: url(/stylesheets/images/info_pane/icon_help_highlight.png);
    background-repeat: no-repeat;
    display: none;
    height: 16px;
    left: 2px;
    line-height: 100px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 16px;
}
.infoContentOuter.listContainer .infoContent dt.hover a.help
{
    display: block;
}

.infoContentOuter.listContainer .infoContent dd
{
    padding: 6px 0 0 0;
    position: relative;
}

/** Edit forms **/
.infoContentOuter.listContainer .infoContent dd .itemContent form
{
    display: none;
    padding-top: 0;
}
.infoContentOuter.listContainer .infoContent dd input[type="text"]
{
    font-size: 1em; /* 11px */
    width: 31.818em; /* 350px */
}
.infoContentOuter.listContainer .infoContent dd select
{
    font-size: 1em; /* 11px */
}
.infoContentOuter.listContainer .infoContent dd input[type="image"],
.infoContentOuter.listContainer .infoContent dd form .formCancelLink img
{
    vertical-align: middle;
}


.infoContentOuter.multiInfoSummary .infoContent dd
{
    height: 25px;
    padding-left: 31px;
}


/*** .itemContent > * can be either <a>, <span> or <ul> ***/
.infoContentOuter.listContainer .infoContent dd .itemContent > *
{
    color: #333;
    display: block;
    font-size: 1.1em;
    min-height: 1em;
    padding: 3px 4em 5px 10px;
    text-decoration: none;
}
.infoContentOuter.listContainer .infoContent dd .itemContent > * img { vertical-align: middle; }
.infoContentOuter.listContainer .infoContent dd.hover .itemContent
{
    background-color: #ffedb2;
    background-image: url(/stylesheets/images/info_pane/summary_item_content_bottom_right.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}
.infoContentOuter.listContainer .infoContent dd.hover .itemContent > *
{
    background-image: url(/stylesheets/images/info_pane/summary_item_content_top_right.png);
    background-position: right top;
    background-repeat: no-repeat;
    cursor: pointer;
}

.infoContentOuter.listContainer .infoContent dd .itemContent li
{
    line-height: 1.7em;
}

/*** .itemActions can be either <div> or <ul> ***/
.infoContentOuter.listContainer .infoContent dd .itemActions
{
    display: none;
    position: absolute;
    right: 0;
    top: 6px;
}

.infoContentOuter.listContainer .infoContent dd .itemActions li
{
    padding-bottom: 4px;
}

.infoContentOuter.listContainer .infoContent .itemActions .action,
.infoContentOuter .infoContent .actionContainer .action
{
    background-image: url(/stylesheets/images/info_pane/summary_secondary_button_left.png);
    background-position: left top;
    background-repeat: no-repeat;
    color: #333;
    display: block;
    font-size: 1em;
    height: 19px;
    line-height: 19px;
    overflow: hidden;
    padding-left: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.infoContentOuter.listContainer .infoContent .itemActions .action span,
.infoContentOuter .infoContent .actionContainer .action span
{
    background-image: url(/stylesheets/images/info_pane/summary_secondary_button_right.png);
    background-position: right top;
    background-repeat: no-repeat;
    display: block;
    padding-right: 5px;
}
.infoContentOuter .infoContent td.actionContainer > *
{
    font-size: 1em; /* Reset the parent element's font size so we can override. */
}
.infoContentOuter.listContainer .infoContent dd.hover .itemActions
{
    display: block;
}

/*** START: grid list table ***/

.infoContentOuter .gridListContainer 
{
    padding-top: 0;
}
.infoContentOuter .gridList thead 
{
    background-color: #e0d1b8;
}
.infoContentOuter .gridList thead th
{
    background-color: #e0d1b8;
    border-right: 1px solid #e2e2e2;
    color: #666;
    font-size: 1.2em;
}
.infoContentOuter .gridList thead th.first,
.infoContentOuter .gridList thead th.last
{
    background-image: none;
}

.infoContentOuter.singleInfoGroups table.gridList .description { width: 60%; }
.infoContentOuter.singleInfoGroups table.gridList .actionContainer,
.infoContentOuter.singleInfoMembers table.gridList .actionContainer { width: 7em; }
#infoPane .infoContentOuter.singleInfoBlists table.gridList .name { width: 100%; }
.infoContentOuter.singleInfoBlists table.gridList .views,
.infoContentOuter.singleInfoBlists table.gridList .copies { width: 7em; }

.infoContentOuter.singleInfoBlists table.gridList tr.hover td+td > *,
.infoContentOuter.singleInfoGroups table.gridList tr.hover td+td > *,
.infoContentOuter.singleInfoMembers table.gridList tr.hover td+td > *
{ 
    background-color: #ffedb2; 
}

.infoContentOuter table.gridList td > *
{
    color: #333;
    font-size: 1.1em;
    height: 19px;
    line-height: 19px;
    margin: 6px 0;
    padding: 0 5px;
}

.infoContentOuter table.gridList td.type > *,
.infoContentOuter table.gridList td.picture > *,
.infoContentOuter table.gridList td.group > *
{
    height: 27px;
    line-height: 27px;
    margin: 0 auto;
}
.infoContentOuter table.gridList td.actionContainer .action { display: none; }
.infoContentOuter table.gridList tr.hover td.actionContainer > * { background: none; }
.infoContentOuter table.gridList tr.hover td.actionContainer .action { display: block; }

.infoContentOuter table.gridList td.views > *,
.infoContentOuter table.gridList td.copies > * { text-align: right; }

/*** END: grid list table ***/

/*** START: single info filtered tab ***/

.singleInfoFiltered .infoContentHeader h2.panelHeader
{
    background-position: left -41px;
}

/*** END: single info filtered tab ***/

/*** START: single info comments tab ***/

.singleInfoComments .infoContentHeader > h2.panelHeader.first
{
    background-position: left -205px;
    border-right: 1px solid #e1d3b6;
    padding-right: 0.5em;
}


.singleInfoComments .infoContentHeader p
{
    float: left;
    font-size: 1.2em;
    margin-left: 0.5em;
    margin-top: 14px;
}

#infoPane .singleInfoComments h2.rating
{
    float: left;
    margin-left: .5em;
    margin-top: 12px;
    padding: 0;
}

.singleInfoComments.infoContentOuter.listContainer form.postComment dd
{
    padding: 0.5em 0em 0.5em 1.4em;
}

.singleInfoComments .hidden
{
    display: none;
}

.singleInfoComments.infoContentOuter.listContainer form.postComment .rating
{
    cursor: pointer;
}

.singleInfoComments.infoContentOuter.listContainer form.postComment input[type="text"]
{
    font-size: 1.2em;
}

.singleInfoComments.infoContentOuter.listContainer form.postComment .commentBody
{
    padding-right: 0.7em;
}

.singleInfoComments form.postComment textarea
{
    width: 100%;
}

.singleInfoComments.infoContentOuter.listContainer form.postComment .submitSection
{
    padding-top: 0.25em;
    text-align: right;
}

.singleInfoComments form.postComment.disabled .submitSection
{
    display: none;
}

.singleInfoComments form.postComment .submitSection a
{
    color: #666666;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 0.5em;
    text-transform: uppercase;
}

.singleInfoComments form.postComment .submitSection input
{
    margin-top: -0.25em;
}

.singleInfoComments li.comment
{
    margin: 1em 0;
}

.singleInfoComments li.comment .userInfo
{
    float: left;
    padding: 0.5em 1em;
    width: 120px;
}

.singleInfoComments li.comment .userInfo .primaryInfo
{
    margin-bottom: 0.5em;
}

.singleInfoComments li.comment .userInfo .primaryInfo img
{
    float: left;
    margin-right: 0.5em;
    margin-top: 0.3em;
}

.singleInfoComments li.comment .userInfo h5
{
    display: block;
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0.1em;
}

.singleInfoComments li.comment .userInfo span
{
    display: block;
    color: #333333;
    font-size: 1.2em;
    padding: 0.1em 0;
}

#infoPane .singleInfoComments .userInfo .rating
{
    background-image: url(/stylesheets/images/content/comment_stars_white_sprites.png);
}

.singleInfoComments li.comment .commentBlock
{
    background-image: url(/stylesheets/images/content/comment_bubble_arrow.png);
    background-position: 0 25px;
    background-repeat: no-repeat;
    margin-left: 140px;
    padding-left: 14px;
    position: relative;
}

.singleInfoComments li.comment .commentBlock .cornerTL
{
    background: #ffffff url(/stylesheets/images/content/comment_corner_top_left.png) top left no-repeat;
}
.singleInfoComments li.comment .commentBlock .cornerTR
{ background: url(/stylesheets/images/content/comment_corner_top_right.png) no-repeat top right; }
.singleInfoComments li.comment .commentBlock .cornerBR
{ background: url(/stylesheets/images/content/comment_corner_bottom_right.png) no-repeat bottom right; }
.singleInfoComments li.comment .commentBlock .cornerBL
{
    background: url(/stylesheets/images/content/comment_corner_bottom_left.png) no-repeat bottom left;
    padding: 0.5em 0.5em 1em;
}

.singleInfoComments li.comment .commentBlock .rating
{
    margin-bottom: 0.5em;
}

.singleInfoComments li.comment .commentBlock h4
{
    color: #000000;
    font-size: 1.4em;
}

.singleInfoComments li.comment .commentBlock .dateLine
{
    color: #666666;
    font-size: 1.2em;
    margin: 0.5em 0;
}

.singleInfoComments li.comment .commentBlock .dateLine span,
.singleInfoComments li.comment .commentBlock .author span
{
    color: #999999;
    font-size: 0.9em;
    margin-left: 0.5em;
}

.singleInfoComments li.comment .commentBlock .commentBody
{
    border-top: solid 1px #e0d1b8;
    font-size: 1.2em;
    padding-top: 0.5em;
}

.singleInfoComments li.comment .actions
{
    position: absolute;
    right: 0.5em;
    top: 1em;
}

.singleInfoComments li.comment .actions a
{
    color: #333333;
    font-size: 0.9em;
    font-weight: bold;
    float: left;
    line-height: 18px;
    margin: 0 1em;
    text-transform: uppercase;
}

.singleInfoComments li.comment .actions a.actionDone
{
    color: #999999;
    cursor: auto;
}

.singleInfoComments li.comment .actions a.actionDone:hover
{
    text-decoration: none;
}

.singleInfoComments li.comment .actions a.rateComment
{
    background: url(/stylesheets/images/content/like_thumbs_sprites.png) no-repeat 0 0;
    height: 18px;
    line-height: 100px;
    margin: 0 0.2em;
    overflow: hidden;
    width: 15px;
}

.singleInfoComments li.comment .actions a.rateComment.rateDown
{
    background-position: 0 -18px;
}

.singleInfoComments li.comment .actions a.rateComment.rateUp.disabled
{
    background-position: 0 -36px;
}

.singleInfoComments li.comment .actions a.rateComment.rateDown.disabled
{
    background-position: 0 -54px;
}

.singleInfoComments li.comment .actions span
{
    font-size: 1.1em;
    line-height: 18px;
    margin-left: 0.3em;
}

.singleInfoComments li.comment .actions .ratingUp
{
    color: #3b9242;
}

.singleInfoComments li.comment .actions .ratingDown
{
    color: #923b42;
}

.singleInfoComments li.comment .expander
{
    float: left;
    margin-top: 2.5em;
}

#infoPane .singleInfoComments li.comment .expander.hidden
{
    display: none;
}

.singleInfoComments li.comment form.replyComment .commentBody
{
    border: none;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.singleInfoComments li.comment .childContainer
{
    border-top: solid 1px #e0d1b8;
    margin-top: 1em;
    padding-top: 0.5em;
}

.singleInfoComments li.comment .childContainer .childCollapsed
{
    border-left: solid 5px #e0d1b8;
    color: #999999;
    display: none;
    font-size: 1.1em;
    margin: 0.5em 0 0 2em;
    padding: 0.5em 1em;
}

.singleInfoComments li.comment .childContainer.collapsed .childCollapsed
{
    display: block;
}

.singleInfoComments li.comment .childContainer.collapsed > *
{
    display: none;
}

.singleInfoComments li.comment .childWrapper
{
    border-top: solid 1px #e0d1b8;
    margin-left: 2em;
    padding: 1em 0;
}

.singleInfoComments li.comment .childWrapper.first
{
    border: none;
}

.singleInfoComments li.comment .childComment
{
    border-left: solid 5px #e0d1b8;
    padding-left: 1em;
    position: relative;
}

.singleInfoComments li.comment .childComment .author
{
    color: #333333;
    font-size: 1.2em;
    font-weight: bold;
}

.singleInfoComments li.comment .childComment .commentBody
{
    border-top: none;
    padding-top: 0;
}

.singleInfoComments .commentPagination
{
    margin: 0 0 0.5em 15em;
}

.singleInfoComments .footer
{
    border-top: solid 1px #e0d1b8;
    padding-top: 0.5em;
}

.singleInfoComments .footer .commentLink
{
    float: right;
}

/*** END: single info comments tab ***/

/*** START: single info sharing tab ***/

.singleInfoSharing .infoContentHeader > h2.panelHeader.first
{
    background-position: left -246px;
    border-right: 1px solid #e1d3b6;
    padding-right: 10px;
}

.singleInfoSummary .infoContentHeader h2.panelHeader
{
    font-size: 1.8em;
    font-weight: bold;
    max-width: 60%;
}

.infoContentHeader h2.panelHeader.contactPanelHeader
{
    background-position: left -656px;
}
.infoContentHeader h2.panelHeader.groupPanelHeader
{
    background-position: left -697px;
}


.singleInfoSharing .sharingSummary {
    border-top: 1px solid #e1d3b6;
    margin-top: 5px;
}
.singleInfoSharing .sharingSummary p
{
    background: url(/stylesheets/images/info_pane/icon_summary_blists_header_sprites.png) left top no-repeat;
    background-position: left -287px;
    font-size: 1.2em;
    height: 41px;
    line-height: 41px;
    overflow: hidden;
    padding-left: 46px;
}
.singleInfoSharing .sharingSummary p.public
{
    background-position: left -574px;
}
.singleInfoSharing .sharingSummary p.privateShared
{
    background-position: left -615px;
}

.singleInfoSharing .sharingSummary p a
{
    color: #333333;
    font-style: italic;
    text-decoration: underline;
}

#infoPane .gridListContainer.simple table.gridList td > *
{
    margin: 2px 0;
}

.singleInfoSharing table.gridList tr.hover td+td > *,
.singleInfoSharing table.gridList tr.selected td+td > *,
.singleInfoSharing table.gridList tr.hover.selected td+td > *
{
    background-color: #ffedb2;
}

#infoPane .singleInfoSharing table.gridList .actionContainer
{
    width: 8.5em;
}

/*** END: single info sharing tab ***/

/*** START: single info publishing tab ***/

.singleInfoPublishing .infoContentHeader h2.panelHeader
{
    background-position: left -328px;
}
.singleInfoPublishing .infoContentHeader h2.panelHeader + h2.panelHeader
{
    background-position: 5px -369px;
    border-left: 1px solid #e1d3b6;
    margin-left: 15px;
    padding-left: 51px;
}

.singleInfoPublishing .publishContent
{
    border-top: 1px solid #e1d3b6;
    padding-top: 1em;
}
.singleInfoPublishing .publishContent p
{
    font-size: 1.2em;
}
.singleInfoPublishing .publishContent .publishCode { margin-top: 2em; }
.singleInfoPublishing .publishContent .publishCode p
{
    font-size: 1.4em;
}
.singleInfoPublishing .publishContent .copyCode textarea
{
    font-size: 1.1em;
    height: 7em;
    overflow: hidden;
    padding: .5em;
    width: 45.5em;
}

/*  The following rules define styles for stuff that isn't currently implemented. 
    TODO: clean it all up once the publishing table is implemented.
*/
#infoPane table.gridList .widgetBlist { width: 40%; }
#infoPane table.gridList .widgetType { width: 6em; }
#infoPane table.gridList .link { width: 40%; }
#infoPane table.gridList .number { width: 4em; }
#infoPane table.gridList th.number { text-align: center; }
#infoPane table.gridList td.number { text-align: right; }
#infoPane .singleInfoPublishing table.gridList .actionContainer { width: 6em; }

/*** END: single info publishing tab ***/

/*** START: single info activity tab ***/

.singleInfoActivity .infoContentHeader h2.panelHeader
{
    background-position: left -410px;
}

/*** END: single info activity tab ***/

/*** END: content ***/
