/* 
    Document   : layout.css
    Created on : Jan 13, 2009, 3:25:51 PM
    Author     : jeff.scherpelz@blist.com
    Description:
      Main layout of the page (sidebar, info pane, main area with tabs)
*/

body
{
  min-width: 46.6em;
  min-height: 500px;
}

#mainContainer
{
  padding-bottom: 6em;
  padding-right: 26.6em;
}

#mainContainer .column
{
  float: left;
  position: relative;
}

#mainContent
{
  width: 100%;
}

#sidebar
{
  margin-right: -26.6em;
  /* account for height of tabs in mainContent */
  margin-top: 21px;
  padding-left: 1em;
  width: 24.6em;
}

