/* 
    Document   : layout.css
    Created on : Jan 13, 2009, 3:25:51 PM
    Author     : jeff.scherpelz@blist.com, pete.stuart@blist.com
    Description:
      Main layout of the page (sidebar, info pane, main area with tabs)
*/

body
{
  min-width: 46.6em;
  min-height: 65em;
}

.oneColumnContainer
{
    padding-top: .5em;
}

.twoColumnContainer
{
  padding-right: 28em;
  padding-top: 1em;
}

.tabContainer { padding-top: 0; }

.twoColumnContainer .column
{
  float: left;
  position: relative;
}

#mainColumnContent
{
    min-width: 72.9em;
    width: 100%;
}

#sidebar
{
  margin-right: -28em;
  /* account for height of tabs in mainContent */
  padding-left: 1em;
  width: 26em;
}
.tabContainer #sidebar { padding-top: 26px; }

