/* General modal tweaks */
.widgetModal .modalDialog
{
    margin: 5em 0 0 -21em;
    width: 42em;
}

.widgetModal .submitLine
{
    border: none;
    margin-top: 0;
    padding-top: 1em;
}

.widgetModal .modalScrollContent
{
    overflow: auto;
    width: 100%;
}

.widgetModal .header h1
{
    font-size: 1.8em;
    height: auto;
}

/*** START: Email This Dataset ***/

.widgetModal .dialogBox .header .emailDialogIcon
{
    background-position: 0 -109px;
}

.widgetModal .emailDatasetWrapper .submitLine .submitActions
{
    width: 200px;
}

.widgetModal .emailDatasetWrapper .formHeader
{
    float: none;
    margin: 1em 0;
    text-align: left;
    width: auto;
}

.widgetModal .emailDatasetWrapper .formContainer
{
    margin: 1em 0 0 5.5em;
    padding-bottom: 1.5em;
}

/*** END: Email This Dataset ***/

/*** START: Print This Dataset ***/

.widgetModal .dialogBox .header .printDialogIcon
{
    background-position: 0 -82px;
}

.widgetModal .printDatasetWrapper form
{
    margin-top: -1em;
}

.widgetModal .printDatasetWrapper .columnLeft,
.widgetModal .printDatasetWrapper .columnRight
{
    border: none;
    float: none;
    margin: 0;
    margin-left: 1.5em;
    padding: 0;
}

.widgetModal .printDatasetWrapper label.formHeader
{
    margin: 1em 0 0.5em;
    padding: 0;
}

.widgetModal .printDatasetWrapper .formSection
{
    float: left;
    margin-right: 1em;
    padding-bottom: 1em;
}

/*** END: Print This Dataset ***/

/*** START: About SDP ***/
.widgetModal .aboutSDPWrapper .mainContent
{
    padding-bottom: 0;
    padding-top: 0.5em;
}

.widgetModal .aboutSDPWrapper .logo
{
    background-image: url(/stylesheets/images/common/socrata_logo_about.png);
    background-repeat: no-repeat;
    float: right;
    height: 34px;
    margin: 0 0 10px 15px;
    width: 120px;
}

.widgetModal .aboutSDPWrapper p
{
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 1em;
    text-align: justify;
}

.widgetModal .aboutSDPWrapper .submitLine { padding-top: 0; }
.widgetModal .aboutSDPWrapper .actionButtons { margin-top: 0; }
/*** END: About SDP ***/

.widgetModal .dialogBox .header .analyticsDialogIcon
{ background-position: 0 -190px; }
