/*** START: Modal Dialogs ***/

.jqmWindow
{
    display: none;
    left: 50%;
    min-height: 0;
    position: fixed;
    top: 0;
}
.jqmOverlay { background-color: #000; }

* html .jqmWindow { position: absolute; }
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

.modalTR
{
    background: url(/stylesheets/images/content/modal_corner_TR.png) right top no-repeat;
    margin-left: 16px;
    padding: 16px 10px 0 0;
}
.modalTL
{
    background: url(/stylesheets/images/content/modal_corner_TL.png) left top no-repeat;
    margin: -16px 0 0 -16px;
    padding: 16px 0 0 16px;
}
.modalBR
{
    background: url(/stylesheets/images/content/modal_corner_BR.png) right bottom no-repeat;
    margin-right: -10px;
    padding: 0 10px 23px 0;
}
.modalBL
{
    background: url(/stylesheets/images/content/modal_corner_BL.png) left bottom no-repeat;
    margin: 0 0 -23px -16px;
    padding: 0 0 23px 16px;
}
.modalOuter
{
    background: url(/stylesheets/images/content/modal_right.png) right top repeat-y;
    margin: 0 -11px 0 -16px;
    padding: 0 11px 0 0;
}
.modalInner
{
    background-color: #fff;
    min-height: 0;
    padding: 0 1em;
    position: relative;
}

.modalContentWrapper { padding: 1em; }

.modalContentWrapper .subtitle { color: #999999; }

/*** END: Modal Dialogs ***/

/*** START: Modal form submit line ***/

.modalContentWrapper .submitLine
{
    border-top: 1px solid #cacaca;
    margin-top: 1em;
    padding-top: 1em;
}
.modalContentWrapper .submitLine .submitActions
{
    float: right;
    width: 200px;
}
.modalContentWrapper .submitLine .submitActions li
{
    float: left;
    margin-left: 10px;
    width: 90px;
}
.modalContentWrapper .submitLine li.cancelButton
{
    background-color: #656565;
    background-image: url(/stylesheets/images/widgets/background_buttons_summary_sprites.png);
    background-position: left -63px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.modalContentWrapper .submitLine li.cancelButton a
{
    background-image: url(/stylesheets/images/widgets/background_buttons_summary_sprites.png);
    background-position: right -84px;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-size: 1.2em;
    height: 20px;
    line-height: 20px;
    padding: 1px 10px 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

/*** END: Modal form submit line ***/

/*** START: Tag Cloud ***/
#tagCloud
{
    margin-left: -40em;
    top: 5em;
    width: 80em;
}

.tagCloudContainer
{
    background-color: #f5f5f5;
    padding: 1.5em;
}
.tagCloudWrapper h1
{
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 1.8em;
}
.tagCloudContainer p
{
    line-height: 2.6em;
    text-align: center;
}
.tagCloudContainer a
{
    margin: 0 .3em;
}

.tagCloudWrapper .closeContainer
{
    position: absolute;
    right: 1em;
    top: -.5em;
}
.tagCloudWrapper .closeContainer a
{
    background: url(/stylesheets/images/content/section_close_button.png) right top no-repeat;
    color: #666;
    padding: .2em 1.8em 0 0;
    text-transform: uppercase;
}
/*** END: Tag Cloud ***/

/*** START: Invitation form ***/

.invitationWrapper, .shareWrapper
{
    padding: 1em;
}

.invitationWrapper p, .shareWrapper p
{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.invitationWrapper input.textEmail,
.shareWrapper input.textEmail { width: 27em; }
.invitationWrapper input[type='checkbox'],
.shareWrapper input[type='checkbox'] { vertical-align: middle; }
.invitationWrapper .invitationText,
.shareWrapper .shareText
{
    font-size: 1em;
    width: 45em;
}
.invitationWrapper input[type='image'],
.shareWrapper input[type='image']
{
    margin-right: 1em;
    vertical-align: middle;
}
.invitationWrapper .submitLine a,
.shareWrapper .submitLine a
{
    color: #333;
    font-size: 1.2em;
    text-transform: uppercase;
}

.recipientsShowTableContainer
{
    max-height: 135px;
    overflow: auto;
}
.recipientsEditTableContainer
{
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding-top: 1em;
}

.recipientsWrapper table
{
    table-layout: fixed;
    width: 100%;
}
.recipientsWrapper table .add_handle { width: 22px; }
.recipientsWrapper table .add_email { width: 50%; }
.recipientsWrapper table .add_first_name,
.recipientsWrapper table .add_last_name { width: 25%; }
.recipientsWrapper table .add_action { width: 90px; }

.shareWrapper .recipientsWrapper table .add_email { width: 100%; }
.shareWrapper .recipientsWrapper table .add_type { width: 172px }

#add_type.blist-combo { width: 140px; }

.recipientsWrapper thead { background-color: #06386a; }
.recipientsWrapper thead th
{
    background-color: #06386a;
    border-right: 1px solid #d4d4d4;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    padding: .5em;
    text-align: left;
}
.recipientsWrapper tbody td
{
    /* FF bug draws gray right border on cells when there's more than 2 rows if border undefined. */
    border-right: 1px solid #fff;
    padding: .3em 0;
    vertical-align: middle;
}
.recipientsShowTableContainer tbody td { 
    font-size: 1.2em;
    padding: .2em .5em;
}
.recipientsEditTableContainer tbody td { vertical-align: top; }

.recipientsWrapper table td.add_handle { padding: 0; }
.recipientsWrapper table td.add_email { padding: .3em .5em; }

.recipientsWrapper .recipientsEditTableContainer table td.add_type,
.recipientsWrapper .recipientsEditTableContainer table td.add_action { padding: 1.5em .5em .3em; }

.recipientsShowTableContainer table td.add_handle a,
.recipientsEditTableContainer table td.add_handle span
{
    background: url(/stylesheets/images/profile/profile_links_delete.png) center center no-repeat;
    display: block;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 22px;
}
.recipientsEditTableContainer table td.add_handle span
{
    background-image: url(/stylesheets/images/profile/profile_links_add.png);
}

.recipientsWrapper table td input[type='text']
{
    display: block;
    font-size: 1.2em;
    width: 90%;
}
.shareWrapper .recipientsWrapper table td input[type='text'] { width: 345px; }
.recipientsWrapper .blist-combo-wrapper { width: 90%; }

.recipientsWrapper td.add_email p:first-child { margin: 0; }
.recipientsWrapper td.add_email p { margin: .5em 0 0; }

.invitationPreviewContainer {
    background-color: #ececec;
    margin-bottom: 1em;
    padding: 1em;
}

/* errors */
.recipientsShowTableContainer tr.error
{
    background-color: #ffb2b2;
}
#shareErrors { display: none; }

/*** END: Invitation form ***/


/*** START: New Dataset form ***/

.modalContentWrapper.newDatasetWrapper { padding-bottom: 0; }
.newDatasetWrapper p, .newDatasetWrapper label 
{
    font-size: 1.2em;
    line-height: 1.75em; /* 21px */
}

.newDatasetWrapper td 
{
    padding: 0.5em;
    vertical-align: top;
}
.newDatasetWrapper .labelColumn
{
    padding-right: 1em;
    text-align: right;
}

.newDatasetWrapper input[type="text"],
.newDatasetWrapper textarea
{
    width: 30em;
}
.newDatasetWrapper input[type="radio"]
{
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.newDatasetWrapper .privacyButtons,
.newDatasetWrapper .advancedPrivacy { display: none; }

/*** END: New Dataset form ***/

/*** START: Print Dataset form ***/

.modalDialog .dialogBox .header .printDialogIcon
{
    background-image: url(/stylesheets/images/content/dialog_header_icons.png);
    background-position: 0 -77px;
    background-repeat: no-repeat;
    padding-left: 35px;
}

.printDatasetWrapper .columnLeft
{
    float: left;
    margin-top: -15px;
    padding-left: 15px;
    width: 290px;
}

.printDatasetWrapper .columnRight
{
    border-left: 1px solid #cacaca;
    margin: 15px 0 20px 335px;
    padding-left: 30px;
}

.printDatasetWrapper label,
.printDatasetWrapper input
{
    font-size: 1.3em;
}

.printDatasetWrapper .margins label
{
    display: inline-block;
    text-align: right;
    width: 50px;
}

.printDatasetWrapper .margins input
{
    display: inline-block;
    margin: 5px 10px 0 5px;
    width: 50px;
}

.printDatasetWrapper .columnRight label
{
    padding-left: 25px;
}
.printDatasetWrapper .columnRight input
{
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 8px 0 -14px 5px;
    padding: 0;
}

.printDatasetWrapper label.formHeader
{
    display: block;
    font-weight: bold;
    margin: 15px 0 5px;
}

.printDatasetWrapper .submitLine
{
    clear: both;
    margin-top: 10px;
}

/*** END: Print Dataset form ***/


/*** START: Email this Dataset form ***/

.modalDialog .dialogBox .header .emailDialogIcon
{
    background-image: url(/stylesheets/images/content/dialog_header_icons.png);
    background-position: 0 -104px;
    background-repeat: no-repeat;
    padding-left: 35px;
}

.emailDatasetWrapper .submitLine .actionButtons { margin-top: 0; }

.emailDatasetWrapper .formHeader
{
    font-size: 1.3em;
    float: left;
    margin: 0 2em;
    padding: 3px;
    text-align: right;
    width: 20em;
}

.emailDatasetWrapper .formContainer
{
    margin: 2em 0 1em 33em;
    padding-bottom: 3em;
}

.emailDatasetWrapper .formContainer input
{
    width: 20em;
}

.emailDatasetWrapper label.error
{
    float: left;
    margin: 3px;
}

.emailDatasetWrapper .emailFormRemoveButton
{
    background: transparent url(/stylesheets/images/content/section_close_button.png) no-repeat scroll 0 0;
    bottom: 3px;
    display: inline-block;
    height: 16px;
    position: relative;
    text-indent: -9999px;
    width: 16px;
}

.emailDatasetWrapper #emailFormMoreButton.disabled
{
    color: #aaa;
    cursor: default;
}

.emailDatasetWrapper .formContainer .actionButtons
{
    clear: both;
    float: none;
    margin: 5px 0;
}

.emailDatasetWrapper .submitLine
{
    clear: both;
    margin-top: 2em;
}

.emailDatasetWrapper .submitLine .submitActions
{
    width: 300px;
}

.emailDatasetWrapper .loadingIndicator
{
    background: url(/images/throbber.gif);
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}

.emailDatasetWrapper .successMessage p { margin: 2em; font-size: 1.3em; }
.emailDatasetWrapper .successMessage .submitActions { width: 100px; }

/*** END: Email this Dataset form ***/

/*** START: Column properties***/
.columnPropertiesWrapper .tabWrapper
{
  background-color: #ccc;
}

.columnPropertiesWrapper .tabs
{
  background-color:#ccc;
  position:absolute;
  left: 0;
  width: 15em;
}
.columnPropertiesWrapper .tabContent
{
  min-height: 25em;
  background-color: #fff;
  margin-left: 150px;
  display: none;
}

.columnPropertiesWrapper .tabs ul.tabSelector
{
  width: 15.1em;
  padding: 0;
  margin: 0;
}

.columnPropertiesWrapper .tabs ul.tabSelector li a
{
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.6em;
  display: block;
  color: #000;
}

.columnPropertiesWrapper .tabs ul.tabSelector li a.selected
{
  background-color: #fff;
}

.columnPropertiesWrapper .tabs ul.tabSelector li a:hover
{
  background-color: #fff;
  text-decoration: none;
}

.columnPropertiesWrapper .currencies, .alignment
{
  padding: 0.6em;
}
.columnPropertiesWrapper .alignment li
{
  padding: 0.6em;
  list-style-type: none;
  display: inline;
}

.columnPropertiesWrapper .alignment p
{
  display: inline;
}

#modal .seperator { border-bottom: solid 1px #ccc; }
.columnPropertiesWrapper tr.seperator td
{
  padding: 0;
}
.columnPropertiesWrapper .tabContent span.helpie
{
  vertical-align: middle;
}

.columnPropertiesWrapper h4.subtitle
{
  color: #999;
  padding: 0.2em 0 0.2em 0;
}

.columnPropertiesWrapper .displayOptions
{
  padding: 0.6em;
}

.columnPropertiesWrapper .hidden { display: none; }

.sortBysList .createBar,
.columnPropertiesWrapper .saveBar,
.columnPropertiesWrapper .createBar
{
  color: #666666;
  font-size: 1.1em;
}

.columnPropertiesWrapper .saveBar
{
  width: 525px;
  margin-left: 165px;
  position: absolute;
  bottom: -5px;
}

.columnPropertiesWrapper .controlBar
{
    margin-top: 0.7em;
}

.columnPropertiesWrapper div.required
{
    float: left;
}
.createBar .error,
.columnPropertiesWrapper .error
{
  padding: 0.3em;
  margin-right: 1em;
  vertical-align: middle;
  font-size: 1.2em;
}
.columnPropertiesWrapper ul.actionButtons { margin-top: 0; }

.modalContentWrapper.columnPropertiesWrapper { padding-bottom: 0; }
.columnPropertiesWrapper p, .columnPropertiesWrapper label
{
    font-size: 1.2em;
    line-height: 1.75em; /* 21px */
    vertical-align: middle;
}

.columnPropertiesWrapper td 
{
    padding: 0.5em;
    vertical-align: top;
}

.columnPropertiesWrapper td.middle
{
    vertical-align: middle;
}
.columnPropertiesWrapper td.fieldColumn strong
{
    font-size: 1.2em;
}
.columnPropertiesWrapper .labelColumn
{
    padding-right: 1em;
    text-align: right;
}

.columnPropertiesWrapper input[type="text"],
.columnPropertiesWrapper textarea
{
    width: 30em;
}
#columnCreate input[type="text"],
#columnCreate textarea
{
    width: 42em;
}
.columnPropertiesWrapper input[type="radio"]
{
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.convertDropdown
{
    margin-left: 1em;
    text-transform: uppercase;
    background-image:url(/stylesheets/images/widgets/dropdown_button/menu_bar_arrow.png); 
    background-repeat: no-repeat;
    background-position: 45px -4px;
    padding-right: 25px;
    color: #999;
    font-size: 1em;
}

ul.convertables
{
    padding: 0.75em;
    margin-bottom: 1.5em;
    font-size: 1.2em;
    background-color: #ccc;
}

ul.convertables li a.light
{
    color: #aaa;
}

ul.convertables li a
{
    vertical-align: bottom;
    background-image: url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-repeat: no-repeat;
    padding: 0.2em;
    padding-left: 1.75em; 
    padding-top: 0.3em;
    height: 1.3em;
    display: block;
    font-size: 1em;
    text-decoration: none;
    color: #666;
}

ul.convertables li a:hover
{
    background-color: #666;
    color: #fff;
}

#loadingSpinner
{
    position: absolute;
    top: 150px;
    background-image: url(/stylesheets/images/common/BrandedSpinner.gif);
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
}

.datatype-none { background-position: 0 20px; }
.datatype-text { background-position: 0 -80px; }
.datatype-richtext { background-position: 0 -60px; }
.datatype-number { background-position: 0 -20px; }
.datatype-money { background-position: 0 -40px; }
.datatype-percent { background-position: 0 0; }
.datatype-date { background-position: 0 -340px; }
.datatype-phone { background-position: 0 -240px; }
.datatype-email { background-position: 0 -260px; }
.datatype-url { background-position: 0 -360px; }
.datatype-checkbox { background-position: 0 -120px; }
.datatype-stars { background-position: 0 -140px; }
.datatype-flag { background-position: 0 -380px; }
.datatype-photo { background-position: 0 -100px; }
.datatype-document { background-position: 0 -280px; }
.datatype-nested_table { background-position: 0 -440px; }
.datatype-tag { background-position: 0 -180px; }
.datatype-picklist { background-position: 0 -400px; }

.typeSelect
{
    background-image:url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-repeat: no-repeat;
    padding:0.2em;
    padding-left: 1.75em; 
}

#typeReadOnly
{
    background-image:url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-repeat: no-repeat;
    padding:0.2em;
    padding-left: 1.75em; 
    height: 2em;
    vertical-align: middle;
}

.modalDialog .dialogBox .header .columnPropertiesIcon
{
    background-image: url(/stylesheets/images/content/dialog_header_icons.png);
    background-position: 0 4px;
    background-repeat: no-repeat;
    padding-left: 35px;
}

.align
{
    background-image:url(/stylesheets/images/content/AlignmentSprites.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.alignLeft
{
    background-position: 0 0;
}

.alignCenter
{
    background-position: 0 -13px;
}

.alignRight
{
    background-position: 0 -26px;
}

#columnCreate table 
{
    width: 100%;
}

#columnCreate table td
{
    padding: 1em;
}

.createBar
{
    padding: 1em;
    padding-bottom: 2em;
}

.createBar .seperator
{
    margin-bottom: 1em;
}

/*** END: Column properties***/

/*** START: Message the owner of this dataset ***/
.flagDataset .dialogBox .header h1#flagHeader
{
  background-image: url(/stylesheets/images/content/flag_modal_icon.png);
  background-position: 2px center;
  padding-left: 37px;
}

.dialogWrapper.modalDialog.flagDataset
{
    margin: 5em 0 0 -28.25em;
    width: 56.5em;
}
.flagDatasetWrapper label,
.flagDatasetWrapper p
{
    font-size: 1.2em;
    line-height: 1.75em; /* 21px */
    vertical-align: middle;
}

.flagDatasetWrapper .labelColumn
{
    vertical-align: top;
}

.flagDatasetWrapper label.error 
{
    display: block;
}

.flagDatasetWrapper #error,
.flagDatasetWrapper .errorMessage
{
    font-size: 1.2em;
    padding: 0.3em;
    padding-bottom: 0.7em;
    margin-right: 1em;
    vertical-align: middle;
}

.flagDatasetWrapper #submit
{
    float: right;
}

.flagDatasetWrapper input[type="text"],
.flagDatasetWrapper textarea
{
    margin-top: 0.5em;
    width: 35.5em;
}

.flagDatasetWrapper .labelColumn
{
    padding-right: 1em;
    text-align: right;
}

.flagDatasetWrapper .submitLine 
{
    width: 53.8em;
}

.flagDatasetWrapper .submitLine .submitActions
{
    width: 53.8em;
}

.flagDatasetWrapper .submitline li.left
{
    float: left;
}

.flagDatasetWrapper .submitLine li.right
{
    float: right;
}
/*** END: Message the owner of this dataset ***/

/*** START: New Customization Template ***/
.dialogWrapper.modalDialog.newCustomization 
{
    margin-left: 12em;
    width: 56.5em;
}

.newCustomizationWrapper label
{
    display: block;
    font-size: 1.3em;
    height: 2.5em;
    margin: 0.5em 0 -2.7em;
    padding-right: 1em;
    text-align: right;
    width: 14em;
}

.newCustomizationWrapper label.error
{
    font-size: 1.1em;
    height: 1.5em;
    margin: 0.5em 0 0 18.5em;
    text-align: left;
    width: 30em;
}

.newCustomizationWrapper input,
.newCustomizationWrapper textarea
{
    margin-left: 200px;
    padding: 0.2em;
    width: 22em;
}

.newCustomizationWrapper select
{
    margin-left: 200px;
    padding: 0;
    width: 22em;
}

.newCustomizationWrapper .requiredText
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    padding-left: 1.5em;
    position: absolute;
}

.newCustomizationWrapper .actionButtons
{
    margin-top: 0;
}

.newCustomizationWrapper .submitLine .submitActions
{
    width: 100px;
}
/*** END: New Customization Template ***/

/*** START: New Image Template ***/
.dialogWrapper.modalDialog.newImage 
{
    margin-left: 12em;
    width: 56.5em;
}

.newImageWrapper label
{
    display: block;
    font-size: 1.3em;
    height: 2.5em;
    margin: 0.5em 0 -2.7em;
    padding-right: 1em;
    text-align: right;
    width: 10em;
}

.newImageWrapper label.error
{
    font-size: 1.1em;
    height: 1.5em;
    margin: 0.5em 0 0 14em;
    text-align: left;
    width: 30em;
}

.newImageWrapper input
{
    margin-left: 12.5em;
    padding: 0.2em;
    width: 17em;
}

.newImageWrapper .fileBrowseButtonListContainer
{
    display: inline;
    position: absolute;
    right: 7em;
}

.newImageWrapper .requiredText
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    padding-left: 1.5em;
    position: absolute;
}

.newImageWrapper .actionButtons
{
    margin-top: 0;
}

.newImageWrapper .submitLine .submitActions
{
    width: 100px;
}
/*** END: New Image Template ***/

/*** START: Version Info ***/
dl.versionInfo
{
    font-size: 1.3em;
}

dl.versionInfo dd
{
  padding-left: 15px;
  padding-bottom: 10px;
} 
/*** END: Version Info ***/

/*** START: Sort dialog ***/

#sortBysList p#sortOrderLabel
{
    left: 20.6666em;
}

#sortBysList .seperator
{
   padding: 20px; 
}

#modal .subHeader
{
    padding: 1em;
    padding-bottom: 0;
    font-size: 1.2em;
    color: #666;
}

#sortBysList .border,
#sortBysList .border-right
{
    height: 176px;
    width: 25.2em; 
    border: 1px solid #999;
    position: absolute;
    left: 4em;
    top: 13px;
}

#sortBysList .border-right
{
    left: 38.3em;
}

.modalDialog .dialogBox .header .sortOrderIcon
{
    background-image: url(/stylesheets/images/content/dialog_header_icons.png);
    background-position: 0 -27px;
    background-repeat: no-repeat;
    padding-left: 35px;
}

#sortBysList .inactiveList .type
{
   right: 210px; 
}

#sortBysList .inactiveList .itemWrapper
{
    padding-left: 28px;
}

#sortBysList .orderIndex
{
    margin-right: 25px;
}

#sortBysList.reorderList .swapArrows a
{
    top: 100px;
    background: transparent url(/stylesheets/images/widgets/reorder_list/reorder_buttons_white.png) repeat scroll 0 0;
}
#sortBysList.reorderList .swapArrows a.removeItemButton { background-position: 0 -21px; }


#sortBysList .type
{
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0.33em;
    right: 16.25em;
    background-image: url(/stylesheets/images/common/datatypes/data_type_sprites.png);
}

div.itemWrapper
{
    overflow: hidden;
    line-height: 1.4em;
}

#sortBysList p
{
    color: #999;
    position: absolute;
    font-size: 1.2em;
}

#sortBysList p.left
{
    left: 3.75em;
}

#sortBysList p.right
{
    left: 31.583em;
}

div.itemWrapper div.ascension
{
    position: absolute;
    right: 0;
    top: 1px;
    width: 25px;
    height: 12px;
    padding: 0.3em;
    margin: 0.2em;
    border-left: 1px solid #999;
    cursor: auto;
    background-color: white;
}

div.activeList li.hover div.itemWrapper div.ascension,
div.activeList li.reorderList-selected div.itemWrapper div.ascension
{
    background-color: #c8e2f7;
}

div.itemWrapper div.sort
{
    background-image: url(/stylesheets/images/content/table/sort_arrow_sprites.png);
    background-repeat: no-repeat;
    background-position: 5px 0;
    height: 12px;
    width: 25px;
}
div.itemWrapper div.sort.sort-asc 
{ 
    background-position: 5px -24px; 
    cursor: auto;
}
div.itemWrapper div.sort.sort-asc:hover,
div.itemWrapper div.sort.ascension:hover .sort-asc
{ 
    background-position: 5px -12px; 
    cursor: auto;
}
div.itemWrapper div.sort.sort-desc:hover, 
div.itemWrapper div.sort.ascension:hover .sort-desc
{ 
    background-position: 5px -36px; 
    cursor: auto;
}

div#sortBysList .activeList,
div#sortBysList .inactiveList
{
    height: 17.5em;
    overflow: auto;
    width: 26em;
    padding-left: 3.5em;
    margin-top: 1.5em;
    position: relative;
}

#sortBysList .removeAllLink
{
    position: absolute;
    bottom: -1.2em;
    left: 4.5em;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

div#sortBysList.reorderList ul.reorder
{
    width: 239px;
    border: none;
}

div#sortBysList .swapArrows
{
    margin-left: 8px;
}

div#sortBysList.reorderList li .itemWrapper
{
    border-top: none;
    border-bottom: 1px solid #D0D0D0;
}

.createBar ul.saveButton
{
    width: 14em;
    margin-top: 0;
    margin-right: 1em;
}

.createBar ul.saveButton li
{
    width: 14em;
}

/*** END: Sort dialog ***/

/*** START: Filter dialog ***/
.modalDialog .dialogBox .header .filterIcon
{
    background-image: url(/stylesheets/images/content/dialog_header_icons.png);
    background-position: 0 -160px;
    background-repeat: no-repeat;
    padding-left: 35px;
}

.filterDatasetWrapper #filterList
{
    padding: 1em;
}

.filterDatasetWrapper p
{
    font-size: 1.2em;
    padding: 0.5em 0;
}

.filterDatasetWrapper .information
{
    display: none;
    text-align: center;
}

.filterDatasetWrapper .submitLine
{
    clear: both;
}

.filterDatasetWrapper .submitLine .submitActions
{
    width: 150px;
}

.filterDatasetWrapper .submitLine .submitActions li
{
    width: 125px;
}

/* table styles */
.filterDatasetWrapper .filterTableHeaderRow
{
    color: #fff;
    height: 24px;
    font-size: 1.2em;
    font-weight: bold;
}

.filterDatasetWrapper .filterTableHeaderRow .filterTableCell
{
    height: 24px;
    line-height: 20px;
}

.filterDatasetWrapper .filterTableBody
{
    background-color: #ececec;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
}

.filterDatasetWrapper .filterTableRow
{
    clear: both;
}

.filterDatasetWrapper .filterTableCell
{
    float: left;
    padding: 0.3em;
}

.filterDatasetWrapper .filterTableRowTemplate
{
    display: none;
}

.filterDatasetWrapper #filterTable
{
    padding-bottom: 1em;
}

.filterDatasetWrapper .blist-combo
{
    background-color: #fff;
}

/* table: specific columns */
.filterDatasetWrapper .filterTable-delete
{
    width: 18px;
}

.filterDatasetWrapper .filterTable-delete a
{
    background: transparent url(/stylesheets/images/content/section_close_button.png) no-repeat scroll 0 0;
    display: block;
    height: 16px;
    margin: 2px;
    text-indent: -9999px;
    width: 16px;
}

.filterDatasetWrapper .filterTableFooter .filterTable-delete a
{
    display: none;
}

.filterDatasetWrapper .filterTable-name
{
    width: 175px;
}

.filterDatasetWrapper .filterTable-name .blist-combo-dd
{
    overflow-x: hidden;
    text-align: left;
}

.filterDatasetWrapper .filterTable-name .typeSelect
{
    white-space: nowrap;
}

.filterDatasetWrapper .filterTable-name .datatype-none,
.filterDatasetWrapper .filterTable-condition .blist-combo-disabled
{
    color: #888;
    font-style: italic;
}

.filterDatasetWrapper .filterTable-condition
{
    width: 125px;
}

.filterDatasetWrapper .filterTable-editor input,
.filterDatasetWrapper .filterTable-editor .blist-combo-value,
.filterDatasetWrapper .filterTable-editor .blist-combo-dd li
{
    font-size: 1em;
}

.filterDatasetWrapper .filterTable-editor input,
.filterDatasetWrapper .filterTable-editor .blist-combo
{
    border: 1px solid #cacaca;
}

.filterDatasetWrapper .filterTable-editor > input
{
    font-size: 1.3em;
}

.filterDatasetWrapper #filterTable .between input
{
    font-size: 1em;
    padding: 0.1em;
    width: 7.5em;
}

.filterDatasetWrapper #filterTable .renderer.between 
{
    float: left;
}

.filterDatasetWrapper #filterTable .blist-table-editor
{
    border: none;
}

.filterDatasetWrapper #filterTable .type-url .labels
{
    position: absolute;
    text-align: right;
    width: 5em;
}

.filterDatasetWrapper #filterTable .type-url .labels span
{
    display: block;
    margin-top: 0.4em;
}

.filterDatasetWrapper #filterTable .type-url input
{
    display: block;
    margin-left: 6em;
    margin-top: 0.1em;
    width: 10.5em;
}

.filterDatasetWrapper #filterTable .ampersand
{
    float: left;
    font-size: 1.2em;
    padding: 0.2em;
}

.filterDatasetWrapper .filterTable-add
{
    float: right;
}

.filterDatasetWrapper .filterTable-add ul.actionButtons
{
    display: block;
    margin-right: 2.5em;
    margin-top: 0em;
}

.filterDatasetWrapper .filterTableBody .filterTable-add ul.actionButtons
{
    display: none;
}

.filterDatasetWrapper .filterTableHeaderRow .filterTable-delete,
.filterDatasetWrapper .filterTableHeaderRow .filterTable-add
{
    text-indent: -9999px;
}

/*** END: Filter dialog ***/


/*** START: Create calendar dialog ***/
.modalDialog .dialogBox .header .calendarIcon
{
    background-image: url(/stylesheets/images/content/dialog_header_icons.png);
    background-position: 0 -50px;
    background-repeat: no-repeat;
    padding-left: 35px;
}

.calendarWrapper .subtitle { padding-bottom: 0.5em; }

.calendarWrapper form { margin-top: 1em; }

.calendarWrapper .section { margin-bottom: 3em; }

.calendarWrapper h3
{
    font-size: 1.3em;
    font-weight: normal;
    padding-bottom: 0.3em;
}

.calendarWrapper .seperator { margin-bottom: 0.5em; }
.calendarWrapper form p { font-size: 1.1em; }

.calendarWrapper .line { margin: 0.5em 0; }
.calendarWrapper .line .helpie { line-height: 1.7em; }

.calendarWrapper label
{
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    width: 6.5em;
}

.calendarWrapper .line select,
.calendarWrapper .line input
{
    font-size: 1.2em;
    margin-bottom: 0;
    width: 17em;
}
.calendarWrapper .line input { width: 16.4333em; }

.calendarWrapper span.error
{
    float: right;
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 0;
}

.calendarWrapper div.required { float: left; }
.calendarWrapper ul.actionButtons { margin-top: 0; }
/*** END: Create calendar dialog ***/

/*** START: Message the owner of this dataset ***/
.modalDialog .dialogBox .header .bulkIcon
{
    background-image: url(/stylesheets/images/content/dialog_header_icons.png);
    background-position: 0 -135px;
    background-repeat: no-repeat;
    padding-left: 35px;
}

.dialogWrapper.modalDialog.bulk 
{
    width: 56.5em;
}

.bulkOperationWrapper .helpText 
{
    font-size: 1.2em;
    line-height: 1.3em; /* 21px */
    margin-right: 3em;
    padding-bottom: 1em;
    text-align: justify;
}

.bulkOperationWrapper label
{
    display: block;
    font-size: 1.3em;
    height: 2.5em;
    margin: 0.5em 0 -2.7em;
    padding-right: 1em;
    text-align: right;
    width: 8em;
}

.bulkOperationWrapper label.error
{
    font-size: 1.1em;
    height: 1.5em;
    margin: 0.5em 0 0 14em;
    text-align: left;
    width: 30em;
}

.bulkOperationWrapper input
{
    margin-left: 12.5em;
    padding: 0.2em;
    padding-bottom: 1.5em;
    width: 17em;
}

.bulkOperationWrapper .fileBrowseButtonListContainer
{
    display: inline;
    position: absolute;
    right: 7em;
}

.bulkOperationWrapper .fileBrowseButtonListContainer .actionButtons
{
    margin-top: 0;
}

.bulkOperationWrapper span.helpie
{
    position: absolute;
    right: 5em;
}

.bulkOperationWrapper .requiredText
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    padding-left: 1.5em;
    position: absolute;
}

.bulkOperationWrapper #error,
.bulkOperationWrapper .errorMessage
{
    font-size: 1.2em;
    margin-right: 1em;
    padding: 0.3em;
    padding-bottom: 0.7em;
    vertical-align: middle;
}

.bulkOperationWrapper .submitLine 
{
    width: 53.8em;
}

.bulkOperationWrapper .submitLine .requiredText
{
    position: absolute;
}

.bulkOperationWrapper .submitLine .submitActions
{
    width: 100px;
}


/*** END: Message the owner of this dataset ***/
