/*** START: Modal Dialogs ***/

.jqmWindow
{
    display: none;
    left: 50%;
    margin-left: -40em;
    min-height: 0;
    position: fixed;
    top: 0;
    width: 80em;
}
.jqmOverlay { background-color: #000; }

* html .jqmWindow { position: absolute; }
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

.modalTR
{
    background: url(/stylesheets/images/content/modal_corner_TR.png) right top no-repeat;
    margin-left: 16px;
    padding: 16px 10px 0 0;
}
.modalTL
{
    background: url(/stylesheets/images/content/modal_corner_TL.png) left top no-repeat;
    margin: -16px 0 0 -16px;
    padding: 16px 0 0 16px;
}
.modalBR
{
    background: url(/stylesheets/images/content/modal_corner_BR.png) right bottom no-repeat;
    margin-right: -10px;
    padding: 0 10px 23px 0;
}
.modalBL
{
    background: url(/stylesheets/images/content/modal_corner_BL.png) left bottom no-repeat;
    margin: 0 0 -23px -16px;
    padding: 0 0 23px 16px;
}
.modalOuter
{
    background: url(/stylesheets/images/content/modal_right.png) right top repeat-y;
    margin: 0 -11px 0 -16px;
    padding: 0 11px 0 0;
}
.modalInner
{
    background-color: #fff;
    min-height: 0;
    padding: 0 1em;
    position: relative;
}

.modalContentWrapper { padding: 1em; }

/*** END: Modal Dialogs ***/

/*** START: Modal form submit line ***/

.modalContentWrapper .submitLine
{
    border-top: 1px solid #cacaca;
    margin-top: 1em;
    padding-top: 1em;
}
.modalContentWrapper .submitLine .submitActions
{
    float: right;
    width: 200px;
}
.modalContentWrapper .submitLine .submitActions li
{
    float: left;
    margin-left: 10px;
    width: 90px;
}
.modalContentWrapper .submitLine li.cancelButton
{
    background-color: #656565;
    background-image: url(/stylesheets/images/widgets/background_buttons_summary_sprites.png);
    background-position: left -63px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.modalContentWrapper .submitLine li.cancelButton a
{
    background-image: url(/stylesheets/images/widgets/background_buttons_summary_sprites.png);
    background-position: right -84px;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-size: 1.2em;
    height: 20px;
    line-height: 20px;
    padding: 1px 10px 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

/*** END: Modal form submit line ***/

/*** START: Tag Cloud ***/

.tagCloudContainer
{
    background-color: #f5f5f5;
    padding: 1.5em;
}
.tagCloudWrapper h1
{
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 1.8em;
}
.tagCloudContainer p
{
    line-height: 2.6em;
    text-align: center;
}
.tagCloudContainer a
{
    margin: 0 .3em;
}

.tagCloudWrapper .closeContainer
{
    position: absolute;
    right: 1em;
    top: -.5em;
}
.tagCloudWrapper .closeContainer a
{
    background: url(/stylesheets/images/content/section_close_button.png) right top no-repeat;
    color: #666;
    padding: .2em 1.8em 0 0;
    text-transform: uppercase;
}
/*** END: Tag Cloud ***/

/*** START: Invitation form ***/

.invitationWrapper, .shareWrapper
{
    padding: 1em;
}

.invitationWrapper p, .shareWrapper p
{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.invitationWrapper input.textEmail,
.shareWrapper input.textEmail { width: 27em; }
.invitationWrapper input[type='checkbox'],
.shareWrapper input[type='checkbox'] { vertical-align: middle; }
.invitationWrapper .invitationText,
.shareWrapper .shareText
{
    font-size: 1em;
    width: 45em;
}
.invitationWrapper input[type='image'],
.shareWrapper input[type='image']
{
    margin-right: 1em;
    vertical-align: middle;
}
.invitationWrapper .submitLine a,
.shareWrapper .submitLine a
{
    color: #333;
    font-size: 1.2em;
    text-transform: uppercase;
}

.recipientsShowTableContainer
{
    max-height: 135px;
    overflow: auto;
}
.recipientsEditTableContainer
{
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding-top: 1em;
}

.recipientsWrapper table
{
    table-layout: fixed;
    width: 100%;
}
.recipientsWrapper table .add_handle { width: 22px; }
.recipientsWrapper table .add_email { width: 50%; }
.recipientsWrapper table .add_first_name,
.recipientsWrapper table .add_last_name { width: 25%; }
.recipientsWrapper table .add_action { width: 90px; }

.shareWrapper .recipientsWrapper table .add_email { width: 100%; }
.shareWrapper .recipientsWrapper table .add_type { width: 172px }

#add_type.blist-combo { width: 140px; }

.recipientsWrapper thead { background-color: #06386a; }
.recipientsWrapper thead th
{
    background-color: #06386a;
    border-right: 1px solid #d4d4d4;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    padding: .5em;
    text-align: left;
}
.recipientsWrapper tbody td
{
    /* FF bug draws gray right border on cells when there's more than 2 rows if border undefined. */
    border-right: 1px solid #fff;
    padding: .3em 0;
    vertical-align: middle;
}
.recipientsShowTableContainer tbody td { 
    font-size: 1.2em;
    padding: .2em .5em;
}
.recipientsEditTableContainer tbody td { vertical-align: top; }

.recipientsWrapper table td.add_handle { padding: 0; }
.recipientsWrapper table td.add_email { padding: .3em .5em; }

.recipientsWrapper .recipientsEditTableContainer table td.add_type,
.recipientsWrapper .recipientsEditTableContainer table td.add_action { padding: 1.5em .5em .3em; }

.recipientsShowTableContainer table td.add_handle a,
.recipientsEditTableContainer table td.add_handle span
{
    background: url(/stylesheets/images/profile/profile_links_delete.png) center center no-repeat;
    display: block;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 22px;
}
.recipientsEditTableContainer table td.add_handle span
{
    background-image: url(/stylesheets/images/profile/profile_links_add.png);
}

.recipientsWrapper table td input[type='text']
{
    display: block;
    font-size: 1.2em;
    width: 90%;
}
.shareWrapper .recipientsWrapper table td input[type='text'] { width: 345px; }
.recipientsWrapper .blist-combo-wrapper { width: 90%; }

.recipientsWrapper td.add_email p:first-child { margin: 0; }
.recipientsWrapper td.add_email p { margin: .5em 0 0; }

.invitationPreviewContainer {
    background-color: #ececec;
    margin-bottom: 1em;
    padding: 1em;
}

/* errors */
.recipientsShowTableContainer tr.error
{
    background-color: #ffb2b2;
}
#shareErrors { display: none; }

/*** END: Invitation form ***/


/*** START: New Dataset form ***/

.modalContentWrapper.newDatasetWrapper { padding-bottom: 0; }
.newDatasetWrapper p, .newDatasetWrapper label 
{
    font-size: 1.2em;
    line-height: 1.75em; /* 21px */
}

.newDatasetWrapper td 
{
    padding: 0.5em;
    vertical-align: top;
}
.newDatasetWrapper .labelColumn
{
    padding-right: 1em;
    text-align: right;
}

.newDatasetWrapper input[type="text"],
.newDatasetWrapper textarea
{
    width: 30em;
}
.newDatasetWrapper input[type="radio"]
{
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.newDatasetWrapper .privacyButtons,
.newDatasetWrapper .advancedPrivacy { display: none; }

/*** END: New Dataset form ***/

/*** START: Print Dataset form ***/

.printDatasetWrapper .columnLeft
{
    float: left;
    margin-top: -15px;
    padding-left: 15px;
    width: 290px;
}

.printDatasetWrapper .columnRight
{
    border-left: 1px solid #cacaca;
    margin: 15px 0 20px 335px;
    padding-left: 30px;
}

.printDatasetWrapper label,
.printDatasetWrapper input
{
    font-size: 1.3em;
}

.printDatasetWrapper .margins label
{
    display: inline-block;
    text-align: right;
    width: 50px;
}

.printDatasetWrapper .margins input
{
    display: inline-block;
    margin: 5px 10px 0 5px;
    width: 50px;
}

.printDatasetWrapper .columnRight label
{
    padding-left: 25px;
}
.printDatasetWrapper .columnRight input
{
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 8px 0 -14px 5px;
    padding: 0;
}

.printDatasetWrapper label.formHeader
{
    display: block;
    font-weight: bold;
    margin: 15px 0 5px;
}

.printDatasetWrapper .submitLine
{
    clear: both;
    margin-top: 10px;
}

/*** END: Print Dataset form ***/


/*** START: Email this Dataset form ***/

.emailDatasetWrapper .submitLine .actionButtons { margin-top: 0; }

.emailDatasetWrapper .formHeader
{
    font-size: 1.3em;
    float: left;
    margin: 0 2em;
    padding: 3px;
    text-align: right;
    width: 20em;
}

.emailDatasetWrapper .formContainer
{
    margin: 2em 0 1em 33em;
    padding-bottom: 3em;
}

.emailDatasetWrapper .formContainer input
{
    width: 20em;
}

.emailDatasetWrapper label.error
{
    float: left;
    margin: 3px;
}

.emailDatasetWrapper .emailFormRemoveButton
{
    background: transparent url(/stylesheets/images/content/section_close_button.png) no-repeat scroll 0 0;
    bottom: 3px;
    display: inline-block;
    height: 16px;
    position: relative;
    text-indent: -9999px;
    width: 16px;
}

.emailDatasetWrapper #emailFormMoreButton.disabled
{
    color: #aaa;
    cursor: default;
}

.emailDatasetWrapper .formContainer .actionButtons
{
    clear: both;
    float: none;
    margin: 5px 0;
}

.emailDatasetWrapper .submitLine
{
    clear: both;
    margin-top: 2em;
}

.emailDatasetWrapper .submitLine .submitActions
{
    width: 300px;
}

.emailDatasetWrapper .loadingIndicator
{
    background: url(/images/throbber.gif);
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}

.emailDatasetWrapper .successMessage p { margin: 2em; font-size: 1.3em; }
.emailDatasetWrapper .successMessage .submitActions { width: 100px; }

/*** END: Print this form ***/
/*** START: Column properties***/
.columnPropertiesWrapper .tabWrapper
{
  background-color: #ccc;
}

.columnPropertiesWrapper .tabs
{
  background-color:#ccc;
  position:absolute;
  left: 0;
  width: 15em;
}
.columnPropertiesWrapper .tabContent
{
  min-height: 25em;
  background-color: #fff;
  margin-left: 150px;
  display: none;
}

.columnPropertiesWrapper .tabs ul.tabSelector
{
  width: 15.1em;
  padding: 0;
  margin: 0;
}

.columnPropertiesWrapper .tabs ul.tabSelector li a
{
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.6em;
  display: block;
  color: #000;
}

.columnPropertiesWrapper .tabs ul.tabSelector li a.selected
{
  background-color: #fff;
}

.columnPropertiesWrapper .tabs ul.tabSelector li a:hover
{
  background-color: #fff;
  text-decoration: none;
}

.columnPropertiesWrapper .currencies, .alignment
{
  padding: 0.6em;
}
.columnPropertiesWrapper .alignment li
{
  padding: 0.6em;
  list-style-type: none;
  display: inline;
}

.columnPropertiesWrapper .alignment p
{
  display: inline;
}

.columnPropertiesWrapper .seperator
{
  border-bottom: solid 2px #ccc;
}
.columnPropertiesWrapper tr.seperator td
{
  padding: 0;
}
.columnPropertiesWrapper .tabContent span.helpie
{
  vertical-align: middle;
}

.columnPropertiesWrapper h4.subtitle
{
  color: #999;
  padding: 0.2em 0 0.2em 0;
}

.columnPropertiesWrapper .displayOptions
{
  padding: 0.6em;
}

.sortBysList .createBar,
.columnPropertiesWrapper .saveBar,
.columnPropertiesWrapper .createBar
{
  color: #666666;
  font-size: 1.1em;
}

.columnPropertiesWrapper .saveBar
{
  width: 525px;
  margin-left: 165px;
  position: absolute;
  bottom: -5px;
}

.columnPropertiesWrapper .controlBar
{
    margin-top: 0.7em;
}

.columnPropertiesWrapper div.required
{
    float: left;
}
.createBar .error,
.columnPropertiesWrapper .error
{
  padding: 0.3em;
  margin-right: 1em;
  vertical-align: middle;
  font-size: 1.2em;
}
.createBar .save,
.columnPropertiesWrapper .save
{
    float: right;
}

.modalContentWrapper.columnPropertiesWrapper { padding-bottom: 0; }
.columnPropertiesWrapper p, .columnPropertiesWrapper label 
{
    font-size: 1.2em;
    line-height: 1.75em; /* 21px */
    vertical-align: middle;
}

.columnPropertiesWrapper td 
{
    padding: 0.5em;
    vertical-align: top;
}

.columnPropertiesWrapper td.middle
{
    vertical-align: middle;
}
.columnPropertiesWrapper td.fieldColumn strong
{
    font-size: 1.2em;
}
.columnPropertiesWrapper .labelColumn
{
    padding-right: 1em;
    text-align: right;
}

.columnPropertiesWrapper input[type="text"],
.columnPropertiesWrapper textarea
{
    width: 30em;
}
#columnCreate input[type="text"],
#columnCreate textarea
{
    width: 42em;
}
.columnPropertiesWrapper input[type="radio"]
{
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.convertDropdown
{
    margin-left: 1em;
    text-transform: uppercase;
    background-image:url(/stylesheets/images/widgets/dropdown_button/menu_bar_arrow.png); 
    background-repeat: no-repeat;
    background-position: 45px -4px;
    padding-right: 25px;
    color: #999;
    font-size: 1em;
}

ul.convertables
{
    padding: 0.75em;
    margin-bottom: 1.5em;
    font-size: 1.2em;
    background-color: #ccc;
}

ul.convertables li a.light
{
    color: #aaa;
}

ul.convertables li a
{
    vertical-align: bottom;
    background-image: url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-repeat: no-repeat;
    padding: 0.2em;
    padding-left: 1.75em; 
    padding-top: 0.3em;
    height: 1.3em;
    display: block;
    font-size: 1em;
    text-decoration: none;
    color: #666;
}

ul.convertables li a:hover
{
    background-color: #666;
    color: #fff;
}

#loadingSpinner
{
    position: absolute;
    top: 150px;
    background-image: url(/stylesheets/images/common/BrandedSpinner.gif);
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
}

.convert-text { background-position: 0 -80px; }
.convert-richtext { background-position: 0 -60px; }
.convert-number { background-position: 0 -20px; }
.convert-money { background-position: 0 -40px; }
.convert-percent { background-position: 0 0; }
.convert-date { background-position: 0 -340px; }
.convert-phone { background-position: 0 -240px; }
.convert-email { background-position: 0 -260px; }
.convert-url { background-position: 0 -360px; }
.convert-checkbox { background-position: 0 -120px; }
.convert-stars { background-position: 0 -140px; }
.convert-flag { background-position: 0 -380px; }
.convert-photo { background-position: 0 -100px; }
.convert-document { background-position: 0 -280px; }
.convert-nested_table { background-position: 0 -440px; }

.typeSelect
{
    background-image:url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-repeat: no-repeat;
    padding:0.2em;
    padding-left: 1.75em; 
}

#typeReadOnly
{
    background-image:url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-repeat: no-repeat;
    padding:0.2em;
    padding-left: 1.75em; 
    height: 2em;
    vertical-align: middle;
}

.columnPropertiesIcon
{
    background-image:url(/stylesheets/images/content/GearIcon_color.png);
    background-repeat: no-repeat;
    padding-left: 35px;
}

.align
{
    background-image:url(/stylesheets/images/content/AlignmentSprites.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.alignLeft
{
    background-position: 0 0;
}

.alignCenter
{
    background-position: 0 -13px;
}

.alignRight
{
    background-position: 0 -26px;
}

#columnCreate table 
{
    width: 100%;
}

#columnCreate table td
{
    padding: 1em;
}

.createBar
{
    padding: 1em;
    padding-bottom: 2em;
}

.createBar .seperator
{
    margin-bottom: 1em;
}

/*** END: Column properties***/

/*** START: Message the owner of this dataset ***/
.flagDataset .dialogBox .header h1#flagHeader
{
  background-image: url(/stylesheets/images/content/flag_modal_icon.png);
  background-position: 2px center;
  padding-left: 37px;
}

.dialogWrapper.modalDialog.flagDataset 
{
    margin-left: 12em;
    width: 56.5em;
}
.flagDatasetWrapper label,
.flagDatasetWrapper p
{
    font-size: 1.2em;
    line-height: 1.75em; /* 21px */
    vertical-align: middle;
}

.flagDatasetWrapper .labelColumn
{
    vertical-align: top;
}

.flagDatasetWrapper label.error 
{
    display: block;
}

.flagDatasetWrapper #error,
.flagDatasetWrapper .errorMessage
{
    font-size: 1.2em;
    padding: 0.3em;
    padding-bottom: 0.7em;
    margin-right: 1em;
    vertical-align: middle;
}

.flagDatasetWrapper #submit
{
    float: right;
}

.flagDatasetWrapper input[type="text"],
.flagDatasetWrapper textarea
{
    margin-top: 0.5em;
    width: 35.5em;
}

.flagDatasetWrapper .labelColumn
{
    padding-right: 1em;
    text-align: right;
}

.flagDatasetWrapper .submitLine 
{
    width: 53.8em;
}

.flagDatasetWrapper .submitLine .submitActions
{
    width: 53.8em;
}

.flagDatasetWrapper .submitline li.left
{
    float: left;
}

.flagDatasetWrapper .submitLine li.right
{
    float: right;
}
/*** END: Message the owner of this dataset ***/

/*** START: New Customization Template ***/
.dialogWrapper.modalDialog.newCustomization 
{
    margin-left: 12em;
    width: 56.5em;
}

.newCustomizationWrapper label
{
    display: block;
    font-size: 1.3em;
    height: 2.5em;
    margin: 0.5em 0 -2.7em;
    padding-right: 1em;
    text-align: right;
    width: 14em;
}

.newCustomizationWrapper input,
.newCustomizationWrapper textarea
{
    margin-left: 200px;
    padding: 0.2em;
    width: 22em;
}

.newCustomizationWrapper select
{
    margin-left: 200px;
    padding: 0;
    width: 22em;
}

.newCustomizationWrapper .requiredText
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    padding-left: 1.5em;
    position: absolute;
}

.newCustomizationWrapper .actionButtons
{
    margin-top: 0;
}
/*** END: New Customization Template ***/

/*** START: New Image Template ***/
.dialogWrapper.modalDialog.newImage 
{
    margin-left: 12em;
    width: 56.5em;
}

.newImageWrapper label
{
    display: block;
    font-size: 1.3em;
    height: 2.5em;
    margin: 0.5em 0 -2.7em;
    padding-right: 1em;
    text-align: right;
    width: 10em;
}

.newImageWrapper input
{
    margin-left: 12.5em;
    padding: 0.2em;
    width: 27.5em;
}

.newImageWrapper #new_image_file_name
{
    width: 17em;
}

.newImageWrapper .fileBrowseButtonListContainer
{
    display: inline;
    position: absolute;
    right: 7em;
}

.newImageWrapper .requiredText
{
    background: url(/stylesheets/images/common/required.png) no-repeat;
    padding-left: 1.5em;
    position: absolute;
}

.newImageWrapper .actionButtons
{
    margin-top: 0;
}
/*** END: New Image Template ***/

/*** START: Version Info ***/
dl.versionInfo
{
    font-size: 1.3em;
}

dl.versionInfo dd
{
  padding-left: 15px;
  padding-bottom: 10px;
} 
/*** END: Version Info ***/

/*** START: Sort dialog ***/

div.itemWrapper
{
    overflow: hidden;
    line-height: 1.4em;
}

#sortBysList p
{
    position: absolute;
    font-size: 1.2em;
}

#sortBysList p.left
{
    left: 3.5em; 
}

#sortBysList p.right
{
    left: 33em;
}

div.itemWrapper div.ascension
{
    position: absolute;
    right: 0;
    top: 1px;
    width: 12px;
    height: 12px;
    padding: 0.3em;
    margin: 0.2em;
    border-left: 1px solid #666;
    cursor: auto;
}

div.itemWrapper div.sort
{
    background-image: url(/stylesheets/images/content/table/sort_arrow_sprites.png);
    height: 12px;
    width: 12px;
}
div.itemWrapper .sort-asc 
{ 
    background-position: 0 -24px; 
    cursor: auto;
}
div.itemWrapper .sort-asc:hover,
div.itemWrapper .ascension:hover .sort-asc
{ 
    background-position: 0 -12px; 
    cursor: auto;
}
div.itemWrapper .sort-desc:hover, 
div.itemWrapper .ascension:hover .sort-desc
{ 
    background-position: 0 -36px; 
    cursor: auto;
}

div#sortBysList .activeList,
div#sortBysList .inactiveList
{
    height: 175px;
    overflow: auto;
    width: 25.5em;
    padding-left: 3.5em;
    margin-top: 1.5em;
    position: relative;
}

#sortBysList .removeAllLink
{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

div#sortBysList.reorderList ul
{
    width: 19em;
}

/*** END: Sort dialog ***/
