.suggestTitle
{
    float: left;
}
.suggestLink
{
    float: right;
    color:#333333;
    display:block;
    font-size:1em;
    text-decoration:none;
    text-transform:uppercase;
}

.nominationList
{
    clear: both;
    width: 100%;
    padding-top: 1em;
}

.nominationList .nominationList-headerRow
{
    background: #e8e8e8 url(/stylesheets/images/content/table/header_right_top.png) no-repeat scroll right top;
    height: 38px;
}

.nominationList .nominationList-headerRow .nominationList-cell
{
    border-left: 1px solid #cacaca;
    font-size: 1.3em;
    font-weight: bold;
}

.nominationList .nominationList-headerRow .nominationList-cell:first-child
{
    background: #e8e8e8 url(/stylesheets/images/content/table/header_left_top.png) no-repeat scroll left top;
    border-left: none;
}

.nominationList .nominationList-row
{
    clear: both;
}

.nominationList .nominationList-cell
{
    float: left;
    font-size: 1.2em;
    padding: 1em;
}

.nominationList .nominationList-body .nominationList-cell
{
    position: absolute;
}

.nominationList .nominationList-authorColumn
{
    width: 11.7em;
}

.nominationList .nominationList-authorColumn .nominationAuthorLink
{
    color: #000;
}

.nominationList .nominationList-authorColumn .nominationAuthorImage
{
    float: left;
    margin-right: 0.7em;
}

.nominationList .nominationList-authorColumn .nominationAuthorName
{
    font-weight: bold;
}

.nominationList .nominationList-body .nominationList-nominationColumn
{
    margin-left: 14.7em;
    position: static;
    width: 38em;
}

.nominationList .nominationList-nominationColumn .nominationTimestamp
{
    border-bottom: 1px solid #ccc;
    color: #888;
    font-size: 1em;
    margin-bottom: 0.4em;
    padding: 0.4em 0;
}

.nominationList .nominationList-nominationColumn .nominationTitle
{
    font-size: 1.35em;
}

.nominationList .nominationList-cell.nominationList-statusColumn
{
    float: right;
    position: static;
    width: 5em;
    font-weight: bold;
    text-align: center;
}

.nominationList .nominationList-statusColumn .new
{
    background-color: #ffffcc;
    color: #cccc00;
    padding: 5px;
}

.nominationList .nominationList-statusColumn .open
{
    background-color: #99ccff;
    color: #0073e6;
    padding: 5px;
}

.nominationList .nominationList-statusColumn .approved
{
    background-color: #ccffcc;
    color: #00e600;
    padding: 5px;
}

.nominationList .nominationList-statusColumn .rejected
{
    background-color: #ffcccc;
    color: #cc0000;
    padding: 5px;
}

.nominationList .nominationList-nominationColumn .nominationVotes
{
    float: right;
}

.nominationList .nominationList-nominationColumn a.rateNomination
{
    color: #333333;
    float: left;
    line-height: 18px;
    margin: 0 1em;
    background: url(/stylesheets/images/content/like_thumbs_sprites.png) no-repeat 0 0;
    height: 18px;
    margin: 0 0.2em;
    text-indent: -9999px;
    width: 15px;
}

.nominationList .attachmentsTitle
{
    margin-top: 15px;
    margin-left: 10px;
}

.nominationList .attachmentsTitle ul
{
  padding: 1em;
}

.nominationList .attachmentsTitle div.title 
{
  font-weight: bold;
}

.nominationList .nominationList-nominationColumn a.rateNomination.rateDown
{
    background-position: 0 -18px;
}

.nominationList .nominationList-nominationColumn .nominationNet
{
    font-size: 14pt;
    font-weight: bold;
    float: left;
    padding-right: 5px;
}

.nominationList .inlineEdit:hover
{
    background-color: #ffffd3;
}

.nominationList textarea
{
    width: 95%;
}

.nominationList p.noItems
{
    font-size: 1.4em;
    text-align: center;
    padding: 1em;
}
