/* 
    Document   : outer-chrome.css
    Created on : Jan 13, 2009, 3:25:51 PM
    Author     : jeff.scherpelz@blist.com
    Description:
        Styles for header/footer and full page background
 */

html { height: 100%; }

body
{
    background: #ececec url(/stylesheets/images/header/mainlogo_background.png) 0 6px repeat-x;
    height: 100%;
}

.bodyExterior
{
    min-height: 100%;
}
.bodyInterior
{ 
    border-top: 6px solid;
    padding-bottom: 70px;
}

#outerContainer
{
    margin: 0 auto;
    max-width: 140em;
}

/******************
 *   HEADER BAR   *
 ******************/

#header
{
    background: url(/stylesheets/images/header/mainlogo_background.png) repeat-x;
    height: 44px;
    padding-bottom: .5em;
    position: relative;
    z-index: 20;
}

#mainLogo
{
    font-size: 1em;
    left: 10px;
    margin: 0;
    min-height: 0;
    position: absolute;
    top: 5px;
}

#mainLogo a
{
    background-repeat: no-repeat;
    background-image: url(/stylesheets/images/header/socrata_logo.png);
    display: block;
    height: 34px;
    text-indent: -9999px;
    width: 129px;
}
#mainLogo.aboutLogo a { background-image: url(/stylesheets/images/header/socrata_logo_about.png); }

#header li, #footer li
{
    display: inline;
}

#header a, #footer a
{
    text-decoration: none;
}

#header a:hover, #footer a:hover,
#header a:focus, #footer a:focus
{
    text-decoration: underline;
}

/***********************
 * Dark tabs in header *
 ***********************/

#header .notifications, #header .userNav
{
    background-color: #7e7e7e;
    background-image: url(/stylesheets/images/header/gray_bar/DarkGray_corner_left_header.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    text-transform: uppercase;
}

#header .notifications
{
    color: #fae096;
    float: left;
}

#header .notifications ul
{
    background-image: url(/stylesheets/images/header/gray_bar/DarkGray_corner_right_header.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 0.5em;
}

#header .notifications a
{
    color: #fae096;
    background-position: left;
    background-repeat: no-repeat;
    font-size: .9em;
    font-weight: bold;
    margin: 0.5em;
    padding-left: 18px;
}

#header .notifications li:last-child a
{
    margin-left: 0;
}

#header .notifications .messages
{
    background-image: url(/stylesheets/images/header/icons/icon_mail.png);
}

#header .notifications .requests
{
    background-image: url(/stylesheets/images/header/icons/icon_users.png);
}

#header .userNav
{
    background: none;
    padding: 0.5em;
    padding-top: .7em;
    position: absolute;
    right: 0;
    top: 0;
    text-transform: none;
}

#header .userNav li
{
    border-right: 1px solid #666;
    padding-right: .75em;
    margin: 0 .75em 0 0;
}

#header .userNav li.signUpLink,
#header .loggedInNav li.signOutLink
{
    border-right: 0;
    margin-right: 10px;
    padding-right: 0;
}

#header .userNav a
{
    color: #666;
    font-size: 1.1em;    /* 11px */
}

#header .userNav li.accountLink,
#header .userNav li.signOutLink,
#header .loggedInNav li.signUpLink
{
    display: none;
}

#header .loggedInNav li.accountLink,
#header .loggedInNav li.signOutLink
{
    display: inline;
}

#header .userNav li.signUpLink a
{
  font-weight: bold;
}

#header .loggedInNav li.signInLink
{
    display: none;
}

/*******************
 * Main nav bar    *
 *******************/

#mainNav
{
    margin: 0 auto;
    width: 33.3em;
}


#mainNav li
{
    float: left;
    height: 25px;
    margin-right: 1px;
    position: relative;
    text-align: center;
    width: 11em;
}
#mainNav li a span
{
    background-position: 0 -25px;
    background-repeat: repeat-x;
    display: block;
    font-weight: bold;
    min-height: 0;
}
#mainNav li.discover a span {
    margin-left: 10px;
    text-indent: -10px;
}
#mainNav li.home
{ 
    background-position: right -50px; 
}
#mainNav li.home a span {
    margin-right: 10px;
    text-indent: 10px;
}

body.home #mainNav li.home a span,
body.discover #mainNav li.discover a span,
body.community #mainNav li.community a span
{
    background-position: 0 -25px;
}
body.discover #mainNav li.discover a span {
    margin-left: 10px;
    text-indent: -10px;
}
body.home #mainNav li.home a span {
    margin-right: 10px;
    text-indent: 10px;
}


#mainNav li.last
{
    margin-right: 0;
}

#mainNav a
{
    color: #fff;
    display: block;
    font-size: 1.3em;
    line-height: 25px;
    min-height: 0;
}

/*** Subnav ***/
#mainNav ul.subNav
{
    display: none;
    left: 0;
    position: absolute;
    z-index: 100;
}
#mainNav ul.subNav li
{
    background-position: right -25px;
    display: block;
    float: none;
    text-align: left;
}

#mainNav li.home.loggedInNav:hover { background-position: right -25px; }
#mainNav li.home.loggedInNav:hover ul.subNav { display: block; }

#mainNav ul.subNav li a span { font-weight: normal; }


/**************
 * Search box *
 **************/

#header form.search
{
    position: absolute;
    right: 1em;
    top: 30px;
    width: 26em;
    z-index: 10;
}

/****************
 * Main content *
 ****************/

#sidebar { margin-top: 26; }


/*************
 *  FOOTER   *
 *************/
.footerContainer
{
    background: #ececec url(/stylesheets/images/header/mainlogo_background.png) repeat-x;
    height: 60px;
    margin: -61px 0 0;
}

#footer
{
    margin: 0 auto;
    max-width: 140em;
    text-align: right;
}

#footer ul
{
    padding: 2em 1em 0;
}

#footer li
{
    margin: 0 2em;
}

#footer a
{
    color: #4f4f4f;
}

#footer a.rss
{
    background-image: url(/stylesheets/images/footer/icon_rss.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 12px;
}

#footer .copyright
{
    float: left;
    font-weight: bold;
    padding: 2em;
}
