/* 
    Document   : outer-chrome.css
    Created on : Jan 13, 2009, 3:25:51 PM
    Author     : jeff.scherpelz@blist.com
    Description:
        Styles for header/footer and full page background
 */

html
{
    height: 100%;
}

body
{
    background-color: #8d8d8d;
    height: 100%;
}

#outerContainer
{
    height: auto;
    min-height: 100%;
    position: relative;
}

/******************
 *   HEADER BAR   *
 ******************/

#header
{
    margin-bottom: -1em;
    margin-left: 120px;
    margin-right: 1em;
    overflow: hidden;
}

#mainLogo a
{
    background-image: url(/stylesheets/images/header/blist_logo.png);
    background-repeat: no-repeat;
    display: block;
    height: 35px;
    left: 10px;
    position: absolute;
    text-align: left;
    text-indent: -9999px;
    top: 15px;
    width: 72px;
}

#header li, #footer li
{
    display: inline;
}

#header a, #footer a
{
    text-decoration: none;
}

#header a:hover, #footer a:hover
{
    text-decoration: underline;
}


/***********************
 * Dark tabs in header *
 ***********************/

#header .notifications, #header .userNav
{
    background-color: #7e7e7e;
    background-image: url(/stylesheets/images/header/gray_bar/DarkGray_corner_left_header.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    text-transform: uppercase;
}

#header .notifications
{
    color: #fae096;
    float: left;
}

#header .notifications ul
{
    background-image: url(/stylesheets/images/header/gray_bar/DarkGray_corner_right_header.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 0.5em;
}

#header .notifications a
{
    color: #fae096;
    background-position: left;
    background-repeat: no-repeat;
    font-weight: bold;
    margin: 0.5em;
    padding-left: 18px;
}

#header .notifications li:last-child a
{
    margin-left: 0;
}

#header .notifications .messages
{
    background-image: url(/stylesheets/images/header/icons/icon_mail.png);
}

#header .notifications .requests
{
    background-image: url(/stylesheets/images/header/icons/icon_users.png);
}

#header .userNav
{
    float: right;
    padding: 0.5em;
}

#header .userNav li
{
    margin: 0.75em;
}

#header .userNav a
{
    color: #ffffff;
    font-weight: bold;
}


/*******************
 * Main nav bar    *
 *******************/

#mainNav
{
    background-image: url(/stylesheets/images/header/main_buttons/MainButton_corner_left.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    float: right;
    margin-top: 2px;
}

#mainNav ul
{
    background-image: url(/stylesheets/images/header/main_buttons/MainButton_corner_right.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 25px;
    overflow: hidden;
    padding: 0 9px;
}

#mainNav li
{
    background-image: url(/stylesheets/images/header/main_buttons/MainButton_gradSlice.png);
    background-position: bottom;
    background-repeat: repeat-x;
    float: left;
    height: 25px;
    margin-right: 2px;
    text-align: center;
    width: 11em;
}

#mainNav li:last-child
{
    margin-right: 0;
}

#mainNav a
{
    color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4em;
}

body.home #mainNav
{
    background-image: url(/stylesheets/images/header/main_buttons/MainButton_corner_left_active.png);
}

body.community #mainNav ul
{
    background-image: url(/stylesheets/images/header/main_buttons/MainButton_corner_right_active.png);
}

body.home #mainNav li.home,
body.discover #mainNav li.discover,
body.community #mainNav li.community
{
    background-image: url(/stylesheets/images/header/main_buttons/MainButton_gradSlice_active.png);
}

/**************
 * Search box *
 **************/

#header form.search
{
    clear: both;
    float: right;
    margin-top: 1em;
    width: 24.6em;
}

#header form.search p
{
    background-image: url(/stylesheets/images/header/search_field.png);
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 30px;
}

#header form.search input
{
    float: left;
}

#header form.search input[type="text"]
{
    border: solid 1px #cacaca;
    border-left: none;
    border-right: none;
    font-size: 1.2em;
    height: 18px;
    line-height: 1.2em;
    padding: 3px 0 0;
    width: 100%;
}

#header form.search input[name="submit"]
{
    height: 23px;
    margin-right: -30px;
    width: 30px;
}


/*************
 *  FOOTER   *
 *************/

#footer
{
    background-color: #666666;
    background-image: url(/stylesheets/images/footer/DarkGray_corner_left_footer.png);
    background-position: top left;
    background-repeat: no-repeat;
    bottom: 0;
    left: 1em;
    position: absolute;
    right: 1em;
    text-align: right;
}

#footer ul
{
    background-image: url(/stylesheets/images/footer/DarkGray_corner_right_footer.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding: 2em;
}

#footer li
{
    margin: 0 2em;
}

#footer a
{
    color: #c6c6c6;
}

#footer a.rss
{
    background-image: url(/stylesheets/images/footer/icon_rss.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 12px;
}

#footer .homeLink
{
    color: #ffffff;
    float: left;
    font-weight: bold;
    padding: 2em;
}
