/* 
    Document   : reset-password-screen
    Created on : May 8, 2009
    Author     : jeff.scherpelz@blist.com, pete.stuart@blist.com
    Description:
      Styles for the 'Reset Password' & 'Forgot Password' screens
*/

#resetPassword .dialogBox .title
{
    height: auto;
    line-height: auto;
}

#resetPassword .dialogBox .title h2
{
    float: none;
}

#resetPassword .dialogBox form p
{
    line-height: 2em;
    margin-bottom: 0.5em;
}

#resetPassword .dialogBox form label
{
    float: left;
    font-size: 1.1em;
    margin-left: 0.5em;
    margin-right: 1em;
    width: 3em;
}

#resetPassword .dialogBox form#resetPasswordForm label
{
    width: 9em;
}

#resetPassword form label.error
{
    font-size: 1em;
    line-height: 1.1em;
    margin-left: 5.1em;
    padding-right: 0;
    text-align: left;
    width: 18.181em;
}

#resetPassword form#resetPasswordForm label.error
{
    margin-left: 11.7em;
    width: 18.181em;
}

#resetPassword .dialogBox form .submitLine
{
    margin-top: 1em;
}
