/* 
    Document   : sidebar.css
    Created on : Jan 13, 2009, 3:25:51 PM
    Author     : jeff.scherpelz@blist.com
    Description:
      Styles for the sidebar
*/

/***************
 * Sidebar box *
 ***************/

#sidebar .box
{
    background-color: #cacaca;
    background-image: url(/stylesheets/images/sidebar/sidebar_corner_top_left.png);
    background-position: top left;
    background-repeat: no-repeat;
    margin-bottom: 0.5em;
}

#sidebar .box .outerWrapper
{
    background-image: url(/stylesheets/images/sidebar/sidebar_corner_top_right.png);
    background-position: top right;
    background-repeat: no-repeat;
}

#sidebar .box .innerWrapper
{
    background-image: url(/stylesheets/images/sidebar/sidebar_corner_bottom_left.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

#sidebar .box .contentWrapper
{
    background-image: url(/stylesheets/images/sidebar/sidebar_corner_bottom_right.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 1em;
}

#sidebar .box.last
{
    margin-bottom: 0;
}

#sidebar .box h4
{
    border-bottom: solid 1px #a6a6a6;
    display: block;
    margin-bottom: 0.2em;
}


/************
 * Ad block *
 ************/

#sidebar .ad
{
    text-align: center;
}

#sidebar .ad .holder
{
    background-color: #fef4da;
    height: 156px;
    margin: 0 auto 0.5em;
    width: 190px;
}

#sidebar .ad a
{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}


/*****************
 * blists filter *
 *****************/

#sidebar .expandableSection
{
    background-image: url(/stylesheets/images/sidebar/blists_filter/icon_expand_sprites.png);
    background-position: -6px -22px;
    background-repeat: no-repeat;
    margin-bottom: 1.2em;
}

#sidebar .expandableSection.closed
{
    background-position: -6px 0;
}

#sidebar .expandableSection h4
{
    background-image: url(images/sidebar/blists_filter/icon_filter_sprites.png);
    background-position: 12px 0;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 18px;
    margin: 0;
    padding: 4px 0 0 37px;
}

#sidebar .items h4
{
    background-position: 12px -88px;
}

#sidebar .projects h4
{
    background-position: 12px -110px;
}

#sidebar .folders h4
{
    background-position: 12px -44px;
}

#sidebar .tags h4
{
    background-position: 12px -132px;
}

#sidebar .expandableSection ul 
{
    margin-top: 3px;
}
#sidebar .expandableSection.closed ul, #sidebar .expandableItem.closed ul
{
    display: none;
}
#sidebar .expandableSection li
{
    padding: 2px 0;
}

#sidebar .expandableSection li ul {
    margin-left: 22px;
}

#sidebar .expandableSection a
{
    background-image: url(images/sidebar/blists_filter/icon_filter_sprites.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #212121;
    display: block;
    font-size: 1.2em;
    line-height: 22px;
    margin-left: 10px;
    padding: 0 0 0 25px;
    text-decoration: none;
}

#sidebar .expandableSection.items a
{
    background-position: 0 -66px;
}
#sidebar .expandableSection.items .deleted a
{
    background-position: 0 -22px;
}


#sidebar .expandableSection.projects a
{
    background-position: 0 -110px;
}
#sidebar .expandableSection.projects li ul a 
{
    background-position: 0 -44px;
}

#sidebar .expandableSection.folders a
{
    background-position: 0 -44px;
}
#sidebar .expandableSection.folders .not_in_folders a
{
    background-position: 0 0;
}

#sidebar .expandableSection.tags a
{
    background-position: 0 -132px;
}
#sidebar .expandableSection.tags .untagged a
{
    background-position: 0 0;
}

#sidebar .expandableSection a span 
{
    padding-left: 2px;
}
#sidebar .expandableSection a:hover span 
{
    display: block;
}
#sidebar .expandableSection a:hover span 
{
    background: url(images/sidebar/blists_filter/background_item_hover.png) right no-repeat;
}

#sidebar .expandableSection .expandableItem
{
    background-image: url(images/sidebar/blists_filter/icon_expand_sprites.png);
    background-position: -6px -22px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#sidebar .expandableSection .expandableItem.closed
{
    background-position: -6px 2px;
}
