#signupForm label.required
{
    background-position: 115px 0px;
}
.signupBox h3
{
    margin-bottom: 1em;
}
.signupBox .mainContent p
{
    margin-bottom: 1em;
}
.signupBox h3.signup
{
    margin-top: 1.5em;
    border-top: 1px solid #cccccc;
    padding-top: 1em;
}
.signupBox h3 strong
{
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.1em;
    color: #333333;
    padding-right: 0.25em;
}