/* 
    Document   : splash.css
    Created on : May 26, 2009
    Author     : pete.stuart@blist.com
    Description:
      Styles for splash popup on home/discover page.
*/

.splashContainer
{
    background: url(/stylesheets/images/splash/splash_pop_background.png) no-repeat;
    height: 40.5em;
    margin: 7em auto 0;
    padding: 6.5em 3em 3em;
    position: relative;
    width: 69em;
}
.splashContainer h1
{
    color: #fff;
    font-size: 4.5em;
    line-height: 1.1em;
    margin: 0;
}
.splashContainer h2
{
    color: #fff;
    font-size: 2em;
    font-weight: normal;
}


.splashActionBoxContainer
{
    margin-top: 3em;
    position: relative;
}
.splashActionBox
{
    cursor: pointer;
    float: left;
    margin-right: 1.5em;
    width: 21.5em;
}
.splashActionBox.last { margin-right: 0; }
.splashActionBox.imageActionBox { width: 240px; }
.apiSplash .splashActionBox.imageActionBox { width: 251px; }

.splashActionBox.doubleActionBox
{
    cursor: default;
    margin-right: 0;
    width: 43em;
}
.apiSplash .splashActionBox.doubleActionBox { width: 42em; }

.splashActionBox h3
{
    color: #fff;
    font-size: 3em;
    font-weight: normal;
    line-height: 1.1em;
    text-transform: none;
}
.splashActionBox h4
{
    color: #fff;
    font-size: 2em;
}
.splashActionBox p
{
    color: #fff;
    font-size: 1.4em;
    line-height: 1.428em; /* 20px */
    margin-top: 1.428em; /* 20px */
}
.splashActionBox.imageActionBox p
{
    display: block;
    margin: 0;
}
.splashActionBox.imageActionBox p.imageCaption { text-align: center; }
.splashActionBox.imageActionBox p.imageCaption a { color: #fff; }

.splashActionBox li
{
    color: #fff;
    font-size: 1.4em;
    line-height: 1.8em;
}


.splashActionBox p.splashActionButton, .splashActionBox ul.splashActionButtonList
{
    margin-top: 2em;
}
.splashActionBox .splashActionButton a
{
    background: url(/stylesheets/images/splash/pop_action_button.png) no-repeat;
    color: #fff;
    display:block;
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
    width: 201px;
}
.splashActionButtonList li
{
    float: left;
}

.splashActionBox.doubleActionBox .splashActionButton a
{
    width: 195px;
}
.apiSplash .splashActionBox.doubleActionBox .splashActionButton a
{
    width: 190px;
}

.splashContainer .closeContainer
{
    position: absolute;
    right: 1.5em;
    top: 1.3em;
}
.splashContainer .closeContainer a
{
    background: url(/stylesheets/images/splash/pop_close.png) no-repeat;
    display: block;
    height: 14px;
    overflow: hidden;
    text-indent: -9999px;
    width: 14px;
}

/* For the don't use IE6 modal */
.splashActionBoxContainer.noIE { margin-top: 2em; }
.splashActionBoxContainer.noIE p
{
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.splashActionBoxContainer.noIE .splashActionBox
{
    cursor: auto;
    float: left;
    margin-left: 6em;
    margin-right: 1.5em;
    width: 21.5em;
}
.splashActionBoxContainer.noIE .splashActionBox.last { margin-left: 0; }

.splashActionBoxContainer.noIE .splashActionBox p
{
    margin-top: 10px
}

.splashActionBoxContainer.noIE .splashActionBox p.splashActionButton
{
    margin-top: 1em;
}

.redirected_blist_logo
{
    position: absolute;
    right: 110px;
    top: 25px;
}