#stats
{
    margin: 0 1em 0;
    min-width: 470px;
    padding-bottom: 6em;
}

.left { float: left; }
.right { float: right; }

.miniMenu p 
{
    vertical-align: middle;
    text-transform: uppercase;
    display: inline;
    margin-right: 15px;
}

.miniMenu p a
{
    padding-right: 10px;
}

.backButton
{
    vertical-align: top;
    color: #333;
}

.statsHeaderContainer
{
    min-height: 5em;
    padding: 1em 1em 1em 1em;
}

.statsBlockIntro p
{
    color: #666;
}

.title
{
    font-size: 2.5em;
}

.timeline
{
    margin-top: 0.4em;
    font-size: 1.7em;
}

.statsContentContainer
{
    padding: 1em;
}

.statsColumn
{
    padding: 1em;
    color: #666;
    width: 50em;
}

.statsColumn h1
{
    font-size: 1.8em;
    border-bottom: 1px solid #666;
}

.statsColumn h1.webPub
{
  border-bottom: none;
}

td.legendColor div
{
    min-height: 12px;
    min-width: 12px;
    border: 1px solid #535353;
}

td.legendDesc
{
    font-size: 1.2em;
    vertical-align: middle;
}

table.legend td
{
    padding: 5px 7px;
}

.totalRowsAccessed
{
    font-size: 1.6em;
    margin-top: 25px;
    margin-left: 50px;
}

.panel
{
    clear: both;
    padding-bottom: 15px;
}

table.totals td
{
    padding: 3px 7px;
}

table.totals td
{
    font-size: 1.7em;
}

table.totals td.number
{
    text-align: right;
    font-weight: bold;
}

div.blist-table-scrolls
{
    height: 106px;
}

div.blist-table-title-tr
{
    display: none;
}

.blist-td
{
    font-size: 1.2em;
    padding: 2px 0;
}

.blist-th .sort
{
    margin-bottom: 6px;
    width: 12px;
}

.blist-tfoot
{
    min-height:25px;
    background-color: #e8e8e8;
    background-image:url(/stylesheets/images/content/table/header_right_bottom.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.blist-tfoot div
{
    padding: 5px;
    position: absolute;
    vertical-align: middle
}

#url-grid
{
    min-height: 400px;
}

#total-urls
{
    min-width: 348px;
    padding-left: 35px;
    background-image:url(/stylesheets/images/content/table/header_left_bottom.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}

#total-views
{
    margin-left: 390px;
    border: none;
	width: 50px;
}

.blist-th,
.blist-tfoot div
{
    font-size: 1.5em; 
    border-right: 1px solid #d4d4d4;
}

.blist-th
{
    padding-top: 5px;
    padding-bottom: 10px;
}

.blist-th span
{
    padding-left: 3px;
}

.blist-td
{
    border-right: 1px solid #fff;
}

.blist-th-first
{
    background-image:url(/stylesheets/images/content/table/header_left_top.png);
    background-position: left top;
}

.blist-table-top
{
    background-image:url(/stylesheets/images/content/table/header_right_top.png);
    border:none;
    background-position: right top;
    background-color: #e8e8e8;
}

.blist-th-first, .blist-table-top
{
    background-repeat: no-repeat;
}

.blist-td-views, #total-views, .blist-th-views .blist-th-name
{
	text-align: right;
}