#stats
{
    margin: 5em 1em 0;
    min-width: 65em;
    padding-bottom: 6em;
}

.left { float: left; }
.right { float: right; }

.links 
{
    
}

.statsHeaderContainer
{
    min-height: 5em;
    padding: 1em 1em 1em 1em;
}

.statsBlockIntro p
{
    color: #666;
}

.title
{
    font-size: 2.5em;
}

.timeline
{
    margin-top: 0.4em;
    font-size: 1.7em;
}

.statsContentContainer
{
    padding: 1em;
}

.statsColumn
{
    padding: 1em;
    color: #666;
    width: 480px; 
}

.statsColumn h1
{
    font-size: 1.8em;
    border-bottom: 1px solid #666;
}

td.legendColor div
{
    min-height: 15px;
    min-width: 15px;
    border: 1px solid #535353;
}

td.legendDesc
{
    font-size: 1.3em;
    vertical-align: middle;
}

table.legend
{
    margin-left: 10px;
}

table.legend td
{
    padding: 5px 7px;
}

.totalRowsAccessed
{
    font-size: 1.6em;
    margin-top: 25px;
    margin-left: 50px;
}

.panel
{
    clear: both;
    padding-top: 15px;
}

table.totals td
{
    padding: 3px 7px;
}

table.totals td
{
    font-size: 1.7em;
}

table.totals td.number
{
    text-align: right;
    font-weight: bold;
}

div.scrollableTableContainer
{
    height: 150px;
    overflow: auto;
    width: 480px;
}

html > body div.scrollableTableContainer
{
    overflow: hidden;
    width: 480px;
}

div.scrollableTableContainer table
{
    float: left;
    width: 460px;
}

html > body div.scrollableTableContainer table
{
    width: 480px;
}

thead.fixedHeader tr
{
    position: relative;
}

html > body thead.fixedHeader tr
{
    display: block;
}

thead.fixedHeader th.first
{
    background-image:url(/stylesheets/images/content/table/header_left_top.png);
    background-position:left top;
    background-repeat:no-repeat;
}

thead.fixedHeader th.last
{
    background-image:url(/stylesheets/images/content/table/header_right_top.png);
    background-position:right top;
    background-repeat:no-repeat;
    border: none;
}
thead.fixedHeader th 
{
    text-align:left;
}

thead.fixedHeader th 
{
    background-color:#E8E8E8;
    border-right:1px solid #D4D4D4;
    font-size:1.4em;
    font-weight:bold;
    line-height:0.7em;
    padding:10px 5px;
    text-align:left;
}

tbody.scrollContent td
{
    font-size: 1.2em;
    padding: 2px 5px;
}

html > body tbody.scrollContent 
{
    display: block;
    height: 105px;
    overflow: auto;
}


html > body thead.fixedHeader th 
{
    width:27px;
}

html > body thead.fixedHeader th + th 
{
    width:415px;
}

html > body thead.fixedHeader th + th + th 
{
    width:75px;
}

html > body tbody.scrollContent td 
{
    width:26px;
}

html > body tbody.scrollContent td + td 
{
    width:390px;
}

html > body tbody.scrollContent td + td + td 
{
    text-align: right;
    width:75px;
}

table.scrollTable tfoot td
{
    font-size: 1.4em;
    font-weight: bold;
}
