.blist-table
{
    color: #333333;
}

.blist-table-locked-scrolls
{
    background-color: white;
}

.blist-table-header-scrolls
{
    background: #e8e8e8 url(/stylesheets/images/content/table/header_right_top.png) no-repeat right top;
}

.blist-table-header
{
    height: 3.5em;
}

.blist-th
{
    border-left: solid 1px #e2e2e2;
    font-size: 1.2em;
    height: 2.9166em; /* 35px */
    line-height: 2.9166em;
    padding: 0 0.3333em; /* 4px */
    text-overflow: ellipsis;
}

.blist-th.blist-table-corner
{
    background: url(/stylesheets/images/content/table/header_left_top.png) no-repeat left top #e8e8e8;
}

.blist-th-first
{
    border-left: none;
    padding-left: 0.4166em; /* 5px */
}

.blist-th-name
{
    font-size: 1.0833em;  /* 1.0833 * 1.2 = 1.3 */
    font-weight: bold;

}

.blist-th-icon
{
    background-image: url(/stylesheets/images/common/datatypes/data_type_sprites.png);
    background-position: 5px 20px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    margin-left: -5px;
    margin-top: -10px;
    position: relative;
    top: 50%;
    width: 30px;
}

.blist-table .blist-table-corner
{
    border: none;
    font-size: 1.1em;
    height: 3.1818em; /* 35px */
    padding: 0 0.3636em; /* 4px */
}

.blist-th-sizer
{
    height: 3.5em;
}

/* This is only used for initial positioning; the menu is pulled out, so real
 * styling needs to go directly on the menu */
.blist-th .columnHeaderMenu
{
    font-size: 0.8333em;
}

.blist-table-footer-scrolls,
.blist-table-locked-footer
{
    background-color: #ffffff;
    border-top: solid 1px #d0d0d0;
    height: 4.2em;
}

.blist-table-footer
{
    background-color: #e3ecf7;
    height: 3.5em;
}

.blist-tf
{
    border-color: #ffffff;
    border-style: solid;
    border-width: 0 1px;
    font-size: 1.2em;
    height: 2.9167em; /* 35px */
    overflow: hidden;
    padding: 0 0.25em 0 0.3333em; /* 3px right, 4px left */
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blist-tf .blist-tf-value
{
    bottom: 0.4167em; /* 5px */
    position: absolute;
    right: 0.4167em; /* 5px */
}

.blist-tf.blist-tf-first
{
    border-left-width: 0;
    padding-left: 0.4167em; /* 5px */
}

.blist-table-locked-footer .blist-tf.blist-table-corner
{
    background-color: #e3ecf7;
    font-size: 1em;
    height: 3em; /* 30px */
    margin-top: 0.7em;
    overflow: visible;
    padding: 0.5em 0.4em 0; /* 5px top, 4px l/r */
}

.blist-td
{
    border-bottom: solid 1px #d0d0d0;
    border-left: solid 1px #e2e2e2;
    font-size: 1.2em;
    height: 1.3333em; /* 16px */
    line-height: 1.3333em;
    padding: 0.3333em; /* 4px */
}

.blist-td-header
{
    font-weight: bold;
}

div.blist-table-expander
{
    background-color: #ffffff;
    border-right: solid 1px #e2e2e2;
    border-top: solid 1px #d0d0d0;
}

.blist-table .blist-table-handle.blist-td
{
    border-left-width: 0;
    color: #a9cef2;
    font-size: 1.1em;
    height: 1.4545em; /* 16px */
    line-height: 1.4545em;
    padding: 0.3636em; /* 4px */
    text-align: right;
}

.blist-tr .blist-td-first
{
    border-left-width: 0;
    padding-left: 0.4167em; /* 5px */
}

img.blist-table-option-icon
{
    margin-bottom: -1px;
    padding-right: 0.4em;
}

.blist-table a
{
    text-decoration: none;
}

.blist-table a:hover
{
    text-decoration: underline;
}

div.blist-percent,
div.blist-percent .blist-percent-bar-pos
{
    height: 100%;
}

.blist-tstars-wrapper,
.blist-tstars-wrapper .blist-tstars
{
    height: 100%;
}

div.blist-richtext p,
div.blist-richtext ul
{
    font-size: 0.7692em;
    line-height: 1.4em;
    margin: 0.3em 0;
}

div.blist-richtext ul
{
    list-style-position: inside;
    list-style-type: disc;
}
