.blist-table
{
    color: #333333;
}

.blist-table-header-scrolls
{
    background: #e8e8e8 url(/stylesheets/images/content/table/header_right_top.png) no-repeat right top;
}

.blist-table-locked-header .blist-table-row-numbers
{
    background-image: url(/stylesheets/images/content/table/header_left_top.png);
    background-position: left top;
    background-repeat: no-repeat;
}

/* This is only used for initial positioning; the menu is pulled out, so real
 * styling needs to go directly on the menu */
.blist-th .columnHeaderMenu
{
    font-size: 0.8333em;
}

.blist-td
{
    font-size: 1.2em;
    height: 1.3333em; /* 16px */
    line-height: 1.3333em;
    padding: 0.3333em; /* 4px */
}

.blist-td-header
{
    font-weight: bold;
}

.blist-table .blist-td.blist-table-row-numbers
{
    border-left-width: 0;
    color: #a9cef2;
    font-size: 1.1em;
    height: 1.4545em; /* 16px */
    line-height: 1.4545em;
    padding: 0.3636em; /* 4px */
    text-align: right;
}

.blist-table .blist-td.blist-table-row-handle
{
    border-left-width: 0;
}

.blist-tr .blist-td-first
{
    border-left-width: 0;
    padding-left: 0.4167em; /* 5px */
}

.blist-table a
{
    text-decoration: none;
}

.blist-table a:hover
{
    text-decoration: underline;
}

div.blist-richtext p,
div.blist-richtext ul
{
    font-size: 0.7692em;
    line-height: 1.4em;
    margin: 0.3em 0;
}

div.blist-richtext ul
{
    list-style-position: inside;
    list-style-type: disc;
}
