.blist-table {
    margin: 6px;
    border: solid 1px #666666;
    background: white;
    font-size: 1.4em;
    overflow: hidden;
    position: relative;
}

.blist-table-header {
    position: absolute;
    top: 0;
}

.blist-table-scrolls {
    position: absolute;
    left: 0;
    overflow: auto;
}

.blist-table-inside {
    position: absolute;
    top: 0;
    left: 0;
}

.blist-tr {
    position: absolute;
}

.blist-th {
    /*
    position: absolute;
    top: 0;
    */
    float: left;
    background-color: #cccccc;
    padding: .2em;
    border-left: solid 1px #999999;
    border-bottom: solid 1px #999999;
    white-space: nowrap;
    overflow: hidden;
}

.blist-td {
    float: left;
    padding: .2em;
    border-left: solid 1px #999999;
    border-bottom: solid 1px #999999;
    overflow: hidden;
    white-space: nowrap;
}

.blist-table-handle {
    float: left;
    /*position: absolute;
    left: 0;*/
    padding: .2em;
    border-left: solid 1px #999999;
    border-bottom: solid 1px #999999;
    text-align: center;
    background-color: #eeeeee;
}

.blist-table-measure {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.blist-th-sizer {
    z-index: 10;
    position: absolute;
    top: 0px;
    background-color: red;
    padding: .2em 0;
    width: 5px;
    overflow: hidden;
    right: 0px;
    cursor: col-resize;
}
