.blist-table {
    background: transparent;
    font-size: 1.4em;
    overflow: hidden;
    position: relative;
    font-size: 11px;
    font-family: arial, sans-serif;
    color: #333333;
}

.blist-table-top {
    position: relative;
}

.blist-table-title-tl {
    padding-left: 8px;
    background: transparent url(images/content/table/title_tl.png) no-repeat scroll left top;
}

.blist-table-title-tr {
    padding-right: 8px;
    background: transparent url(images/content/table/title_tr.png) no-repeat top right;
}

.blist-table-title {
    position: relative;
    background: transparent url(images/content/table/title_t.png) repeat-x top;
    padding-left: 4px;
}

.blist-table-name {
    height: 28px;
    line-height: 28px;
    font-size: 16px;
}

.blist-table-filter-l {
    position: absolute;
    top: 0;
    right: 4px;
    margin-top: 3px;
    padding-left: 11px;
    height: 23px;
    background: transparent url(images/common/find_input_cap.png) no-repeat scroll center left;
    margin-right: 4px;
}

.blist-table-filter-r {
    padding-right: 31px;
    height: 23px;
    background: transparent url(../images/find_button.png) no-repeat scroll center right;
}

input.blist-table-filter {
    border: solid 1px #cacaca;
    border-left: none;
    border-right: none;
    padding: 2px 0 0 0;
    background: white;
    font-size: 14px;
    height: 19px;
    width: 160px;
    color: #333333;
}

.blist-table .example {
    color: #999999;
}

.blist-table-header-scrolls {
    background-color: #e2e2e2;
    position: relative;
    border: solid 1px #cacaca;
    border-bottom: none;
    overflow: hidden;
}

.blist-table-header {
    height: 24px;
    position: absolute;
    top: 0;
}

.blist-table-scrolls {
    position: relative;
    overflow: auto;
    border: solid 1px #cacaca;
    border-top: none;
}

.blist-loading .blist-table-scrolls {
    background: transparent url(images/common/spinner1.gif) no-repeat center center;
}

.blist-table-inside {
    position: absolute;
    top: 0;
    left: 0;
}

.blist-tr {
    position: absolute;
    overflow: hidden;
}

.blist-tr-even .blist-td {
    background-color: #e8ebf6;
}

.blist-th {
    /*
    position: absolute;
    top: 0;
    */
    position: relative;
    float: left;
    padding-left: 4px /*.2em*/;
    padding-right: 4px /*.2em*/;
    border-left: solid 1px #dddddd;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}

/* Ensure enough specificity to override height in generated styles */
.blist-table .blist-th {
    height: 24px;
    line-height: 24px;
}

.blist-td {
    float: left;
    padding: 4px /*.2em*/;
    border-left: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    overflow: hidden;
    white-space: nowrap;
}

.blist-table-handle {
    float: left;
    /*position: absolute;
    left: 0;*/
    padding: 4px /*.2em*/;
    border-left: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    text-align: center;
    background-color: #eeeeee;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: default;
    border-left: none;
    color: #333399;
    text-align: right;
}

.blist-table .blist-table-corner {
    cursor: default;
    border-left: none;
}

.blist-table-util {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.blist-th-sizer {
    z-index: 10;
    position: absolute;
    top: 0px;
    padding: 4px /*.2em*/ 0;
    width: 5px;
    overflow: hidden;
    right: 0px;
    cursor: col-resize;
}

.blist-th .sort {
    position: absolute;
    top: 0;
    right: 2px;
    width: 12px;
    background: transparent url(images/content/table/icon_sort_down.png) right no-repeat;
}

.blist-th .sort-desc {
    background-image: url(images/content/table/icon_sort_up.png);
}

div.blist-td p {
    margin: 0 0 4px 0;
    padding: 0;
}

div.blist-table-checked {
    height: 15px;
    background: url(images/content/table/check.png) center no-repeat;
}
