/* 
    Document   : widgets.css
    Created on : Jan 13, 2009, 3:25:51 PM
    Author     : jeff.scherpelz@blist.com
    Description:
      Styles for individual widgets that are re-used throughout the app
*/

