/* 
    Document   : widgets.css
    Created on : Jan 13, 2009, 3:25:51 PM
    Author     : jeff.scherpelz@blist.com, pete.stuart@blist.com
    Description:
      Styles for individual widgets that are re-used throughout the app
*/

/*** START: action buttons ***/
/*  <ul class="actionButtons">
    
    
    Without an arrow icon.
    <li><a href="#">Delete</a></li>
    
    With an arrow icon.
    <li><a href="#" class="arrowButton">Share</a></li>
    
    </ul>
*/

.actionButtons li
{
    background-color: #656565;
    background-image: url(images/widgets/background_buttons_summary_sprites.png);
    background-repeat: no-repeat;
    float: left;
    height: 21px;
    margin-left: 1em;
    overflow: hidden;
    width: 85px;
}
.actionButtons li a
{
    background-image: url(images/widgets/background_buttons_summary_sprites.png);
    background-position: right -21px;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-size: 1.2em;
    height: 21px;
    line-height: 21px;
    padding-left: 10px;
    padding-right: 8px;
    text-decoration: none;
}
.actionButtons li a.arrowButton
{
    background-position: right -42px;
    padding-right: 21px;
}

/*** END: action buttons ***/


/*** START: dropdown button ***/
/*
<a href='#' class='dropdownLink'><div class='outerWrapper'><div class='midWrapper'>
    <span class='innerWrapper'>Menu</span></div></div></a>
 */

a.dropdownLink
{
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 5px;
}

a.dropdownLink .outerWrapper
{
    background-position: right top;
    background-repeat: no-repeat;
    padding-right: 5px;
}

a.dropdownLink .midWrapper
{
    background-repeat: repeat-x;
}

a.dropdownLink .innerWrapper
{
    background-image: url(images/widgets/dropdown_button/menu_bar_arrow.png);
    background-position: right top;
    background-repeat: no-repeat;
    display: block;
    padding: 1px 25px 0 5px;
}

a.dropdownLink:hover
{
    background-image: url(images/widgets/dropdown_button/hover_left.png);
}

a.dropdownLink:hover .outerWrapper
{
    background-image: url(images/widgets/dropdown_button/hover_right.png);
}

a.dropdownLink:hover .midWrapper
{
    background-image: url(images/widgets/dropdown_button/hover_gradSlice.png);
}

a.dropdownLink.clicked
{
    background-image: url(images/widgets/dropdown_button/click_left.png);
}

a.dropdownLink.clicked .outerWrapper
{
    background-image: url(images/widgets/dropdown_button/click_right.png);
}

a.dropdownLink.clicked .midWrapper
{
    background-image: url(images/widgets/dropdown_button/click_gradSlice.png);
}
/*** END: dropdown button ***/


/*** START: dropdown menus ***/
/*
    <ul class='menu'>

    Gray title for section:
        <li class='sectionTitle'>View your data</li>

    Menu item:
        <li><a href='#'>Do an action</a></li>

    End of menu:
        <li class='footer'><div class='outerWrapper'>
            <span class='innerWrapper'></span></div></li>
    </ul>
*/

ul.menu
{
    background-color: #ffedcc;
    border: 1px solid #8d8d8d;
    border-bottom: none;
    display: none;
    min-width: 15em;
    position: absolute;
    z-index: 200;
}

ul.menu.shown
{
    display: block;
}

ul.menu li
{
    display: block;
    padding: 0.3em 10px 0 5px;
}

ul.menu li.sectionTitle
{
    color: #959393;
    font-size: 1.1em;
    padding-left: 30px;
}

ul.menu li a
{
    color: #333333;
    display: block;
    font-size: 1.2em;
    height: 23px;
    line-height: 23px;
    padding-left: 25px;
    text-decoration: none;
}

ul.menu li a:hover
{
    text-decoration: underline;
}

ul.menu li.footer
{
    background-image: url(images/widgets/menu/corner_light_left_bottom.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 9px;
    margin: 0 -1px -9px -1px;
    padding: 0 0 0 9px;
}

ul.menu li.footer .outerWrapper
{
    background-image: url(images/widgets/menu/corner_light_right_bottom.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 9px;
    padding-right: 8px;
}

ul.menu li.footer .innerWrapper
{
    background-color: #ffedcc;
    border-bottom: 1px solid #8d8d8d;
    display: block;
    height: 8px;
}

/* If you have an option menu (dark on the left under the icons, and the
 *  icons change to checkboxes for the selected item), add the optionMenu
 *  class; and add an extra span to the footer:
        <li class='footer'><div class='outerWrapper'>
            <div class='innerWrapper'><span class='colorWrapper'><span>
        </div></div></li>
 */

ul.menu.optionMenu
{
    background-color: #e0d1b8;
}

ul.menu.optionMenu li
{
    background-color: #ffedcc;
    margin-left: 30px;
}

ul.menu.optionMenu li a
{
    margin-left: -30px;
    padding-left: 28px;
}

ul.menu.optionMenu li.footer
{
    background-color: transparent;
    background-image: url(images/widgets/menu/corner_dark_left_bottom.png);
    margin-left: -1px;
}

ul.menu.optionMenu li.footer .colorWrapper
{
    background-color: #e0d1b8;
    display: block;
    height: 8px;
    width: 22px;
}

/*** END: dropdown menu ***/
