<div id="modal" class="modal">

  <div class="modal-overlay"></div>

  <div class="modal-dialog">
    <h1 class="modal-title"><%= I18n.t('login_successful') %></h1>
    <p><%= I18n.t('taking_you_back_to_your_story') %> <span class="busy-spinner"></span></p>
  </div>
</div>
