<div id="modal" class="modal">

  <div class="modal-overlay"></div>

  <div class="modal-dialog">
    <h1 class="modal-title"><%= I18n.t('login_successful') %></h1>
    <div>
      <img src="<%= asset_path 'shared/branded-spinner.gif' %>"></img>
    </div>
  </div>
</div>
