@import "styleguide-colors";

.metric-card {
  border: 1px solid $light-grey-3;
  background-color: $white;
  padding: 0.5em;
  height: 300px;

  .metric-card-header {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
  }

  .metric-card-content {

  }
}
