@import "common/styleguide/variables/colors";
@import "variables/breakpoints";
@import "common/feedback-panel";

@import "op-measure/site-chrome";
@import "op-measure/components/metadata-pane";
@import "op-measure/components/summary-pane";
@import "op-measure/components/reporting-period";
@import "op-measure/components/measure-result-card";
@import "op-measure/components/preview-bar";
@import "op-measure/components/edit-bar";
@import "op-measure/components/edit-modal";

$edit-bar-height: 60px;

body {
  margin: 0;
  padding: 0;
  background: $light-grey-6;
}

.op-measure {
  .container {
    margin-left: 4px;
    max-width: initial;
  }

  .info-pane {
    margin-bottom: 0; // decrease space above nav tabs

    .entry-header {
      padding-left: 2em;

      .entry-title {
        flex: 1 1 80%;
      }

      .entry-actions {
        display: flex;
        flex: 1 1 10%;
        justify-content: flex-end;
      }
    }
  }

  .measure-content {
    display: flex;
    margin: 0 2em;
  }

  .measure-panes {
    flex-grow: 1;

    .nav-tabs {
      margin-left: 0; // remove overall shift to the left

      li:first-child {
        padding-left: 0; // remove divider extension to the left
      }
    }
  }

  .measure-sidebar {
    flex-basis: 330px;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
  }
}

/**
 * LOADING
 */

.main-spinner {
  display: flex;
  height: 400px;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .spinner-large {
    margin: auto;
  }
}

.placeholder-wrapper {
  margin-top: $edit-bar-height;
}
