@import 'common/components/AccessManager/common.module.scss';

.user-label {
  width: 387px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 14px;
}

.subtitle {
  font-size: 12px;
  font-weight: 300;
}

.unregistered {
  font-style: italic;
  color: $error-text !important;
}
