<% content_for :head do %>
  <title><%= get_site_title %></title>
  <meta name="description" content="<%= CurrentDomain.cname %> | Socrata Open Data Catalog">
  <meta name="page_name" content="Asset Selector">

  <%= rendered_stylesheet_tag('asset-selector') %>
<% end %>

<div style="padding: 1.5rem;">
  <h2>Category: lorem ipsum</h2>
  <p>Lorem ipsum dolor sit amet, partiendo conceptam reprehendunt vim cu. Id alii perfecto his. Fabellas maluisset scribentur per ad. Mea nibh habemus delicatissimi in. Apeirian interesset et eum. Solet laoreet eu vel, et per iriure praesent constituto.

  Ut sit quod atomorum molestiae, usu et nullam percipit iudicabit. Sit dicant doctus constituam ex, at vix dicant praesent. Ne eam ornatus percipit lobortis, ea vix dicam iuvaret volutpat. Te nullam sanctus has, justo copiosae iudicabit ea nam, eu mel posse nominati sententiae.</p>

  <p>Lorem ipsum dolor sit amet, partiendo conceptam reprehendunt vim cu. Id alii perfecto his. Fabellas maluisset scribentur per ad. Mea nibh habemus delicatissimi in. Apeirian interesset et eum. Solet laoreet eu vel, et per iriure praesent constituto.</p>

  <p>Ut sit quod atomorum molestiae, usu et nullam percipit iudicabit. Sit dicant doctus constituam ex, at vix dicant praesent. Ne eam ornatus percipit lobortis, ea vix dicam iuvaret volutpat. Te nullam sanctus has, justo copiosae iudicabit ea nam, eu mel posse nominati sententiae.</p>

  <p>Lorem ipsum dolor sit amet, partiendo conceptam reprehendunt vim cu. Id alii perfecto his. Fabellas maluisset scribentur per ad. Mea nibh habemus delicatissimi in. Apeirian interesset et eum. Solet laoreet eu vel, et per iriure praesent constituto.</p>

  <div style="display: inline-flex; align-items: center; justify-content: center; height: 220px; width: 300px; border: 1px dashed #999; margin: 1rem;">
    <div class="asset-selector"></div>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    // Stub I18n so we can use viewCardHelpers.
    // TODO remove this once it isn't necessary, when we have a plan for config/translations
    window.I18n = {
      view_widget: {
        views: 'Views',
        view: 'View'
      },
      related_views: {
        view: 'View'
      }
    };
  </script>

  <%= include_webpack_bundle 'asset-selector/main.js' %>
<% end %>
