<h1 class="padding">
  <span class="dl-name"></span>
  <div class="source-pill">
    <i class="icon-check-2"></i>OFFICIAL
  </div>
</h1>

<article id="introText" class="intro-text">
  <div class="meta-container">
    <p id="button-toggle-metadata" class="btn-meta" data-open="false">show metadata</p>
    <div id="metadata-content" class="hidden">
      <div class="title-section padding">
        <h3 class="meta-title alpha">Source Dataset</h3>
        <h3 class="dl-name meta-title beta"></h3>
      </div>
      <div class="padding">
        <div class="meta-desc">
          <p>All data powering this page is available for download and/or can be accessed via API from the desktop version of this site.</p>
          <p class="meta-go-link">Tap here to go to the desktop version &raquo;</p>
        </div>
      </div>
    </div>
  </div
</article>
