@import '../variables';

.container {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 5px;
  position: relative;

  ul {
    background-color: $role-edit-control-background-color;
    box-shadow: 0 10px 25px 0 $role-edit-control-box-shadow-color;
    color: $role-edit-control-color;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(2em + 2px);

    li {
      flex-shrink: 0;
      white-space: nowrap;

      button {
        color: $role-edit-control-color;
        display: block;
        text-align: left;
      }

      &:hover {
        background-color: $role-edit-control-hover-background-color;
      }
    }
  }
}

.role-edit-control {
  flex-shrink: 0;
  height: $role-edit-control-height;
  width: $role-edit-control-width;

  &:global(.btn) {
    padding: 0;
  }
}
