@import "variables/breakpoints";
@import "common/mixins";
@import "common/asset-selector/card";
@import "common/styleguide/partials/pager";
@import "../public/javascripts/common/components/searchbox/searchbox";

.asset-selector {
  .results-container {
    .centered-content {
      max-width: 1000px;
      margin: 0 auto;

      .results-topbar {
        display: flex;
        margin-bottom: 1rem;

        @include mobile {
          display: block;
        }

        > button {
          margin-right: 0.5rem;
        }

        .searchbox {
          margin-left: auto;
          width: 50%;

          @include mobile {
            width: 100%;
            margin-top: 0.5rem;
          }
        }
      }

      .spinner-default {
        position: fixed;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
      }

      .no-results {
        margin-top: 1rem;
      }

      .top-controls {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;

        .result-count {
          float: none;
          align-self: center;
        }

        .sort-dropdown {
          align-items: center;
          display: inline-flex;
          margin: 3px;
          font-size: 15px;

          .dropdown-container {
            margin-left: 0.5rem;

            .dropdown-caret::after {
              margin-top: 10px;
            }

            &.dropdown-focused {
              .dropdown-placeholder {
                border-color: $primary-light;
                outline-color: $primary-base;
              }
              .dropdown-caret {
                color: $primary-text;
              }
            }

            .picklist-option {
              &:hover {
                background-color: $primary-light;
              }

              &.picklist-option-selected {
                background-color: $primary-base;
              }
            }
          }
        }
      }

      .card-container {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;

        @media(max-width: $medium) {
          flex-flow: row nowrap;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
        }
      }
    }
  }
}
