$banner_height: 58px;
$divider_height: 14px;

header#site-chrome-header[template="rally"] {
  font-family: $font_family, 'Open Sans', Helvetica, Arial, 'sans-serif';

  .banner {
    line-height: 60px;
    font-size: 18px;

    > .rally-top {
      background-color: $header_bg_color_secondary;
      min-height: 2rem;
      height: $header_logo_height;
      padding: 1rem;

      > a.logo {
        float: left;
        text-decoration: none;

        > img {
          height: $header_logo_height;
          width: $header_logo_width;
          margin-right: 1rem;
          float: left;
        }

        > span.site-name {
          font-weight: 300;
          font-size: 24px;
          line-height: $header_logo_height;
          float: left;
        }
      }

      .searchbox {
        .search-button {
          display: none; // appears with toggleSearchButton()
        }
      }
    }

    > .rally-bottom {
      color: $header_fg_color;
      background-color: $header_bg_color;
      height: $banner_height;
      padding: 0 1rem;
      clear: both;

      > nav {
        font-size: 15px;
        font-weight: 300;
        height: 100%;

        &.desktop {
          a.site-chrome-nav-link {
            height: 100%;
            display: inline-block;
            color: $header_fg_color;
            text-decoration: none;
            &:hover, &:focus, &:active {
              text-decoration: underline;
            }
          }

          .navbar-left {
            height: 100%;
            float: left;

            .site-chrome-nav-links {
              height: 100%;

              a.site-chrome-nav-link {
                padding: 0 $text_padding;
                &:hover, &:focus, &:active {
                  text-decoration: none;
                  background-color: rgba(255, 255, 255, 0.3);
                }
              }
            }
          }

          .navbar-right {
            height: 100%;
            float: right;

            .site-chrome-social-links {
              height: 100%;
              float: left;

              .site-chrome-social-link {
                &:hover, &:focus, &:active {
                  text-decoration: none;
                }
              }
            }
            a.site-chrome-nav-link {
              padding: 0 5px;
            }
            a.sign-in-toggle {
              font-size: 12px;
              margin-left: $text_padding;
            }
            a.profile-link, a.admin-link, a.logout-link {
              line-height: 3rem;
              padding: 0 $text_padding;
              text-decoration: none;
              &.in-header {
                color: $header_fg_color;
              }
              &:hover, &:focus, &:active {
                text-decoration: underline;
              }
            }

            span.divider {
              margin: (($banner_height - ($divider_height * 2)) / 2) $text_padding;
            }
          }
        }

        &.mobile {
          float: right;
          .menu-toggle {
            font-size: 12px;
          }
        }

        @include desktop {
          &.desktop { display: block; }
          &.mobile { display: none; }
        }
        @include mobile-med {
          &.desktop { display: none; }
          &.mobile { display: block; }
        }
      }
    }
  }
}
