<div style="margin: 2rem;">
  <h1>Bacon ipsum</h1>
  <a href="/stories/?enable_unified_header_footer=true&logged_in=true">View as signed in user</a> |
  <a href="/stories/?enable_unified_header_footer=true&logged_in=false">View as signed out user</a>
  <%- 3.times do -%>
    <p>
      Bacon ipsum dolor amet meatball pork chop beef bresaola prosciutto jerky kevin pancetta. Pork belly brisket biltong pork kevin flank drumstick alcatra picanha tongue beef turkey bacon ribeye. Meatball corned beef tail tri-tip, turducken bacon beef. Strip steak jerky ground round biltong ball tip picanha pastrami. Boudin t-bone salami pig short loin capicola shankle pancetta tail ribeye. Swine brisket pork chop, pork sausage tri-tip tail alcatra strip steak shankle pork belly t-bone.
    </p>
    <p>
      Shoulder pig kevin turducken cow sausage tongue. Kevin swine beef kielbasa. Sausage t-bone corned beef venison. Turkey prosciutto ham shankle pastrami beef ribs t-bone swine. Turducken cow flank spare ribs leberkas kevin alcatra picanha. Fatback rump pork short ribs kevin meatball porchetta chuck cupim.
    </p>
    <p>
      Ground round ham hock corned beef kevin andouille sirloin landjaeger. Meatball drumstick turducken, ham shoulder ribeye t-bone pork. Short ribs corned beef doner pork, filet mignon prosciutto jerky. Shankle venison swine boudin. Picanha rump cow strip steak sausage cupim pork loin chuck hamburger bacon. Tongue ham hock swine tail beef ribs ball tip filet mignon. Shankle capicola sirloin, ribeye frankfurter cupim kevin swine pancetta landjaeger prosciutto.
    </p>
  <%- end -%>
</div>
