.btn-group {
  display: inline-block;
  letter-spacing: -4px;

  .btn {
    border-radius: 0;
  }

  .btn:first-child {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-right: none;
  }

  .btn:last-child {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-left: none;
  }
}
