//Color Palette

//Base Palette Colors
$primary: #2C97DE;
$secondary: #00BE9B;
$success: #64CF6C;
$error: #CE6565;
$warning: #F7A700;

//Colors light version
$primary-light: tint($primary, 80%);
$secondary-light: tint($secondary, 80%);
$success-light: tint($success, 80%);
$error-light: tint($error, 80%);
$warning-light: tint($warning, 80%);

//Colors dark version
$primary-dark: shade($primary, 30%);
$secondary-dark: shade($secondary, 30%);
$success-dark: shade($success, 30%);
$error-dark: shade($error, 30%);
$warning-dark: shade($warning, 30%);


//Greys
$white: #fff;
$grey: #999;
$black: #2C2C2C; //as black as it will ever be at least

//Shades of Grey
$light-grey-1: tint($grey, 20%);
$light-grey-2: tint($grey, 40%);
$light-grey-3: tint($grey, 60%);
$light-grey-4: tint($grey, 80%);
$light-grey-5: tint($grey, 90%);

$dark-grey-1: shade($grey, 20%);
$dark-grey-2: shade($grey, 40%);
$dark-grey-3: shade($grey, 60%);


// Color Vars
$default-text-color: $dark-grey-1;
$quiet-text-color: $light-grey-1;
$light-text-color: $white;
$light-grey-bg: $light-grey-5;






// Button Colors
$btn-active-box-shadow-color: $black;


$btn-default-color: $dark-grey-1;
$btn-default-background-color: $white;
$btn-default-border-color: $light-grey-1;
$btn-default-hover-color: $dark-grey-1;
$btn-default-hover-background-color: shade($white, 10%);
$btn-default-active-border-color: shade($white, 20%);

$btn-default-dark-color: $white;
$btn-default-dark-background-color: $grey;
$btn-default-dark-border-color: $grey;
$btn-default-dark-hover-background-color: shade($grey, 20%);

$btn-default-busy-border-color: $white;
$btn-default-busy-border-right-color: $light-grey-2;
$btn-default-inverse-color: $white;
$btn-default-inverse-background-color: transparent;
$btn-default-inverse-border-color: $white;
$btn-default-inverse-hover-color: $primary;
$btn-default-inverse-hover-background-color: white;
$btn-default-inverse-hover-border-color: transparent;


$btn-primary-color: $white;
$btn-primary-background-color: $primary;
$btn-primary-border-color: $primary;
$btn-primary-hover-background-color: shade($primary, 20%);
$btn-primary-active-border-color: shade($primary, 10%);
$btn-primary-inverse-color: $primary;
$btn-primary-inverse-background-color: $white;
$btn-primary-inverse-hover-color: $white;
$btn-primary-inverse-hover-background-color: $primary;
$btn-primary-busy-border-right-color: tint($primary, 20%);


$btn-secondary-color: $white;
$btn-secondary-background-color: $secondary;
$btn-secondary-border-color: $secondary;
$btn-secondary-hover-background-color: shade($secondary, 20%);
$btn-secondary-active-border-color: shade($secondary, 10%);
$btn-secondary-inverse-color: $secondary;
$btn-secondary-inverse-background-color: $white;
$btn-secondary-inverse-hover-color: $white;
$btn-secondary-inverse-hover-background-color: $secondary;
$btn-secondary-busy-border-color: $white;
$btn-secondary-busy-border-right-color: tint($secondary, 20%);


$btn-success-color: $white;
$btn-success-background-color: $success;
$btn-success-border-color: $success;
$btn-success-hover-background-color: shade($success, 20%);
$btn-success-active-border-color: shade($success, 10%);
$btn-success-inverse-color: $success;
$btn-success-inverse-background-color: $white;
$btn-success-inverse-hover-color: $white;
$btn-success-inverse-hover-background-color: $success;


$btn-error-color: $white;
$btn-error-background-color: $error;
$btn-error-border-color: $error;
$btn-error-hover-background-color: shade($error, 20%);
$btn-error-active-border-color: shade($error, 10%);
$btn-error-inverse-color: $error;
$btn-error-inverse-background-color: $white;
$btn-error-inverse-hover-color: $white;
$btn-error-inverse-hover-background-color: $error;


$btn-transparent-busy-border-color: $dark-grey-1;
$btn-transparent-busy-border-right-color: $light-grey-2;

$btn-disabled-color: $grey;
$btn-disabled-border-color: $light-grey-1;
$btn-disabled-background-color: $light-grey-3;
$btn-disabled-dark-color: $light-grey-1;
$btn-disabled-dark-border-color: $grey;
$btn-disabled-dark-background-color: $dark-grey-1;

$tag-color: $dark-grey-2;
$tag-background-color: $light-grey-4;

// header
$header-bg-color: #4a4747;
$header-text-color: $white;
$header-accent-color: #ddd;
$header-link-hover-color: #7ac3ff;
$header-link-hover-bg-color: #2295e1;
$header-box-shadow-color: rgba(0, 0, 0, 0.2);
$header-story-title-color: $light-grey-4;
$header-story-title-hover-color: $white;
$header-btn-disabled-color: #777;
$header-publication-status-color: #e0e0e0;

// Settings Panel
$settings-panel-btn-color: $grey;

//backgrounds
$light-gray-bg: $light-grey-3;
$almost-white-bg: $light-grey-5;
$panel-border-color: $light-grey-4;
$panel-internal-border-color: $light-grey-5;



