// Button Colors
$btn-default-color: #757575;
$btn-default-background-color: #fff;
$btn-default-border-color: #b7b7b7;
$btn-default-hover-color: #6e6e6e;
$btn-default-hover-background-color: #dbdbdb;
$btn-default-dark-color: #fff;
$btn-default-dark-background-color: #929292;
$btn-default-dark-border-color: #b7b7b7;
$btn-default-dark-hover-background-color: #757575;
$btn-default-busy-border-color: #fff;
$btn-default-busy-border-right-color: #d2d2d2;
$btn-default-inverse-color: white;
$btn-default-inverse-background-color: transparent;
$btn-default-inverse-border-color: white;

$btn-primary-color: #fff;
$btn-primary-background-color: #2c97de;
$btn-primary-border-color: #2c97de;
$btn-primary-hover-background-color: #2379b2;
$btn-primary-active-border-color: #2379b2;
$btn-primary-active-box-shadow-color: #000;
$btn-primary-inverse-color: #2c97de;
$btn-primary-inverse-background-color: #fff;
$btn-primary-inverse-hover-color: #fff;
$btn-primary-inverse-hover-background-color: #2c97de;
$btn-primary-busy-border-right-color: #8ad0ff;

$btn-secondary-color: #fff;
$btn-secondary-background-color: #00be9b;
$btn-secondary-border-color: #00be9b;
$btn-secondary-hover-background-color: #00987c;
$btn-secondary-active-border-color: #00987c;
$btn-secondary-inverse-color: #00be9b;
$btn-secondary-inverse-background-color: #fff;
$btn-secondary-inverse-hover-color: #fff;
$btn-secondary-inverse-hover-background-color: #00be9b;
$btn-secondary-busy-border-color: #fff;
$btn-secondary-busy-border-right-color: #66e2cc;

$btn-success-color: #fff;
$btn-success-background-color: #64cf6c;
$btn-success-border-color: #64cf6c;
$btn-success-hover-background-color: #50a656;
$btn-success-hover-border-color: #50a656;
$btn-success-inverse-color: #64cf6c;
$btn-success-inverse-background-color: #fff;
$btn-success-inverse-hover-color: #fff;
$btn-success-inverse-hover-background-color: #64cf6c;

$btn-error-color: #fff;
$btn-error-background-color: #ce6565;
$btn-error-border-color: #ce6565;
$btn-error-hover-background-color: #a55151;
$btn-error-active-border-color: #a55151;
$btn-error-inverse-color: #ce6565;
$btn-error-inverse-background-color: #fff;
$btn-error-inverse-hover-color: #fff;
$btn-error-inverse-hover-background-color: #ce6565;

$btn-transparent-busy-border-color: #9b9b9b;
$btn-transparent-busy-border-right-color: #c9c9c9;

$btn-disabled-color: dimgray;
$btn-disabled-border-color: #929292;
$btn-disabled-background-color: #c5c5c5;
$btn-disabled-dark-color: #b7b7b7;
$btn-disabled-dark-border-color: #838383;
$btn-disabled-dark-background-color: #716d6d;

$tag-color: #888;
$tag-background-color: #eee;

// header
$header-bg-color: #4a4747;
$header-text-color: #fff;
$header-accent-color: #ddd;
$header-link-hover-color: #7ac3ff;
$header-link-hover-bg-color: #2295e1;
$header-box-shadow-color: rgba(0, 0, 0, 0.2);
$header-story-title-color: #dbdbdb;
$header-story-title-hover-color: #fff;
$header-btn-disabled-color: #777;
$header-publication-status-color: #e0e0e0;

// Settings Panel
$settings-panel-btn-color: #929292;

$panel-border-color: #e0e0e0;
$panel-internal-border-color: #eee;

//Colors
$gray: #4A4A4A;
$gray2: #757575;
$medium-gray: #929292;
$light-gray: #b7b7b7; //Actually, light gray 3
$extra-light-gray: #dbdbdb;
$white: #fff;


// Color Vars
$default-text-color: $gray;
$quiet-text-color: $light-gray;
$light-text-color: $white;

$primary-blue: #2C97DE;
$secondary-green: #00BE9B;

$success: #64CF6C;
$error: #CE6565;

//backgrounds
$light-gray-bg: #d3d2ce;
$almost-white-bg: #f2f2f2;

//List of base colors
//Probably want to turn these into variables..
$colors: (
	'blue': $primary-blue,
	'gray': #4a4a4a,
	'yellow': #debb1e,
	'green': $secondary-green

);


//Swatches styling for the color palette
.box {
	width: 20em;
	padding: 1em 2em;
	display: block;
	margin: 0em 1em;
}
.large {
	padding: 2em 2em;
	margin-bottom: 1em;
}
.color-group {
	float: left;
	display: block;
	margin-bottom: 2em;
}


//Number of light and dark shades
$range: 5;

//Loop that generates classes for each base color
//apply .[basecolor] and .[basecolor] .light(1-4) to change the color
@each $color-name, $base-color in $colors{
	.#{$color-name} {
        background-color: $base-color;
        color: $light-text-color;
        &:after {
          content: "#{$base-color}";
          float: right;
        }

	    @for $i from 1 through $range {
			$percent: ($i*20);
		    $color: tint($base-color, $percent);
			&.light-#{$i} {
				background-color: $color;
		        color: $default-text-color;
				&:after {
		        	content: "#{$color}";
		        	float: right;
        		}
			}
		    $color: shade($base-color, $percent);
			&.dark-#{$i} {
				background-color: $color;
		        color: $light-text-color;
				&:after {
		        	content: "#{$color}";
		         	float: right;
        		}
			}
		}
	}
}


