//Dropdowns
.dropdown {
  /* Size and position */
  display: inline-block;
  position: relative; /* Enable absolute positioning for children and pseudo elements */
  padding: ms(-5) ms(7) ms(-5) ms(0);

  /* Styles */
  color: $grey;
  border: 1px solid $btn-default-border-color;
  border-radius: 1px;
  cursor: pointer;
}

.dropdown::after {
  @include triangle-down;
}

.dropdown.dropdown-orientation-top::after {
  @include triangle-up;
}

.dropdown .dropdown-options {
  /* Size & position */
  position: absolute;
  left: 0;
  right: inherit;

  /* Styles */
  background: $white;
  border-radius: 1px;
  list-style: none;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 0px 15px;

  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.dropdown.dropdown-orientation-top .dropdown-options {
  bottom: 100%;
}

.dropdown.dropdown-orientation-bottom .dropdown-options {
  top: 100%;
}

.dropdown .dropdown-options li a {
  @include ellipsis;
  display: block;
  text-decoration: none;
  color: $grey;
	padding: ms(-5) ms(0);
}

/* Hover state */
.dropdown .dropdown-options li:hover a {
  background: $light-grey-5;
}

/* Active state */
.dropdown.active .dropdown-options {
  opacity: 1;
  pointer-events: auto;
  margin: 1px 0;
}

.dropdown.active::after {
  @include triangle-up;
}

.dropdown.active.dropdown-orientation-top::after {
  @include triangle-down;
}

/////Forms
form {

  margin-bottom: ms(0);

	.text-input {
		border: solid 1px $light-grey-2;
		border-radius: 1px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
		line-height: 1.53;
		font-size: ms(0);
		font-family: "Open Sans", "Helvetica", Arial, sans-serif;
		padding: ms(-6);
	}
  .block-label {
    display: block;
    margin-bottom: 0.2em;
  }
  .inline-label {
    display: inline;
    margin-right: 0.5em;
  }
	.text-area {
		min-width: 350px;
	}
    .checkbox{
        input[type=checkbox] {
            display: none;
        }
        label {
            display: inline-block;
            cursor: pointer;
            position: relative;
        }
        .fake-checkbox{
            border: solid 1px #E2E2E2;
            border-radius: 1px;
            box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
            margin-right: ms(-5);
            display:inline-block;
            width:19px;
            height:19px;
            cursor:pointer; 
            vertical-align: text-bottom;
        }
        input[type=checkbox] + label .fake-checkbox span{
            display: none;
        }
        input[type=checkbox]:checked + label .fake-checkbox span{
            display: inline-block;
            vertical-align: text-top;
            padding-left: 1px;
        }
    }
    .radiobutton{
        input[type=radio] {
            display: none;
        }
        label {
            display: inline-block;
            cursor: pointer;
            position: relative;
        }
        input[type=radio] + label span{
            border: solid 1px #E2E2E2;
            border-radius: 10px;
            box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
            margin-right: ms(-5);
            display:inline-block;
            width:19px;
            height:19px;
            cursor:pointer; 
            vertical-align: text-bottom;
        }

        input[type=radio]:checked + label span{
            display:inline-block;
            width:19px;
            height:19px;
            background-color: $dark-grey-2;
            border: solid 5px $light-grey-3; 
            border-radius: 10px;
            box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
            vertical-align: text-bottom; 
        }
    }

}

