// Buttons
$btn-height: 2rem;
$btn-padding-top-bottom: 0.9rem;
$btn-padding-left-right: 1.5rem;
$btn-busy-width: 2rem;
$btn-busy-height: 2rem;
$btn-busy-border-width: 1px;
$btn-border-radius: 2px;
$btn-transition-duration: 0.2s;
