//Tags

// Colors
@import 'colors';

.tag-category {
  display: inline-block;
  margin: 0 ms(-1) 0 0;
  padding: ms(-18) ms(-12);
  font-size: ms(-1);
  color: $tag-color;
  background-color: $tag-background-color;
  white-space: nowrap;
}

.tag-official {
  color: $secondary;
  font-size: ms(-1);
  margin: 0 ms(-1) 0 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.tag-federated {
  color: $black;
  font-size: ms(-1);
  margin: 0 ms(-1) 0 0;
  white-space: nowrap;

  a {
    color: $black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .domain {
    text-transform: uppercase;
  }
}