@import dataCards/common/mixins

// First we define general colors for DRY reasons.
// Then we define colors for modules
// Then we apply all of the module colors

// General colors
$body-background-color: #3f4752
$blue-active-color: #67aecc
$red-error-color: #e83e3e
$aqua-color: #68b0cc

// Module colors
$page-header-background-color: $body-background-color
$page-header-link-text-color: #f0edee
$page-header-link-text-shadow-color: #000

$cards-metadata-background-color: #fff
$cards-metadata-text-color: #646464
$cards-metadata-border-color: #d7d4d4
$cards-metadata-show-more-text-color: $aqua-color
$cards-metadata-edit-placeholder-text-color: rgba(#000, .4)
$cards-metadata-edit-placeholder-focused-text-color: $blue-active-color
$cards-metadata-edit-textarea-background-color: transparent
$cards-metadata-edit-textarea-border-color: #e9e6e7
$cards-metadata-edit-textarea-focused-border-color: $blue-active-color
$cards-metadata-edit-textarea-focused-box-shadow-color: $blue-active-color
$cards-metadata-edit-textarea-warning-border-color: $red-error-color
$cards-metadata-edit-warning-color: $red-error-color
$cards-metadata-value-text-color: #676464
$cards-metadata-value-link-text-color: $aqua-color

$action-btn-bg-color: #f0f5f7
$action-btn-border-color: #bad9e6
$action-btn-font-color: $aqua-color
$action-btn-hover-bg-color: $blue-active-color
$action-btn-hover-border-color: $blue-active-color
$action-btn-hover-font-color: #fff
$action-btn-disabled-bg-color: #f9f7f8
$action-btn-disabled-border-color: #e9e6e7
$action-btn-disabled-font-color: #c6c1bf
$action-btn-touched-bg-color: $blue-active-color
$action-btn-touched-border-color: $blue-active-color
$action-btn-touched-font-color: #fff
$action-btn-error-bg-color: #cc6667
$action-btn-error-border-color: #cc6667
$action-btn-error-font-color: #fff
$action-btn-success-bg-color: #68cd70
$action-btn-success-border-color: #68cd70
$action-btn-success-font-color: #fff
$action-btn-working-bg-color: $blue-active-color
$action-btn-working-border-color: $blue-active-color
$action-btn-working-font-color: #fff
$action-btn-dark-bg-color: #3f4752
$action-btn-dark-border-color: $blue-active-color
$action-btn-dark-font-color: $blue-active-color
$action-btn-dark-hover-bg-color: $blue-active-color
$action-btn-dark-hover-border-color: $blue-active-color
$action-btn-dark-hover-font-color: #fff
$action-btn-dark-disabled-bg-color: #434d59
$action-btn-dark-disabled-border-color: #5f6a77
$action-btn-dark-disabled-font-color: #6d7681
$action-btn-dark-touched-bg-color: $blue-active-color
$action-btn-dark-touched-border-color: $blue-active-color
$action-btn-dark-touched-font-color: #fff
$action-btn-dark-working-bg-color: $blue-active-color
$action-btn-dark-working-border-color: $blue-active-color
$action-btn-dark-working-font-color: #fff
$action-btn-green-bg-color: #576A4A
$action-btn-green-border-color: #87B265
$action-btn-green-font-color: #fff
$action-btn-green-hover-bg-color: #87B265
$action-btn-green-hover-border-color: #87B265
$action-btn-green-hover-font-color: #fff
$action-btn-green-disabled-bg-color: #f0f
$action-btn-green-disabled-border-color: #ff0
$action-btn-green-disabled-font-color: #4b0082

$flyout-border-color: #ccc
$flyout-background-color: #fff
$flyout-text-color: #000
$flyout-chart-background-color: #f1eeee
$flyout-chart-title-text-color: #676464
$flyout-chart-text-color: #8a8686
$flyout-table-description-text-color: rgba(#000, .5)
$flyout-row-cell-emphasized-color: lighten(#68b0cc, 10%)

$tool-panel-text-color: #fff
$tool-panel-background-color: #4d5968
$tool-panel-border-color: #3f4752
$tool-panel-hint-border-color: #4d5968
$tool-panel-light-background-color: #eee
$tool-panel-light-border-color: #d4d4d4
$tool-panel-form-text-color: #555
$tool-panel-form-background-color: #fff
$tool-panel-form-error-border-color: $red-error-color

$modal-dialog-overlay-color: #141415
$modal-dialog-background-color: #4d5968
$modal-dialog-border-color: #3f4752
$modal-dialog-text-color: #fff
$modal-dialog-close-button-color: $blue-active-color

$selection-label-background-color: #fff
$selection-label-text-color: #000

$related-views-list-item-border-color: rgba(#fff, .3)
$related-views-list-item-hover-background-color: rgba(#fff, .1)
$related-view-name-text-color: #68b0cc
$related-view-description-text-color: #fff

$multiline-ellipsis-color: $aqua-color

// Theme styles
// TODO Get rid of the unnestessary amount of nesting


// page-header
.page-header
  background-color: $page-header-background-color

.page-header-link
  color: $page-header-link-text-color
  text-shadow: 1px 1px 2px $page-header-link-text-shadow-color


// metadata
.cards-metadata
  background: $cards-metadata-background-color
  color: $cards-metadata-text-color
  border-color: $cards-metadata-border-color

  .page-description
    .show-more
      color: $cards-metadata-show-more-text-color

  .edit-page-name
    >.placeholder
      span
        color: $cards-metadata-edit-placeholder-text-color

    >textarea
      background: $cards-metadata-edit-textarea-background-color
      border-color: $cards-metadata-edit-textarea-border-color

      &:focused
        border-color: $cards-metadata-edit-textarea-focused-border-color
        @include prefixer(box-shadow, 0 0 2px 0 $cards-metadata-edit-textarea-focused-box-shadow-color)

        + .placeholder
          color: $cards-metadata-edit-placeholder-focused-text-color

    .icon-warning
      color: $cards-metadata-edit-warning-color

      + textarea
        border-color: $cards-metadata-edit-textarea-warning-border-color

  .metadata
    .metadatum-wrapper
      .metadatum
        span
          &.value
            color: $cards-metadata-value-text-color

            a
              color: $cards-metadata-value-link-text-color


// action-button
.action-btn
  @include action-button($action-btn-font-color, $action-btn-bg-color, $action-btn-border-color)

  &.dark
    @include action-button($action-btn-dark-font-color, $action-btn-dark-bg-color, $action-btn-dark-border-color)

    &:hover, &.active
      @include action-button($action-btn-dark-hover-font-color, $action-btn-dark-hover-bg-color, $action-btn-dark-hover-border-color)

    &.disabled, &:disabled
      @include action-button($action-btn-dark-disabled-font-color, $action-btn-dark-disabled-bg-color, $action-btn-dark-disabled-border-color)

  &.green
    @include action-button($action-btn-green-font-color, $action-btn-green-bg-color, $action-btn-green-border-color)

    &:hover
      @include action-button($action-btn-green-hover-font-color, $action-btn-green-hover-bg-color, $action-btn-green-hover-border-color)

    &.disabled, &:disabled
      @include action-button($action-btn-green-disabled-font-color, $action-btn-green-disabled-bg-color, $action-btn-green-disabled-border-color)

  &.inverted
    @include action-button($action-btn-hover-font-color, $action-btn-hover-bg-color, $action-btn-hover-border-color)

    &:hover
      @include action-button($action-btn-font-color, $action-btn-border-color, $action-btn-bg-color)

  &:hover, &.active
    @include action-button($action-btn-hover-font-color, $action-btn-hover-bg-color, $action-btn-hover-border-color)

  &.disabled, &:disabled
    @include action-button($action-btn-disabled-font-color, $action-btn-disabled-bg-color, $action-btn-disabled-border-color)

  &.touched
    @include action-button($action-btn-touched-font-color, $action-btn-touched-bg-color, $action-btn-touched-border-color)

  &.error
    @include action-button($action-btn-error-font-color, $action-btn-error-bg-color, $action-btn-error-border-color)

  &.success
    @include action-button($action-btn-success-font-color, $action-btn-success-bg-color, $action-btn-success-border-color)

  &.working
    @include action-button($action-btn-working-font-color, $action-btn-working-bg-color, $action-btn-working-border-color)


// flyout
#uber-flyout
  color: $flyout-chart-text-color
  background-color: $flyout-chart-background-color
  border: 1px solid $flyout-border-color

  .flyout-title
    color: $flyout-chart-title-text-color

  .flyout-row
    .flyout-cell.emphasis
      color: $flyout-row-cell-emphasized-color

#uber-flyout.left
  .hint
    &:after
      border-color: $flyout-chart-background-color transparent transparent transparent

    &:before
      border-color: $flyout-border-color transparent transparent transparent

#uber-flyout.right
  .hint
    &:after
      border-color: transparent $flyout-chart-background-color transparent transparent

    &:before
      border-color: transparent $flyout-border-color transparent transparent

#uber-flyout.right.horizontal
  .hint
    &:after
      border-color: transparent transparent transparent $flyout-chart-background-color

    &:before
      border-color: transparent transparent transparent $flyout-border-color

.flyout
  border: 1px solid $flyout-border-color
  background-color: $flyout-background-color
  color: $flyout-text-color

  &.flyout-chart
    color: $flyout-chart-text-color
    background-color: $flyout-chart-background-color

    .flyout-title
      color: $flyout-chart-title-text-color

    &.top
      .flyout-arrow
        &.left
          &:after
            border-color: $flyout-chart-background-color transparent transparent transparent

          &:before
            border-color: $flyout-border-color transparent transparent transparent

        &.right
          &:after
            border-color: transparent $flyout-chart-background-color transparent transparent

          &:before
            border-color: transparent $flyout-border-color transparent transparent

        &.center
          &:after
            border-color: $flyout-chart-background-color transparent transparent

          &:before
            border-color: $flyout-border-color transparent transparent

  &.flyout-table
    .flyout-title
      border-bottom-color: $flyout-border-color

      .description
        color: $flyout-table-description-text-color

    &.right
      .flyout-arrow
        &:after
          border-right-color: $flyout-background-color

        &:before
          border-right-color: $flyout-border-color

    &.left
      .flyout-arrow
        &:after
          border-left-color: $flyout-background-color

        &:before
          border-left-color: $flyout-border-color

    &.top
      .flyout-arrow
        &:after
          border-top-color: $flyout-background-color

        &:before
          border-top-color: $flyout-border-color

    &.bottom
      .flyout-arrow
        &:after
          border-bottom-color: $flyout-background-color

        &:before
          border-bottom-color: $flyout-border-color


// tool-panel
.tool-panel
  .tool-panel-main
    color: $tool-panel-text-color
    background-color: $tool-panel-background-color
    border: solid 1px $tool-panel-border-color

  .tool-panel-hint
    border-color: transparent transparent $tool-panel-background-color transparent

  &.upwards
    .tool-panel-hint
      border-color: $tool-panel-background-color transparent transparent $tool-panel-background-color

  &.light
    .tool-panel-hint
      border-color: $tool-panel-light-border-color

  &.left
    .tool-panel-hint
      &:after
        border-color: transparent transparent $tool-panel-light-background-color $tool-panel-light-background-color
      &:before
        border-color: transparent transparent $tool-panel-light-border-color $tool-panel-light-border-color

  .form-control
    color: $tool-panel-form-text-color
    background: $tool-panel-form-background-color none
    &.form-error
      border-color: $tool-panel-form-error-border-color


// modal-dialog
.modal-container
  .modal-overlay
    background-color: $modal-dialog-overlay-color

  .modal-dialog
    background-color: $modal-dialog-background-color
    border: 1px solid $modal-dialog-border-color

    .modal-dialog-content
      color: $modal-dialog-text-color

    .modal-close-button
      color: $modal-dialog-close-button-color


// selection-label
.selection-label-outer
  color: $selection-label-text-color
  background-color: $selection-label-background-color


// related-views
.related-views-list-item
  > a
    border-bottom: 1px solid $related-views-list-item-border-color

  &:hover
    background-color: $related-views-list-item-hover-background-color

.related-view-name
  color: $related-view-name-text-color

.related-view-description
  color: $related-view-description-text-color


// multiline-ellipsis
.show-more
  .show-more-arrow
    border-top-color: $multiline-ellipsis-color

  &.less .show-more-arrow
    border-bottom-color: $multiline-ellipsis-color

