---
title: Assets matching...
layout: prototype
---

<% content_for :page_css do %>
  <link rel="stylesheet" href="/prototypes/catalog.css">
<% end %>

<% content_for :page_js do %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>

  var viewPortHeight = $(window).height();
  var headerHeight = $(".menu-header").outerHeight(true);
  var filterActionHeight = $(".filter-action-container").outerHeight(true);
  var filterListActveHeight = $(".filter-list.active").outerHeight(true);
  var maxContentHeight = viewPortHeight - headerHeight - filterActionHeight - filterListActveHeight + 63;

  // Set the height of the menu content area to position the button
  $(".filter-wrapper").css("height", maxContentHeight);

  /*console.log("View Port: " + viewPortHeight);
  console.log("Header: " + headerHeight);
  console.log("Filter Action Button: " + filterActionHeight);
  console.log("Active List: " + filterListActveHeight);
  console.log("Content Max: " + maxContentHeight);*/

  // Hide the facet list & the hint text
  $(".filter-list ul, .filter-hint-text").hide();


  //Toggle the facet group
  $(".facet-group").each(function() {
    $(this).show(0).on("click", function(e){
      e.preventDefault();
      $(this).toggleClass("open");
      $(this).next("ul").slideToggle("fast");
    })
  })

  $(".facet-item a:not(.facet-item a.show-all)").each(function() {
    $(this).on("click", function(e) {
      e.preventDefault();
      $(this).parent("li").siblings("li").find("a").removeClass("active");
      $(this).toggleClass("active");
    })
  })

  //Collect and display current filters, remove them, do the filter
  $("#filter").on("click", function(e) {

    $(".active-filters a.active").remove();

    $(".filter-list.active ul, .filter-hint-text").show();

    $(".facet-group.open").next("ul").slideToggle();
    $(".facet-group").removeClass("open");

    var selectedFilters = $(".facet-item a.active:not(.filter-list.active a.active, .filter-list.sort a.active)").get();
    //console.log(selectedFilters);

    $.each(selectedFilters, function(i, obj) {

      var facetGroupName = $(obj).parents("ul").attr("data-facet-name");
     // console.log(facetGroupName);

      $(".active-filters").append("<li class='facet-item'><a class='active' href='#'>" + facetGroupName + " > " + obj.innerHTML + "</a></li>");
    })

    $(".active-filters a.active").on("click", function(e) {
        $(this).remove();
    })

    $("#clear-filters").on("click", function(e) {
      $(".active-filters a.active").remove();
      $(".facet-item a.active").toggleClass("active");
      $(".facet-group.open").next("ul").slideToggle();
      $(".facet-group").removeClass("open");
      $(".filter-hint-text").hide();
      $("span.current-sort-text").text("Relevance");
    })

  });

  //Sort Filter
  $(".filter-list.sort a").on("click", function() {
      console.log("Sort");
      $("span.current-sort-text").text($(this).attr("data-sort-name"));
  })


</script>


<% end %>

<div class="responsive-navbar">
  <img src="../../images/evergreen.png" />
  <span>City of Evergreen</span>
  <div class="responsive-navbar-nav">
    <button class="btn btn-default btn-inverse">Menu</button>
  </div>
</div>


  <div class="search">
    <div class="container">
      <form>
      <span class="input-group">
        <input class="text-input" type="text" placeholder="Search"/>

        <span class="input-group-btn">
          <button class="btn btn-primary"><span class="icon-search"></span></button>
        </span>

      </span>
    </form>
    </div>
  </div>



<div id="menu-1" class="menu menu-offscreen menu-anchor-left">
  <div class="menu-header">
    <h1 class="h5 menu-header-title"></h1>
    <button class="btn btn-transparent menu-header-dismiss btn-block" data-menu-dismiss>
       <span class="icon-arrow-left"></span> Back
    </button>
    </div>

    <div class="container">
      <div class="filter-wrapper">
        <div class="filter-list active">
            <div class="current-filters-action-container">
              <!-- <h4 class="current-filters-group">Current Filters</h4> -->
              <button id="clear-filters" class="btn btn-default btn-sm btn-block" data-menu-dismiss>Clear All</button>
            </div>

            <ul class="active-filters">
            </ul>
        </div>

        <div class="filter-list sort" role="navigation">
          <h4 class="filter-list-group">Sort</h4>

            <h4 class="facet-group"><a href="#">Sort by <span class="current-sort-text">Relevance</span></a></h4>
            <ul data-facet-name="Sort by">
                <li class="facet-item"><a data-sort-name="Relevance" href="#" class="active">Relevance</a></li>
                <li class="facet-item"><a data-sort-name="Popularity"href="#">Popularity</a></li>
                <li class="facet-item"><a data-sort-name="Recently Updated" href="#">Recently Updated</a></li>
                <li class="facet-item"><a  data-sort-name="Recently Added" href="#">Recently Added</a></li>
              </ul>
        </div>

        <div class="filter-list" role="navigation">
          <h4 class="filter-list-group">Filter</h4>

            <h4 class="facet-group"><a href="#">Category</a></h4>
              <ul data-facet-name="Category">
                <li class="facet-item"><a href="#">Crime</a></li>
                <li class="facet-item"><a href="#">Economic Development</a></li>
                <li class="facet-item"><a href="#">Finance</a></li>
                <li class="facet-item"><a href="#">Public Safety</a></li>
              </ul>
            <h4 class="facet-group"><a href="#">Topics</a></h4>
              <ul data-facet-name="Topics">
                <li class="facet-item"><a href="#">data</a></li>
                <li class="facet-item"><a href="#">pets</a></li>
                <li class="facet-item"><a href="#">geoJSON</a></li>
                <li class="facet-item"><a href="#">zoinks</a></li>
              </ul>
            <h4 class="facet-group"><a href="#">Departments</a></h4>
              <ul data-facet-name="Departments">
                <li class="facet-item"><a href="#">Neighborhoods</a></li>
                <li class="facet-item"><a href="#">Police Department</a></li>
                <li class="facet-item"><a href="#">Mayors Office</a></li>
                <li class="facet-item"><a href="#">Planning &amp; Development Department (Mayor's Office of Innovation)</a></li>
              </ul>
            <h4 class="facet-group"><a href="#">View Types</a></h4>
              <ul data-facet-name="View Types">
                <li class="facet-item"><a href="#">Charts</a></li>
                <li class="facet-item"><a href="#">Datasets</a></li>
                <li class="facet-item"><a href="#">Data Lens</a></li>
                <li class="facet-item"><a href="#">Stories</a></li>
                <li class="facet-item"><a href="#">Maps</a></li>
              </ul>
        </div>

      </div> <!-- ./filter-wrapper -->

    <div class="filter-action-container">
     <button id="filter" class="btn btn-primary btn-lg btn-block" data-menu-dismiss>Filter</button>
    </div>

  </div> <!-- ./container -->



</div><!-- ./menu (offscreen mobile) -->

<div class="facet-bar facet-bar-mobile">
  <div class="container">

    <div class="active-filter-hint">
      467 Results <span class="filter-hint-text">filtered by...</span>
    </div>

    <div class="filter-link">
      <a href="#" data-menu-toggle="menu-1" data-toggle>Filter <span class="icon-arrow-right"></span></a>
    </div>

  </div>
</div>


<div class="container main">

  <div class="wrapper">

    <div class="search-result-meta">

    <div class="container">


    </div>

  </div>


  <div class="facet-bar facet-bar-desktop">

          <div class="filter-list filter-list-desktop" role="navigation">
            <h4 class="filter-list-group">All Filters</h4>

            <h4 class="facet-group"><a href="#">Category</a></h4>
              <ul data-facet-name="Category">
                <li class="facet-item"><a href="#">Crime</a></li>
                <li class="facet-item"><a href="#">Economic Development</a></li>
                <li class="facet-item"><a href="#">Finance</a></li>
                <li class="facet-item"><a href="#">Public Safety</a></li>
              </ul>
            <h4 class="facet-group"><a href="#">Topics</a></h4>
              <ul data-facet-name="Topics">
                <li class="facet-item"><a href="#">data</a></li>
                <li class="facet-item"><a href="#">pets</a></li>
                <li class="facet-item"><a href="#">geoJSON</a></li>
                <li class="facet-item"><a href="#">zoinks</a></li>
              </ul>
            <h4 class="facet-group"><a href="#">Departments</a></h4>
              <ul data-facet-name="Departments">
                <li class="facet-item"><a href="#">Neighborhoods</a></li>
                <li class="facet-item"><a href="#">Police Department</a></li>
                <li class="facet-item"><a href="#">Mayors Office</a></li>
                <li class="facet-item"><a href="#">Planning &amp; Development Department (Mayor's Office of Innovation)</a></li>
              </ul>
            <h4 class="facet-group"><a href="#">View Types</a></h4>
              <ul data-facet-name="View Types">
                <li class="facet-item"><a href="#">Charts</a></li>
                <li class="facet-item"><a href="#">Datasets</a></li>
                <li class="facet-item"><a href="#">Data Lens</a></li>
                <li class="facet-item"><a href="#">Stories</a></li>
                <li class="facet-item"><a href="#">Maps</a></li>
              </ul>
        </div>

    </div>


  <div class="content">

          <div class="results-info">7 results based on <i>Current Liquor Licenses</i>


      </div>

      <div class="media-results">

      <div class="result-card media">

        <div class="entry-header">
          <div class="entry-title">
            <h2 class="entry-name"><a href="#">How to Apply for a Liquor Licence</a></h2>
          </div>
          <div class="entry-view-type"><span class="icon-story"></span></div>

        </div>

        <div class="entry-meta">
          <div class="first">
            <span class="date">Mar. 12, 2016</span>
          </div>
          <div class="second">
            <span class="date">12,235 Views</span>
          </div>
        </div>

        <div class="entry-content">

          <div class="entry-main">

          <img src="https://dl.dropboxusercontent.com/u/4235130/bottles.png" alt=" " />
            

            <div class="entry-description">
              Story explaining the procedure for applying for a license, as well as some general trends around current licensing.<span class="more-link"></span>
            </div>

          </div>

        </div>

      </div><!-- /.result-card -->
            <div class="result-card media">

        <div class="entry-header">
          <div class="entry-title">
            <h2 class="entry-name"><a href="#">Licensing trends by neighborhood</a></h2>
          </div>
          <div class="entry-view-type"><span class="icon-map"></span></div>

        </div>

        <div class="entry-meta">
          <div class="first">
            <span class="date">Mar. 12, 2016</span>
          </div>
                   <div class="second">
            <span class="date">12,235 Views</span>
          </div>
        </div>

        <div class="entry-content">

          <div class="entry-main">

            <img src="https://dl.dropboxusercontent.com/u/4235130/heatmap.png" alt=" " />
            <div class="entry-description">
              Licensing trends by neighborhood. Number of approved licenses per ... <span class="more-link"></span>
            </div>

          </div>

        </div>

      </div><!-- /.result-card -->            <div class="result-card media">

        <div class="entry-header">
          <div class="entry-title">
            <h2 class="entry-name"><a href="#">Licenses by Type</a></h2>
          </div>
          <div class="entry-view-type"><span class="icon-cards"></span></div>

        </div>

        <div class="entry-meta">
          <div class="first">
            <span class="date">Mar. 12, 2016</span>
          </div>
                   <div class="second">
            <span class="date">12,235 Views</span>
          </div>
        </div>

        <div class="entry-content">

          <div class="entry-main">

            <img src="https://dl.dropboxusercontent.com/u/4235130/dataLens.png" alt=" " />

            <div class="entry-description">
              Map showing the number of approved licenses for each neighborhood in the city. <span class="more-link"></span>
            </div>

          </div>

        </div>

      </div><!-- /.result-card -->




    </div><!-- /.media-results -->


          <div class="media-results">

      <div class="result-card media">

        <div class="entry-header">
          <div class="entry-title">
            <h2 class="entry-name"><a href="#">Affordable Rental Housing Developments Map</a></h2>
          </div>
          <div class="entry-view-type"><span class="icon-map"></span></div>

        </div>

        <div class="entry-meta">
          <div class="first">
            <span class="date">Mar. 12, 2016</span>
          </div>
                   <div class="second">
            <span class="date">12,235 Views</span>
          </div>
        </div>

        <div class="entry-content">

          <div class="entry-main">

            <img src="https://dl.dropboxusercontent.com/u/4235130/boundaryMap.png" alt=" " />

            <div class="entry-description">
              Seattle has a lot of pets, so that means there are a lot of escapes. These friendly escape artists cost their owners... <span class="more-link"></span>
            </div>

          </div>

        </div>

      </div><!-- /.result-card -->
            <div class="result-card media">

        <div class="entry-header">
          <div class="entry-title">
            <h2 class="entry-name"><a href="#">Affordable Rental Housing Developments Map</a></h2>
          </div>
          <div class="entry-view-type"><span class="icon-map"></span></div>

        </div>

        <div class="entry-meta">
          <div class="first">
            <span class="date">Mar. 12, 2016</span>
          </div>
                   <div class="second">
            <span class="date">12,235 Views</span>
          </div>
        </div>

        <div class="entry-content">

          <div class="entry-main">

            <img src="https://dl.dropboxusercontent.com/u/4235130/dataLens2.png" alt=" " />

            <div class="entry-description">
              Seattle has a lot of pets, so that means there are a lot of escapes. These friendly escape artists cost their owners... <span class="more-link"></span>
            </div>

          </div>

        </div>

      </div><!-- /.result-card -->            <div class="result-card media">

        <div class="entry-header">
          <div class="entry-title">
            <h2 class="entry-name"><a href="#">Housing Dashboard</a></h2>
          </div>
          <div class="entry-view-type"><span class="icon-cards"></span></div>

        </div>

        <div class="entry-meta">
          <div class="first">
            <span class="date">Mar. 12, 2016</span>
          </div>
                   <div class="second">
            <span class="date">12,235 Views</span>
          </div>
        </div>

        <div class="entry-content">

          <div class="entry-main">

            <img src="https://dl.dropboxusercontent.com/u/4235130/linechart.png" alt=" " />

            <div class="entry-description">
              Dashboard displays a variety of measures and current information about housing programs in the city. <span class="more-link"></span>
            </div>

          </div>

        </div>

      </div><!-- /.result-card -->




    </div><!-- /.media-results -->

    <div class="media-results">

      <div class="result-card media">

        <div class="entry-header">
          <div class="entry-title">
            <h2 class="entry-name"><a href="#">Affordable Rental Housing Developments Map</a></h2>
          </div>
          <div class="entry-view-type"><span class="icon-map"></span></div>

        </div>

        <div class="entry-meta">
          <div class="first">
            <span class="date">Mar. 12, 2016</span>
          </div>
                   <div class="second">
            <span class="date">12,235 Views</span>
          </div>
        </div>

        <div class="entry-content">

          <div class="entry-main">

            <img src="https://dl.dropboxusercontent.com/u/4235130/pointMap.png" alt=" " />

            <div class="entry-description">
              Seattle has a lot of pets, so that means there are a lot of escapes. These friendly escape artists cost their owners... <span class="more-link"></span>
            </div>

          </div>

        </div>

      </div><!-- /.result-card -->


    </div>


          



  </div>

</div> <!-- ./wrapper -->

</div> <!-- ./container.main -->
