@import '../../common.scss';

.button {
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 15px;
  height: 46px;

  /*
   * Note that these next three lines don't actually do anything,
   * but are needed to get proper sizing in the dev environment.
   */
  line-height: 1.6;

  padding: 13px 22px;
  position: relative;
  width: 100%;

  &:hover {
    background-color: $bell-icon-hover-color;
  }

  & :global(.socrata-icon) {
    color: $bell-icon-color;
    fill: $bell-icon-color;
    height: 15px;
    margin-top: 4px;
    width: 15px;

    & svg {
      height: 15px;
      width: 15px;
    }

    &:before {
      display: none;
    }
  }

  &:after {
    background-color: $alternate-1;
    border-radius: 50%;
    content: '';
    display: none;
    height: 8px;
    right: 22px;
    position: absolute;
    top: 17px;
    width: 8px;
  }

  &.unread:after {
    display: block;
  }
}

:global(.for-user-header) {
  .button {
    &:after {
      right: 0;
      top: 16px;
    }
  }
}

:global(.site-chrome-small) {
  & .button {
    height: 32px;
    padding: 6px 12px 2px;

    &:after {
      height: 7px;
      left: 19px;
      top: 10px;
      width: 7px;
    }

    & :global(.socrata-icon) {
      &,
      & svg {
        height: 14px;
        width: 14px;
      }
    }
  }
}
