<% @general['social_shares'].each do |social_share| %>
  <% label = localized("general.social_shares.#{social_share['type']}", @locales) %>
  <a class="nav-link social-link" href="<%= social_share['url'] %>">
    <span class="<%= social_link_classname(social_share['type']) %>" title="<%= label %>"></span>
    <%= show_label ? label : '' %>
  </a>
<% end %>
