@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.content {
  display: flex;

  :global {
    .dropdown-container {
      width: 100%;
    }
  }
}

.geocodeOptions {
  border-bottom: 1px solid $light-grey-5;
  width: 100%;
}

.formWrap {
  width: 400px;
  padding-top: 16px;
}

.saveButton {
  composes: btn from global;
  composes: btn-primary from global;
}
.cancelButton {
  composes: btn from global;
  composes: btn-default from global;
  margin-right: 1em;
}

.columnPreviewWrap {
  margin: 1em auto;
  min-width: 273px;
}

.columnPreview,
.noColumnYet {
  overflow: hidden;
  padding-top: 8px;
  border: 1px solid $light-grey-4;
  min-height: 420px;
  th {
    display: block;
    min-height: 27px;
  }
  tbody {
    max-height: 420px;
  }
}

.noColumnYet {
  text-align: center;
}

.compositionSelector {
  margin-bottom: 1em;
}

.compositionButton {
  composes: btn from global;
  composes: btn-default from global;
}

.compositionSelected {
  composes: btn from global;
  composes: btn-primary from global;
}

.hideOriginal {
  composes: checkbox from global;
}

.runTransform {
  composes: btn from global;
  composes: btn-simple from global;
}

.beginGeoreferencing,
.runTransform {
  margin-top: 128px !important;
}

.beginGeoreferencing {
  margin: 16px;
  max-width: 241px;
}

.errorHandling {
  composes: radiobutton from global;
  margin-top: 2em;
}

.labelSubtitle {
  font-size: 85%;
  margin: 0px;
  margin-left: 2.2em;
}

.configurationError {
  margin: 1em 0px;
}
