@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.outputSchemaSidebar {
  box-shadow: 2px 0 3px -2px $light-grey-1;
  left: -0px;
  background: $white;
  height: 100%;
  z-index: 101;

  :global {
    /* lol, because styleguide icons don't have a common class...
    and there's no way to set one using the react component*/
    span[class^='socrata-icon-'] {
      font-size: 125%;
      position: relative;
      top: 2px;
      margin-right: 4px;
    }
  }
}
