<div id="color-picker-container"></div>

<script type="text/babel" data-presets="es2015,react">
  function handleColorChange(color) {
    console.log(`Color changed to ${color}!`);
  }

  $(() => {
    const props = { handleColorChange };

    ReactDOM.render(
      <styleguide.ColorPicker {...props} />,
      document.getElementById('color-picker-container')
    );
  });
</script>
