<div id="dropdown-container"></div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var props = {
      onSelection: function(option) {
        console.log('option selected:', option.title, option.value);
      },
      options: [
        {title: 'Floating Frog\'s Feet', value: 'potion-one', group: 'Potions'},
        {title: 'Skittering Spider Silk', value: 'potion-two', group: 'Potions'},
        {title: 'Blue Barbed Berries', value: 'potion-three', group: 'Potions'},
        {title: 'Traditionally Truffled Tapioca', value: 'potion-four', group: 'Edibles'},
        {title: 'Pandemonious Pear Paste', value: 'potion-five', group: 'Edibles'},
      ]
    };

    ReactDOM.render(
      React.createElement(styleguide.Dropdown, props),
      document.getElementById('dropdown-container')
    );
  });
</script>
