<div id="filter-bar-container"></div>
<h3>Output</h3>
<pre id="output" style="white-space: pre-wrap;"></pre>
<script type="text/babel" data-presets="es2015,react">
  const output = document.querySelector('#output');

  $(() => {
    const filters = [
      {
        function: 'valueRange',
        columnName: 'some_number',
        arguments: {
          start: 3,
          end: 7
        },
        isLocked: false,
        isHidden: false,
        isRequired: false,
        allowMultiple: false
      }
    ];

    let props = {
      columns: [
        {
          name: 'Some Number',
          fieldName: 'some_number',
          dataTypeName: 'number',
          rangeMin: 1,
          rangeMax: 10
        },
        {
          name: 'Some Word',
          fieldName: 'some_word',
          dataTypeName: 'text'
        },
        {
          name: 'Some Calendar Date',
          fieldName: 'some_calendar_date',
          dataTypeName: 'calendar_date',
          rangeMin: '2014-06-10T00:00:00',
          rangeMax: '2016-06-10T00:00:00'
        }
      ],
      filters,
      onUpdate,
      fetchSuggestions: (column, searchTerm) => Promise.resolve(_.shuffle([ 'purple', 'pesto', 'russian' ]))
    };

    function render() {
      output.innerHTML = JSON.stringify(props.filters, null, 2);

      ReactDOM.render(
        <styleguide.FilterBar {...props} />,
        document.getElementById('filter-bar-container')
      );
    }

    function onUpdate(newFilters) {
      props.filters = newFilters;
      render();
    }

    render();
  });
</script>
