<div id="info-pane-container"></div>

<script type="text/babel" data-presets="es2015,react">
  $(() => {
    const props = {
      name: 'A Different View',
      description: `Now this is a story all about how
        My life got flipped-turned upside down
        And I'd like to take a minute
        Just sit right there
        I'll tell you how I became the prince of a town called Bel-Air

        In west Philadelphia born and raised
        On the playground was where I spent most of my days
        Chillin' out maxin' relaxin' all cool
        And all shooting some b-ball outside of the school
        When a couple of guys who were up to no good
        Started making trouble in my neighborhood
        I got in one little fight and my mom got scared
        She said, "You're movin' with your auntie and uncle in Bel-Air."`,
      category: 'Fun',
      isOfficial: true,
      isPrivate: true,
      footer: 'Athlete\'s Footer',
      isPaneCollapsible: true,
      metadata: {
        first: {
          label: 'Updated',
          content: 'Today'
        },
        second: {
          label: 'View count',
          content: 1
        }
      },
      renderButtons: () => {
        return <div className="btn btn-primary">Click me!</div>
      }
    };

    ReactDOM.render(
      <styleguide.InfoPane {...props} />,
      document.getElementById('info-pane-container')
    );
  });
</script>
