<div id="picklist-container"></div>

<script type="text/babel" data-presets="es2015,react">
  $(() => {
    const props = {
      onSelection: (option) => {
        console.log('option selected:', option.title, option.value);
      },
      options: [
        {title: 'Inoculate the Innocuous', value: 'inoculate'},
        {title: 'Tuff Luff', value: 'tuff-luff'},
        {title: 'Ghost Mountain', value: 'ghost-mountain'},
        {title: 'Jellybones', value: 'jellybones'},
        {title: 'Les Os', value: 'les-os'},
      ],
      value: 'les-os'
    };

    ReactDOM.render(
      <styleguide.Picklist {...props} />,
      document.getElementById('picklist-container')
    );
  });
</script>
