<div id="socrata-data-icon-container"></div>

<script type="text/babel" data-presets="es2015,react">
  $(() => {
    const props = {
      name: 'data'
    };

    ReactDOM.render(
      <styleguide.SocrataIcon {...props} />,
      document.getElementById('socrata-data-icon-container')
    );
  });
</script>
