<div id="<%= container_id %>"></div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var props = {
      name: 'Chicago Crimes',
      description: 'This dataset reflects reported incidents of crime that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.',
      url: 'https://data.cityofchicago.org/view/5cd6-ry5g',
      imageUrl: '/images/dataLensThumbnail.png',
      icon: 'icon-cards',
      metadataLeft: 'Updated Jan 1, 1970',
      metadataRight: '1,234 views',
      isPrivate: true,
      linkProps: { target: '_blank' },
      onClick: function(event) {
        console.log(event);
      }
    };

    ReactDOM.render(
      React.createElement(
        styleguide.ViewCard,
        props<% if overlay -%>,
        React.DOM.div({ className: 'btn btn-success' }, 'Click Me!')<% end -%>
      ),
      document.getElementById('<%= container_id %>')
    );
  });
</script>
