@import 'app/styles/styleguide-colors';

.sidebar {
  flex: 0 0 24%;
  background-color: $white;
  border-right: 1px solid $light-grey-4;

  li {
    color: $primary-base;
    a {
      text-decoration: none;
    }
    p {
      margin: 0px;
      color: $light-grey-2;
    }
  }
}

.timestamp {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: $dark-grey-1;
}
