<%- content_for :head do -%>
  <title>Video Guides | <%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag 'screen-videos' %>
<%- end -%>

<div class="contentBox filterBox">
  <h3>Tell me about</h3>
  <ul class="filterCriteria">
    <li><a href="#all" data-filter="all" class="selected">Everything</a></li>
    <li><a href="#maps" data-filter="maps">Maps</a></li>
    <li><a href="#charts" data-filter="charts">Charts</a></li>
    <li><a href="#analyzing" data-filter="analyzing">Analyzing</a></li>
    <li><a href="#sharing" data-filter="sharing">Sharing</a></li>
  </ul>

  <h3>Sort on</h3>
  <ul class="sortCriteria">
    <li><a href="#basics" data-sort="basics" class="selected">Basics First</a></li>
    <li><a href="#alphabetical" data-sort="alphabetical">Alphabetical</a></li>
    <li><a href="#date-added" data-sort="date">Most Recent</a></li>
  </ul>
</div>

<div class="contentBox withLeftNavigation">
  <h1>Video Guides</h1>

  <p class="intro">Welcome to <%= CurrentDomain.strings.company %>! We're glad that
    you're excited about open data. To help you get started with our tools, we've
    created a series of videos designed to teach you the basics about interacting
    with this data site. If you have any further questions, feel free to visit our
    <a href="http://support.socrata.com">support page</a>.</p>

  <%# Hey kids. The ordering here determines the ordering for the 'basics first' sort,
      so try to preserve that order when inserting new videos. %>
  <ul class="videoList clearfix">
    <li data-id="sorting-datasets" data-type="analyzing" data-added="2011-02-10"
        data-wistiaflashvideoid="6c6fc4df23872334d9e58b0f6119c0142108f2cb"
        data-wistiahtml5videoid="018325cec6383ead681c79e8fd0f049260465952"
        data-wistiastillid="e2ed9f4b4126852476eb71552182d64735a291e4"
        data-wistiaproductionid="283908">
      <a href="#sorting-datasets">
        <img src="/stylesheets/images/video_thumbnails/sort-dataset.png" alt="Sorting Datasets" />
        <h2>Sorting Datasets</h2>
        <p class="length">1:43 mins</p>
      </a>
    </li>
    <li data-id="find-in-dataset" data-type="analyzing" data-added="2011-02-11"
        data-wistiaflashvideoid="e2285cddde3017a0a60e1ea809c3c5d4de771782"
        data-wistiahtml5videoid="c0b59376a415ee6fd628057e0943b444d1193ed1"
        data-wistiastillid="2b179f29c4af87cab6b7d7d33c01df49b06f3b0a"
        data-wistiaproductionid="284115">
      <a href="#find-in-dataset">
        <img src="/stylesheets/images/video_thumbnails/find-in-dataset.png" alt="Find in Dataset" />
        <h2>Find in Dataset</h2>
        <p class="length">1:00 min</p>
      </a>
    </li>
    <li data-id="filter-dataset" data-type="analyzing" data-added="2011-02-11">
      <a href="#filter-dataset">
        <img src="/stylesheets/images/video_thumbnails/filter-dataset.png" alt="Filtering a Dataset" />
        <h2>Filtering a Dataset</h2>
        <p class="length">3:24 mins</p>
      </a>
    </li>
  </ul>
</div>

<textarea id="embedTemplate"><object width="640" height="360" id="wistia_%productionid%" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v1.1.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="wmode" value="opaque"/><param name="flashvars" value="videoUrl=http://embed.wistia.com/deliveries/%flashvideoid%.bin&stillUrl=http://embed.wistia.com/deliveries/%stillid%.bin&unbufferedSeek=false&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_4324&mediaID=wistia-production_%productionid%"/><embed src="http://embed.wistia.com/flash/embed_player_v1.1.swf" width="640" height="360" name="wistia_%productionid%" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=http://embed.wistia.com/deliveries/%flashvideoid%.bin&stillUrl=http://embed.wistia.com/deliveries/%stillid%.bin&unbufferedSeek=false&controlsVisibleOnLoad=false&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_4324&mediaID=wistia-production_%productionid%"></embed></object><script src="http://embed.wistia.com/embeds/v.js" charset="ISO-8859-1"></script><script>if(!navigator.mimeTypes['application/x-shockwave-flash'])Wistia.VideoEmbed('wistia_%productionid%',640,360,{videoUrl:'http://embed.wistia.com/deliveries/%html5videoid%.bin',stillUrl:'http://embed.wistia.com/deliveries/%stillid%.bin',distilleryUrl:'http://distillery.wistia.com/x',accountKey:'wistia-production_4324',mediaId:'wistia-production_%productionid%'})</script></textarea>

<%- content_for :modals do -%>
  <div class="modalDialog videoPopupModal">
    <a href="#" class="close"><span class="icon"></span></a>
    <div class="videoContainer"></div>
  </div>
<%- end -%>

<%- content_for :js_footer do -%>
  <%= include_javascripts 'screen-videos' %>
<%- end -%>