<ul id="sub-nav" class="clearfix">
    <li><a href="/company-info">About Socrata</a></li>
    <li><a href="/company-info/board-of-directors">Board of Directors</a></li>
    <li><a href="/company-info/investors">Investors</a></li>
    <li><a href="/company-info/management-team">Management</a></li>
    <li><a href="/company-info/careers">Career</a></li>
    <li><a href="/company-info/press">Press</a></li>
</ul>

