<div id='blists'>
  <%= render(:partial => "shared/tabs") %>

  <div class='content'>
    <div class='headerBar'>
      <h3>All blists</h3>
      <a href='#' class='menu'>Menu</a>
      <a href='#'>Add New</a>
      <a href='#'>Import</a>

      <form>
        <input type='text'></input>
      </form>
    </div>
  </div>

  <div id='infoPane'>
    <div class='header'>
      <a href='#' class='active'>Summary</a>
      <div class='background'></div>
    </div>
    <div class='infoContent'>
      <h2>43 items total</h2>
      <span>Select a specific item or items above for more information</span>
    </div>
</div>
