<div class="menu">
  <a class="menuButton" href="#"><span class="icon"></span></a>
  <div class="menuDropdown">
    <ul class="menuColumns">
      <li class="menuColumn">
        <ul class="menuEntries">
          <li class="menuEntry">
            <a href="#" class="clearfix">
              <span class="icon"></span>
              <span class="contents"></span>
              <div class="subtext"></div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- should try to find a way to combine these or simplify -->
<div class="settings menu">
  <div class="menuDropdown">
    <ul class="menuColumns">
      <li class="menuColumn">
        <ul class="menuEntries">
          <li class="menuEntry">
            <a href="#" class="clearfix">
              <span class="contents"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
