<div class="menu">
  <a class="menuButton"><span class="icon"></span></a>
  <div class="menuDropdown">
    <ul>
      <li>
        <ul>
          <li><a href="#"><div class="subtext"></div></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>