<div class="userTile clearfix">
  <div class="userPhoto">
    <%= link_to(
            image_tag(user.profile_image_path("medium"), :size => "80x80", :alt => h(user.displayName)),
            "#user_profile"
    ) %>
  </div>
  <div class="userInfo">
    <h2><%= link_to(h(user.displayName), "#user_profile") %></h2>
    <p>Last Login: <%= blist_date(user.lastLogin) %></p>
  </div>
</div>
