<div class="featureBoxes">
  <ul class="clearfix">
    <li>
      <h2>Collaborate &amp; Publish</h2>
      <p><%= image_tag("home/feature_collaborate.png", :size => "199x63", :alt => "Collaborate and Publish") %></p>
      <p>Share your blists with friends, family, colleagues or the world. Then work together on the same blist simultaneously!</p>
      <p class="watchButton"><a href="#" title="Watch the Video">Watch the Video</a></p>
    </li>
    <li>
      <h2>Visualize your blist</h2>
      <p><%= image_tag("home/feature_visualize.png", :size => "199x63", :alt => "Visualize your blist") %></p>
      <p>blist views make it easy to see and share different views of your data.  Charts and reports coming soon!</p>
      <p class="watchButton"><a href="#" title="Watch the Video">Watch the Video</a></p>
    </li>
    <li class="last">
      <h2>Search for Templates</h2>
      <p><%= image_tag("home/feature_templates.png", :size => "199x63", :alt => "Search for Templates") %></p>
      <p>Why start from scratch when someone inside the blist community has done the hard part for you?</p>
      <p class="watchButton"><a href="#" title="Watch the Video">Watch the Video</a></p>
    </li>
  </ul>
</div>
