<span class='gov_logo'>Data.gov</span>
<ul>
  <li><%= link_to('Terms of use',
    'http://www.blist.com/help/terms-of-use') %></li>
  <li><%= link_to('WhiteHouse.gov', 'http://www.whitehouse.gov') %></li>
  <li class="last"><%= link_to('USA.gov', 'http://www.usa.gov') %></li>  
</ul>