<div class="outerPane">
  <div class="paneOverlay hide"></div>

  <div class="mainTitleBlock">
    <h3 class="title"></h3>
  </div>

  <div class="panes">
  </div>
</div>

<div class="sidebarPane">
  <div class="disabledOverlay"></div>
  <p class="disabledMessage"></p>

  <form class="commonForm">
    <div class="subtitleBlock">
      <p class="subtitle"></p>
    </div>

    <div class="paneContent">
      <div class="formSection">
        <input type="checkbox" class="sectionSelect" />
        <label class="formHeader"></label>
        <div class="sectionDisabledMessage"></div>
        <div class="sectionWarningMessage"></div>
        <div class="sectionContent"></div>
      </div>

      <div class="mainError"></div>

      <div class="required hide">Required Field</div>
      <ul class="finishButtons actionButtons clearfix">
        <li></li>
      </ul>
    </div>
  </form>
</div>

<div class="itemsListBlock">
  <div class="itemsContent">
    <div class="controlsBar clearfix">
      <div class="sortMenu menu"></div>
      <div class="showMenu menu"></div>
      <div class="searchWrapper">
        <input type="text" title="Search views" class="viewSearch textPrompt" />
        <a class="clearViewSearch remove"
          href="#clear"><span class="icon"></span></a>
      </div>
    </div>
    <ul class="itemsList"></ul>
    <a href="#More" class="moreLink fullButton"></a>
  </div>
  <div class="emptyResult">
    There are no <span class="type">results</span>
  </div>
</div>

<ul class="viewItemContainer">
<li class="viewItem">
  <span class="viewIcon"><span class="icon"></span></span>
  <a class="nameLink"><span class="pubDate"></span><span class="name"></span></a>
  <span class="authorLine">
    <span class="date"></span> by <span class="author"></span>
  </span>
  <span class="description collapsed"></span>
  <a href="#delete" title="Delete this view" class="remove deleteViewLink">
    <span class="icon"></span>
  </a>
  <a href="#expand" title="Click to expand" class="expand downArrow">
    <span class="icon"></span>
  </a>
</li>
</ul>
