<div id="learn-more-footer">
  <h2>Learn More about Social Data Discovery</h2>
  <h4>To speak with a Socrata sales professional, contact <a href="mailto:sales@socrata.com">sales@socrata.com</a> or <a href="/about/download-whitepaper">download a whitepaper</a></h4>
</div>

