<div id="analyticsTimeControl">
  <input type="text" class="currentTimeSlice" />
  <select class="sliceDepth" id="sliceDepth">
    <%= options_for_select ['Hourly', 'Daily', 'Monthly', 'Yearly'] %>
  </select>
</div>
