<div class="metricsSummaryItem">
  <div class="summaryContainer">
    <p class="summaryTitle"></p>
    <div class="dynamicContent"></div>
  </div>
</div>

<div class="metricsSummaryData">
  <div class="deltaBox">
    <span class="icon"></span>
    <span class="deltaValue"></span>
  </div>
  <div class="totalValue"></div>
</div>

<div class="metricsDetailData">
  <div class="totalValue"></div>
</div>


<div class="metricsCharts">
  <div class="chartContainer">
    <div class="chartMenu menu"></div>
    <h2 class="chartTitle"></h2>
    <div class="chartArea">
      <div class="chartContent"></div>
      <div class="loadingSpinner"></div>
      <div class="flash notice message noDataNotice">
        <h3>Metric data is unavailable for this time period</h3>
      </div>
      <div class="flash notice message emptyHint">
        <h3>Select a chart type to display from the menu</h3>
      </div>
    </div>
  </div>
</div>

<div class="metricsTopList">
  <div class="metricsTopContainer">
    <h2 class="sectionTitle"></h2>
    <div class="flash notice message noDataNotice">
      <h3>No data for this time period</h3>
    </div>
    <table class="gridList metricsList" cellspacing="0">
      <colgroup>
        <col class="description" />
        <col class="value" />
      </colgroup>
      <thead>
        <tr>
          <th class="description">
            <span class="icon"></span>
            <div>Name</div>
          </th>
          <th class="value">
            <span class="icon"></span>
            <span class="valueHeading"></span>
          </th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<table class="metricsTopItem">
  <tr class="item">
    <td class="description">
      <div class="primary">
        <span class="titleText"></span>
        <a href="#" class="titleLink" rel="external"></a>
      </div>
      <div class="subLinksContainer subContainer">
        <div class="subLinks subItemBox">
          <a href="#" class="subLink" rel="external"></a>
        </div>
      </div>
    </td>
    <td class="value">
      <div class="primary"></div>
      <div class="subValuesContainer subContainer">
        <div class="subValues subItemBox">
          <span class="subValue"></span>
        </div>
      </div>
    </td>
  </tr>
</table>
