<div id='<%= local_assigns[:id] %>' class='box <%= local_assigns[:box_class] %>'>
  <div class='outerWrapper'>
    <div class='innerWrapper'>
      <div class='contentWrapper'>
        <div class='content <%= local_assigns[:content_class] %>'>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
