<div id='<%= local_assigns[:id] %>' class='box <%= local_assigns[:box_class] %>'>
  <div class="boxTR"><div class="boxTL"></div></div>
  <div class='content clearfix <%= local_assigns[:content_class] %>'>
    <%= yield %>
  </div>
  <div class="boxBR"><div class="boxBL"></div></div>
</div>
