<ul class="simpleTabs tabList clearfix">
  <li class="overview"><div class="wrapper"><a href="/about">Overview</a></div></li>
  <li class="directories even"><div class="wrapper"><a href="/about/socrata-vs-dataset-directories">Socrata vs. Data Websites</a></div></li>
  <li class="solution"><div class="wrapper"><a href="/solution">Socrata Solutions</a></div></li>
  <li class="contact even"><div class="wrapper"><a href="/contact-us">Contact Us</a></div></li>
</ul>
