<ul class='tabList'>
  <li class='home even'><div class='wrapper'>
    <%= link_to 'Home', home_url %>
  </div></li>
  <li class='blists'><div class='wrapper'>
    <%= link_to 'blists', blists_url %>
  </div></li>
  <li class='contacts even'><div class='wrapper'>
    <%= link_to 'Contacts', contacts_url %>
  </div></li>
  <li class='profile'><div class='wrapper'>
    <%= link_to "Profile", profile_url %>
  </div></li>
</ul>
