<ul class='tabList'>
  <li><%= link_to 'Home', { :controller => 'home'}, { :class => 'home' } %></li>
  <li><%= link_to 'blists', { :controller => 'blists'},
    { :class => 'blists' } %></li>
  <li><a href='#' class='contacts'>Contacts</a></li>
  <li><a href='#' class='profile'>Profile</a></li>
</ul>
