<ul class='tabList'>
  <li><a href='/' class='home'>Home</a></li>
  <li><a href='/blists' class='blists'>blists</a></li>
  <li><a href='#' class='contacts'>Contacts</a></li>
  <li><a href='#' class='profile'>Profile</a></li>
</ul>
