<ul class='tabList'>
  <li class='home even'><div class='wrapper'>
    <%= link_to 'Home', :controller => 'home' %></div></li>
  <li class='blists'><div class='wrapper'>
    <%= link_to 'blists', :controller => 'blists' %></div></li>
  <li class='contacts even'><div class='wrapper'><a href='#'>Contacts</a></div></li>
  <li class='profile'><div class='wrapper'><a href='#'>Profile</a></div></li>
</ul>
