<div class="updatesContainer">
  <h4>Updates</h4>
  <p>This is just a placeholder for now.</p>
</div>

<div class="updatesContainer">
  <h4>Requests</h4>
  <p>This is just a placeholder for now.</p>
</div>

<div class="updatesContainer">
  <h4>Comments &amp; Ratings</h4>
  <p>This is just a placeholder for now.</p>
</div>
