<% content_for :head do %>
  <title><%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag 'error-pages' %>
<% end %>


<div class="modalContentBox siteContent">
  <div class="contentHeader">
    <h1>Error</h1>
  </div>
  <div class="contentBoxInner clearfix internalError">
    <div class="icon errorIcon"></div>

    <p class="body"><%= flash[:error] || flash[:warning] || flash[:notice] ||
      "This request appears to be invalid." %></p>

    <div class="goSomewhere">
      <a href="javascript:history.back(1)" class="button default">Back</a>
      <span class="labelText">to where you came from.</span>
    </div>
  </div>
</div>
