<% content_for :head do %>
  <%= stylesheet_link_tag "error-screen" %>
  <title><%= t(:page_title) %></title>
<% end %>

<div id='errorBox' class='dialogBox'>
  <div class='header'>
    <h1>blist</h1>
  </div>

  <div class='mainContent'>
    <div class='title clearfix'><h2>Error</h2></div>

    <%= display_standard_flashes %>
  </div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
<% end %>
