@import 'app/styles/styleguide-colors';

.modalFooter {
  margin-bottom: 1.75em;

  :global {
    .modal-footer-actions {
      text-align: center;
    }
  }
}

.statusIcon {
  font-size: 100px;
}

.inProgress {
  composes: statusIcon;
  color: $primary-base;
}

.success {
  composes: statusIcon;
  color: $success-base;
}

.failure {
  composes: statusIcon;
  color: $error-base;
}

.button {
  min-width: 250px;
  composes: btn from global;
}

.toPrimer {
  composes: button;
  composes: btn-primary from global;
}

.errorButton {
  composes: button;
  margin: 0 5px;
  min-width: 150px;
  line-height: 20px;
}

.cancelButton {
  composes: errorButton;
  composes: btn-default from global;
}

.tryAgainButton {
  composes: errorButton;
  composes: btn-primary from global;
}

.progressBarContainer {
  height: 10px;
  width: 375px;
  margin: -10px auto 20px;
  background-color: $light-grey-4;
}

.statusMessage {
  margin-top: -10px; // lol
  padding-bottom: 30px;
  font-style: italic;
  font-size: 12px;
}
