$column-width: 750px;
$large: 769px;

.measure-edit-modal {
  overflow: hidden;

  .measure-edit-modal-content {
    display: flex;
    flex-direction: row;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    bottom: -14px;
  }

  .measure-edit-modal-footer {
    padding: 5px;

    .btn {
      margin-left: 5px;
    }
  }

  .measure-edit-modal-tabs {
    min-width: 240px;
    border: 0;
    border-right: 1px solid $light-grey-3;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: block;
      padding: 0;
      height: 62px;

      a {
        display: block;
        line-height: 58px;
        padding: 0;
        // Override default bottom-border from .nav-tabs
        border: 0;
        border-bottom: 1px solid $light-grey-3;

        &::after {
          display: block;
          content: "";
          position: absolute;
          top: -1px;
          left: 0;
          bottom: -1px;
          width: 6px;
          background-color: $light-grey-3;
        }
      }

      &.current a {
        // Override default bottom-border from .nav-tabs
        border: 0;
        border-bottom: 1px solid $light-grey-3;

        &::after {
          background-color: $primary;
        }
      }
    }

    span[role="presentation"] {
      font-size: 22px;
      padding-left: 16px;
    }

    .tab-title {
      padding-left: 10px;
    }

    .tab-dot {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      margin-left: 15px;
    }

    .tab-attention {
      background-color: $primary;
    }
  }

  .measure-edit-modal-panels {
    flex-grow: 1;
    padding: 16px;
    overflow-y: auto;

    > .hidden {
      display: none;
    }

    textarea {
      width: 100%;
      max-width: 100%;
      resize: vertical;
    }
  }

  #general-info-panel {
    label {
      display: block;
      padding-top: 1em;
    }

    .sublabel {
      display: block;
      font-size: 0.8em;
      color: $dark-grey-1;
    }

    .text-input {
      width: $column-width / 2;
    }

    .edit-metadata-link {
      .socrata-icon-preview {
        margin-left: 5px;
      }
    }
  }

  #data-source-panel {
    .selected-dataset {
      margin: 1em 0;
      min-height: 75px;
      position: relative;

      p {
        margin: 0;
      }

      .spinner-default {
        display: block;
        position: absolute;
        top: calc((100% - 17px) / 2);
        left: calc((100% - 17px) / 2);
      }

      .selected-dataset-name {
        padding-left: 0.5em;
        font-weight: bold;

        &.selected-dataset-empty {
          font-style: italic;
        }
      }
    }

    .asset-browser {
      // HACK: Until we can tell AssetSelector not to show a Back button,
      //       we can hack it out with CSS.
      .back-button {
        display: none;
      }

      // NOTE: Tried to get these components moved to the left, but that proved
      // very difficult with just CSS. For now leaving as a reminder that
      // it is not trivial to change.
      // .autocomplete, .sort-dropdown {
      //   float: unset;
      //   display: inline-block;
      // }
    }

    .dataset-picker {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 600px;

      .spinner-default {
        display: block;
      }

      iframe {
        display: none;
        border: 1px solid $light-grey-3;
        padding: 0.5em;
      }

      &.loaded {
        .spinner-default {
          display: none;
        }

        iframe {
          display: block;
        }
      }
    }
  }

  #methods-and-analysis-panel {

  }

  #calculation-panel {
    $metric-definition-margin: 32px;

    .calculation-panel-subtitle {
      margin-top: 0;
    }

    .calculation-panel-form {
      position: relative;

      .cover {
        cursor: not-allowed;
        // Over-sized to create some virtual padding.
        // Otherwise, the cover looks weird aligned with the
        // edges of the form elements.
        width: 110%;
        height: 110%;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: -5%;
        left: -5%;
        z-index: 51; // To cover Dropdown.
      }
    }

    .calculation-panel-reference-date {
      margin-bottom: 15px;
    }

    .calculation-type-selector {
      margin-bottom: 16px;
    }

    .option-title {
      font-weight: 600;
    }

    .config-links {
      $box-height: 300px;

      color: $dark-grey-1;
      width: 100%;
      height: $box-height;
      background: $light-grey-6;
      position: relative;
      text-align: center;
      margin-bottom: 15px;

      .centerbox {
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);

        h2 {
          margin-bottom: 20px;
        }
      }

      .btn {
        margin: 0 5px;
      }
    }

    .metric-container {
    }

    .metric-preview {
      margin-bottom: $metric-definition-margin;
      overflow: auto;

      .measure-result-card {
        min-width: $column-width / 2;
        height: 250px;
        width: 275px;
        margin-top: 4px;
        margin-bottom: 24px;

        box-shadow: 0 0 8px $light-grey-1;

        @media(min-width: $large) {
          float: left;
          margin-right: 50px;
        }

        .measure-result-big-number {
          color: $dark-grey-2;
          font-size: 42px;
        }
      }

      .metric-display-options {
        display: inline-block;

        .metric-display-options-title {
          margin-bottom: 5px;
        }

        .metric-decimal-places {
          display: inline-block;

          input {
            width: 60px;
          }
        }

        .metric-unit-label {
          display: inline-block;
          margin-left: 40px;
        }
      }

      label {
        display: block;
      }
    }

    .metric-config {
      width: $column-width / 2;
      margin-bottom: $metric-definition-margin;
      @media(min-width: $large) {
        float: left;
        margin-right: 50px;
      }

      // Mostly for column condition display, but user-provided strings are shown throughout.
      word-break: break-word;
    }

    .metric-definition-text {
      width: $column-width / 2;
      background: $light-grey-6;
      padding: 18px 16px;
      display: inline-block;

      h5 {
        margin-bottom: 4px;
      }

      code {
        margin-top: 8px;
        padding: 8px 6px;
        border: 1px solid $light-grey-2;
        background-color: $light-grey-5;
        color: $dark-grey-2;
        .column {
          color: $alternate-1-text
        }
      }
    }

    .text-filter .rate-metric-numerator-column-condition-header {
      margin-left: 8px;
    }

    #rate-metric-numerator-column-conditions {

      .socrata-flannel-content {
        padding: 0;
      }

      .rate-metric-numerator-column-condition-header {
        h6 {
          margin-bottom: 5px;
          .socrata-icon {
            margin-right: 5px;
            path {
              fill: $alternate-3;
            }
          }
        }
      }
    }

    .rate-metric-numerator, .rate-metric-denominator {
      color: $dark-grey-2;
      font-size: 32px;
      text-align: center;
      margin-left: 25px;
      margin-right: 25px;
      &:empty {
        height: 53px; // Need to keep dimensions even if no content present.
      }

    }

    .rate-metric-numerator {
      border-bottom: 2px solid $dark-grey-2;
    }

    .rate-metric-dividing-by-zero {
      color: $warning;
    }

    .rate-metric-call-to-action {
      visibility: hidden;
      position: relative;
      top: -32px;
      text-align: center;
      font-style: italic;
      font-size: 10px;
      color: $alternate-4-text;
      margin-left: 35%;
      margin-right: 35%;

      &.visible {
        visibility: visible;
      }
    }

    .rate-metric-denominator-direct-input {
      h5 {
        margin-top: 15px;
      }
    }

    #numerator-column, #denominator-column {
      max-width: 100%; // Prevent overflow with long column name.
    }
  }

  #reporting-period-panel {
    // Style for .reporting-period-start moved to common/DatePicker
    // and renamed to .socrata-date-picker
    .period-type-option-container {
       padding: 5px 0;
       .left-col {
         float: left;
       }
       .right-col {
         margin-left: 20px;
       }
     }

     .reporting-period-size {
       padding: 10px 0 10px 20px;
     }
  }

  .socrata-accordion-pane {
    border: 1px solid $light-grey-4;
  }

  .socrata-accordion-pane-content {
    background: transparent;
  }

  .socrata-accordion-pane-title {
    border: none;
  }

  .required-field-indicator {
    color: $btn-error-border-color;
    padding-left: 0.25em;

    &::before {
      content: "*";
    }
  }

  // Validations occur on blur, so remove error state indications on focus.
  input.text-input-error:focus {
    background-color: initial;
    border-color: $light-grey-3;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
    outline-color: -webkit-focus-ring-color;

    &::placeholder {
      opacity: 1;
    }
  }
}
