.measure-result-card {
  position: relative;
  width: 275px;
  height: 140px;
  border: solid 1px $light-grey-1;
  color: $dark-grey-2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  .measure-result-big-number {
    font-size: 42px;

    &.percent {
      &:after {
        display: inline;
        content: '%';
      }
    }
  }

  .measure-result-subtitle {
    font-size: 15px;
  }
}
