$scroll-pane-height: 350px;
$latest-result-width: 320px;
$metric-visualization-width: 800px;
$mobile-scroll-pane-shrink-factor: 0.8;

// Container for scrolling pane; stretches to 100% of its parent.
.scroll-pane {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  height: 350px;
  padding: 1em 0 1em 1em;
  margin-bottom: 20px;
  border: solid 1px $light-grey-4;
  background-color: $white;
}

.scroll-pane-title {
  padding-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-pane-content {
  flex-grow: 1;
  display: flex;
}

// Card that shows the latest computed metric.
#latest-metric {
  min-width: $latest-result-width;

  // overrides
  .measure-result-card {
    border: none;
    width: 100%;
    height: 100%;

    .measure-result-big-number {
      color: $primary;
      font-size: 56px;
    }
  }
}

// Card that shows the metric as a timeline visualization.
#metric-visualization {
  min-width: $metric-visualization-width;
  width: 100%;
  padding-right: 1em; // provides a better right edge here than on .scroll-pane
}

// Size adjustments for mobile device width.
@media(max-width: $small) {
  .scroll-pane {
    height: $scroll-pane-height * $mobile-scroll-pane-shrink-factor;
  }

  .scroll-pane-placeholder {
    .socrata-icon {
      width: 150px * $mobile-scroll-pane-shrink-factor;
      height: 150px * $mobile-scroll-pane-shrink-factor;
    }
  }

  #latest-metric {
    min-width: $latest-result-width * $mobile-scroll-pane-shrink-factor;
  }

  #metric-visualization {
    min-width: $metric-visualization-width * $mobile-scroll-pane-shrink-factor;
  }
}
