@import "common/metadata-table";

.pane[data-pane="summary"] {
  .metadata-table-wrapper {
    border: 1px solid $light-grey-3;
    background-color: $white;
    padding: 2px 0;
  }

  .metadata-section hr {
    margin: 0 0 20px;
  }

  .metadata-pair {
    margin-bottom: 20px;
  }

  .summary-pane-description {
    max-width: 948px;
    margin-top: 20px;

    h4 {
      margin-bottom: 20px;
    }

    p {
      margin-top: 0;
    }
  }

  .btn-group {
    float: right;
  }
}
