<div class='externalLinkDisplay'>
  <h4>This file cannot be displayed in your browser.</h4>
  <a href="<%= @view.blob_href %>" target="_blank">
    Download '<%= @view.blobFilename %>'
    (<%= number_to_human_size(@view.blobFileSize, :locale => :en) %>)</a>
</div>
