<div class='formView'>
  <form action='/views/<%= @view.id %>/rows.html' method='POST'>
    <%- @view.columns.each do |c| -%>
    <%- next if c.client_type == 'meta_data' ||
      c.client_type == 'nested_table' || c.flag?('hidden') -%>

    <div class='line clearfix'>
      <label for='form_field_<%= c.id %>'><%= c.name %></label>
      <%= render(:partial => 'displays/form_field', :locals => {:column => c}) %>
    </div>
    <%- end -%>
    <input type='submit' />
  </form>
</div>
