<%- blob_location = URI.escape(request.protocol + request.host_with_port + @view.blob_href) -%>
<noscript>
    <p>Javascript is required to run the document viewer inside your browser.</p>
    <p>To download this file instead, <%= link_to 'click here', blob_location, :target => '_blank' %>.</p>
</noscript>
<script type="text/javascript">
    $(function()
    {
        blist.renderTypes = blist.renderTypes || {};
        blist.renderTypes.blob = { href: '<%= blob_location %>' };
    });
</script>
