<div class="externalLinkDisplay">
  <p>This dataset is hosted on an external site.</p>
  <a href="<%= h(@view.dataset_href) %>" target="_blank">View '<%= @view.name %>'</a>
</div>
<div id='aboutSection'>
  <%= render :partial => 'datasets/about_dataset' %>
</div>
