@import dataCards/common/colors
@import dataCards/common/layout

$action-btn-min-width: 40px
$action-btn-padding-top: 7px
$action-btn-padding-left: 18px

.action-btn
  display: inline-block
  padding: $action-btn-padding-top $action-btn-padding-left
  border-radius: $rounded-corners-border-radius
  border: solid 2px $btn-border-color
  background-color: $btn-bg-color
  margin: 0 0 10px 10px
  color: $aqua-font-color
  min-width: $action-btn-min-width
  text-align: center
  font-size: 1em
  font-weight: bold
  cursor: pointer

  &.l-to-r
    margin: 0 10px 10px 0

  &.r-to-l
    margin: 0 0 10px 10px

  &:hover, &.active
    background-color: $btn-hover-bg-color
    border: solid 2px $btn-hover-border-color
    color: $btn-hover-font-color

  &.disabled, &:disabled
    background-color: $btn-disabled-bg-color
    border: solid 2px $btn-disabled-border-color
    color: $btn-disabled-font-color
    cursor: default

  &:focus
    outline: none

  &.touched
    background-color: $btn-touched-bg-color
    border: solid 2px $btn-touched-border-color
    color: $btn-touched-font-color

  &.error
    background-color: $btn-error-bg-color
    border: solid 2px $btn-error-border-color
    color: $btn-error-font-color

  &.success
    background-color: $btn-success-bg-color
    border: solid 2px $btn-success-border-color
    color: $btn-success-font-color

  &.working
    background-color: $btn-working-bg-color
    border: solid 2px $btn-working-border-color
    color: $btn-working-font-color

.action-btn.dark
  background-color: $dark-btn-bg-color
  border: solid 2px $dark-btn-border-color
  color: $dark-btn-font-color

  &:hover
    background-color: $dark-btn-hover-bg-color
    border: solid 2px $dark-btn-hover-border-color
    color: $dark-btn-hover-font-color

  &.disabled
    background-color: $dark-btn-disabled-bg-color
    border: solid 2px $dark-btn-disabled-border-color
    color: $dark-btn-disabled-font-color
    cursor: default

.action-btn.inverted
  background-color: $btn-hover-bg-color
  border: solid 2px $btn-hover-border-color
  color: $btn-hover-font-color
  &:hover
    border: solid 2px $btn-border-color
    background-color: $btn-bg-color
    color: $aqua-font-color

.btn-slim
  padding: 0
