@import dataCards/common/colors
@import dataCards/common/layout
@import dataCards/action-button
@import dataCards/tool-panel

$metadata-top-padding: 7px
$metadata-side-padding: 30px
$filter-height: 58px
// api panel sizes
$api-panel-width: 512px
$api-panel-hint-width: 20px

/* MOBILE/RESPONSIVE DESIGN. SEE DESKTOP-SPECIFIC STYLES BELOW */
body.state-view-cards
  background-color: $view-cards-bg-color

  *:focus
    outline-width: 2px

  .cards-metadata
    position: relative
    background-color: $metadata-bg-color
    color: $dark-grey-font-color
    padding: $metadata-top-padding ($metadata-side-padding / 2)
    border-top: 3px solid $metadata-border-color
    border-bottom: 3px solid $metadata-border-color
    z-index: 2

    .page-description
      margin-top: 1rem

      .show-more
        height: 1rem
        display: none
        padding-top: 1.5rem
        color: $aqua-font-color
        cursor: pointer

        .show-more-arrow
          margin-left: 5px

        &:before
          content: 'Show more'
        &.less:before
          content: 'Show less'
        &.clamped,&.less
          display: inline-block

    .padded-wrapper
      padding: ($metadata-side-padding / 2)

    header
      font-size: 2em

    .activities
      position: relative
      $activities-divider-width: 36px
      padding-right: $metadata-side-padding / 2
      text-align: right

      .metadata
        padding-bottom: 10px

      .metadatum-wrapper

        &:last-child
          .metadatum
            margin-bottom: 10px

        .metadatum
          padding: 10px 0 0 10px
          white-space: nowrap
          overflow: hidden
          width: 100%

          span

            &.label
              text-transform: uppercase
              padding-right: 0.3em

            &.value, &.value a
              text-transform: capitalize
              font-weight: bold
              color: $aqua-font-color

            &.value.source-dataset-name
              max-width: 15rem
              display: inline-block

              & .content
                position: relative
                top: 3px

      .save-button
        position: relative
        .saving-spinner-wrapper
          $spinner-size: 17px
          display: none
          position: absolute
          top: calc(50% - #{$spinner-size / 2})
          bottom: 0
          left: calc(50% - #{$spinner-size / 2})
          right: 0
          .saving-spinner
            @include prefixer(animation-duration, '0.7s')
            @include prefixer(animation-iteration-count, 'infinite')
            @include prefixer(animation-timing-function, 'linear')
            @include prefixer(animation-name, 'loadingspin')
            height: $spinner-size
            width: $spinner-size

        &.working
          .saving-spinner-wrapper
            display: block
          .button-text
            visibility: hidden

    #api-panel
      position: absolute
      display: none
      margin-top: $api-panel-hint-width / 2
      right: ($metadata-side-padding / 2) + ($action-btn-min-width / 2)
      color: $api-panel-white-font-color
      background-color: $api-panel-bg-color
      text-align: left
      z-index: 1003
      width: $api-panel-width
      border: solid 1px $api-panel-border-color

      #api-panel-hint
        position: absolute
        right: -1px
        top: -$api-panel-hint-width
        width: 0
        height: 0
        border-style: solid
        border-width: 0 0 $api-panel-hint-width $api-panel-hint-width
        border-color: transparent transparent $api-panel-bg-color transparent

      #api-panel-inner-container
        position: relative
        padding: $card-padding

      h2
        margin: 0
        font-size: 1.25em
        font-weight: bold

      #api-url-display
        margin: 0
        padding: 0
        font-size: 1.1em
        line-height: 3em
        white-space: nowrap
        color: $api-panel-black-font-color
        background-color: $api-panel-url-textarea-bg-color
        border: none
        outline: none
        overflow-x: scroll
        overflow-y: hidden

        .api-url-spacer
          display: inline-block
          width: 1em

        #api-url-content
          display: inline-block

          &:before, &:after
            content: ''
            display: inline-block
            width: 1em

      .api-btn
        width: auto
        background-color: $dark-btn-bg-color
        border: solid 2px $dark-btn-border-color
        color: $dark-btn-font-color
        font-weight: bold
        font-size: 1em
        margin-bottom: 0

        &:hover, &.active
          background-color: $dark-btn-hover-bg-color
          border: solid 2px $dark-btn-hover-border-color
          color: $dark-btn-hover-font-color

    #api-panel.active
      display: block

  .cards-content
    position: relative
    color: $white-font-color
    background-color: $view-cards-bg-color
    z-index: 1

    #quick-filter-bar-container
      position: relative

      .quick-filter-bar
        position: absolute
        width: 100%
        top: 0
        padding: 0
        box-sizing: border-box
        z-index: 1002

        &.stuck
          position: fixed
          top: 0

        .content
          padding: $metadata-side-padding / 2
          background-color: $view-cards-bg-color
          width: 100%
          box-sizing: border-box
          line-height: 1.5rem

        .filters
          display: inline
          margin-right: 1rem
          line-height: 2rem

        .filter
          // TODO: responsive design for filters when narrow
          display: inline-block
          padding-right: 3px
          color: $white-font-color

          span
            opacity: 0.6
            &.light
              opacity: 1

        // buttons in the QFB are gonna look a little different from normal
        .action-btn
          margin: -.5rem 0
          border-width: 1px

    #card-container
      position: relative

    .cards
      display: block
      padding: 0

      /* LAYOUT */
      .card-spot
        position: absolute

        .card-drag-overlay
          position: absolute
          left: 0
          right: 0
          top: 0
          bottom: 0
          z-index: 2
          cursor: grab !important
          cursor: -webkit-grab !important

        card
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          z-index: 1

          &.dragged
            position: fixed
            z-index: 3000
            opacity: 0.85
            cursor: grabbing !important
            cursor: -webkit-grabbing !important
            @include prefixer(transition, 'width 0.55s, height 0.55s')

            // Don't let our dimensions freak out when we're dragged
            top: inherit
            left: inherit
            width: inherit
            height: inherit

      .card-group-drop-placeholder
        position: absolute
        display: none
        height: 128px
        font-size: 1.5em
        line-height: 128px
        text-align: center
        color: white
        border: 2px dashed white
        border-radius: $rounded-corners-border-radius
        box-sizing: border-box

      .card-drop-placeholder
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: white
        opacity: 0.5
        border-radius: $rounded-corners-border-radius

      .add-card-button
        position: absolute

/*  DESKTOP-SPECIFIC STYLES  */

@media screen
  @media (min-width: 768px)
    .cards-view
      .cards-metadata
        .metadatum-wrapper
          .span6:first-child
            .metadatum
              // left-hand activities on full-width
              margin-right: 35px


/*   ICONS AND COMPONENTS */

.expand-button, .delete-button
  position: absolute
  width: 20px
  height: 20px
  right: 5px
  top: 5px
  text-align: center
  line-height: 20px
  font-family: 'SSAir'
  background-color: white
  z-index: 3

  span
    cursor: pointer
    display: block
    position: relative
    color: #888

    &:hover
      color: #ccc

.expand-button span:before
  content: '⤢'

.expand-button.collapse span:before
  content: ''

.delete-button span
  &:before
    content: '×'
    font-size: 22px
    line-height: 0

  &:hover
    color: red

.table-icon
  .grid-lines
    fill: $aqua-font-color
  .grid-cells
    fill: lighten($aqua-font-color, 10)

.add-card-select-column
  position: relative
  width: 240px
  height: 40px
  margin: 1em 1em 1em 0
  background-color: $api-panel-border-color

  select
    width: 100%
    height: 100%
    padding: 0 3em 0 1em
    color: $modal-white-font-color
    background-color: transparent
    border: none
    outline: none
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    &::-ms-expand
      display: none

    option
      background-color: $modal-dropdown-background-color
      color: $modal-dark-font-color
      &:disabled
        color: $modal-disabled-font-color

  .arrow-container
    position: absolute
    width: 2rem
    height: 100%
    top: 0
    right: 0
    background-color: $api-panel-border-color
    pointer-events: none

    .arrow
      position: absolute
      width: 0
      height: 0
      top: 50%
      left: 30%
      border-style: solid
      border-width: 5px 5px 0 5px
      border-color: white transparent transparent transparent
      pointer-events: none

.add-card-preview
  position: relative
  display: block
  width: 100%
  height: 300px
  margin: 1em 0
  line-height: 300px
  text-align: center
  background-color: #6d7988
  border: 2px dashed $modal-white-font-color
  border-radius: $rounded-corners-border-radius

.add-card-buttons
  text-align: right

  .action-btn
    margin-bottom: 0
