@import dataCards/common/colors
@import dataCards/common/layout
@import dataCards/action-button
@import dataCards/aggregation-chooser
@import dataCards/tool-panel
@import dataCards/inputs
@import dataCards/spinner
@import dataCards/customize-bar
@import dataCards/related-views

$metadata-top-padding: 7px
$metadata-side-padding: 30px
$filter-height: 58px
// api panel sizes
$api-panel-width: 512px
$api-panel-hint-width: 20px

/* MOBILE/RESPONSIVE DESIGN. SEE DESKTOP-SPECIFIC STYLES BELOW */
body.state-view-cards
  background-color: $view-cards-bg-color

  *:focus
    outline-width: 2px

  .cards-metadata
    position: relative
    background-color: $metadata-bg-color
    color: $dark-grey-font-color
    padding: $metadata-top-padding ($metadata-side-padding / 2)
    border-top: 3px solid $metadata-border-color
    border-bottom: 3px solid $metadata-border-color

    .page-description
      margin-top: 1rem

      .show-more
        height: 1rem
        display: none
        padding-top: 1.5rem
        color: $aqua-font-color
        cursor: pointer

        .show-more-arrow
          margin-left: 5px

        &:before
          content: 'Show more'
        &.less:before
          content: 'Show less'
        &.clamped,&.less
          display: inline-block

    .padded-wrapper
      padding: ($metadata-side-padding / 2)

    .edit-page-name
      position: relative
      color: inherit

      >.placeholder
        position: absolute
        z-index: 0
        top: 0
        left: 0
        color: inherit
        font-family: inherit

        &::before
          font-family: socrata-apps
          // Make the icon a little bit smaller
          font-size: .7em
          line-height: 2em
          padding-left: .4em

        span
          display: none
          color: $placeholder-text-color
          padding-left: .3em
          font: inherit
          font-style: italic
          font-size: .9em

      >textarea
        color: inherit
        background: transparent
        font: inherit
        height: 1.2em
        display: block
        width: 100%
        box-sizing: border-box
        padding-left: 1.2em
        border: 1px solid $grey-inactive-border-color
        @include prefixer(border-radius, 2px)

        // Make sure this is above the placeholder
        position: relative
        z-index: 1

        &:empty + .placeholder > span
          display: inline

        &:focus
          outline: 0
          border-color: $blue-active-color
          // webkit doesn't give us box shadows unless we nuke its appearance
          -webkit-appearance: none
          @include prefixer(box-shadow, 0 0 2px 0 $blue-active-color)

          + .placeholder
            color: $blue-active-color

            span
              display: none

      .icon-warning
        position: absolute
        top: 0
        left: 100%
        z-index: 1
        color: $red-error-color
        font-size: .7em
        margin-left: .5rem
        line-height: 1.5em

        + textarea
          border-color: $form-error-border-color

    header,.edit-page-name
      font-size: 2rem

    .activities
      position: relative
      $activities-divider-width: 36px
      padding-right: $metadata-side-padding / 2
      text-align: right

      .metadata
        padding-bottom: 10px

      .metadatum-wrapper

        &:last-child
          .metadatum
            margin-bottom: 10px

        .metadatum
          padding: 10px 0 0 10px
          white-space: nowrap
          overflow: hidden
          width: 100%
          box-sizing: border-box
          display: block

          span

            &.label
              text-transform: uppercase
              padding-right: 0.3em

            &.value, &.value a
              text-transform: capitalize
              font-weight: bold
              color: $aqua-font-color

            &.value.source-dataset-name
              max-width: 15rem
              display: inline-block

              &.content
                position: relative
                top: 3px

      .save-button
        position: relative

      .download-menu
        $border-width: 2px
        position: relative
        border-width: $border-width
        z-index: 5
        overflow: visible

        dropdown-menu
          position: absolute
          top: 100%
          // Compensate for the border on the containing button
          margin: 0 #{-$border-width}
          background-color: inherit

          a
            white-space: nowrap
            color: inherit
            display: block
            line-height: 2rem
            text-align: left
            padding: $action-btn-padding-top $action-btn-padding-left

            &:hover
              background-color: $btn-bg-color
              color: $aqua-font-color

            &.download-menu-item-disabled, &.download-menu-item-disabled:hover
              cursor: default
              color: $lt-grey-font-color-rgba
              background-color: inherit

  .cards-content
    position: relative
    color: $white-font-color
    background-color: $view-cards-bg-color
    z-index: 1

    #quick-filter-bar-container
      position: relative

      .quick-filter-bar
        position: absolute
        width: 100%
        top: 0
        padding: 0
        box-sizing: border-box
        z-index: 1002

        &.stuck
          position: fixed
          top: 0

        .content
          padding: $metadata-side-padding / 2
          background-color: $view-cards-bg-color
          width: 100%
          min-height: 4.5rem
          line-height: 2.75rem
          box-sizing: border-box

          .clear-all-filters-button
            margin: 0

        .action-btn
          line-height: normal

        .filters
          display: inline
          margin-right: 1rem
          line-height: 2rem

        .filter
          // TODO: responsive design for filters when narrow
          display: inline-block
          padding-right: 3px
          color: $white-font-color

          span
            opacity: 0.6
            &.light
              opacity: 1

        // buttons in the QFB are gonna look a little different from normal
        .action-btn
          margin: -.5rem 0
          border-width: 1px

    #card-container
      position: relative

    .cards
      display: block
      padding: 0

      /* LAYOUT */
      .card-spot
        position: absolute

        .overlay
          position: absolute
          left: 0
          right: 0
          top: 0
          bottom: 0
          z-index: 1000

          &.card-chooser
            background-color: rgba(0, 0, 0, .5)
            @include prefixer(transition, 'background-color 0.1s')

            &.enabled:hover
              background-color: rgba(0, 0, 0, .1)

            .action-png-export
              position: absolute
              top: 50%
              left: 50%
              @include prefixer('transform', 'translate(-50%, -50%)')
              @include prefixer(box-shadow, 0 0.2rem 1.3rem -0.1rem rgba(0, 0, 0, 0.3))

              &:focus
                background-color: $btn-hover-bg-color
                border: solid 2px $btn-hover-border-color
                color: $btn-hover-font-color

        .card-drag-overlay
          // IE9 ignores this overlay for JUST the column chart labels unless you give this
          // a background color (transparent doesn't work).
          background-color: rgba(0, 0, 0, 0)

          cursor: move !important
          cursor: grab !important
          cursor: -webkit-grab !important

        card
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          z-index: 1

          &.dragged
            position: fixed
            z-index: 3000
            opacity: 0.85
            cursor: move !important
            cursor: grabbing !important
            cursor: -webkit-grabbing !important
            @include prefixer(transition, 'width 0.55s, height 0.55s')

            // Don't let our dimensions freak out when we're dragged
            top: inherit
            left: inherit
            width: inherit
            height: inherit

      .card-group-drop-placeholder
        position: absolute
        display: none
        height: 128px
        font-size: 1.5em
        line-height: 128px
        text-align: center
        color: white
        border: 2px dashed white
        border-radius: $rounded-corners-border-radius
        box-sizing: border-box

      .card-drop-placeholder
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: white
        opacity: 0.5
        border-radius: $rounded-corners-border-radius

      .add-card-button
        position: absolute

  customize-card-dialog
    >h2
      &::before
        font-size: 0.9rem

    card
      float: left
      width: 100%
      max-width: 500px
      margin: 0 1rem 1rem 0

    .configurable
      >div
        display: inline-block
        min-width: 15rem
      h3
        white-space: nowrap
        display: inline-block
        margin: 0 0 1rem
        min-width: 10rem

      input
        display: block
        margin-top: 1rem
        width: 15rem

    .controls
      overflow: hidden
      clear: both

      button
        float: right


  add-card-dialog
    display: block

    >h2
      &::before
        content: '+'
        line-height: 1.5rem
        font-size: 1.6rem
        font-weight: bold

    .card-spot
      position: relative

      .icon-settings
        white-space: nowrap
        padding: 0.2rem 0.3rem 0.3rem
        color: $link-font-color
        border-radius: $rounded-corners-border-radius
        display: block

        &::before
          color: $card-control-color

        &:hover
          background-color: $btn-hover-bg-color
          color: $btn-hover-font-color

          &::before
            color: $btn-hover-font-color

      card.preview
        position: relative
        display: block
        height: 300px
        text-align: left

/*  DESKTOP-SPECIFIC STYLES  */

@media screen
  @media (min-width: 768px)
    .cards-view
      .cards-metadata
        .metadatum-wrapper
          .span6:first-child
            .metadatum
              // left-hand activities on full-width
              margin-right: 35px


/*   ICONS AND COMPONENTS */

.table-icon

  .grid-lines
    fill: $aqua-font-color

  .grid-cells
    fill: lighten($aqua-font-color, 10)

.add-card-select-column
  float: left
  width: 19rem
  height: 5.55rem

  soc-select
    margin: 0 1em 1em 0
    background-color: $api-panel-border-color

.add-card-options
  float: left
  width: 28.5rem

  ul
    margin: 0
    padding: 0
    list-style: none
    text-align: right

  ul li
    float: right
    margin: 0 0 0.5rem 0.25rem
    width: 6rem
    text-align: center

    .add-card-type-option
      position: relative
      display: block
      margin: 0 auto 0.5rem auto
      width: 3rem
      height: 3rem
      font-size: 1.5rem
      color: $dark-btn-font-color
      background-color: $dark-btn-bg-color
      border: 1px solid $dark-btn-border-color
      border-radius: $rounded-corners-border-radius
      cursor: pointer
      outline: none

      &:hover
        color: $dark-btn-hover-font-color
        background-color: $dark-btn-hover-bg-color
        border: 1px solid $dark-btn-hover-border-color

      &.selected
        color: $dark-btn-touched-font-color
        background-color: $dark-btn-touched-bg-color
        border: 1px solid $dark-btn-touched-border-color

      &.disabled
        color: $dark-btn-disabled-font-color
        background-color: $dark-btn-disabled-bg-color
        border: 1px solid $dark-btn-disabled-border-color

      &.warn
        .warning-icon
          display: block

      .warning-icon
        position: absolute
        display: none
        padding: 0
        width: 50%
        height: 50%
        top: -15%
        left: 73%
        color: white

.add-card-preview
  position: relative
  display: block
  float: left
  width: 100%
  margin: 1em 0
  text-align: center
  background-color: #6d7988
  border: 2px dashed $modal-white-font-color
  border-radius: $rounded-corners-border-radius
  box-sizing: border-box

  > span
    line-height: 300px

.add-card-buttons
  text-align: right
  clear: both

  .action-btn
    margin-bottom: 0
