@import "dataCards/common/layout";
@import "dataCards/common/colors";

.card {
  position: relative;
}

.choropleth-container {
  &.card-size-1 {
    .choropleth-legend.continuous {
      max-height: 9rem;
    }
  }
  &.card-size-2 {
    .choropleth-legend.continuous {
      max-height: 6rem;
    }
  }
  &.card-size-3 {
    .choropleth-legend.continuous {
      max-height: 4rem;
    }
  }
}

card.expanded .choropleth-container .choropleth-legend.continuous {
  max-height: 15rem;
}

.state-view-card .choropleth-container .choropleth-legend.continuous {
  max-height: 15rem;
}

choropleth {

  .choropleth {
    width: 100%;
    height: 100%;
  }

  .choropleth-selection-box {
    border-radius: $rounded-corners-border-radius;
    bottom: 10px;
    cursor: pointer;
    display: none;
    left: 10px;
    opacity: 0.9;
    padding: 10px;
    position: absolute;
    z-index: 100;

    .icon-filter {
      vertical-align: middle;
    }

    .choropleth-selection-value {
      display: inline-block;
      font-weight: bold;
      margin: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }

    .icon-close {
      cursor: pointer;
      font-size: 0.5rem;
      padding: 5px;
      vertical-align: middle;
    }
  }
}

.card.dragged {
  .choropleth-container {
    .choropleth-map-container {
      path {
        cursor: grabbing !important;
        cursor: -webkit-grabbing !important;
      }
    }
  }
}
