@import dataCards/common/colors

.card
  position: relative

.choropleth-container
  padding: 0
  height: 100%

  .choropleth-map-container
    height: 100%

    path
      cursor: pointer

  .choropleth-legend
    position: absolute
    padding: 15px
    bottom: 15px
    right: 15px
    cursor: default

    svg
      display: block
      overflow: initial

      .labels
        .tick
          line
            stroke: black

      rect.choropleth-legend-color
        stroke: white
        stroke-width: 1px

    &.continuous
      $inset: 30px
      max-height: 15rem
      height: 100%
      right: $inset
      bottom: 0
      width: 1rem
      box-sizing: content-box
      padding: $inset 0
      position: absolute

      svg
        width: 100%
        max-height: inherit
        height: 100%
        box-sizing: inherit

        rect
          width: 100%
          height: 100%

        .tick
          $font-size: .8rem
          font-size: $font-size

          text
            color: $dark-grey-font-color
            fill: $dark-grey-font-color

          &.small
            font-size: .75 * $font-size
            opacity: .8

          line
            stroke: black

        path.domain
          display: none

.card.dragged
  .choropleth-container
    .choropleth-map-container
      path
        cursor: grabbing !important
        cursor: -webkit-grabbing !important
