@import dataCards/common/colors

.card
  position: relative

.choropleth-container
  padding: 0
  height: 100%

  &.interaction-controls-hidden
    .leaflet-control-zoom
      visibility: hidden

  .choropleth-map-container
    height: 100%

    path
      cursor: pointer

  .choropleth-legend
    position: absolute
    padding: 15px
    bottom: 15px
    right: 15px
    cursor: default

    svg
      overflow: initial

      .labels
        .tick
          line
            stroke: black

      rect.choropleth-legend-color
        stroke: white
        stroke-width: 1px

.card.dragged
  .choropleth-container
    .choropleth-map-container
      path
        cursor: grabbing !important
        cursor: -webkit-grabbing !important
