@import dataCards/common/fonts

$chart-tick-color: #BBB
$chart-description-color: darken($chart-tick-color, 30)
$unfiltered-bar-color: #C2C2C2
$filtered-bar-color: #676464
$neutral-bar-color: #676464
$tooltip-border-color: #333
$tooltip-name-color: #333
$tooltip-value-color: #888
$tooltip-background-color: #F0F0F0
$tick-height: 1rem

div.column-chart

  div.chart-scroll
    overflow-x: auto
    overflow-y: hidden
    position: absolute
    top: 0

  div.column-chart-wrapper
    position: relative

    .bar-group.active .bar
      &.unfiltered
        background-color: $neutral-bar-color

      &.filtered
        background-color: $filtered-bar-color

    &.filtered .bar-group.active
      .bar
        &.unfiltered
          background-color: $unfiltered-bar-color

      &.special
        .bar.filtered
          background-color: green
        .bar.unfiltered
          background-color: lighten($unfiltered-bar-color, 12%)

    div.truncation-marker
      position: absolute
      bottom: -1.2rem
      right: 0
      cursor: pointer
      color: $chart-tick-color
      width: auto
      height: auto
      font-size: 1.2rem
      font-family: sans-serif

    div.truncation-marker:hover
      display: block

      & + div.tooltip
        display: block

        span.tip
          display: block

    div.hover-trigger
      display: none
      &.active
        display: block

    div.truncation-marker + div.tooltip
      display: none
      position: absolute
      border: 1px solid $chart-tick-color
      color: $chart-tick-color
      padding: 5px 5px 0 5px
      background-color: $tooltip-background-color
      font-size: $small-font-size
      height: 1rem
      bottom: 3px
      right: 1px
      z-index: 2

      span.tip
        width: 0
        display: none
        border-left: 4px solid transparent
        border-right: 4px solid transparent
        border-top: 8px solid $chart-tick-color
        bottom: -8px
        position: absolute
        right: 0

    div.field-name
      color: $chart-description-color

    div.field-description
      color: $chart-description-color

    &.s508
      position: static
      opacity: 0

    .bar-group
      position: absolute
      display: none

      &.active
        display: block

    .bar
      position: absolute

      div.tooltip
        pointer-events: none
        display: none
        position: absolute
        width: 130px
        border: 1px solid $tooltip-border-color
        padding: 5px
        background-color: $tooltip-background-color
        font-size: $small-font-size
        font-weight: bold

        div.datum
          padding: 5px

          div.name
            white-space: normal
            color: $tooltip-name-color
            text-overflow: ellipsis
            overflow-x: hidden

          div.value
            font-size: $small-font-size * 1.5

          .label
            display: none

          .value-filtered
            display: none

        &.filtered
          div.datum
            margin-bottom: 10px

            .label
              display: block

            div.name
              margin-bottom: 0.2rem

            .value-unfiltered
              color: $unfiltered-bar-color
              clear: both

              .label
                float: left
              .value
                float: right
                text-align: right
                font-size: $small-font-size

            .value-filtered
              display: block
              color: $filtered-bar-color
              clear: both

              .label
                float: left
              .value
                float: right
                text-align: right
                font-size: $small-font-size

      span.tip
        width: 0
        display: none
        border-left: 4px solid transparent
        border-right: 4px solid transparent
        border-top: 8px solid $tooltip-border-color
        bottom: -8px
        position: absolute

      &.active:hover

        div.tooltip
          display: block

        span.tip
          display: block

  div.labels
    position: absolute
    height: 55px
    bottom: 10px
    right: 0
    left: 0

    div.label
      position: absolute
      top: 2px
      right: 0
      &.dim
        opacity: 0.2

      div.callout
        position: absolute
        border-bottom: 1px solid $chart-tick-color
        width: 0.5rem

      div.text
        color: $chart-tick-color
        position: absolute
        text-indent: 0.5rem
        left: 0.25rem
        font-size: $medium-font-size
        line-height: $base-font-size
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

      &.orientation-right
        div.callout
          border-left: 1px solid $chart-tick-color

        div.text
          right: 0

      &.orientation-left
        div.callout
          border-right: 1px solid $chart-tick-color
          right: 0

        div.text
          left: 0
          right: 0
          padding-right: 0.6rem
          text-align: right

  div.ticks
    position: absolute

    div
      height: $tick-height
      border-bottom: 1px solid $chart-tick-color
      position: absolute
      width: 100%
      color: $chart-tick-color
      text-align: right
      margin-top: -$tick-height

.card.expanded

  div.column-chart

    .labels
      bottom: auto
      div.callout
        display: none
      div.text
        @include prefixer(transform, rotate(45deg))
        @include prefixer(transform-origin, top left)
        margin-top: -6px
        overflow: visible
        position: initial
        overflow-x: hidden
        text-overflow: ellipsis
