@import dataCards/common/colors
@import dataCards/common/mixins
@import dataCards/common/layout

$customize-bar-z-index: 10
$customize-bar-border-top-width: 3px
$customize-bar-font-size: 1.2em
$customize-bar-button-height: 24px
$customize-bar-button-border-width: 2px

.customize-bar-action-btn
  @include action-button($customize-bar-button-color, $customize-bar-button-background-color, $customize-bar-button-border-color)
  font-size: 0.85em
  height: $customize-bar-button-height + (2 * $customize-bar-button-border-width)
  line-height: $customize-bar-button-height
  padding: 0 10px

  &:hover, &.active, &.touched
    @include action-button($customize-bar-customizing-button-color, $customize-bar-customizing-button-background-color, $customize-bar-customizing-button-color)

  &.disabled, &:disabled
    @include action-button($btn-disabled-font-color, $btn-disabled-bg-color, $btn-disabled-border-color)
    cursor: default

  &.working
    @include action-button($customize-bar-customizing-button-color, $customize-bar-customizing-button-background-color, $customize-bar-customizing-button-color)

.customize-bar
  background-clip: padding-box
  background-color: rgba($customize-bar-background-color, $customize-bar-opacity)
  border-top: $customize-bar-border-top-width solid rgba($customize-bar-border-color, $customize-bar-border-opacity)
  bottom: 0
  color: $customize-bar-button-color
  display: block
  height: $customize-bar-height
  line-height: $customize-bar-line-height
  position: fixed
  width: 100%
  z-index: $customize-bar-z-index

  .changes-warning
    margin-left: 10px

    .icon-warning
      margin-right: 0.05rem

  .customize-button-wrapper
    display: inline-block
    width: 9rem

  .action-btn
    @extend .customize-bar-action-btn
    &:hover
      border-color: $customize-bar-customizing-button-background-color
      &.disabled
        @include action-button($btn-disabled-font-color, $btn-disabled-bg-color, $btn-disabled-border-color)

  &.is-customizing
    background-color: rgba($customize-bar-customizing-background-color, 1)
    border-top: $customize-bar-border-top-width solid rgba($customize-bar-customizing-background-color, $customize-bar-border-opacity)
    color: $customize-bar-customizing-button-color

    .action-btn
      @include action-button($customize-bar-customizing-button-color, $customize-bar-customizing-button-background-color, $customize-bar-customizing-button-color)

      &:hover, &.active
        @include action-button($customize-bar-customizing-button-background-color, $customize-bar-button-background-color, white)

      &.disabled,&:disabled
        @extend .action-btn.disabled !optional

    button.action-btn
      padding: 0 10px

    button.save-button, button.save-as-button
      @extend .customize-bar-action-btn
      &:hover
        border-color: $customize-bar-customizing-button-background-color

    .tool-panel
      @extend .tool-panel !optional


  &.has-changes
    background-image: url('/images/dataCards/customize/hatch-regular.png')
    background-repeat: repeat

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
      background-image: url('/images/dataCards/customize/hatch-regular-2x.png')
      background-size: 64px 64px

    &.is-customizing
      background-image: url('/images/dataCards/customize/hatch-customize.png')

      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
        background-image: url('/images/dataCards/customize/hatch-customize-2x.png')
        background-size: 64px 64px

