@import dataCards/common/colors
@import dataCards/common/layout

body.state-dataset-metadata
  color: $dataset-metadata-fg-color
  background-color: $dataset-metadata-bg-color

  .metadata-boxes
    margin: 3rem
    h1
      margin-bottom: 0.6rem
      font-weight: bold
      font-size: 24px

    h2
      margin-bottom: 0.3rem
      font-weight: bold
      font-size: 18px

    .row
      margin-bottom: 2rem
      padding: 1.4rem 1rem
      background-color: $dataset-metadata-box-color
      a
        color: $dataset-metadata-box-link-color

    .standard-metadata
