@import dataCards/common/colors
@import dataCards/common/layout

body.state-dataset-metadata
  color: $dataset-metadata-fg-color
  background-color: $dataset-metadata-bg-color

  .metadata-boxes
    margin: 3rem
    h1
      margin-bottom: 0.6rem
      font-weight: normal
      font-size: 130%

    .row
      padding: 0.5rem 1rem
      background-color: $dataset-metadata-box-color
      a
        color: $dataset-metadata-box-link-color

    .standard-metadata
