@import dataCards/common/colors
@import dataCards/common/layout

body.state-dataset-metadata
  .metadata-boxes
    margin: 3rem
    h1
      margin-bottom: 0.6rem
      font-weight: bold
      font-size: 24px

    h2
      margin-top: 0.3rem
      margin-bottom: 0.3rem
      font-weight: bold
      font-size: 18px

    p
      margin: 0.3rem 0 0.5rem 0

    .row
      $row-padding-side: 1rem

      margin-bottom: 2rem
      padding: 1.4rem $row-padding-side

      a
        display: block

      &.dataset-related-pages
        .page
          // This hackery is to make the hover highlight go right to the edge of the box horizontally.
          margin-left: -$row-padding-side
          margin-right: -$row-padding-side
          padding-left: $row-padding-side
          padding-right: $row-padding-side

          h2
            padding-top: 0.3rem
            margin-top: 0

          hr
            margin: 0
