@import "dataCards/common/layout";
@import "dataCards/common/fonts";
@import "dataCards/common/colors";

card-visualization-feature-map,
feature-map {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  .feature-map {
    height: 100%;
  }
  .feature-map-container {
    height: 100%;
  }
  .display-render-warning {
    padding-top: 0.5rem;
  }
}

.card.dragged {
  .feature-map-wrapper {
    .feature-map-container {
      path {
        cursor: grabbing !important;
        cursor: -webkit-grabbing !important;
      }
    }
  }
}

.state-view-cards #socrata-row-inspector {
  .tool-panel .tool-panel-main .paging-panel {
    font-size: $small-font-size;
  }

  .row-inspector-content {
    padding: 0;
  }

  .icon-close {
    font-size: $base-font-size;
    right: 10px;
  }

  .icon-warning::after {
    content: none;
  }

  .error-content.visible {
    height: auto;
    padding-bottom: 1.75rem;
  }
}
