$tick-font-size: 0.75rem

[data-card-type="histogram"]
  .card-visualization-wrapper
    margin-left: -15px
    margin-right: -15px

.histogram-axis
  shape-rendering: crispEdges

.histogram-axis-x, .histogram-axis-y
  path
    fill: none
    stroke: none

  .tick
    line
      fill: none

    text
      cursor: default

  .tick.is-zero
    text
      font-weight: bold

.histogram-axis-x
  .tick
    line
      stroke-width: 3px

.histogram-axis-y
  .tick
    line
      stroke-width: 1px

    text
      font-size: $tick-font-size

.histogram-trace
  fill: none
  stroke-width: 2px

.histogram-hover-shield
  fill: transparent // so it still receives pointer events
  cursor: pointer

.histogram-brush-handle
  stroke-linejoin: round

.histogram-brush-line
  stroke-width: 1px
  stroke-dasharray: 7,3

.brush-clear
  cursor: pointer

.brush-clear-text, .brush-clear-x
  font-weight: bold

.brush-clear-x
  font-size: larger
