lens-type {
  display: block;
  width: 100%;
  text-align: right;
  span {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 0.35rem 0.5rem;
    text-transform: capitalize;
  }
  .icon-check {
    @include border-radius(100%);
    font-size: 0.75rem;
    padding: 0.25rem;
    margin-right: 0.5rem;
  }
}
