.demo-content
  padding: 3em
  text-align: center

  h1,h2,h3,h4
    margin: 1em 0

  h1
    font-size: 2em

  h2
    font-size: 1.75em

  h3
    font-size: 1.5em

  .legend
    background: rgba(255,255,255, 0.9)
    box-shadow: 0 0 15px rgba(0,0,0,0.2)
    border-radius: 5px
    padding: 6px 8px
    line-height: 18px
    color: #555
    width: 100%

    i
      width: 16px
      height: 16px
      float: left
      margin-right: 8px
      opacity: 0.7

    .info-label
      white-space: nowrap
      text-align: left

  h4
    font-size: 1.25em
    font-weight: bold

  a.plain-link
    display: inline-block
    padding: 10px
    font-size: 12px
    text-decoration: underline

  a.sticky-link
    display: inline-block
    padding: 10px
    margin: 5px
    background: #696969
    color: white
    font-size: 14px
    cursor: pointer

  a.toggle-link
    @extend a.sticky-link

    &.active
      background: brown

  table
    margin: 1em 0
    font-size: 12px

    td:first-child, th:first-child
      text-align: left

    &.timers-table
      td:last-child, th:last-child
        text-align: right

    td,th
      padding: 5px
      border: solid 1px black

      strong
        font-weight: bold

    th
      background: #ddd

.side
  float: left
  width: 66%
  text-align: left

.demo-map
  margin: 5em auto
  float: left
  width: 33%
  height: 600px
  box-shadow: 3px 4px 5px rgba(94, 94, 94, 0.6)
  border: solid 2px #727272

  .leaflet-control-attribution
    display: none