@import "dataCards/common/layout";

$modal-padding: 2rem;
$modal-z-start: 9999;

.modal-container {
  .modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: fixed;
    z-index: $modal-z-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  .modal-dialog {
    position: fixed;
    box-sizing: border-box;
    width: 70rem;
    max-width: 80%;
    max-height: 90%;
    min-height: 150px;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    @include prefixer("transform", "translate(-50%, -50%)");
    z-index: $modal-z-start + 1;
    padding: $modal-padding;
    .modal-dialog-content {
      @include prefixer(box-sizing, border-box);
      text-align: left;
      width: 100%;
      h2 {
        margin: 0 0 1rem;
        font-size: 1.25em;
        font-weight: bold;
        span {
          font-size: 1.5rem;
          font-weight: bold;
          margin-right: 0.5rem;
        }
        .icon-settings {
          font-size: 1rem;
        }
      }
    }
    .modal-close-button {
      position: absolute;
      top: 0.5 * $modal-padding;
      right: 0.5 * $modal-padding;
      padding: 0;
      cursor: pointer;
      font-size: 20px;
      display: inline-block;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
      .icon-close {
        font-size: 0.75rem;
      }
    }
    .modal-close-button.disabled {
      cursor: default;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

modal-dialog.second {
  .modal-overlay {
    z-index: $modal-z-start + 2;
  }
  .modal-dialog {
    z-index: $modal-z-start + 3;
  }
}

// Mobile styles
@media (max-device-width: 600px) {
  .modal-container {
    .modal-dialog {
      width: 100%;
      left: 0;
      top: 0;
      font-size: 300%;
      @include prefixer("transform", "translate(0, 0)");
      .modal-close-button {
        display: none;
      }
    }
  }
}

// Instances of the modal dialog
add-card-dialog,
customize-card-dialog,
manage-lens-dialog {
  .controls {
    clear: both;
    margin-top: 1.5rem;
    .action-btn {
      float: right;
      margin-bottom: 0;
    }
  }
}

add-card-dialog,
customize-card-dialog {
  .customize-card-preview {
    border-radius: $rounded-corners-border-radius;
    margin: 1em 0;
    text-align: center;
    padding: 1px;
    position: relative;
    .card-spot {
      card {
        z-index: 1;
      }
    }
  }
  .customize-card-options {
    margin: 1rem 0;
    padding-left: 2rem;
    h3 {
      margin: 0 0 1rem 0;
    }
  }
}

// Add card dialog
add-card-dialog {
  .add-card-select-column {
    .column-selector {
      margin: 0 1em 0.4em 0;
    }
  }
  .customize-card-preview {
    .add-card-preview-placeholder {
      height: 300px;
      width: 100%;
      display: table;
      .placeholder-inner-text {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    .card-spot {
      .add-card-controls {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        z-index: 2;
        .card-control {
          font-size: $icon-size;
          font-weight: 400;
          cursor: pointer;
          white-space: nowrap;
          padding: 0.5rem;
          border-radius: $rounded-corners-border-radius;
          display: block;
          .icon-settings {
            margin-right: 0.2rem;
          }
        }
      }
    }
  }
  .customize-card-options {
    padding-top: 2.75rem;
  }
}

// Customize card dialog
customize-card-dialog {
  .customize-card-options {
    .configure-map-base-layer,
    .configure-histogram-bucket-type,
    .configure-flannel-title {
      margin-bottom: 1rem;
      .dropdown-container {
        soc-select {
          display: block;
        }
        .icon-warning {
          display: none;
        }
      }
      .dropdown-container.warning-dropdown {
        soc-select,
        .icon-warning {
          display: inline-block;
          vertical-align: top;
        }
        soc-select {
          width: 85%;
        }
        .icon-warning {
          width: 13%;
          line-height: 35px;
          font-size: 1.2rem;
          text-align: center;
        }
      }
      .option-help-text {
        font-size: 0.8rem;
        line-height: 1.1rem;
        margin-top: 1rem;
      }
      input {
        display: block;
        margin-top: 1rem;
        width: 100%;
      }
    }
  }
}

// Manage lens dialog
.manage-lens-dialogs {
  .modal-dialog {
    max-width: 45rem;
  }
}

manage-lens-dialog {
  section {
    label {
      display: inline-block;
      line-height: 29px;
      margin-right: 0.5rem;
    }
    .contents {
      .flavor-text {
        margin: 1rem 0;
        line-height: 1.5em;
        position: relative;
        .icon-info {
          font-size: 1.1rem;
        }
      }
    }
    soc-select select {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  section.provenance {
    margin-bottom: 2rem;
    input.view-provenance-checkbox {
      height: 0.8rem;
    }

    label.view-provenance-label {
      font-weight: bold;
    }
  }

  section.ownership {
    margin-bottom: 2rem;
    .ownership-input {
      outline: none;
      padding: 0.5rem 1rem;
      width: 15rem;
    }
    .icon-warning {
      display: inline-block;
      margin-left: 0.5rem;
    }
    .tool-panel.suggestion-tool-panel {
      display: block;
    }
    .tool-panel.suggestion-tool-panel .tool-panel-main {
      top: 20px;
    }
  }

  section.sharing {
    margin-bottom: 2rem;
    .shares {
      .share {
        margin-bottom: .75rem;
        .share-user {
          line-height: 29px;
          &.pending-removal {
            text-decoration: line-through;
          }
        }
        .share-remove-button {
          font-size: .75rem;
          margin-left: 1rem;
        }
      }
      .add-new-shares-prompt {
        position: relative;
        margin-bottom: 1rem;
        .icon-info {
          position: absolute;
          top: -1px;
          font-size: 1.2rem;
        }
        .message {
          padding-left: 1.5rem;
        }
      }
      .manage-lens-dialog-add-shares {
        margin-bottom: 1.5rem;
      }
    }
    .row.description {
      margin-bottom: 1rem;
    }
    .inherited-share {
      margin-bottom: .75rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .share-user {
      display: block;
      padding-right: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .controls {
    margin-top: 0;
    text-align: right;

    .unsaved-changes-message {
      display: inline-block;
      line-height: 35px;
      margin-right: 1em;
    }
  }
}

new-share-dialog {
  section {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    .new-share {
      margin-bottom: .75rem;
      &:last-child {
        margin-bottom: 0;
      }
      label {
        display: inline-block;
        line-height: 29px;
        margin-right: 0.5rem;
      }
      >div {
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
      input.email {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        margin-top: 1px;
        padding: 0.5rem 0.6rem;
        width: 12rem;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      soc-select select {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
    textarea.optional-message {
      overflow: auto;
      height: 5rem;
      padding: 0.5rem;
      box-sizing: border-box;
      resize: none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .done-button, .remove-button {
      float: right;
    }
    .done-button {
      font-size: 1rem;
    }
    .add-more-button, .remove-button {
      font-size: .75rem;
    }
  }
}

#save-visualization-as-dialog .modal-dialog {
  width: 40rem;

  .control-group {
    margin-bottom: 1rem;

    /**
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    contenteditable attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that are clearfixed.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    &:before,
    &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }

    &:after {
      clear: both;
    }

    label {
      display: inline-block;
      margin: 0.25em 0;
      font-weight: bold;
    }

    textarea {
      float: left;
      width: 19rem;
    }

    .save-as-official-view-description {
      margin-top: 0;
      margin-left: 1.66em;
    }
  }

  .form-control {
    width: 95%;
    display: inline;
  }

}

#save-as-description-guidelines {
  margin-left: 20rem;
  margin-top: 1rem;

  ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
  }
}
