@import dataCards/common/colors

body.state-view-card
  background-color: $card-bg-color

  .leaflet-control-zoom
    visibility: hidden
  .leaflet-tile
    @include prefixer(transition, "none !important")

  .column-chart
    .chart-scroll
      overflow: hidden
