@import dataCards/common/fonts

$head-color: #00BFFF
$head-label-color: white
$row-1: white
$row-2: #eee
$border-color: #ccc
$font-size: $medium-font-size
// If you change this you need to change it in the JS.
$row-height: 2rem

.card:not(.expanded) .table

  .table-inner
    display: none

.card.expanded

  .expand-message
    display: none

  .table
    border-radius: 4px
    border: 1px solid $border-color
    font-size: $font-size
    line-height: 0
    overflow: hidden

    .table-inner
      width: 100%
      height: 100%
      border-collapse: collapse
      overflow: hidden
      position: relative

      .table-body
        display: block
        position: relative
        overflow: auto
        background-color: $row-1

        .row-block
          position: absolute

        .cell
          border-right: 1px solid $border-color

          &:last-child
            border-right: none

        .table-row
          white-space: nowrap
          &:nth-child(even)
            background-color: $row-2

        .table-resize-container
          width: 100%
          height: 100%

          .cell
            position: relative
            overflow: visible
            height: 100%
            border: none
            margin-right: 1px

      .table-head
        display: inline-block
        position: relative
        background-color: $head-color
        color: $head-label-color
        white-space: nowrap
        height: $row-height
        min-width: 100%
        overflow: visible
        padding-right: 100px

        .th
          margin-right: -2px
          display: inline-block
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          position: relative
          padding-right: 13px

          .caret
            float: right
            margin-left: 5px
            cursor: pointer
            color: rgba($head-label-color, 0.5)

            &:before
              content: '▼'

            &.sortUp:before
              content: '▲'

          .resize
            right: 0

          &.active

            .caret
              color: $head-label-color

      .th, .cell
        font-weight: normal
        line-height: $row-height
        height: $row-height
        font-size: $font-size
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        text-align: left
        vertical-align: top
        display: inline-block
        padding: 0 10px
        border-right: 1px

        &.number
          text-align: right

        .resize
          display: inline-block
          width: 5px
          position: absolute
          right: -3px
          cursor: col-resize
          z-index: 1
          height: 100%

          &:hover, &:active
            background-color: $border-color

    .table-label
      height: $row-height
      line-height: $row-height
    .table-no-rows-message
      display: none
      content: 'No rows to display'
      position: absolute
      top: 50%
      text-align: center
      line-height: 0
      width: 100%
      pointer-events: none

