/* Used primarily for debugging within a testing environment */

.choropleth-map {
  min-width: 300px;
  min-height: 400px;
}

.legend {
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 5px;
  padding: 6px 8px;
  line-height: 18px;
  color: #555;
  width: 100%;
}

.legend i {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend .info-label {
  white-space: nowrap;
  text-align: left;
}

.table-body {
    overflow: auto;
}
