@import dataCards/common/fonts
@import dataCards/common/colors

$tick-height: 1rem
$tick-font-size: 0.75rem

$chart-padding-top: 10px
$chart-padding-bottom: 132px
$chart-tooltip-offset: 999px

$fill-opacity: 0.5

// Override cursor for dragging state.
.dragged g.segment
  cursor: grabbing
  cursor: -webkit-grabbing !important



.timeline-chart-wrapper
  cursor: pointer

.timeline-chart-wrapper.selecting
  cursor: col-resize

.timeline-chart-highlight-target
  display: block
  position: absolute
  top: 0
  z-index: 5

.timeline-chart-highlight-container
  position: absolute
  overflow: visible
  z-index: 4

  .timeline-chart-highlight
    fill: $timeline-highlight-fill
    stroke: $timeline-highlight-stroke

.selecting .timeline-chart-highlight-container
  display: none



.timeline-chart-selection
  position: absolute
  top: 0
  z-index: 3

  .selection
    fill: rgba(255,255,0,0.5)
    stroke: $timeline-highlight-stroke

.timeline-chart-left-selection-marker,
.timeline-chart-right-selection-marker
  display: none
  position: absolute
  top: 0
  width: 24px
  cursor: col-resize
  z-index: 8

  svg
    width: 24px
    height: 100%

    line
      stroke: #8a8686
      stroke-width: 2px
      stroke-dasharray: 7,3

    rect
      fill: transparent

    path
      stroke: #8a8686
      fill: #c0bbbb
      stroke-linejoin: round

.timeline-chart-left-selection-marker svg g
  transform: translate(11px, 0)

.timeline-chart-right-selection-marker svg g
  transform: translate(12px, 0)

.selecting .timeline-chart-left-selection-marker,
.selecting .timeline-chart-right-selection-marker,
.selected .timeline-chart-left-selection-marker,
.selected .timeline-chart-right-selection-marker
  display: block

.timeline-chart-clear-selection-button
  display: none
  position: absolute
  height: 100%
  font-weight: 800
  line-height: 30px
  text-align: center
  background-color: white
  z-index: 5

.selected .timeline-chart-clear-selection-button
  z-index: 7

.selecting .timeline-chart-clear-selection-button,
.selected .timeline-chart-clear-selection-button
  display: block

.timeline-chart-unfiltered-mask,
.timeline-chart-filtered-mask
  position: absolute
  top: 0
  z-index: 2

.timeline-chart-filtered-mask
  z-index: 3

.timeline-chart-unfiltered-visualization,
.timeline-chart-filtered-visualization
  position: absolute
  top: 0

  .context
    fill: $timeline-context-fill
    stroke: $timeline-context-stroke

  .shaded
    display: block
    fill: $timeline-shaded-fill
    stroke: $timeline-shaded-stroke

.x-ticks
  position: absolute
  bottom: 0
  z-index: 6

  .x-tick
    position: absolute
    top: -3px
    width: 4px
    height: 4px
    background-color: white

  .x-tick-label
    position: absolute
    height: 100%
    line-height: 30px
    text-align: center
    cursor: pointer

.selecting .x-tick-label,
.selected .x-tick-label
  opacity: 0.25


.y-ticks
  position: absolute
  top: 0
  z-index: 1

  .y-tick
    position: absolute
    width: 100%
    height: $tick-height
    margin-top: -$tick-height
    color: $chart-tick-color
    text-align: right    
    font-size: $tick-font-size
    border-bottom: 1px solid $chart-tick-color
