@import dataCards/common/fonts
@import dataCards/common/colors

$tick-height: 1rem
$tick-font-size: 0.75rem

$chart-padding-top: 10px
$chart-padding-bottom: 132px
$chart-tooltip-offset: 999px

$fill-opacity: 0.5

// Override cursor for dragging state.
.dragged g.segment
  cursor: grabbing
  cursor: -webkit-grabbing !important

.context
  fill: $timeline-context-fill
  stroke: $timeline-context-stroke

.shaded
  fill: $timeline-shaded-fill
  stroke: $timeline-shaded-stroke

.timeline-chart-highlight-container
  position: absolute
  overflow: visible

.timeline-chart-highlight-target
  position: absolute
  top: 0

.timeline-chart-highlight
  fill: $timeline-highlight-fill
  stroke: $timeline-highlight-stroke

.x-ticks
  position: absolute
  bottom: 0

  .x-tick
    position: absolute
    top: -3px
    width: 4px
    height: 4px
    background-color: white

  .x-tick-label
    position: absolute
    top: 4px
    text-align: center
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

    &.dimmed
      opacity: 0.5

.y-ticks
  position: absolute

  .y-tick
    position: absolute
    width: 100%
    height: $tick-height
    margin-top: -$tick-height
    color: $chart-tick-color
    text-align: right    
    font-size: $tick-font-size
    border-bottom: 1px solid $chart-tick-color
