// Styles for the standalone component/visualization/add page. Added for storyteller

body.state-view-visualizationAdd
  overflow-y: auto

  column-and-visualization-selector
    position: relative
    display: block

    .customize-card-options,
    .card-text
      display: none

    .add-card-select-column soc-select
      background-color: #888

    .add-card-preview
      position: relative
      height: 33vw
      color: #555
      background-color: transparent
      border: 1px dashed #999

      .placeholder-inner-text
        position: absolute
        width: 100%
        top: 50%
        transform: translate(0, -50%)
        text-align: center

      .card-spot
        height: 100%

        .card.preview
          height: 100%

          .card-visualization-wrapper
            height: 100% !important
