// Styles for the standalone component/visualization/add page. Added for storyteller

body.state-view-visualizationAdd {
  overflow-y: auto;
  column-and-visualization-selector {
    position: relative;
    display: block;
    .customize-card-options,
    .card-text {
      display: none;
    }
    .add-card-select-column soc-select {
      margin-bottom: 1rem;
      background-color: #ddd;
      select {
        color: #666;
      }
      .arrow {
        border-color: #666 transparent transparent transparent;
      }
    }
    .add-card-preview {
      position: relative;
      height: 44vw;
      color: #666;
      background-color: transparent;
      .add-card-preview-placeholder {
        width: 100%;
        height: 100%;
        border: 1px dashed #999;
        .placeholder-inner-text {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translate(0, -50%);
          text-align: center;
        }
      }
      .card-spot {
        height: 100%;
        .card.preview {
          height: 100%;
          .card-visualization-wrapper {
            height: 100% !important;
          }
        }
      }
    }
  }

  .add-card-controls {
    display: none;
  }
}
