// Styles for the standalone component/visualization/add page. Added for storyteller

body.state-view-visualizationAdd
  overflow-y: auto

  .customize-card-options,
  .card-text
    display: none

  .add-card-preview
    background-color: transparent
    border: none
    color: #555

    .placeholder-inner-text
      margin-top: 20px

  .add-card-select-column soc-select
    background-color: #888
