@import 'lib/variables';

/**
 * Settings panel
 */
#settings-panel-container {
  position: relative;
  z-index: $settings-panel-z-index;

  .btn-default,
  .btn-primary,
  .btn-alternate-2 {
    padding: 1rem;
  }

  .settings-panel {
    position: fixed;
    width: $settings-panel-width;
    height: 100%;
    left: -$settings-panel-width * 3/2;
    top: 0;
    padding: $settings-panel-padding-width / 2;
    color: $header-text-color;
    background-color: $header-bg-color;
    z-index: 2;
    overflow: auto;

    .close-side-panel-btn,
    .back-to-profile-btn {
      padding: 0.3em 0.8em;
      color: $settings-panel-close-font-color;
      line-height: $settings-panel-close-bar-height;
      text-align: left;
      text-decoration: none;
      box-sizing: border-box;
      border: none;
      cursor: pointer;

      &:focus,
      &:hover {
        color: white;
        outline: none;
      }
    }

    .close-side-panel-btn {
      position: absolute;
      width: 100%;
      right: 0;
      left: 0;
      top: 0;
      display: block;
      height: 2.7rem;
      background-color: #4a4747;
      text-align: right;
      transition: background-color 0.15s;

      &:hover {
        background-color: #333;
      }

      .close-panel-icon {
        float: right;
        font-size: 1.2rem;
        line-height: $settings-panel-close-bar-height;
      }
    }

    .back-to-profile-btn {
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 1;

      background-color: #565656;
      font-size: 1.2rem;

      .back-to-profile-icon {
        position: relative;
        top: 1px;
      }
    }

    hr {
      @include thin-hr();

      border-bottom: 1px solid $settings-panel-hr-color;
      margin: 1rem;
    }

    .settings-main-title {
      padding-top: 4rem;
      line-height: 4rem;
      font-size: 2rem;
      font-weight: lighter;
    }

    .menu-footer {
      text-align: center;
    }

    .settings-help-link {
      color: $header-text-color;
      font-weight: lighter;
      text-decoration: none;
    }

    .settings-save-failure-message {
      font-size: 1.5rem;
      margin-bottom: 1.2rem;
      display: none;
      text-align: center;

      &.active {
        display: block;
      }
    }
  }

  &.active .settings-panel {
    box-shadow: $content-panel-box-shadow-size 0 $content-panel-box-shadow-size $content-panel-box-shadow-color;
  }

  #settings-panel-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $modal-overlay-bg-color;
    opacity: 0;
    transition: opacity $transition-duration;
    pointer-events: none;
    z-index: $settings-panel-overlay-z-index;

    &.active {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .settings-panel-subtitle {
    margin-left: calc(20px + 2rem);
    margin-top: 0.125rem;
    font-style: italic;
    font-size: 1.25rem;
  }

  .menu-list {
    margin: 2rem -1.5rem;
    min-height: 80vh;
  }

  a:not([href]), a:not([href]):hover {
    color: $menu-list-item-header-disabled-color;
    cursor: not-allowed;
    line-height: normal;
    background: transparent;
  }
}

#settings-panel-story-metadata {
  input, textarea {
    width: 100%;
  }
}

.settings-panel-displaying,
.settings-panel-publishing {
  > h2 {
    font-size: 1.3rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: $settings-panel-light-gray-color;
  }

  .warning-bar {
    margin-bottom: 2rem;
  }
}

.settings-panel-displaying {
  form {
    *:first-child {
      margin-top: 0;
    }
  }

  textarea {
    resize: vertical;
    height: 8rem;
    padding: 8px;
  }

  .settings-save-btn {
    width: 100%;
  }
}

.settings-panel-story-visibility,
.settings-panel-story-status {
  box-sizing: border-box;
  padding: 1rem 0;

  &::after {
    content: '';
    display: table;
    clear: left;
  }

  h2, h3 {
    font-weight: lighter;
    font-size: 1.5rem;
  }

  h3 {
    margin-top: 0.25rem;
    font-size: 1.2rem;
    color: $settings-panel-visibility-status-state-color;
  }

  button {
    width: 100%;
  }
}

.settings-panel-story-visibility,
.settings-panel-story-status {
  > div {
    float: left;
    width: $settings-panel-publishing-label-width;

    & + div {
      width: 100% - $settings-panel-publishing-label-width;
    }
  }

}

.settings-panel-story-visibility {
  padding: 0 0 1rem 0;

  .approval-message {
    font-size: 1.2rem;
    padding-top: 1rem;
    color: $warning;
  }
}

.settings-panel-story-publishing-help-text {
  padding-top: 1rem;
  font-size: 1.15rem;
  color: $settings-panel-light-gray-color;
  line-height: 1.5rem;
  text-align: center;
}

.settings-panel-errors {
  margin: 2rem 1rem;
}

.settings-panel-error-message {
  margin-top: 0.25rem;
}

/**
 * IE 10 is the first version to stop responding to conditional
 * comment includes in HTML, so we need to resort to doubly-vile
 * hackery in order to accommodate IE 10's lack of support for
 * `pointer-events: none;`.
 *
 * Note that these rules will be applied to ALL versions of IE
 * up to but excluding 'Edge', which has deprecated these vendor
 * properties.
 *
 * See: https://philipnewcomer.net/2014/04/target-internet-explorer-10-11-css/
 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */

  #settings-panel-container {

    #settings-panel-overlay {
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }
  }
}
