@import "variables/colors";

.dropdown-container {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &.dropdown-opened {
    overflow: visible;
  }
}

.dropdown-invisible {
  visibility: hidden;
}

.dropdown-placeholder {
  position: relative;
  font-size: 15px;
  min-height: 15px;
  background: white;
  border: solid 1px $light-grey-1;
  cursor: default;
  user-select: none;
  transition: border-color 0.15s ease-in-out;
  padding: 10px;
  padding-right: 40px;
  color: $light-grey-1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 50;

  &:focus {
    outline: none;
  }

  &.dropdown-selected {
    color: $black;
  }

  .dropdown-focused & {
    border-color: $alternate-3;
  }

  .dropdown-disabled & {
    background: $light-grey-3;
    border-color: $light-grey-2;
    color: $light-grey-1;
    pointer-events: none;
  }
}

.dropdown-caret {
  position: absolute;
  width: 22px;
  font-size: 18px;
  right: 10px;
  top: 0;
  bottom: 0;
  z-index: 10;
  color: $light-grey-1;
  transition: color 0.15s ease-in-out;

  .dropdown-focused & {
    color: $alternate-3;
  }

  &::after {
    @extend .icon-arrow-down::before;

    margin-top: 12px;
    margin-left: 2px;
  }
}

.dropdown-options-list {
  position: fixed;
  z-index: 999;
}
