<% content_for :head do %>
  <%= stylesheet_link_tag "home-screen",
    :cache => "cache/all" %>
  <title>blist | share your weblists</title>
<% end %>



<div class="twoColumnContainer">
  <div id="mainColumnContent" class="column mainContent">
    <div id='home'>
      <%= render(:partial => "shared/tabs") %>
      <div class='outerContent'>
        <div class='contentHighlight'>
          <div class='content scrollContent'>
            <h1>Home</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column">
    <% render(:layout => "shared/sidebar_box") do %>
      <h2>blist User</h2>
    <% end %>
    <% render(:layout => "shared/sidebar_box",
      :locals => { :content_class => 'scrollContent' } ) do %>
      <h4>Updates</h4>
    <% end %>
    <% render(:layout => "shared/sidebar_box") do %>
      <h4>Storage</h4>
      <p>You are using 50% of your available storage</p>
    <% end %>
    <%= render(:partial => "shared/ad_box") %>
  </div>
  <div class='clearBoth'></div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
<% end %>
