<% content_for :head do %>
  <%= stylesheet_link_tag "home-screen",
    :cache => "cache/all" %>
  <title>blist | share your weblists</title>
<% end %>



<div id="mainContainer">
  <div id="mainContent" class="column">
    <div id='home'>
      <%= render(:partial => "shared/tabs") %>
      <div class='outerContent'>
        <div class='contentHighlight'>
          <div class='content mainScrollContent'>
            <h1>Home</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="column"></div>
  <div class='clearBoth'></div>
</div>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
<% end %>
