@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;

  .active {
    color: $dark-grey-1;

    a,
    a:visited,
    a:hover,
    a:active {
      color: $dark-grey-1;
    }
  }

  li {
    display: inline-block;
    color: $light-grey-2;
    font-weight: 600;
    font-size: 13pt;

    a,
    a:visited,
    a:hover,
    a:active {
      color: $light-grey-2;
      font-weight: 600;
    }

    a,
    a:visited {
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }
}
