<div class="gettingStartedPanel innerItem">
  <a href=<%= panel.link %>>
    <h6 class="gettingStartedRow gettingStartedTitle"><%= t(panel.title) %></h6>
  </a>
  <div class="gettingStartedRow gettingStartedDescription"><%= t(panel.description) %></div>
</div>
