@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.doImportButton {
  composes: btn from global;
  composes: btn-primary from global;
}

.modalContent {
  margin-top: 1em;
}

.modalContainer {
  max-width: 768px;
}

.urlButton {
  composes: btn from global;
  composes: btn-alternate-3 from global;
  display: inline-block;
  margin: 0px 4px;
}
