<%= modal :class => 'newTemplateModal' do %>
  <h2>Create a new Template</h2>

  <%= form_tag '/admin/sdp_templates', :method => 'post', :class => 'newTemplateForm commonForm' do %>
    <div class="line clearfix">
      <label for="newTemplateName">New Template Name</label>
      <input type="text" id="newTemplateName" name="new_template_name" class="required"/>
    </div>
    <ul class="submitActions clearfix">
      <li><a href="#cancel" class="jqmClose button">Cancel</a></li>
      <li><a href="#submit" class="submitButton default button">Submit</a></li>
    </ul>

    <%- if (defined? view_id) && !view_id.nil? -%>
      <input type="hidden" name="view_id" value="<%= view_id %>"/>
    <%- end -%>
  <% end %>
<%- end -%>
