<h1 class="padding">Crime in Evergreen from 2011 to 2014</h1>

<article class="intro-text">
  <p class="intro padding hidden">
    <span class="desc"></span>
    <span class="text-link">Show more</span>
  </p>
  <div class="all hidden">
    <div class="source-pill">Official</div>
    <p class="padding"><span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magni dolor veritatis saepe quis cum assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magni dolor veritatis saepe quis cum assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magni dolor veritatis saepe quis cum assumenda</span>
    <span class="text-link">Collapse details</span></p>
    <div class="meta-container">
      <div class="title-section padding">
        <h3 class="meta-title alpha">Source Dataset</h3>
        <h3 class="meta-title beta">Crime in Evergreen</h3>
      </div>
      <div class="padding">
        <div class="meta-desc">
          <p>All data powering this page is available for download and/or can be accessed via API from the desktop version of this site</p>
          <p class="meta-go-link">Tap here to go to the desktop version &raquo;</p>
        </div>
      </div>
    </div>
  </div>
</article>
