<div class="component-container">
  <article class="intro-text">
    <h5>Timeline Chart</h5>
    <p class="intro padding hidden">
      <span class="desc"></span>
      <span class="text-link">more</span>
    </p>
    <div class="all hidden">
      <p class="padding">
        <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magni dolor veritatis saepe quis cum assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magni dolor veritatis saepe quis cum assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis magni dolor veritatis saepe quis cum</span>
        <span class="text-link">less</span>
      </p>
    </div>
  </article>
  <div id="timeline-chart"></div>
</div>