<%= render :partial => 'mobile/datasets/mobile_navbar' %>
<div>

  <div class="container-fluid">
    <div id="column-chart"></div>
  </div>
  <!-- Dummy content to test scrollability -->
  <%= render :partial => 'mobile/datasets/mobile_meta' %>
  <section class="padding">
    <p>Architecto dolore dignissimos numquam deserunt adipisci veniam. Eos, quo facilis atque. Laboriosam modi, velit alias. Odit iure voluptatibus dignissimos corrupti veritatis dolores saepe veniam, eligendi, totam eum laudantium, atque laborum natus rem quibusdam temporibus praesentium unde, voluptas. Facere aperiam, ut beatae illo temporibus autem explicabo, tempora necessitatibus repellat nemo quod.</p>

    <p>Porro repudiandae officia magnam ratione accusamus et inventore fugit labore, aliquid facilis officiis nemo voluptatibus deleniti voluptas consequatur accusantium amet nulla adipisci quos laboriosam, delectus quisquam quas tempore alias pariatur. Deleniti iste nobis officia temporibus ullam cum quos molestiae. Porro sed facilis veritatis rem, iste beatae dolore cupiditate delectus quas!</p>

    <p>Perspiciatis voluptas omnis necessitatibus ut quaerat nesciunt voluptatum deleniti laudantium laboriosam esse accusantium aspernatur cumque facilis officiis vero enim, ipsum assumenda nihil commodi molestiae eaque? Quibusdam, libero. Unde assumenda non voluptates. Repellendus illum laudantium unde officiis ullam, ad quisquam maxime pariatur possimus repellat, omnis, temporibus blanditiis quas deleniti at eum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore est maiores quo ipsum fugiat vel, cum, veritatis alias assumenda eveniet qui cumque illo ea omnis facilis ratione, voluptas quibusdam tempora.</p>
  </section>

</div><!-- Upper area -->
