<%= render :partial => 'mobile/datasets/mobile_navbar' %>
<div>

  <div class="container-fluid">
    <div id="column-chart"></div>
  </div>
  <!-- Dummy content to test scrollability -->
  <%= render :partial => 'mobile/datasets/mobile_meta' %>
  <%= render :partial => 'mobile/datasets/mobile_feature_map' %>

</div><!-- Upper area -->
