@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.container {
  background-color: $light-grey-7;
  padding: 1em;
  font-size: 1rem;
  min-height: 385px;

  form > * {
    margin-bottom: 0.4em;
  }

  form {
    button {
      min-width: 95px;
    }
  }
}

.container h2 {
  width: 90%;
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: 0.3em;
}
.imageContainer,
.textContainer {
  height: 100%;
  min-height: 385px;
  display: inline-block;
  vertical-align: top;
}

.image {
  width: 75%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.imageContainer {
  width: 33.3%;
  position: relative;
}

.textContainer {
  width: 66.6%;
  position: relative;

  .content {
    padding-left: 1em;
    max-width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .uploadButton {
      padding: 11px 33px;
    }
  }

  h2 {
    width: 100%;
    margin-bottom: 0;
  }

  .browseMsg {
    font-size: 1.1em;
  }

  .fileTypes {
    color: $dark-grey-1;
  }
}

.doImportButton {
  composes: btn from global;
  composes: btn-primary from global;
}

.errorMessage {
  color: $error-text;
  font-size: 0.8em;
}

.content > * {
  margin-bottom: 0.4em;
}
