<ul id="<%= elem_id %>" class="facetList clearfix">
  <%- facet_values.each do |facet_value| -%>
    <li><a href="/facet/<%= target_facet %>/<%= CGI.escape facet_value %>">
      <%= facet_value %>
    </a></li>
  <%- end -%>
</ul>
