<div id="<%= widget.elem_id %>" class="pager clearfix">
  <span><%= widget.properties.label %></span>
  <%= create_pagination widget.binding.result_count, widget.binding.properties.searchOptions.limit, widget.current_page, '', '', widget.binding.properties.paramGroup.nil? ? 'page' : "#{widget.binding.properties.paramGroup}[page]" %>
</div>
