<% content_for :head do %>
<title><%= @page.name %></title>
<%= rendered_stylesheet_tag 'components' %>
<% end %>

<%= raw @page.render %>

<%- content_for :js_footer do -%>
  <%= render :partial => 'canvas_js', :locals => { :page => @page, :template => nil } %>
<%- end -%>
