header#chrome-header[template="default"] {
  font-family: $font_family, 'Open Sans', Helvetica, Arial, 'sans-serif';

  .banner {
    color: $header_fg_color;
    background-color: $header_bg_color;
    line-height: 60px;
    font-size: 18px;
    padding: 0 1rem;
    min-height: 60px;

    > a.logo {
      float: left;
      text-decoration: none;
      color: $header_fg_color;

      > img {
        height: 28px;
        vertical-align: middle;
        margin-right: 0.5rem;
      }

      > span.site-name {
        font-weight: 300;
      }
    }

    > nav {
      font-size: 15px;
      font-weight: 300;
      float: right;

      &.desktop {
        a.nav-link {
          display: inline-block;
          padding: 0 $text_padding;
          color: $header_fg_color;
          text-decoration: none;
          &:hover, &:focus, &:active {
            text-decoration: underline;
          }

          &.social-link {
            padding: 0 5px;
          }
        }

        .nav-links, .social-links {
          float: left;
        }

        a.sign-in-toggle {
          font-size: 12px;
          margin-left: $text_padding;
        }
        a.profile-link, a.admin-link, a.logout-link {
          padding: 0 $text_padding;
          //color: $header_fg_color;
          text-decoration: none;
          &:hover, &:focus, &:active {
            text-decoration: underline;
          }
        }

        span.divider {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: -2px;
          margin: 0 $text_padding;
          padding: 14px 0;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
        }
      }

      &.mobile {
        .menu-toggle {
          font-size: 12px;
        }
      }

      @include desktop {
        &.desktop { display: block; }
        &.mobile { display: none; }
      }
      @include mobile-med {
        &.desktop { display: none; }
        &.mobile { display: block; }
      }
    }
  }
}
