// Set Basic Theme vars
@import 'breakpoint';
@import '../lib/variables';
@import 'includes/font-definitions';

// Modular Scale Ratios --
// Used for grid and typography. Setting type dimensions using these scales improves balance of the typographic design.
$ms-ratio-1: 1.333;
$ms-ratio-2: 1.44;
$ms-ratio-3: 1.54;
$ms-ratio-4: 1.618;

// Base Typesize. Used as base calculation for modular scale.
$base-type-size: 1em;
$base-line-height: $ms-ratio-3;

// Import type tools --
// Modular Scale: http://www.modularscale.com/  & https://github.com/modularscale/modularscale-sass
// Breakpoint: https://github.com/at-import/breakpoint
// Type-Heading: https://github.com/ellioseven/type-heading


// Modular Scale settings
$ms-base: $base-type-size;
$ms-ratio: $ms-ratio-1, $ms-ratio-2, $ms-ratio-3;


// Standard (mobile, tablet, and small device) type sie.
$std-type-size: 1.1em;
$std-line-height: $ms-ratio-2;


// Large Screeen Typesize.
$lg-type-size: 1.2em;
$lg-line-height: $ms-ratio-4;


//Colors // Need to scrub and rework
$default-type-color: #252525;
$heading-type-color: #252525;
$quiet-type-color: #ccc;


$link-color: green;
$link-hover: darken($link-color, 12%);
$link-hover: darken($link-color, 12%);


// END Theme Settings //

html[class*="theme-"] {
  // There is an extra amount of space that
  // we have yet to account for in our JavaScript height
  // calculations. In the meantime, overflow is going to be
  // hidden.
  overflow: hidden;
}

body {
  margin: 0;

  &.hero-body * {
    text-shadow: 0 0 10px $hero-text-shadow-color;
  }

  // Overcome a Squire quirk that dissociates underline color from text color.
  // See also RichTextEditorFormatController.
  u span.colour, a span.colour {
    text-decoration: underline;
  }
}


// Import each theme, scoped by a theme class, applied to the body via javascript
.theme-classic {
  @import 'theme-classic';
}

.theme-sans {
  @import 'theme-sans';
}

.theme-serif {
  @import 'theme-serif';
}

.theme-slab {
  @import 'theme-slab';
}
