@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.nav {
  margin: 1em 0em 1em 0em;
  border-bottom: 1px solid $light-grey-4;
}

// !important necessary to override global styles
.navBtn {
  composes: btn from global;
  composes: chooser-btn from global;
  background-color: $light-grey-7;
  text-transform: uppercase;
  padding: 0.25em 0em !important;
  margin: 0em 2em;
}

.navBtnEnabled {
  composes: navBtn;
  composes: enabled from global;
  border-bottom: 3px solid $alternate-2-base !important;
}

.navBtn:focus {
  outline: 0;
}

.sidebar {
  width: 24em;
  border-left: 1px solid $light-grey-4;
  text-align: center;
}
