@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.sidebar {
  width: 24em;
  border-left: 1px solid $light-grey-4;
  .header-cont {
    margin: 1em 0em 1em 0em;
    h2 {
      margin: 0;
      padding: 0.2em 0.8em;
    }
  }
}
