@import '../../common.scss';

$model-content-color: #696a6a;
$divider-color: #e8eaeb;

.alert-setting-modal {
  color: $model-content-color;
  text-align: left;

  .modal-header h5.modal-header-title {
    font-size: 20px;
    font-weight: normal;
  }

  .alert-setting-modal-content {
    max-height: calc(100vh - 190px) !important;

    .user-preferences-error-message-wrapper {
      div {
        padding: 20px;
        text-align: center;
      }
    }

    .user-preferences-loading-wrapper {
      min-height: 110px;
      position: relative;
    }

    table {
      width: 100%;

      & :global(.column-description) {
        text-align: center;
      }

      & :global(th.column-description) {
        min-width: 160px;
      }

      & :global(th.column-type) {
        min-width: 220px;
      }

      tr {
        padding: 10px 0px;
        border-bottom: 1px solid $divider-color;

        th {
          font-weight: bold;
          font-size: 14px;
          padding: 5px 5px 5px 0px;

        }

        th:first-child,
        td:first-child {
          padding-left: 0px;
        }

        td {
          padding: 10px 0px;
          vertical-align: middle;

          .preference-name {
            font-size: 14px;
          }

          .preference-description {
            font-size: 12px;
          }

          .preference-types {
            font-size: 12px;
            position: relative;
            padding: 4px 0px;

            label {
              display: block;
              margin: 0 5px 5px 0;
            }
          }

          .email-option {
            font-size: 12px;

            input[type=checkbox],
            span {
              vertical-align: middle;
            }

            input[type=checkbox] {
              height: 15px;
              margin: 0 5px 0 0;
              width: 15px;
            }
          }
        }
      }
    }
  }

  .cancel-button {
    @extend .btn;
    @extend .btn-default;
  }

  .save-button {
    @extend .btn;
    @extend .btn-primary;
  }

  .cancel-button,
  .save-button {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    padding: 5px 10px;
    text-align: center;
    width: 70px;
  }

  .button-groups {
    margin-left: 12px;
    margin-top: -4px !important;
    &:after {
      content: "";
      clear: both;
      display: table;
    }

    button {
      background-color: #fff;
      border: 1px solid #f2f2f2;
      border-radius: 0px;
      color: #696a6a;
      padding: 7px 3px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
      cursor: pointer;
      float: left;
      font-size: 12px;

      &:not(:last-child) {
        border-right: none;
      }

      &:hover {
        background-color: #288dc1;
        color: #fff;
      }

      &.selected {
        background-color: #288dc1;
        color: #fff;
      }
    }
  }

  .settings-table {
    thead{
      tr th{
        font-size: 14px;
        font-weight: bold;
      }
    }
    .option-column {
       width: 54%;
    }
  }
}
