.catalog-landing-page-header {
  overflow: hidden;

  h1 {
    font-size: 20pt;
    font-weight: normal;
    color: $dark-grey-3;
    margin-bottom: 0;

    display: flex;
  }

  .management-button-anchor {
    display: inline-flex;
  }

  .no-headline .management-button {
    margin-left: 0;
  }

  .management-button {
    align-self: center;
    margin-left: 10px;
    padding: 3px;
    font-size: 13px;
    cursor: pointer;

    .hoverText {
      display: none;
    }

    @include desktop {
      &:hover {
        padding-right: 9px;
        font-size: 13px;

        i {
          font-size: 15px;
          margin-right: 4px;
        }

        .hoverText {
          display: inline;
        }
      }
    }

    i {
      font-size: 15px;
    }

    .throbber-icon {
      @include throbber-icon;
      position: relative;
      top: 2px;
      left: 7px;
      content: '';
      display: none;
      float: right;
      margin-right: 9px;
      border: 2px solid #eaf4f9;
      border-right-color: #2279a6;
    }
  }
}
