{
  "globals": {
    "describe": true,
    "it": true,
    "sinon": true,
    "assert": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "xdescribe": true,
    "xit": true,
    "expect": true // Deprecated, but many tests still use it.
  }
}
