$metadata-bg-color: #fff
$panel-bg-color: #394047
$panel-border-color: #4f5f73
$cards-bg-color: #4d5969
$card-bg-color: #fff
$card-title-expanded-bg-color: #ddd

$btn-border-color: #bad9e6
$btn-bg-color: #f0f5f7

$white-font-color: #f0edee
$dark-grey-font-color: #646464
$lt-grey-font-color-alpha: 0.5
$lt-grey-font-color-rgba: rgba(0, 0, 0, $lt-grey-font-color-alpha)
/* rgba version used for manipulating font color while card description is expanded */
$lt-grey-font-color: #8F8F8F
$aqua-font-color: #68b0cc
$link-font-color: #68b0cc
$link-visited-font-color: #68b0cc
$active-filter-color: #888
$header-font-color: #68b0cc
$description-font-color: #666364
$expand-button-color: $lt-grey-font-color-rgba
$unfiltered-region-bg-color-1: #d6d4d5 // grey
$filtered-region-bg-color-1: #68b0cc // blue
$filtered-region-bg-color-2: #debb1f // gold
$filtered-region-bg-color-3: #de851f // orange or dark gold
$y-axis-color: #f0edee

$chart-tick-color: #BBB
$chart-description-color: darken($chart-tick-color, 30)
$unfiltered-bar-color: $unfiltered-region-bg-color-1
$neutral-bar-color: #67aecc // aqua
$filtered-bar-color: $filtered-region-bg-color-1
$selected-bar-color: $filtered-region-bg-color-2
$tooltip-border-color: #333
$tooltip-name-color: #333
$tooltip-value-color: #888
$tooltip-background-color: #F0F0F0
