//TODO These are horribly unorganized... :(

// Buttons

$btn-bg-color: #f0f5f7
$btn-border-color: #bad9e6
$btn-hover-bg-color: #67aecc
$btn-hover-border-color: #67aecc
$btn-hover-font-color: #ffffff
$btn-disabled-bg-color: #f9f7f8
$btn-disabled-border-color: #e9e6e7
$btn-disabled-font-color: #c6c1bf
$btn-touched-bg-color: #67aecc
$btn-touched-border-color: #67aecc
$btn-touched-font-color: #ffffff

$dark-btn-bg-color: #3f4752
$dark-btn-border-color: #67aecc
$dark-btn-font-color: #67aecc
$dark-btn-hover-bg-color: #67aecc
$dark-btn-hover-border-color: #67aecc
$dark-btn-hover-font-color: #ffffff
$dark-btn-touched-bg-color: #67aecc
$dark-btn-touched-border-color: #67aecc
$dark-btn-touched-font-color: #ffffff

// General page layout

$metadata-bg-color: #fff
$metadata-border-color: #d7d4d4
$logo-background-color: #3f4752
$panel-bg-color: #394047
$panel-border-color: #4f5f73

$white-font-color: #f0edee
$dark-grey-font-color: #646464
$lt-grey-font-color-alpha: 0.5
$lt-grey-font-color-rgba: rgba(0, 0, 0, $lt-grey-font-color-alpha)
/* rgba version used for manipulating font color while card description is expanded */
$lt-grey-font-color: #8F8F8F
$aqua-font-color: #68b0cc
$link-font-color: #68b0cc
$link-visited-font-color: #68b0cc
$active-filter-color: #888
$header-font-color: #68b0cc
$description-font-color: #666364
$expand-button-color: $lt-grey-font-color-rgba
$unfiltered-region-bg-color-1: #d6d4d5 // grey
$filtered-region-bg-color-1: #68b0cc // blue
$filtered-region-bg-color-2: #debb1f // gold
$filtered-region-bg-color-3: #de851f // orange or dark gold
$y-axis-color: #f0edee

// dataset-metadata colors
$dataset-metadata-bg-color: white
$dataset-metadata-fg-color: white
$dataset-metadata-box-color: #4d5967
$dataset-metadata-box-link-color: #ddd

// view-cards colors
$view-cards-bg-color: #4d5969
$card-bg-color: #fff
$card-title-expanded-bg-color: #ddd

$chart-tick-color: #BBB
$chart-description-color: darken($chart-tick-color, 30)
$unfiltered-bar-color: $unfiltered-region-bg-color-1
$unfiltered-value-color: #888
$neutral-bar-color: #67aecc // aqua
$filtered-bar-color: $filtered-region-bg-color-1
$selected-bar-color: $filtered-region-bg-color-2
$tooltip-border-color: #333
$tooltip-name-color: #333
$tooltip-value-color: #888
$tooltip-background-color: #F0F0F0

// API panel

$api-panel-bg-color: #4d5968
$api-panel-border-color: #3f4752
$api-panel-white-font-color: #ffffff
$api-panel-black-font-color: #000000
$api-panel-url-textarea-bg-color: #ffffff

// Timeline chart

$neutral-line-color: $neutral-bar-color
$neutral-line-color-hover: lighten($neutral-bar-color, 10%)
$filtered-line-color: $filtered-bar-color
$filtered-line-color-hover: lighten($filtered-bar-color, 10%)
$unfiltered-line-color: $unfiltered-bar-color
$unfiltered-line-color-hover: lighten($unfiltered-bar-color, 10%)
$selected-line-color: $selected-bar-color
$selected-line-color-hover: lighten($selected-bar-color, 10%)
$timeline-label-color: $chart-tick-color
$timeline-label-color-active: darken($chart-tick-color, 20%)

// Table card

$table-head-bg-color: $aqua-font-color
$table-head-color: $white-font-color
$table-row-odd-color: white
$table-row-even-color: #f0f5f8
$table-border-color: #f0eeef
$table-seperator-color: $table-border-color

// Flyout

$flyout-chart-background-color: #f1eeee
$flyout-chart-title-color: #676464
$flyout-chart-text-color: #8a8686
$flyout-chart-text-size: 14px
$flyout-chart-tip-size: 10px
$flyout-border: #ccc

$draghandle-border: #8a8686
$draghandle-line-color: $draghandle-border
$draghandle-fill: #c0bbbb

//Form
$form-error-border-color: #e83e3e

// Tool panel

$tool-panel-bg-color: #4d5968
$tool-panel-border-color: #3f4752
$tool-panel-white-font-color: #ffffff
$tool-panel-black-font-color: #000000
$tool-panel-url-textarea-bg-color: #ffffff

