$rounded-corners-border-radius: 3px

$header-logo-padding: 7px 30px

// card sizes
$card-margins: 5px
$card-padding: 15px 15px 10px 15px
$card-border-width: 2px
$card-title-line-height: 1rem
$card-description-padding-bottom: 1rem

$card-input-vertical-padding: 8px
