@import '../../common.scss';

:global(.site-chrome-small) {
  .notification-panel {
    height: calc(100% - #{$headerHeightSmall} - #{$footerBarHeight});
  }
}

.notification-panel {
  background-color: #31363d;
  height: calc(100% - #{$headerBarHeight} - #{$footerBarHeight});
  padding: 2px 0 5px;
}

.notification-filters {
  height: 32px;
  list-style: none;
  margin: 0 0 2px;
  padding: 0;
  overflow: hidden;

  .tab {
    float: left;
    height: 30px;
    text-align: center;
    width: calc((100% - 2px) / 3);

    &:not(:last-child) {
      margin-right: 1px;
    }

    button {
      background-color: #424a52;
      border: 0 none;
      border-radius: 0;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 11px;
      height: 30px;
      text-decoration: none;
      text-transform: capitalize;
      width: 100%;

      .type-indicator {
        background-color: #999;
        border-radius: 5px;
        display: inline-block;
        height: 10px;
        margin: 4px 5px 4px 0;
        text-align: left;
        vertical-align: top;
        width: 10px;

        &.status-dot {
          background-color: #2d74fa;
          background-image: linear-gradient(
            to right,
            #2d74fa,
            #2d74fa 50%,
            #00b790 50%
          );
        }

        &.alert-dot {
          background-color: #ff6544;
        }
      }

      &:hover,
      &:focus,
      &.selected {
        background-color: #31363d;
      }
    }
  }
}

.notification-items-wrapper {
  height: calc(100% - 32px);
  padding: 0 5px;
  overflow-x: hidden;
  overflow-y: auto;

  &.has-secondary-panel {
    height: calc(100% - 62px);
  }
}

.notification-items {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
