<h3 class="styleguide-subheader">Alerts</h3>



<h4 class="h6 styleguide-subheader">Info</h4>
<%= partial "components/code_sample", locals: {
  component: "components/alert",
  partial_locals: {
    type: "info",
    text: "<b>Info.</b> Here's some great info for you, sir."
  }
} %>
