<div class="container">
  <div class="row sample-grid">
    <div class="col-4 color-group">
      <%= partial "components/swatch" , :locals => { :color => 'blue' } %>
    </div>
    <div class="col-4 color-group">
      <%= partial "components/swatch" , :locals => { :color => 'yellow' } %>
    </div>
    <div class="col-4 color-group">
      <%= partial "components/swatch" , :locals => { :color => 'green' } %>
    </div>
    <div class="col-4 color-group">
      <%= partial "components/swatch" , :locals => { :color => 'gray' } %>
    </div>
  </div>
</div>
