<h3 class="styleguide-subheader">Select Menus</h3>
<h4 class="h6">Dropdown</h4>
<%= partial "components/code_sample", locals: {
  component: "components/forms/dropdown",
  partial_locals: {
    title: "Gender",
    options: ["An option!", "Another option!!", "A really, really, really long option!!!"]
  }
} %>

<h4 class="h6">Dropup</h4>

<%= partial "components/code_sample", locals: {
  component: "components/forms/dropup",
  partial_locals: {
    title: "Gender",
    options: ["An option!", "Another option!!", "A really, really, really long option!!!"]
  }
} %>
