<button class="btn btn-primary" data-flannel="generic-flannel" data-toggle>Open Flannel</button>
<%= partial 'components/flannel' %>
<%= partial 'components/code_sample', locals: { component: 'components/flannel' } %>
