<button class="btn btn-secondary" data-flyout="generic-flyout">Hover for a Flyout</button>
<%= partial "components/flyout" %>
<%= partial "components/code_sample", locals: { component: "components/flyout" } %>
