<h3>Form Fields </h3>
<form>
	<div>
		<%= partial "components/forms/textfield", locals: { placeholder_text: "Example Text"} %>	
	</div>
	<div>
		<%= partial "components/forms/textarea", locals: { placeholder_text: "Example Paragraph"} %>
	</div>
</form>