
<h2 class="h6"><span class="icon-eye"></span> Con Font</h2>

<ul class="blockgrid">
	<li class="icon-sample"><span class="icon-copy-document"></span></li>
	<li class="icon-sample"><span class="icon-add-collaborator"></span></li>
	<li class="icon-sample"><span class="icon-eye"></span></li>
	<li class="icon-sample"><span class="icon-eye-blocked"></span></li>
	<li class="icon-sample"><span class="icon-arrow-next"></span></li>
	<li class="icon-sample"><span class="icon-arrow-prev"></span></li>
	<li class="icon-sample"><span class="icon-presentation"></span></li>
	<li class="icon-sample"><span class="icon-plus3"></span></li>
	<li class="icon-sample"><span class="icon-checkmark3"></span></li>
	<li class="icon-sample"><span class="icon-preview"></span></li>
	<li class="icon-sample"><span class="icon-move"></span></li>
	<li class="icon-sample"><span class="icon-clear-formatting"></span></li>
	<li class="icon-sample"><span class="icon-undo"></span></li>
	<li class="icon-sample"><span class="icon-redo"></span></li>
	<li class="icon-sample"><span class="icon-quotes-left"></span></li>
	<li class="icon-sample"><span class="icon-cog"></span></li>
	<li class="icon-sample"><span class="icon-list-numbered"></span></li>
	<li class="icon-sample"><span class="icon-list2"></span></li>
	<li class="icon-sample"><span class="icon-link"></span></li>
	<li class="icon-sample"><span class="icon-plus2"></span></li>
	<li class="icon-sample"><span class="icon-cross2"></span></li>
	<li class="icon-sample"><span class="icon-bold2"></span></li>
	<li class="icon-sample"><span class="icon-italic2"></span></li>
	<li class="icon-sample"><span class="icon-paragraph-left3"></span></li>
	<li class="icon-sample"><span class="icon-paragraph-center3"></span></li>
	<li class="icon-sample"><span class="icon-paragraph-right3"></span></li>
	<li class="icon-sample"><span class="icon-warning"></span></li>
	<li class="icon-sample"><span class="icon-stories-menu"></span></li>
	<li class="icon-sample"><span class="icon-stories-icon"></span></li>
	<li class="icon-sample"><span class="icon-check-2"></span></li>
	<li class="icon-sample"><span class="icon-number"></span></li>
	<li class="icon-sample"><span class="icon-dataset"></span></li>
	<li class="icon-sample"><span class="icon-cards"></span></li>
	<li class="icon-sample"><span class="icon-bar-chart"></span></li>
	<li class="icon-sample"><span class="icon-table"></span></li>
	<li class="icon-sample"><span class="icon-line-chart"></span></li>
	<li class="icon-sample"><span class="icon-region"></span></li>
	<li class="icon-sample"><span class="icon-map"></span></li>
	<li class="icon-sample"><span class="icon-chart"></span></li>
	<li class="icon-sample"><span class="icon-search"></span></li>
	<li class="icon-sample"><span class="icon-expand"></span></li>
	<li class="icon-sample"><span class="icon-collapse"></span></li>
	<li class="icon-sample"><span class="icon-settings"></span></li>
	<li class="icon-sample"><span class="icon-chevron-up"></span></li>
	<li class="icon-sample"><span class="icon-chevron-down"></span></li>
	<li class="icon-sample"><span class="icon-close"></span></li>
	<li class="icon-sample"><span class="icon-filter"></span></li>
	<li class="icon-sample"><span class="icon-warning2"></span></li>
	<li class="icon-sample"><span class="icon-geo"></span></li>
	<li class="icon-sample"><span class="icon-link2"></span></li>
	<li class="icon-sample"><span class="icon-edit"></span></li>
	<li class="icon-sample"><span class="icon-distribution"></span></li>
	<li class="icon-sample"><span class="icon-story"></span></li>
	<li class="icon-sample"><span class="icon-add"></span></li>
	<li class="icon-sample"><span class="icon-info"></span></li>
	<li class="icon-sample"><span class="icon-check"></span></li>
	<li class="icon-sample"><span class="icon-arrow-down"></span></li>
	<li class="icon-sample"><span class="icon-arrow-left"></span></li>
	<li class="icon-sample"><span class="icon-arrow-right"></span></li>
	<li class="icon-sample"><span class="icon-arrow-up"></span></li>
	<li class="icon-sample"><span class="icon-close-2"></span></li>
	<li class="icon-sample"><span class="icon-data"></span></li>
	<li class="icon-sample"><span class="icon-external"></span></li>
	<li class="icon-sample"><span class="icon-linked"></span></li>
	<li class="icon-sample"><span class="icon-official"></span></li>
	<li class="icon-sample"><span class="icon-tag"></span></li>
	<li class="icon-sample"><span class="icon-puzzle"></span></li>
	<li class="icon-sample"><span class="icon-close-circle"></span></li>
</ul>

<pre class="usage">
<code class="language-markup">
<%= escape_html('<span class="icon-close-circle"></span>') %>
</code>
</pre>
