<ul>
  <li>This is</li>
  <li>an absolutely fantastic</li>
  <li>list!</li>
  <li>This is a nested list!
    <ul>
      <li>I'm nested!</li>
      <li>I'm also nested.</li>
    </ul>
  </li>
  <li>We're still going.</li>
</ul>
<ol>
  <li>This is one more</li>
  <li>simply, absolutely fantastic</li>
  <li>This is a nested ordered list!
    <ol>
      <li>I'm nested!</li>
      <li>I'm also nested.</li>
      <li>More nests!
        <ol>
          <li>I'm über nested.</li>
          <li>What that ^ &lt;li&gt; said.</li>
        </ol>
      </li>
    </ol>
  </li>
  <li>We're still going.</li>
</ol>
