<ul>
  <li>This is</li>
  <li>an absolutely fantastic</li>
  <li>list!</li>
  <li>This is a nested list!
    <ul>
      <li>I'm nested!</li>
      <li>I'm also nested.</li>
    </ul>
  </li>
  <li>We're still going.</li>
</ul>
