<h3 class="styleguide-subheader">Menu Anchored to the left side</h3>
<button class="btn btn-default" data-menu-toggle="menu-1" data-toggle>Open Left Menu</button>
<%= partial "components/offscreen-menu", :locals => { :id => "menu-1", :anchor => "left", :menu_header_title => "Hello, I'm Menu One." } %>
<%= partial "components/code_sample", locals: { component: "components/offscreen-menu", :partial_locals => {:id => "menu-1", :anchor => "left", :menu_header_title => "Hello, I'm Menu One." }} %>

<h3 class="styleguide-subheader">Menu Anchored to the right side</h3>
<button class="btn btn-default" data-menu-toggle="menu-2" data-toggle>Open Right Menu</button>
<%= partial "components/offscreen-menu", :locals => { :id => "menu-2", :anchor => "right", :menu_header_title => "Hello, I\"m Menu Two." } %>
<%= partial "components/code_sample", locals: { component: "components/offscreen-menu", :partial_locals => {:id => "menu-2", :anchor => "right", :menu_header_title => "Hello, I'm Menu Two." }} %>

