<div class="button-wrapper">
  <button class="btn btn-default btn-block" data-modal="generic-modal">Open Modal</button>
</div>

<%= partial "components/code_sample", locals: { component: "components/modal" } %>
