<h3>Basic Spinning Loader</h3>
<p class="usage">Used in the context of loading screens where the spinner is placed in-line with a heading, centered in a staging area, or within a button.</p>

<h4 class="h6">Default</h4>
<%= partial "components/spinner" %>

<h4 class="h6">In a Button</h4>
<%= partial "components/buttons/button_primary_block_spinner" %>
