<h3 class="styleguide-subheader">Category Tags</h3>
<%= partial "components/tag_category", locals: { text: "Dinosaurs" } %>
<%= partial "components/tag_category", locals: { text: "From" } %>
<%= partial "components/tag_category", locals: { text: "Space" } %>

<h3 class="styleguide-subheader">Primary Tags</h3>
<%= partial "components/tag_official", locals: { text: "Official View" } %>
