<h4 class="h6">Heading Styles</h4>
<%= partial "components/code_sample", locals: { component: "examples/typography_headings" } %>

<p class="usage">Each heading style is also provided as a class, so that you can visually style headings as you like, while maintaining a good document hierarchy. For example, you can set an <code>h6</code> with a class of <code>.h2</code>.</p>

<h4 class="h6">Intro Copy</h4>
<%= partial "components/code_sample", locals: { component: "examples/typography_intro" } %>

<h4 class="h6">Paragraphs</h4>
<%= partial "components/code_sample", locals: { component: "examples/typography_paragraph" } %>
<%= partial "components/code_sample", locals: { component: "examples/typography_small" } %>