<h2>Slider with a single value selection</h2>
<%= partial "code_sample", locals: { component: "components/skeletons/slider" } %>

<h2>Slider with a range value selection</h2>
<%= partial "code_sample", locals: { component: "components/skeletons/slider_with_range_value" } %>
