<div class="responsive-navbar">
  <img src="../../images/evergreen.png" />
  <span>City of Evergreen</span>
  <div class="responsive-navbar-nav">
    <a href="<%= link %>" class="btn btn-default btn-inverse"><%= link_text %></a>
  </div>
</div>