@import '../../common.scss';

.transient-notifications-list {
  list-style: none;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 280px;

  * {
    box-sizing: border-box;
  }
}
