@import '../../common.module.scss';
$viewOlderLinksHeight: $footerBarHeight;

.socrata-user-notification-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-notifications-message {
  padding: 80px 25px 20px;
  text-align: center;

  h3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.543;
    margin: 0;
  }
}

.see-new-user-notifications-link-wrapper,
.load-more-user-notifications-link-wrapper {
  height: $viewOlderLinksHeight;
  text-align: center;

  .see-new-user-notifications-link,
  .load-more-user-notifications-link {
    border: 0 none;
    cursor: pointer;
    height: 30px;
  }
}

.notifications-loading {
  padding: 5px 0;

  .notifications-loading-text {
    color: $view-older-notifications-link-color;
    display: inline-block;
    font-size: 13px;
    line-height: 19px;
    margin-left: 5px;
    vertical-align: top;
  }
}

.see-new-user-notifications-link-wrapper {
  left: 0;
  padding: 8px 15px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  .see-new-user-notifications-link {
    background: $see-new-user-notifications-link-background-color;
    border-radius: 15px;
    color: $see-new-user-notifications-link-text-color;
    display: inline-block;
    font-size: 12px;
    max-width: 100%;
    overflow: hidden;
    padding: 5px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &:focus {
      background: $see-new-user-notifications-link-hover-background-color;
    }
  }
}

.load-more-user-notifications-link-wrapper {
  padding: 8px 0;

  .load-more-user-notifications-link {
    background-color: transparent;
    color: $view-older-notifications-link-color;
    font-size: 13px;
    padding: 5px 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
