@import '../../common.module.scss';

.notification-item {
  background-color: $notification-item-background-color;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  overflow: hidden;
  padding: 10px 10px 10px 16px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  &.transient {
    background-color: $transient-notification-background-color;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    padding: 8px;
    pointer-events: none;
    position: relative;
    right: -50%;
    transition: all 0.3s;

    &:first-child,
    &:nth-child(2) {
      opacity: 1;
      pointer-events: auto;
      right: 0;
    }

    &:before {
      border-radius: 0;
      bottom: 8px;
      height: auto;
      left: 47px;
      top: 8px;
    }

    & :global(.socrata-icon-logo-ring) {
      color: $primary;
      fill: $primary;
    }

    & :global(.socrata-icon-logo-pie) {
      color: $alternate-1;
      fill: $alternate-1;
    }

    & :global(.socrata-icon-logo-color) {
      float: left;
      height: 28px;
      margin-top: 8px;
      width: 28px;

      & svg {
        height: 28px;
        width: 28px;
      }

      &:before {
        display: none;
      }
    }

    .notification-wrapper {
      background-color: $notification-item-background-color;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      float: right;
      padding: 5px 5px 5px 11px;
      width: calc(100% - 39px);

      .notification-info {
        text-align: left;
      }
    }
  }

  &.status {
    &:before {
      background-color: $status-notification-indicator-background-color;
    }
  }

  &.alert {
    &:before {
      background-color: $alert-notification-indicator-background-color;
    }
  }

  &:before {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 6px;
  }

  &:not(.unread) {
    .title {
      strong {
        font-weight: 200;
      }
    }

    & :global(:not(.socrata-icon-logo-color).socrata-icon-checkmark3) {
      color: $checkmark-read-state-color;
      fill: $checkmark-read-state-color;

      & svg {
        &,
        * {
          color: $checkmark-read-state-color;
          fill: $checkmark-read-state-color;
        }
      }
    }
  }

  & :global(:not(.socrata-icon-logo-color).socrata-icon) {
    color: $checkmark-un-read-state-color;
    fill: $checkmark-un-read-state-color;
    height: 14px;
    width: 14px;

    & svg {
      height: 14px;
      width: 14px;

      &,
      * {
        color: $checkmark-un-read-state-color;
        fill: $checkmark-un-read-state-color;
      }
    }

    &:before {
      display: none;
    }
  }
}

.notification-info {
  float: left;
  width: calc(100% - 45px);
  white-space: normal;
}

.actions-wrapper {
  float: right;
}

.link-icon {
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
}

.notification-actions {
  display: inline-block;
  vertical-align: top;
  width: 80px;
}

.title {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  strong {
    color: $notification-title-text-color;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;

    em {
      color: $alert-notification-indicator-label-color;
      font-style: normal;
      font-weight: 400;
      margin-right: 5px;
      text-transform: uppercase;
    }
  }

  span {
    color: $notification-link-color;
    display: block;
    font-size: 12px;
    font-weight: normal;
  }
}

.timestamp {
  font-size: 10px;
  margin: 5px 0 0;
  position: relative;

  span {
    color: $notification-item-text-color;
    margin-right: 3px;
  }

  .user-name,
  a {
    color: $notification-link-color;
    text-decoration: none;
  }
}
