@import '../../common.scss';
$viewOlderLinksHeight: $footerBarHeight;

.socrata-user-notification-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-notifications-message {
  padding: 80px 25px 20px;
  text-align: center;

  h3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.543;
    margin: 0;
  }
}

.load-more-user-notifications-link-wrapper {
  height: $viewOlderLinksHeight;
  padding: 8px 0;
  text-align: center;

  .load-more-user-notifications-link {
    background-color: transparent;
    border: 0 none;
    color: $view-older-notifications-link-color;
    cursor: pointer;
    font-size: 13px;
    height: 30px;
    padding: 5px 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:visited {
      color: $view-older-notifications-link-color;
    }
  }
}
