@import '../../common.scss';

.notification-item {
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  overflow: hidden;
  padding: 10px 10px 10px 16px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  &.status {
    &:before {
      background-color: #00bf9d;
    }
  }

  &.alert {
    &:before {
      background-color: #ff7258;
    }
  }

  &:before {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 6px;
  }

  &:not(.unread) {
    .title {
      strong {
        font-weight: 200;
      }
    }

    & :global(.socrata-icon-checkmark3) {
      color: #cdcdcd;
      fill: #cdcdcd;

      & svg {
        &,
        * {
          color: #cdcdcd;
          fill: #cdcdcd;
        }
      }
    }
  }

  & :global(.socrata-icon) {
    color: #676767;
    fill: #676767;
    height: 14px;
    width: 14px;

    & svg {
      height: 14px;
      width: 14px;

      &,
      * {
        color: #676767;
        fill: #676767;
      }
    }

    &:before {
      display: none;
    }
  }
}

.notification-info {
  float: left;
  width: calc(100% - 45px);
  white-space: normal;
}

.actions-wrapper {
  float: right;
}

.link-icon {
  display: inline-block;
  margin-left: 5px;
}

.notification-actions {
  display: inline-block;
  vertical-align: top;
  width: 80px;
}

.title {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  strong {
    color: #363636;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;

    em {
      color: #ff7258;
      font-style: normal;
      font-weight: 400;
      margin-right: 5px;
      text-transform: uppercase;
    }
  }

  span {
    color: #259ac7;
    display: block;
    font-size: 12px;
    font-weight: normal;
  }
}

.timestamp {
  font-size: 10px;
  margin: 5px 0 0;
  position: relative;

  span {
    color: #696869;
    margin-right: 3px;
  }

  .user-name,
  a {
    color: #259ac7;
    text-decoration: none;
  }
}
