@import 'react-datepicker';

.date-range-picker {
  display: flex;
  justify-content: space-between;
  padding-left: 1px;
  padding-right: 5px;

  .date-range-picker-start,
  .date-range-picker-end {
    position: relative;

    .date-picker-input {
      height: 40px;
      max-width: 145px;
      padding-left: 31px;
      padding-right: 10px;
    }

    .socrata-icon {
      position: absolute;
      z-index: 1;
      width: 15px;
      height: 15px;
      left: 11px;
      top: 11px;
    }
  }

  .range-separator {
    line-height: 3.5;
  }

  .react-datepicker-popper {
    z-index: 51; 
  }
}

// EN-16294: Override sizes, because rem units depend on the root element, not parent.
.react-datepicker__day-name, .react-datepicker__day {
  width: 39px;
  line-height: 27px;
  font-size: 12px;
}

.react-datepicker__current-month {
  font-size: 15px;
}
