<div>
  <div class="dropdown btn btn-default" data-orientation="top" data-dropdown>
    <span><%= title %></span><span class="icon-arrow-up"></span>
    <ul class="dropdown-options">
      <% options.each do |option| %>
        <li><a href="#"><%= option %></a></li>
      <% end %>
    </ul>
  </div>
</div>
