<div id="fullscreen-modal" class="modal modal-full modal-overlay modal-hidden" data-modal-dismiss>
  <div class="modal-container">
    <header class="modal-header">
      <h1 class="modal-header-title">Hello, World!</h1>
      <button class="btn btn-transparent modal-header-dismiss" data-modal-dismiss>
        <span class="icon-close-2"></span>
      </button>
    </header>

    <section class="modal-content">
      <h1>I am full screen.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed erat lobortis, volutpat erat nec, molestie nisi. Nullam porta, ipsum sit amet accumsan ornare, odio nisi pellentesque risus, ac pharetra sapien nunc a libero. Quisque vel ornare metus, dapibus sagittis lectus. Nam sollicitudin elit ut nisl ullamcorper sodales a et ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tortor nunc, aliquet a blandit eu, mollis id dui. Curabitur pellentesque enim sed metus bibendum ultrices. Donec eget enim et diam hendrerit blandit. Morbi fermentum, nunc ut auctor efficitur, est tellus cursus lacus, vel pellentesque est erat sed lacus. Phasellus bibendum molestie luctus. Quisque interdum mauris id enim efficitur pretium. Praesent dolor ipsum, lobortis vitae efficitur ac, volutpat id magna. Integer ut tincidunt quam, ut pharetra massa. Etiam finibus aliquet nisi eget aliquam.</p>
      <p>Integer convallis, augue vitae lobortis maximus, erat risus pellentesque nisl, sed ullamcorper tortor velit at tortor. In vulputate arcu sit amet erat pharetra efficitur. Sed vel turpis mollis, gravida massa ut, efficitur turpis. Donec vel cursus neque, sed ultrices neque. Etiam auctor blandit rutrum. Phasellus aliquet mauris ex, ac condimentum orci gravida eu. Pellentesque non lectus feugiat, sodales leo sed, auctor erat. Nam molestie risus quam, eu maximus sem vulputate in. In et aliquam risus. Morbi egestas blandit libero, sit amet volutpat mi sodales id. In pretium porta venenatis.</p>
      <p>Phasellus lobortis varius urna sed fringilla. Curabitur pellentesque fermentum laoreet. Phasellus mattis mollis justo, eu lacinia ipsum pretium sit amet. Curabitur nisl metus, interdum et urna condimentum, suscipit sagittis velit. Nulla vitae fringilla ligula, vel mattis risus. Proin maximus purus at elit hendrerit lobortis eget id sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Pellentesque vitae suscipit neque. Nullam efficitur diam ut ullamcorper mollis. Suspendisse tincidunt iaculis augue, non volutpat mauris efficitur ut. Aenean risus ipsum, porta nec sagittis at, vestibulum ut elit. Aenean gravida magna nunc. Sed at ante dolor.</p>
      <p>Etiam pulvinar risus in augue volutpat dapibus. In eleifend leo in est convallis ultricies. Praesent in faucibus tellus. Aenean felis magna, viverra quis feugiat a, vestibulum id neque. Praesent et suscipit risus. Integer in vehicula neque, ac posuere enim. Praesent hendrerit et nulla ut finibus. Nullam tincidunt, sapien ac vulputate vestibulum, tortor tellus condimentum ligula, a aliquet arcu leo quis enim. Curabitur eget tincidunt risus. Curabitur pharetra justo arcu, sit amet tempus est vulputate ut. Nullam libero nisi, placerat vel aliquam sit amet, egestas non metus. Donec rhoncus rutrum risus, ac facilisis turpis pretium eu. Praesent bibendum, orci nec pharetra semper, libero lacus fermentum turpis, ut dictum odio magna ac orci. Integer eleifend justo at nisl lobortis scelerisque. Sed laoreet odio sapien, ac blandit felis porttitor sed.</p>
      <p>Mauris congue mauris id augue eleifend fringilla. Nunc consectetur, nibh eu consectetur varius, est lacus aliquam orci, maximus fringilla orci sem ut turpis. Donec elit nunc, viverra ut justo eu, vehicula pharetra lorem. Etiam rutrum magna a nulla imperdiet ornare. Proin nec est nec est ultricies faucibus in ac ligula. In rutrum urna quis neque eleifend, quis iaculis ligula pellentesque. Maecenas convallis massa a ipsum vestibulum ultricies. Etiam vestibulum ipsum id condimentum scelerisque.</p>
    </section>

    <footer class="modal-footer">
      <div class="modal-footer-actions">
        <button class="btn btn-default" data-modal-dismiss>Cancel</button>
        <button class="btn btn-primary" data-modal-dismiss>OK</button>
      </div>
    </footer>
  </div>
</div>
