@import 'lib/variables';
@import 'notification';
@import 'filter-bar-corrections';

.component-socrata-visualization-map {
  .component-content {
    position: relative;
    width: 100%;
    height: 100%;

    @include filter-bar-corrections;
  }

  @include notification;
}
