@import 'lib/variables';
@import 'filter-bar-corrections';

.component-socrata-visualization-timeline-chart {
  .component-content {
    position: relative;
    width: 100%;
    height: 100%;

    @include filter-bar-corrections;
  }
}
