@import 'lib/variables';
@import 'filter-bar-corrections';

.component-socrata-visualization-combo-chart {
  .component-content {
    position: relative;
    width: 100%;
    height: 100%;

    @include filter-bar-corrections;
  }

  /**
   * Temporarily override hover styles in order to not imply interactivity.
   */

  .bar-group {
    cursor: default !important;

    &:hover {
      .bar.unfiltered,
      .bar.filtered {
        cursor: default !important;
      }
    }
  }

  .labels .label .contents {
    cursor: default !important;
  }
}
