@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.label {
  composes: block-label from global;
}

.labelRequired {
  composes: label;

  &::after {
    content: "*";
    color: $alternate-1-base;
    padding: 0.25em;
    font-size: 14px;
  }
}

.errorMessage {
  color: $error-text;
}

.errorList {
  list-style-type: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  margin-bottom: 0.8em;
}
