@import 'app/styles/styleguide-colors';

.icon {
  color: $dark-grey-1;
  margin: 0 0.4em;
}

.setupAutomation {
  :global {
    .modal-container {
      max-width: 800px !important;
    }
  }
  ol {
    li {
      margin-bottom: 1em;
    }
  }
}

.codeWindow {
  position: relative;
  pre {
    margin: 0px;
  }
}
.copyBtn {
  composes: btn btn-primary btn-xs from global;
  position: absolute;
  right: 0px;
  top: 0px;
  // border-top-right: 0px !important;
  // border-top-left: 0px !important;
  // border-bottom-right: 0px !important;
  border-radius: 0px 0px 0px 2px !important;

  svg {
    fill: $white;
    margin: 0px 0px 0px 8px;
  }
}




:global {
  /* Base16 Atelier Savanna Dark - Theme */
  /* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/savanna) */
  /* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

  /* Atelier-Savanna Comment */
  .hljs-comment,
  .hljs-quote {
    color: #78877d;
  }

  /* Atelier-Savanna Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #b16139;
  }

  /* Atelier-Savanna Orange */
  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #9f713c;
  }

  /* Atelier-Savanna Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #489963;
  }

  /* Atelier-Savanna Blue */
  .hljs-title,
  .hljs-section {
    color: #478c90;
  }

  /* Atelier-Savanna Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    color: #55859b;
  }

  .hljs-deletion,
  .hljs-addition {
    color: #171c19;
    display: inline-block;
    width: 100%;
  }

  .hljs-deletion {
    background-color: #b16139;
  }

  .hljs-addition {
    background-color: #489963;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    background: #171c19;
    color: #87928a;
    padding: 0.5em;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}
