@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

// WRAPPER
.resultCard {
    background-color: $white;
    border: 1px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    margin-bottom: 15px;
    clear: both;
}

// GENERAL SCHEMA
.tableInfo {
  text-align: center;
  padding: 4em 0em;
  margin: 0px auto;
  max-width: 64em;
  height: 543px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.tableInfo p {
  color: $dark-grey-1;
  margin: 0em 0em 1em 0em;
}

.previewAreaHeader {
  font-style: italic;
  color: $dark-grey-1;
  font-size: 17px;
}

.homeContainer {
  h2 {
    font-weight: 500;
    padding: 11px 0;
  }

  flex-grow: 1;
  margin: 0;
  display: flex;
  background-color: $light-grey-7;
}

.homeContent {
  overflow: auto;
  flex: 1;
}

// NO DATA
.fileTypes {
  padding-top: 15px;
}

.sourceButton {
  composes: btn from global;
  composes: btn-primary from global;
}

// OUPUT SCHEMA
.reviewBtn {
  composes: btn from global;
  composes: btn-sm from global;
  composes: btn-alternate-2 from global;
  margin: 0em 0em 1em 0em;
}

// UPSERT PREVIEW
.manageDataLink {
  float: right;
  margin-top: 7px;
}

.manageDataBtn {
  composes: btn from global;
  composes: btn-sm from global;
  composes: btn-alternate-2 from global;
}

// TABLE CONTAINER
.header {
  float: left;
  font-weight: 500;
  padding: 11px 0;
}

.tableContainer {
  padding: 1em;

  input[type=file] {
    display: none;
  }
}

// INFO PANE
.infoPaneContainer {
  :global {
    .info-pane .container {
      max-width: none;

      .entry-main {
        border: none;
      }
    }

    .info-pane.result-card {
      border-right: none;
    }

    .entry-content {
      display: flex;

      .entry-main {
        flex-grow: 5;
      }

      .entry-meta {
        flex-grow: 3;
      }
    }
  }
}

// METADATA
.metadataContainer {
  :global {
    .metadata-table-wrapper {
      padding: 1em;
      .landing-page-section {
        padding: 0;
      }
    }
  }
}

// SCHEMA PREVIEW
.schemaPreviewContainer {
  h2 {
    float: left;
  }

  composes: container from global;


  :global {
    .schema-preview h2 {
      float: left;
    }

    .section-content {
      clear: both;
    }
  }
}
