@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

#app {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: column;

  .modal-header {
    z-index: 1;
  }
}

#app.no-chrome-header {
  margin-top: 32px;
}

.dataset-download-section .section-content {
  border: 1px $light-grey-4 solid;
  border-bottom-width: 2px;
  display: flex;
  align-items: flex-start;
}

.container .landing-page-section .section-content {
  background: $white;
  border: 1px $light-grey-4 solid;
  border-bottom-width: 2px;
  display: flex;
  align-items: flex-start;
}

// TODO: Move below into styleguide!
.modal {
  z-index: 10000; // Site-chrome uses 9999 for its header.
}

.modal-full {
  .modal-content {
    flex-grow: 1;
    margin: 0;
  }

  .modal-footer {
    position: static;

    label,
    button {
      min-width: 120px;
      margin-left: 12px;
      line-height: 1.25;
      text-align: center;
    }
  }
}

.btn-default {
  &.btn-disabled-light {
    background-color: $light-grey-6;
    color: $light-grey-3;
    border-color: $light-grey-4;
  }
}

button.btn-menu {
  cursor: default !important;
}

a {
  cursor: pointer;
}
