###############################################################################
# NOTES ON THE USE OF THIS FILE
#
# Defining a new config value
# --------------------------------------------------
# New config values must be declared in frontend/lib/app_config.rb
# If they're going to be supplied as environment variables in a Docker container,
# also add them to frontend/docker/config.yml.j2
#
# Apps deployed by chef
# --------------------------------------------------
# As of the time of this writing, the only environments in which the frontend
# is deployed by chef is Sea1 (prod) and Azure (RC). In those environments:
#
# RC: RC is dockerized, so set these configurations in `webapp.docker.env_vars`
#     in metachef/environments/azure-rc.json, which looks like this:
#
#      "webapp": {
#      "docker": {
#        "tag": "release.2016.06.28.0948_1955_b3a30811",
#        "env_vars": {
#          "AIRBRAKE_ENVIRONNMENT_NAME": "azure-rc",
#
# Prod Sea1: If the release will be of the dockerized variety, set these configurations
#     in the same place as RC in metachef/environments/production.json.
#     Otherwise, set them directly under `webapp`.
#
# The way this file works in a cheffed environment is thus:
# 1. metachef will run chef on all nodes every 20 minutes
# 2. chef will write its version of this file to /etc/config.yml
# 3. UPON DEPLOY, frontend will copy /etc/config.yml into config/config.yml
# 4. frontend starts up, reading its config/config.yml
#
# Apps deployed via marathon
# --------------------------------------------------
# As with any other application, set these in apps-marathon/params/<env>/frontend.toml
# and make sure the necessary logic to set them exists in docker/config.yml.j2
#
# General Notes
# --------------------------------------------------
# Attributes that you wish to add to the "default" section below should be
# added under the "default_attributes" hash key in the appropriate JSON file
# mentioned above.
#
###############################################################################

default: &default
  # service hosts/ports/names et simil
  cetera_host: 'http://localhost:5704'
  coreservice_uri: http://localhost:8080
  kafka_rest_uri: 'http://localhost:8082'
  polaroid_hostname: polaroid.app.marathon.aws-us-west-2-prod.socrata.net
  polaroid_port: 13379
  secondary_group_identifier: 'spandex'
  statsd_enabled: false
  zk_hosts: 'localhost:2181'
  sitemap_s3_url: 'https://localhost.amazonaws.com/bucket_dne/sitemaps'

  # internal app tokens
  app_token: U29jcmF0YS0td2VraWNrYXNz0
  data_cards_app_token: 'zvQamMSTi4GNuZWWDwjLdLPhW'

  # third-party app tokens
  opendata_ga_tracking_code: UA-52982454-21
  standard_ga_tracking_code: UA-51039907-4
  userzoom:
    cuid: 'C95E515772DAE311BEDA0022196C4538'

  # auth alternatives
  rpx_facebook_url: https://socrata-test.rpxnow.com/facebook/start
  rpx_googleplus_url: https://socrata-test.rpxnow.com/googleplus/start
  rpx_signin_url: https://socrata-test.rpxnow.com/openid/v2/signin
  rpx_twitter_url: https://socrata-test.rpxnow.com/twitter/start
  rpx_windowslive_url: https://socrata-test.rpxnow.com/liveid/start

  # data lens behaviors
  enable_png_download_ui: true
  enable_search_suggestions: true
  feature_map_disable_pan_zoom: false
  feature_map_features_per_tile: 50000
  feature_map_zoom_debounce: 500
  odux_enable_feature_map: true
  shape_file_region_query_limit: 5000

  # other behaviors
  canary: false
  whats_new:
    article_count: 3
    zendesk_link: 'https://support.socrata.com/hc/en-us/sections/203977877-Check-out-the-Latest'
    zendesk_section: 203977877

  # number of days that can pass until a deleted dataset can't be restored
  restore_dataset_days: 5

# Local development
development: &development
  <<: *default
  # service hosts/ports/names et simil
  cetera_host: 'http://api.us.socrata.com/api'
  curated_region_job_queue_hostname: localhost
  curated_region_job_queue_port: 2030
  http_port: 9292
  import_status_service_hostname: localhost
  import_status_service_port: 8082
  metrics_dir: tmp/metriclogs
  polaroid_hostname: localhost
  polaroid_port: 1337
  ssl_port: 443
  sitemap_s3_url: 'https://localhost.amazonaws.com/bucket_dne/sitemaps'

  # third-party app tokens
  mixpanel_token: 59b0b54697603105463834afdf20accf
  recaptcha_2_site_key: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
  recaptcha_2_secret_token: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
  google_maps_site_key: AIzaSyBGFHOk32Yq_Rk9g14EIsAkVFkTARtsuC4

  # auth alternatives
  esri_crawler_hostname: localhost
  esri_crawler_port: 8888
  auth0_id: w59XZV0YDqx7us3GFHnHncXrAzFWkCnG
  auth0_jwt: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJKQmdZMlROdWJrNTlNbEkwTXl2N3Uzb0VLcGFDbVdDSCIsInNjb3BlcyI6eyJjb25uZWN0aW9ucyI6eyJhY3Rpb25zIjpbInJlYWQiXX19LCJpYXQiOjE0MzQzODY4MDgsImp0aSI6ImE3NmU5YTBmZDMzY2M4YTBiN2NlM2FjODM0Mjk3MWI5In0.tcDv8lxJVf0-f6fKBfRnj5ab4F5PerGDIP-6sHtSGIk
  auth0_secret: rbmrUAUiWZqp3aADhu1aWGy6tp15jKefajxO6qYndAZ6djmF80V2kD_m-ajpS3uI
  auth0_uri: socrata.auth0.com

# Running unit tests; NOT test-socrata.com
test:
  <<: *default
  # service hosts/ports/names et simil
  metrics_dir: tmp/metriclogs
  sitemap_s3_url: 'https://test.amazonaws.com/bucket_dne/sitemaps'

  # auth alternatives
  auth0_uri: exists
  auth0_id: exists
  auth0_secret: exists

# test-socrata.com
staging:
  <<: *default
  # service hosts/ports/names et simil
  sitemap_s3_url: 'https://s3-us-west-2.amazonaws.com/sa-socrata-sitemaps-us-west-2-staging/sitemaps'
  # third-party app tokens
  mixpanel_token: ce548d5c95f7671fadd0174cc067dc69

# rc-socrata.com
rc:
  <<: *default
  # service hosts/ports/names et simil
  sitemap_s3_url: 'https://s3-us-west-2.amazonaws.com/sa-socrata-sitemaps-us-west-2-rc/sitemaps'
  # third-party app tokens
  mixpanel_token: ce548d5c95f7671fadd0174cc067dc69

# fedramp-test.socrata.com
fedramp-prod:
  <<: *default
  # service hosts/ports/names et simil
  sitemap_s3_url: 'https://s3-us-west-1.amazonaws.com/sa-socrata-sitemaps-us-west-1-prod/sitemaps'
  # third-party app tokens
  mixpanel_token: ce548d5c95f7671fadd0174cc067dc69

# eu-west-test.socrata.com
eu-prod:
  <<: *default
  # service hosts/ports/names et simil
  sitemap_s3_url: 'https://s3-eu-west-1.amazonaws.com/sa-socrata-sitemaps-eu-west-1-prod/sitemaps'
  # third-party app tokens
  mixpanel_token: ce548d5c95f7671fadd0174cc067dc69

# www.socrata.com
production:
  <<: *default
  # service hosts/ports/names et simil
  coreservice_uri: http://lb-vip.sea1.socrata.com:8081
  sitemap_s3_url: 'https://s3-us-west-2.amazonaws.com/sa-socrata-sitemaps-us-west-2-prod/sitemaps'

  # third-party app tokens
  mixpanel_token: 1d804068e1d3694468823f3c7f74567d

  # auth alternatives
  rpx_facebook_url: https://socrata.rpxnow.com/facebook/start
  rpx_googleplus_url: https://socrata.rpxnow.com/googleplus/start
  rpx_twitter_url: https://socrata.rpxnow.com/twitter/start
  rpx_signin_url: https://socrata.rpxnow.com/openid/v2/signin
  rpx_windowslive_url: https://socrata.rpxnow.com/liveid/start
