###
#
# Flag key name is the key.
#
# Description should also explain the expected values. This is messaging for client services.
# Possible values should not have spaces.
# `expectedValues` are delimited by space.
#   Because I don't like YAML arrays, and it enforces simple values.
# `category` is a UI convenience. it is the full string.
# `disableTrueFalse` indicates that true/false are invalid values.
#   If `expectedValues` is undefined, this setting is ignored.
#
# This is truth. Anything not in this list gets ignored.
#

allow_data_lens_owner_change:
  description: Controls whether ownership of data lenses can be transferred away from the creator.
  defaultValue: true
  category: data lens
auth0_social:
  description: Show auth0 social sign-on buttons
  defaultValue: false
bubble:
  description: D3 Bubble Charts
  defaultValue: old
  expectedValues: nextgen old
cetera_profile_search:
  description: Use the shiny new Cetera backend search service to power the profile page.
  defaultValue: false
cetera_search:
  description: Use the shiny new Cetera backend search service AND the new catalog (aka browse2). NOTE — this flag's value is being forcibly set to false in the spatial lens admin layer picker; do not remove this flag until this aspect of dataset search has been accounted for in Cetera.
  defaultValue: true
create_v2_data_lens:
  description: Newly created data lenses are stored as v2 metadata in metadb.
  defaultValue: true
current_page_metadata_version:
  description: The current version of page metadata that the app should read and write.
  defaultValue: 1
data_lens_transition_state:
  description: The transition state tracking when and how Data Lenses should be surfaced in the old UX (e.g. on browse, profile and admin pages).
  defaultValue: post_beta
  disableTrueFalse: true
  expectedValues: pre_beta beta post_beta
debug_assets:
  description: Switch over to using unpackaged Javascript files.
  defaultValue: false
debug_labjs:
  description: Turn on debugging in the lazy-loader that old UX uses so that we can see problems.
  defaultValue: false
debug_data_lens:
  description: expose useful debugging information (data source, etc) for data lens pages
  defaultValue: false
  category: data lens
display_dataset_landing_page_notice:
  description: Display the notice informing site admins that the page they are seeing will soon be replaced by the dataset landing page.
  defaultValue: false
display_dataset_landing_page_preview_images:
  description: Display view preview images in view widgets on Dataset Landing Page
  defaultValue: false
  category: data lens
enable_dataset_landing_page_tour:
  description: Display the tour when visitors first access a dataset landing page.
  defaultValue: true
enable_flexible_data_lens:
  description: Enables Flexible Data Lens
  defaultValue: false
  category: data lens
enable_ingress_geometry_types:
  description: 'Add the types: point, multipoint, line, multiline, polygon, multipolygon. This flag only functions when `ingress_strategy` is delta-importer or nbe.'
  defaultValue: false
  category: obe deprecation
disable_legacy_types:
  description: 'According to CORE-5097, the disabled types are: Formatted Text, Email, Website URL, Date & Time (with timezone), Star, Phone, Multiple Choice, Photo (Image), Document, and Dataset Link.'
  defaultValue: false
  category: obe deprecation
disable_obe_redirection:
  description: When clicking on an NBE dataset, you are no longer redirected to the OBE dataset.
  defaultValue: false
disable_nbe_redirection_warning_message:
  description: When clicking to an NBE dataset, you no longer see a "You would be redirected to" message.
  defaultValue: false
embetter_analytics_page:
  description: Incremental improvements to site analytics page
  defaultValue: false
embetter_analytics_browser_views_only:
  description: Just the embettered browser page views rather than "views"
  defaultValue: false
enable_api_foundry_pane:
  description: Will allow the api_foundry pane to be displayed. If there is another reason for the api_foundry pane to be hidden, it will still be hidden.
  defaultValue: false
enable_data_lens_page_metadata_migrations:
  description: Lazily migrate data lens page metadata schemas on each request.
  defaultValue: true
enable_data_lens_provenance:
  description: Ability to set data lens views to "Official" or not.
  defaultValue: true
enable_catalog_connector:
  description: Turn on the 'Connectors' admin page to create catalog entries for datasets from external sources, like ArcGIS online.
  defaultValue: true
enable_embed_widget_for_nbe:
  description: Enable embed widget for NBE datasets.
  defaultValue: false
  category: obe deprecation
enable_feedback:
  description: Include third-party feedback widgets.
  defaultValue: true
enable_opendata_ga_tracking:
  description: Controls behavior of Socrata internal Google Analytics. If true or left blank, GA is enabled with a default Socrata-wide token. If a custom value is provided, GA is enabled with the custom GA token. If false, Socrata GA is disabled. NOTE - if enable_standard_ga_tracking is true, it will override any value that this is set to with a default standard ga tracking code specified in the config.
enable_pulse:
  description: Enable the Pulse application, including catalog link.
  category: pulse
  defaultValue: false
enable_standard_ga_tracking:
  description: If enabled, uses a standard Socrata GA code (same across all domains) defined in the config for tracking. It will also cause any custom GA tokens defined in "enable_opendata_ga_tracking" to be ignored.
  defaultValue: false
stories_enabled:
  description: Enable the Storyteller application.
  category: storyteller
  defaultValue: false
stories_show_facet_in_catalog:
  description: Show the Stories facet in the catalog.
  category: storyteller
  defaultValue: false
enable_new_account_verification_email:
  description: When enabled, causes new accounts to receive an email with verification link that must be validated before account can be used.
  defaultValue: false
feature_map_default_extent:
  description: "The site-wide default extent for feature/point maps. Should be a single-quoted JSON object. Ex: '{\"southwest\":[41.681944,-87.827778],\"northeast\":[42.081944,-87.427778]}'"
  defaultValue: ''
govstat_progress_settings:
  description: Allows overriding of goal progress.
  defaultValue: true
hide_interpolated_nulls:
  description: "Ref: SI-5927, if set to true, will hide interpolated nulls in DSG bar charts."
  defaultValue: false
  category: testing bug fix
include_sr_in_esri:
  description: ESRI-only; stop using SRs in the export URL.
  defaultValue: false
ingress_reenter:
  description: Changes the order and allows re-entrancy to the import wizard
  defaultValue: false
ingress_strategy:
  description: When performing import operations, such as via the wizard or append/replace, this determines the endpoint to use. If `obe`, it will use the existing endpoint. If `nbe`, it will be set `nbe=true` on relevant calls. If `delta-importer`, it will use the Delta Importer Javascript port.
  defaultValue: obe
  disableTrueFalse: true
  expectedValues: obe nbe delta-importer
  category: obe deprecation
internal_panel_redesign:
  description: Redesign the UX for the Internal Panel so that useful actions are more exposed and scary options are more discouraged.
  defaultValue: all
  expectedValues: none config domain all
kill_esri_reprojection_and_pass_different_webm:
  description: 'Special magic for Iowa, whose ArcGIS server appears to hate EPSG:900913 and projected maps'
  defaultValue: false
kill_snowflake_map_projections:
  description: Use the modern web mercator projection code instead of three different, deprecated projection codes.
  defaultValue: false
nbe_bucket_size:
  description: Bucket-ize the fetching of rows when hitting NBE. Defaults to 1000 unless explicitly set to another value. This is also the page size on Old UX grid view.
  defaultValue: true
notify_import_result:
  description: Enable 'notify me' button during data set import. Button will register an email interest for the user and trigger an email to be sent once dataset import is completed.
  defaultValue: false
open_performance_enable_goal_management_admin_pane:
  description: Enable the 'Goal Management' link in the admin panel.
  defaultValue: true
  category: open performance
prefer_webpack:
  description: Serve JavaScript bundles with webpack instead of jammit when possible.
  defaultValue: false
  category: webpack
reenable_ui_for_nbe:
  description: Some pieces of the UI were disabled for NBE; setting this to true renables them.
  defaultValue: false
  category: obe deprecation
restore_dataset_button:
  description: Show the Restore Dataset button on the data jobs page
  defaultValue: false
restore_dataset_filter:
  description: Whether or not to show the 'Restore' event filter on the data jobs page
  defaultValue: false
route_dataslate_without_caching:
  description: Use DataslateRouting to handle a per-page fetch of dataslate pages, rather than scraping the Pages Service/Dataset for updates without caching the contents in Memcached.
  defaultValue: false
send_soql_version:
  description: We want to remove the $$version argument from frontend soql calls. This is a wrapper just in case we think this is a bad idea.
  defaultValue: false
  expectedValues: true false
show_federated_site_name_instead_of_cname:
  description: EN-2774. Turning this on will cause the current domain's catalog to show its federated sources by the value for their Site Theme "site_title" property. Note that this is simply "Socrata" by default, so double check the federation sources site_title's before turning this on.
  defaultValue: false
show_provenance_badge_in_catalog:
  description: Show the provenance "Official" badge for official views in the catalog.
  defaultValue: false
site_appearance_visible:
  description: Display "Site Appearance" link in the /admin panel. Note that it will always be displayed for superadmins. This only toggles it for regular admins and designers.
  defaultValue: false
site_chrome_header_and_footer_for_dataslate:
  description: Turns on site chrome header/footer for (non-homepage) dataslate pages.
  defaultValue: false
  category: site chrome
swap_in_nbe_view:
  description: "Utility flag to make frontend views use their NBE counterparts. NOTE: This is intended to be used for NBE Go testing; it may cause errors if enabled for general use."
  defaultValue: false
  category: obe deprecation
timeline:
  description: D3 Timeline Charts
  defaultValue: old
  expectedValues: nextgen old
use_auth0:
  description: Force use of Auth0 to authenticate users. DO NOT ENABLE ON ANY ENVIRONMENT OTHER THAN STAGING OR LOCAL.
  defaultValue: false
use_auth0_login_flow:
  description: When a site has multiple connection configurations ('auth0_connections' is set in the auth0 internal config), use auth0 sign-in when 'Sign In with Socrata ID' is clicked. 'use_auth0' flag must be true!!!
  defaultValue: false
use_data_lens_choropleth_custom_boundary:
  description: If this is true and you have filled out choropleth_custom_boundary in the data_lens_config configuration, then choropleths will be limited to the boundary entered in choropleth_custom_boundary.
  defaultValue: false
use_ephemeral_bootstrap:
  description: When true, bootstrapping a Data Lens page is ephemeral — that is, the page is not immediately persisted in the catalog.
  defaultValue: true
  category: data lens
use_merged_styles:
  description: For simulating merged stylesheets in development. Please never change this setting on a non-dev machine.
  defaultValue: false
useSoda2:
  description: Switch to using SODA2.
  defaultValue: never
  disableTrueFalse: never
  expectedValues: never read-only always
validate_fragment_cache_before_render:
  category: data slate
  description: Validate fragment cache of dataslate pages during page render, instead of relying on core to do it on page save (unreliable). Enabling this flag is the right thing to do, but may cause unexpected load.
  defaultValue: true
zealous_dataslate_cache_expiry:
  category: data slate
  description: 'This flag sets the expiry on three caches for DataSlate: the pages dataset, the manifest, and the fragment cache. `false` means the previous problematic-in-EU expiries; `true` means 5.seconds; and setting a number will set it in SECONDS.'
  defaultValue: false
