###
#
# Flag key name is the key.
#
# Description should also explain the expected values. This is messaging for client services.
# Possible values should not have spaces.
# `expectedValues` are delimited by space.
#   Because I don't like YAML arrays, and it enforces simple values.
# `category` is a UI convenience. it is the full string.
# `disableTrueFalse` indicates that true/false are invalid values.
#   If `expectedValues` is undefined, this setting is ignored.
#
# This is truth. Anything not in this list gets ignored.
#

allow_data_lens_owner_change:
  description: Controls whether ownership of data lenses can be transferred away from the creator.
  defaultValue: true
  category: data lens
auth0_social:
  description: Show auth0 social sign-on buttons
  defaultValue: false
browse_autocomplete:
  description: Show new autocomplete search box on browse page
  defaultValue: false
bubble:
  description: D3 Bubble Charts
  defaultValue: old
  expectedValues: nextgen old
cetera_profile_search:
  description: Use the shiny new Cetera backend search service to power the profile page.
  defaultValue: false
cetera_search:
  description: Use the shiny new Cetera backend search service AND the new catalog (aka browse2). NOTE — this flag's value is being forcibly set to false in the spatial lens admin layer picker; do not remove this flag until this aspect of dataset search has been accounted for in Cetera.
  defaultValue: true
create_v2_data_lens:
  description: Newly created data lenses are stored as v2 metadata in metadb.
  defaultValue: true
current_page_metadata_version:
  description: The current version of page metadata that the app should read and write.
  defaultValue: 1
data_lens_transition_state:
  description: The transition state tracking when and how Data Lenses should be surfaced in the old UX (e.g. on browse, profile and admin pages).
  defaultValue: post_beta
  disableTrueFalse: true
  expectedValues: pre_beta beta post_beta
debug_labjs:
  description: Turn on debugging in the lazy-loader that old UX uses so that we can see problems.
  defaultValue: false
debug_data_lens:
  description: expose useful debugging information (data source, etc) for data lens pages
  defaultValue: false
  category: data lens
disable_authority_badge:
  description: Do not display (hide) this particular authority badge. AKA provenance badge.
  defaultValue: official2
  disableTrueFalse: true
  expectedValues: all official2 community none
display_dataset_landing_page_notice:
  description: Display the notice informing site admins that the page they are seeing will soon be replaced by the dataset landing page.
  defaultValue: false
display_dataset_landing_page_preview_images:
  description: Display view preview images in view widgets on Dataset Landing Page
  defaultValue: false
  category: data lens
enable_dataset_landing_page_foundry_links:
  description: Display the API Docs link in the API flannel
  defaultValue: true
enable_catalog_landing_page:
  description: Display the catalog landing page (aka category landing page)
  defaultValue: false
  category: catalog
enable_dataset_landing_page_tour:
  description: Display the tour when visitors first access a dataset landing page.
  defaultValue: true
enable_dataset_management_ui:
  description: New management page for datasets
  defaultValue: false
enable_filterable_visualizations_in_ax:
  category: storyteller
  defaultValue: false
  description: Allow filterable visualizations to be built in the Authoring Workflow.
enable_filtered_tables_in_ax:
  category: storyteller
  defaultValue: false
  description: Allow filtered and grouped views to be selected for AX visualizations.
enable_ingress_geometry_types:
  description: 'Add the types: point, multipoint, line, multiline, polygon, multipolygon. This flag only functions when `ingress_strategy` is delta-importer or nbe.'
  defaultValue: false
  category: obe deprecation
enable_inline_login:
  defaultValue: true
  description: If set to false, disables all controls which would trigger inline-login (mostly affects unsaved views while logged out).
enable_visualization_canvas:
  description: Enables Visualization Canvas (viewing saved VCs when this flag is off will result in a 404)
  defaultValue: false
disable_legacy_types:
  description: 'According to CORE-5097, the disabled types are: Formatted Text, Email, Website URL, Date & Time (with timezone), Star, Phone, Multiple Choice, Photo (Image), Document, and Dataset Link.'
  defaultValue: false
  category: obe deprecation
disable_obe_redirection:
  description: When clicking on an NBE dataset, you are no longer redirected to the OBE dataset.
  defaultValue: false
disable_nbe_redirection_warning_message:
  description: When clicking to an NBE dataset, you no longer see a "You would be redirected to" message.
  defaultValue: false
embetter_analytics_page:
  description: Incremental improvements to site analytics page
  defaultValue: false
embetter_analytics_browser_views_only:
  description: Just the embettered browser page views rather than "views"
  defaultValue: false
enable_api_foundry_pane:
  description: Will allow the api_foundry pane to be displayed. If there is another reason for the api_foundry pane to be hidden, it will still be hidden.
  defaultValue: false
enable_data_connector:
  description: Turn on the ability to create Mondata maps as opposed to external link datasets on the 'Connectors' admin page.
  defaultValue: false
enable_data_lens_axis_rescaling:
  description: Resizes Data Lens axes to show only filtered data.  Set to null to hide the control, false to default the option to disabled, or true to default the option to enabled.
  defaultValue: null
  expectedValues: true false null
  category: data lens
enable_data_lens_page_metadata_migrations:
  description: Lazily migrate data lens page metadata schemas on each request.
  defaultValue: true
enable_data_lens_provenance:
  description: Ability to set data lens views to "Official" or not. AKA authority badge.
  defaultValue: true
enable_data_lens_using_derived_view:
  description: Enable creating data lenses from derived views.
  defaultValue: false
enable_catalog_connector:
  description: Turn on the 'Connectors' admin page to create catalog entries for datasets from external sources, like ArcGIS online.
  defaultValue: true
enable_deprecated_user_search_api:
  category: storyteller
  defaultValue: false
  description: When false, uses Cetera for user searches via CeteraController. When true, falls back to Core's deprecated user search (backed by clytemnestra).
enable_embed_widget_for_nbe:
  description: Enable embed widget for NBE datasets.
  defaultValue: false
  category: obe deprecation
enable_getty_images_gallery:
  category: storyteller
  defaultValue: true
  description: Enable access to Getty Images for Storyteller media blocks.
enable_header_notifications:
  description: Whether or not to show the notifications bell in the global header. Also disables the "Latest from Socrata" sidebar on the profile page.
  defaultValue: false
enable_opendata_ga_tracking:
  description: Controls behavior of Socrata internal Google Analytics. If true or left blank, GA is enabled with a default Socrata-wide token. If a custom value is provided, GA is enabled with the custom GA token. If false, Socrata GA is disabled. NOTE - if enable_standard_ga_tracking is true, it will override any value that this is set to with a default standard ga tracking code specified in the config.
enable_pulse:
  description: Enable the Pulse application, including catalog link.
  category: pulse
  defaultValue: false
enable_standard_ga_tracking:
  description: If enabled, uses a standard Socrata GA code (same across all domains) defined in the config for tracking. It will also cause any custom GA tokens defined in "enable_opendata_ga_tracking" to be ignored.
  defaultValue: false
enable_storyteller_mixpanel:
  category: storyteller
  defaultValue: false
  description: Allows Mixpanel to be enabled on Storyteller pages. Storyteller will also need a token from the environment in order to activate Mixpanel successfully.
enable_third_party_survey_qualtrics:
  category: third-party survey
  defaultValue: false
  description: Enable/Disable third-party survey provided by Qualtrics on admin and/or profile page(s). Additional configuration required.
stories_enabled:
  description: Enable the Storyteller application.
  category: storyteller
  defaultValue: false
stories_show_facet_in_catalog:
  description: Show the Stories facet in the catalog.
  category: storyteller
  defaultValue: false
enable_new_account_verification_email:
  description: When enabled, causes new accounts to receive an email with verification link that must be validated before account can be used.
  defaultValue: false
feature_map_default_extent:
  description: "The site-wide default extent for feature/point maps. Should be a single-quoted JSON object. Ex: '{\"southwest\":[41.681944,-87.827778],\"northeast\":[42.081944,-87.427778]}'"
  defaultValue: ''
govstat_progress_settings:
  description: Allows overriding of goal progress.
  defaultValue: true
hide_interpolated_nulls:
  description: "Ref: SI-5927, if set to true, will hide interpolated nulls in DSG bar charts."
  defaultValue: false
  category: testing bug fix
hide_socrata_id:
  description: When auth0_connections are present and multiple buttons are presented on the login page, this will hide the "Sign in with Socrata ID" button
  defaultValue: false
include_sr_in_esri:
  description: ESRI-only; stop using SRs in the export URL.
  defaultValue: false
ingress_reenter:
  description: Changes the order and allows re-entrancy to the import wizard
  defaultValue: false
ingress_strategy:
  description: When performing import operations, such as via the wizard or append/replace, this determines the endpoint to use. If `obe`, it will use the existing endpoint. If `nbe`, it will be set `nbe=true` on relevant calls. If `delta-importer`, it will use the Delta Importer Javascript port.
  defaultValue: obe
  disableTrueFalse: true
  expectedValues: obe nbe delta-importer
  category: obe deprecation
kill_esri_reprojection_and_pass_different_webm:
  description: 'Special magic for Iowa, whose ArcGIS server appears to hate EPSG:900913 and projected maps'
  defaultValue: false
kill_snowflake_map_projections:
  description: Use the modern web mercator projection code instead of three different, deprecated projection codes.
  defaultValue: false
nbe_bucket_size:
  description: Bucket-ize the fetching of rows when hitting NBE. Defaults to 1000 unless explicitly set to another value. This is also the page size on Old UX grid view.
  defaultValue: true
notify_import_result:
  description: Enable 'notify me' button during data set import. Button will register an email interest for the user and trigger an email to be sent once dataset import is completed.
  defaultValue: false
open_performance_narrative_editor:
  description: 'Editor to use for Open Performance goal narratives. WARNING: Changing from "storyteller" to "classic" is DANGEROUS and unsupported. Contact #openperformance for assistance.'
  defaultValue: classic
  expectedValues: classic storyteller
  disableTrueFalse: true
  category: open performance
open_performance_enable_goal_management_admin_pane:
  description: Enable the 'Goal Management' link in the admin panel.
  defaultValue: true
  category: open performance
reenable_ui_for_nbe:
  description: Some pieces of the UI were disabled for NBE; setting this to true renables them.
  defaultValue: false
  category: obe deprecation
remove_views_from_discuss_pane:
  description: Datasets with a lot of derived views slow down loading the discuss pane in grid view; setting this to true disables loading derived views when a user opens the discuss pane.
  defaultValue: false
report_builder_enabled:
  description: Enable reports section on an Open Performance domain
  defaultValue: false
  category: open performance
send_soql_version:
  description: We want to remove the $$version argument from frontend soql calls. This is a wrapper just in case we think this is a bad idea.
  defaultValue: false
  expectedValues: true false
show_auth0_identifiers:
  description: Whether to show auth0 identifiers on profile settings page
  defaultValue: false
show_federated_site_name_instead_of_cname:
  description: EN-2774. Turning this on will cause the current domain's catalog to show its federated sources by the value for their Site Theme "site_title" property. Note that this is simply "Socrata" by default, so double check the federation sources site_title's before turning this on.
  defaultValue: false
show_govstat_header:
  description: Turn on the grey header that usually only shows up for sites with govstat enabled
  defaultValue: false
show_new_login_message:
  description: Show a message above ye olde login/signup forms mentioning that they are getting a facelift
  defaultValue: false
show_newux_page_header:
  description: Show the header logo and sign in/up/out links.
  defaultValue: true
  category: data lens
show_provenance_badge_in_catalog:
  description: Show the provenance "Official" badge for official views in the catalog. AKA authority badge.
  defaultValue: false
show_provenance_facet_in_catalog:
  description: Show the Authority facet in the catalog page. AKA provenance.
  defaultValue: false
site_appearance_visible:
  description: Display "Site Appearance" link in the /admin panel. Note that it will always be displayed for superadmins. This only toggles it for regular admins and designers.
  defaultValue: false
disable_site_chrome_header_footer_on_dataslate_pages:
  description: When site chrome is activated on a domain (for any page), it will also be activated on dataslate pages UNLESS this is set to true. (see EN-11700)
  defaultValue: false
  category: site chrome
site_chrome_language_switcher:
  description: Turns on Language Switcher checkbox in General tab of Site Appearance panel.
  defaultValue: false
  category: site chrome
timeline:
  description: D3 Timeline Charts
  defaultValue: old
  expectedValues: nextgen old
use_auth0:
  description: Use Auth0 to authenticate users.
  defaultValue: false
use_auth0_component:
  description: Use fancy new bespoke handmade auth0 login component
  defaultValue: false
use_auth0_login_flow:
  description: When a site has multiple connection configurations ('auth0_connections' is set in the auth0 internal config), use auth0 sign-in when 'Sign In with Socrata ID' is clicked. 'use_auth0' flag must be true!!!
  defaultValue: false
use_data_lens_choropleth_custom_boundary:
  description: If this is true and you have filled out choropleth_custom_boundary in the data_lens_config configuration, then choropleths will be limited to the boundary entered in choropleth_custom_boundary.
  defaultValue: false
use_ephemeral_bootstrap:
  description: When true, bootstrapping a Data Lens page is ephemeral — that is, the page is not immediately persisted in the catalog.
  defaultValue: true
  category: data lens
use_merged_styles:
  description: For simulating merged stylesheets in development. Please never change this setting on a non-dev machine.
  defaultValue: false
useSoda2:
  description: Switch to using SODA2.
  defaultValue: never
  disableTrueFalse: never
  expectedValues: never read-only always
zealous_dataslate_cache_expiry:
  category: data slate
  description: 'This flag sets the expiry on three caches for DataSlate: the pages dataset, the manifest, and the fragment cache. `false` means the previous problematic-in-EU expiries; `true` means 5.seconds; and setting a number will set it in SECONDS.'
  defaultValue: false
