@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.table > tbody > tr {
  display: block;
  border-width: 0;
}

.table > * > tr > td, .table > * > tr > th {
  min-height: 29px;
  display: inline-block;
  border-style: solid;
  border-color: $light-grey-4;
  white-space: nowrap;
}

.table > thead {
  display: block;
  border-top: 1px solid $light-grey-4;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 1px;
  z-index: 100;

  .col-processed {
    font-weight: normal;
    font-size: 7pt;
  }
}

.table > thead >  tr {
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: #f6f6f6;
}

.table > thead > tr > td, .table > tbody > tr > td {
  width: 250px;
}


.table {
  display: inline-flex;
  flex-direction: column;
  composes: table-condensed from global;
  overflow: visible;
  table-layout: fixed;
  min-width: auto;
  white-space: nowrap;
  position: absolute;
  top: 45px;
  bottom: 0;
  border-left: 1px solid $light-grey-4;
  margin: 0;

  tr {
    display: block;
    border-width: 0;
  }

  thead {
    display: block;
    border-top: 1px solid $light-grey-4;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 1px;
    z-index: 100;

    tr {
      border-top-width: 0;
      border-bottom-width: 0;
      background-color: $light-grey-6;
    }

    .col-processed {
      font-weight: normal;
      font-size: 7pt;
    }
  }

  td,
  th {
    min-height: 29px;
    display: inline-block;
    border-style: solid;
    border-color: $light-grey-4;
    white-space: nowrap;
  }



  th {
    border-width: 0 1px 0 0;
  }

  .columnStatuses {
    padding: 0;
    background-color: $white;
  }

  :global {
    #malformed-rows-flyout {
      color: $dark-grey-2;
      font-size: 13px;
      white-space: normal;
    }
  }
}
