$filter-content-width: 260px;

.catalog-filters {
  background: $light-grey-4;
  border-left: 1px solid $light-grey-3;
  flex: none;
  margin-left: auto;
  z-index: 2; // styleguide table can spill on top of this in small window sizes

  .filter-content-toggle {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    color: $primary-text;

    &.open-filters {
      padding: 0.8rem 0.3rem;
    }
  }

  .filter-content {
    width: $filter-content-width;

    &.hidden {
      display: none;
    }

    .catalog-filters-header {
      padding: 0.5rem $horizontal_margin;
      border-bottom: 1px solid $light-grey-3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 59px;
    }

    .filter-section {
      margin: 0.5rem $horizontal_margin;

      &.authority {
        .picklist-option {
          .picklist-title > .socrata-icon {
            &.socrata-icon-official2 {
              color: $alternate-1;
              width: 21px;
              height: 21px;
            }
            &.socrata-icon-community {
              color: $primary-base;
            }
          }
        }
        .picklist-option-selected {
          .picklist-title > .socrata-icon {
            &.socrata-icon-community {
              color: white;
            }
          }
        }
      }

      label {
        user-select: none;

        &.filter-label {
          display: block;
          font-size: 13px;
          font-weight: 700;
          margin: 0.25rem 0;
        }
      }

      .dropdown-container {
        width: 100%;

        .dropdown-placeholder {
          border-color: $primary-light;
          outline-color: $primary-base;

          &.dropdown-selected > .socrata-icon {
            &.socrata-icon-official2 {
              color: $alternate-1;
              width: 21px;
              height: 21px;
            }
            &.socrata-icon-community {
              color: $primary-base;
            }
          }
        }

        &.dropdown-focused {
          .dropdown-placeholder {
            border-color: $primary-light;
            outline-color: $primary-base;
          }
          .dropdown-caret {
            color: $primary-text;
          }
        }

        .picklist-option {
          &:hover {
            background-color: $primary-light;
          }

          &.picklist-option-selected {
            background-color: $primary-base;
          }
        }
      }

      .checkbox {
        .fake-checkbox {
          background: $white;
        }

        label {
          font-size: 13px;
        }
      }

      &.recently-viewed {
        margin-bottom: 1.5rem;
      }

      .searchbox-filter {
        position: relative;

        .text-input {
          width: 100%;
          padding-left: 2rem;
          font-size: 13px;

          &.searchbox-selected {
            color: $primary-text;
          }
        }

        .search-icon {
          position: absolute;
          top: 0.45rem;
          left: 0.5rem;
          font-size: 18px;
          color: $light-grey-2;
        }

        .picklist-wrapper {
          width: 100%;
          max-height: 300px;
          overflow-y: scroll;
          position: absolute;
          margin-top: -0.5rem;
          z-index: 100;

          .picklist-option {
            &:hover {
              background-color: $primary-light;
            }

            &.picklist-option-selected {
              background-color: $primary-base;
            }
          }
        }
      }
    }
  }
}
