@import "styleguide-colors";
@import "internal-asset-manager/sizings";
@import "internal-asset-manager/catalog_results";
@import "internal-asset-manager/catalog_filters";
@import "internal-asset-manager/clear_filters";

@import "common/pager";
@import "common/feedback-panel";

$admin-header-height: 46px;

.admin-header {
  min-height: $admin-header-height;
}

body {
  margin: 0;
  padding: $admin-header-height 0 0 0;
  background: $light-grey-6;
}

.asset_inventory_link_wrapper {
  float: right;
  position: relative;
  top: -2.3rem;
  left: -17rem;

  button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.618rem;
    color: $primary-text;
    background: $white;
    border: 1px solid $light-grey-1;
    cursor: pointer;

    &:disabled {
      cursor: default;
      color: $light-grey-1;
    }
  }
}

.internal-asset-manager {
  .header {
    margin: 0 $horizontal_margin;
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .asset-toggles {
      a.asset-toggle {
        color: $light-grey-2;
        cursor: pointer;
        text-decoration: none;
        padding: 0 2px 2px 2px;
        display: inline-block;
        margin-right: 0.75rem;
        font-size: 15px;
        font-weight: 700;

        &.active {
          color: $black;
          border-bottom: 3px solid $primary-base;
        }
      }
    }

    .asset-counts {
      margin: 0.5rem 0;
      display: inline-block;

      &.fetching {
        opacity: 0.5;
      }

      &.has-error {
        display: none;
      }

      .asset-counts-item {
        display: inline-block;
        margin-right: 2.5rem;

        &:last-of-type {
          margin-right: 0;
        }

        .item-count {
          font-size: 2rem;
          line-height: 1;
          color: $primary-base;
          margin-bottom: 0.25rem;
        }

        .item-name {
          color: $dark-grey-1;
          font-size: 0.9rem;
        }
      }
    }
  }

  .results-and-filters {
    display: flex;
    border-top: 1px solid $light-grey-3;
    border-bottom: 1px solid $light-grey-3;

    .catalog-results .socrata-icon-search {
      top: -3px !important;
    }
  }
}
