$header_height: 46px;
$header_height_small: 32px;
$searchbox_height: 32px;
$searchbox_height_small: 24px;

#site-chrome-admin-header {
  .collapsible-search {
    float: right;
    max-height: $header_height;
    position: relative;

    & svg path {
      fill: #fff;
    }

    .collapsible-search-toggle {
      cursor: pointer;
      display: block;
      font-size: 18px;
      height: $header_height;
      line-height: $header_height - 22px;
      padding: 11px 0;
    }

    .autocomplete-results-container {
      top: calc(((#{$header_height} - #{$searchbox_height}) / 2) + #{$searchbox_height});
    }

    .searchbox {
      float: right;
      min-height: 24px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;

      // This is a nested calc, which doesn't work in browsers shittier than or equal to IE11.
      // There is javascript to position it for those browsers instead: verticallyPositionSearchbar()
      top: calc((#{$header_height} - #{$searchbox_height}) / 2);

      -webkit-transition: opacity 0.1s;
      transition: opacity 0.1s;

      z-index: -1;

      &.hidden {
        position: absolute;
        visibility: hidden;
      }

      &.expanded {
        opacity: 1;
        pointer-events: auto;

        /*
          EN-12069 and EN-16931
          101, 1 higher than the z-index set on .dropdown elements due to EN-11443.
          Otherwise the dropdowns will be clickable through the expanded search bar.
        */
        z-index: 101;

        input {
          width: 180px;
        }

        & svg path {
          fill: #999;
        }
      }

      &[data-autocomplete="true"] {
        input {
          box-sizing: content-box !important;
        }
      }

      input {
        -webkit-transition: width 0.4s;
        transition: width 0.4s;
        width: 50px;
      }

      form {
        display: flex;
        line-height: (#{$header_height} - #{$searchbox_height}) / 2;
        margin-bottom: 0;
        position: relative;
        vertical-align: middle;

        fieldset {
          border: 0 none;
          margin: 0;
          padding: 0;
        }

        span.socrata-icon-search {
          color: #999;
          font-size: 16px;
          left: 8px;
          line-height: $searchbox_height - 2;
          pointer-events: none;
          position: absolute;
          top: 2px;
          z-index: 4;
        }

        label {
          display: block;
          font-size: inherit;
          height: $searchbox_height;
          margin: auto;
          width: auto;

          .searchbox-label {
            display: none;
          }
        }

        input {
          border: solid 1px #c8c8c8;
          border-radius: 3px;
          box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
          box-sizing: content-box;
          font-family: $font_family, 'Open Sans', Helvetica, Arial, 'sans-serif';
          font-size: 16px;
          height: $searchbox_height - 18; // 16px padding + 2px border
          padding: 8px 74px 8px 30px;
          vertical-align: top;
          width: 150px;
          z-index: 3;
        }

        button.search-button {
          background-color: #f1f1f1;
          border: 1px solid #c8c8c8;
          border-bottom-right-radius: 3px;
          box-sizing: border-box;
          border-top-right-radius: 3px;
          color: #5e5e5e;
          display: none; // appears with toggleSearchButton()
          font-size: 13px;
          height: $searchbox_height;
          letter-spacing: 0;
          line-height: $searchbox_height;
          margin: 0;
          outline: none;
          padding: 0px 12px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 3;

          &:hover, &:focus, &:active {
            background: #e4e4e4;
          }
        }
      }
    }
  }

  &.site-chrome-small {
    .collapsible-search {
      max-height: $header_height_small;

      .collapsible-search-toggle {
        font-size: 14px;
        height: $header_height_small;
        line-height: $header_height_small - 18px;
        padding: 9px 0;
      }

      .autocomplete-results-container {
        top: calc(((#{$header_height_small} - #{$searchbox_height_small}) / 2) + #{$searchbox_height_small});
      }

      .searchbox {
        min-height: 18px;

        // This is a nested calc, which doesn't work in browsers shittier than or equal to IE11.
        // There is javascript to position it for those browsers instead: verticallyPositionSearchbar()
        top: calc((#{$header_height_small} - #{$searchbox_height_small}) / 2);

        form {
          line-height: (#{$header_height_small} - #{$searchbox_height_small}) / 2;

          span.socrata-icon-search {
            font-size: 12px;
            line-height: $searchbox_height_small - 2;
          }

          span.socrata-icon-search {
            height: 16px;
            margin-top: -2px;
            width: 16px;

            & svg {
              height: 16px;
              width: 16px;
            }
          }

          label {
            height: $searchbox_height_small;
          }

          input {
            font-size: 14px;
            height: $searchbox_height_small - 8; // 6px padding + 2px border
            padding: 3px 74px 3px 30px;
          }

          button.search-button {
            height: $searchbox_height_small;
            line-height: $searchbox_height_small;
          }
        }
      }
    }
  }
}
