<div data-tabs>
  <ul class="nav-tabs">
    <li class="tab-link current" data-tab-id="map"><a>Map Preview</a></li>
    <li class="tab-link" data-tab-id="data"><a>Table Preview</a></li>
  </ul>

  <div id="map" class="tab-content current" data-tab-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed erat lobortis, volutpat erat nec, molestie nisi. Nullam porta, ipsum sit amet accumsan ornare, odio nisi pellentesque risus, ac pharetra sapien nunc a libero. Quisque vel ornare metus, dapibus sagittis lectus. Nam sollicitudin elit ut nisl ullamcorper sodales a et ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut tortor nunc, aliquet a blandit eu, mollis id dui. Curabitur pellentesque enim sed metus bibendum ultrices. Donec eget enim et diam hendrerit blandit. Morbi fermentum, nunc ut auctor efficitur, est tellus cursus lacus, vel pellentesque est erat sed lacus. Phasellus bibendum molestie luctus. Quisque interdum mauris id enim efficitur pretium. Praesent dolor ipsum, lobortis vitae efficitur ac, volutpat id magna. Integer ut tincidunt quam, ut pharetra massa. Etiam finibus aliquet nisi eget aliquam.</p>
  </div>

  <div id="data" class="tab-content" data-tab-content>
    <p>Etiam pulvinar risus in augue volutpat dapibus. In eleifend leo in est convallis ultricies. Praesent in faucibus tellus. Aenean felis magna, viverra quis feugiat a, vestibulum id neque. Praesent et suscipit risus. Integer in vehicula neque, ac posuere enim. Praesent hendrerit et nulla ut finibus. Nullam tincidunt, sapien ac vulputate vestibulum, tortor tellus condimentum ligula, a aliquet arcu leo quis enim. Curabitur eget tincidunt risus. Curabitur pharetra justo arcu, sit amet tempus est vulputate ut. Nullam libero nisi, placerat vel aliquam sit amet, egestas non metus. Donec rhoncus rutrum risus, ac facilisis turpis pretium eu. Praesent bibendum, orci nec pharetra semper, libero lacus fermentum turpis, ut dictum odio magna ac orci. Integer eleifend justo at nisl lobortis scelerisque. Sed laoreet odio sapien, ac blandit felis porttitor sed.</p>
  </div>
</div>
