@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.icon {
  font-size: 200%;
  color: $primary-dark;
}

.card {
  background: $white;
  border: 1px solid $light-grey-3;
  margin: 0 2rem 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  button {
    min-width: 150px;
  }

  h3 {
    font-size: 17px;
  }

  p {
    margin: 10px 13px 13px;
    color: $dark-grey-1;
  }
}

.sidebarBtn {
  composes: btn from global;
  composes: btn-sm from global;
  composes: btn-default from global;
}

.sidebarBtnDisabled {
  composes: sidebarBtn;
  composes: btn-disabled-light from global;
}
