<div class="stories-404-container">
  <h1 class="stories-404-status-code"><%== t('stories_404.status_code') %></h1>
  <h1 class="stories-404-title"><%= t('stories_404.title') %></h1>
  <img src="<%= image_path('404.png') %>" class="stories-404-image" />
  <p class="stories-404-description"><%= t('stories_404.description') %></p>
</div>
