<div id="style-and-presentation-panel" class="content-panel">
  <div class="content-panel-close-btn-container">
    <button class="content-panel-close-btn" data-panel-toggle="style-and-presentation-panel">
      <span class="icon-cross2"></span>
    </button>
  </div>

  <section>
    <div class="scrollable">
      <% if @custom_theme_configs.present? -%>
        <%= render  partial: 'stories/partials/theme_list',
                    locals: {
                      class_name: 'custom-themes',
                      title_key: 'style_and_presentation_panel.custom_themes_title',
                      description_key: 'style_and_presentation_panel.custom_themes_description',
                      themes: @custom_theme_configs
                    } -%>
      <% end -%>

      <%= render  partial: 'stories/partials/theme_list',
                  locals: {
                    class_name: 'standard-themes',
                    title_key: 'style_and_presentation_panel.standard_themes_title',
                    description_key: 'style_and_presentation_panel.standard_themes_description',
                    themes: @standard_theme_configs
                  } -%>
    </div>
  </section>

  <div class="styled-theme-list-error hidden"><%= I18n.t('style_and_presentation_panel.render_error') %></div>
</div>
