{
  "fourByFour": "data-data",
  "title": "Inspiration",
  "blocks": [
    {
      "id": "sample1",
      "layout": "12",
      "components": [
        {
          "type": "text",
          "value": "<h2><%= I18n.t('inspiration_story.text_block_1.title') %></h2><%= I18n.t('inspiration_story.text_block_1.text') %>"
        }
      ]
    },
    {
      "id": "sample2",
      "layout": "12",
      "components": [
        {
          "type": "text",
          "value": "<h2><%= I18n.t('inspiration_story.text_block_2.title') %></h2><%= I18n.t('inspiration_story.text_block_2.text') %>"
        }
      ]
    },
    {
      "id": "sample3",
      "layout": "12",
      "components": [
        {
          "type": "text",
          "value": "Forget your generalized audience. In the first place, the nameless, faceless audience will scare you to death and in the second place, unlike the theater, it doesn’t exist. In writing, your audience is one single reader. I have found that sometimes it helps to pick out one person—a real person you know, or an imagined person and write to that one."
        }
      ]
    },
    {
      "id": "sample4",
      "layout": "12",
      "components": [
        {
          "type": "text",
          "value": "<blockquote>If there is a magic in story writing, and I am convinced there is, no one has ever been able to reduce it to a recipe that can be passed from one person to another. The formula seems to lie solely in the aching urge of the writer to convey something he feels important to the reader. If the writer has that urge, he may sometimes, but by no means always, find the way to do it. You must perceive the excellence that makes a good story good or the errors that make a bad story. For a bad story is only an ineffective story.</blockquote>"
        }
      ]
    },
    {
      "id": "sample5",
      "layout": "6-6",
      "components": [
        {
          "type": "text",
          "value": "If there is a magic in story writing, and I am convinced there is, no one has ever been able to reduce it to a recipe that can be passed from one person to another. The formula seems to lie solely in the aching urge of the writer to convey something he feels important to the reader."
        },
        {
          "type": "text",
          "value": "If the writer has that urge, he may sometimes, but by no means always, find the way to do it. You must perceive the excellence that makes a good story good or the errors that make a bad story. For a bad story is only an ineffective story."
        }
      ]
    },
    {
      "id": "sample6",
      "layout": "12",
      "components": [
        {
          "type": "image",
          "value": "images/chart-placeholder.png"
        }
      ]
    },
    {
      "id": "sample7",
      "layout": "6-6",
      "components": [
        {
          "type": "text",
          "value": "<h2>Description</h2>Describing your chart is really important so that readers can understand what you mean!"
        },
        {
          "type": "image",
          "value": "images/chart-placeholder.png"
        }
      ]
    },
    {
      "id": "sample8",
      "layout": "6-6",
      "components": [
        {
          "type": "image",
          "value": "images/chart-placeholder.png"
        },
        {
          "type": "image",
          "value": "images/table-placeholder.png"
        }
      ]
    },
    {
      "id": "sample9",
      "layout": "12",
      "components": [
        {
          "type": "image",
          "value": "images/table-placeholder.png"
        }
      ]
    },
    {
      "id": "sample10",
      "layout": "12",
      "components": [
        {
          "type": "image",
          "value": "images/map-placeholder.png"
        }
      ]
    },
    {
      "id": "sample11",
      "layout": "12",
      "components": [
        {
          "type": "image",
          "value": "images/image-placeholder.png"
        }
      ]
    },
    {
      "id": "sample12",
      "layout": "6-6",
      "components": [
        {
          "type": "image",
          "value": "images/image-placeholder.png"
        },
        {
          "type": "image",
          "value": "images/image-placeholder.png"
        }
      ]
    },
    {
      "id": "sample13",
      "layout": "6-6",
      "components": [
        {
          "type": "text",
          "value": "<h2>Description</h2>Describing your chart is really important so that readers can understand what you mean!"
        },
        {
          "type": "image",
          "value": "images/image-placeholder.png"
        }
      ]
    }
  ]
}
