@import 'styleguide-import-shim';

section.colors {
  width: auto;

  // SCSS doesn't support dynamic variables (i.e., looking up a variable's value via a string holding the
  // variable's name). We could do this in ERB, but our amazing StylesController doesn't support that.
  // Thus, we're forced to use hacky maps.
  $all-colors: (
    almost-white-bg: $almost-white-bg,
    alternate-1-dark: $alternate-1-dark,
    alternate-1-light: $alternate-1-light,
    alternate-1-text: $alternate-1-text,
    alternate-1: $alternate-1,
    alternate-2-dark: $alternate-2-dark,
    alternate-2-light: $alternate-2-light,
    alternate-2-text: $alternate-2-text,
    alternate-2: $alternate-2,
    alternate-3-dark: $alternate-3-dark,
    alternate-3-light: $alternate-3-light,
    alternate-3-text: $alternate-3-text,
    alternate-3: $alternate-3,
    alternate-4-dark: $alternate-4-dark,
    alternate-4-light: $alternate-4-light,
    alternate-4-text: $alternate-4-text,
    alternate-4: $alternate-4,
    bell-icon-color: $bell-icon-color,
    bell-icon-hover-color: $bell-icon-hover-color,
    black: $black,
    btn-active-box-shadow-color: $btn-active-box-shadow-color,
    btn-alternate-1-active-border-color: $btn-alternate-1-active-border-color,
    btn-alternate-1-background-color: $btn-alternate-1-background-color,
    btn-alternate-1-border-color: $btn-alternate-1-border-color,
    btn-alternate-1-busy-border-right-color: $btn-alternate-1-busy-border-right-color,
    btn-alternate-1-color: $btn-alternate-1-color,
    btn-alternate-1-hover-background-color: $btn-alternate-1-hover-background-color,
    btn-alternate-1-hover-color: $btn-alternate-1-hover-color,
    btn-alternate-1-inverse-background-color: $btn-alternate-1-inverse-background-color,
    btn-alternate-1-inverse-color: $btn-alternate-1-inverse-color,
    btn-alternate-1-inverse-hover-background-color: $btn-alternate-1-inverse-hover-background-color,
    btn-alternate-1-inverse-hover-color: $btn-alternate-1-inverse-hover-color,
    btn-alternate-2-active-border-color: $btn-alternate-2-active-border-color,
    btn-alternate-2-background-color: $btn-alternate-2-background-color,
    btn-alternate-2-border-color: $btn-alternate-2-border-color,
    btn-alternate-2-busy-border-right-color: $btn-alternate-2-busy-border-right-color,
    btn-alternate-2-color: $btn-alternate-2-color,
    btn-alternate-2-hover-background-color: $btn-alternate-2-hover-background-color,
    btn-alternate-2-hover-color: $btn-alternate-2-hover-color,
    btn-alternate-2-inverse-background-color: $btn-alternate-2-inverse-background-color,
    btn-alternate-2-inverse-color: $btn-alternate-2-inverse-color,
    btn-alternate-2-inverse-hover-background-color: $btn-alternate-2-inverse-hover-background-color,
    btn-alternate-2-inverse-hover-color: $btn-alternate-2-inverse-hover-color,
    btn-alternate-3-active-border-color: $btn-alternate-3-active-border-color,
    btn-alternate-3-background-color: $btn-alternate-3-background-color,
    btn-alternate-3-border-color: $btn-alternate-3-border-color,
    btn-alternate-3-busy-border-right-color: $btn-alternate-3-busy-border-right-color,
    btn-alternate-3-color: $btn-alternate-3-color,
    btn-alternate-3-hover-background-color: $btn-alternate-3-hover-background-color,
    btn-alternate-3-inverse-background-color: $btn-alternate-3-inverse-background-color,
    btn-alternate-3-inverse-color: $btn-alternate-3-inverse-color,
    btn-alternate-3-inverse-hover-background-color: $btn-alternate-3-inverse-hover-background-color,
    btn-alternate-3-inverse-hover-color: $btn-alternate-3-inverse-hover-color,
    btn-alternate-4-active-border-color: $btn-alternate-4-active-border-color,
    btn-alternate-4-background-color: $btn-alternate-4-background-color,
    btn-alternate-4-border-color: $btn-alternate-4-border-color,
    btn-alternate-4-busy-border-color: $btn-alternate-4-busy-border-color,
    btn-alternate-4-busy-border-right-color: $btn-alternate-4-busy-border-right-color,
    btn-alternate-4-color: $btn-alternate-4-color,
    btn-alternate-4-hover-background-color: $btn-alternate-4-hover-background-color,
    btn-alternate-4-inverse-background-color: $btn-alternate-4-inverse-background-color,
    btn-alternate-4-inverse-color: $btn-alternate-4-inverse-color,
    btn-alternate-4-inverse-hover-background-color: $btn-alternate-4-inverse-hover-background-color,
    btn-alternate-4-inverse-hover-color: $btn-alternate-4-inverse-hover-color,
    btn-default-active-border-color: $btn-default-active-border-color,
    btn-default-background-color: $btn-default-background-color,
    btn-default-border-color: $btn-default-border-color,
    btn-default-busy-border-color: $btn-default-busy-border-color,
    btn-default-busy-border-right-color: $btn-default-busy-border-right-color,
    btn-default-color: $btn-default-color,
    btn-default-dark-background-color: $btn-default-dark-background-color,
    btn-default-dark-border-color: $btn-default-dark-border-color,
    btn-default-dark-color: $btn-default-dark-color,
    btn-default-dark-hover-background-color: $btn-default-dark-hover-background-color,
    btn-default-hover-background-color: $btn-default-hover-background-color,
    btn-default-hover-color: $btn-default-hover-color,
    btn-default-inverse-background-color: $btn-default-inverse-background-color,
    btn-default-inverse-border-color: $btn-default-inverse-border-color,
    btn-default-inverse-color: $btn-default-inverse-color,
    btn-default-inverse-hover-background-color: $btn-default-inverse-hover-background-color,
    btn-default-inverse-hover-border-color: $btn-default-inverse-hover-border-color,
    btn-default-inverse-hover-color: $btn-default-inverse-hover-color,
    btn-disabled-background-color: $btn-disabled-background-color,
    btn-disabled-border-color: $btn-disabled-border-color,
    btn-disabled-color: $btn-disabled-color,
    btn-disabled-dark-background-color: $btn-disabled-dark-background-color,
    btn-disabled-dark-border-color: $btn-disabled-dark-border-color,
    btn-disabled-dark-color: $btn-disabled-dark-color,
    btn-error-active-border-color: $btn-error-active-border-color,
    btn-error-background-color: $btn-error-background-color,
    btn-error-border-color: $btn-error-border-color,
    btn-error-color: $btn-error-color,
    btn-error-hover-background-color: $btn-error-hover-background-color,
    btn-error-inverse-background-color: $btn-error-inverse-background-color,
    btn-error-inverse-color: $btn-error-inverse-color,
    btn-error-inverse-hover-background-color: $btn-error-inverse-hover-background-color,
    btn-error-inverse-hover-color: $btn-error-inverse-hover-color,
    btn-primary-active-border-color: $btn-primary-active-border-color,
    btn-primary-background-color: $btn-primary-background-color,
    btn-primary-border-color: $btn-primary-border-color,
    btn-primary-busy-border-right-color: $btn-primary-busy-border-right-color,
    btn-primary-color: $btn-primary-color,
    btn-primary-hover-background-color: $btn-primary-hover-background-color,
    btn-primary-inverse-background-color: $btn-primary-inverse-background-color,
    btn-primary-inverse-color: $btn-primary-inverse-color,
    btn-primary-inverse-hover-background-color: $btn-primary-inverse-hover-background-color,
    btn-primary-inverse-hover-color: $btn-primary-inverse-hover-color,
    btn-simple-background-color: $btn-simple-background-color,
    btn-simple-color: $btn-simple-color,
    btn-simple-hover-background-color: $btn-simple-hover-background-color,
    btn-simple-hover-color: $btn-simple-hover-color,
    btn-success-active-border-color: $btn-success-active-border-color,
    btn-success-background-color: $btn-success-background-color,
    btn-success-border-color: $btn-success-border-color,
    btn-success-color: $btn-success-color,
    btn-success-hover-background-color: $btn-success-hover-background-color,
    btn-success-inverse-background-color: $btn-success-inverse-background-color,
    btn-success-inverse-color: $btn-success-inverse-color,
    btn-success-inverse-hover-background-color: $btn-success-inverse-hover-background-color,
    btn-success-inverse-hover-color: $btn-success-inverse-hover-color,
    btn-transparent-busy-border-color: $btn-transparent-busy-border-color,
    btn-transparent-busy-border-right-color: $btn-transparent-busy-border-right-color,
    btn-warning-active-border-color: $btn-warning-active-border-color,
    btn-warning-background-color: $btn-warning-background-color,
    btn-warning-border-color: $btn-warning-border-color,
    btn-warning-color: $btn-warning-color,
    btn-warning-hover-background-color: $btn-warning-hover-background-color,
    btn-warning-inverse-background-color: $btn-warning-inverse-background-color,
    btn-warning-inverse-color: $btn-warning-inverse-color,
    btn-warning-inverse-hover-background-color: $btn-warning-inverse-hover-background-color,
    btn-warning-inverse-hover-color: $btn-warning-inverse-hover-color,
    dark-grey-0: $dark-grey-0,
    dark-grey-1: $dark-grey-1,
    dark-grey-2: $dark-grey-2,
    dark-grey-3: $dark-grey-3,
    default-text-color: $default-text-color,
    error-dark: $error-dark,
    error-light: $error-light,
    error-text: $error-text,
    error: $error,
    grey: $grey,
    header-accent-color: $header-accent-color,
    header-bg-color: $header-bg-color,
    header-box-shadow-color: $header-box-shadow-color,
    header-btn-disabled-color: $header-btn-disabled-color,
    header-link-hover-bg-color: $header-link-hover-bg-color,
    header-link-hover-color: $header-link-hover-color,
    header-publication-status-color: $header-publication-status-color,
    header-story-title-color: $header-story-title-color,
    header-story-title-hover-color: $header-story-title-hover-color,
    header-text-color: $header-text-color,
    light-gray-bg: $light-gray-bg,
    light-grey-0: $light-grey-0,
    light-grey-1: $light-grey-1,
    light-grey-2: $light-grey-2,
    light-grey-3: $light-grey-3,
    light-grey-4: $light-grey-4,
    light-grey-5: $light-grey-5,
    light-grey-6: $light-grey-6,
    light-grey-7: $light-grey-7,
    light-grey-8: $light-grey-8,
    light-grey-bg: $light-grey-bg,
    light-text-color: $light-text-color,
    notification-item-text-color: $notification-item-text-color,
    panel-body-background-color: $panel-body-background-color,
    panel-border-color: $panel-border-color,
    panel-close-link-background-color: $panel-close-link-background-color,
    panel-footer-background-color: $panel-footer-background-color,
    panel-header-background-color: $panel-header-background-color,
    panel-header-outline-color: $panel-header-outline-color,
    panel-internal-border-color: $panel-internal-border-color,
    panel-primary-button-background-color: $panel-primary-button-background-color,
    panel-primary-button-hover-background-color: $panel-primary-button-hover-background-color,
    primary-dark: $primary-dark,
    primary-light: $primary-light,
    primary-text: $primary-text,
    primary: $primary,
    quiet-text-color: $quiet-text-color,
    settings-panel-btn-color: $settings-panel-btn-color,
    success-dark: $success-dark,
    success-light: $success-light,
    success-text: $success-text,
    success: $success,
    tag-background-color: $tag-background-color,
    tag-color: $tag-color,
    view-older-notifications-link-color: $view-older-notifications-link-color,
    warning-dark: $warning-dark,
    warning-light: $warning-light,
    warning-text: $warning-text,
    warning: $warning,
    white: $white
  );

  $i: 1;
  @each $name, $color in $all-colors {
    & > div:nth-child(#{$i}) {
      // The important stuff - actually display the color.
      &::after {
        content: "$#{$name}: #{$color}";
        display: none;
      }
      background-color: $color;

      // Graphical touch-ups.
      display: inline-block;
      height: 3em;
      margin: 1em 0.5em;
      text-align: center;
      width: 25em;

      @if (lightness($color) > 50 ) {
        color: black;
      } @else {
        color: white;
      }
    }
    $i: $i + 1;
  }
}
