<% content_for :head do %>
  <title>Example Usage: ChoroplethMap.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <%= rendered_stylesheet_tag 'visualizations' %>
  <style type="text/css">
    #choropleth-map-1,
    #choropleth-map-2,
    #choropleth-map-3,
    #choropleth-map-4,
    #choropleth-map-5 {
      display: block;
      position: relative;
      width: 640px;
      height: 480px;
      margin: 50px auto 0 auto;
    }
  </style>
<% end %>

<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>

  <%= include_webpack_bundle 'visualization_example_pages/main.js' %>

  <script type="text/javascript">

    $(document).ready(function() {

      /**
       * Set up VIFs
       */

      var DATASET_UID = '52my-2pak';
      var DOMAIN = 'dataspace.demo.socrata.com';
      var GEOJSON_UID = 'snuk-a5kv';

      var choropleth1VIF = {
        'aggregation': {
          // TODO: implement this!
        },
        'columnName': 'location_point',
        'configuration': {
          'baseLayerUrl': 'https://a.tiles.mapbox.com/v3/socrata-apps.3ecc65d4/{z}/{x}/{y}.png',
          'baseLayerOpacity': 0.8,
          'computedColumnName': ':@wards',
          'defaultExtent' : {
            'southwest': [41.45919537950706, -90.24169921875],
            'northeast': [42.20817645934742, -85.242919921875]
          },
          'interactive': true,
          'legend': {
            'type': 'continuous',
            'negativeColor': '#F00',
            'zeroColor': '#0F0',
            'positiveColor': '#00F'
          },
          // The localization values should be set by the application but are set
          // to string literalsfor the purposes of this example.
          'localization': {
            'flyout_selected_notice': 'The page is currently filtered by this value, click to clear it',
            'flyout_unfiltered_amount_label': 'Total',
            'flyout_filtered_amount_label': 'Filtered',
            'no_value': '(No Value)',
            'clear_filter_label': 'Clear filter',
            'flyout_locate_user_error_title': 'There was an error determining your location',
            'flyout_locate_user_error_notice': 'Click to try again',
            'user_current_position': 'Your current location (estimated)'
          },
          'savedExtent': {
            'southwest': [41.42625319507272, -88.5662841796875],
            'northeast': [42.24478535602799, -86.9183349609375]
          },
          'shapefile': {
            'columns': {
              'name': '__SOCRATA_HUMAN_READABLE_NAME__',
              'unfiltered': '__SOCRATA_UNFILTERED_VALUE__',
              'filtered': '__SOCRATA_FILTERED_VALUE__',
              'selected': '__SOCRATA_FEATURE_SELECTED__'
            },
            'geometryLabel': null,
            'primaryKey': '_feature_id',
            'uid': GEOJSON_UID
          }
        },
        'datasetUid': DATASET_UID,
        'description': 'An example choropleth',
        'domain': DOMAIN,
        'filters': [],
        'format': {
          'type': 'visualization_interchange_format',
          'version': 1
        },
        'title': 'Example Usage: ChoroplethMap.js',
        'type': 'choroplethMap',
        'unit': {
          'one': 'crime',
          'other': 'crimes'
        }
      };

      var choropleth2VIF = _.cloneDeep(choropleth1VIF);
      choropleth2VIF.configuration.mapCenterAndZoom = {
        center: {
          lat: 47.5961688328413,
          lng: -122.3282253742218
        },
        zoom: 17
      };

      var choropleth3VIF = _.cloneDeep(choropleth1VIF);
      choropleth3VIF.configuration.legend = {
        'type': 'discrete'
      };
      choropleth3VIF.filters = [
        {
          'columnName': 'location_description',
          'function': 'binaryOperator',
          'arguments': {
            'operator': '=',
            'operand': 'STREET'
          }
        }
      ];

      var choropleth4VIF = _.cloneDeep(choropleth1VIF);
      choropleth4VIF.filters = [
        {
          'columnName': 'location_point',
          'function': 'binaryComputedGeoregionOperator',
          'arguments': {
            'computedColumnName': ':@wards',
            'operator': '=',
            'operand': '47'
          }
        }
      ];

      var choropleth5VIF = _.cloneDeep(choropleth1VIF);
      choropleth5VIF.aggregation = {
        'field': 'id',
        'function': 'sum'
      };

      /**
       * Instantiate the plugins
       */

      var flyoutRenderer = new socrata.visualizations.views.FlyoutRenderer();

      var $choroplethElement1 = $('#choropleth-map-1');
      $choroplethElement1.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $choroplethElement1.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      $choroplethElement1.on('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      $choroplethElement1.socrataChoroplethMap(choropleth1VIF);

      var $choroplethElement2 = $('#choropleth-map-2');
      $choroplethElement2.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $choroplethElement2.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      $choroplethElement2.on('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      $choroplethElement2.socrataChoroplethMap(choropleth2VIF);

      var $choroplethElement3 = $('#choropleth-map-3');
      $choroplethElement3.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $choroplethElement3.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      $choroplethElement3.on('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      $choroplethElement3.socrataChoroplethMap(choropleth3VIF);

      var $choroplethElement4 = $('#choropleth-map-4');
      $choroplethElement4.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $choroplethElement4.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      $choroplethElement4.on('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      $choroplethElement4.socrataChoroplethMap(choropleth4VIF);

      var $choroplethElement5 = $('#choropleth-map-5');
      $choroplethElement5.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $choroplethElement5.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      $choroplethElement5.on('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      $choroplethElement5.socrataChoroplethMap(choropleth5VIF);

      /**
       * Handle plugin events
       */

      function handleFlyout(event) {

        var payload = event.originalEvent.detail;

        // Render/hide a flyout
        if (payload !== null) {
          flyoutRenderer.render(payload);
        } else {
          flyoutRenderer.clear();
        }
      }

      function handleCenterAndZoomChanged(event) {
        console.log('Map center and zoom changed: ' + JSON.stringify(event.originalEvent.detail));
      }

      function handleVifUpdated(event) {
        var payload = event.originalEvent.detail;
        var renderVifEvent = $.Event('SOCRATA_VISUALIZATION_RENDER_VIF');

        renderVifEvent.originalEvent = {
          detail: payload
        };

        $(this).trigger(renderVifEvent);
      }

      /**
       * Destroy the plugins
       */

      // $choroplethElement1.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $choroplethElement1.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $choroplethElement1.off('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      // $choroplethElement1.trigger('destroy');

      // $choroplethElement2.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $choroplethElement2.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $choroplethElement2.off('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      // $choroplethElement2.trigger('destroy');

      // $choroplethElement3.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $choroplethElement3.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $choroplethElement3.off('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      // $choroplethElement3.trigger('destroy');

      // $choroplethElement4.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $choroplethElement4.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $choroplethElement4.off('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      // $choroplethElement4.trigger('destroy');

      // $choroplethElement5.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $choroplethElement5.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $choroplethElement5.off('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      // $choroplethElement5.trigger('destroy');
    });
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a>
<div id="choropleth-map-1"></div>
<div id="choropleth-map-2"></div>
<div id="choropleth-map-3"></div>
<div id="choropleth-map-4"></div>
<div id="choropleth-map-5"></div>
