<% content_for :head do %>
  <title>Example Usage: FeatureMap.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <%= rendered_stylesheet_tag 'visualizations' %>
  <style type="text/css">
    #feature-map-1,
    #feature-map-2,
    #feature-map-3 {
      display: block;
      position: relative;
      width: 640px;
      height: 480px;
      margin: 50px auto 0 auto;
    }

  </style>
<% end %>

<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>

  <%= include_webpack_bundle 'shared/visualizationExamplePages' %>

  <script type="text/javascript">

    $(document).ready(function() {

      /**
       * Set up the plugin.
       */

      var DOMAIN = 'dataspace.demo.socrata.com';
      var DATASET_UID = 'r6t9-rak2';
      var COLUMN_NAME = 'point';

      var TEST_DATASET_METADATA = {"name":"Case Data from San Francisco 311","updatedAt":"2014-08-22T22:36:10.000Z","defaultPage":"cs5s-apnb","description":"Cases created since 7/1/2008 with location information","domain":"dataspace.demo.socrata.com","rowDisplayUnit":"Case","locale":"en_US","id":"r6t9-rak2","columns":{"request_details":{"name":"request details","description":"Cases created since 7/1/2008 with location information","physicalDatatype":"text","position":9,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text","defaultCardType":"search","availableCardTypes":["column","search"]},":version":{"description":"","name":":version","physicalDatatype":"row_version"},"point":{"name":"point","description":"Cases created since 7/1/2008 with location information","physicalDatatype":"point","position":13,"hideInTable":false,"format":{},"dataTypeName":"point","renderTypeName":"point","defaultCardType":"feature","availableCardTypes":["feature"]},"source":{"name":"source","description":"Which medium was used to file the ticket","physicalDatatype":"text","position":14,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text","defaultCardType":"search","availableCardTypes":["column","search"]},":Computed_qgg2gdwk_point":{"name":"Police Districts","description":"","computationStrategy":{"source_columns":["point"],"parameters":{"region":"_qgg2-gdwk"},"strategy_type":"georegion_match_on_point"},"physicalDatatype":"text","position":17,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text"},":created_at":{"description":"","name":":created_at","physicalDatatype":"fixed_timestamp"},"closed":{"name":"closed","description":"Date case was closed","physicalDatatype":"floating_timestamp","position":3,"hideInTable":false,"format":{},"dataTypeName":"calendar_date","renderTypeName":"calendar_date","defaultCardType":"timeline","availableCardTypes":["timeline"]},"neighborhood":{"name":"neighborhood","description":"Cases created since 7/1/2008 with location information","physicalDatatype":"text","position":12,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text","defaultCardType":"search","availableCardTypes":["column","search"]},"media_url":{"name":"media url","description":"Cases created since 7/1/2008 with location information","physicalDatatype":"text","position":15,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text","defaultCardType":"search","availableCardTypes":["column","search"]},"request_type":{"name":"request type","description":"","physicalDatatype":"text","position":8,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text","defaultCardType":"search","availableCardTypes":["column","search"]},":Computed_n8rpcfd9_point":{"name":"Neighborhoods","description":"","computationStrategy":{"source_columns":["point"],"parameters":{"region":"_n8rp-cfd9"},"strategy_type":"georegion_match_on_point"},"physicalDatatype":"text","position":18,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text"},"opened":{"name":"opened","description":"Date case was filed","physicalDatatype":"floating_timestamp","position":2,"hideInTable":false,"format":{},"dataTypeName":"calendar_date","renderTypeName":"calendar_date","defaultCardType":"timeline","availableCardTypes":["timeline"]},"updated":{"name":"updated","description":"Time the case was updated","physicalDatatype":"floating_timestamp","position":4,"hideInTable":false,"format":{},"dataTypeName":"calendar_date","renderTypeName":"calendar_date","defaultCardType":"timeline","availableCardTypes":["timeline"]},"responsible_agency":{"name":"responsible agency","description":"Agency responsible for handling and managing the case","physicalDatatype":"text","position":6,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text","defaultCardType":"search","availableCardTypes":["column","search"]},":Computed_a9zvgp2q_point":{"name":"Zip codes","description":"","computationStrategy":{"source_columns":["point"],"parameters":{"region":"_a9zv-gp2q"},"strategy_type":"georegion_match_on_point"},"physicalDatatype":"text","position":19,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text"},"status":{"name":"status","description":"Cases created since 7/1/2008 with location information","physicalDatatype":"text","position":5,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text","defaultCardType":"search","availableCardTypes":["column","search"]},":Computed_ernjgade_point":{"name":"Supervisor Districts","description":"","computationStrategy":{"source_columns":["point"],"parameters":{"region":"_ernj-gade"},"strategy_type":"georegion_match_on_point"},"physicalDatatype":"text","position":16,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text"},"address":{"name":"address","description":"Cases created since 7/1/2008 with location information","physicalDatatype":"text","position":10,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text","defaultCardType":"search","availableCardTypes":["column","search"]},"category":{"name":"category","description":"","physicalDatatype":"text","position":7,"hideInTable":false,"format":{},"dataTypeName":"text","renderTypeName":"text","defaultCardType":"search","availableCardTypes":["column","search"]},":updated_at":{"description":"","name":":updated_at","physicalDatatype":"fixed_timestamp"},":id":{"description":"","name":":id","physicalDatatype":"row_identifier"},"case_id":{"name":"caseid","description":"Unique identifier per 311 case","physicalDatatype":"number","position":1,"hideInTable":false,"format":{},"dataTypeName":"number","renderTypeName":"number","defaultCardType":"histogram","availableCardTypes":["histogram","column","search"]},"supervisor_district":{"name":"supervisor district","description":"Cases created since 7/1/2008 with location information","physicalDatatype":"number","position":11,"hideInTable":false,"format":{},"dataTypeName":"number","renderTypeName":"number","defaultCardType":"histogram","availableCardTypes":["histogram","column","search"]},"*":{"availableCardTypes":["table"],"defaultCardType":"table","name":"Data Table","description":"","physicalDatatype":"*"}},"ownerId":"8ibz-n25n","permissions":{"isPublic":true,"rights":["read"]},"pages":{"publisher":[{"name":"San Francisco 311","largestTimeSpanDays":2199,"description":"SF311 cases created since 7/1/2008 with location information.  You can find the type of request, as well as volume of requests and the request status.","primaryAmountField":null,"cards":[{"activeFilters":[],"cardSize":1,"cardType":"timeline","expanded":false,"fieldName":"opened"},{"activeFilters":[],"cardSize":1,"cardType":"column","expanded":false,"fieldName":"category"},{"activeFilters":[],"cardSize":1,"cardType":"column","expanded":false,"fieldName":"request_type"},{"activeFilters":[],"cardSize":2,"cardType":"timeline","expanded":false,"fieldName":"closed"},{"activeFilters":[],"cardSize":2,"cardType":"timeline","expanded":false,"fieldName":"updated"},{"activeFilters":[],"cardSize":2,"cardType":"feature","expanded":false,"fieldName":"point"},{"activeFilters":[],"cardSize":2,"cardType":"column","expanded":false,"fieldName":"source"},{"activeFilters":[],"cardSize":2,"cardType":"table","expanded":false,"fieldName":"*"}],"datasetId":"r6t9-rak2","pageId":"cs5s-apnb","version":1,"primaryAggregation":null,"defaultDateTruncFunction":"date_trunc_ym"}],"user":[]}}

      var flyoutRenderer = new socrata.visualizations.views.FlyoutRenderer();
      socrata.visualizations.views.RowInspector.setup();

      var featureMap1VIF = {
        'aggregation': {
          'columnName': null,
          'function': 'count'
        },
        'columnName': COLUMN_NAME,
        'configuration': {
          // If the value of `datasetMetadata` is falsey then the feature map
          // plugin will make its own request for dataset metadata.
          // If it is truthy then this value will be used instead of making a new
          // request.
          'datasetMetadata': false,
          // Behavior
          'hover': true,
          'panAndZoom': true,
          'locateUser': true,
          // The localization values should be set by the application but are set to string literals
          // for the purposes of this example.
          'localization': {
            'flyout_filter_notice': 'There are too many points at this location',
            'flyout_filter_or_zoom_notice': 'Zoom in to see details',
            'flyout_dense_data_notice': 'Numerous',
            'flyout_click_to_inspect_notice': 'Click to see details',
            'flyout_click_to_locate_user_title': 'Click to show your position on the map',
            'flyout_click_to_locate_user_notice': 'You may have to give your browser permission to share your current location',
            'flyout_locating_user_title': 'Your position is being determined',
            'flyout_locate_user_error_title': 'There was an error determining your location',
            'flyout_locate_user_error_notice': 'Click to try again',
            'flyout_pan_zoom_disabled_warning_title': 'Panning and zooming has been disabled',
            'row_inspector_row_data_query_failed': 'Detailed information about these points cannot be loaded at this time',
            'user_current_position': 'Your current location (estimated)',
            'column_incompatibility_error': 'Column Incompatibility Error',
            'feature_extent_query_error': 'Feature Extent Query Error'
          },
          // Base layer
          'baseLayerUrl': 'https://a.tiles.mapbox.com/v3/socrata-apps.ibp0l899/{z}/{x}/{y}.png',
          'baseLayerOpacity': 0.8
        },
        'createdAt': '2014-01-01T00:00:00',
        'datasetUid': DATASET_UID,
        'description': 'An example feature map',
        'domain': DOMAIN,
        'filters': [],
        'format': {
          'type': 'visualization_interchange_format',
          'version': 1
        },
        'origin': {
          'type': 'test_data',
          'url': 'localhost'
        },
        title: 'Example Usage: socrata.visualizations.FeatureMap.js',
        type: 'featureMap',
        'unit': {
          'one': 'record',
          'other': 'records'
        }
      };

      // Instantiate a second visualizaton with existing dataset metadata to test
      // row inspector events that have access to dataset metadata while we are
      // getting CORS into the frontend routes for metadata.
      var featureMap2VIF = _.cloneDeep(featureMap1VIF);
      featureMap2VIF.configuration.datasetMetadata = TEST_DATASET_METADATA;
      featureMap2VIF.configuration.panAndZoom = false;
      featureMap2VIF.filters = [
        {
          function: 'binaryOperator',
          columnName: 'category',
          arguments: [
            {
              operator: '=',
              operand: 'General Requests'
            },
            {
              operator: '=',
              operand: 'Illegal Postings'
            }
          ]
        }
      ];

      var featureMap3VIF = _.cloneDeep(featureMap1VIF);
      featureMap3VIF.configuration.mapCenterAndZoom = {
        center: {
          lat: 47.5961688328413,
          lng: -122.3282253742218
        },
        zoom: 17
      };

      var $featureMap1Element = $('#feature-map-1');
      $featureMap1Element.socrataFeatureMap(featureMap1VIF);
      $featureMap1Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $featureMap1Element.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);

      var $featureMap2Element = $('#feature-map-2');
      $featureMap2Element.socrataFeatureMap(featureMap2VIF);
      $featureMap2Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $featureMap2Element.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);

      var $featureMap3Element = $('#feature-map-3');
      $featureMap3Element.socrataFeatureMap(featureMap3VIF);
      $featureMap3Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $featureMap3Element.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);

      function handleFlyout(event) {

        var payload = event.originalEvent.detail;

        // Render/hide a flyout
        if (payload !== null) {
          flyoutRenderer.render(payload);
        } else {
          flyoutRenderer.clear();
        }
      }

      function handleCenterAndZoomChanged(event) {
        console.log('Map center and zoom changed: ' + JSON.stringify(event.originalEvent.detail));
      }

      /**
       * Destroy the plugin.
       *
       * The plugin (and all internal modules) can be destroyed by triggering
       * `destroy` on the element.
       */

      // $featureMap1Element.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $featureMap1Element.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $featureMap1Element.trigger('SOCRATA_VISUALIZATION_DESTROY');

      // $featureMap2Element.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $featureMap2Element.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $featureMap2Element.trigger('SOCRATA_VISUALIZATION_DESTROY');

      // $featureMap3Element.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $featureMap3Element.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $featureMap3Element.trigger('SOCRATA_VISUALIZATION_DESTROY');
    });
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a>
<div id="feature-map-1"></div>
<div id="feature-map-2"></div>
<div id="feature-map-3"></div>
