<% content_for :head do %>
  <title>Example Usage: Visualizations</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <style type="text/css">
    #content {
      margin-left: 1em;
    }
    #demos {
      margin-left: 1em;
    }
  </style>
<% end %>

<a href='/internal'>Internal Panel Home</a>
<h1>Available demos:</h1>
<div id="demos">
  <% Demos::VisualizationsController::available_demos.each do |demo| %>
    <%= link_to demo, "visualizations/#{demo}" %><br>
  <% end %>
</div>
