<% content_for :head do %>
  <title>Example Usage: RowInspector.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <%= rendered_stylesheet_tag 'visualizations' %>
  <style>
    body {
      border-right: solid 25px black;
    }

    body > div, label {
      font-size: 2rem;
    }

    #click-me {
      position: absolute;
      top: 50%;
      left: 0;
      right: 25px;
      font-size: 10em;
      text-align: center;
      background-color: rebeccapurple;
      min-height: 250px;
      color: white;
    }
  </style>
<% end %>

<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>

  <%= include_webpack_bundle 'visualization_example_pages/main.js' %>

  <script type="text/javascript">
    $(document).ready(function() {
      var validData = function(rowCount) {
        return _.map(_.range(1, parseInt(rowCount) + 1), function(rowIndex) {
          return _.map(_.range(1, Math.random() * 25 + 1), function(columnIndex) {
            return {
              column: 'row {0} col {1}'.format(rowIndex, columnIndex),
              value: _.uniqueId('row value ')
            }
          });
        });
      };

      socrata.visualizations.views.RowInspector.setup();

      $('#click-me').click(function(event) {
        if ($(event.target).closest('#socrata-row-inspector, #error').length) {
          return;
        }

        $(document.body).trigger('SOCRATA_VISUALIZATION_ROW_INSPECTOR_SHOW', {
          position: {pageX: event.pageX, pageY: event.pageY},
          error: $('#error:checked').length === 1,
          message: 'There was an unexpected error.'
        });

        setTimeout(function() {
          $(document.body).trigger('SOCRATA_VISUALIZATION_ROW_INSPECTOR_UPDATE', {
            position: {pageX: event.pageX, pageY: event.pageY},
            error: $('#error:checked').length === 1,
            message: 'There was an unexpected error.',
            data: validData($('#row-count').val())
          });
        }, 2000)
      });
    });
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a>
<div>
  <label for="row-count">Row Count</label>
  <input type="number" min="1" step="1" id="row-count" placeholder="Row Count" value="9">
</div>
<div>
  <input type="checkbox" id="error">
  <label for="error">If checked, will cause an error state on click.</label>
</div>
<div id="click-me">CLICK ANYWHERE HERE!</div>
