<% content_for :head do %>
  <title>Example Usage: SvgColumnChart.js</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <%= rendered_stylesheet_tag 'visualizations' %>
  <style type="text/css">
    div[id^=column-chart-] {
      display: block;
      position: relative;
      width: 640px;
      height: 480px;
      margin: 100px auto 0 auto;
    }
  </style>
<% end %>

<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>

  <%= include_webpack_bundle 'shared/visualizationExamplePages' %>

  <script type="text/javascript">

    $(document).ready(function() {

      /**
       * Set up VIFs
       */

      var DIMENSION = 'district_name';
      var MEASURE = 'proficient_2';
      var MEASURE_AGGREGATION = null;
      var DATASET_UID = 'mu6e-brbz';
      var DOMAIN = 'data.iowa.gov';
      var FILTERS = [
        {
          columnName: 'topic',
          function: 'binaryOperator',
          arguments: {
            operator: '=',
            operand: 'Math'
          }
        },
        {
          columnName: 'grade',
          function: 'binaryOperator',
          arguments: {
            operator: '=',
            operand: '3'
          }
        },
        {
          columnName: 'school_year',
          function: 'binaryOperator',
          arguments: {
            operator: '=',
            operand: '2014'
          }
        }
      ];

      var columnChart1Vif = {
        configuration: {
          viewSourceDataLink: true,
          axisLabels: {
            top: 'School District',
            right: '% Proficient',
            bottom: 'School Districts in Iowa, Sorted Alphabetically',
            left: '% of 3rd Grade Students Rated Proficient in Math (For Real)'
          }
        },
        description: 'Math proficiency by school district for 3rd graders in 2014',
        series: [
          {
            color: {
              secondary: null,
              highlight: '#44ffaa'
            },
            dataSource: {
              datasetUid: DATASET_UID,
              dimension: {
                columnName: DIMENSION,
                aggregationFunction: null
              },
              domain: DOMAIN,
              measure: {
                columnName: MEASURE,
                aggregationFunction: MEASURE_AGGREGATION
              },
              type: 'socrata.soql',
              filters: FILTERS
            },
            label: 'Proficient',
            type: 'columnChart',
            unit: {
              one: 'percent of students',
              other: 'percent of students'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        origin: {
          type: 'test_data',
          url: 'localhost'
        },
        title: 'Math Proficienty for 3rd Graders - Iowa Public Schools'
      };

      var VIF_1_COLUMN_NAME = 'category';
      var VIF_1_DATASET_UID = 'r6t9-rak2';
      var VIF_1_DOMAIN = 'dataspace.demo.socrata.com';

      // This is a version 1 VIF, which should be automatically migrated
      // when passed to the visualization.
      var columnChart2Vif = {
        'aggregation': {
          'columnName': null,
          'function': 'count'
        },
        'columnName': VIF_1_COLUMN_NAME,
        'configuration': {},
        'createdAt': '2014-01-01T00:00:00',
        'datasetUid': VIF_1_DATASET_UID,
        'domain': VIF_1_DOMAIN,
        'filters': [],
        'format': {
          'type': 'visualization_interchange_format',
          'version': 1
        },
        'origin': {
          'type': 'test_data',
          'url': 'localhost'
        },
        'title': VIF_1_COLUMN_NAME,
        'type': 'columnChart',
        'unit': {
          'one': 'case',
          'other': 'cases'
        }
      };

      var columnChart3Vif = _.cloneDeep(columnChart1Vif);
      columnChart3Vif.configuration.axisLabels = {
        top: null,
        right: null,
        bottom: 'School District',
        left: '# Proficient v.s. Total'
      };
      columnChart3Vif.series = [
        {
          color: {
            primary: 'silver',
            secondary: null,
          },
          dataSource: {
            datasetUid: DATASET_UID,
            dimension: {
              columnName: DIMENSION,
              aggregationFunction: null
            },
            domain: DOMAIN,
            measure: {
              columnName: 'proficient_1',
              aggregationFunction: null
            },
            type: 'socrata.soql',
            filters: FILTERS.concat([
              {
                columnName: 'district_name',
                function: 'binaryOperator',
                arguments: [
                  {
                    operator: '=',
                    operand: 'Ames'
                  },
                  {
                    operator: '=',
                    operand: 'Ankeny'
                  },
                  {
                    operator: '=',
                    operand: 'Cedar Falls'
                  }
                ],
                pivot: true
              }
            ])
          },
          label: 'Proficient',
          type: 'columnChart',
          unit: {
            one: 'student',
            other: 'students'
          }
        },
        {
          color: {
            primary: 'gold',
            secondary: null,
          },
          dataSource: {
            datasetUid: DATASET_UID,
            dimension: {
              columnName: DIMENSION,
              aggregationFunction: null
            },
            domain: DOMAIN,
            measure: {
              columnName: 'total',
              aggregationFunction: null
            },
            type: 'socrata.soql',
            filters: FILTERS.concat([
              {
                columnName: 'district_name',
                function: 'binaryOperator',
                arguments: [
                  {
                    operator: '=',
                    operand: 'Ames'
                  },
                  {
                    operator: '=',
                    operand: 'Ankeny'
                  },
                  {
                    operator: '=',
                    operand: 'Cedar Falls'
                  }
                ],
                pivot: true
              }
            ])
          },
          label: 'Total',
          type: 'columnChart',
          unit: {
            one: 'student',
            other: 'students'
          }
        }
      ];

      var columnChart4Vif = _.defaultsDeep({}, columnChart1Vif, {
        series: [{
          dataSource: {
            orderBy: {
              parameter: 'measure',
              sort: 'asc'
            }
          }
        }]
      });

      var columnChart5Vif = _.cloneDeep(columnChart3Vif);
      columnChart5Vif.configuration.measureAxisMinValue = 250;
      columnChart5Vif.configuration.measureAxisMaxValue = 500;

      var columnChart6Vif = {
        configuration: {
          viewSourceDataLink: true,
          showOtherCategory: true
        },
        description: 'Sum of Liquor sales by brand, ordered by bottle count descending, column limit = 10, showOtherCategory = true',
        series: [
          {
            color: {
              secondary: null,
              highlight: '#44ffaa'
            },
            dataSource: {
              datasetUid: 'm3tr-qhgy',
              dimension: {
                columnName: 'category_name',
                aggregationFunction: null
              },
              domain: 'data.iowa.gov',
              measure: {
                columnName: 'sale_bottles',
                aggregationFunction: 'sum'
              },
              type: 'socrata.soql',
              filters: [],
              orderBy: {
                parameter: 'measure',
                sort: 'desc'
              },
              limit: 10
            },
            label: 'Quantity',
            type: 'columnChart',
            unit: {
              one: 'bottle',
              other: 'bottles'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        origin: {
          type: 'test_data',
          url: 'localhost'
        },
        title: 'Iowa Liquor Sales'
      };

      var columnChart7Vif = {
        configuration: {
          viewSourceDataLink: true,
          axisLabels: {
            top: 'Year',
            right: null,
            bottom: 'Grouped by county names',
            left: 'Final Payments'
          },
          showOtherCategory: true,
          measureAxisMaxValue: 100
        },
        description: 'This dataset contains Iowa unemployment insurance benefit payments and number of benefit recipients by county. County data is based on the recipient’s place of residence. (Annual)',
        series: [
          {
            color: {
              secondary: null,
              highlight: '#44ffaa',
              palette: 'categorical'
            },
            dataSource: {
              datasetUid: 'yhbr-3t8a',
              dimension: {
                columnName: 'year',
                aggregationFunction: null,
                grouping: {
                  columnName: 'county_name'
                }
              },
              domain: 'data.iowa.gov',
              filters: [
                {
                  function: 'binaryOperator',
                  columnName: 'year',
                  arguments: [
                    {
                      operator: '=',
                      operand: '2000'
                    },
                    {
                      operator: '=',
                      operand: '2001'
                    },
                    {
                      operator: '=',
                      operand: '2002'
                    }
                  ]
                }
              ],
              limit: null,
              measure: {
                columnName: 'final_payments',
                aggregationFunction: 'sum'
              },
              orderBy: {
                parameter: 'measure',
                sort: 'asc'
              },
              type: 'socrata.soql'
            },
            label: '',
            type: 'columnChart',
            unit: {
              one: 'dollar',
              other: 'dollars'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        origin: {
          type: 'test_data',
          url: 'localhost'
        },
        title: 'Unemployment Insurance Recipients and UI Benefit Payments by County (Annual)'
      };

      var columnChart8Vif = {
        configuration: {
          viewSourceDataLink: true,
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Year',
            left: 'Final Payments'
          },
          showOtherCategory: true
        },
        description: 'This dataset contains Iowa unemployment insurance benefit payments and number of benefit recipients by county. County data is based on the recipient’s place of residence. (Annual)',
        series: [
          {
            color: {
              secondary: null,
              highlight: '#44ffaa',
              palette: 'categorical'
            },
            dataSource: {
              datasetUid: 'k6cs-ww27',
              dimension: {
                columnName: 'blood_alcohol_level',
                aggregationFunction: null,
                grouping: {
                  columnName: 'plausibility'
                }
              },
              domain: 'vertex-stories.test-socrata.com',
              filters: [],
              limit: 5,
              measure: {
                columnName: null,
                aggregationFunction: 'count'
              },
              orderBy: {
                parameter: 'measure',
                sort: 'desc'
              },
              type: 'socrata.soql'
            },
            label: '',
            type: 'columnChart',
            unit: {
              one: 'dollar',
              other: 'dollars'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        origin: {
          type: 'test_data',
          url: 'localhost'
        },
        title: 'Unemployment Insurance Recipients and UI Benefit Payments by County (Annual)'
      };

      var columnChart9Vif = _.cloneDeep(columnChart8Vif);
      columnChart9VifSecondSeries = _.cloneDeep(columnChart9Vif.series[0]);
      columnChart9VifSecondSeries.dataSource.dimension.grouping = null;
      columnChart9Vif.series.push(columnChart9VifSecondSeries);

      var columnChart10Vif = {
        "format": {
          "type": "visualization_interchange_format",
          "version": 2
        },
        "configuration": {
          "viewSourceDataLink": true,
          "showDimensionLabels": true,
          "xAxisScalingMode": "pan",
          "showLegend": true,
          "axisLabels": {
            "left": "something on the left",
            "bottom": "something on the bottom"
          }
        },
        "description": "But it is grouped.",
        "series": [
          {
            "color": {
              "primary": "#71abd9",
              "secondary": "#71abd9",
              "highlight": "#cccccc",
              "palette": "alternate1"
            },
            "dataSource": {
              "datasetUid": "r6t9-rak2",
              "dimension": {
                "columnName": "neighborhood",
                "aggregationFunction": null,
                "grouping": {
                  "columnName": "category"
                }
              },
              "domain": "dataspace.demo.socrata.com",
              "measure": {
                "columnName": null,
                "aggregationFunction": "count"
              },
              "orderBy": {
                "parameter": "measure",
                "sort": "desc"
              },
              "type": "socrata.soql",
              "filters": []
            },
            "label": null,
            "type": "columnChart",
            "unit": {
              "one": "case",
              "other": "cases"
            }
          }
        ],
        "title": "I Don't Know What This Chart Represents"
      };

      /**
       * Instantiate the plugins
       */

      var flyoutRenderer = new socrata.visualizations.views.FlyoutRenderer();

      var $columnChart1Element = $('#column-chart-1');
      $columnChart1Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart1Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart1Element.socrataSvgColumnChart(columnChart1Vif);

      var $columnChart2Element = $('#column-chart-2');
      $columnChart2Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart2Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart2Element.socrataSvgColumnChart(columnChart2Vif);

      var $columnChart3Element = $('#column-chart-3');
      $columnChart3Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart3Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart3Element.socrataSvgColumnChart(columnChart3Vif);

      var $columnChart4Element = $('#column-chart-4');
      $columnChart4Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart4Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart4Element.socrataSvgColumnChart(columnChart4Vif);

      var $columnChart5Element = $('#column-chart-5');
      $columnChart5Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart5Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart5Element.socrataSvgColumnChart(columnChart5Vif);

      var $columnChart6Element = $('#column-chart-6');
      $columnChart6Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart6Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart6Element.socrataSvgColumnChart(columnChart6Vif);

      var $columnChart7Element = $('#column-chart-7');
      $columnChart7Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart7Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart7Element.socrataSvgColumnChart(columnChart7Vif);

      var $columnChart8Element = $('#column-chart-8');
      $columnChart8Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart8Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart8Element.socrataSvgColumnChart(columnChart8Vif);

      var $columnChart9Element = $('#column-chart-9');
      $columnChart9Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart9Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart9Element.socrataSvgColumnChart(columnChart9Vif);

      var $columnChart10Element = $('#column-chart-10');
      $columnChart10Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $columnChart10Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $columnChart10Element.socrataSvgColumnChart(columnChart10Vif);

      /**
       * Handle plugin events
       */

      function handleFlyout(event) {
        var payload = event.originalEvent.detail;

        // Render/hide a flyout
        if (payload !== null) {

          flyoutRenderer.render(payload);

        } else {

          flyoutRenderer.clear();
        }
      }

      function handleVifUpdated(event) {
        var payload = event.originalEvent.detail;
        var renderVifEvent = jQuery.Event('SOCRATA_VISUALIZATION_RENDER_VIF');

        renderVifEvent.originalEvent = {
          detail: payload
        };

        $(this).trigger(renderVifEvent);
      }

      /**
       * How to destroy the plugin:
       */

      // $columnChart1Element.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $columnChart1Element.off('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      // $columnChart1Element.trigger('SOCRATA_VISUALIZATION_DESTROY');
    });
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a>
<div id="column-chart-1"></div>
<div id="column-chart-2"></div>
<div id="column-chart-3"></div>
<div id="column-chart-4"></div>
<div id="column-chart-5"></div>
<div id="column-chart-6"></div>
<p>Multi-series aggregated data with measure axis max value</p>
<div id="column-chart-7"></div>
<p>Multi-series aggregated data configured through a dimension grouping on number columns</p>
<div id="column-chart-8"></div>
<p>Multiple defined series and data grouping configured simultaneously should show an error</p>
<div id="column-chart-9"></div>
<p>Legend</p>
<div id="column-chart-10"></div>
