<% content_for :head do %>
  <title>Example Usage: SvgFeatureMap.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <%= rendered_stylesheet_tag 'visualizations' %>
  <style type="text/css">
    #svg-feature-map-1,
    #svg-feature-map-2,
    #svg-feature-map-3,
    #svg-feature-map-4,
    #svg-feature-map-5 {
      display: block;
      position: relative;
      width: 640px;
      height: 480px;
      margin: 50px auto 0 auto;
    }
  </style>
<% end %>

<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>

  <%= include_webpack_bundle 'shared/visualizationExamplePages' %>

  <script type="text/javascript">

    $(document).ready(function() {

      /**
       * Set up the plugin.
       */

      var DOMAIN = 'dataspace.demo.socrata.com';
      var DATASET_UID = 'r6t9-rak2';
      var COLUMN_NAME = 'point';

      var flyoutRenderer = new socrata.visualizations.views.FlyoutRenderer();
      socrata.visualizations.views.RowInspector.setup();

      var featureMap1Vif = {
        'aggregation': {
          'columnName': null,
          'function': 'count'
        },
        'columnName': COLUMN_NAME,
        'configuration': {
          // If the value of `datasetMetadata` is falsey then the feature map
          // plugin will make its own request for dataset metadata.
          // If it is truthy then this value will be used instead of making a new
          // request.
          'datasetMetadata': false,
          // Behavior
          'viewSourceDataLink': true,
          'interactive': false,
          'panAndZoom': true,
          'locateUser': true,
          'pointColor': '#0088ff',
          'pointOpacity': '0.24',
          // Base layer
          // 'baseLayerUrl': 'https://a.tiles.mapbox.com/v3/socrata-apps.ibp0l899/{z}/{x}/{y}.png',
          'baseLayerUrl': 'https://a.tiles.mapbox.com/v3/socrata-apps.3ecc65d4/{z}/{x}/{y}.png',
          'baseLayerOpacity': 0.8
        },
        'createdAt': '2014-01-01T00:00:00',
        'datasetUid': DATASET_UID,
        'description': 'An example Feature Map',
        'domain': DOMAIN,
        'filters': [],
        'format': {
          'type': 'visualization_interchange_format',
          'version': 1
        },
        'origin': {
          'type': 'test_data',
          'url': 'localhost'
        },
        title: 'Example Usage: SvgFeatureMap.js',
        type: 'featureMap',
        'unit': {
          'one': 'record',
          'other': 'records'
        }
      };

      var featureMap2Vif = _.cloneDeep(featureMap1Vif);
      featureMap2Vif.filters = [
        {
          function: 'binaryOperator',
          columnName: 'category',
          arguments: [
            {
              operator: '=',
              operand: 'Illegal Postings'
            }
          ]
        }
      ];

      var featureMap3Vif = {
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        configuration: {
          // If the value of `datasetMetadata` is falsey then the feature map
          // plugin will make its own request for dataset metadata.
          // If it is truthy then this value will be used instead of making a new
          // request.
          datasetMetadata: false,
          // Behavior
          interactive: true,
          panAndZoom: true,
          locateUser: true,
          pointOpacity: '0.24',
          // Base layer
          // 'baseLayerUrl': 'https://a.tiles.mapbox.com/v3/socrata-apps.ibp0l899/{z}/{x}/{y}.png',
          baseLayerUrl: 'https://a.tiles.mapbox.com/v3/socrata-apps.3ecc65d4/{z}/{x}/{y}.png',
          baseLayerOpacity: 0.8
        },
        description: '',
        series: [
          {
            color: {
              primary: '#0088ff'
            },
            dataSource: {
              datasetUid: DATASET_UID,
              dimension: {
                columnName: COLUMN_NAME,
                aggregationFunction: null
              },
              domain: DOMAIN,
              measure: {
                columnName: null,
                aggregationFunction: null
              },
              type: 'socrata.soql',
              filters: [],
            },
            label: null,
            type: 'featureMap',
            unit: {
              one: 'Thing',
              other: 'Things'
            }
          }
        ],
        title: ''
      };

      // Instantiate a second visualizaton with existing dataset metadata to test
      // row inspector events that have access to dataset metadata while we are
      // getting CORS into the frontend routes for metadata.
      var featureMap4Vif = _.cloneDeep(featureMap3Vif);
      featureMap4Vif.configuration.panAndZoom = false;
      featureMap4Vif.configuration.pointSize = 1.6;
      featureMap4Vif.series[0].dataSource.filters = [
        {
          function: 'binaryOperator',
          columnName: 'category',
          arguments: [
            {
              operator: '=',
              operand: 'Illegal Postings'
            }
          ]
        }
      ];

      var featureMap5Vif = _.cloneDeep(featureMap3Vif);
      featureMap5Vif.configuration.mapCenterAndZoom = {
        center: {
          lat: 47.5961688328413,
          lng: -122.3282253742218
        },
        zoom: 17
      };

      var $featureMap1Element = $('#svg-feature-map-1');
      $featureMap1Element.socrataSvgFeatureMap(featureMap1Vif);
      $featureMap1Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $featureMap1Element.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);

      var $featureMap2Element = $('#svg-feature-map-2');
      $featureMap2Element.socrataSvgFeatureMap(featureMap2Vif);
      $featureMap2Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $featureMap2Element.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);

      var $featureMap3Element = $('#svg-feature-map-3');
      $featureMap3Element.socrataSvgFeatureMap(featureMap3Vif);
      $featureMap3Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $featureMap3Element.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);

      var $featureMap4Element = $('#svg-feature-map-4');
      $featureMap4Element.socrataSvgFeatureMap(featureMap4Vif);
      $featureMap4Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $featureMap4Element.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);

      var $featureMap5Element = $('#svg-feature-map-5');
      $featureMap5Element.socrataSvgFeatureMap(featureMap5Vif);
      $featureMap5Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $featureMap5Element.on('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);

      function handleFlyout(event) {

        var payload = event.originalEvent.detail;

        // Render/hide a flyout
        if (payload !== null) {
          flyoutRenderer.render(payload);
        } else {
          flyoutRenderer.clear();
        }
      }

      function handleCenterAndZoomChanged(event) {
        console.log('Map center and zoom changed: ' + JSON.stringify(event.originalEvent.detail));
      }

      /**
       * Destroy the plugin.
       *
       * The plugin (and all internal modules) can be destroyed by triggering
       * `destroy` on the element.
       */

      // $featureMap1Element.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $featureMap1Element.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $featureMap1Element.trigger('SOCRATA_VISUALIZATION_DESTROY');

      // $featureMap2Element.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $featureMap2Element.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $featureMap2Element.trigger('SOCRATA_VISUALIZATION_DESTROY');

      // $featureMap3Element.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $featureMap3Element.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $featureMap3Element.trigger('SOCRATA_VISUALIZATION_DESTROY');

      // $featureMap4Element.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $featureMap4Element.off('SOCRATA_VISUALIZATION_MAP_CENTER_AND_ZOOM_CHANGED', handleCenterAndZoomChanged);
      // $featureMap4Element.trigger('SOCRATA_VISUALIZATION_DESTROY');
    });
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a><br>
Instantiated with a version 1 vif and migrated
<div id="svg-feature-map-1"></div>
Instantiated with a version 1 vif and migrated and filtered
<div id="svg-feature-map-2"></div>
Instantiated with a version 2 vif
<div id="svg-feature-map-3"></div>
Instantiated with a version 2 vif and filtered and point size defined
<div id="svg-feature-map-4"></div>
Instantiated with a version 2 vif and a center and zoom defined
<div id="svg-feature-map-5"></div>
