<% content_for :head do %>
  <title>Example Usage: SvgComboChart.js</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <%= rendered_stylesheet_tag 'visualizations' %>
  <style type="text/css">
    div[id^=combo-chart-] {
      display: block;
      position: relative;
      width: 640px;
      height: 480px;
      margin: 100px auto;
    }
  </style>
<% end %>

<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>

  <%= include_webpack_bundle 'visualization_example_pages/main.js' %>

  <script type="text/javascript">

    $(document).ready(function() {

      /**
        * Set up VIFs
        */

      const DIMENSION = 'district_name';
      const MEASURE = 'proficient_2';
      const MEASURE_AGGREGATION = null;
      const DATASET_UID = 'mu6e-brbz';
      const DOMAIN = 'data.iowa.gov';
      const FILTERS = [
        {
          columnName: 'topic',
          function: 'binaryOperator',
          arguments: {
            operator: '=',
            operand: 'Math'
          }
        },
        {
          columnName: 'grade',
          function: 'binaryOperator',
          arguments: {
            operator: '=',
            operand: '3'
          }
        },
        {
          columnName: 'school_year',
          function: 'binaryOperator',
          arguments: {
            operator: '=',
            operand: '2014'
          }
        }
      ];

      const comboChart1Vif = 
      {
        'format': {
          'type': 'visualization_interchange_format',
          'version': 2
        },
        'configuration': {
          'viewSourceDataLink': true,
          'showDimensionLabels': true,
          'xAxisScalingMode': 'pan',
          'showLegend': true,
          'axisLabels': {
            'left': 'LEFT',
            'right': 'RIGHT'
          },
          'useSecondaryAxisForLines': true
        },
        'description': 'And description!',
        'series': [
          {
            'color': {
              'primary': '#a6cee3',
              'secondary': '#a6cee3',
              'highlight': '#cccccc',
              'palette': 'alternate1'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'category',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'measure',
                'sort': 'desc'
              },
              'type': 'socrata.soql',
              'filters': []
            },
            'label': null,
            'type': 'comboChart.column',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          },
          {
            'color': {
              'primary': '#5b9ec9',
              'secondary': '#5b9ec9',
              'highlight': '#cccccc',
              'palette': 'alternate1'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'category',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'measure',
                'sort': 'desc'
              },
              'type': 'socrata.soql',
              'filters': []
            },
            'label': null,
            'type': 'comboChart.column',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          },
          {
            'color': {
              'primary': '#2d82af',
              'secondary': '#2d82af',
              'highlight': '#cccccc',
              'palette': 'alternate1'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'category',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'measure',
                'sort': 'desc'
              },
              'type': 'socrata.soql',
              'filters': []
            },
            'label': null,
            'type': 'comboChart.line',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          }
        ],
        'title': 'Two Columns and One Line Combo Chart'
      };

      const comboChart2Vif = 
      {
        'format': {
          'type': 'visualization_interchange_format',
          'version': 2
        },
        'configuration': {
          'viewSourceDataLink': true,
          'showDimensionLabels': true,
          'xAxisScalingMode': 'pan',
          'showLegend': true,
          'axisLabels': {
            'left': 'LEFT',
            'right': 'RIGHT',
            'bottom': 'BOTTOM'
          },
          'useSecondaryAxisForColumns': true
        },
        'description': 'And description!',
        'series': [
          {
            'color': {
              'primary': '#5b9ec9',
              'secondary': '#5b9ec9',
              'highlight': '#cccccc',
              'palette': 'categorical'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'category',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'measure',
                'sort': 'desc'
              },
              'type': 'socrata.soql',
              'filters': []
            },
            'label': null,
            'type': 'comboChart.column',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          },
          {
            'color': {
              'primary': '#2d82af',
              'secondary': '#2d82af',
              'highlight': '#cccccc',
              'palette': 'categorical'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'category',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'measure',
                'sort': 'desc'
              },
              'type': 'socrata.soql',
              'filters': []
            },
            'label': null,
            'type': 'comboChart.line',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          },
          {
            'color': {
              'primary': '#3b87a2',
              'secondary': '#3b87a2',
              'highlight': '#cccccc',
              'palette': 'categorical'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'category',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': 'supervisor_district',
                'aggregationFunction': 'sum'
              },
              'orderBy': {
                'parameter': 'measure',
                'sort': 'desc'
              },
              'type': 'socrata.soql',
              'filters': []
            },
            'label': null,
            'type': 'comboChart.line',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          }
        ],
        'title': 'Two Lines and One Column Combo Chart'
      };

      const comboChart3Vif = 
      {
        'format': {
          'type': 'visualization_interchange_format',
          'version': 2
        },
        'configuration': {
          'viewSourceDataLink': true,
          'showDimensionLabels': true,
          'xAxisScalingMode': 'pan',
          'showLegend': true,
          'axisLabels': {
            'bottom': 'Opened',
            'left': 'Cases'
          }
        },
        'description': 'Should show yearly buckets for 2008 through 2013 (inclusive)',
        'series': [
          {
            'color': {
              'primary': '#a6cee3',
              'secondary': '#a6cee3',
              'highlight': '#cccccc',
              'palette': 'categorical'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'opened',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'dimension',
                'sort': 'asc'
              },
              'type': 'socrata.soql',
              'filters': [],
              'precision': 'year'
            },
            'label': null,
            'type': 'comboChart.column',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          },
          {
            'color': {
              'primary': '#2d82af',
              'secondary': '#2d82af',
              'highlight': '#cccccc',
              'palette': 'categorical'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'opened',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'dimension',
                'sort': 'asc'
              },
              'type': 'socrata.soql',
              'filters': [],
              'precision': 'year'
            },
            'label': null,
            'type': 'comboChart.column',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          },
          {
            'color': {
              'primary': '#5b9ec9',
              'secondary': '#5b9ec9',
              'highlight': '#cccccc',
              'palette': 'categorical'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'opened',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'dimension',
                'sort': 'asc'
              },
              'type': 'socrata.soql',
              'filters': [],
              'precision': 'year'
            },
            'label': null,
            'type': 'comboChart.line',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          }
        ],
        'title': 'Combo Chart with Calendar_Date Dimension'
      };

      const comboChart4Vif = 
      {
        'format': {
          'type': 'visualization_interchange_format',
          'version': 2
        },
        'configuration': {
          'viewSourceDataLink': true,
          'showDimensionLabels': true,
          'xAxisScalingMode': 'pan',
          'showLegend': true,
          'axisLabels': {
            'bottom': 'Opened',
            'left': 'Cases'
          }
        },
        'description': 'Should show monthly buckets for 2008/07 through 2013/05 (inclusive)',
        'series': [
          {
            'color': {
              'primary': '#a6cee3',
              'secondary': '#a6cee3',
              'highlight': '#cccccc',
              'palette': 'categorical'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'opened',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'dimension',
                'sort': 'asc'
              },
              'type': 'socrata.soql',
              'filters': [],
              'precision': 'month'
            },
            'label': null,
            'type': 'comboChart.column',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          },
          {
            'color': {
              'primary': '#2d82af',
              'secondary': '#2d82af',
              'highlight': '#cccccc',
              'palette': 'categorical'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'opened',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'dimension',
                'sort': 'asc'
              },
              'type': 'socrata.soql',
              'filters': [],
              'precision': 'month'
            },
            'label': null,
            'type': 'comboChart.column',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          },
          {
            'color': {
              'primary': '#5b9ec9',
              'secondary': '#5b9ec9',
              'highlight': '#cccccc',
              'palette': 'categorical'
            },
            'dataSource': {
              'datasetUid': 'r6t9-rak2',
              'dimension': {
                'columnName': 'opened',
                'aggregationFunction': null
              },
              'domain': 'dataspace.demo.socrata.com',
              'measure': {
                'columnName': null,
                'aggregationFunction': 'count'
              },
              'orderBy': {
                'parameter': 'dimension',
                'sort': 'asc'
              },
              'type': 'socrata.soql',
              'filters': [],
              'precision': 'month'
            },
            'label': null,
            'type': 'comboChart.line',
            'unit': {
              'one': 'case',
              'other': 'cases'
            }
          }
        ],
        'title': 'Combo Chart with Calendar_Date Dimension'
      };


      /**
        * Instantiate the plugins
        */

      const flyoutRenderer = new socrata.visualizations.views.FlyoutRenderer();

      const $comboChart1Element = $('#combo-chart-1');
      $comboChart1Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $comboChart1Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $comboChart1Element.socrataSvgComboChart(comboChart1Vif);

      const $comboChart2Element = $('#combo-chart-2');
      $comboChart2Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $comboChart2Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $comboChart2Element.socrataSvgComboChart(comboChart2Vif);

      const $comboChart3Element = $('#combo-chart-3');
      $comboChart3Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $comboChart3Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $comboChart3Element.socrataSvgComboChart(comboChart3Vif);

      const $comboChart4Element = $('#combo-chart-4');
      $comboChart4Element.on('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      $comboChart4Element.on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );
      $comboChart4Element.socrataSvgComboChart(comboChart4Vif);

      /**
        * Handle plugin events
        */

      function handleFlyout(event) {
        const payload = event.originalEvent.detail;

        // Render/hide a flyout
        if (payload !== null) {

          flyoutRenderer.render(payload);

        } else {

          flyoutRenderer.clear();
        }
      }

      function handleVifUpdated(event) {
        const payload = event.originalEvent.detail;
        const renderVifEvent = jQuery.Event('SOCRATA_VISUALIZATION_RENDER_VIF');

        renderVifEvent.originalEvent = {
          detail: payload
        };

        $(this).trigger(renderVifEvent);
      }

      /**
        * How to destroy the plugin:
        */

      // $comboChart1Element.off('SOCRATA_VISUALIZATION_FLYOUT', handleFlyout);
      // $comboChart1Element.off('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      // $comboChart1Element.trigger('SOCRATA_VISUALIZATION_DESTROY');
    });
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a>
<div id="combo-chart-1"></div>
<div id="combo-chart-2"></div>
<div id="combo-chart-3"></div>
<div id="combo-chart-4"></div>
