<% content_for :head do %>
  <title>Example Usage: SvgTimelineChart.js</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <%= rendered_stylesheet_tag 'visualizations' %>
  <style type="text/css">
    [id^="timeline-chart-"] {
      display: block;
      position: relative;
      width: 640px;
      height: 480px;
      margin: 0 auto;
    }
  </style>
<% end %>

<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>

  <%= include_webpack_bundle 'visualization_example_pages/main.js' %>

  <script type="text/javascript">

    $(document).ready(function() {

      /**
       * Set up VIFs
       */

      var COLUMN_NAME = 'date';
      var DATASET_UID = '52my-2pak';
      var DOMAIN = 'dataspace.demo.socrata.com';

      var timelineChart1Vif = {
        configuration: {
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          }
        },
        description: 'Sample Description',
        series: [
          {
            dataSource: {
              datasetUid: DATASET_UID,
              dimension: {
                columnName: COLUMN_NAME,
                aggregationFunction: null
              },
              domain: DOMAIN,
              measure: {
                columnName: null,
                aggregationFunction: 'count'
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2001-01-01T00:00:00.000',
                    end: '2003-06-01T00:00:00.000'
                  },
                  columnName: COLUMN_NAME,
                  function: 'timeRange'
                }
              ],
              precision: 'DAY'
            },
            label: 'Incidents',
            type: 'timelineChart',
            unit: {
              one: 'incident',
              other: 'incidents'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        title: 'Sample Title'
      };

      var timelineChart2Vif = {
        configuration: {
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          }
        },
        description: 'Sample Description',
        series: [
          {
            dataSource: {
              datasetUid: DATASET_UID,
              dimension: {
                columnName: COLUMN_NAME,
                aggregationFunction: null
              },
              domain: DOMAIN,
              measure: {
                columnName: null,
                aggregationFunction: 'count'
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2001-01-01T00:00:00.000',
                    end: '2003-06-01T00:00:00.000'
                  },
                  columnName: COLUMN_NAME,
                  function: 'timeRange'
                }
              ],
              precision: 'MONTH'
            },
            label: 'Incidents',
            type: 'timelineChart',
            unit: {
              one: 'incident',
              other: 'incidents'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        title: 'Sample Title'
      };

      var timelineChart3Vif = {
        configuration: {
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          }
        },
        description: 'Sample Description',
        series: [
          {
            dataSource: {
              datasetUid: DATASET_UID,
              dimension: {
                columnName: COLUMN_NAME,
                aggregationFunction: null
              },
              domain: DOMAIN,
              measure: {
                columnName: null,
                aggregationFunction: 'count'
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2001-01-01T00:00:00.000',
                    end: '2003-06-01T00:00:00.000'
                  },
                  columnName: COLUMN_NAME,
                  function: 'timeRange'
                }
              ],
              precision: 'YEAR'
            },
            label: 'Incidents',
            type: 'timelineChart',
            unit: {
              one: 'incident',
              other: 'incidents'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        title: 'Sample Title'
      };

      var timelineChart4Vif = _.cloneDeep(timelineChart1Vif);
      _.set(timelineChart4Vif, 'series[0].dataSource.datasetUid', 'r6t9-rak2');
      _.set(timelineChart4Vif, 'series[0].dataSource.dimension.columnName', 'opened');
      _.set(timelineChart4Vif, 'series[0].dataSource.filters', []);
      _.unset(timelineChart4Vif, 'series[0].dataSource.precision');

      var timelineChart5Vif = _.cloneDeep(timelineChart1Vif);
      _.set(timelineChart5Vif, 'series[0].dataSource.datasetUid', 'r6t9-rak2');
      _.set(timelineChart5Vif, 'series[0].dataSource.dimension.columnName', 'opened');
      _.set(timelineChart5Vif, 'series[0].dataSource.filters', []);
      _.set(timelineChart5Vif, 'configuration.treatNullValuesAsZero', true);
      _.unset(timelineChart5Vif, 'series[0].dataSource.precision');

      var timelineChart6Vif = {
        configuration: {
          axisLabels: {
            top: null,
            right: null,
            bottom: 'School District',
            left: '% Proficient'
          }
        },
        description: 'Math proficiency by school district for 3rd graders in 2014',
        series: [
          {
            color: {
              primary: 'green'
            },
            dataSource: {
              datasetUid: 'qu5r-r47b',
              dimension: {
                columnName: 'reportweekending',
                aggregationFunction: null
              },
              domain: 'data.iowa.gov',
              measure: {
                columnName: 'initialclaims_ui',
                aggregationFunction: null
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2003-01-01T00:00:00.000',
                    end: '2004-01-01T00:00:00.000'
                  },
                  columnName: 'reportweekending',
                  function: 'timeRange'
                }
              ]
            },
            label: 'Initial claims',
            type: 'timelineChart.line',
            unit: {
              one: 'claim',
              other: 'claims'
            }
          },
          {
            color: {
              primary: 'yellow'
            },
            dataSource: {
              datasetUid: 'qu5r-r47b',
              dimension: {
                columnName: 'reportweekending',
                aggregationFunction: null
              },
              domain: 'data.iowa.gov',
              measure: {
                columnName: 'continuedweeks_ui',
                aggregationFunction: null
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2003-01-01T00:00:00.000',
                    end: '2004-01-01T00:00:00.000'
                  },
                  columnName: 'reportweekending',
                  function: 'timeRange'
                }
              ]
            },
            label: 'Continued weeks',
            type: 'timelineChart.line',
            unit: {
              one: 'claim',
              other: 'claims'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        title: 'Claims'
      };

      var timelineChart7Vif = {
        aggregation: {
          field: null,
          function: 'count'
        },
        columnName: COLUMN_NAME,
        configuration: {
          viewSourceDataLink: true,
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          },
          precision: 'DAY'
        },
        createdAt: '2014-01-01T00:00:00',
        datasetUid: DATASET_UID,
        domain: DOMAIN,
        filters: [
          {
            arguments: {
              start: '2001-01-01T00:00:00.000',
              end: '2002-06-01T00:00:00.000'
            },
            columnName: COLUMN_NAME,
            function: 'timeRange'
          }
        ],
        format: {
          type: 'visualization_interchange_format',
          version: 1
        },
        origin: {
          type: 'test_data',
          url: 'localhost'
        },
        title: COLUMN_NAME,
        type: 'timelineChart',
        unit: {
          one: 'case',
          other: 'cases'
        }
      };

      var timelineChart8Vif = _.cloneDeep(timelineChart1Vif);
      _.set(timelineChart8Vif, 'series[0].dataSource.datasetUid', 'mkvz-3tmj');
      _.set(timelineChart8Vif, 'series[0].dataSource.dimension.columnName', 'year');
      _.set(timelineChart8Vif, 'series[0].dataSource.domain', 'ori-performance.demo.socrata.com');
      _.set(timelineChart8Vif, 'series[0].dataSource.measure.columnName', 'breakfast_enrollment');
      _.set(timelineChart8Vif, 'series[0].dataSource.measure.aggregationFunction', null);
      _.set(timelineChart8Vif, 'configuration.treatNullValuesAsZero', false);
      _.set(timelineChart8Vif, 'series[0].dataSource.filters', [
      {
        arguments: {
          start: '2007-01-01T00:00:00.000',
          end: '2012-06-01T00:00:00.000'
        },
        columnName: 'year',
        function: 'timeRange'
      }
      ]);
      _.set(timelineChart8Vif, 'series[0].dataSource.precision', "YEAR");


      var timelineChart9Vif = _.cloneDeep(timelineChart2Vif);
      _.set(timelineChart9Vif, 'configuration.measureAxisMinValue', 35000);
      _.set(timelineChart9Vif, 'configuration.measureAxisMaxValue', 44000);

      var timelineChart10Vif = _.cloneDeep(timelineChart1Vif);
      _.unset(
        timelineChart10Vif,
        'series[0].dataSource.precision'
      );
      _.set(
        timelineChart10Vif,
        'series[0].color.palette',
        'categorical'
      );
      _.set(
        timelineChart10Vif,
        'series[0].dataSource.dimension.grouping',
        {
          columnName: 'primary_type'
        }
      );

      var timelineChart11Vif = {
        configuration: {
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          },
          measureAxisMinValue: 0,
          measureAxisMaxValue: 10,
          treatNullValuesAsZero: false
        },
        description: 'Sample Description',
        series: [
          {
            color: {
              palette: 'categorical'
            },
            dataSource: {
              datasetUid: 'k6cs-ww27',
              dimension: {
                columnName: 'incident_occurrence',
                aggregationFunction: null,
                grouping: {
                  columnName: 'blood_alcohol_level'
                }
              },
              domain: 'vertex-stories.test-socrata.com',
              measure: {
                columnName: null,
                aggregationFunction: 'count'
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2001-01-01T00:00:00.000',
                    end: '2003-06-01T00:00:00.000'
                  },
                  columnName: 'incident_occurrence',
                  function: 'timeRange'
                }
              ],
              precision: 'month'
            },
            label: 'Incidents',
            type: 'timelineChart',
            unit: {
              one: 'incident',
              other: 'incidents'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        title: 'Sample Title'
      };

      /**
       * Instantiate the plugins
       */

      var flyoutRenderer = new socrata.visualizations.views.FlyoutRenderer();

      var $timelineChart1Element = $('#timeline-chart-1');
      $timelineChart1Element.socrataSvgTimelineChart(timelineChart1Vif);

      var $timelineChart2Element = $('#timeline-chart-2');
      $timelineChart2Element.socrataSvgTimelineChart(timelineChart2Vif);

      var $timelineChart3Element = $('#timeline-chart-3');
      $timelineChart3Element.socrataSvgTimelineChart(timelineChart3Vif);

      var $timelineChart4Element = $('#timeline-chart-4');
      $timelineChart4Element.socrataSvgTimelineChart(timelineChart4Vif);

      var $timelineChart5Element = $('#timeline-chart-5');
      $timelineChart5Element.socrataSvgTimelineChart(timelineChart5Vif);

      var $timelineChart6Element = $('#timeline-chart-6');
      $timelineChart6Element.socrataSvgTimelineChart(timelineChart6Vif);

      var $timelineChart7Element = $('#timeline-chart-7');
      $timelineChart7Element.socrataSvgTimelineChart(timelineChart7Vif);

      var $timelineChart8Element = $('#timeline-chart-8');
      $timelineChart8Element.socrataSvgTimelineChart(timelineChart8Vif);

      var $timelineChart9Element = $('#timeline-chart-9');
      $timelineChart9Element.socrataSvgTimelineChart(timelineChart9Vif);

      var $timelineChart10Element = $('#timeline-chart-10');
      $timelineChart10Element.socrataSvgTimelineChart(timelineChart10Vif);

      var $timelineChart11Element = $('#timeline-chart-11');
      $timelineChart11Element.socrataSvgTimelineChart(timelineChart11Vif);

      $('[id^="timeline-chart-"]').on(
        'SOCRATA_VISUALIZATION_FLYOUT',
        handleFlyout
      );
      $('[id^="timeline-chart-"]').on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );

      /**
       * Handle plugin events
       */

      function handleFlyout(event) {
        var payload = event.originalEvent.detail;

        // Render/hide a flyout
        if (payload !== null) {

          flyoutRenderer.render(payload);

        } else {

          flyoutRenderer.clear();
        }
      }

      function handleVifUpdated(event) {
        var payload = event.originalEvent.detail;
        var renderVifEvent = jQuery.Event('SOCRATA_VISUALIZATION_RENDER_VIF');

        renderVifEvent.originalEvent = {
          detail: payload
        };

        $(this).trigger(renderVifEvent);
      }

      /**
       * How to destroy the plugin:
       */

      // $timelineChart1Element.off('SOCRATA_VISUALIZATION_TIMELINE_CHART_FLYOUT', handleFlyout);
      // $timelineChart1Element.off('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      // $timelineChart1Element.trigger('SOCRATA_VISUALIZATION_DESTROY');
    });
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a>
<p>With 'precision' set to 'DAY'</p>
<div id="timeline-chart-1"></div>
<p>Identical to the above except with 'precision' set to 'MONTH'</p>
<div id="timeline-chart-2"></div>
<p>Identical to the above except with 'precision' set to 'YEAR'</p>
<div id="timeline-chart-3"></div>
<p>Chart with null values</p>
<div id="timeline-chart-4"></div>
<p>Chart with null values and 'treatNullValuesAsZero' set to true</p>
<div id="timeline-chart-5"></div>
<p>Line variant with multiple series.
<div id="timeline-chart-6"></div>
<p>Version 1 vif, migrated at runtime to version 2. The data should be identical to the first chart on this page.</p>
<div id="timeline-chart-7"></div>
<p>Chart with OBE percent column as measure</p>
<div id="timeline-chart-8"></div>
<p>Measure axis limited between 35000 and 44000</p>
<div id="timeline-chart-9"></div>
<p>With dimension grouping enabled</p>
<div id="timeline-chart-10"></div>
<p>With precision set to 'month' as well as dimension grouping, measureAxisMinValue, measureAxisMaxValue and treatNullValuesAsZero enabled</p>
<div id="timeline-chart-11"></div>
