<% content_for :head do %>
  <title>Example Usage: SvgTimelineChart.js</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <%= rendered_stylesheet_tag 'visualizations' %>
  <style type="text/css">
    [id^="timeline-chart-"] {
      display: block;
      position: relative;
      width: 640px;
      height: 480px;
      margin: 0 auto;
    }
  </style>
<% end %>

<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>

  <%= include_webpack_bundle 'shared/visualizationExamplePages' %>

  <script type="text/javascript">

    $(document).ready(function() {
      function drawChart(vif) {
        $('<div>', {
          id: _.uniqueId('timeline-chart-')
        }).appendTo($('#content')).socrataSvgTimelineChart(vif);
      }

      /**
       * Set up VIFs
       */

      var COLUMN_NAME = 'date';
      var DATASET_UID = '52my-2pak';
      var DOMAIN = 'dataspace.demo.socrata.com';

      var timelineChart1Vif = {
        configuration: {
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          }
        },
        description: 'Sample Description',
        series: [
          {
            dataSource: {
              datasetUid: DATASET_UID,
              dimension: {
                columnName: COLUMN_NAME,
                aggregationFunction: null
              },
              domain: DOMAIN,
              measure: {
                columnName: null,
                aggregationFunction: 'count'
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2001-01-01T00:00:00.000',
                    end: '2003-06-01T00:00:00.000'
                  },
                  columnName: COLUMN_NAME,
                  function: 'timeRange'
                }
              ],
              precision: 'DAY'
            },
            label: 'Incidents',
            type: 'timelineChart',
            unit: {
              one: 'incident',
              other: 'incidents'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        title: 'With \'precision\' set to \'DAY\''
      };

      var timelineChart2Vif = {
        configuration: {
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          }
        },
        description: 'Sample Description',
        series: [
          {
            dataSource: {
              datasetUid: DATASET_UID,
              dimension: {
                columnName: COLUMN_NAME,
                aggregationFunction: null
              },
              domain: DOMAIN,
              measure: {
                columnName: null,
                aggregationFunction: 'count'
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2001-01-01T00:00:00.000',
                    end: '2003-06-01T00:00:00.000'
                  },
                  columnName: COLUMN_NAME,
                  function: 'timeRange'
                }
              ],
              precision: 'MONTH'
            },
            label: 'Incidents',
            type: 'timelineChart',
            unit: {
              one: 'incident',
              other: 'incidents'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        title: 'Identical to the above except with \'precision\' set to \'MONTH\''
      };

      var timelineChart3Vif = {
        configuration: {
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          }
        },
        description: 'Sample Description',
        series: [
          {
            dataSource: {
              datasetUid: DATASET_UID,
              dimension: {
                columnName: COLUMN_NAME,
                aggregationFunction: null
              },
              domain: DOMAIN,
              measure: {
                columnName: null,
                aggregationFunction: 'count'
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2001-01-01T00:00:00.000',
                    end: '2003-06-01T00:00:00.000'
                  },
                  columnName: COLUMN_NAME,
                  function: 'timeRange'
                }
              ],
              precision: 'YEAR'
            },
            label: 'Incidents',
            type: 'timelineChart',
            unit: {
              one: 'incident',
              other: 'incidents'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        title: 'Identical to the above except with \'precision\' set to \'YEAR\''
      };

      var timelineChart4Vif = _.cloneDeep(timelineChart1Vif);
      timelineChart4Vif.title = 'Chart with null values';
      _.set(timelineChart4Vif, 'series[0].dataSource.datasetUid', 'r6t9-rak2');
      _.set(timelineChart4Vif, 'series[0].dataSource.dimension.columnName', 'opened');
      _.set(timelineChart4Vif, 'series[0].dataSource.filters', []);
      _.unset(timelineChart4Vif, 'series[0].dataSource.precision');

      var timelineChart5Vif = _.cloneDeep(timelineChart1Vif);
      timelineChart5Vif.title = 'Chart with null values and \'treatNullValuesAsZero\' set to true';
      _.set(timelineChart5Vif, 'series[0].dataSource.datasetUid', 'r6t9-rak2');
      _.set(timelineChart5Vif, 'series[0].dataSource.dimension.columnName', 'opened');
      _.set(timelineChart5Vif, 'series[0].dataSource.filters', []);
      _.set(timelineChart5Vif, 'configuration.treatNullValuesAsZero', true);
      _.unset(timelineChart5Vif, 'series[0].dataSource.precision');

      // Vif V1, visually identical to first chart on page
      var timelineChart7Vif = {
        aggregation: {
          field: null,
          function: 'count'
        },
        columnName: COLUMN_NAME,
        configuration: {
          viewSourceDataLink: true,
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          },
          precision: 'DAY'
        },
        createdAt: '2014-01-01T00:00:00',
        datasetUid: DATASET_UID,
        domain: DOMAIN,
        filters: [
          {
            arguments: {
              start: '2001-01-01T00:00:00.000',
              end: '2002-06-01T00:00:00.000'
            },
            columnName: COLUMN_NAME,
            function: 'timeRange'
          }
        ],
        format: {
          type: 'visualization_interchange_format',
          version: 1
        },
        origin: {
          type: 'test_data',
          url: 'localhost'
        },
        title: COLUMN_NAME,
        type: 'timelineChart',
        unit: {
          one: 'case',
          other: 'cases'
        },
      };

      var timelineChart8Vif = _.cloneDeep(timelineChart1Vif);
      timelineChart8Vif.title = 'OBE percent column as measure';
      _.set(timelineChart8Vif, 'series[0].dataSource.datasetUid', 'bknp-frgi');
      _.set(timelineChart8Vif, 'series[0].dataSource.dimension.columnName', 'year');
      _.set(timelineChart8Vif, 'series[0].dataSource.domain', 'dataspace.demo.socrata.com');
      _.set(timelineChart8Vif, 'series[0].dataSource.measure.columnName', 'breakfast_enrollment');
      _.set(timelineChart8Vif, 'series[0].dataSource.measure.aggregationFunction', null);
      _.set(timelineChart8Vif, 'configuration.treatNullValuesAsZero', false);
      _.set(timelineChart8Vif, 'series[0].dataSource.filters', [
      {
        arguments: {
          start: '2007-01-01T00:00:00.000',
          end: '2012-06-01T00:00:00.000'
        },
        columnName: 'year',
        function: 'timeRange'
      }
      ]);
      _.set(timelineChart8Vif, 'series[0].dataSource.precision', "YEAR");


      var timelineChart9Vif = _.cloneDeep(timelineChart2Vif);
      timelineChart9Vif.title = 'Measure axis limited between 35000 and 44000';
      _.set(timelineChart9Vif, 'configuration.measureAxisMinValue', 35000);
      _.set(timelineChart9Vif, 'configuration.measureAxisMaxValue', 44000);

      var timelineChart10Vif = _.cloneDeep(timelineChart1Vif);
      timelineChart10Vif.title = 'dimension grouping';
      _.unset(
        timelineChart10Vif,
        'series[0].dataSource.precision'
      );
      _.set(
        timelineChart10Vif,
        'series[0].color.palette',
        'categorical'
      );
      _.set(
        timelineChart10Vif,
        'series[0].dataSource.dimension.grouping',
        {
          columnName: 'primary_type'
        }
      );

      var timelineChart11Vif = {
        configuration: {
          axisLabels: {
            top: null,
            right: null,
            bottom: 'Date',
            left: 'Amount'
          },
          measureAxisMinValue: 0,
          measureAxisMaxValue: 10,
          treatNullValuesAsZero: false
        },
        description: 'Sample Description',
        series: [
          {
            color: {
              palette: 'categorical'
            },
            dataSource: {
              datasetUid: 'k6cs-ww27',
              dimension: {
                columnName: 'incident_occurrence',
                aggregationFunction: null,
                grouping: {
                  columnName: 'blood_alcohol_level'
                }
              },
              domain: 'vertex-stories.test-socrata.com',
              measure: {
                columnName: null,
                aggregationFunction: 'count'
              },
              type: 'socrata.soql',
              filters: [
                {
                  arguments: {
                    start: '2001-01-01T00:00:00.000',
                    end: '2003-06-01T00:00:00.000'
                  },
                  columnName: 'incident_occurrence',
                  function: 'timeRange'
                }
              ],
              precision: 'month'
            },
            label: 'Incidents',
            type: 'timelineChart',
            unit: {
              one: 'incident',
              other: 'incidents'
            }
          }
        ],
        createdAt: '2014-01-01T00:00:00',
        format: {
          type: 'visualization_interchange_format',
          version: 2
        },
        title: 'precision=month, dimension grouping, custom measure min/max, treating nulls as zero'
      };

      /**
       * Instantiate the plugins
       */

      var flyoutRenderer = new socrata.visualizations.views.FlyoutRenderer();

      [
        timelineChart1Vif,
        timelineChart2Vif,
        timelineChart3Vif,
        timelineChart4Vif,
        timelineChart5Vif,
        window.socrata.sampleVifsByChartType.timelineChartMultipleSeries,
        timelineChart7Vif,
        timelineChart8Vif,
        timelineChart9Vif,
        timelineChart10Vif,
        timelineChart11Vif,
        window.socrata.sampleVifsByChartType.timelineChartWithDashedLine
      ].forEach(drawChart);

      $('[id^="timeline-chart-"]').on(
        'SOCRATA_VISUALIZATION_FLYOUT',
        handleFlyout
      );
      $('[id^="timeline-chart-"]').on(
        'SOCRATA_VISUALIZATION_VIF_UPDATED',
        handleVifUpdated
      );

      /**
       * Handle plugin events
       */

      function handleFlyout(event) {
        var payload = event.originalEvent.detail;

        // Render/hide a flyout
        if (payload !== null) {

          flyoutRenderer.render(payload);

        } else {

          flyoutRenderer.clear();
        }
      }

      function handleVifUpdated(event) {
        var payload = event.originalEvent.detail;
        var renderVifEvent = jQuery.Event('SOCRATA_VISUALIZATION_RENDER_VIF');

        renderVifEvent.originalEvent = {
          detail: payload
        };

        $(this).trigger(renderVifEvent);
      }

      /**
       * How to destroy the plugin:
       */

      // $timelineChart1Element.off('SOCRATA_VISUALIZATION_TIMELINE_CHART_FLYOUT', handleFlyout);
      // $timelineChart1Element.off('SOCRATA_VISUALIZATION_VIF_UPDATED', handleVifUpdated);
      // $timelineChart1Element.trigger('SOCRATA_VISUALIZATION_DESTROY');
    });
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a>
