<% content_for :head do %>
  <title>Example Usage: UnifiedMap.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">

  <%= rendered_stylesheet_tag 'visualizations' %>
  <style type="text/css">
    .content-section {
      max-width: 1020px;
      margin: auto;
    }

    .sample-container {
      height: 500px;
      margin: 0 auto;
    }
    .sample-container:after {
      clear: both;
    }
    .sample-container .left-section {
      width: 48%;
      float: left;
    }

    .sample-container .right-section {
      width: 48%;
      float: right;
    }

    .sample-container .left-section textarea {
      width: 100%;
      height: 400px;
    }
    .sample-container .left-section button {
      width: 100%;
      height: 30px;
    }

    .sample-container .right-section .map {
      display: block;
      position: relative;
      height: 440px;
    }

    .mapboxgl-ctrl-logo{
      display: none !important;
    }
    .mapboxgl-ctrl-compass {
      display: none !important;
    }
  </style>
<% end %>

<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>
  <%= include_webpack_bundle 'visualization_example_pages/main.js' %>

  <script type="text/javascript">
    $(document).ready(function() {
      var baseVif = {
        'configuration': {
          'viewSourceDataLink': false,
          'interactive': false,
          'panAndZoom': true,
          'locateUser': true,
          'baseMapStyle': 'mapbox://styles/mapbox/light-v9',
        },
        'series': [ {
          'color': {
            'primary': "#eb6900",  // is set when colorLinesBy/colorPointsBy is NOT selected
            'palette': "alternate1" // is set when colorLinesBy/colorPointsBy is selected
          },
          'dataSource': {
            'datasetUid': 'TO-FILL',
            'dimension': {
              'columnName': 'TO-FILL',
              'aggregationFunction': null
            },
            'domain': 'TO-FILL',
            'measure': {
              'columnName': null,
              'aggregationFunction': null
            },
            'type': 'socrata.soql',
            'filters': []
          },
          'label': null,
          'type': 'map',
          'mapOptions': {},
          'unit': {
            'one': 'Thing', // TODO: NOT YET IMPLEMENTED
            'other': 'Things' // TODO: NOT YET IMPLEMENTED
          }
        } ],
        'domain': 'dataspace.demo.socrata.com',
        'filters': [],
        'format': {
          'type': 'visualization_interchange_format',
          'version': 2
        },
        'description': 'Description from VIF',
        'title': 'Title',
      }

      var pointMapVif = _.cloneDeep(baseVif);
      pointMapVif.series[0].dataSource.domain = 'dataspace.demo.socrata.com';
      pointMapVif.series[0].dataSource.datasetUid = 'r6t9-rak2';
      pointMapVif.series[0].dataSource.dimension.columnName = 'point';
      pointMapVif.series[0].mapOptions = {
        'mapType': 'pointMap',
        'resizePointsBy': "case_id",
        'colorPointsBy': "status",
        'minimumPointSize': 4,
        'maximumPointSize': 9,
      };
      pointMapVif.configuration.opacity = '0.24';

      var polygonMapVif = _.cloneDeep(baseVif);
      polygonMapVif.series[0].dataSource.domain = 'dataspace.demo.socrata.com';
      polygonMapVif.series[0].dataSource.datasetUid = 'snuk-a5kv';
      polygonMapVif.series[0].dataSource.dimension.columnName = 'the_geom';
      polygonMapVif.series[0].mapOptions = {
        'mapType': 'boundaryMap',
      };

      var lineMapVif = _.cloneDeep(baseVif);
      lineMapVif.series[0].dataSource.domain = 'data.jacksonms.gov';
      lineMapVif.series[0].dataSource.datasetUid = '5ceb-88rb';
      lineMapVif.series[0].dataSource.dimension.columnName = 'the_geom';
      lineMapVif.series[0].mapOptions = {
        'mapType': 'lineMap',
      };

      $('#unified-map-point').socrataUnifiedMap(pointMapVif);
      $('#pointMapVif').val(JSON.stringify(pointMapVif, null, 4));

      $('#unified-map-polygon').socrataUnifiedMap(polygonMapVif);
      $('#polygonMapVif').val(JSON.stringify(polygonMapVif, null, 4));

      $('#unified-map-line').socrataUnifiedMap(lineMapVif);
      $('#lineMapVif').val(JSON.stringify(lineMapVif, null, 4));
    });
    function  changeVif(mapContainerId) {
      var unifiedMapVif = $('#' + mapContainerId +'MapVif').val();
      var $unifiedMapElement = $('#unified-map-'+ mapContainerId);
      var renderVifEvent = new $.Event('SOCRATA_VISUALIZATION_RENDER_VIF');
      renderVifEvent.originalEvent = {
        detail: JSON.parse(unifiedMapVif)
      };
      $unifiedMapElement.trigger(renderVifEvent);
    }
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a><br>
<div class="content-section">

  Point Map
  <div class="sample-container">
    <div class="left-section">
      <textarea rows="20" id="pointMapVif"></textarea>
      <button onclick="changeVif('point')">Update</button>
    </div>
    <div class="right-section">
      <div id="unified-map-point" class="map"></div>
    </div>
  </div>

  Polygon Map
  <div class="sample-container">
    <div class="left-section">
      <textarea rows="20" id="polygonMapVif"></textarea>
      <button onclick="changeVif('polygon')">Update</button>
    </div>
    <div class="right-section">
      <div id="unified-map-polygon" class="map"></div>
    </div>
  </div>

  Line Map
  <div class="sample-container">
    <div class="left-section">
      <textarea rows="20" id="lineMapVif"></textarea>
      <button onclick="changeVif('line')">Update</button>
    </div>
    <div class="right-section">
      <div id="unified-map-line" class="map"></div>
    </div>
  </div>
</div>

