<% content_for :head do %>
  <title>Example Usage: Visualization React Component</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <%= rendered_stylesheet_tag 'visualizations' %>
  <style>
    #chart {
      display: block;
      position: relative;
      width: 640px;
      height: 490px;
    }
  </style>
<% end %>


<% content_for :scripts do %>
  <%= render_demos_javascript_environment %>

  <%= include_webpack_bundle 'shared/visualizationExamplePages' %>

  <script type="text/javascript">
    var Visualization = socrata.visualizations.components.Visualization;
    var chart = document.getElementById('chart');
    var visualization;

    $(function() {
      $('button').click(function(e) {
        e.preventDefault();
        ReactDOM.render(
          React.createElement(Visualization, {vif: window.socrata.sampleVifsByChartType[this.id]}),
          chart
        );
      });

      $('#timelineChart').focus(); // this focus is just for the effect :)
      ReactDOM.render(
        React.createElement(Visualization, {vif: window.socrata.sampleVifsByChartType.timelineChart}),
        chart
      );
    });
  </script>
<% end %>

<a href="/internal">Internal Panel Home</a><br>
<a href="/internal/demos/visualizations">Back to demo list</a><br>
<button id="barChart" class="btn btn-alternate-2 btn-inverse">Bar Chart</button>
<button id="columnChart" class="btn btn-alternate-2 btn-inverse">Column Chart</button>
<button id="comboChart" class="btn btn-alternate-2 btn-inverse">Combo Chart</button>
<button id="featureMap" class="btn btn-alternate-2 btn-inverse">Feature Map</button>
<button id="histogram" class="btn btn-alternate-2 btn-inverse">Histogram</button>
<button id="pieChart" class="btn btn-alternate-2 btn-inverse">Pie Chart</button>
<button id="regionMap" class="btn btn-alternate-2 btn-inverse">Region Map</button>
<button id="table" class="btn btn-alternate-2 btn-inverse">Table</button>
<button id="timelineChart" class="btn btn-alternate-2 btn-inverse">Timeline Chart</button>
<button id="invalidChart" class="btn btn-alternate-2 btn-inverse">Invalid VIF</button>

<div id="chart"></div>
