<%- if !current_user.nil? -%>
  <li class="accountLink"><a href="<%= profile_index_path %>"
    title="Your Home"><span class="text">Hello, <%= current_user.displayName %></span></a></li>
<%- end -%>
