<li class="signOutLink<%= ' hide' unless current_user %>"><a href="<%= logout_url %>" rel="nofollow"
  class="ss-logout" title="<%= CurrentDomain.strings.sign_out %>"><span class="text"><%= CurrentDomain.strings.sign_out %></span></a>
