<%- if current_user.nil? -%>
<li class="signInLink"><a href="<%= login_url %>" rel="nofollow"
  class="ss-login" title="<%= CurrentDomain.strings.sign_in %>"><span class="text"><%= CurrentDomain.strings.sign_in %></span></a>
<%- end -%>
