<li class="accountLink dataLink">
  <%= link_to CurrentDomain.strings.user_home, profile_index_path %>
  <%= render :partial => 'shared/template/user_menu', :locals => { :menu_class => 'userMenu' } %>
</li>

