<!DOCTYPE html>
<html>
<head>
  <title>Chrome</title>
  <%= stylesheet_link_tag    "chrome/application", media: "all" %>
  <%= javascript_include_tag "chrome/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
