<div>
  <div id="du" class="dropdown" data-orientation="top">
    <span><%= title %></span>
    <ul class="dropdown-options">
      <% options.each do |option| %>
        <li><a href="#"><%= option %></a></li>
      <% end %>
    </ul>
  </div>
</div>
