<div class="radiobutton">
  <% labels.each do |label| %>
  <div>
    <% if label[:checked] %>
    <input type="radio" id="<%= label[:id] %>" name="radio" checked>
    <% else %>
    <input type="radio" id="<%= label[:id] %>" name="radio">
    <% end %>
    <label for="<%= label[:id] %>"><span></span><%= label[:id] %></label>
  </div>
  <% end %>
</div>
