<% content_for :head do %>
    <title><%= CurrentDomain.strings.site_title %> Invalid Document Request Token</title>
    <%= rendered_stylesheet_tag 'error-pages' %>
<% end %>

<div class="modalContentBox siteContent">
    <div class="contentHeader">
        <h1>Invalid Document Request Token</h1>
    </div>
    <div class="contentBoxInner clearfix notFound">
        <div class="icon errorIcon"></div>

        <p class="subheadline"></p>
        <p class="body">
            An invalid download token was provided.
        </p>

        <div class="goSomewhere">
            <span class="labelText"><%= t 'error.not_found_404.back_to'  %></span> <a href="/" class="button default"><%= CurrentDomain.cname %></a>
        </div>
    </div>
</div>
