<div class="mobile-menu">
  <h2 class="menu-header-title">Menu</h2> <!-- TODO - localization for platform words -->
  <a class="menu-toggle" href="#">
    <span class="icon-close-2"></span>
  </a>

  <div class="menu-content">
    <div class="nav-links">
      <%= render 'site_chrome/nav_links' %>
    </div>

    <div class="menu-section-header">Account</div>

    <%= render 'site_chrome/mobile_user_actions' %>

    <div class="nav-links social-links">
      <%= render 'site_chrome/social_links', show_label: true %>
    </div>

    <div class="nav-links">
      <%= render 'site_chrome/searchbox', path: '/browse' %>
    </div>
  </div>
</div>
