<div class="mobile-user-actions">
  <% if logged_in? %>
    <%= link_to('/profile', :class => 'profile-link chrome-mobile-btn') do %>
      <%= content_tag(:span, nil, :class => 'icon-user')  %>
      <%= username %>
    <% end %>
  <% else %>
    <%= link_to('Sign In', '/login', :class => 'chrome-mobile-btn') %>
  <% end %>
</div>
