<div class="mobile-user-actions">
  <% if logged_in? %>
    <%= link_to('View Profile', '/profile', :class => 'profile-link site-chrome-mobile-btn inverse-btn') %>
    <%- if current_user_is_admin? %>
      <%= link_to('Administration', '/admin', :class => 'admin-link site-chrome-mobile-btn inverse-btn') %>
    <%- end %>
    <%= link_to('Sign Out', '/logout', :class => 'logout-link site-chrome-mobile-btn') %>
  <% else %>
    <%= link_to('Sign In', '/login', :class => 'sign-in-toggle site-chrome-mobile-btn') %>
  <% end %>
</div>
