<div class="mobile-menu">
  <h2 class="menu-header-title">Menu</h2> <!-- TODO - localization for platform words -->
  <a class="menu-toggle" href="#" onclick="mobileMenuToggle()">
    <span class="icon-close-2"></span>
  </a>

  <div class="menu-content">
    <div class="site-chrome-nav-links">
      <%= render 'site_chrome/nav_links' %>
    </div>

    <%= render 'site_chrome/mobile_user_actions' %>

    <%= render 'site_chrome/searchbox', path: '/browse', mobile: true %>

    <div class="site-chrome-nav-links site-chrome-social-links">
      <%= render 'site_chrome/social_links', show_label: true %>
    </div>
  </div>
</div>
