<div class="searchbox">
  <form action="<%= path %>" method="get">
    <input type="text" name="q" placeholder="Search"> <!-- TODO - localization for platform words -->
    <button type="submit" class="search-button" value="">
      <span class="icon-search" title="Search"></span>
    </button>
  </form>
</div>
