@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.dsmp-status-base {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  position: absolute;
  height: 10px;
  width: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.dsmp-status-initialized {
  background-color: transparent;
  border: 1px solid $primary-base;
}

.dsmp-status-saved {
  background-color: $success-dark;
  border: 1px solid $success-dark;
}

.dsmp-status-unsaved {
  background-color: $primary-base;
}

.dsmp-status-errored {
  background-color: $error;
  border: 1px solid $error;
}
