@import "variables/colors";
@import "variables/layout";

$editable-text-transition: all 250ms;

.editable-text {
  display: inline-block;
  width: 100%;

  form {
    margin: 1px 0px;
    margin-left: -2px;
  }

  input {
    width: 100%;
    letter-spacing: inherit;
  }

}

.editable-text-display {
  padding: 0px;
  border: transparent 1px solid;
  display: inline-block;
  transition: $editable-text-transition;

  &.highlight {
    border: $light-grey-3 1px solid;
    border-radius: $btn-border-radius;

    .editable-text-btn {
      opacity: 1;
    }
  }

  // TODO Consider using em units to adjust to inherited font-size
  .editable-text-btn {
    display: inline-block;
    height: 100%;
    padding: 0px 7px;
    color: $grey;
    opacity: 0;
    transition: $editable-text-transition;

    .socrata-icon-edit {
      font-size: 0.8em;
    }
  }
}
