<p>Button groups can contain a mixture of anchor and button tags.</p>
<div class="btn-group">
  <a class="btn btn-default">Anchor One</a>
  <a class="btn btn-default">Anchor Two</a>
  <button class="btn btn-default">Button Three</button>
</div>
