<div class="<%= component_container_classes(layout_columns[index]) %>">
  <div class="<%= component_classes(component['type']) %>" data-component-data="<%= component.to_json %>">
    <%=
      render(
        partial: component_partial_name(component['type']),
        locals: { component: component, columns: layout_columns[index] }
      )
    %>
  </div>
</div>
