<% content_for :head do %>
  <title><%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag 'error-pages' %>
<% end %>

<div class="modalContentBox siteContent">
  <div class="contentHeader">
    <h1>No permission to access resource.</h1>
  </div>
  <div class="contentBoxInner clearfix unauthorized">
    <div class="icon errorIcon"></div>

    <p class="subheadline">We&rsquo;re sorry, but it appears that you do not
      have permission to access this page.</p>
    <p class="body">If you believe this to be an error,
      try logging out and back in as a different user <a href="/login">here</a>.</p>

    <div class="goSomewhere">
      <a href="javascript:history.back(1)" class="button default">Back</a>
      <span class="labelText">to where you came from.</span>
    </div>
  </div>
</div>
