<% content_for :head do %>
  <title><%= t(:page_title) %></title>
<% end %>

<div class='dialogBox'>
  <div class='header'>
    <h1>t(:blist_company)</h1>
  </div>

  <div class="mainContent">
    <div class="title clearfix">
      <h1>Something&apos;s wrong!</h1>
    </div>

    <p style="font-size: 1.5em">We're sorry, but there was a problem processing your request.
    Please try again in a few moments, or <a href="mailto:support@blist.com">contact our support
    team</a> with the details of what you were trying to do.</p>
  </div>
</div>
