<% content_for :head do %>
  <title><%= CurrentDomain.strings.site_title %></title>
  <%= rendered_stylesheet_tag 'error-pages' %>
<% end %>

<div class="modalContentBox siteContent">
  <div class="contentHeader">
    <h1>Page not found.</h1>
  </div>
  <div class="contentBoxInner clearfix notFound">
    <div class="icon errorIcon"></div>

    <p class="subheadline">We&rsquo;re really sorry, but the page you requested cannot be found.</p>
    <p class="body">The page either does not exist or has moved. We think the
       best thing to do is start again from the <%= link_to 'home page', root_path %>.
       Feel free to contact us if the problem persists or if you
       definitely can&rsquo;t find what you are looking for. Thank
       you.</p>

    <div class="goSomewhere">
      <span class="labelText">Back to</span> <a href="/" class="button default"><%= CurrentDomain.cname %></a>
    </div>
  </div>
</div>
