<% content_for :head do %>
  <title>Socrata</title>
  <%= rendered_stylesheet_tag 'error-pages' %>
<% end %>

<div class="modalContentBox siteContent">
  <div class="contentHeader">
    <h1>Something&rsquo;s wrong!</h1>
  </div>
  <div class="contentBoxInner clearfix internalError">
    <div class="icon errorIcon"></div>

    <p class="subheadline">We&rsquo;re sorry, but there was a problem processing your request.</p>
    <p class="body">Please try again in a few moments, or <a href="http://support.socrata.com">report
      this error</a> with the details of what you were trying to do.</p>
  </div>
</div>
