<% content_for :head do %>
  <title>Socrata</title>  
<% end %>

<% dialog_content do %>
  <div class='header'>
    <h1>Socrata</h1>
  </div>

  <div class="mainContent">
    <div class="title clearfix">
      <h1>Something&#39;s wrong!</h1>
    </div>

    <p style="font-size: 1.5em">We're sorry, but there was a problem processing your request.
    Please try again in a few moments, or <a href="/contact-us">report this error</a> with the details of what you were trying to do.</p>
  </div>
<% end %>
