<div class="application-error-container">
  <h1 class="application-error-status-code"><%== @status.to_s.chars.join('&nbsp;' * 3) %></h1>
  <h1 class="application-error-title"><%= @title %></h1>
  <img src="<%= image_path('error.png') %>" class="application-error-image" />
  <p class="application-error-description"><%= @description %></p>
</div>
