<%- item = contact_activity_list_item -%>
<li>
  <p class="contact">
    <%= link_to(image_tag(item.actor.profile_image_path("small"),
                :size => "24x24", :alt => h(item.actor.displayName)),
                profile_path(item.actor.id)) %>
    <%= link_to(h(item.actor.displayName), profile_path(item.actor.id), :title => h(item.actor.displayName)) %>
  </p>
  <p class="preview">
    <%= get_verb_for_activity_action(item.action) %>
    <%= get_html_for_action_object(item) %>
  </p>
</li>
