<nav class="edit-bar">
  <button data-panel-toggle="settings-panel" class="socrata-icon-stories-menu btn-menu"></button>
  <span class="page-name" role="button" data-panel-toggle="settings-panel"><%= name %></span>
  <button class="btn btn-warning">A Yellow Button</button>
</nav>
