
	<span class="powered-by-socrata">
		<span class="powered-by">Powered By</span> 
		<%= image_tag 'socrata-logo-pb.png', :class => 'logo', :alt => 'Socrata' %>
	</span>


	<span class="powered-by-socrata mini">
		<span class="powered-by">Powered By</span>
		<%= image_tag 'socrata-logo-pb-mini.png', :class => 'logo', :alt => 'Socrata' %>
	</span> 

