@import "styleguide-colors";
@import "../breakpoints";
@import "./results-container";

.asset-selector.modal {
  overflow-y: hidden;

  .modal-header {
    z-index: 1;
  }

  .modal-content {
    margin-bottom: 0; // AssetSelector does not have a ModalFooter, remove the margin for it.
  }
}
