$default-line-height: 1.618;
$default-line-spacing: 15px * $default-line-height;

@mixin base {
  font-family: $default-font-stack;
  font-size: ms(0);
  line-height: $default-line-height;
  color: $dark-grey-1;
}

@mixin default-font {
  font-family: $default-font-stack;
  line-height: 1.25;
}

@mixin default-spacing {
  margin-top: $default-line-spacing;
  margin-bottom: $default-line-spacing;
}

a.unstyled-link {
  color: $primary-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*
 * All of the headings. Additional "heaing classes" are used to style
 * type in contexts where the heading style and semantics don't align.
 */
@mixin header {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  letter-spacing: -0.3px;
  font-weight: 600;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include header;
}

@mixin h1 {
  font-size: ms(5);
}

.h1 {
  @include h1;
}

@mixin h2 {
  font-size: ms(4);
}

.h2 {
  @include h2;
}

@mixin h3 {
  font-size: ms(3);
}

.h3 {
  @include h3;
}

@mixin h4 {
  font-size: ms(2);
}

.h4 {
  @include h4;
}

@mixin h5 {
  font-size: ms(1);
}

.h5 {
  @include h5;
}

@mixin h6 {
  font-size: ms(0);
}

.h6 {
  @include h6;
}

.intro {
  font-size: ms(1);
  font-weight: 200;
}

.small {
  font-size: ms(-1);
}

.x-small {
  font-size: ms(-3);
}

.quiet {
  color: $quiet-text-color;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin triangle() {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  border-style: solid;
  border-color: $grey transparent;
}

@mixin triangle-down() {
  @include triangle;

  border-width: 6px 6px 0;
  margin-top: -2px;
}

@mixin triangle-up() {
  @include triangle;

  border-width: 0 6px 6px;
  margin-top: -3px;
}
