@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?anwhd');
  src:url('fonts/icomoon.eot?anwhd#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?anwhd') format('truetype'),
  url('fonts/icomoon.woff?anwhd') format('woff'),
  url('fonts/icomoon.svg?anwhd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pause:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-check-2:before {
  content: "\e900";
}
.icon-number:before {
  content: "\e61b";
}
.icon-dataset:before {
  content: "\e61c";
}
.icon-cards:before {
  content: "\e61d";
}
.icon-bar-chart:before {
  content: "\e61e";
}
.icon-table:before {
  content: "\e61f";
}
.icon-line-chart:before {
  content: "\e620";
}
.icon-region:before {
  content: "\e621";
}
.icon-map:before {
  content: "\e622";
}
.icon-chart:before {
  content: "\e623";
}
.icon-search:before {
  content: "\e624";
}
.icon-expand:before {
  content: "\e625";
}
.icon-collapse:before {
  content: "\e626";
}
.icon-settings:before {
  content: "\e627";
}
.icon-chevron-up:before {
  content: "\e628";
}
.icon-chevron-down:before {
  content: "\e629";
}
.icon-close:before {
  content: "\e62a";
}
.icon-filter:before {
  content: "\e62b";
}
.icon-warning:before {
  content: "\e62c";
}
.icon-geo:before {
  content: "\e62d";
}
.icon-link:before {
  content: "\e62e";
}
.icon-italic:before {
  content: "\e62f";
}
.icon-bold:before {
  content: "\e630";
}
.icon-edit:before {
  content: "\e631";
}
.icon-distribution:before {
  content: "\e632";
}
.icon-story:before {
  content: "\e633";
}
.icon-add:before {
  content: "\e634";
}
.icon-info:before {
  content: "\e635";
}
.icon-check:before {
  content: "\e801";
}
.icon-arrow-down:before {
  content: "\e802";
}
.icon-arrow-left:before {
  content: "\e803";
}
.icon-arrow-right:before {
  content: "\e804";
}
.icon-arrow-up:before {
  content: "\e805";
}
.icon-close-2:before {
  content: "\e806";
}
.icon-data:before {
  content: "\e807";
}
.icon-external:before {
  content: "\e808";
}
.icon-linked:before {
  content: "\e809";
}
.icon-official:before {
  content: "\e80a";
}
.icon-tag:before {
  content: "\e80b";
}
.icon-puzzle:before {
  content: "\e80c";
}
.icon-close-circle:before {
  content: "\e901";
}
