.user-search-pill-contents {
  display: flex;
}

.user-search-pill-user-icon {
  width: 17px;
  height: 100%;
  margin-right: 4px;

  & svg use, & svg path {
    fill: $primary-light !important;
  }
}

.user-search-pill-user-name {
  padding-top: 2px;
  color: $primary-light !important;
}

.user-search-result-container {
  display: flex;
  align-items: center;
  height: 45px;
}

.user-search-result-content {
  display: flex;
  flex-direction: column;
}

.user-search-result-icon {
  margin-right: 10px;

  & svg use, & svg path {
    fill: $primary-dark !important;
  }
}

.user-search-result-name {
  font-size: 15px !important;
  font-weight: 400;

  & span {
    font-size: 15px !important;
  }
}

.user-search-result-email {
  font-size: 12px !important;
  font-weight: 400;

  & > span {
    font-size: 12px !important;
  }
}

.user-search-result-highlight {
  font-weight: 700;
}
