<h1>Want Programmatic Access?</h1>
<h2>Sign up for our developer network.</h2>

<div class="splashActionBoxContainer apiSplash clearfix">
  <div class="splashActionBox imageActionBox">
    <p><img src="/images/splash_api.png" width="251" height="168" alt="Social Data Discovery API" /></p>
  </div>
  <div class="splashActionBox doubleActionBox">
    <h3>The Socrata API</h3>
    <ul>
      <li>Unlocks the ability for machine processing of datasets</li>
      <li>Single API and authorization process</li>
      <li>Turnkey REST API</li>
    </ul>

    <ul class="splashActionButtonList clearfix">
      <li class="splashActionButton"><a href="/solution">Learn More</a></li>
      <%#<li class="splashActionButton"><a href="/sign_up">Sign Up</a></li>%>
      <li class="splashActionButton"><a href="#">Sign Up (Coming Soon!)</a></li>
    </ul>
  </div>
</div>
