<h1>Want Programmatic Access?</h1>
<h2>Socrata Open Data API</h2>

<div class="splashActionBoxContainer apiSplash clearfix">
  <div class="splashActionBox imageActionBox">
    <p><img src="/images/soda_can_white.png" width="200" height="200" alt="Social Open Data API" /></p>
  </div>
  <div class="splashActionBox doubleActionBox">
    <ul class="apiFeatureList">
      <li>Allows you to build mashups and applications using public data</li>
      <li>Single API and authentication process</li>
      <li>JSON and XML-based RESTful API</li>
    </ul>

    <p>To get started with the SODA API, take a look at the <a href="/api/docs/">API documentation</a> and code samples, or join us in the <a href="http://getsatisfaction.com/socrata/products/socrata_socrata_open_data_api">developer forums</a>. <em>Welcome to the Open Data revolution!</em></p>

    <ul class="splashActionButtonList clearfix">
      <li class="splashActionButton"><a href="http://getsatisfaction.com/socrata/products/socrata_socrata_open_data_api" rel="external">Developer Forums</a></li>
      <li class="splashActionButton"><a href="/api/docs/" rel="external">API Documentation</a></li>
    </ul>
  </div>
</div>
