<h1>Need Advanced Features?</h1>
<h2>Sign up for one of our premium plans.</h2>

<div class="splashActionBoxContainer apiSplash clearfix">
  <div class="splashActionBox imageActionBox">
    <p><img src="/images/splash_api.png" width="251" height="168" alt="Socrata Premium Features" /></p>
  </div>
  <div class="splashActionBox doubleActionBox">
    <h3>Premium Socrata Features</h3>
    <ul>
      <li>Comment moderation</li>
      <li>Advanced usage metrics and analytics</li>
      <li>Dataset nomination and approval workflow</li>
      <li>And much more!</li>
    </ul>

    <ul class="splashActionButtonList clearfix">
      <li class="splashActionButton"><a href="/solution" rel="external">Learn More</a></li>
    </ul>
  </div>
</div>
