<%= render :partial => 'mobile/datalens/mobile_navbar' %>
<div>
  <!-- Dummy content to test scrollability -->
  <%= render :partial => 'mobile/datalens/mobile_meta' %>

  <div id="mobile-components"></div>

</div><!-- Upper area -->
