.asset-action-bar .publication-state {
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  color: #dbdbdb;

  .socrata-icon {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50%;
    line-height: 0.4;

    height: 21px;
    width: 21px;
    padding: 2px;
    svg {
      height: 17px;
      width: 17px;
      vertical-align: text-bottom;
    }

    color: white;

    &.publication-state-draft {
      background-color: $warning;
    }

    &.publication-state-pending {
      background-color: $alternate-2;
    }

    &.publication-state-published {
      background-color: $success;
    }
  }
}
