.asset-action-bar .publication-state {
  margin-left: 0.4em;
  padding: 11px 0;
  display: inline-block;
  vertical-align: middle;

  cursor: default;
  color: #dbdbdb;

  .socrata-icon {

    &.publication-state-draft {
      color: #e0a208;
    }

    &.publication-state-pending {
      color: #185074;
    }

    &.publication-state-published {
      color: #17b389;
    }
  }
}
