#with-flash {
  .dsmp-container {
    padding-bottom: 3.5em;
    width: auto;
    margin-left: 250px;
    min-width: 250px;
    max-width: 1200px;
    min-height: 100%;
    height: auto;

    @media (max-width: 750px) {
      border-left-style: none;
      width: 100%;
      margin-left: 0;
    }
  }

  .dsmp-flex-container {
    composes: container;
    flex-grow: 1;
    padding-bottom: 0;
    max-width: none;

    @media (max-width: 750px) {
      height: 100%;
    }
  }

  .dsmp-flex-container > div:nth-child(2) {
    height: 100%;
  }

  .dsmp-flash-container {
    position: fixed;
    z-index: 1;
    width: calc(100% - 250px);

    @media (max-width: 750px) {
      width: 100%;
      position: static;
    }
  }
}
