<h1>blist is now Socrata</h1>
<h2>The place for social data discovery.</h2>

<div class="splashActionBoxContainer clearfix">
  <div class="splashActionBox">
    <h3>Welcome</h3>
    <h4>Sign In</h4>
    <p>Your blist account works at Socrata.</p>
    <p class="splashActionButton">
      <%= link_to("Sign In", login_url) %>
    </p>
  </div>
  
  <div class="splashActionBox">
    <h3>Learn More</h3>
    <h4>More about Socrata</h4>
    <p>Learn about the Socrata Social Data Discovery solution.</p>
    <p class="splashActionButton">
      <%= link_to("About Socrata", "/about") %>
    </p>
  </div>
  
  <div class="splashActionBox last">
    <h3>Go Back</h3>
    <h4>Use the old blist</h4>
    <p>The old blist application is still available.</p>
    <p class="splashActionButton">
      <%= link_to("Back to blist", "http://app.blist.com") %>
    </p>
  </div>
</div>

<div class="redirected_blist_logo"><a href="http://app.blist.com">
  <img src="/images/blist_logo_large.png" width="146" height="102" alt="blist" />
</a></div>
