
<div class="tagCloudWrapper">
  <h1>Popular Tags</h1>

  <div class="tagCloudContainer">
    <p>
      <%- @tag_list.each do |tag| -%>
        <%= link_to(h(tag.name),
            generate_filter_url(@current_state, @type, {:tag => tag.name}),
              :class => "filterLink", :rel => tag.frequency ) %>
      <%- end -%>
    </p>
  </div>

  <div class="closeContainer"><a href="#close" title="close">Close</a></div>
</div>