<div class="rowSearchRenderType hide">
  <div class="columnHeaders"></div>
  <div class="rowResultCountDisplay">
    <span>Showing <span class="rowResultCountText"></span>
      of <span class="totalResultCountText"></span>
      matching rows
    </span>
  </div>
  <div class="rowList"></div>
  <div class="fader"></div>
  <div class="expandHint downArrow">
    <a class="expandRowResults" href="#Expand">
      <span class="icon"></span>
      <span class="expandText">Expand</span>
      <span class="collapseText">Collapse</span>
    </a>
  </div>
  <div class="templateRow row clearfix"></div>
</div>
