<div class="toolbar">
  <a href="#close" class="close"><span class="icon">Close</span></a>
  <form class="toolbarSearchForm" action="#">
    <div class="toolbarMessage"></div>
    <div class="toolbarTextboxWrapper">
      <input type="text" class="toolbarTextbox textPrompt"
        title="Type in your search term and hit enter." />
    </div>
  </form>
  <form class="toolbarEmailForm" action="/views/<%= @view.id %>/rows.html">
    <div class="toolbarMessage"></div>
    <div class="toolbarTextboxWrapper">
      <input type="text" class="toolbarTextbox textPrompt"
        title="Type in recipients' email addresses, separated by commas, and hit enter" />
    </div>
  </form>
</div>