<div class="toolbar">
  <a href="#close" class="close"><span class="icon">Close</span></a>
  <form class="toolbarSearchForm" action="#">
    <label class="toolbarMessage"></label>
    <div class="toolbarTextboxWrapper">
      <input type="text" class="toolbarTextbox textPrompt" title="Type in your search term and hit enter." />
    </div>
  </form>
  <form class="toolbarEmailForm" action="#">
    <label class="toolbarMessage"></label>
    <div class="toolbarTextboxWrapper">
      <input type="text" class="toolbarTextbox textPrompt" />
    </div>
  </form>
</div>