<ul class="subHeaderBar">
  <li><a href="#search" class="searchLink" title="Search within this Dataset">Search</a></li>
  <li><a href="#about" class="aboutLink" title="About this Dataset">About this Dataset</a></li>
  <li><%= @view.name %></li>
  <li class="right"><a href="#fullscreen" class="fullscreenLink" title="View this Dataset fullscreen">Fullscreen</a></li>
  <li class="right"><a href="#socialize" class="socializeLink" title="Share this Dataset">Socialize</a></li>
</ul>