@import '../common.scss';

.logo {
  margin-right: 10px;

  & :global(.socrata-icon) {
    width: 18px;
    height: 18px;

    & :global(.socrata-icon-logo-ring) {
      fill: $primary !important;
    }

    & :global(.socrata-icon-logo-pie) {
      fill: $alternate-1 !important;
    }

    & > svg {
      width: 18px;
      height: 18px;
      margin-top: 3px;
    }
  }
}
