<% theme_variables ||= [] -%>
<% help_text ||= '' -%>
<% unless theme_variables.empty? -%>
  <div class="form-section">
    <div class="form-fields form-fields-label-above">
      <% theme_variables.each do |var_name| -%>
      <div class="form-group">
        <% field_name = "theme[css_variables][#{var_name}]" -%>
        <% value = theme.css_variables[var_name] -%>
        <% value = Theme.defaults[var_name] if value.blank? -%>
        <%= label_tag field_name, t(".#{var_name}") %>
        <%= text_field_tag field_name, value, class: 'text-input' %>
      </div>
      <% end -%>
    </div>
    <div class="help">
      <%= help_text %>
    </div>
  </div>
<% end -%>
