@import "asset-selector/breakpoints";

.results-container {
  .centered-content {
    max-width: 1000px;
    margin: 0 auto;

    .results-topbar {
      > button {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }

    .no-results {
      margin-top: 1rem;
    }

    .top-controls {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;

      .result-count {
        float: none;
        align-self: center;
      }

      .sort-dropdown {
        align-items: center;
        display: inline-flex;
        margin: 3px;

        .dropdown-container {
          margin-left: 0.5rem;
        }
      }
    }

    .card-container {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      overflow: hidden;
      position: relative;

      .result-card {
        flex: 0 0 auto;
        width: 31.9%;
        height: 300px;
        margin-right: 2%;

        &.loading-card {
          display: flex;

          .spinner-large {
            margin: auto;
          }
        }

        @media(max-width: $medium) {
          flex: 0 0 260px;
        }

        @media(min-width: $medium) {
          &:nth-child(3n) {
            margin-right: 0;
          }
        }

        .view-card-overlay {
          .hover-target {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;

            .overlay {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;

              background-color: rgba(40, 141, 193, 0.1); // $primary-base converted to rgb for transparency
              border: 3px solid $primary-base;

              &.hidden {
                display: none;
              }

              .select-button {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                height: 2.5rem;
                padding: 0;
              }
            }
          }
        }
      }

      @media(max-width: $medium) {
        flex-flow: row nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }
    }

    .pager {
      margin-bottom: 1rem;

      .prev-link {
        margin-right: 0.5rem;
      }

      .next-link {
        margin-left: 0.5rem;
      }

      .prev-link, .next-link {
        cursor: pointer;

        &.disabled {
          cursor: default;
          color: $grey;
        }
      }

      .current-page-input {
        input {
          width: 40px;
        }

        &.error {
          input {
            color: $error-text;
          }
        }
      }
    }
  }
}
