@import "styleguide-colors";
@import "asset-selector/breakpoints";
@import "asset-selector/results-container";

.asset-selector-modal {
  background-color: $white;
  // overflow: hidden

  .inline-block {
    display: inline-block;
  }

  .modal-container {
    &.no-footer {
      .modal-content {
        margin-bottom: 0;
      }
    }

    .modal-header {
      z-index: 1;
      h1 {
        font-size: 19px;
        font-weight: 400;
      }
    }
  }
}
