@import 'bourbon';
@import 'lib/icon-font';

.menu-list {
  .menu-list-item {
    &:first-child {
      .menu-list-item-header {
        border-top: solid 1px #666;
      }
    }

    .menu-list-item-header {
      text-align: left;
      display: block;
      width: 100%;
      padding: 2rem 1.5rem;
      font-weight: normal;
      color: #eee;
      font-size: 1.5rem;
      background: transparent;
      border: none;
      border-bottom: solid 1px #666;
      position: relative;
      transition: all 0.15s;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 7px;
        background-color: #666;
        left: 0;
        top: -1px;
        bottom: -1px;
      }

      &:hover, &.active {
        background: #555;
        cursor: pointer;
        z-index: 1;

        span + span {
          color: #bbb;
        }

        &::before {
          background-color: #888;
        }
      }

      &:focus {
        outline: 0;
      }

      &:disabled {
        background: transparent;
        color: #bbb;
        cursor: not-allowed;

        span + span {
          color: #bbb;
        }
      }

      &.expandable {
        &::after {
          @extend .icon-arrow-down:before;

          font-family: 'icomoon';
          font-size: 1.25rem;
          display: block;
          float: right;
          margin-top: 3px;
          color: white;
        }
      }

      span {
        display: inline-block;
        margin-right: 2rem;
      }
    }

    .menu-list-item-content {
      @include transition(max-height .3s ease-in-out);

      border-left: solid 7px #666;
      border-bottom: solid 1px #666;
      max-height: 500px;
      overflow: hidden;

      &.collapsed {
        max-height: 0;
        border-top: none;
        border-bottom: none;
      }

      > div {
        padding: 2rem;
        background: #555;
      }
    }
  }
}
