@import 'lib/variables';

/**
 * Add Content Panel
 */
#add-content-panel {
  z-index: $add-content-panel-z-index;

  h1 {
    text-align: center;
  }

  .inspiration-block-list-error {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.inspiration-block {
  @include unselectable();

  position: relative;
  min-height: 10px;
  margin: $inspiration-block-list-block-margin;
  font-size: $inspiration-block-list-font-size;
  border: 1px solid $inspiration-block-border-color;
  cursor: -webkit-grab;
  cursor: grab;

  .grab-target {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }

  .drag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
