@import 'lib/variables';
@import 'lib/icon-font';
@import 'bourbon';

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// .component-html already includes its own fade in.
.component[class^="component-"]:not(.component-html),
.component[class*=" component-"]:not(.component-html),
#story-view .component-html {
  @include animation(fadeIn $component-fade-in-duration);
}

@mixin centered-busy-button {
  position: absolute;
  top: calc(50%  - (#{$btn-padding-top-bottom} * 2 + #{$btn-busy-height} + #{$btn-busy-border-width} * 2) / 2);
  left: calc(50% - (#{$btn-padding-left-right} * 2 + #{$btn-busy-width} + #{$btn-busy-border-width} * 2) / 2);
}

#asset-selector-container {
  .visualization-choice {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: $modal-padding;
    margin-bottom: $modal-padding;

    button {
      position: absolute;
      top: 0;
      bottom: 0;
      width: calc(50% - #{$modal-padding / 2});
      background-color: $asset-selector-visualization-btn-background-color;

      &:hover {
        border-color: $asset-selector-icon-color;
      }

      div {
        margin-top: 1em;
        color: $modal-input-label-color;
      }

      span {
        font-size: 3.5em;
        color: $asset-selector-icon-color;
      }
    }

    .btn-visualize-table {
      right: 0;
    }

    .btn-visualize-chart {
      left: 0;
    }
  }

  .asset-selector-preview-image-label, .asset-selector-image-description-label {
    color: $asset-selector-image-preview-container-label;
    font-weight: normal;
    padding-bottom: 1rem;
  }

  .asset-selector-image-description-label {
    padding-top: 3rem;
  }

  .asset-selector-image-description-container {
    border: 1px solid $asset-selector-input-group-border-color;
    padding: 2rem 1.5rem;

    .asset-selector-image-alt-input-info {
      color: $asset-selector-alt-attribute-description;
      font-size: 1.35rem;
      font-style: italic;
    }

    .asset-selector-image-alt-hint {
      color: $asset-selector-alt-attribute-info-icon;
      margin-left: 0.25rem;
    }
  }
}

.tooltip-text {
  font-size: 1.3rem;
  line-height: 1.54;
}

.asset-selector-input-group {

  display: block;
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $asset-selector-input-group-bg-color;
  border-radius: 0.1rem;

  &.asset-selector-input-group-fixed-height {
    height: 32rem;
    padding: 1.5rem;
    border: dashed 1px $asset-selector-input-group-border-color;
  }

  .asset-selector-input-subtext {
    color: $asset-selector-input-subtext-color;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .modal-input-label {
    margin: 1rem 0;
    text-align: left;
    color: $modal-input-label-color;
    font-size: 1.5rem;
    font-weight: normal;

    &.modal-input-label-centered {
      text-align: center;
    }
  }

  .btn-primary {
    margin: 0 auto;
    display: block;
    margin-top: 12rem;
  }

  .asset-selector-preview-image-container,
  .asset-selector-image-upload-progress {
    @include media-query-property(
      'height',
      $main-content-width-small / 3,
      $main-content-width-medium / 3,
      $main-content-width-large / 3,
      $main-content-width-extra-large / 3
    );

    position: relative;

    .btn-busy {
      @include centered-busy-button;
    }

    .asset-selector-uploading-message {
      font-size: 1.6rem;
      position: absolute;
      text-align: center;
      top: 33%;
      width: 100%;
    }

    .asset-selector-cancel-upload,
    .asset-selector-try-again {
      display: block;
      margin: 0 auto;
      position: relative;
      top: 66%;
    }

  }

  .asset-selector-preview-container {
    @include media-query-property(
      'height',
      $main-content-width-small / 3,
      $main-content-width-medium / 3,
      $main-content-width-large / 3,
      $main-content-width-extra-large / 3
    );

    position: relative;
    width: 100%;
    background-color: $asset-selector-preview-container-bg-color;
    &.placeholder {
      background-image: asset-url('embed-preview.png');
      background-size: 10%;
    }
    background-size: 20%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px dashed $input-element-border-color;
    box-sizing: border-box;

    &.invalid {
      background-image: asset-url('video-error-icon.png');

      .asset-selector-invalid-message {
        display: block;
      }
    }

    .btn-busy {
      @include centered-busy-button;
    }

    .asset-selector-insecure-html-warning {
      position: relative;
      top: 0;
      display: none;
      border-top: none;
      border-left: none;
      border-right: none;
      z-index: 2;
    }

    .asset-selector-invalid-message {
      position: relative;
      display: none;
      height: 100%;

      .asset-selector-invalid-title,
      .asset-selector-invalid-description {
        position: absolute;
        display: block;
        width: 100%;
        font-size: 1.6rem;
        text-align: center;
        color: $asset-selector-invalid-message-color;
      }

      .asset-selector-invalid-title {
        top: 15%;
        font-weight: 700;
      }

      .asset-selector-invalid-description {
        bottom: 20%;
      }
    }

    .asset-selector-preview-iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  .asset-selector-story-widget-preview-container {
    height: 42.2rem!important;

    .component-story-widget {
      margin-top: 0;
    }
  }
}

.asset-selector-button-list li {
  padding: 1.5rem 1rem;
  border-bottom: solid 1px $modal-button-list-border-color;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  &::after {
    @extend .icon-arrow-right:before;

    font-family: icomoon;
    position: absolute;
    right: 1rem;
    top: calc(6.8rem / 2 - 0.75rem);
    display: inline-block;
    font-size: 1.5rem;
    color: $modal-button-list-arrow-color;
  }

  &:hover {
    background-color: $modal-button-list-hover-background-color;
    cursor: pointer;

    &::after {
      color: $modal-button-list-hover-arrow-color;
    }
  }

  h3 {
    color: $modal-button-list-header-color;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: $modal-button-list-description-color;
    font-size: 1.2rem;
  }
}

/* Visualization chooser */
.asset-selector-full-width-iframe {
  width: 100%;
  height: 560px;
  margin-bottom: 1rem;
}

.asset-selector-preview-image-container {
  overflow: auto;
  border: 1px solid $asset-selector-input-group-border-color;
  padding: 0.5rem;

  img {
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

.visualization-busy {
  @include centered-busy-button;
}
