@import '../base';

.block-edit,
.block {
  @include clearfix();

  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $block-bg-color;
  transition: transform $transition-duration;

  .component.image {
    img {
      width: 100%;
      -webkit-user-drag: none;
    }
  }

  .component.embed {
    iframe {
      z-index: 1;
    }
    .flypaper {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 2;
    }
  }
}

.inspiration-story .flypaper {
  display: block !important;
}
