@import 'bourbon';
@import 'lib/variables';

@include keyframes(spin) {
  100% {
    @include transform(rotate(360deg));
  }
}

.btn {
  @include unselectable();

  padding: 0.9rem 1.5rem;
  font-size: 1.5rem;
  border-radius: $btn-border-radius;
  outline: none;
  transition: color $transition-duration, background-color $transition-duration;
  cursor: pointer;

  // Adds a spinner in place of button text.
  &.btn-busy {
    font-size: 0;

    span {
      @include animation(spin 0.9s linear infinite);

      border: 3px solid;
      border-radius: 60%;
      display: inline-block;
      width: 2rem;
      height: 2rem;
    }
  }

  &.btn-default {
    color: $btn-default-color;
    border: solid 1px $btn-default-border-color;
    background-color: $btn-default-bg-color;

    &:hover {
      color: $btn-default-hover-color;
      background-color: $btn-default-hover-bg-color;
      border-color: $btn-default-hover-border-color;
    }

    &:disabled {
      cursor: not-allowed;
      color: $btn-default-disabled-color;
      background-color: $btn-default-bg-color;
      border-color: $btn-default-disabled-border-color;
    }

    &:active {
      border-color: transparent;
    }

    &.btn-busy {
      span {
        border-color: $btn-default-color;
        border-right-color: lighten($btn-default-bg-color, 15);
      }
    }

    &.btn-inverse {
      background-color: white;
      color: $btn-default-bg-color;

      &:hover {
        background-color: #dbdbdb;
        color: #6e6e6e;
      }
    }
  }

  &.btn-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg-color;
    border: solid 1px $btn-primary-bg-color;

    &:hover {
      color: $btn-primary-hover-color;
      background-color: $btn-primary-hover-bg-color;
      border-color: $btn-primary-border-color;
    }

    &:active {
      border-color: transparent;
    }

    &:disabled {
      cursor: not-allowed;
      color: $btn-default-disabled-color;
      background-color: $btn-default-bg-color;
      border-color: $btn-default-disabled-border-color;
    }

    &.btn-busy {
      span {
        border-color: $btn-primary-color;
        border-right-color: lighten($btn-primary-bg-color, 15)
      }
    }

    &.btn-inverse {
      background-color: white;
      color: $btn-primary-bg-color;
    }
  }

  &.btn-secondary {
    color: $btn-secondary-color;
    background-color: $btn-secondary-bg-color;
    border: solid 1px $btn-secondary-border-color;

    &:hover {
      color: $btn-secondary-color;
      background-color: $btn-secondary-hover-bg-color;
      border-color: $btn-secondary-border-color;
    }

    &:active {
      border-color: transparent;
    }

    &.btn-busy {
      span {
        border-color: #fff;
        border-top-color: #6cecd4;
      }
    }
  }

  &.btn-transparent {
    background-color: transparent;
    border: solid 1px transparent;

    &.btn-busy {
      span {
        border-color: $btn-color;
        border-right-color: darken(#ddd, 15);
      }
    }
  }
}
