@import 'lib/variables';

html {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 10px;
  overflow-y: auto;
  min-width: 768px;
}

body {
  margin: 0;
  min-height: calc(100vh - (#{$header-height} + (#{$user-story-container-vertical-padding} * 2)));
  background-color: $body-bg-color;
}

body header {
  @include unselectable();
  @include clearfix();

  position: fixed;
  width: 100%;
  height: $header-height;
  left: 0;
  top: 0;
  color: $header-color;
  background-color: $header-bg-color;
  box-shadow: 0 $header-box-shadow-size $header-box-shadow-size $header-box-shadow-color;
  box-sizing: content-box;
  z-index: $site-header-z-index;

  .header-right {
    display: inline-block;
    float: right;
    line-height: $header-height;
    font-size: 1.5em;
    font-weight: lighter;

    .menu a {
      $button-border-width: 5px;
      border: $button-border-width solid transparent;
      border-radius: 3px;
      &.active {
        border: $button-border-width solid $header-color;
        background: $header-color;
        color: $header-bg-color;
      }
    }
  }

  .story-title {
    display: inline-block;
    margin-left: $header-title-left-margin;
    line-height: $header-height;
    font-size: $header-title-height;
    font-weight: bold;
    color: $header-story-title-color;
  }

  .settings-panel-btn {
    display: block;
    float: left;
    width: $header-height;
    height: 100%;
    color: $header-bg-color;
    font-size: 38px;
    line-height: $header-height;
    text-align: center;
    background-color: $header-accent-color;
    border: none;
    box-sizing: border-box;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      color: lighten($header-bg-color, 10%);
    }

    &:before {
      text-align: center;
    }
  }

  .content-panel-btn, #story-save-btn {
    color: $header-color;
    background-color: transparent;

    &:hover, &.active {
      color: lighten($header-color, 10%);
      background-color: lighten($header-bg-color, 10%);
    }

    &:disabled {
      color: darken($header-color, 40%);
    }
  }
}

#story-save-error-bar {
  position: absolute;
  top: 7rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5rem;
  z-index: $story-save-error-z-index;
  transition: opacity $transition-duration;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  .container {
    padding: 0.4rem 1rem;
    color: $story-save-error-bar-icon-color;
    background: $story-save-error-bar-background;
    border: 1px solid $story-save-error-bar-border-color;

    .message {
      color: $story-save-error-bar-color;
      padding-left: 0.6rem;
    }

    button {
      border: none;
      outline: none;
      color: $story-save-error-bar-color;
      background-color: transparent;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

#create-story-title-input {
  width: 100%;
  font-size: 2rem;
}

#create-story-submit-btn {
  position: relative;
  display: block;
  width: 50%;
  font-size: 2rem;
  margin: 0 auto;
}

ul.menu {
  li, ul {
    display: inline;
    padding-right: 1em;
  }
}

a[role="button"] {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

.message-warning {
  color: $empty-story-warning-font-color;
  font-size: $empty-story-message-font-size;
  font-weight: bold;
  padding-top: 40px;
  text-align: center;
}

// Move mini-profiler (dev-mode only) to the bottom, so it doesn't overlap menus
// Can't be easily configured during initialization
.profiler-results {
  bottom: 0px;
  top: auto !important;
}
