@import '../base';

html {  
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 1em;
  overflow-y: scroll;
  min-width: 768px;
}

body {
  margin: 0;
  padding-bottom: $user-story-container-vertical-padding;
  min-height: calc(100vh - (#{$header-total-height} + (#{$user-story-container-vertical-padding} * 2)));
  background-color: $body-bg-color;
}

body header {
  @include unselectable();
  @include clearfix();

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: $header-height;
  padding: ($header-vertical-padding / 2) 0;
  background-color: $header-bg-color;
  box-sizing: content-box;
  z-index: $site-header-z-index;
  color: $header-fg-color;
  border-left: 1em solid $header-fg-color;

  .header-right {
    display: inline-block;
    float: right;
    padding: 1em;
  }

  .story-title {
    display: inline-block;
    margin-left: $header-title-left-margin;
    line-height: $header-height;
    font-size: $header-title-height;
    font-weight: bold;
  }
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  float: left;
  margin: 0;
  background-color: rgb(250, 250, 250);
}

.col3 { width: 25%; }
.col4 { width: 33.3333%; }
.col6 { width: 50%; }
.col8 { width: 66.6666%; }
.col12 { width: 100%;}

.hidden {
  display: none !important;
}
