@import 'lib/variables';

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select[multiple=multiple],
textarea {
  display: block;
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  height: 3em;
  padding: 1em;
  font-size: 1.5em;
  border: 1px solid $input-element-border-color;
  border-radius: $modal-border-radius;
  box-sizing: border-box;
}
textarea {
  height: 10em;
}

label {
  margin: 1.5rem 0 0.5rem;
  font-size: 1.5rem;
  font-weight: normal;
  display: block;
}
