@import "lib/variables";

.link-test-link-action {
  float: right;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;

  &:visited {
    color: $link-color;
  }
}

.link-warning {
  color: $warning-bar-color;
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 1rem;

  .icon-warning {
    color: $warning-bar-icon-color;
  }
}
