@import "lib/variables";
@import "bourbon";

#link-modal {
  input[type=text], input[type=url] {
    width: 100%;
  }
}

.link-test-link-action {
  float: right;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;

  &:visited {
    color: $link-color;
  }
}

.link-warning {
  color: $warning-bar-color;
  font-size: 1.5rem;
  font-weight: normal;
  opacity: 1;

  &.invisible {
    opacity: 0;
  }

  .icon-warning {
    margin-right: 0.5rem;
    color: $warning-bar-icon-color;
  }
}
