/**
 * Text
 */
.text-center {
  text-align: center;
}

/**
 * Behaviors
 */
.bg-loading-spinner {
  background-image: asset-url('shared/branded-spinner.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
