@import 'lib/variables';

body.story-save-error .user-story-container {
  top: $story-save-error-bar-reserved-height;
}

.user-story-container {
  position: relative;
  display: block;
  width: 100vw;
  padding-top: $header-height + $user-story-container-vertical-padding;
  z-index: $user-story-container-z-index;
  -webkit-font-smoothing: antialiased;

  .user-story {
    @include media-query-property(
      'width',
      $main-content-width-small,
      $main-content-width-medium,
      $main-content-width-large,
      $main-content-width-extra-large
    );
    @include unselectable();

    max-width: 94%;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-bottom: $user-story-padding-bottom;
  }

  .block-edit {
    background-color: $body-bg-color;
    border: 1px solid transparent;

    &:hover,
    &.active,
    &.is-resizing {
      border: 1px dashed $block-edit-hover-border-color;
    }

    .block-edit-controls {
      position: absolute;
      width: $block-edit-controls-width;
      height: $block-edit-controls-height;
      top: 0;
      left: -$block-edit-controls-width;
      opacity: 0;
      background-color: $block-edit-controls-bg-color;
      text-align: center;

      .block-edit-controls-move-up-btn,
      .block-edit-controls-move-down-btn,
      .block-edit-controls-delete-btn {
        color: $block-edit-controls-fg-color;
        position: relative;
        display: block;
        width: $block-edit-controls-width;
        height: $block-edit-controls-width;
        line-height: $block-edit-controls-width;
        padding: 0;

        &:hover {
          background-color: $block-edit-controls-hover-color;
        }
      }

      .block-edit-controls-delete-btn {
        position: absolute;
        bottom: 0px;
      }
    }

    .component {
      position: relative;

      .component-edit-controls {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        text-align: center;
        margin-top: 1rem;
        margin-right: 1rem;
        z-index: $component-edit-controls-z-index;

        .component-edit-controls-edit-btn {
          color: $block-edit-controls-fg-color;
          background-color: $block-edit-controls-bg-color;
          padding: $component-edit-controls-btn-padding-vertical $component-edit-controls-btn-padding-horizontal;
          font-size: $component-edit-controls-font-size;
          border: none;
          outline: none;

          &:hover {
            background-color: $block-edit-controls-hover-color;
          }
        }
      }

      &:hover {
        .component-edit-controls {
          opacity: 1;
        }
      }
    }

    &:hover,
    &.active {
      z-index: $active-block-edit-z-index;

      .block-edit-controls {
        opacity: 1;
      }
    }

    .block {
      position: relative;
      margin: 0 $block-edit-controls-width;
      transition: none;
      box-sizing: border-box;

      .component-blinder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .component-html {
        position: relative;

        iframe {
          width: 100%;
          height: 0;
          min-height: 0;
          border: 0;
          overflow: hidden;
        }
      }

      .component-image {

        img {
          width: 100%;
        }
      }
    }
  }

  #story-insertion-hint {
    @include unselectable();

    position: absolute;
    display: inline-block;
    margin: 0 29% 0.5rem 29%;
    width: 42%;
    height: 0.5rem;
    top: $header-height + $user-story-container-vertical-padding;
    left: 0;
    text-align: center;
    background-color: $story-insertion-hint-bg-color;
  }
}
