.manageMetadata {
  :global {
    section.modal-content {
      margin: 0;
      padding: 0;
    }

    .modal-footer {
      z-index: 1000;
    }
  }
}

.button {
  composes: btn from global;
  composes: btn-default from global;
}
