@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';
.publishButton {
  composes: btn from global;
  composes: btn-primary from global;
  white-space: nowrap;
  padding-right: 20px;

  &:disabled {
    pointer-events: none; // required for the flyout to work
    cursor: not-allowed;
  }
}

.flyout {
  composes: flyout from global;
  composes: flyout-hidden from global;
  max-width: none;
  z-index: 1;
}

.flyoutContent {
  composes: flyout-content from global;
  min-width: 260px;

  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
  }

  li {
    font-size: 13px;
    float: left;
    clear: both;
  }
}

.checkedOrUnchecked {
  display: block;
  font-size: 20px;
  margin-bottom: -10px;
  float: left;
}

.checked {
  composes: socrata-icon-checkmark-alt from global;
  composes: checkedOrUnchecked;
  color: $success;
}

.notChecked {
  composes: checkedOrUnchecked;
  width: 15px;
  height: 15px;
  margin: 7px 2px 0 3px;

  circle {
    r: 7;
    cx: 7.5;
    cy: 7.5;
    fill: none;
    stroke: $light-grey-2;
    stroke-width: 1.5;
    stroke-dasharray: 1.5, 4.75;
    stroke-linecap: round;
  }
}

.checkmarkLabel {
  display: block;
  float: left;
  vertical-align: middle;
  padding-left: 7px;
  margin-top: 5px;
}
