@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import "common/styleguide/variables/_colors.scss";

.attachmentList {
  list-style-type: none;
  padding-left: 0px;
}

.button {
  composes: btn from global;
  composes: btn-primary from global;
}

.uploadButtonInput {
  display: none;
}
