@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.attachment-list {
  list-style-type: none;
  padding-left: 0px;
}

.upload-button-input {
  display: none;
}
