// Media Query Tester 
.container {
  //border: 1px solid red;
  &:before {
    color: red;
    content: "Small ( < " + $medium + ")";
  }

  @include breakpoint($medium) {
    //border: 1px solid blue;
    &:before {
      color: blue;
      content: "Medium (From " + $medium + " to " + $large + ")";
    }
  }

  @include breakpoint($large) {
    //border: 1px solid green;
    &:before {
      color: green;
      content: "Large (From " + $large + " to " + $xlarge + ")";
    }
  }  

  @include breakpoint($xlarge) {
    //border: 1px solid green;
    &:before {
      color: orange;
      content: "Xtra Large (From " + $xlarge + " to " + $xxlarge + ")";
      
    }
  }  

  @include breakpoint($xxlarge) {
    //border: 1px solid green;
    &:before {
      color: tan;
      content: "Xtra Xtra Large (> " + $xxlarge + ")";
      
    }
  }
}