/*
  Icon Font: socrata-icons
*/

@font-face {
  font-family: "socrata-icons";
  src: url("socrata-icons.eot");
  src: url("socrata-icons.eot?#iefix") format("embedded-opentype"),
       url("socrata-icons.woff") format("woff"),
       url("socrata-icons.ttf") format("truetype"),
       url("socrata-icons.svg#socrata-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "socrata-icons";
    src: url("../fonts/socrata-icons.svg#socrata-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-add-collaborator:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-arrow-next:before,
.icon-arrow-prev:before,
.icon-arrow-right:before,
.icon-arrow-up:before,
.icon-bar-chart:before,
.icon-bold2:before,
.icon-cards:before,
.icon-chart:before,
.icon-check:before,
.icon-check-2:before,
.icon-checkmark3:before,
.icon-chevron-down:before,
.icon-chevron-up:before,
.icon-clear-formatting:before,
.icon-close:before,
.icon-close-2:before,
.icon-close-circle:before,
.icon-collapse:before,
.icon-copy-document:before,
.icon-cross2:before,
.icon-data:before,
.icon-dataset:before,
.icon-date:before,
.icon-distribution:before,
.icon-droplet:before,
.icon-edit:before,
.icon-email:before,
.icon-expand:before,
.icon-external:before,
.icon-external-square:before,
.icon-eye:before,
.icon-eye-blocked:before,
.icon-facebook:before,
.icon-failed:before,
.icon-filter:before,
.icon-geo:before,
.icon-hamburger:before,
.icon-info:before,
.icon-info-inverse:before,
.icon-italic2:before,
.icon-line-chart:before,
.icon-link:before,
.icon-link2:before,
.icon-linked:before,
.icon-list-numbered:before,
.icon-list2:before,
.icon-map:before,
.icon-move:before,
.icon-number:before,
.icon-official:before,
.icon-paragraph-center3:before,
.icon-paragraph-left3:before,
.icon-paragraph-right3:before,
.icon-pause:before,
.icon-play:before,
.icon-plus2:before,
.icon-plus3:before,
.icon-presentation:before,
.icon-preview:before,
.icon-private:before,
.icon-processing:before,
.icon-pulse:before,
.icon-puzzle:before,
.icon-question:before,
.icon-question-inverse:before,
.icon-quotes-left:before,
.icon-redo:before,
.icon-region:before,
.icon-search:before,
.icon-settings:before,
.icon-share:before,
.icon-stories-icon:before,
.icon-stories-menu:before,
.icon-story:before,
.icon-table:before,
.icon-tag:before,
.icon-text:before,
.icon-twitter:before,
.icon-undo:before,
.icon-user:before,
.icon-waiting:before,
.icon-warning:before {
  display: inline-block;
  font-family: "socrata-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f100"; }
.icon-add-collaborator:before { content: "\f101"; }
.icon-arrow-down:before { content: "\f102"; }
.icon-arrow-left:before { content: "\f103"; }
.icon-arrow-next:before { content: "\f104"; }
.icon-arrow-prev:before { content: "\f105"; }
.icon-arrow-right:before { content: "\f106"; }
.icon-arrow-up:before { content: "\f107"; }
.icon-bar-chart:before { content: "\f108"; }
.icon-bold2:before { content: "\f109"; }
.icon-cards:before { content: "\f10a"; }
.icon-chart:before { content: "\f10b"; }
.icon-check:before { content: "\f10c"; }
.icon-check-2:before { content: "\f10d"; }
.icon-checkmark3:before { content: "\f10e"; }
.icon-chevron-down:before { content: "\f10f"; }
.icon-chevron-up:before { content: "\f110"; }
.icon-clear-formatting:before { content: "\f111"; }
.icon-close:before { content: "\f112"; }
.icon-close-2:before { content: "\f113"; }
.icon-close-circle:before { content: "\f114"; }
.icon-collapse:before { content: "\f115"; }
.icon-copy-document:before { content: "\f116"; }
.icon-cross2:before { content: "\f117"; }
.icon-data:before { content: "\f118"; }
.icon-dataset:before { content: "\f119"; }
.icon-date:before { content: "\f11a"; }
.icon-distribution:before { content: "\f11b"; }
.icon-droplet:before { content: "\f11c"; }
.icon-edit:before { content: "\f11d"; }
.icon-email:before { content: "\f154"; }
.icon-expand:before { content: "\f11e"; }
.icon-external:before { content: "\f11f"; }
.icon-external-square:before { content: "\f120"; }
.icon-eye:before { content: "\f121"; }
.icon-eye-blocked:before { content: "\f122"; }
.icon-facebook:before { content: "\f156"; }
.icon-failed:before { content: "\f124"; }
.icon-filter:before { content: "\f125"; }
.icon-geo:before { content: "\f126"; }
.icon-hamburger:before { content: "\f127"; }
.icon-info:before { content: "\f128"; }
.icon-info-inverse:before { content: "\f129"; }
.icon-italic2:before { content: "\f12a"; }
.icon-line-chart:before { content: "\f12b"; }
.icon-link:before { content: "\f12c"; }
.icon-link2:before { content: "\f12d"; }
.icon-linked:before { content: "\f12e"; }
.icon-list-numbered:before { content: "\f12f"; }
.icon-list2:before { content: "\f130"; }
.icon-map:before { content: "\f131"; }
.icon-move:before { content: "\f132"; }
.icon-number:before { content: "\f133"; }
.icon-official:before { content: "\f134"; }
.icon-paragraph-center3:before { content: "\f135"; }
.icon-paragraph-left3:before { content: "\f136"; }
.icon-paragraph-right3:before { content: "\f137"; }
.icon-pause:before { content: "\f138"; }
.icon-play:before { content: "\f139"; }
.icon-plus2:before { content: "\f13a"; }
.icon-plus3:before { content: "\f13b"; }
.icon-presentation:before { content: "\f13c"; }
.icon-preview:before { content: "\f13d"; }
.icon-private:before { content: "\f155"; }
.icon-processing:before { content: "\f13e"; }
.icon-pulse:before { content: "\f13f"; }
.icon-puzzle:before { content: "\f140"; }
.icon-question:before { content: "\f141"; }
.icon-question-inverse:before { content: "\f142"; }
.icon-quotes-left:before { content: "\f143"; }
.icon-redo:before { content: "\f144"; }
.icon-region:before { content: "\f145"; }
.icon-search:before { content: "\f146"; }
.icon-settings:before { content: "\f147"; }
.icon-share:before { content: "\f148"; }
.icon-stories-icon:before { content: "\f149"; }
.icon-stories-menu:before { content: "\f14a"; }
.icon-story:before { content: "\f14b"; }
.icon-table:before { content: "\f14c"; }
.icon-tag:before { content: "\f14d"; }
.icon-text:before { content: "\f14e"; }
.icon-twitter:before { content: "\f157"; }
.icon-undo:before { content: "\f150"; }
.icon-user:before { content: "\f151"; }
.icon-waiting:before { content: "\f152"; }
.icon-warning:before { content: "\f153"; }
