@import 'common/components/AccessManager/common.module.scss';

.container {
  background-color: $light-grey-4;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  box-shadow: 0 -5px 5px $light-grey-6;
  min-height: 66px;

  & :global(.multiselect-form-container) {
    height: auto;
  }
}

.add-user-button {
  color: $white;
  width: 75px;
  height: 45px;
}

.label {
  font-weight: 700;
}
