   <header class="menu-header">
    <h1 class="h6 menu-header-title">Styleguide Menu</h1>
    <button class="btn btn-block btn-sm btn-transparent menu-header-dismiss" data-menu-dismiss>
      <span class="icon-close-2"></span>
    </button>
  </header>
  <ul class="menu-navigation">
    <li class="menu-section-title"><a href="index.html">Guide Home</a></li>

    <li class="menu-section-title"><a href="elements.html">Elements</a>
      <ul>
        <li><a href="elements.html#typography">Typography</a></li>
        <li><a href="elements.html#colors">Colors</a></li>
        <li><a href="elements.html#branding">Branding</a></li>
        <li><a href="elements.html#icons">Icons</a></li>
        <li><a href="elements.html#buttons">Buttons</a></li>
        <li><a href="elements.html#spinners">Spinners</a></li>
        <li><a href="elements.html#dividers">Dividers</a></li>
        <li><a href="elements.html#lists">Lists</a></li>
        <li><a href="elements.html#input-groups">Input Groups</a></li>
        <li><a href="elements.html#forms">Forms</a></li>
        <li><a href="elements.html#tables">Tables</a></li>
        <li><a href="elements.html#alerts">Alerts</a></li>
        <li><a href="elements.html#tags">Tags</a></li>
        <li><a href="elements.html#navigation">Navigation</a></li>
        <li><a href="elements.html#cards">Cards</a></li>
        <li><a href="elements.html#pagination">Pagination</a></li>
      </ul>
    </li>

    <li class="menu-section-title"><a href="components.html">Components</a>
      <ul class="menu-navigation">
        <li><a href="components.html#picklist">Picklist</a></li>
        <li><a href="components.html#dropdowns">Dropdowns</a></li>
        <li><a href="components.html#color-picker">Color Picker</a></li>
        <li><a href="components.html#view-card">View Card</a></li>
        <!-- TEMPLATE_TOKEN (Don't remove this. Like seriously.) -->
      </ul>
    </li>

    <li class="menu-section-title"><a href="legacy.html">Legacy JavaScript</a>
      <ul class="menu-navigation">
        <li><a href="legacy.html#modals">Modals</a></li>
        <li><a href="legacy.html#flannels">Flannels</a></li>
        <li><a href="legacy.html#flyouts">Flyouts</a></li>
        <li><a href="legacy.html#menu">Menu</a></li>
        <li><a href="legacy.html#tabs">Tabs</a></li>
        <li><a href="legacy.html#buttontoggle">Button Toggle</a></li>
        <li><a href="legacy.html#dropdowns">Dropdowns</a></li>
        <li><a href="legacy.html#tour">Tour</a></li>
      </ul>
    </li>
  </ul>
