---
title: Socrata Styleguide
---


<div class="container">

  <div id="pagemap" class="menu menu-offscreen menu-anchor-left">
    <%= partial "guide_menu" %>
  </div>

  <div class="content">
    <h2>Prototypes</h2>
    <p>
      We continuously test designs by building prototypes, both using this styleguide but also using other
      means. This page is supposed to help you navigate all of these efforts by providing pointers to relevant
      resources. Some of these pages are linked together, so there might be more than one way of getting to
      any given prototype. Sometimes the pages look funky or broken, they are just prototypes after all, built
      by designers hacking away.
    </p>

    <h2 class="h6">Built using styleguide</h2>
    <ul>
      <li><a href="prototypes/homepage/view.html">Homepage</a> - An example of a customer homepage</li>
      <li><a href="prototypes/homepage/settings.html">Site Appearance</a> - Where admins would customize their site</li>
      <li>
        <a href="prototypes/catalog/index.html">Catalog</a> - An example of a generic catalog
        <ul>
          <li><a href="prototypes/catalog/facet.html">Catalog Facet</a> - AKA Category page, Category Hub or CHUB</li>
          <li>
            <a href="prototypes/catalog/catalog-viz.html">Catalog Rich View</a>
            - A results page featuring only visualizations and stories
          </li>
        </ul>
      </li>
      <li>
        <a href="prototypes/landingpage/index.html">Dataset Landing Page</a> - The page that is a dataset</a>
        <ul>
          <li>
            <a href="prototypes/landingpage/landingpage-logged-in.html">Dataset Landing Page - Edit mode</a> -
            How a publisher would edit their Landing Page
          </li>
        </ul>
      </li>
      <li>
        <a href="prototypes/tables/view.html">Tables</a>
      </li>
    </ul>

    <h2 class="h6">Inventory of other prototypes and mockups</h2>
    <ul>
      <li>
        <a href="https://docs.google.com/document/d/1FvjOrlzLRyH53gOTbc4sXOzsKICnxA6jh5crm_MN3eQ">
          UX Resource Arsenal <span class="icon-external"></span>
        </a>
      </li>
  </div>
</div>
