<div
  class="searchbox"
  data-catalog-autocomplete="<%= get_feature_flag('browse_autocomplete') ? true : false %>"
  data-catalog-autocomplete-disable-animation="true"
  data-catalog-autocomplete-mobile="<%= local_assigns[:mobile] == true %>">
  <form action="<%= path %>" method="get">
    <%# EN-12158: Force a sortBy of "relevance" on the query results %>
    <input type="hidden" name="sortBy" value="relevance" />
  </form>
</div>
