.baseBtn {
  composes: btn from global;
  composes: btn-primary from global;
}

.saveBtn {
  composes: baseBtn;
  composes: btn-success from global;
}

.updatingBtn {
  composes: baseBtn;
  composes: btn-busy from global;
  composes: btn-sm from global;
}

.successfulBtn {
  composes: baseBtn;
  composes: btn-success from global;
}

.errorBtn {
  composes: baseBtn;
  composes: btn-error from global;
}

.spinner {
  composes: spinner-default from global;
  composes: spinner-btn-primary from global;
}
