@import '../../common.scss';

.header {
  background-color: $panel-header-background-color;
  box-shadow: inset 1px 0 $panel-header-outline-color;
  color: $white;
  height: $headerBarHeight;
  position: relative;

  h3 {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    height: $headerBarHeight;
    margin: 0;
    padding: 12px 40px;
  }

  .new-notifications-label {
    display: inline-block;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    margin-left: 15px;
    text-transform: uppercase;

    span:first-child {
      margin-right: 3px;
    }
  }

  .header-icon,
  .close-panel-link {
    color: $white;
    height: $headerBarHeight;
    line-height: $headerBarHeight !important;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
  }

  .header-icon {
    font-size: 21px;
    left: 0;

    & :global(.socrata-icon) {
      height: 21px;
      width: 21px;
      margin-top: 13px;

      & svg {
        height: 21px;
        width: 21px;
      }
    }
  }

  .close-panel-link {
    background-color: transparent;
    font-size: 13px;
    right: 0;

    &:hover,
    &:focus {
      background-color: $panel-close-link-background-color;
    }

    & :global(.socrata-icon) {
      height: 13px;
      width: 13px;
      margin-top: 16px;

      & svg {
        height: 13px;
        width: 13px;
      }
    }
  }

  & :global(.socrata-icon) {
    color: $white;
    fill: $white;

    & svg {
      &,
      * {
        color: $white;
        fill: $white;
      }
    }

    &:before {
      display: none;
    }
  }
}

:global(.site-chrome-small) {
  .header {
    height: $headerHeightSmall;

    h3 {
      font-size: 13px;
      height: $headerHeightSmall;
      padding: 6px 30px;
    }

    .header-icon,
    .close-panel-link {
      height: $headerHeightSmall;
      line-height: $headerHeightSmall !important;
      width: 30px;
    }

    .header-icon {
      font-size: 15px;
    }

    .close-panel-link {
      font-size: 10px;
    }
  }
}
