#contact-form {
  .modal-container {
    max-width: 600px;
    max-height: 600px;
    overflow-y: scroll;

    .modal-header {
      .modal-header-title {
        margin-top: 0;
        font-weight: normal;
      }
    }

    .modal-content {
      max-height: none;
      overflow-y: visible;

      .subject {
        width: 100%;
      }

      .message {
        width: 100%;
        min-width: auto;
        resize: vertical;
        height: 7em;
      }

      .email {
        width: 300px;
      }

      label .quiet {
        margin-left: 5px;
      }

      .alert {
        &.validation {
          margin: 10px 0;
        }

        p {
          margin: 0;
        }
      }
    }

    #contact-form-cancel {
      padding: 10px 12px;
    }

    #contact-form-send {
      padding: 10px 12px;

      &.sending {
        padding: 6px 12px;
        vertical-align: bottom;
      }
    }

    @media(max-width: $small) {
      max-height: none;
    }
  }
}
