#featured-content-modal {
  /* these come from the styleguide, added here to avoid magic numbers */
  $modal-header-height: 52px;
  $modal-footer-height: 56px;

  h1 {
    font-weight: 400;
    font-size: 19px;
  }

  /* Allow for inner content to scroll */
  .modal-content-wrapper {
    height: calc(100% - #{$modal-header-height});
    overflow: scroll;
    padding-bottom: $modal-footer-height;

    .modal-content {
      max-height: none;
    }
  }

  .modal-content {
    margin: 0 auto;
    width: 960px;
    overflow: visible;

    .back-button {
      margin-bottom: 11px;

      .icon-arrow-prev {
        margin-right: 4px;
      }
    }

    .featured-content {
      display: flex;

      .featured-item {
        & + .featured-item {
          margin-left: 15px;
        }

        .btn-wide {
          min-width: 165px;
        }

        .edit-button, .remove-button {
          width: 110px;
          visibility: hidden;

          [class^="icon"] {
            margin-right: 6px;
          }
        }

        &:hover, &.show-buttons {
          .edit-button, .remove-button {
            visibility: visible;
          }
        }

        &.placeholder {
          position: relative;
          width: 300px;;
          height: 314px;

          background: $light-grey-6;
          border: 2px dashed $light-grey-1;

          &:hover {
            background: $light-grey-4;
          }
        }
      }
    }

    .external-resource-contents {
      display: flex;

      form.external-resource-form {
        flex: 1 0 auto;
        padding-right: 22px;

        input[type="text"] {
          width: 100%
        }

        .file-input {
          margin-bottom: 12px;
        }

        .label-url, .label-preview-image {
          margin-top: 11px;
        }

        .alert {
          margin-top: 0;
          margin-bottom: 22px;
        }
      }

      .external-resource-preview {
        flex: 0 0 300px;
        height: 314px;
        overflow: hidden;

        .view-widget {
          border: 2px $light-grey-1 dashed;
        }
      }
    }

    .story-contents {
      display: flex;

      form.story-form {
        flex: 1 0 auto;
        padding-right: 22px;

        input.url {
          width: 100%
        }

        label.label-url {
          margin-top: 11px;
        }
      }

      .story-preview {
        flex: 0 0 300px;
        display: flex;
        height: 314px;
        overflow: hidden;

        .view-widget {
          border: 2px $light-grey-1 dashed;
        }

        .placeholder {
          flex: 0 0 300px;
          background: $light-grey-6;
          border: 2px $light-grey-1 dashed;
        }

        .spinner-wrapper {
          flex: 0 0 300px;
          display: flex;
          border: 2px $light-grey-1 dashed;

          // Styleguide polyfill
          .spinner-large {
            margin: auto;
          }
        }
      }
    }

    .alert.error {
      margin: 22px 0;
    }
  }

  .internal-resource-contents {
    .view-select.btn {
      color: #fff;
    }

    .spinner-default {
      margin: auto;
      display: block;
    }
  }

  .modal-footer {
    .btn-sm .spinner-default {
      border-width: 2px;
      width: 12px;
      height: 12px;
    }
  }
}
