@import "dataset-landing-page/styleguide-colors";
@import "dataset-landing-page/breakpoints";

@import "dataset-landing-page/alerts";
@import "dataset-landing-page/contact-form";
@import "dataset-landing-page/dataset-preview";
@import "dataset-landing-page/featured-content";
@import "dataset-landing-page/featured-content-modal";
@import "dataset-landing-page/schema-preview";
@import "dataset-landing-page/view-selector";
@import "dataset-landing-page/view-widget";

// Miscellaneous colors not in styleguide
$facebook-blue: #3b5998;
$dark-grey-1-darkened: darken($dark-grey-1, 3%); // To pass contrast test
$grid-link-color: #5e5e5e; // Mimic color used in styleguide that doesn't follow palette
$light-blue: #5aafe1;
$link-color: #2c97de;
$twitter-blue: #55acee;

body {
  margin: 0;
  padding: 0;
  background: $light-grey-6;
}

.container {
  margin: 0 auto;
}

// Fix styleguide buttons with spinners in them
.btn.btn-sm.btn-busy {
  padding: 8px 15px 5px;

  .spinner-default {
    width: 15px;
    height: 15px;
    border-width: 2px;
  }
}

.info-pane {
  background: $white;
  width: 100%;
  padding-top: 15px;

  .container {
    margin-top: 0;
    max-width: 68em;
  }

  h1.info-pane-name {
    margin: 0;
    margin-right: 11px;
    display: inline;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: -0.5px;

    .icon-private {
      color: $warning-base;
      padding-right: 4px;
    }
  }

  .entry-header.dataset-landing-page-header {
    display: flex;
    flex-wrap: wrap;

    .entry-title {
      flex: 1 1 auto;
      width: auto;
      margin-right: 20px;

      .icon-official {
        margin-right: 4px;
      }

      .tag-category {
        margin-right: 0;
      }
    }

    .entry-actions {
      flex: 0 1 auto;
      padding-top: 8px;

      .btn-group > .btn {
        line-height: 1.25;
      }

      .dropdown {
        z-index: 10;

        &:after {
          display: none;
        }
      }

      .dropdown.download {

        .geo-layer-heading {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          text-align: left;
          padding: 8px 15px;
          padding-top: 16px;
          font-weight: 600;
          cursor: default;
        }

        .geo-layer-export a {
          padding-left: 25px;
        }
      }

      .grid {
        color: $grid-link-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        .icon-external {
          padding-left: 7px;
        }
      }

      .more .icon-waiting {
        padding: 0;
      }
    }
  }

  .entry-main {
    .entry-description-container {
      .entry-description {
        display: inline-block;
        line-height: 24px;
      }
    }
  }

  .entry-content {
    .entry-meta.updated .meta-title {
      padding-top: 0;
    }
  }

  @media(max-width: $small) {
    .entry-header.dataset-landing-page-header {
      .entry-actions {
        flex: 1 0;

        .btn-group {
          width: 100%;
          display: flex;

          > .btn {
            flex: 1 0 auto;
            text-align: center;
          }
        }
      }
    }
  }
}
.dataset-landing-page {
  // Styleguide polyfill
  .spinner-large {
    width: 64px;
    height: 64px;
    border: 7px solid $primary-base;
    border-right-color: $primary-light;
  }

  .desktop-spinner {
    display: flex;
    width: 100%;
    height: 287px;

    .spinner-large {
      margin: auto;
    }
  }
}

.dataset-landing-page {
  // Styleguide polyfill
  .spinner-large {
    width: 64px;
    height: 64px;
    border: 7px solid $primary-base;
    border-right-color: $primary-light;
  }

  .desktop-spinner {
    display: flex;
    width: 100%;
    height: 287px;

    .spinner-large {
      margin: auto;
    }
  }
}

main.container.landing-page-container {
  display: block; // IE11
  max-width: 68em;
  margin-top: 0;

  section.landing-page-section {
    padding: 11px;

    h2 {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      padding: 11px 0;
    }

    .landing-page-header-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .btn-default {
        margin-bottom: 8px;
        align-self: center;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  .alert.error {
    margin-top: 15px;
  }

  .media-results {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;

    .alert {
      width: 100%;
    }

    .second {
      .date {
        font-size: 11px;
      }
    }

    .result-card {
      flex: 0 0 auto;
      width: 32%;
      height: 287px;
      margin-right: 2%;

      &.loading-card {
        display: flex;

        .spinner-large {
          margin: auto;
        }
      }

      @media(max-width: $medium) {
        flex: 0 0 260px;
      }

      @media(min-width: $medium) {
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }

    &.popular-views {
      .result-card {
        opacity: 0;
      }
    }

    @media(max-width: $medium) {
      flex-flow: row nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }

  .section-content {
    background: $white;
    border: 1px $light-grey-4 solid;
    border-bottom-width: 2px;
    display: flex;
    align-items: flex-start;
  }

  hr {
    margin: 0 15px;
    border-top: 1px $light-grey-4 solid;
  }

  button.contact-dataset-owner {
    margin-top: 15px;
  }

  .metadata-column {
    margin-right: 2%;
    flex: 1 0;

    &.fancy {
      flex: 0 1 32%;
      margin: 0;
    }

    &.tables {
      overflow: hidden;
      position: relative;
      padding-bottom: 28px;

      .metadata-table-toggle-group {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: right;
        padding: 11px;
        background: $white;

        &.desktop {
          display: block;
        }

        &.mobile  {
          display: none;
        }
      }

      a.metadata-table-toggle {
        text-decoration: underline;
      }

      .metadata-table-toggle.more {
        display: none;
      }

      .metadata-table-toggle.less {
        display: initial;
      }

      &.collapsed {
        .metadata-table {
          &.hidden {
            display: none;
          }
        }

        .metadata-table-toggle.more {
          display: initial;
        }

        .metadata-table-toggle.less {
          display: none;
        }
      }
    }
  }

  .metadata-row {
    margin: 0;

    &.middle {
      margin: 15px 0;
    }
  }

  .metadata-section {
    margin: 15px;
  }

  .metadata-flex {
    display: flex;
  }

  .metadata-pair {
    display: inline-block;
    max-width: 160px;
    margin: 0 45px 0 0;

    &:last-child {
      margin-right: 0;
      max-width: none;
    }

    .metadata-pair-key {
      font-size: 15px;
    }

    .metadata-pair-value {
      font-size: 24px;
      line-height: 27px;
      color: $primary-dark;
      letter-spacing: -0.5px;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }
  }

  .metadata-detail-groups {
    justify-content: flex-start;
  }

  .metadata-detail-group {
    margin-right: 15px;
  }

  .metadata-detail-group-title {
    font-size: 12px;
    color: $dark-grey-1-darkened;
    font-weight: 600;
  }

  .metadata-detail-group-value {
    font-size: 12px;
    margin: 0;

    &.empty {
      font-style: italic;
    }
  }

  .metadata-table {
    padding: 0 15px;

    h3.metadata-table-title {
      font-size: 15px;
      font-weight: 600;
      margin: 0;
      margin-top: 15px;
      letter-spacing: -0.5px;
    }

    table {
      border-collapse: collapse;

      tr:nth-of-type(odd) {
        background: $light-grey-6;
      }

      tr {
        td {
          vertical-align: middle;

          padding: 3px;

          &:first-child {
            color: $dark-grey-2;
            width: 35%;
            padding: 3px 11px;
          }

          &.empty {
            font-style: italic;
          }

          &.attachment, &.attachment a {
            word-break: break-all;
            word-wrap: break-word;

            .icon-copy-document {
              margin-right: 4px;
            }
          }
        }
      }

      .tag-list-container {
        .tag-list {
          display: inline-block;
          line-height: 24px;

          button {
            color: $dark-grey-1;
          }
        }
      }
    }
  }

  @media(max-width: $medium) {
    .section-content {
      flex-wrap: wrap;

      .metadata-column, .metadata-column.fancy {
        flex: 1 0 100%;
      }

      .metadata-detail-groups {
        display: block;

        &.middle {
          margin-bottom: 0;
        }

        .metadata-detail-group {
          display: block;

          .metadata-detail-group-title {
            display: inline-block;
            margin: 0 4px 0 0;
          }

          .metadata-detail-group-value {
            display: inline-block;
          }
        }
      }

      .metadata-column.tables {
        padding-bottom: 40px;

        .metadata-table-toggle-group.desktop {
          display: none;
        }

        .metadata-table-toggle-group.mobile {
          display: block;
        }
      }
    }
  }
}

.modal {
  h1, h4, h5, h6 {
    font-weight: 400;
  }

  .modal-header-title {
    max-width: 95%;
  }
}

.bootstrap-alert {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    margin-left: 22px;
    flex-shrink: 0;
  }
}

.flyout[id^="bootstrap-flyout"] {
  max-width: none;
  width: 400px;
}

#api-flannel {
  letter-spacing: 0;
  text-align: left;
  width: 420px;
  max-width: 100%; // mobile

  h2 {
    font-size: 20px;
  }

  h2, h6 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  .flannel-header {
    max-width: 95%;
  }

  .flannel-content {
    &.api-description {
      margin-bottom: 1.5rem;
    }
  }
}

#odata-modal {
  .modal-header {
    h2 {
      margin: 0;
      font-size: 19px;
      font-weight: normal;
    }
  }

  .modal-content {
    &.odata-description {
      margin-bottom: 1.5rem;
    }

    & *:last-child {
      margin-bottom: 0;
    }
  }
}

#api-flannel,
#odata-modal {
  .endpoint {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    .endpoint-title {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: none;
    }

    .layer-name {
      margin-bottom: 0.2rem;
    }

    .endpoint-input {
      color: $dark-grey-2;
      margin-bottom: 0;
    }

    .dropdown {
      padding: 6px 12px;
    }

    .input-group .input-group-btn .btn {
      padding: 8px;
    }
  }

  .btn .icon-copy-document:before,
  .btn .icon-settings:before {
    padding-right: 11px;
  }

  @media(max-width: $small) {
    .documentation-link {
      display: block;
      width: 100%;
      margin-bottom: 6px;
      text-align: center;
    }
  }
}

#share-modal {
  .modal-header {
    h2 {
      margin: 0;
      font-size: 19px;
      font-weight: normal;
      color: $dark-grey-2;
    }

    margin-bottom: 24px;
  }

  a {
    text-decoration: none;
  }

  .alert a {
    color: $light-blue;
  }

  .twitter, .facebook, .email {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }

    [class^="icon"] {
      margin-right: 8px;
    }
  }

  .twitter a {
    color: $twitter-blue;
  }

  .facebook a {
    color: $facebook-blue;
  }

  .email a {
    color: $dark-grey-3;
  }
}

.shepherd-step .shepherd-content {
  h3 {
    font-weight: 500;
  }

  p {
    margin: 0;
  }

  .shepherd-buttons {
    text-align: center;
  }

  .shepherd-cancel-link {
    display: none;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.btn {
  [class^="icon-"]:last-child {
    padding-right: 0;
  }
}

.collapsible {
  overflow: hidden;

  .collapse-toggle.more {
    display: none;
  }

  .collapse-toggle.less {
    display: inherit;
  }

  &[data-collapsed] {
    .collapse-toggle.more {
      display: inherit;
    }

    .collapse-toggle.less {
      display: none;
    }
  }

  .collapse-toggle {
    padding: 0;
    margin-left: 4px;
    text-decoration: underline;
    color: $light-grey-1;
    cursor: pointer;
    border: none;
    background-color: $white;
  }
}

.feedback-panel {
  position: fixed;
  width: 37rem;
  bottom: 0;
  right: 0;
  @media(max-width: $medium) {
    height: 0;
    width: 100%;
    position: absolute;
  }

  .feedback-panel-content {
    z-index: 10000;
  }

  .feedback-panel-button {
    background-color: $primary-alt-1-light;
    border: 1px solid $primary-alt-1-dark;
    border-bottom: none;
    color: $primary-alt-1-dark;
    padding: 0.5rem 1rem 1rem 1rem;
    position: fixed;
    bottom: -0.35rem;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    @include prefixer(transition, '0.25s');

    &:hover,
    &:focus {
      bottom: 0;
    }
  }

  .flannel-header {
    max-width: 95%;

    h5 {
      margin: 0.5rem 0 0;
    }
  }

  .feedback-panel-content {
    position: fixed;
    width: 36rem;
    padding: 0 1rem 1rem;
    bottom: -22rem;

    p {
      margin: 1rem 0;
    }

    a {
      font-weight: bold;
    }

    button:first-child {
      margin-bottom: 1rem;
    }

    .desktop {
      display: block;
    }
    .mobile {
      display: none;
    }

    @media(max-width: $medium) {
      height: auto;
      width: 100%;

      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
  }
}

// third-party widget overrides
#us_report_button, .zEWidget-launcher {
  display: none !important;
}

#chrome-header .mobile-menu {
  z-index: 1000 !important;
}

footer#chrome-footer {
  margin-top: 20px;
  visibility: hidden;
}

// firefox-specific issue
@-moz-document url-prefix() {
  .info-pane .entry-header .entry-actions .btn-group > button.btn {
    line-height: 1.1;
  }
}
