<div id="custom-dropdown-container"></div>

<script type="text/babel" data-presets="es2015,react">
  $(() => {
    const DropdownWithIcon = (props) => {
      const { icon, title } = props;

      return (
        <div className="special-dropdown-option">
          <span className={icon} key={icon} />
          {title}
        </div>
      );
    };

    const renderOption = (option) => <DropdownWithIcon {...option} />;

    const customRenderProps = {
      displayTrueWidthOptions: true,
      onSelection: (option) => {
        const { title, value } = option;
        console.log(`option selected: ${title}, ${value}`);
      },
      placeholder: () => <button className="btn btn-alternate-3">Hello, World!</button>,
      options: [
        { title: 'Emotional technicality', value: 'emotecho', icon: 'socrata-icon-facebook', render: renderOption },
        { title: 'Pontificate harder', value: 'ponfer', icon: 'socrata-icon-twitter', render: renderOption },
        { title: 'No one misses these', value: 'noone', icon: 'socrata-icon-dataset', render: renderOption }
      ]
    };

    ReactDOM.render(
      <styleguide.Dropdown {...customRenderProps} />,
      document.getElementById('custom-dropdown-container')
    );
  });
</script>
