<div>
  <span id="socrata-logo-icon-black-container"></span>
  <span id="socrata-logo-icon-color-container"></span>
  <span id="socrata-logo-icon-white-container" style="background: black;"></span>
  <span id="socrata-logo-icon-dark-container" style="background: black;"></span>
</div>

<script type="text/babel" data-presets="es2015,react">
  $(() => {
    // black is default
    ReactDOM.render(
      <styleguide.SocrataIcon name="logo" />,
      document.getElementById('socrata-logo-icon-black-container')
    );

    // white
    ReactDOM.render(
      <styleguide.SocrataIcon name="logo" className="socrata-icon-logo-white" />,
      document.getElementById('socrata-logo-icon-white-container')
    );

    // color
    ReactDOM.render(
      <styleguide.SocrataIcon name="logo" className="socrata-icon-logo-color" />,
      document.getElementById('socrata-logo-icon-color-container')
    );

    // dark
    ReactDOM.render(
      <styleguide.SocrataIcon name="logo" className="socrata-icon-logo-dark" />,
      document.getElementById('socrata-logo-icon-dark-container')
    );
  });
</script>
