<div class="cards-view" notify-resize="headerContent">
  <!-- HEADER -->
  <div class="row">
    <div class="span12">
      <div class="logo">
        <img src="/stubs/images/generic-logo.png" alt="Customer Logo"></img>
      </div>
    </div>
  </div>
  <!-- METADATA BAR -->
  <div class="cards-metadata">
    <div class="row">
      <div class="span9 padded-wrapper">
        <header multiline-ellipsis max-lines="2" tolerance="8" text="{{pageName}}" show-more-mode="title-attr"></header>
        <!-- description -->
        <div class="page-description" expanded="expanded" multiline-ellipsis max-lines="3" tolerance="2" text="{{pageDescription}}"></div>
      </div>
      <div class="span3">
        <!-- activities -->
        <div class="activities span12">
          <div class="metadata">
            <div class="metadatum-wrapper row">
              <div class="metadatum" ng-class="{invisible: !datasetDaysUnmodified}">
                <span class="label">last updated</span>
                <span class="value">{{datasetDaysUnmodified}}</span>
              </div>
            </div>
          </div>
          <a ng-click="editMode = !editMode" class="action-btn r-to-l" ng-class="{active: editMode}">Edit</a>
          <a href="{{datasetCSVDownloadURL}}" title="Download this data as CSV" class="action-btn r-to-l">Download</a>
          <button id="api-panel-toggle-btn" title="Access this Dataset via API" ng-class="{touched: apiPanelActive}" class="action-btn r-to-l">API</button>
          <div id="api-panel" ng-class="{active: apiPanelActive}">
            <div id="api-panel-inner-container">
              <div id="api-panel-hint"></div>
              <h2>API</h2>
              <p>You can access this data via the Socrata Open Data API at this URL:</p>
              <div id="api-url-display">
                <div id="api-url-content">{{datasetAPIURL}}</div>
              </div>
              <p>Here are some additional useful resources for this API:</p>
              <a href="{{datasetDocumentationURL}}" title="View API documentation" class="api-btn action-btn l-to-r">Documentation</a>
              <a href="http://dev.socrata.com/libraries/" title="Download API clients from the Code Library" class="api-btn action-btn l-to-r">Code Libraries</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-content">
    <!-- CARDS FILTER BAR -->
    <div class="quick-filter-bar" sticky-header update-on-resize="headerContent" ng-class="{stuck: headerIsStuck}" ng-style="headerStyle">
      <div class="content">
        <span>
          Showing <span class="light">all {{datasetRowDisplayUnit.pluralize()}}</span>
        </span>
        <div class="filter" ng-repeat="filter in appliedFiltersForDisplay">
          <span ng-if="$first">where</span>
          <span ng-if="!$first">and</span>
          <span class="light lowercase">{{filter.column.title}}</span>
          <span>{{filter.operator}}</span>
          <span class="light">{{filter.operand}}</span>
        </div>
      </div>
    </div>
    <!-- CARD TILES -->
    <style id="card-layout"></style>
    <div id="card-container" class="cards">
      <card model="cardModel"
            id="card-{{cardModel.uniqueId}}"
            class="card"
            edit-mode="editMode"
            where-clause="globalWhereClauseFragment"
            ng-class="{ expanded: expanded }"
            ng-repeat="cardModel in cardModels"></card>
    </div>
  </div>
</div>
