<div class="cards-view" notify-resize="headerContent">
  <!-- HEADER -->
  <page-header ng-show="pageHeaderEnabled" current-user="currentUser"></page-header>
  <!-- METADATA BAR -->
  <div class="cards-metadata" ng-class="{'page-header-enabled': pageHeaderEnabled}">
    <div class="row">
      <div class="span6 padded-wrapper">
        <header ng-show="!editMode"
                multiline-ellipsis
                max-lines="2"
                tolerance="8"
                text="{{pageName || ('metadata.pageNamePlaceholder' | I18n)}}"
                show-more-mode="title-attr">
        </header>
        <!-- Text field & decorations for editing page name -->
        <label class="edit-page-name" ng-if="editMode">
          <div class="icon-warning edit-page-warning"
            ng-if="writablePage.warnings.name"
            title="{{ writablePage.warnings.name.join('\n') }}"></div>
          <textarea
            msd-elastic
            ng-model="writablePage.name"
            >{{writablePage.name}}</textarea>
          <div class="icon-edit placeholder"><span>({{'metadata.pageNamePlaceholder' | I18n}})</span></div>
        </label>
        <!-- description -->
        <div ng-show="!editMode"
             class="page-description"
             expanded="expanded"
             multiline-ellipsis
             max-lines="3"
             tolerance="2"
             text="{{pageDescription}}"
             show-more-mode="expand-link">
        </div>
        <label class="edit-page-description" ng-if="editMode">
          <rich-text-editor
            buttons="bold italic link"
            content="writablePage.description"
            placeholder="{{'metadata.editDescriptionPrompt' | I18n}}">
          </rich-text-editor>
        </label>
      </div>
      <div class="span6 padded-wrapper">
        <!-- activities -->
        <div class="activities span12">
          <div class="metadata">
            <div class="metadatum-wrapper row">
              <lens-type></lens-type>
            </div>
            <!-- CORE-5179: Removing last updated -->
            <!--
            <div class="metadatum-wrapper row">
              <last-updated class="metadatum"></last-updated>
            </div>
            -->
            <div class="metadatum-wrapper row" ng-show="sourceDatasetURL">
              <div class="metadatum">
                <span class="label">{{'metadata.sourceDataset' | I18n}}</span>
                <span class="value source-dataset-name">
                  <a href="{{sourceDatasetURL}}" title="{{sourceDatasetName}}" target="_parent">{{sourceDatasetName}}</a>
                </span>
              </div>
            </div>
            <div class="metadatum-wrapper row manage-lens-link" ng-if="shouldShowManageLens && pagePermissions && currentUserHasSaveRight">
              <div class="metadatum">
                <span class="label">{{'common.permissions.permissions' | I18n}}</span>
                <span class="value">
                  <a href=# ng-click="manageLensState.show = true">{{ pagePermissions }} <small>({{'common.change' | I18n}})</small><span class="icon-warning" ng-if="pageIsPublic && !datasetIsPublic"></span></a>
                </span>
              </div>
              <modal-dialog ng-if="manageLensState.show" dialog-state="manageLensState">
                <manage-lens-dialog dialog-state="manageLensState" page="page"></manage-lens-dialog>
              </modal-dialog>
            </div>
            <div class="metadatum-wrapper row">
              <related-views
                page="page"
                dataset-pages="datasetPages"
                ng-show="showOtherViewsButton"
                ></related-views>
            </div>
          </div>
          <div
            ng-click="onDownloadClick($event)"
            class="action-btn r-to-l download-menu"
            ng-class="{active: downloadOpened || chooserMode.show, disabled: editMode}"
            ng-if="showDownloadButton"
            >{{ (chooserMode.show ? 'common.cancel' : 'common.download') | I18n }}
            <dropdown-menu ng-if="downloadOpened">
            <a href="{{datasetCSVDownloadURL}}">{{'metadata.dataAsCsv' | I18n}}</a>
              <a href='#'
                 ng-class="{'download-menu-item-disabled': hasChanges}"
                 ng-click="chooserMode.show = !hasChanges"
                 >
                <span ng-class="{'download-menu-item-disabled-text': hasChanges}">
                  {{'metadata.visualizationAsImage' | I18n}}
                </span>
              </a>
            </dropdown-menu>
          </div>
          <a ng-if="!showDownloadButton"
             class="action-btn r-to-l"
             href="{{datasetCSVDownloadURL}}">{{'common.download' | I18n}}</a>
          <api-explorer dataset-observable="page.observe('dataset')"></api-explorer>
        </div>
      </div>
    </div>
  </div>
  <!-- CUSTOMIZE_BAR -->
  <customize-bar
    edit-mode="editMode"
    has-changes="hasChanges"
    expanded-card="expandedCard"
    exporting-visualization="chooserMode.show"
    revert-page="revertPage"
    revert-initiated="revertInitiated"
    save-page="savePage"
    save-page-as="savePageAs"
    save-status="saveStatus"
    ng-show="currentUserHasSaveRight">
  </customize-bar>
  <div class="cards-content">
    <div id="quick-filter-bar-container">
      <div class="quick-filter-bar" with-spacer>
        <div class="content">
          <span
            ng-show="aggregation.unit"
            ng-bind-html="'quickFilterBar.filterTitle' | I18n:dynamicTitle">
          </span>
          <div class="filters">
            <div class="filter" ng-repeat="filter in appliedFiltersForDisplay">
              <span ng-if="$first">{{'filter.where' | I18n}}</span>
              <span ng-if="!$first">{{'filter.and' | I18n}}</span>
              <span class="light lowercase">{{filter.column.version === '0' ? filter.column.title : filter.column.name}}</span>
              <span>{{filter.operator}}</span>
              <span class="light">{{filter.operand}}</span>
            </div>
          </div>
          <button class="clear-all-filters-button action-btn dark" ng-if="appliedFiltersForDisplay.length > 0" ng-click="clearAllFilters()">Clear All ×</button>
          <aggregation-chooser page="page"></aggregation-chooser>
        </div>
      </div>
    </div>

    <card-layout
      id="card-container"
      class="cards"
      ng-class="{'edit-mode': editMode}"
      page="page"
      edit-mode="editMode"
      global-where-clause-fragment="globalWhereClauseFragment"
      expanded-card="expandedCard"
      allow-add-card="!allVisualizableColumnsVisualized"
      dataset-columns="datasetColumns"
      chooser-mode="chooserMode">
    </card-layout>

  </div>

  <modal-dialog
    ng-if="addCardState.show"
    dialog-state="addCardState">

    <add-card-dialog
      card-models="cardModels"
      on-customize-card="customizeCard"
      dataset-columns="datasetColumns"
      dialog-state="addCardState"
      page="page">
    </add-card-dialog>

  </modal-dialog>

  <modal-dialog
    class="second"
    ng-if="customizeState.show"
    dialog-state="customizeState">

    <customize-card-dialog
      dialog-state="customizeState"
      page="page">
    </customize-card-dialog>

  </modal-dialog>

  <modal-dialog
    ng-if="mobileWarningState.show"
    dialog-state="mobileWarningState">

    <mobile-warning-dialog dialog-state="mobileWarningState"></mobile-warning-dialog>

  </modal-dialog>

  <feedback-panel></feedback-panel>

</div>
