table.op-admin-table {
  table-layout:fixed;

  tbody {
    tr {
      td[scope=title] {
        width: 400px;
      }

      .flyout-container {
        display: inline-block;
      }

      .externalLink {

        .icon-external {
          margin-left: 5px;
          display: none;
        }

        &:hover {
          .icon-external {
            display: initial;
          }
        }
      }

      &.selected {
        .goalPageLink, .goalEditLink {
          display: initial;
        }
      }

      &:hover {
        background: #cae5fd;

        .goalPageLink, .goalEditLink {
          display: initial;
        }
      }

      .goalPageLink {
        float: right;
        min-width: 110px;
        text-align: left;
        border-left: 1px solid #999999;
        padding-left: 5px;
        display: none;
      }

      .dashboardLink {
        min-width: 220px;
      }

      .editLinkContainer {
        min-width: 100px;
      }

      .goalEditLink {
        display: none;
      }
    }
  }
}

.rowsPerPageContainer {
  float: right;
  margin-right: 20%;

  .Select {
    vertical-align: middle;
    display: inline-block;
    min-width: 60px;

    .Select-value-label {
      color: #5e5e5e;
    }

    &.has-value.Select--single > .Select-control > .Select-value .Select-value-label{
      color: #5e5e5e;
    }

    .Select-control {
      border: none;
    }
  }
}
