.navbar-inverse {
  background-color: #494646;
  border: none; }
  .navbar-inverse .navbar-brand {
    padding: 10px;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1%;
    color: white; }
    .navbar-inverse .navbar-brand > img {
      display: inline-block; }
  .navbar-inverse .navbar-collapse {
    border-color: transparent; }
  .navbar-inverse .navbar-nav > li > a {
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.4s; }
  .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #4793c9; }
  .navbar-inverse .navbar-nav .active a,
  .navbar-inverse .navbar-nav .active a:hover {
    background-color: #62a3d1; }
  .navbar-inverse .navbar-toggle,
  .navbar-inverse .navbar-toggle.collapsed {
    margin-right: 10px;
    margin-top: 12.5px;
    padding: 0px 10px;
    background-color: transparent;
    border-color: white;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 12.5px;
    line-height: 23px;
    color: #9d9d9d; }
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background-color: #4793c9;
    background-color: transparent; }
  .navbar-inverse.navbar-fixed-top {
    transition: all 0.25s ease-in-out; }
  .navbar-inverse.navbar-fixed-top.navbar-hidden {
    transform: translateY(-50px); }
  .navbar-inverse.navbar-fixed-top.navbar-visible {
    transform: translateY(0px); }

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0px; } }
