@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.fig {
  max-width: 50%;
  overflow-x: scroll;
  display: inline-block;
  margin-top: 0;
}

.name {
  color: $primary-dark;
}

.fig figcaption {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  padding-top: 5px;
}

.newCol {
  color: $primary-dark;
}

.table {
  border-collapse: collapse;
}

.table th { padding: 18px 10px 18px 5px; }
.table td { padding: 18px 10px; }
.table td,
.table th {
  text-align: left;
  line-height: 1;
  width: 33.3%;
  white-space: nowrap;
  font-size: 13px;
}

.table tr:nth-child(odd) {
  background-color: $light-grey-4;
}

.th {
  background-color: $white;
}
