.filter-bar {
  width: 100%;
  margin-top: 15px;
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  border-bottom: 2px solid #f5f5f5;
  color: #5E5E5E;

  .quick-filters {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      height: 100%;
    }

    li {
      float: left;
      padding: 0 10px 5px 10px;
      cursor: pointer;
      color: #5F5F5F;
      font-weight: 500;

      &:hover, &.selected {
        border-bottom: 3px solid #176289;
      }
    }
  }

  .picker-filters {
    font-size: 12px;
    height: 29px;
    margin-top: 5px;

    .picker-filters-header{
      font-size: 12px;
      color: #5E5E5E;
      padding-top: 5px;
      float: left;
      margin-right: 15px;
    }

    .dropdown-container {
      margin-right: 15px;

      .dropdown-placeholder {
        width: 190px;
        height: 28px;
        padding: 5px;
        color: #5E5E5E;
        border: 1px solid #DDDDDD;
        font-size: 12px;

        .dropdown-caret {
          font-size: 12px;

          &.socrata-icon-arrow-down {
           top: 6px;
          }
        }
      }
    }

    .socrata-icon {
      margin-right: 5px;
    }

    .socrata-icon-checkmark-alt {
      color: #36A76A;
    }

    .socrata-icon-warning-alt {
      color: #FDCB02;
    }

    .socrata-icon-close-circle {
      color: #CF626D;
    }

    .socrata-icon-processing {
      color: #7C8083;
    }

    .filter-bar-filter {
      height: 28px;
    }

    .filter-control-container {
      width: 190px;

      .filter-control-toggle {
        max-width: 190px;
        width: 190px;
        max-height: 28px;
        border: 1px solid #DDDDDD;
      }

      .remove-btn {
        display: none;
      }

      .filter-controls .filter-footer {
        justify-content: flex-end;
      }
    }
  }

  .filter-config-container {
    display: none;
  }
}
