<%= modal :id => 'selectDataset' do %>
  <h2><%= local_assigns[:title] || t('controls.common.dataset_picker.title') %></h2>
  <iframe src="<%= url_for :controller => :browse, :action => :select_dataset %>?nofederate=true&suppressed_facets[]=domain" frameBorder="0"></iframe>
<%- end -%>
