@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.dsmp-sidebar.source-sidebar {
  padding: 0 !important;
  @media (max-width: 750px) {
    flex: 0 0 auto;
    height: auto;
    width: 100%;
  }
  .source-list {
    padding: 1em;
    padding-left: 0.5em;
    list-style-type: none;
    height: calc(100% - 210px);
    overflow-y: auto;

    li {
      word-wrap: break-word;
      margin-bottom: 1em;
      padding-left: 0.5em;
      border-left: 1px solid $light-grey-4;

      a {
        text-decoration: none;
      }

      p {
        margin: 0px;
        color: $light-grey-2;
      }
    }

    li:hover {
      border-left: 1px solid $primary-base;
    }
  }

  .bold {
    font-weight: 900;
  }

  .timestamp {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: $dark-grey-1;
  }
}
