<div id="{{ kebabCase }}-container"></div>

<script type="text/babel" data-presets="es2015,react">
  $(() => {
    const props = {};

    ReactDOM.render(
      <styleguide.{{ name }} {...props} />,
      document.getElementById('{{ kebabCase }}-container')
    );
  });
</script>
