<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title><%= current_page.data.title || "Socrata's Styleguide" %></title>

    <link rel="stylesheet" href="/stylesheets/vendor/prism.css">
    <link rel="stylesheet" href="/css/styleguide.css">
    <link rel="stylesheet" href="/stylesheets/pages.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%= page_classes %>">
    <div class="responsive-navbar responsive-navbar-fixed">
       <span class="site-controls">
         <a class="menu-link" data-menu-toggle="pagemap" data-toggle><span class="icon-hamburger"> <span class="menu-link-text">Menu</span></a>

        <a class="home" href="index.html">
          <span>Product Styleguide</span>
        </a>
      </span>
      <div class="responsive-navbar-nav">
        <a href="https://github.com/socrata/styleguide" class="btn-sm btn btn-default btn-inverse">View on Github</a>
      </div>
    </div>

    <%= yield %>

    <script src="https://fb.me/react-15.1.0.js"></script>
    <script src="https://fb.me/react-dom-15.1.0.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.1/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/prism.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/tether.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/shepherd.js"></script>

    <script type="text/javascript" src="/js/socrata-components.js"></script>
    <script type="text/javascript" src="/javascripts/all.js"></script>
  </body>
</html>
