<h2><span class="icon-settings"></span> {{::'customizeCardDialog.title' | I18n}}: {{humanReadableColumnName}}</h2>
<div class="row">
  <div class="span7">
    <card-aggregation-selector
      page="page"
      card-model="customizedCard"
      ng-if="shouldShowAggregationSelector"></card-aggregation-selector>
    <div class="customize-card-preview">
      <card ng-if="customizedCard"
        model="customizedCard"
        interactive="false"
        card-draggable="false"
        class="card preview"></card>
    </div>
  </div>

  <div class="span5 customize-card-options">
    <visualization-type-selector card-model="customizedCard" ng-show="availableCardTypes.length > 1">
    </visualization-type-selector>
    <div class="configure-map-base-layer" ng-show="showBaseMapLayerDropdown">
      <h3>{{::'customizeCardDialog.mapLayer.title' | I18n}}</h3>
      <div>
        <div class="dropdown-container">
          <soc-select class="base-layer-selector" ng-model="baseLayerOption">
            <option value="simpleBlue">{{::'customizeCardDialog.mapLayer.simpleBlue' | I18n}}</option>
            <option value="simpleGrey">{{::'customizeCardDialog.mapLayer.simpleGrey' | I18n}}</option>
            <option value="esri">Esri</option>
            <option value="custom">{{::'customizeCardDialog.mapLayer.custom' | I18n}}</option>
          </soc-select>
        </div>
        <input name="customLayerUrl"
          type="url"
          class="dark"
          placeholder="http://domain.com/.../{z}/{x}/{y}.png"
          ng-model="customLayerUrl"
          ng-pattern="TILEURL_REGEX"
          ng-show="baseLayerOption === 'custom'"
          ng-min-length="5"
          ng-max-length="5165"/>
      </div>
    </div>
    <div class="configure-flannel-title" ng-show="showFlannelTitleMenu">
      <h3>{{::'customizeCardDialog.featureMapFlannel.title' | I18n}}</h3>
      <div class="dropdown-container">
        <soc-select class="column-selector flannel-title-selector" ng-model="selectedFlannelTitleColumnName">
          <option
            value="null"
            ng-selected="selectedFlannelTitleColumnName === null">{{::'customizeCardDialog.featureMapFlannel.defaultOption' | I18n}}</option>
          <option
            value="{{column.fieldName}}"
            ng-selected="selectedFlannelTitleColumnName === column.fieldName"
            ng-repeat="column in titleColumnOptions">{{column.columnName}}</option>
        </soc-select>
      </div>
    </div>
    <div class="configure-histogram-bucket-type" ng-show="showHistogramBucketTypeDropdown">
      <h3>{{::'customizeCardDialog.histogramBucketType.title' | I18n}}</h3>
      <div>
        <div class="dropdown-container" ng-class="{ 'warning-dropdown': showBucketTypeWarning }">
          <soc-select ng-model="histogramBucketOption">
            <option value="logarithmic">{{::'customizeCardDialog.histogramBucketType.logarithmic' | I18n}}</option>
            <option value="linear">{{::'customizeCardDialog.histogramBucketType.linear' | I18n}}</option>
          </soc-select>
          <span class="warning-icon icon-warning"></span>
        </div>
        <div class="option-help-text">{{histogramBucketHelpText}}</div>
      </div>
    </div>
  </div>
</div>

<div class="controls">
  <button class="action-btn dark r-to-l" ng-click="updateCard()" ng-disabled="disableSave">
    {{::'common.done' | I18n}}
    <spinner ng-if="busy"></spinner>
  </button>
  <button class="action-btn dark r-to-l" ng-click="dialogState.show = false">{{::'common.cancel' | I18n}}</button>
</div>
