<h2>{{::'manageLensDialog.title' | I18n}}</h2>

<section class="row provenance" ng-controller="ManageLensDialogProvenanceController" ng-show="showProvenanceSection">
  <label class="span2">{{::'manageLensDialog.provenance.title' | I18n}}</label>
  <div class="contents span10">
    <input type="checkbox" id="view-provenance-checkbox" class="view-provenance-checkbox" ng-model="isOfficial"/>
    <label for="view-provenance-checkbox" class="view-provenance-label">{{::'manageLensDialog.provenance.label' | I18n}}</label>
    <div class="view-provenance-description">{{::'manageLensDialog.provenance.description' | I18n}}</div>
  </div>
</section>

<section class="row ownership" ng-controller="ManageLensDialogOwnershipController" ng-if="shouldShowOwnershipSection">
  <label class="span2">{{::'manageLensDialog.ownership.title' | I18n}}</label>

  <div class="contents span10">
    <input
      type="text"
      autocomplete="off"
      class="ownership-input"
      ng-model="ownerInput"
      ng-disabled="!hasPermission"
      ng-class="{disabled: !hasPermission, error: showWarning}">
    <span class="icon-warning" ng-show="showWarning"></span>

    <div class="results suggestion-tool-panel tool-panel downwards light left" ng-show="shouldShowOwnershipSuggestions">
      <div class="tool-panel-main active">
        <div class="tool-panel-inner-container">
          <div class="tool-panel-hint"></div>

          <div class="suggestions-status">
            <div ng-show="suggestionsLoading">
              <div class="loading-message">{{::'searchCard.loading' | I18n}}</div>
              <spinner class="spinner"></spinner>
            </div>

            <span ng-hide="suggestionsLoading">{{suggestionsStatus}}</span>
          </div>

          <intractable-list
            ng-if="suggestions"
            list-data="suggestions"
            ng-hide="suggestionsLoading">
          </intractable-list>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row sharing" ng-controller="ManageLensDialogSharingController" ng-if="shouldShowSharingSection">
  <label class="span2">{{::'manageLensDialog.sharing.title' | I18n}}</label>
  <div class="contents span10">
    <div class="shares">
      <div class="shares-list">
        <div ng-repeat="share in shares.concat(newShares.shares)" class="share row">
          <div class="span4">
            <a href="{{share.link}}" target="_blank" ng-show="share.link" class="share-user"
              ng-class="{'pending-removal': share.pendingRemoval}">{{share.name}}
            </a>
            <div ng-hide="share.link" class="share-user" ng-class="{'pending-removal': share.pendingRemoval}">{{share.name}}</div>
          </div>
          <div class="span8">
            <soc-select ng-model="share.type" ng-disabled="disableSharingDropdown(share)">
              <option value="owner">{{::'manageLensDialog.sharing.owner' | I18n}}</option>
              <option value="contributor">{{::'manageLensDialog.sharing.contributor' | I18n}}</option>
              <option value="viewer">{{::'manageLensDialog.sharing.viewer' | I18n}}</option>
            </soc-select>
            <button
              ng-hide="disableRemoveButton(share)"
              class="action-btn dark share-remove-button"
              ng-disabled="manageLensState.saveInProgress"
              ng-click="toggleSharePendingRemovalStatus(share)"
              ng-bind="share.pendingRemoval ? 'Keep' : 'Remove'"></button>
          </div>
        </div>
      </div>
      <button
        class="action-btn dark manage-lens-dialog-add-shares"
        ng-disabled="manageLensState.saveInProgress"
        ng-click="newSharesState.show = true">
        {{::'manageLensDialog.sharing.addNew' | I18n}}
      </button>
    </div>

    <div class="inherited-shares" ng-if="showInheritedSharingSection">
      <div class="row description">
        {{::'manageLensDialog.sharing.inheritedDescription' | I18n}}
      </div>
      <div ng-repeat="share in inheritedShares" class="inherited-share">
        <div ng-show="share.link" class="row">
          <div class="span4 share-user">
            <a href="{{share.link}}" target="_blank">{{share.name}}</a>
          </div>
          <div class="span8">{{share.label}}</div>
        </div>
        <div ng-hide="share.link" class="row">
          <div class="span4 share-user">{{share.name}}</div>
          <div class="span8">{{share.label}}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row visibility" ng-controller="ManageLensDialogVisibilityController">
  <label class="span2">
    {{(usingViewModeration ? 'manageLensDialog.visibility.viewModerationTitle' : 'manageLensDialog.visibility.title') | I18n}}
  </label>
  <div class="contents span10">
    <soc-select ng-model="visibilityDropdownSelection" ng-disabled="visibilityDropdownDisabled">
      <option value="approved">{{visibilityDropdownStrings.approved}}</option>
      <option value="rejected">{{visibilityDropdownStrings.rejected}}</option>
      <option value="pending" ng-if="usingViewModeration && initialPageVisibility == 'pending'">
        {{visibilityDropdownStrings.pending}}
      </option>
    </soc-select>
    <div class="flavor-text" ng-show="visibilityDropdownError">
      <span class="icon-info"></span>
      <span ng-bind-html="visibilityDropdownError"></span>
    </div>
  </div>
</section>

<div class="controls">
  <div ng-show="dialogHasChanges" class="unsaved-changes-message">
    <span class="icon-warning"></span>
    {{::'manageLensDialog.unsavedChangesMessage' | I18n}}
  </div>
  <save-button
    class="dark r-to-l manage-lens-dialog-save"
    ng-click="save()"
    enabled="!manageLensState.saveInProgress && dialogHasChanges && !dialogHasErrors"
    save-status="saveStatus"></save-button>
  <button
    ng-disabled="manageLensState.saveInProgress"
    class="action-btn dark manage-lens-dialog-cancel"
    ng-click="manageLensState.show = false">{{::'common.cancel' | I18n}}</button>
</div>
