<h2 class="title">{{::'manageLensDialog.sharing.newShareDialog.title' | I18n}}</h2>

<section>
  <div class="description">{{::'manageLensDialog.sharing.newShareDialog.description' | I18n}}</div>
</section>

<section>
  <div class="row new-share" ng-repeat="share in newShares.shares">
    <label class="span3">{{::'manageLensDialog.sharing.newShareDialog.email' | I18n}}</label>
    <div class="span9">
      <input ng-model="share.name" class="email" type="email"></input>
      <soc-select ng-model="share.type">
        <option value="owner">{{'manageLensDialog.sharing.owner' | I18n}}</option>
        <option value="contributor">{{'manageLensDialog.sharing.contributor' | I18n}}</option>
        <option value="viewer">{{'manageLensDialog.sharing.viewer' | I18n}}</option>
      </soc-select>
      <button class="action-btn dark remove-button" ng-class="{disabled: !multipleNewShares()}" ng-click="removeNewShare(share)">
        {{::'manageLensDialog.sharing.newShareDialog.remove' | I18n}}
      </button>
    </div>
  </div>

  <div class="row">
    <button class="action-btn dark add-more-button" ng-click="addNewShare()">
      {{::'manageLensDialog.sharing.newShareDialog.addMore' | I18n}}
    </button>
  </div>
</section>

<section>
  <div class="row">
    <label class="span3">{{::'manageLensDialog.sharing.newShareDialog.message' | I18n}}</label>
    <textarea class="span9 optional-message" ng-model="newShares.message"></textarea>
  </div>
</section>

<section>
  <button class="action-btn dark done-button" ng-click="donions()">
    {{::'common.done' | I18n}}
  </button>
</section>
