<div class="leftNavBox internalPanel">
  <div class="domainCompletion">
    Search for a domain:
    <div>
      <input type="text" id="domainSelect" class="domainAwesomeComplete" />
      <span class="spinner"></span>
    </div>
  </div>
  <ul class="navigationList">
    <li><a href='/internal'>Internal Panel Home</a></li>
    <li><a href='/internal/orgs'>Organizations</a></li>
    <li><a href='/internal/analytics'>Analytics</a></li>
    <li><a href='/internal/config_info'>Configuration Info</a></li>
    <li><a href='/internal/feature_flag_report'>Feature Flag Report</a></li>
    <%# Note: This link is intentionally accessible by direct navigation without requiring login. %>
    <li><a class="highlight" href='/internal/demos'>Component Demos</a></li>
  </ul>
</div>
<% content_for :js_footer do %>
  <%= include_webpack_bundle 'open-data/screen-internal.js' %>
<% end %>
