<% content_for :head do %>
  <title>Example Usage: Components</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <%= rendered_stylesheet_tag 'component_example_pages' %>
<% end %>

<section class="styleguide-section">
  <p>
    <a class="btn btn-default" href='/internal'><span class="socrata-icon-arrow-left"></span> Internal Panel Home</a>
  </p>
  <div class="alert">
    <b>Don't see what you need?</b> Pardon our dust. You may find what you need in the
    <a href="http://socrata.github.io/styleguide-deprecated/" rel="external">
      old demo page<span class="socrata-icon-external"></span>
    </a>
  </div>
  <h1 class="styleguide-header">Available demos:</h1>
  <ul>
    <li><a href="/internal/demos/elements">Elements</a>: The basic building blocks</li>
    <li><a href="/internal/demos/icons">Icons</a>: Icon cheat-sheet.</li>
    <li><a href="/internal/demos/components">Components</a>: React components.</li>
    <li><a href="/internal/demos/visualizations">Visualizations</a>: Authoring, viewing, and embedding visualizations.</li>
  </ul>
</section>

