@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.modalContent {
  flex-grow: 1;
  height: 100%;
}

.sourceContainer {
  background-color: #ddd;
  display: flex;
  min-height: 100%;
}

.sourceContainer > section:nth-child(2) {
  flex-grow: 1;
}

.centeredContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  composes: spinner-default from global;
  composes: spinner-large from global;
}

.icon {
  color: $dark-grey-1;
  margin: 0 0.4em;
}
