<% content_for :head do %>
  <style>
    #about {
      margin: 5em 1em 0;
      min-width: 98.9em;
      padding-bottom: 6em;
    }
  </style>
<% end %>

<div id="about">
  <div class="pageBlockHeaderOuter"><div class="pageBlockHeaderTL"><div class="pageBlockHeaderTR"><div class="pageBlockHeaderBL"><div class="pageBlockHeaderBR"><div class="pageBlockHeaderContainer">
  <h1 style="margin-bottom:10px;">Social Data Discovery</h1>

      <h2>Transform raw data into easily consumable datasets </h2>

      <div style="width:400px;float:left;">
        <p style="color:#888; line-height:2em; font-size:13px"><b>Social Data Discovery</b> is a solution for public and private institutions that need to transform raw data, contained in large departmental databases, into "finished good" datasets that can be easily consumed by an online community.</p>

        <p style="color:#888; line-height:2em; font-size:13px">Using the latest Web 2.0 technologies, Social Data Discovery promotes civic engagement, enabling an online community of journalists, policy makers, scientists/domain experts, and citizens to visualize data and engage in discussion with one another.  Together, audiences with disparate viewpoints can analyze and discover insights from datasets, improving decision and policy making.  Social Data Discovery:</p>
        <ul>

        <li><p style="color:#888; line-height:2em; font-size:13px">Uses the latest technologies to
        <strong>process raw data into datasets</strong> and
        host those datasets on the web -- in open formats</p></li>
        <li></li>
        <li><p style="color:#888; line-height:2em; font-size:13px"><strong>Connects</strong> non-technical citizens, scientists/domain experts, journalists, and
        policy maker <strong>audiences</strong></p></li>

        <li></li>

        <li><p style="color:#888; line-height:2em; font-size:13px">Enables new discoveries from data that can
        <strong>improve decisions and policy making</strong></p></li>
        <li></li>
        <li><p style="color:#888; line-height:2em; font-size:13px">Provides web publishers with
        <strong>analytical tools to identify dataset proliferation</strong>, republishing,
        and usage</p></li>
        <li></li>
        <li><p style="color:#888; line-height:2em; font-size:13px">Enables an opportunity for the publisher to
        <strong>sell data and value-added services</strong></p></li>

        </ul>
      </div>
      <div style="width:400px; float:right; margin-bottom:15px; border:1px; border-style:solid; border-color:darkgray;">
        <h3 style="text-align:center; margin-top:5px;">Latest News</h3>
        <br/>
        <p style="text-align:center;" >
        <a href="http://www.gsa.gov/Portal/gsa/ep/contentView.do?pageTypeId=8199&amp;P=&amp;channelId=-24824&amp;contentType=GSA_BASIC&amp;contentId=27992">U.S. General Services Administration (GSA) signs terms of service agreement with blist</a>

        </p>


      <div style="width:400px; float:right;"><img src="http://cf-images.blist.com/wp-content/themes/k2/images/sdd-screen.jpg" /></div>
      </div>
      <div style="clear:both"></div>
      <div style="width:600px; margin-top:30px;">
        <h3 style="line-height:1.1em;">To learn more, fill out the form below and receive our Social Data Discovery whitepaper.</h3>
        <p style="margin-top:5px;">(It will be emailed to you within 24-hours.)</p>

        <p><script src="http://app.blist.com/formWidget.js?lensId=273584&#038;height=100px"></script></p>

      </div>
   <div style="clear:both"></div>
    <!-- #primary -->

  </div></div></div></div></div></div>
</div>
