<div class="contactNominatorDialog nominateDialog modalDialog">
  <a href="#close" class="jqmClose modalDialogClose">Close</a>
  <h2>Contact Suggestion Author</h2>
  <form class="nominateContent commonForm">
    <div class="line clearfix">
      <label for="contactBody" class="required">Message</label>
      <textarea id="contactBody" name="message"
        class="textPrompt required" title="Enter your message"></textarea>
    </div>
    <span class="required">Required</span>
  </form>
  <div class="mainError"></div>
  <ul class="actions">
    <li><a href="#Cancel" class="jqmClose button">Cancel</a></li>
    <li><a href="#Submit" class="submitAction button">Submit</a></li>
  </ul>
</div>
