<h4 class="h6 styleguide-subheader">Button Groups</h4>
<%= partial "code_sample", locals: { component: "elements/skeletons/button-group" } %>

<%= partial "code_sample", locals: { component: "elements/skeletons/button-group-vertical" } %>
