<h4 class="h6 styleguide-subheader">Catalog Result Card</h4>
<%= partial "code_sample", locals: { component: "elements/skeletons/card_catalog" } %>

<h4 class="h6 styleguide-subheader">Rich Media/Viz Card</h4>
<%= partial "elements/skeletons/card_viz" %>
