footer#chrome-footer {
  display: block;
  min-height: 200px;
  padding: 37px;
  color: $footer_fg_color;
  background-color: $footer_bg_color;
  font-family: $font_family, 'Open Sans', Helvetica, Arial, 'sans-serif';

  .content {
    max-width: 68rem;
    margin: 0 auto;
    overflow: hidden;

    > div.logo {
      > img {
        height: 60px;
        max-width: 200px;
        margin-right: 0.5rem;
        vertical-align: middle;
      }

      > span.site-name {
        font-weight: 300;
        font-size: 32px;
        line-height: 60px;
        vertical-align: middle;
      }

      .social-links {
        clear: both;
        margin: 1.5rem 0;

        a.social-link {
          color: $footer_fg_color;
          opacity: 0.7;
          text-decoration: none;
          font-weight: 300;
          font-size: 16px;
          margin-right: 1rem;

          &:hover, &:focus, &:active {
            text-decoration: underline;
          }
        }
      }
    }

    > div.links {
      ul.links-col {
        padding-left: 0;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;

        li {
          list-style-type: none;
          display: inline-block;
          width: 10rem;
          margin: 1px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.2rem;

          a.footer-link {
            color: $footer_fg_color;
            text-decoration: none;
            font-weight: 300;
            font-size: 15px;

            &:hover, &:focus, &:active {
              text-decoration: underline;
            }
          }
        }
      }
    }

    @include desktop {
      > div.logo {
        width: 50%;
        float: left;
      }
      > div.links {
        width: 50%;
        float: right;
      }
    }
    @include mobile-med {
      > div.logo {
        text-align: center;
      }
      > div.links {
        clear: both;
        margin-top: 3rem;
      }
    }
    @include mobile-sm {
      div.logo {
        > img {
          height: 40px;
        }
        > span.site-name {
          font-size: 28px;
        }
      }
      .social-link {
        display: block;
        margin-bottom: 0.7rem;
      }
      > div.links {
        ul.links-col {
          -webkit-column-count: auto;
          -moz-column-count: auto;
          column-count: auto;

          li {
            display: block;
            width: auto;
            text-align: center;
            &:nth-child(5n + 1) {
              margin-top: 2rem;
            }
          }
        }
      }
    }

  }

  .copyright {
    display: block;
    margin-top: 46px;
    text-align: center;
    font-size: 12px;
    color: $footer_fg_color;
    opacity: 0.7;
  }
}
