header#chrome-header {
  font-family: $font_family, 'Open Sans', Helvetica, Arial, 'sans-serif';

  .banner {
    color: $header_fg_color;
    background-color: $header_bg_color;
    line-height: 60px;
    font-size: 18px;
    padding: 0 1rem;
    overflow: hidden;

    > a.logo {
      float: left;
      text-decoration: none;
      color: $header_fg_color;

      > img {
        height: 28px;
        vertical-align: middle;
        margin-right: 0.5rem;
      }

      > span.site-name {
        font-weight: 300;
      }
    }

    > nav {
      font-size: 15px;
      font-weight: 300;
      float: right;

      &.desktop {
        a.nav-link {
          display: inline-block;
          padding: 0 $text_padding;
          color: $header_fg_color;
          text-decoration: none;
          &:hover, &:focus, &:active {
            text-decoration: underline;
          }

          &.social-link {
            font-size: 19px;
          }
        }

        a.sign-in-toggle {
          font-size: 12px;
          margin-left: $text_padding;
        }

        span.divider {
          margin: 0 $text_padding;
          padding: 8px 0;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
        }
      }

      &.mobile {
        .menu-toggle {
          font-size: 12px;
        }
      }

      @include desktop {
        &.desktop { display: block; }
        &.mobile { display: none; }
      }
      @include mobile-med {
        &.desktop { display: none; }
        &.mobile { display: block; }
      }
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -120%;
    bottom: 0;
    overflow: auto;
    z-index: 10;
    background-color: #f8f8f8;
    color: #949195;
    width: 90%;
    box-shadow: 0 8px 30px #a9a7aa;
    transition: right 0.4s ease-in-out;

    &.active {
      right: 0%;
    }

    .menu-header-title {
      color: #3b3a3c;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      margin: 1rem;
      letter-spacing: -0.5px;
    }

    .menu-toggle {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
    }

    .menu-content {
      .nav-links {
        a.nav-link {
          color: #2c2c2c;
          background-color: #fff;
          display: block;
          font-size: 15px;
          border-top: 1px solid #f4f4f4;
          padding: 15px $text_padding;
          text-decoration: none;

          &:last-of-type {
            border-bottom: 1px solid #f4f4f4;
          }

          &:hover, &:focus, &:active {
            background-color: #fafafa;
          }
        }
      }
      .menu-section-header {
        margin-top: 20px;
        padding: $text_padding;
        font-weight: 300;
        text-transform: uppercase;
      }
      .sign-in-toggle {
        display: block;
        width: 90%;
        margin: 0 auto;
      }
      .social-links {
        margin-top: 35px;
      }
    }
  }
}
