// body
$body-bg-color: rgb(255, 255, 255);

// header
$header-bg-color: rgb(225, 225, 225);

// inspiration story container
$inspiration-story-container-bg-color: rgb(180, 180, 180);

// text editor toolbar
$text-editor-toolbar-color: rgb(64, 64, 64);
$text-editor-toolbar-dim-color: rgb(200, 200, 200);
$text-editor-toolbar-accent-color: rgb(200, 200, 200);
$text-editor-toolbar-bg-color: #eee;
$text-editor-toolbar-btn-active-color: rgb(240, 240, 240);

$dark-btn-color: rgb(250, 250, 250);
$preview-btn-bg-color: rgb(100, 200, 125);

$block-bg-color: rgb(255, 255, 255);
$block-edit-controls-bg-color: rgb(220, 220, 220);

$story-insertion-hint-bg-color: rgb(0, 0, 0);