@import 'variables';

.btn {
  color: $fg-color;
  background: transparent;
  padding: 8px 12px;
  border: 1px solid $fg-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;

  &:hover, &:focus, &:active {
    background: #fff;
    color: #999;
  }

  [class*="icon-"] {
    position: relative;
    padding-right: $text-padding;
  }
}

.mobile-btn {
  color: $fg-color;
  background: $mobile-btn-color;
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid $mobile-btn-color;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;

  &:hover, &:focus, &:active {
    background: $mobile-btn-hover-color;
  }

  [class*="icon-"] {
    position: relative;
    padding-right: $text-padding;
  }
}
