@import 'lib/variables';

.story-view {
  .user-story-container {
    font-size: 16px; //adjust back from 10px font-size, to match text iframes
    padding-top: 0;

    .user-story {
      @include selectable(); /* remove unselectable from edit mode */

      &.presentation-mode {
        font-size: 1.75rem;

        &.large {
          max-width: 84%;
        }

        &.medium {
          max-width: 94%;
        }

        &.small {
          max-width: 96%;
          width: auto;
        }
      }
    }
  }

  .block.hidden {
    display: none;
  }

  .btn-presentation-mode,
  .btn-linear-mode,
  .presentation-navigation {
    position: fixed;
    right: 0;
    z-index: 10;
  }

  .btn-presentation-mode,
  .btn-linear-mode,
  .btn-presentation-next,
  .btn-presentation-previous {
    background-color: $view-mode-button-background-color;
    color: $view-mode-button-color;
    border: none;
    width: $view-mode-button-width;
    height: $view-mode-button-width;
    font-size: 2.2rem;
    right: 0;
    text-align: center;
    transition: color 0.2s;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $view-mode-button-disabled-color;
    }

    &:disabled {
      background-color: $view-mode-button-disabled-background-color;
      color: $view-mode-button-disabled-color;
    }
  }

  .btn-presentation-next,
  .btn-presentation-previous {
    background-color: $view-mode-button-disabled-background-color;
    color: $view-mode-button-disabled-color;
    transition: background-color 0.2s;

    &:hover {
      background-color: $view-mode-button-navigation-hover-background-color;
    }
  }

  .btn-linear-mode {
    bottom: $view-mode-button-width * 2;
  }

  .btn-presentation-mode {
    bottom: $view-mode-button-width;
  }

  .btn-presentation-previous {
    float: left;
  }

  .presentation-navigation {
    right: $view-mode-button-width;
    bottom: $view-mode-button-width;

    &.hidden {
      display: none;
    }
  }
}
