$mobile-btn-color: #288dc1;
$mobile-btn-hover-color: #20719a;
$text-padding: 11px;
$breakpoint-mobile: 900px;


// TODO - get these variables from config. try adding .erb and calling <%= @content.xyz %>
$bg-color: #22B479;
$fg-color: #fff;
$font-family: 'Open Sans';

// TODO - care about section specific overrides
$header-bg-color: $bg-color;
$header-fg-color: $fg-color;

$footer-bg-color: #3b3a3c;
$footer-fg-color: $fg-color;


// Mixins
@mixin desktop {
  @media screen and (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}