@import '../../common.module.scss';

.button-without-spinner {
  padding: 10px 36px;
  color: $white;
}

.button-with-spinner {
  @extend .button-without-spinner;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 38px;
  padding-right: 38px;
  cursor: progress;
}

.spinner {
  width: 24px;
  height: 24px;
  border-width: 4px;
}
