<div id="<%= widget.elem_id %>" class="twoColumnLayout clearfix">
  <div class="leftColumn">
    <div class="wrapper">
      <%= raw render_widget(widget.children[0]) %>
    </div>
  </div>
  <div class="rightColumn">
    <div class="wrapper">
      <%= raw render_widget(widget.children[1]) %>
    </div>
  </div>
</div>
