<% content_for :head do %>
  <title>Terms of Service | <%= CurrentDomain.strings.site_title %></title>
  <%= stylesheet_link_tag "static-content" %>
  <!--[if IE 7]><style type="text/css">@import "/stylesheets/ie7.css";</style><![endif]-->
<% end %>

<div id="contact" class="fixed-width">
  <ul class="simpleTabs tabList clearfix">
    <li class="active"><div class="wrapper"><a href="/data-policy">Data Policy</a></div></li>
  </ul>
  <% fullpage_content do %>
<div id="content" class="clearfix" style="text-align: left;">
   <h1>Data Policy</h1>

   <p>By using data made available through this site the user agrees to all the conditions stated in the following paragraphs as well as the terms and conditions described under the <a href="http://seattle.gov">City of Seattle homepage</a>.</p>

   <p>The City of Seattle Government makes no claims as to the completeness, accuracy, timeliness, or content of any data contained in this application; makes any representation of any kind, including, but not limited to, warranty of the accuracy or fitness for a particular use; nor are any such warranties to be implied or inferred with respect to the information or data furnished herein. The data is subject to change as modifications and updates are complete. It is understood that the information contained in the site is being used at one's own risk.</p>

   <h2>Source Data</h2>

   <p>Applications using data supplied by this site must include the following disclaimers on their sites:</p>
   <p>"The data made available here has been modified for use from its original source, which is the City of Seattle. Neither the City of Seattle nor the Office of the Chief Technology Officer (OCTO) makes any claims as to the completeness, timeliness, accuracy or content of any data contained in this application; makes any representation of any kind, including, but not limited to, warranty of the accuracy or fitness for a particular use; nor are any such warranties to be implied or inferred with respect to the information or data furnished herein. The data is subject to change as modifications and updates are complete. It is understood that the information contained in the web feed is being used at one's own risk."</li>

  <h2>Right to Discontinue Feeds</h2>

  <p>The City of Seattle reserves the right to discontinue providing any or all of the data feeds at any time and to require the termination of any and all displaying, distributing or otherwise using any or all of the data for any reason including, without limitation, your violation of any provision of these Terms of Use.</p>
</div>
  <% end %>
</div>

<% content_for :js_footer do %>
  <%= render :partial => 'static/static_js' %>
<% end %>
