<%- can_update = !@view.is_blist? && current_user &&
  @view.owner.id == current_user.id -%>
<%- can_create = !@view.is_invalid? -%>
<% content_for :headline do %>
<h1><span class="filterIcon"><%= can_update ? 'Update ' : '' %><%= can_update && can_create ? 'or ' : '' %><%=  can_create ? 'Create ' : '' %>a Filtered View</span></h1>
<% end %>

<div class="modalContentWrapper filterDatasetWrapper">
  <div id="filterList" class="clearfix">
    <p>Show rows that match 
      <select id="filterOperator" name="operator">
        <option value="and">all</option>
        <option value="or">any</option>
      </select> of the following conditions:
    </p>
  </div>
  <div id="filterTable" class="clearfix">
    <div class="filterTableRow filterTableHeaderRow">
      <div class="filterTableCell filterTable-delete">Remove</div>
      <div class="filterTableCell filterTable-name">Column Name</div>
      <div class="filterTableCell filterTable-condition">Limit To</div>
      <div class="filterTableCell filterTable-editor">Cell Contents</div>
      <div class="filterTableCell filterTable-add">Add Button</div>
    </div>
    <div class="filterTableBody clearfix">
    </div>
    <div class="filterTableFooter">
      <div class="filterTableRowTemplate">
        <div class="filterTableCell filterTable-delete">
          <a href="#delete">Delete</a>
        </div>
        <div class="filterTableCell filterTable-name">
          <div class="blist-combo-wrapper">
            <div class="filterTable-nameDropDown"></div>
          </div>
        </div>
        <div class="filterTableCell filterTable-condition">
          <div class="blist-combo-wrapper">
            <div class="filterTable-conditionDropDown blist-combo">
              <div class="blist-combo-value clearfix">
                <span class="blist-combo-disabled">Choose</span>
              </div>
            </div>
          </div>
        </div>
        <div class="filterTableCell filterTable-editor">
          <input type="text" class="textPrompt prompt" value="Enter a Value" disabled="disabled" />
        </div>
        <div class="filterTableCell filterTable-add">
          <ul class="actionButtons">
            <li><a href="#addCondition">Add Condition</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <p class="information">
    There are no visible columns to filter on. Please add some data or unhide columns, then try again.
  </p>

  <div class="submitLine clearfix">
    <ul class="actionButtons clearfix">
      <%- if can_update -%>
      <li><a class="button jqmClose update" href="#update">Update Filter</a></li>
      <%- end -%>
      <%- if can_create -%>
      <li><a class="arrowButton jqmClose create" href="#create">Create Filter</a></li>
      <%- end -%>
    </ul>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  blist.common.modalReady = function()
  {
    if ($('#dataGrid').datasetGrid().isTempView)
    {
        $('.filterDatasetWrapper .submitLine a.update').hide();
        $('.filterDatasetWrapper .submitLine a.create')
          .text('Update Unsaved Filter');
    }

    var model = $('#dataGrid').blistModel();
    var columns = model.meta().columns[0];
    var view = model.meta().view;

    columns = $.grep(columns, function(column) { return column.type !== 'nested_table'; });

    if ((view.query === undefined || view.query.filterCondition === undefined ||
          view.query.filterCondition === null ||
          view.query.filterCondition.children === undefined) &&
        columns.length === 0)
    {
      $('.filterDatasetWrapper #filterTable, .filterDatasetWrapper #filterList').hide();
      $('.filterDatasetWrapper p.information').show();
      $('.filterDatasetWrapper .submitLine .actionButtons a.update').hide();
      $('.filterDatasetWrapper .submitLine .actionButtons a').text('Continue');
      return;
    }
    else if (view.query !== undefined &&
        view.query.filterCondition !== undefined &&
        view.query.filterCondition !== null &&
        view.query.filterCondition.children !== undefined)
    {
      $("#filterOperator").val(view.query.filterCondition.value.toLowerCase());
      blist.filter.populate($(".filterDatasetWrapper #filterTable"),
          view.query.filterCondition, columns, model.meta().allColumns);
    }
    else
    {
      blist.filter.addFilterRow($(".filterDatasetWrapper #filterTable"), columns);
    }

    $(".filterDatasetWrapper .submitLine a").click(function(event) {
      event.preventDefault();
      var operator = $("#filterOperator").val();
      var viewFilters = blist.filter.getFilter($(".filterDatasetWrapper #filterTable"), operator);

      $("#dataGrid").datasetGrid().updateFilter(viewFilters,
          $(this).attr('href').endsWith('#update'));
    });

    $.live('#filterTable .filterTableFooter .filterTable-add a', 'click', blist.filter.filterAdd);
    $.live('#filterTable .filterTableBody .filterTable-delete a', 'click', blist.filter.filterRemove);
  };
</script>
