@import "common/styleguide/variables/colors";

$admin-header-height: 46px;

.admin-header {
  min-height: $admin-header-height;
}

body {
  margin: 0;
  padding: $admin-header-height 0 0 0;
  background: $light-grey-6;
}
