@import "../../common";

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  @extend .btn;
  @extend .btn-default;

  width: 75%;
  min-height: 50px;
  margin-top: 10px;
  margin-right: auto !important;
  margin-left: auto !important;
  display: flex;
  padding: 0;

  /* If the screen is big enough, take up less of it */
  @media screen and (max-width: $break-large) {
    max-width: 65%;
    flex-direction: column;
  }
}

.button-text {
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.button-text-no-image {
  @extend .button-text;

  margin: auto;
}

.button-image-container {
  padding: 0.5em;

  @media screen and (min-width: $break-large) {
    border-right: 1px solid $light-grey-2;
  }
}

.button-image {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.message {
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  margin-bottom: 22px;
}
