<section class="settings-group">
  <div class="settings-form">
    <%= label_tag(form_field(fields), t("#{locale_string}.title")) %>
    <%= text_field_tag(
      form_field(fields),
      fetch_content(fields),
      :placeholder => t("#{locale_string}.placeholder")) %>
  </div>
  <aside><p><%= t("#{locale_string}.description") %></p></aside>
</section>
