<section class="settings-group">

  <% [left, right].each do |field| %>
    <div class="settings-form half">
      <% fields = field[:fields] %>
      <% translation = field[:translation] %>

      <%= label_tag(form_field(fields), translation[:title]) %>
      <%= text_field_tag(form_field(fields), fetch_content(fields), placeholder: translation[:placeholder]) %>
    </div>
  <% end %>

  <% #NOTE: translation is getting pulled from the left-most field %>
  <aside><p><%= left[:translation][:description] %></p></aside>
</section>
