.add-filter {
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;

  .btn-add-filter {
    font-size: 12px;
    padding: 7px 18px;
  }

  .column-container {
    border: 1px solid $light-grey-3;
    position: absolute;
    background: $white;
    padding: 8px;
    margin-top: 5px;
    min-width: 350px;
    z-index: 10;

    .alert.info {
      margin-top: 8px;
    }
  }
}
