@import "variables/colors.scss";

.filter-footer {
  background: $light-grey-6;
  display: flex;
  padding: 8px;

  .btn {
    padding: 0;
  }

  .btn-transparent {
    color: $grey;

    .icon-close-2 {
      margin-right: 5px;
    }

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.filter-controls .filter-footer {
  justify-content: space-between;

  .apply-btn-container {
    display: inline-block;

    .cancel-btn {
      margin-right: 12px;
    }

    .apply-btn {
      padding: 6px 12px;
    }
  }
}

.filter-config .filter-footer {
  justify-content: flex-end;
}
