#site-chrome-header, #site-chrome-admin-header {
  // CreateAlertModal needs some styling from styleguide and it is included as part of the site chrome header.
  // Some pages like the dataset grid page does not have styleguide css included.
  // So we are including the required styling from style guide here.
  .create-alert-modal-container {
    @import 'variables/colors';
    @import 'components/Dropdown/index';
    @import 'components/Picklist/index';
    @import 'components/SocrataIcon/index';
    @import 'components/Slider/index';

    .btn-default {
      background-color: $white;
      border-color: $light-grey-1;
      color: $grey;
      cursor: pointer;
    }

    .btn-primary {
      background-color: $primary;
      border-color: $primary;
      color: $white;
      cursor: pointer;
    }

    .radius-slider {
      * {
        line-height: 10px;
      }

      // The overrides will be already included in CreateAlertModal via cssModules. But as we
      // we scope the components/slider within #site-chrome-header (id selector), they get more
      // precedence than the overrides from cssmodules. To override the defaults imported from
      // 'components/Slider/index', we are importing the slider-overrides.
      @import 'components/CreateAlertModal/components/RadiusSlider/slider-overrides.module';
    }
  }
}
// React date picker appends the html for the date picker to the html body.
// So we cannot scope the css for date-picker to site-chrome's header.
@import 'components/DateRangePicker/index';
