$breakpoint_mobile_sm: 670px;

// Mixins
@mixin mobile-sm {
  @media screen and (max-width: #{$breakpoint_mobile_sm}) {
    @content;
  }
}

$dark_text_color: #2c2c2c;
$grey_text_color: #999;
$white_highlight_color: rgba(255, 255, 255, 0.3);

$header_dropdown_bg_color: #fff;
$header_dropdown_option_color: mix(black, #767676, 20%);
$header_dropdown_option_bg_color_hover: mix(white, #767676, 90%);
$header_dropdown_box_shadow_color: #ccc;

$searchbox_border_color: #c8c8c8;
$faint_border_color: #ebebeb;

$text_padding: 11px;

// Default variables (can be over-written by site_chrome styles)
$bg_color: #22B479;
$fg_color: #fff;
$font_family: 'Open Sans';
$max_width: 100%;

$header_bg_color: $bg_color;
$header_bg_color_secondary: transparent;
$header_fg_color: $fg_color;
$header_display_name_fg_color: $header_fg_color;
$header_display_name_size: 16pt;
$header_logo_height: 36px;
$header_logo_width: auto;

$footer_bg_color: #3b3a3c;
$footer_fg_color: $fg_color;
$footer_display_name_fg_color: $footer_fg_color;
$footer_display_name_size: 14pt;
$footer_logo_height: 44px;
$footer_logo_width: auto;
