<%- member = carousel_item -%>

<li class="carouselItem"><div class="carouselItemInner">
  <div class="carouselItemTR"><div class="carouselItemBL"><div class="carouselItemBR">
    <div class="carouselItemLeft"><div class="carouselItemRight">
      
      <div class="carouselContainer">
        <div class="itemTitle clearfix">
          <%= link_to(
                image_tag(member.profile_image_path("medium"), :size => "65x65",
                :alt => h(member.displayName)), member.href) %>
          <h3 class="clipText">
            <%= link_to(member.displayName, member.href, :title => member.displayName) %>
          </h3>
        </div>
        <div class="itemMetaData">
          <ul class="metaList">
            <li><%= pluralize(member.numberOfFriends, "friends") %></li>
            <li><%= pluralize(member.numberOfFollowers, "followers") %></li>
          </ul>
        </div>
      </div>
      
    </div></div>
  </div></div></div>
</div></li>
