<div class="tabContentOuter"><div class="tabContentTL"><div class="tabContentBL">
  <div class="tabContent noresult">
    <h2>No result for "<%= term %>"</h2>
    <p class="clearBoth">Please try another search.</p>
  </div>
</div></div></div>
<div class="tabContentNavTR"><div class="tabContentNavBR">
  <div class="tabContentNav"></div>
</div></div>
