@import 'variables.scss';
@import 'common.scss';
@import 'media-queries.scss';

header {
  font-family: $font, 'Open Sans', Helvetica, Arial, 'sans-serif';

  .banner {
    color: $fg-color;
    background-color: $bg-color;
    line-height: 60px;
    font-size: 18px;
    padding: 0 1rem;
    overflow: hidden;

    > a.logo {
      float: left;
      text-decoration: none;
      color: $fg-color;

      > img {
        height: 28px;
        vertical-align: middle;
        margin-right: 0.5rem;
      }

      > span.site-name {
        font-weight: 300;
      }
    }

    > nav {
      font-size: 15px;
      font-weight: 300;
      float: right;

      @include desktop {
        &.desktop { display: block; }
        &.mobile { display: none; }
      }
      &.desktop {
        a.nav-link {
          display: inline-block;
          padding: 0 11px;
          color: $fg-color;
          text-decoration: none;

          &.social-link {
            font-size: 19px;
          }
        }

        a.sign-in-toggle {
          font-size: 12px;
          margin-left: 11px;
        }

        span.divider {
          margin: 0 11px;
          padding: 8px 0;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
        }
      }

      @include mobile {
        &.desktop { display: none; }
        &.mobile { display: block; }
      }
      &.mobile {
        .menu-toggle {
          font-size: 12px;
        }
      }
    }
  }
}
