   <header class="menu-header">
    <h1 class="h6 menu-header-title">Menu</h1>
    <button class="btn btn-transparent menu-header-dismiss">
      <span class="icon-close-2" data-menu-dismiss></span>
    </button>
  </header>
  <ul class="menu-navigation">
    <li class="menu-section-title"><a href="index.html">Guide Home</a></li>
    <li class="menu-section-title"><a href="elements.html">Elements</a>
      <ul>
        <li><a href="elements.html#typography">Typography</a></li>
        <li><a href="elements.html#dividers">Dividers</a></li>
        <li><a href="elements.html#lists">Lists</a></li>
        <li><a href="elements.html#tables">Tables</a></li>
        <li><a href="elements.html#colors">Colors</a></li>
        <li><a href="elements.html#icons">Icons</a></li>
        <li><a href="elements.html#forms">Forms</a></li>
      </ul>
    </li>
    <li class="menu-section-title"><a href="components.html">Components</a>
      <ul class="menu-navigation">
        <li><a href="elements.html#buttons">Buttons</a></li>
        <li><a href="elements.html#tags">Tags</a></li>
        <li><a href="elements.html#lists">Lists</a></li>
        <li><a href="elements.html#alerts">Alerts</a></li>
        <li><a href="elements.html#navbars">Nav Bars</a></li>
        <li><a href="elements.html#pagination">Pagination</a></li>
        <li><a href="elements.html#miscellaneous">Miscellaneous</a></li>
      </ul>
    </li>
    <li class="menu-section-title"><a href="javascripts.html">JavaScript</a>
      <ul class="menu-navigation">
        <li><a href="javascripts.html#modals">Modals</a></li>
        <li><a href="javascripts.html#flannels">Flannels</a></li>
        <li><a href="javascripts.html#flyouts">Flyouts</a></li>
        <li><a href="javascripts.html#menu">Menu</a></li>
        <li><a href="javascripts.html#buttontoggle">Button Toggle</a></li>
        <li><a href="javascripts.html#dropdowns">Dropdowns</a></li>
      </ul>
    </li>