---
title: Color Page
layout: styleguide
---

<header>Colors</header>


<div class="color-group">
	
	<div class="base-blue box">Blue</div>
	<div class="dark-blue3 box">Dark blue 3</div>	
	<div class="dark-blue2 box">Dark blue 2</div>
	<div class="dark-blue1 box">Dark blue 1</div>
	<div class="base-blue box">Blue</div>
	<div class="light-blue1 box">Light blue 1</div>
	<div class="light-blue2 box">Light blue 2</div>
	<div class="light-blue3 box">Light blue 3</div>


</div>