---
title: Socrata Styleguide
layout: styleguide
---


<div class="jumbotron">
  <div class="jumbotron-background"></div>
  <div class="container">
        
    <div class="two-thirds">            

          <h1 class="page-header">Socrata Styleguide!</h1>
           <p class="intro">Hello fellow Socratians! We created this nifty guide as a resource for you. Everyday, you are making design decisions for a prototoype, a produt, or even a customer. We hope this guide will help you&mdash;and us&mdash;make an even more consistent experience for the people we strive to delight!</p>
    </div>

    <div class="third">

        <img class="stu" src="/images/stuart-engineer.png" alt="Portrait of Stuart the Engineer" />

    </div>

  </div>

</div>

  <div class="container">

 <div id="pagemap" class="menu menu-offscreen menu-anchor-left">
    <%= partial "guide_menu" %>
  </div>


  <div class="content">
  
   
    <h2>A Work in Progress</h2>
    <p>This styleguide is a work in progress, and you can help! Take a look around, take advantage of what we've created, and contribute to this growing resource.</p>

    <h2 class="h6">Contents</h2>
    <ul>
      <li><a href="elements.html">Elements</a> - the basic building blocks</li>
      <li><a href="components.html">Componets</a> - constructed elements for your user interface</li>
      <li><a href="javascripts.html">JavaScript Componets</a> - JavaScript components for everyday interactions</li>


    
  </div>
</div>
