---
title: UXISFUN
layout: styleguide
---



<div class="container">

	<h1 class="styleguide-title">UXISFUN Stylez</h1> 

	
	<section class="styleguide-section">	

		<div class="meta">
			<h2 class="styleguide-header">Typography</h2>
			<p class="small">

				Type is set in <i>Open Sans</i> 15px/1.618 using a modular type scale. The scale is composed using two scale ratios to provide more incremental typesetting steps. 

			</p>

			<p class="small">
				The full scale can be viewed at <%= link_to 'http://www.modularscale.com/?15&px&1.618,1.25','http://www.modularscale.com/?15&px&1.618,1.25' %>
			</p>
		</div>


		<div class="example">



			<h1>h1. Heading</h1>
			<h2>h2. Heading</h2>
			<h3>h3. Heading</h3>
			<h4>h4. Heading</h4>
			<h5>h5. Heading</h5>
			<h6>h6. Heading</h6>


			<p class="intro">Bacon ipsum dolor amet filet mignon tenderloin capicola flank, tri-tip leberkas ball tip andouille chuck. Jowl shankle flank, pork strip steak pig turducken porchetta jerky pork loin hamburger rump. Capicola bacon short ribs tongue pastrami leberkas, prosciutto biltong beef pig cow. Chicken frankfurter jowl, ham hock fatback picanha flank chuck spare ribs ham drumstick.</p>


			<p>Tail tongue swine alcatra meatloaf meatball. Pork swine fatback cupim andouille shoulder sirloin turkey. Turducken cow prosciutto strip steak leberkas pastrami kevin salami biltong shankle ham alcatra doner. Picanha pork loin shankle pork belly corned beef meatloaf venison tongue. Ribeye pork cupim cow boudin bresaola pork loin. Spare ribs short ribs pork chop ham hock leberkas sirloin, bacon sausage beef corned beef jerky alcatra landjaeger ground round.</p>

			<p>Cow alcatra beef ribs short loin, sausage landjaeger jerky sirloin rump turducken. Pork loin ball tip kielbasa prosciutto, jowl meatloaf turkey ham doner filet mignon short ribs porchetta fatback tongue. Meatball rump pork prosciutto ham filet mignon porchetta shankle. Swine corned beef kielbasa shoulder capicola sirloin pork chop sausage brisket. Frankfurter landjaeger capicola tenderloin. Hamburger pork belly leberkas, salami doner ball tip turducken swine tri-tip.</p>

			<p class="small">Tail tongue swine alcatra meatloaf meatball. Pork swine fatback cupim andouille shoulder sirloin turkey. Turducken cow prosciutto strip steak leberkas pastrami kevin salami biltong shankle ham alcatra doner. Picanha pork loin shankle pork belly corned beef meatloaf venison tongue. Ribeye pork cupim cow boudin bresaola pork loin. Spare ribs short ribs pork chop ham hock leberkas sirloin, bacon sausage beef corned beef jerky alcatra landjaeger ground round.</p>


		</div> <!-- /.expample -->

	</section>

	<section>
		<div class="meta">
			<h2 class="styleguide-header">Lists</h2>
			<p class="small">A list is a list, a list, a list, of course.</p>
		</div>
		<div class="example">

			<ul>
				<li>This is</li>
				<li>an absolutely fantastic</li>
				<li>list!</li>
			</ul>

			<ol>
				<li>This is one more</li>
				<li>simply, absolutely fantastic</li>
				<li>list!</li>
			</ol>
		</div>

	</section>



</div>