---
title: UXISFUN
---

<header>Grid, I Am</header>


<div class="container">
	
	<div class="row sample-grid">
	
		<div class="col-12">12 Col</div>
	
	</div>

	<div class="row sample-grid">
		<div class="col-8">First Column</div>
		<div class="col-4">Second Column</div>
	</div>

	<div class="row sample-grid">

		<div class="col-6">First Column</div>
		<div class="col-6">Second Column</div>

	</div>

</div>