/* Typical media query sizes. */
$small:   420px;
$medium:  768px;
$large:   1200px;
$xlarge:  1400px;
$xxlarge: 1600px;
$gutter: modular-scale(4, 0.938em, 1.618) !default;
$max-width: em(1280) !default;
