@import 'common/styleguide/variables/color_helpers';
@import 'app/styles/styleguide-colors';

.dropping {
  opacity: 0.1;
}

.colErrors,
.colFailed {
  font-weight: normal;
  font-size: 10px;
  color: $grey;
  padding: 0;
  width: 250px;

  a {
    color: $grey;
    text-decoration: none;
    display: block;
    width: 100%;

    &:hover {
      background-color: $alternate-3-light;
    }

    &:active {
      box-shadow: inset 0 0 10px -2px $black;
    }
  }
}

.disabledColumn {
  composes: colErrors;
  color: $alternate-1-dark;
  font-style: italic;
  background-color: $light-grey-6 !important; //lol
}

.failedColumn {
  composes: colErrors;
  color: $error-text;
  font-style: italic;
}

.transformStatusSelected {
  box-shadow: inset 0 0 10px -2px $dark-grey-1;
}

.statusItem {
  padding: 5px;
  border-bottom: 1px solid $light-grey-4;
  display: relative;
  z-index: 100;
  text-align: left;
  width: 100% !important;
}

.statusText {
  composes: statusItem;
}

.geoBadge, .mapBadge {
  composes: statusItem;
  flex-grow: 0;
  flex-basis: 0;
  padding: 4px 3px 2px 3px;
  margin: 0px;


  span {
    padding: 2px 8px;
    border-radius: 1.1em;
    color: $white;
    font-size: 125%;
  }
}

.geoBadge {
  span {
    background-color: $primary-base;
  }
}
.mapBadge {
  span {
    background-color: $alternate-3-base;
  }
}




.colAttributes {
  display: flex;
  position: relative;
}

.columnProgressBar {
  height: 2px;
  width: 100%;
}
