@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.colErrors {
  font-weight: normal;
  font-size: 10px;
  color: $grey;
  padding: 0;
  width: 250px;

  a {
    color: $grey;
    text-decoration: none;
    display: block;
    width: 100%;

    &:hover {
      background-color: $alternate-3-light;
    }

    &:active {
      box-shadow: inset 0 0 10px -2px $black;
    }
  }
}

.disabledColumn {
  composes: colErrors;
  color: $alternate-1-dark;
  font-style: italic;
  background-color: #f6f6f6 !important; //lol
}

.transformStatusSelected {
  box-shadow: inset 0 0 10px -2px $dark-grey-1;
}

.statusText {
  padding: 5px;
  border-bottom: 1px solid $light-grey-4;
  text-align: left;
  display: relative;
  z-index: 100;
}

.columnProgressBar {
  height: 2px;
  width: 100%;
}
