<div id="analyticsTimeControl">
  <label for="analytics-time-control-input" style="display: none;"><%= t('screens.stats.date_range') %></label>
  <input type="text" id="analytics-time-control-input" class="currentTimeSlice" readonly="readonly"/>
</div>
