<%= modal :class => 'contactUserDialog' do %>
  <h2>Contact User</h2>
  <form class="commonForm" action="/api/users/<%= @user.id %>?method=contact" />
    <div class="line clearfix">
      <label for="contactSubject" class="required">Subject</label>
      <input type="text" id="contactSubject" name="subject"
        class="textPrompt required" title="Enter a subject" />
    </div>
    <div class="line clearfix">
      <label for="contactBody" class="required">Message</label>
      <textarea id="contactBody" name="message"
        class="textPrompt required" title="Enter your message"></textarea>
    </div>
    <span class="required">Required</span>
  </form>
  <div class="mainError flash"></div>
  <ul class="actions">
    <li><a href="#Cancel" class="jqmClose button">Cancel</a></li>
    <li><a href="#Submit" class="submitAction button">Submit</a></li>
  </ul>
<%- end -%>
