<%- contact = user_icon_item -%>

<li>
  <a href="<%= contact.href %>", title="<%= h(contact.displayName) %>">
    <img src="<%= contact.profile_image_path("small") %>" width="24" height="24"
    alt="<%= h(contact.displayName) %>" />
  </a>
</li>
