<div>
  <table>
    <%= render(:partial => "user_link_row.html", :locals => { :user_link_row => @user_link }) %>
  </table>
  
  <ul>
    <%= render(:partial => "user_link_item.html", :locals => { :user_link_item => @user_link }) %>
  </ul>
</div>
