<h1>Need Socrata Analytics?</h1>
<h2>Upgrade to a Socrata Social Data Discovery solution.</h2>

<div class="splashActionBoxContainer clearfix">
  <div class="splashActionBox imageActionBox">
    <p><img src="/images/splash_statistics.png" width="236" height="178" alt="Social Data Discovery Statistics" /></p>
    <p class="imageCaption"><a href="/stats_screenshot" rel="screenPop">View Screenshot</a></p>
  </div>
  <div class="splashActionBox doubleActionBox">
    <h3>Track Civic Engagement</h3>
    <ul>
      <li>Create reports</li>
      <li>Trend the performance of dataset access</li>
      <li>Track the republishing of datasets</li>
    </ul>

    <ul class="splashActionButtonList clearfix">
      <li class="splashActionButton"><a href="/solution">Learn More</a></li>
      <li class="splashActionButton"><a href="/sales">Contact Sales</a></li>
    </ul>
  </div>
</div>
