<% content_for :head do %>
  <title><%= th.site_title %></title>
<% end %>

<%= render(:partial => 'login') %>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <script type="text/javascript">
    $(function ()
    {
        $('#user_session_login').focus();
    });
  </script>
<% end %>
