<% content_for :head do %>
  <%= javascript_include_tag "screens/common-layout",
    :cache => "cache/all" %>

  <title>blist | share your weblists</title>
<% end %>



<div id="mainContainer">
  <div id="mainContent" class="column"></div>
  <div id="sidebar" class="column"></div>
</div>

