@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: inline-block;
  padding: ms(-3) ms(0);
  border-radius: $btn-border-radius;
  font-size: ms(0);
  border: solid 1px transparent;
  transition: color $btn-transition-duration, background-color $btn-transition-duration;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0;

  &.btn-lg {
    font-size: ms(1);
    padding: ms(-2) ms(1);
  }

  &.btn-sm {
    font-size: ms(-1);
    padding: ms(-6) ms(-1);

    .spinner-default {
      width: 1rem;
      height: 1rem;
      border-width: 2px;
    }
  }

  &.btn-xs {
    font-size: ms(-2);
    padding: ms(-8) ms(-1);
  }

  [class*="socrata-icon-"] {
    margin-right: 5px;
    position: relative;
  }
}

/* Makes btn full width. */
.btn-block {
  width: 100%;
}

/* Adds a spinner in place of button text. */
.btn-busy {
  font-size: 0;
  cursor: progress;
  border: solid $btn-busy-border-width transparent;

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;
  }

  span {
    @include animation(spin 0.9s linear infinite);

    border: 3px solid;
    border-radius: 60%;
    display: inline-block;
    width: $btn-busy-width;
    height: $btn-busy-height;
  }
}

.btn-default {
  color: $btn-default-color;
  background-color: $btn-default-background-color;
  border-color: $btn-default-border-color;

  &:hover,
  &:focus {
    color: $btn-default-hover-color;
    background-color: $btn-default-hover-background-color;

    &.btn-inverse {
      border-color: $btn-default-inverse-hover-border-color;
      background-color: $btn-default-inverse-hover-background-color;
      color: $btn-default-inverse-hover-color;
      transition: border-color 0.35s;
    }

    &.btn-dark {
      background-color: $btn-default-dark-hover-background-color;
    }
  }

  &:active,
  &.active {
    border-color: $btn-default-active-border-color;
    background-color: $btn-default-hover-background-color;
    box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;

    &.btn-inverse {
      border-color: $btn-default-inverse-hover-border-color;
      background-color: $btn-default-inverse-hover-background-color;
      color: $btn-default-inverse-hover-color;
      transition: border-color 0.35s;
    }
  }

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;
  }

  &.btn-disabled-light {
    background-color: $light-grey-6;
    color: $light-grey-3;
    border-color: $light-grey-4;
  }

  &.active {
    box-shadow: inset 0 0 10px -2px #888;
  }

  &.btn-inverse {
    color: $btn-default-inverse-color;
    background-color: $btn-default-inverse-background-color;
    border-color: $btn-default-inverse-border-color;
  }

  &.btn-dark {
    color: $btn-default-dark-color;
    background-color: $btn-default-dark-background-color;
    border-color: $btn-default-dark-border-color;
  }

  &.btn-busy span {
    border-color: $btn-default-busy-border-color;
    border-right-color: $btn-default-busy-border-right-color;
  }
}

.btn-simple {
  @extend .btn-default;

  color: $btn-simple-color;
  background-color: $btn-simple-background-color;

  &:hover,
  &:focus {
    background-color: $btn-simple-hover-background-color;
    color: $btn-simple-hover-color;
  }
}

.btn-primary {
  color: $btn-primary-color;
  background-color: $btn-primary-background-color;
  border-color: $btn-primary-border-color;

  &:hover,
  &:focus {
    background-color: $btn-primary-hover-background-color;

    &.btn-inverse {
      color: $btn-primary-inverse-hover-color;
      background-color: $btn-primary-inverse-hover-background-color;
    }
  }

  &:active,
  &.active {
    border-color: $btn-primary-active-border-color;
    background-color: $btn-primary-hover-background-color;
    box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;
  }

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;
  }

  &.btn-inverse {
    color: $btn-primary-inverse-color;
    background-color: $btn-primary-inverse-background-color;

    &.btn-disabled {
      @include btn-disabled;
    }
  }

  &.btn-busy span {
    border-right-color: $btn-primary-busy-border-right-color;
  }

  /* .btn-dark is used in both contexts. */
}

.btn-alternate-1 {
  color: $btn-alternate-1-color;
  background-color: $btn-alternate-1-background-color;
  border-color: $btn-alternate-1-border-color;

  &:hover,
  &:focus {
    background-color: $btn-alternate-1-hover-background-color;
    color: $btn-alternate-1-hover-color;

    &.btn-inverse {
      color: $btn-alternate-1-inverse-hover-color;
      background-color: $btn-alternate-1-inverse-hover-background-color;
    }
  }

  &:active,
  &.active {
    border-color: $btn-alternate-1-active-border-color;
    background-color: $btn-alternate-1-hover-background-color;
    box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;
  }

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;
  }

  &.btn-inverse {
    color: $btn-alternate-1-inverse-color;
    background-color: $btn-alternate-1-inverse-background-color;
  }

  &.btn-busy span {
    border-right-color: $btn-alternate-1-busy-border-right-color;
  }

  /* .btn-dark is used in both contexts. */
}

.btn-alternate-2 {
  color: $btn-alternate-2-color;
  background-color: $btn-alternate-2-background-color;
  border-color: $btn-alternate-2-border-color;

  &:hover,
  &:focus {
    background-color: $btn-alternate-2-hover-background-color;
    color: $btn-alternate-2-hover-color;

    &.btn-inverse {
      color: $btn-alternate-2-inverse-hover-color;
      background-color: $btn-alternate-2-inverse-hover-background-color;
    }
  }

  &:active,
  &.active {
    border-color: $btn-alternate-2-active-border-color;
    background-color: $btn-alternate-2-hover-background-color;
    box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;
  }

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;
  }

  &.btn-inverse {
    color: $btn-alternate-2-inverse-color;
    background-color: $btn-alternate-2-inverse-background-color;
  }

  &.btn-busy span {
    border-right-color: $btn-alternate-2-busy-border-right-color;
  }

  /* .btn-dark is used in both contexts. */
}

.btn-alternate-3 {
  color: $btn-alternate-3-color;
  background-color: $btn-alternate-3-background-color;
  border-color: $btn-alternate-3-border-color;

  &:hover,
  &:focus {
    background-color: $btn-alternate-3-hover-background-color;

    &.btn-inverse {
      color: $btn-alternate-3-inverse-hover-color;
      background-color: $btn-alternate-3-inverse-hover-background-color;
    }
  }

  &:active,
  &.active {
    border-color: $btn-alternate-3-active-border-color;
    background-color: $btn-alternate-3-hover-background-color;
    box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;
  }

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;
  }

  &.btn-inverse {
    color: $btn-alternate-3-inverse-color;
    background-color: $btn-alternate-3-inverse-background-color;
  }

  &.btn-busy span {
    border-right-color: $btn-alternate-3-busy-border-right-color;
  }

  /* .btn-dark is used in both contexts. */
}

.btn-alternate-4 {
  color: $btn-alternate-4-color;
  background-color: $btn-alternate-4-background-color;
  border-color: $btn-alternate-4-border-color;

  &:hover,
  &:focus {
    background-color: $btn-alternate-4-hover-background-color;

    &.btn-inverse {
      color: $btn-alternate-4-inverse-hover-color;
      background-color: $btn-alternate-4-inverse-hover-background-color;
    }
  }

  &:active,
  &.active {
    border-color: $btn-alternate-4-active-border-color;
    background-color: $btn-alternate-4-hover-background-color;
    box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;
  }

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;
  }

  &.btn-inverse {
    color: $btn-alternate-4-inverse-color;
    background-color: $btn-alternate-4-inverse-background-color;
  }

  &.btn-busy span {
    border-color: $btn-alternate-4-busy-border-color;
    border-right-color: $btn-alternate-4-busy-border-right-color;
  }

  /* .btn-dark is used in both contexts. */
}

.btn-warning {
  color: $btn-warning-color;
  background-color: $btn-warning-background-color;
  border-color: $btn-warning-border-color;

  &:hover,
  &:focus {
    background-color: $btn-warning-hover-background-color;

    &.btn-inverse {
      color: $btn-warning-inverse-hover-color;
      background-color: $btn-warning-inverse-hover-background-color;
    }
  }

  &:active,
  &.active {
    border-color: $btn-warning-active-border-color;
    background-color: $btn-warning-hover-background-color;
    box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;
  }

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;

    &.btn-inverse {
      background-color: inherit;
    }
  }

  &.btn-inverse {
    color: $btn-warning-inverse-color;
    background-color: $btn-warning-inverse-background-color;
  }
}

.btn-success {
  color: $btn-success-color;
  background-color: $btn-success-background-color;
  border-color: $btn-success-border-color;

  &:hover,
  &:focus {
    background-color: $btn-success-hover-background-color;

    &.btn-inverse {
      color: $btn-success-inverse-hover-color;
      background-color: $btn-success-inverse-hover-background-color;
    }
  }

  &:active,
  &.active {
    border-color: $btn-success-active-border-color;
    background-color: $btn-success-hover-background-color;
    box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;
  }

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;

    &.btn-inverse {
      background-color: inherit;
    }
  }

  &.btn-inverse {
    color: $btn-success-inverse-color;
    background-color: $btn-success-inverse-background-color;
  }
}

.btn-error {
  color: $btn-error-color;
  background-color: $btn-error-background-color;
  border-color: $btn-error-border-color;

  &:hover,
  &:focus {
    background-color: $btn-error-hover-background-color;

    &.btn-inverse {
      color: $btn-error-inverse-hover-color;
      background-color: $btn-error-inverse-hover-background-color;
    }
  }

  &:active,
  &.active {
    border-color: $btn-error-active-border-color;
    background-color: $btn-error-hover-background-color;
    box-shadow: inset 0 0 10px -2px $btn-active-box-shadow-color;
  }

  &:disabled,
  &.btn-disabled {
    @include btn-disabled;

    &.btn-inverse {
      background-color: inherit;
    }
  }

  &.btn-inverse {
    color: $btn-error-inverse-color;
    background-color: $btn-error-inverse-background-color;
  }
}

.btn-transparent,
.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus,
.btn-transparent:disabled {
  border-color: transparent;
  background-color: transparent;

  &.btn-busy {
    cursor: progress;

    span {
      border-color: $btn-transparent-busy-border-color;
      border-right-color: $btn-transparent-busy-border-right-color;
    }
  }
}
