.dataset-download-section {
  &.blob-download {
    padding: 11px;

    h2 {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      padding: 11px 0;
    }
  }

  .edit-prompt {
    display: flex;
    margin-bottom: 22px;
    justify-content: space-between;

    .edit-prompt-message {
      flex: 0 1 auto;
      align-self: center;
    }

    .edit-prompt-button {
      flex: 0 0 auto;
      margin-left: 10px;
      align-self: flex-start;
    }
  }

  .section-content {
    padding: 15px;
    flex-wrap: wrap;

    .download-object {
      flex: 1 0 100%;
      margin-bottom: 22px;

      &:last-child {
        margin-bottom: 0;
      }

      .download-title {
        font-weight: 600;
        margin-bottom: 11px;
      }

      .download-description {
        margin: 0 0 11px 0;
      }

      .download-buttons {
        .btn.download {
          &.all-caps {
            font-weight: lighter;
            text-transform: uppercase;
          }

          .icon-download {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
