// Warning! There is also a _socrata_flyout.scss. There isn't a strong consensus on which one to use.
// Maybe you want to be the champion of unity?
.flyout {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 8px -2px #666;
  border: solid 1px #ddd;
  border-radius: 1px;
  max-width: 250px;

  &.flyout-hidden {
    display: none;
  }

  &::before {
    border-color: transparent;
    border-width: 12px;
    border-style: solid;
    margin-top: -5px;
    margin-left: -3px;
    content: "";
    top: -7px;
    display: block;
    position: absolute;
    transform: rotateZ(-135deg);
  }

  &::after {
    border-color: transparent;
    border-width: 10px;
    border-style: solid;
    margin-top: -5px;
    margin-left: -3px;
    content: "";
    top: -5px;
    display: block;
    position: absolute;
    transform: rotateZ(-135deg);
  }

  &.flyout-right {
    border-top-left-radius: 0;

    &::before {
      border-bottom-color: #ddd;
      margin-left: -3px;
      left: -10px;
    }

    &::after {
      border-bottom-color: white;
      margin-left: -3px;
      left: -7px;
    }
  }

  &.flyout-left {
    border-top-right-radius: 0;

    &::before {
      border-right-color: #ddd;
      margin-right: -3px;
      right: -10px;
    }

    &::after {
      border-right-color: white;
      margin-right: -3px;
      right: -7px;
    }
  }
}

.flyout-content {
  padding: 1rem;
  overflow-y: auto;
  max-height: 150px;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

