.dropdown {
  display: inline-block;
  position: relative;

  > span[class*="socrata-icon-"] {
    padding-left: ms(2);
  }
}

.dropdown .dropdown-options {
  position: absolute;
  left: 0;
  right: inherit;
  min-width: 8em;
  background: $white;
  border-radius: 1px;
  list-style: none;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.23) 0 0 15px;
  opacity: 0;
  pointer-events: none;
}

.dropdown.dropdown-orientation-top .dropdown-options {
  bottom: 100%;
}

.dropdown.dropdown-orientation-bottom .dropdown-options {
  top: 100%;
}

.dropdown .dropdown-options li a {
  @include ellipsis;

  display: block;
  text-decoration: none;
  text-align: left;
  color: $dark-grey-1;
  padding: ms(-5) ms(0);

  > span[class*="socrata-icon-"] {
    padding-right: ms(-2);
  }
}

.dropdown .dropdown-options li:hover a {
  background: $light-grey-5;
}

.dropdown.active .dropdown-options {
  opacity: 1;
  pointer-events: auto;
  margin: 1px 0;
}

/* Forms */
@mixin form {
  margin-bottom: ms(0);

  *::placeholder {
    color: $light-grey-3;
    opacity: 1;
  }

  .text-input {
    border: solid 1px $light-grey-3;
    border-radius: 1px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
    font-size: ms(0);
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    padding: ms(-6);
    margin-bottom: ms(-1);
    line-height: normal;

    &:focus {
      outline: auto 5px -webkit-focus-ring-color;
    }

    &.text-input-lg {
      font-size: ms(1);
      padding: ms(-2) ms(1);
    }

    &.text-input-block {
      display: block;
      width: 100%;
    }

    &.text-input-sm {
      font-size: ms(-1);
      padding: ms(-6) ms(-1);
    }

    &.text-input-xs {
      font-size: ms(-2);
      padding: ms(-8) ms(-1);
    }

    &.text-input-success {
      border-color: $success;
      outline-color: $success;
      box-shadow: inset 0 0 10px lighten($success, 45%);

      &::placeholder {
        opacity: 0;
      }
    }

    &.text-input-warning {
      border-color: $warning;
      outline-color: $warning;
      box-shadow: inset 0 0 10px lighten($warning, 45%);

      &::placeholder {
        opacity: 0;
      }
    }

    &.text-input-error {
      border-color: $error;
      outline-color: $error;
      background-color: lighten($error, 38%);
      box-shadow: inset 0 0 10px lighten($error, 35%);

      &::placeholder {
        opacity: 0;
      }
    }
  }

  .block-label {
    display: block;
    margin-bottom: 0.2em;
  }

  .inline-label {
    display: inline;
    margin-right: 0.5em;
  }

  .text-area {
    min-width: 350px;
    margin-bottom: ms(-1);
  }

  .checkbox.disabled {
    opacity: .5;
    cursor: not-allowed !important;
  }
  .checkbox {
    input[type=checkbox] {
      display: block;
      opacity: 0;
    }

    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      user-select: none;
    }

    .fake-checkbox {
      border: solid 1px #e2e2e2;
      border-radius: 1px;
      box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
      margin-right: ms(-5);
      display: inline-block;
      width: 19px;
      height: 19px;
      cursor: pointer;
      vertical-align: text-bottom;
      line-height: 1;
      padding: 2px;
      overflow: hidden;
    }

    input[type=checkbox] + label .fake-checkbox span {
      display: none;
    }

    input[type=checkbox]:checked + label .fake-checkbox span {
      display: inline-block;
      vertical-align: text-top;
      padding-left: 1px;
    }

    input[type=checkbox]:focus + label > .fake-checkbox {
      outline: auto;
    }
  }

  .radiobutton {
    input[type=radio] {
      display: block;
      opacity: 0;
    }

    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
    }

    input[type=radio] + label .fake-radiobutton {
      border: solid 1px #e2e2e2;
      border-radius: 10px;
      box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
      margin-right: ms(-5);
      display: inline-block;
      width: 19px;
      height: 19px;
      cursor: pointer;
      vertical-align: text-bottom;
    }

    input[type=radio]:checked + label .fake-radiobutton {
      display: inline-block;
      width: 19px;
      height: 19px;
      background-color: $dark-grey-2;
      border: solid 5px $light-grey-3;
      border-radius: 10px;
      box-shadow: inset 1px 1px 3px rgba(0, 0, 17, 0.1);
      vertical-align: text-bottom;
    }

    input[type=radio]:focus + label > span.fake-radiobutton {
      outline: auto;
    }
  }
}
