.dropdown {
  display: inline-block;
  position: relative;

  > span[class*="socrata-icon-"] {
    padding-left: ms(2);
  }
}

.dropdown .dropdown-options {
  position: absolute;
  left: 0;
  right: inherit;
  min-width: 8em;
  background: $white;
  border-radius: 1px;
  list-style: none;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.23) 0 0 15px;
  opacity: 0;
  pointer-events: none;
}

.dropdown.dropdown-orientation-top .dropdown-options {
  bottom: 100%;
}

.dropdown.dropdown-orientation-bottom .dropdown-options {
  top: 100%;
}

.dropdown .dropdown-options li a {
  @include ellipsis;

  display: block;
  text-decoration: none;
  text-align: left;
  color: $dark-grey-1;
  padding: ms(-5) ms(0);

  > span[class*="socrata-icon-"] {
    padding-right: ms(-2);
  }
}

.dropdown .dropdown-options li:hover a {
  background: $light-grey-5;
}

.dropdown.active .dropdown-options {
  opacity: 1;
  pointer-events: auto;
  margin: 1px 0;
}
