@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.errorCount {
  color: $error-base;
}

.typesOfErrors {
  font-weight: 900;
}

.helpVis1a {
  max-width: 100%;
}
.helpVis1b {
  max-width: 100%;
}
.helpVis2 {
  max-width: 100%;
}
.helpVis3 {
  max-width: 100%;
}

.caption {
  composes: small from global;
}

.nextButton {
  composes: btn from global;
  composes: btn-primary from global;
}
.previousButton {
  composes: btn from global;
  composes: btn-default from global;
}

.dotsWrap {
  position: absolute;
  text-align: center;
  bottom: 5px;
  left: 0px;
  right: 0px;
  z-index: 1001;
}
.dots {
  align-self: flex-end;
}
.dot {
  display: inline-block;
  font-size: 64px;
  line-height: 1em;
  color: $light-grey-2;
}
.dotSelected {
  color: $primary-base;
}
