@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

.typeIconDisabled {
  color: $grey !important;
}
.date {
  color: #b26b00;
}
.text {
  color: #204490;
}
.number {
  color: #0098c8;
}
.boolean {
  color: #894baa;
}
.fixedTimestamp {
  color: #b26b00;
}
.floatingTimestamp {
  color: #b26b00;
}
.location {
  color: $primary-base;
}
.point {
  color: $primary-base;
}
