@import 'measure-shared';

$title-font-size: 16px;

.measure-title {
  width: 100%;
  height: $title-height;
  line-height: $title-height;

  padding: 0 10px;
  border-bottom: 1px solid $light-grey-4;

  font-size: $title-font-size;
  font-weight: 600;

  // Single line + ellipsis.
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
