@import '../variables';

.grid {
  display: flex;

  > .column {
    &:first-child {
      border-left: 1px solid $column-border-color;
    }
  }
}

.column {
  background-color: $cell-background-color;
  border-left: 1px solid $cell-border-color;

  > .cell {
    border-bottom: 1px solid $cell-border-color;
  }
}

.header {
  background-color: $grid-header-color;
}
