// extreme specificity here to override the extreme specificity in the styleguide
.tristate-checkbox {
  :global(.checkbox) {
    input {
      &[type='checkbox'] {
        &:checked {
          & + label {
            :global(.fake-checkbox) {
              > :global(.socrata-icon) {
                padding-left: 0;
              }
            }
          }
        }

        &:disabled {
          & + label {
            cursor: not-allowed;

            :global(.fake-checkbox) {
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
