<button class="btn btn-default" data-flyout="generic-flyout">Hover for a Flyout</button>
<%= partial "legacy/skeletons/flyout" %>
<%= partial "code_sample", locals: { component: "legacy/skeletons/flyout" } %>
