<div class="button-wrapper">
  <button class="btn btn-default btn-block" data-modal="generic-modal">Open Modal</button>
</div>

<%= partial "code_sample", locals: { component: "legacy/skeletons/modal" } %>

<div class="button-wrapper">
  <button class="btn btn-default btn-block" data-modal="fullscreen-modal">Open Full Screen Modal</button>
</div>

<%= partial "code_sample", locals: { component: "legacy/skeletons/modal_full" } %>
