<div id="edit-bar-container"></div>

<script type="text/babel" data-presets="es2015,react">
  $(() => {
    const props = {
      name: 'Wombats in Spacesuits, Floating Gently Near the Moon',
      menuLabel: 'Menu',
      onClickMenu: () => console.log('Clicked menu'),
      onClickName: () => console.log('Clicked name')
    };

    const editBar = (
      <styleguide.EditBar {...props}>
        <button className="btn btn-warning">Look, a Child Element!</button>
      </styleguide.EditBar>
    );

    ReactDOM.render(
      editBar,
      document.getElementById('edit-bar-container')
    );

    // This is normally position fixed, we're modifying it here to render it by its example code
    const element = document.querySelector('.edit-bar');
    element.style.position = 'relative';
  });
</script>
