<div id="slider-container"></div>

<script type="text/babel" data-presets="es2015,react">
  $(() => {
    let value = 1;

    const props = {
      rangeMin: 1,
      rangeMax: 3.2,
      step: 0.1,
      value,
      onChange: (newValue) => {
        props.value = newValue;
        render();
      }
    };

    function render() {
      ReactDOM.render(
        <styleguide.Slider {...props} />,
        document.getElementById('slider-container')
      );
    }

    render();
  });
</script>
