$tick-font-size: 0.75rem;

.histogram {
  svg {
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
  }
}

.histogram-axis {
  shape-rendering: crispEdges;
}

.histogram-axis-x, .histogram-axis-y {
  path {
    fill: none;
    stroke: none;
  }
  .tick {
    line {
      fill: none;
    }
    text {
      cursor: default;
    }
  }
  .tick.is-zero {
    text {
      font-weight: bold;
    }
  }
}

.histogram-axis-x {
  .tick {
    line {
      stroke-width: 3px;
    }
  }
}

.histogram-axis-y {
  .tick {
    line {
      stroke-width: 1px;
    }
    text {
      font-size: $tick-font-size;
    }
  }
}

.histogram-trace {
  fill: none;
  stroke-width: 2px;
}

.histogram-hover-shield {
  fill: transparent;
}

.filterable .histogram-hover-shield {
  cursor: pointer;
}

.histogram-brush-handle {
  stroke-linejoin: round;
}

.histogram-brush-line {
  stroke-width: 1px;
  stroke-dasharray: 7, 3;
}

.filterable .histogram-brush-clear {
  cursor: pointer;
}

.histogram-brush-clear-text, .histogram-brush-clear-x {
  font-weight: bold;
}

.histogram-filter-icon, .histogram-brush-clear-x {
  font-family: "socrata-icons", sans-serif;
}
