<div class="styleguide-alert info previewModeAlert">
  <%= t('shared.site_chrome.preview.warning') %>
  <%= link_to(t('shared.site_chrome.preview.disable'), '#', 'class' => 'disablePreviewMode') %>
</div>
