
<div class="modalTR"><div class="modalTL">
  <div class="modalBR"><div class="modalBL">
    <div class="modalOuter"><div class="modalInner">
      <%= yield :layout %>
    </div></div>
  </div></div>
</div></div>