
<div class="dialogWrapper modalDialog <%= yield :wrapper_class %>">
  <div class="dialogTL"><div class="dialogBR"><div class="dialogBL"><div class="dialogOuter">
    <div class="dialogBox">
      <div class='header'>
        <%= yield :headline %>
        <a href='#close_dialog' class='close jqmClose' title='Close'>Close</a>
      </div>
      
      <%= yield :layout %>
      
    </div>
  </div></div></div></div>
</div>
