<h1 class="loginHeader modalHeader">
  Sign In
  <%- unless CurrentDomain.short_name == 'socrata' -%>
    to <%= CurrentDomain.strings.company %>
  <%- end -%>
</h1>
<h1 class="signupHeader modalHeader">We're glad you want to join <%= CurrentDomain.strings.company %>!</h1>
