<tr id="openid_row_<%= openid_identifier_row.id %>">
  <td class="edit_handle"><%= link_to 'delete', openid_identifier_row.delete_path %></td>
  <td class="edit_identifier">
    <p class="cellInner">
      <a href="<%= openid_identifier_row.identifier %>"><%= openid_identifier_row.identifier %></a>
    </p>
  </td>
</tr>
