<% dialog_content('signup', "signupBox") do %>
  <div class='header'>
    <h1><%= th.company %></h1>
  </div>

  <div class='mainContent'>
    <% if @account.openIdIdentifierId %>
      <div class='title clearfix openid'>
        <h2>Complete Your Signup</h2>
        <p><strong>You still need to create a Socrata account.</strong> If you
        want to link your OpenID with an existing account, login and add it on
        your <%= link_to 'My Account', account_path %> page.</p>
      </div>
      <% else %>
      <div class='title clearfix'>
        <h2><strong>Sign up!</strong> We're making data social.</h2>
        <p>Before we get started, we need to know a little about you.</p>
      </div>
    <% end %>

    <%= render :partial => "accounts/signup_form" %>
  </div>
<% end %>
