<% form_for :signup, @signup, :url => account_path, :html => {:id => 'signupForm', :multipart => true} do |f| %>
 <%= render :partial => "accounts/signup_form_data", :locals => { :f => f, :is_modal => true } %>
<% end %>

<div class="contentFooter">
  <p>By signing up, you accept the <a href="/privacy">Privacy Policy</a> and <a href="/terms-of-service">Terms of Service</a> | <span class="required">Required field</span></p>
</div>