<% content_for :head do %>
  <title><%= t(:page_title) %></title>
<% end %>

<%= render(:partial => "signup") %>

<% content_for :js_footer do %>
  <%= render(:partial => "shared/common_js") %>
  <% bundle :name => "signup_screen" do %>
    <%= javascript_include_tag "screens/signup-screen", :cache => "cache/accounts_new_all" %>
  <% end %>
<% end %>
