@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.container {
  display: inline-block;
}

.btnContainer {
  display: flex;
  margin-top: 10px;
}

.btnContainer > * {
  flex: 1 1 50%;
  text-align: center;
  padding: 5px 15px;
}

.enter {
    max-height: 0;
    overflow: hidden;
}

.enterActive {
  max-height: 350px;
  transition: max-height 500ms ease-in;
}

.leave {
  max-height: 350px;
  overflow: hidden;
}

.leaveActive {
  max-height: 0;
  transition: max-height 500ms ease-out;
}

.detailsToggle {
  vertical-align: top;
  font-size: 11px;
}

.button {
  margin-right: 10px;
  composes: btn from global;
  composes: btn-default from global;
  composes: btn-xs from global;
}

.contactBtn {
  composes: btn from global;
  composes: btn-primary from global;
  composes: btn-xs from global;
  background-color: $primary-base;
}
