@import 'node_modules/bourbon/app/assets/stylesheets/functions/shade';
@import 'node_modules/bourbon/app/assets/stylesheets/functions/tint';
@import 'app/styles/styleguide-colors';

.icon {
  color: $dark-grey-1;
  margin: 0 0.4em;
}

.btn {
  composes: btn from global;
  margin: 0px 0px 0px 1em;
  min-width: 120px;
  margin-left: 12px;
}

.processBtn {
  composes: btn;
  composes: btn-primary from global;
}

.outputSchemaContainer {
  :global {
    section.modal-content {
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    .modal-footer-actions {
      display: flex;
      justify-content: space-between;
    }
  }

  .spinner-default {
    border-width: 2px;
    height: 13px;
    width: 13px;
    font-size: 9px;
    margin: 0 10px -2px 2px;
    border-right-color: $light-grey-3;
  }

  .column-progress-bar-spacer {
    height: 2px;
  }
}

.dataPreview {
  padding: 0.5em 8px 0 8px;
  display: block;

  .titleWrapper {
    h2 {
      margin-right: 0.3em;
      float: left;
    }

    span {
      margin-top: 8px;
      float: left;
    }
  }

  .datasetAttribute {
    display: inline-block;
    text-align: right;
    margin: 0 0 0 1em;
    float: right;

    div {
      float: none;
    }

    p {
      margin: 0px 0px;
      line-height: 120%;
      font-size: 13px;
    }
    .attribute {
      color: $primary-dark;
      font-weight: 600;
      font-size: 15px;
    }
  }
}

.tableWrap {
  flex-grow: 1;
  position: relative;
  overflow-x: scroll;
}

.previewHeader {
  composes: h3 from global;
}

.pointerWrap {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
