@import 'common/styleguide/variables/color_helpers';
@import 'common/styleguide/variables/colors';

$sidebar-width: 250px;

.icon {
  color: $dark-grey-1;
  margin: 0 0.4em;
}

.btn {
  composes: btn from global;
  margin: 0px 0px 0px 1em;
  min-width: 120px;
  margin-left: 12px;
}

.processBtn {
  composes: btn;
  composes: btn-primary from global;
}

.outputSchemaContainer {
  section.modalContent {
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-left: $sidebar-width;
    z-index: 1002;
  }

  @media (max-width: 750px) {
    section.modalContent {
      padding-left: 0px;
    }
  }

  .modalFooter {
    :global {
      .modal-footer-actions {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .modalfooterAlt {
    :global {
      .modal-footer-actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  :global {
    .spinner-default {
      border-width: 2px;
      height: 13px;
      width: 13px;
      font-size: 9px;
      margin: 0 10px -2px 2px;
      border-right-color: $light-grey-3;
    }

    .column-progress-bar-spacer {
      height: 2px;
    }
  }
}

.dataPreview {
  padding: 0.5em 8px 0 8px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: calc(100% - #{$sidebar-width});

  .titleWrapper {
    h2 {
      margin-right: 0.3em;
      padding: 2px 0px;
      display: inline-block;
    }

    span {
      margin-top: 8px;
    }
  }

  .datasetAttribute {
    display: inline-block;
    text-align: right;
    margin: 0 0 0 1em;

    p {
      margin: 0px 0px;
      line-height: 120%;
      font-size: 13px;
    }
    .attribute {
      color: $primary-dark;
      font-weight: 600;
      font-size: 15px;
    }
  }
}

.tableWrap {
  flex-grow: 1;
  position: relative;
}

.previewHeader {
  composes: h3 from global;
}

.pointerWrap {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.contentWrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.optionsWrap {
  padding-top: 8px;
}

:global {
  .modal-footer {
    z-index: 1002;
  }
}

.addColPane {
  padding: 10px;
  white-space: nowrap;
}
