<%= partial "code_sample", locals: { component: "components/skeletons/picklist" } %>
<h5>With a scrolling window</h5>
<p>While no direct property configuration exists to make the picklist conform to a desired height, the effect can be achieved through a container element and a few styling adjustments.</p>
<%= partial "code_sample", locals: { component: "components/skeletons/picklist_with_window" } %>
